﻿  <div class="bs-widget-container-1 bs-widget-anzeigeDigital-blinker" 
    data-bind="if: hasAuthorization">

    <div class="state" data-bind="attr: {style:  'background-color:' + color() +';' }"></div>
    <div class="bsLabel" data-bind="text: label"></div>
</div>