﻿<!-- Anlageschalter -->
<div>
    <div class="wf wf-power-on btn bs-btn " data-bind="css: btnColor, click: openDialog"></div>
    <div id="handanzeige" class="wf wf-hand bs_handfarbe fa-2x" data-bind="style: { left: links, top: oben, position: 'absolute', visibility: handbetrieb }"></div>
</div>
