﻿<div>
    <div class="bs-sensor-container">
        <div class="bs-sensor">
            <div class="bs-sensor-wrapper">
                <div class="bs-sensor-stiel" data-bind="style: { height: stiellaenge + 'px', transform: 'rotate(' + winkel + 'deg)', '-webkit-transform': 'rotate(' + winkel + 'deg)', '-moz-transform': 'rotate(' + winkel + 'deg)' }"></div>
            </div>
            <div class="bs-sensor-kopf" data-bind="text: sensortyp, css: sensorzustand"></div>
        </div>
    </div>
    <!--<div class="bs-aktuellerwert" data-bind="text: aktuellerwert, style: { left: anzeigefeldLinks + 'px', top: anzeigefeldOben + 'px' }">???</div>-->
    <div data-bind="bsAusgabefeld:{signalName: modulname, typ: 'istwert', einheit: unit }, style: { left: anzeigefeldLinks + 'px', top: anzeigefeldOben + 'px', position: 'absolute' } ">???</div>
</div>