﻿<div data-bind="css: symbol, attr: { 'class': status } "></div>
<div></div>
    <div data-bind="bsAusgabefeld:{signalName: signalname, typ: 'istwert', einheit: unit }, style: { left: anzeigefeldLinks + 'px', top: anzeigefeldOben + 'px', position: 'absolute' }">???</div>
