﻿<style>
    .modal {
        z-index: 1055;
    }
</style>

<div class="modal" style="width: 100%">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-primary">
                <div class="modal-title">
                    <div class="col-lg-12"><span class="bs_widget_beschriftungen bs-dialog-title" data-bind="text: widget.dialogtitle"></span><button class="btn btn-xs btn-default normal btn_close pull-right" data-dismiss="modal" aria-hidden="true" data-bind="click: close">X</button></div>
                </div>
            </div>
            <div class="modal-body">
                <!-- Zustand und Handbetrieb -->
                <div class="row">
                    <div class="modal-content-title">
                        <span class="col-sm-4 bs_widget_beschriftungen">Zustand:</span><span class="col-sm-7" data-bind="text: zustand, style: { color: textFarbe }"></span>
                    </div>
                </div>

                <!-- Betriebswahl -->
                <div class="row" style="margin-top: 16px;">
                    <div style="margin-top: 2px;" class="col-lg-4 bs_widget_beschriftungen">Anlage Betriebswahl:</div>
                    <div class="col-lg-8 pull-right">
                        <wf-button params="signalName: widget.signalNameBetriebswahl, writeValue: 2, buttonText: 'EIN Stufe 1', cssClass: 'btn-default btn-xs btn-success bs-anlagenschalter-lfc', isTipModeEnabled: false"></wf-button>
                        <wf-button params="signalName: widget.signalNameBetriebswahl, writeValue: 3, buttonText: 'EIN Stufe 2', cssClass: 'btn-default btn-xs btn-success bs-anlagenschalter-lfc', isTipModeEnabled: false"></wf-button>
                        <wf-button params="signalName: widget.signalNameBetriebswahl, writeValue: 0, buttonText: 'AUS', cssClass: 'btn-default btn-xs btn-danger bs-anlagenschalter-lfc', isTipModeEnabled: false"></wf-button>
                        <wf-button params="signalName: widget.signalNameBetriebswahl, writeValue: 1, buttonText: 'AUTOMATIK', cssClass: 'btn-default btn-xs btn-success bs-anlagenschalter-lfc', isTipModeEnabled: false"></wf-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>