
<style>
		.modal {
				z-index: 1055;
		}
</style>
<div class="modal" style="width: 100%">
		<div class="modal-dialog">
				<div class="modal-content">
						<div class="modal-header modal-primary">
								<div class="modal-title">
										<div class="col-lg-12"><span class="bs_widget_beschriftungen bs-dialog-title" data-bind="text: widget.dialogTitle"></span><button class="btn btn-xs btn-default normal btn_close pull-right" data-dismiss="modal" aria-hidden="true" data-bind="click: close">X</button></div>
								</div>
						</div>
						<div class="modal-body">

								<div data-bind="foreach: bedarfsmeldungenObj">
										<div class="row">
												<div class="col-sm-1 fa fa-circle icon-anforderung" data-bind="css: $data.zustands_farbe"></div>
												<div class="bs_widget_beschriftungen col-sm-11" data-bind="text: $data.text"> </div>
										</div>
										<hr>
								</div>
						</div>
				</div>
		</div>
</div>
