﻿<!--Beschattungs Dialogfenster-->

<style>
    .modal {
        z-index: 1055;
    }
</style>
<!-- , authorisierung:  $parent.widget.authorisierung -->
<div class="modal" style="width: 100%">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-primary">
                <div class="modal-title">
                    <div class="col-lg-12"><span class="bs_widget_beschriftungen bs-dialog-title" data-bind="text: widget.dialogtitle"></span><button class="btn btn-xs btn-default normal btn_close pull-right" data-dismiss="modal" aria-hidden="true" data-bind="click: close">X</button></div>
                </div>
            </div>
            <div class="modal-body">
                <!-- Zustand handling -->
                <div class="row">
                    <div class="modal-content-title">
                        <span class="col-sm-2 bs_widget_beschriftungen">Zustand:</span><span class="col-sm-9" data-bind="text: zustand, style: { color: textFarbe }"></span><span class="wf wf-hand bs_handfarbe fa-2x col-sm-1" data-bind="style: { visibility: handbetrieb }"></span>
                    </div>
                </div>
                <!-- Bedienung -->
                <div class="row" style="margin-top: 8px;">
                    <div class="bs-widget-beschattung-lock" data-bind="css: sperre"></div>
                </div>
                <!-- Bedienung -->
                <div class="row" style="margin-top: 8px;">
                    <div class="col-lg-6">
                        <wf-button params="signalName: widget.signalNameBetriebswahl, writeValue: 8, buttonText: '', tooltipText: 'AUF', isTipModeEnabled: 'TRUE', maxValue: 1000, iconClass:'fa fa-angle-double-up bs-widget-beschattung-icon', cssClass: 'btn btn-default btn-block bs-widget-beschattung-button'" title="AUF"></wf-button>
                    </div>
                    <div class="col-lg-6">
                        <wf-button params="signalName: widget.signalNameBetriebswahl, writeValue: 32, buttonText: '', tooltipText: 'AB', isTipModeEnabled: 'TRUE', maxValue: 1000, iconClass:'fa fa-angle-double-down bs-widget-beschattung-icon', cssClass: 'btn btn-default btn-block bs-widget-beschattung-button'" title="AB"></wf-button>
                    </div>
                    <div class="col-lg-6">
                        <wf-button params="signalName: widget.signalNameBetriebswahl, writeValue: 128, buttonText: '', tooltipText: 'AUF Step', isTipModeEnabled: 'TRUE', maxValue: 1000, iconClass:'fa fa-chevron-up bs-widget-beschattung-icon', cssClass: 'relative btn btn-info btn-default normal btn-block bs-widget-beschattung-button'" title="SCHRITT AUF"></wf-button>
                    </div>
                    <div class="col-lg-6">
                        <wf-button params="signalName: widget.signalNameBetriebswahl, writeValue: 256, buttonText: '', tooltipText: 'AB Step', isTipModeEnabled: 'TRUE', maxValue: 1000, iconClass:'fa fa-chevron-down bs-widget-beschattung-icon', cssClass: 'relative btn btn-info btn-default normal btn-block bs-widget-beschattung-button'" title="SCHRITT AB"></wf-button>
                    </div>
                    <div class="col-lg-6">
                        <wf-button params="signalName: widget.signalNameBetriebswahl, writeValue: 64, buttonText: '', tooltipText: 'Schliessen', isTipModeEnabled: 'TRUE', maxValue: 1000, iconClass:'wf-lg wf-arrow-down-over bs-widget-beschattung-icon', cssClass: 'btn btn-primary btn-block bs-widget-beschattung-button'" title="SCHLIESSEN"></wf-button>
                    </div>
                    <div class="col-lg-6">
                        <wf-button params="signalName: widget.signalNameBetriebswahl, writeValue: 512, buttonText: '', tooltipText: 'Stopp', isTipModeEnabled: 'TRUE', maxValue: 1000, iconClass:'fa fa-hand-stop-o bs-widget-beschattung-icon', cssClass: 'btn btn-danger btn-block bs-widget-beschattung-button'" title="STOP"></wf-button>
                    </div>

                </div>
                <!-- Alarm handling -->
                <!--<div class="row" style="margin-top: 8px;">
                    <div class="col-lg-1 bs_widget_beschriftungen">Alarme:</div>-->
                <!--<textarea class="col-lg-10 col-lg-push-1 bs_dialog_alarmmeldungen" data-bind="text: alarms"></textarea>-->
                <!--<div class="col-lg-10">
                        <ul data-bind="foreach: alarms">
                            <li class="bs_alarmliste"><div data-bind="text: alarm"></div></li>
                        </ul>
                    </div>
                </div>
                <div class="row" style="margin-top: 4px;">
                    <div class="col-lg-1">
                        <button type="button" data-bind="css: quitBtn, click: function() { widget.setAlarmQuit(31); }">Quittieren</button>
                    </div>
                </div>-->
                <!-- Trend -->
                <!--<div class="row" style="margin-top: 16px;">
                    <wf-chart-1 params="{
                                autoUpdate: true,
                                updateRate: 10000,
                                title: 'History',
                                chartType: 'line',
                                zoomEnabled: false,
                                subChartVisible: false,
                                startOffset: 'minutes',
                                startOffsetIntervall: 30,
                                y1AxisColor: '#337AB7',
                                pointsVisible: true,
                                headerVisibility: true,
                                initialConfiguration: widget.trendConfig,
                                y2AxisColor: '#f0ad4e'
                                }" class="col-lg-12">
                    </wf-chart-1>
                </div>-->
                <!-- Bereich der nur mit entsprechenden Berechtigungen zugänglich sein soll -->
                <!-- ko if: hasAuthorization -->
                <!--<div class="row">
                    <div class="col-lg-2">
                        <input type="button" class="btn btn-xs btn-primary" value="Erweitert" data-bind="click: bedienung" />
                    </div>
                </div>-->
                <!-- /ko -->
                <!--<div data-bind="style: { display: erweitert }">-->
                <!-- Betriebswahl -->
                <!--<div class="row" style="margin-top: 16px;">
                    <div class="col-lg-4 bs_widget_beschriftungen">Sensor Betriebswahl:</div>
                    <div class="col-lg-8 pull-right">
                        <select class="bs_select_betrwahl pull-right" data-bind="options: options, optionsText: 'name', optionsValue: 'wert', value: selectedOptionValue, event: { change: changed }"></select>
                    </div>
                </div>-->
                <!-- Sollwerte -->
                <!--<div class="row" style="margin-top: 16px;">
                    <div class="col-lg-4 bs_widget_beschriftungen">Festwert: [%]</div><div class="col-lg-2" data-bind="bsSollwertEingabe:{signalName: widget.festwert}"></div>
                    <div class="col-lg-4 bs_widget_beschriftungen">Totzone: [%]</div><div class="col-lg-2 pull-right" data-bind="bsSollwertEingabe:{signalName: widget.totzone}"></div>
                </div>
                <div class="row" style="margin-top: 4px;">
                    <div class="col-lg-4 bs_widget_beschriftungen">Unterer Grenzwert: [%]</div><div class="col-lg-2" data-bind="bsSollwertEingabe:{signalName: widget.untergrenze}"></div>
                    <div class="col-lg-4 bs_widget_beschriftungen">Oberer Grenzwert: [%]</div><div class="col-lg-2 pull-right"><div data-bind="bsSollwertEingabe:{signalName: widget.obergrenze}"></div></div>
                </div>-->
                <!-- Alarmunterdrückung -->
                <!--<div class="row" style="margin-top: 16px;">
                        <div class="col-lg-12">
                            <div><label class="bs_widget_beschriftungen">Alarmunterdrückung:<input class="bs_alarmunterdrueckung" type="checkbox" value="alarmunterdrueckung" data-bind="checked: alarmeunterdr, event: { change: changedAlarmeunterdr }" /></label></div>
                        </div>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
</div>