<style>
	.modal {
		/*z-index: 1055;*/
	}
</style>

<div class="modal" style="width: 100%">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header modal-primary">
				<div class="modal-title">
					<div class="col-sm-12"><span class="bs_widget_beschriftungen bs-dialog-title" data-bind="text: widget.dialogTitle"></span><button class="btn btn-xs btn-default normal btn_close pull-right" data-dismiss="modal" aria-hidden="true" data-bind="click: close">X</button></div>
				</div>
			</div>
			<div class="modal-body">

				<!-- Zustand handling -->
				<div class="row">
					<div class="col-sm-6 bs_widget_beschriftungen"><span>Zustand: </span><span data-bind="text: widget.getObjectZustandName()"></span></div>
					<div class="col-sm-6">
						<span class="wf wf-hand bs_handfarbe fa-2x pull-right" data-bind="style: { visibility: widget.handbetrieb }"></span>
					</div>
				</div>
				<!-- Sollwert handling -->
				<div class="row">
					<div class="col-sm-8 bs_widget_beschriftungen"><span data-bind="text: widget.sollwertText"></span></div>
					<div class="col-sm-4">
						<div class="pull-right" data-bind="bsAusgabefeld: { signalName: widget.plcAktuellerWertSignalName, typ: 'berechnetersollwert' } "></div>
					</div>
				</div>
				<br>

				<!-- Alarm handling -->
				<div class="row" style="margin-top: 8px;">
					<div class="col-lg-1 bs_widget_beschriftungen">Alarme:</div>
					<!--<textarea class="col-lg-10 col-lg-push-1 bs_dialog_alarmmeldungen" data-bind="text: alarms"></textarea>-->
					<div class="col-lg-10">
						<ul data-bind="foreach: alarms_tag">
							<li class="bs_alarmliste">
								<div data-bind="text: alarm_tag"></div>
							</li>
						</ul>
						<ul data-bind="foreach: alarms_nacht">
							<li class="bs_alarmliste">
								<div data-bind="text: alarm_nacht"></div>
							</li>
						</ul>
					</div>
				</div>
				<!-- ko if: widget.hasAuthorization -->
				<div class="row" style="margin-top: 4px;">
					<div class="col-lg-1">
						<button type="button" data-bind="css: quitBtn, click: function() { widget.setAlarmQuit(31); }">Quittieren</button>
					</div>
				</div>
				<br>
				<!-- /ko -->

				<!-- Grafikbereich z.Z. nur statisch -->
				<div class="row">
					<div class="col-sm-12">
						<div class="bs-heizkurveDiagramm"></div>
					</div>
				</div>


				<!-- ko if: widget.hasAuthorization -->
				<div class="row">
					<div class="col-lg-2">
						<input type="button" class="btn btn-xs btn-primary" value="Erweitert" data-bind="click: bedienung" />
					</div>
				</div>
				<!-- /ko -->
				<br>
				<!-- <div data-bind="style: { display: erweitert }"> -->
					<div class="">



					<!-- Betriebswahl handling -->
					<div class="row">
						<div class="col-sm-8 bs_widget_beschriftungen"><span>Betriebswahl:</span></div>
						<div class="col-sm-4">
							<select class="form-control pull-right input-sm" data-bind="options: widget.betriebswahlOptions, optionsText: 'name', optionsValue: 'value', value: widget.plcBetriebswahlValue(), event: { change: changed }"></select>
						</div>
					</div>

					<br>
					<!-- SollwertEingabe handling -->
					<div class="row">
						<div class="col-sm-6">
							<span class="bs_widget_beschriftungen">Kurve Tag:</span>
							<br>
							<table class="table">
								<thead>
									<tr>
										<th></th>
										<th>AT-Temp</th>
										<th>VL-Temp</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="text-nowrap vertical-middle">Punkt 1</td>
										<td data-bind="bsSollwertEingabe:{signalName: widget.plcKurveTagX1SignalName, einheit: widget.einheit}"></td>
										<td data-bind="bsSollwertEingabe:{signalName: widget.plcKurveTagY1SignalName, einheit: widget.einheit}"></td>
									</tr>
									<tr>
										<td class="text-nowrap vertical-middle">Punkt 2</td>
										<td data-bind="bsSollwertEingabe:{signalName: widget.plcKurveTagX2SignalName, einheit: widget.einheit}"></td>
										<td data-bind="bsSollwertEingabe:{signalName: widget.plcKurveTagY2SignalName, einheit: widget.einheit}"></td>
									</tr>
								</tbody>
							</table>
						</div>

						<div class="col-sm-6">
							<span class="bs_widget_beschriftungen">Kurve Nacht:</span>
							<br>
							<table class="table">
								<thead>
									<tr>
										<th></th>
										<th>AT-Temp</th>
										<th>VL-Temp</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="text-nowrap vertical-middle">Punkt 1</td>
										<td data-bind="bsSollwertEingabe:{signalName: widget.plcKurveNachtX1SignalName, einheit: widget.einheit}"></td>
										<td data-bind="bsSollwertEingabe:{signalName: widget.plcKurveNachtY1SignalName, einheit: widget.einheit}"></td>
									</tr>
									<tr>
										<td class="text-nowrap vertical-middle">Punkt 2</td>
										<td data-bind="bsSollwertEingabe:{signalName: widget.plcKurveNachtX2SignalName, einheit: widget.einheit}"></td>
										<td data-bind="bsSollwertEingabe:{signalName: widget.plcKurveNachtY2SignalName, einheit: widget.einheit}"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<br>
					<!-- Alarmunterdrückung -->
					<div class="row" style="margin-top: 16px;">
						<div class="col-lg-12">
							<div><label class="bs_widget_beschriftungen">Alarmunterdrückung:<input class="bs_alarmunterdrueckung" type="checkbox" value="alarmunterdrueckung" data-bind="checked: alarmeunterdr, event: { change: changedAlarmeunterdr }" /></label></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
