﻿<style>
    .modal {
        z-index: 1055;
    }
</style>
<div class="modal" style="width: 100%">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-primary">
                <div class="modal-title">
                    <div class="col-sm-12"><span class="bs_widget_beschriftungen bs-dialog-title" data-bind="text: widget.dialogTitle"></span><button class="btn btn-xs btn-primary normal btn_close pull-right" data-dismiss="modal" aria-hidden="true" data-bind="click: close">X</button></div>
                </div>
            </div>
            <div class="modal-body">
                <!-- Zustand handling -->
                <div class="row">
                    <div class="col-sm-6 bs_widget_beschriftungen"><span>Zustand: </span><span data-bind="text: widget.getObjectZustandName(), style: { color: textFarbe }"></span></div>
                    <div class="col-sm-6">
                        <span class="wf wf-hand bs_handfarbe fa-2x pull-right" data-bind="style: { visibility: widget.handbetrieb }"></span>
                    </div>
                </div>
                <!-- Alarm handling -->
                <div class="row" style="margin-top: 8px;">
                    <div class="col-lg-1 bs_widget_beschriftungen">Alarme:</div>
                    <!--<textarea class="col-lg-10 col-lg-push-1 bs_dialog_alarmmeldungen" data-bind="text: alarms"></textarea>-->
                    <div class="col-lg-10">
                        <ul data-bind="foreach: alarms">
                            <li class="bs_alarmliste"><div data-bind="text: alarm"></div></li>
                        </ul>
                    </div>
                </div>
                <!-- ko if: widget.hasAuthorization -->
                <div class="row" style="margin-top: 4px;">
                    <div class="col-lg-1">
                        <button type="button" data-bind="css: quitBtn, click: function() { widget.setAlarmQuit(31); }">Quittieren</button>
                    </div>
                </div>
                <br>
                <!-- /ko -->
                <!-- Sollwerte -->
                <div class="row" style="margin-top: 8px;">
                    <div class="col-lg-10 bs_widget_beschriftungen" data-bind="text: widget.sollwertText"></div><div class="col-lg-2 pull-right" data-bind="bsAusgabefeld: { signalName: widget.signalnameAT, typ: 'istwert', einheit: widget.unit }">???</div>
                </div>
                <div class="row" style="margin-top: 8px;">
                    <div class="col-lg-10 bs_widget_beschriftungen" data-bind="text: widget.zeitraumMittelwertBildung"></div><div class="col-lg-2 pull-right" data-bind="bsAusgabefeld: { signalName: widget.signalnameMW, typ: 'istwert', einheit: widget.unit }">???</div>
                </div>
                <!-- Trend -->
                <div class="row" style="margin-top: 16px;">
                    <!--<wf-chart-1 params="{
                                autoUpdate: true,
                                updateRate: 10000,
                                title: 'History',
                                chartType: 'line',
                                zoomEnabled: false,
                                subChartVisible: false,
                                startOffset: 'minutes',
                                startOffsetIntervall: 30,
                                y1AxisColor: '#337AB7',
                                pointsVisible: true,
                                headerVisibility: true,
                                initialConfiguration: widget.trendConfig,
                                y2AxisColor: '#f0ad4e'
                                }" class="col-lg-12">
                    </wf-chart-1>-->
                </div>
                <!-- ko if: widget.hasAuthorization -->
                <div class="row" style="margin-top:8px">
                    <div class="col-lg-2">
                        <input type="button" class="btn btn-xs btn-primary" value="Erweitert" data-bind="click: bedienung" />
                    </div>
                </div>
                <!-- /ko -->
                <div data-bind="style: { display: erweitert }">
                    <!-- Betriebswahl handling -->
                    <div class="row" style="margin-top:8px">
                        <div class="col-sm-8 bs_widget_beschriftungen"><span>Betriebswahl:</span></div>
                        <div class="col-sm-4">
                            <select class="form-control pull-right input-sm" data-bind="options: widget.betriebswahlOptions, optionsText: 'name', optionsValue: 'value', value: widget.plcBetriebswahlValue(), event: { change: changed }"></select>
                        </div>
                    </div>
                    <br>
                    <!-- SollwertEingabe handling -->
                    <!-- Festwerteingabe -->
                    <div class="row" style="margin-top: 8px;">
                        <div class="col-lg-10 bs_widget_beschriftungen" data-bind="text: 'Heizbetrieb Ein ['+widget.einheit+']:'"></div><div class="col-lg-2 pull-right" data-bind="bsSollwertEingabe:{signalName: widget.heizbetriebEin}"></div>
                    </div>
                    <div class="row" style="margin-top: 8px;">
                        <div class="col-lg-10 bs_widget_beschriftungen" data-bind="text: 'Heizbetrieb Ein (Frostbetrieb) ['+widget.einheit+']:'"></div><div class="col-lg-2 pull-right" data-bind="bsSollwertEingabe:{signalName: widget.heizbetriebEinFrost}"></div>
                    </div>
                    <div class="row" style="margin-top: 8px;">
                        <div class="col-lg-10 bs_widget_beschriftungen" data-bind="text: 'Heizbetrieb Aus ['+widget.einheit+']:'"></div><div class="col-lg-2 pull-right" data-bind="bsSollwertEingabe:{signalName: widget.heizbetriebAus}"></div>
                    </div>
                    <div class="row" style="margin-top: 8px;">
                        <div class="col-lg-10 bs_widget_beschriftungen" data-bind="text: 'Zeitspanne Mittelwertbildung [h]:'"></div><div class="col-lg-2 pull-right" data-bind="bsSollwertEingabe:{signalName: widget.zeitspanneMittelwertbildung}"></div>
                    </div>
                    <!-- Alarmunterdrückung -->
                    <div class="row" style="margin-top: 16px;">
                        <div class="col-lg-12">
                            <div><label class="bs_widget_beschriftungen">Alarmunterdrückung:<input class="bs_alarmunterdrueckung" type="checkbox" value="alarmunterdrueckung" data-bind="checked: alarmeunterdr, event: { change: changedAlarmeunterdr }" /></label></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
