﻿<style>
    .modal{z-index:1055;}
</style>
<div class="modal" style="width: 100%">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-primary">
                <div class="modal-title">
                    <div class="col-lg-12"><span class="bs_widget_beschriftungen bs-dialog-title" data-bind="text: widget.dialogtitle"></span><button class="btn btn-xs btn-default normal btn_close pull-right" data-dismiss="modal" aria-hidden="true" data-bind="click: close">X</button></div>
                </div>
            </div>
            <div class="modal-body">
                <!-- Zustand und Handbetrieb -->
                <div class="row">
                    <div class="modal-content-title">
                        <span class="col-sm-2 bs_widget_beschriftungen">Zustand:</span><span class="col-sm-9" data-bind="text: zustand, style: { color: textFarbe }"></span><span class="wf wf-hand bs_handfarbe fa-2x col-sm-1" data-bind="style: { visibility: handbetrieb }"></span>
                    </div>
                    <!--
                    <div class="col-lg-12">
                        <h4 data-bind="text: zustand, style: { color: textFarbe }"></h4>
                    </div>
                        -->
                </div>
                <!-- Alarm handling -->
                <div class="row" style="margin-top: 8px;">
                    <div class="col-lg-1 bs_widget_beschriftungen">Alarme:</div>
                    <!--<textarea class="col-lg-10 col-lg-push-1 bs_dialog_alarmmeldungen" data-bind="text: alarms"></textarea>-->
                    <div class="col-lg-10">
                        <ul data-bind="foreach: alarms">
                            <li class="bs_alarmliste"><div data-bind="text: alarm"></div></li>
                        </ul>
                    </div>
                </div>
                <div class="row" style="margin-top: 4px;">
                    <div class="col-lg-1">
                        <button type="button" data-bind="css: quitBtn, click: function() { widget.setAlarmQuit(31); }">Quittieren</button>
                    </div>
                </div>
                <!-- Betriebsstunden handling -->
                <div class="row" style="margin-top: 16px;">
                    <div class="col-lg-3 bs_widget_beschriftungen">Betriebsstunden:</div><div class="col-lg-2 bs_betr_std" data-bind="text: widget.betrStd1stValue()"></div><div class="col-lg-3 bs_widget_beschriftungen">Einschaltungen:</div><div class="col-lg-2 bs_betr_std" data-bind="text: widget.einsch1StValue()"></div><div class="pull-right col-lg-2"><button class="btn btn-xs btn-primary normal pull-right" type="button" data-bind="click: function() { widget.resetZaehlerSt1(1); }">Reset</button></div>
                </div>
                <div class="row" style="margin-top: 4px;">
                    <div class="col-lg-3 bs_widget_beschriftungen">Total:</div><div class="col-lg-2 bs_betr_std" data-bind="text: widget.betrStdTotalValue()"></div><div class="col-lg-3 bs_widget_beschriftungen">Total:</div><div class="col-lg-2 bs_betr_std" data-bind="text: widget.einschTotalValue()"></div>
                </div>
                <!-- Kurzzeittrend -->
                <div class="row" style="margin-top: 16px;">
                    <!--<wf-chart-1 params="{
                                autoUpdate: true,
                                updateRate: 10000,
                                title: 'History',
                                chartType: 'line',
                                zoomEnabled: false,
                                subChartVisible: false,
                                startOffset: 'minutes',
                                startOffsetIntervall: 30,
                                y1AxisColor: '#337AB7',
                                pointsVisible: true,
                                headerVisibility: true,
                                initialConfiguration: widget.trendConfig,
                                y2AxisColor: '#f0ad4e',
                                x1TickCount: 5
                                }" class="col-lg-12">
                    </wf-chart-1>-->
                </div>
                <!-- Bereich der nur mit entsprechenden Berechtigungen zugänglich sein soll -->
                <!-- ko if: hasAuthorization -->
                <div class="row">
                    <div class="col-lg-2">
                        <input type="button" class="btn btn-xs btn-primary" value="Erweitert" data-bind="click: bedienung" />
                    </div>
                </div>
                <!-- /ko -->
                <div data-bind="style: { display: erweitert }">
                    <!-- Betriebswahlen -->
                    <div class="row" style="margin-top: 16px;">
                        <div class="col-lg-4 bs_widget_beschriftungen">Motor Betriebswahl:</div>
                        <div class="col-lg-8 pull-right">
                            <select class="bs_select_betrwahl pull-right" data-bind="options: options, optionsText: 'name', optionsValue: 'wert', value: selectedOptionValue, event: { change: changed }"></select>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 4px;">
                        <div class="col-lg-4 bs_widget_beschriftungen">Sollwert Betriebswahl:</div>
                        <div class="col-lg-8 pull-right">
                            <select class="bs_select_betrwahl pull-right" data-bind="options: optSwFu, optionsText: 'nameSwFu', optionsValue: 'wertSwFu', value: selectedOptionValueSwFu, event: { change: changedSwFu }"></select>
                        </div>
                    </div>
                    <!-- Sollwerte -->
                    <div class="row" style="margin-top: 16px;">
                        <div class="col-lg-4 bs_widget_beschriftungen">Festwert: [%]</div><div class="col-lg-2"><input class="bs-sollwert pull-right" data-bind="textInput: festwert, event: { keypress: enterFestwert }" /></div>
                        <div class="col-lg-4 bs_widget_beschriftungen">Totzone: [%]</div><div class="col-lg-1 pull-right"><input class="bs-sollwert pull-right" data-bind="textInput: totzone, event: { keypress: enterTotzone }" /></div>
                    </div>
                    <div class="row" style="margin-top: 4px;">
                        <div class="col-lg-4 bs_widget_beschriftungen">Unterer Grenzwert: [%]</div><div class="col-lg-2"><input class="bs-sollwert pull-right" data-bind="textInput: untererGrenzwert, event: { keypress: enterUntererGrenzwert }" /></div>
                        <div class="col-lg-4 bs_widget_beschriftungen">Oberer Grenzwert: [%]</div><div class="col-lg-1 pull-right"><input class="bs-sollwert pull-right" data-bind="textInput: obererGrenzwert, event: { keypress: enterObererGrenzwert }" /></div>
                    </div>
                    <!-- Alarmunterdrückung -->
                    <div class="row" style="margin-top: 16px;">
                        <div class="col-lg-12">
                            <div><label class="bs_widget_beschriftungen">Alarmunterdrückung:<input class="bs_alarmunterdrueckung" type="checkbox" value="alarmunterdrueckung" data-bind="checked: alarmeunterdr, event: { change: changedAlarmeunterdr }" /></label></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-lg-2">
                    <div></div>
                </div>
            </div>
        </div>
    </div>
</div>

