﻿<div class="modal" style="width: 100%">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-primary">
                <div class="modal-title">
                    <div class="col-lg-12"><span class="bs_widget_beschriftungen bs-dialog-title" data-bind="text: widget.dialogtitle"></span><button class="btn btn-xs btn-default normal btn_close pull-right" data-dismiss="modal" aria-hidden="true" data-bind="click: close">X</button></div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="modal-content-title">
                        <span class="col-sm-2 bs_widget_beschriftungen">Betriebsart:</span><span class="col-sm-9" data-bind="text: zustand, style: { color: textFarbe }"></span>
                    </div>
                </div>

                <div class="row" style="margin-top: 20px;">
                    <div class="modal-content-title">
                        <span class="col-sm-2 bs_widget_beschriftungen">Zustand:</span><span class="col-sm-9" data-bind="text: zustandmotor, style: { color: textFarbe }"></span>
                    </div>
                </div>

                <!-- Betriebsstunden handling -->
                <!-- Stufe 1 -->
                <div class="row" style="margin-top: 20px;">
                    <div class="col-lg-3 bs_widget_beschriftungen">Betriebsstunden Stufe 1:</div><div class="col-lg-2 bs_betr_std" data-bind="text: widget.roundbetrStd1st()"></div><div class="col-lg-3 bs_widget_beschriftungen">Einschaltungen Stufe 1:</div><div class="col-lg-2 bs_betr_std" data-bind="text: widget.einschStufe1Value()"></div><div class="pull-right col-lg-2"><button class="btn btn-xs btn-primary normal pull-right" type="button" data-bind="click: function() { widget.resetZaehlerSt1(1); }">Reset</button></div>
                </div>
                <!-- Stufe 2 -->
                <div class="row" style="margin-top: 20px;">
                    <div class="col-lg-3 bs_widget_beschriftungen">Betriebsstunden Stufe 2:</div><div class="col-lg-2 bs_betr_std" data-bind="text: widget.roundbetrStd2st()"></div><div class="col-lg-3 bs_widget_beschriftungen">Einschaltungen Stufe 2:</div><div class="col-lg-2 bs_betr_std" data-bind="text: widget.einschStufe2Value()"></div><div class="pull-right col-lg-2"><button class="btn btn-xs btn-primary normal pull-right" type="button" data-bind="click: function() { widget.resetZaehlerSt1(1); }">Reset</button></div>
                </div>

                <div>
                    <!-- Betriebswahlen -->
                    <div class="row" style="margin-top: 20px;">
                        <div class="col-lg-4 bs_widget_beschriftungen">Motor Betriebswahl:</div>
                        <div class="col-lg-8 pull-right">
                            <select class="bs_select_betrwahl pull-right" data-bind="options: options, optionsText: 'name', optionsValue: 'wert', value: selectedOptionValue, event: { change: changed }"></select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-lg-2">
                    <div></div>
                </div>
            </div>
        </div>
    </div>
</div>