﻿<!--Normal SAIA-->
<div class="modal" style="width: 100%">
    <div class="modal-dialog bs-wide bs-widget-wochenschaltuhr">
        <div class="modal-content">
            <div class="modal-header modal-primary">
                <div class="modal-title">
                    <div class="col-lg-12"><span class="bs_widget_beschriftungen bs-dialog-title" data-bind="text: widget.dialogtitle"></span><button class="btn btn-xs btn-default normal btn_close pull-right" data-dismiss="modal" aria-hidden="true" data-bind="click: close">X</button></div>
                </div>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Ein 1</th>
                            <th>Aus 1</th>
                            <th>Ein 2</th>
                            <th>Aus 2</th>
                            <th>Ein 3</th>
                            <th>Aus 3</th>
                            <th>Ein 4</th>
                            <th>Aus 4</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: widget.days">
                        <tr>
                            <td data-bind="text: name"></td>
                            <!-- ko foreach: times -->
                            <td class="switchtimeOn" data-bind="bsTimeInput: { signalName: on.signalName }, attr: { id: on.signalName }, css:  on.color"></td><!--, attr: { title: on.signalName }"></td>-->
                            <!--<td class="switchtimeOff" data-bind="bsTimeInput: { signalName: on.signalName }, attr: { id: on.signalName }, css: on.color"></td><!--, attr: { title: off.signalName }"></td>-->
                            <!-- /ko -->
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <div class="row">
                </div>
            </div>
        </div>
    </div>
</div>