﻿<style>
    .modal {
        z-index: 1055;
    }
</style>
<div class="modal" style="width: 100%">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-primary">
                <div class="modal-title">
                    <div class="col-lg-12"><span class="bs_widget_beschriftungen bs-dialog-title" data-bind="text: widget.dialogtitle"></span><button class="btn btn-xs btn-default normal btn_close pull-right" data-dismiss="modal" aria-hidden="true" data-bind="click: close">X</button></div>
                </div>
            </div>
            <div class="modal-body">
                <!-- Zustand handling -->
                <div class="row">
                    <div class="modal-content-title">
                        <span class="col-sm-2 bs_widget_beschriftungen">Zustand:</span><span class="col-sm-9" data-bind="text: zustand, style: { color: textFarbe }"></span><span class="wf wf-hand bs_handfarbe fa-2x col-sm-1" data-bind="style: { visibility: handbetrieb }"></span>
                    </div>
                </div>
                <!-- Alarm handling -->
                <div class="row" style="margin-top: 8px;">
                    <div class="col-lg-1 bs_widget_beschriftungen">Alarme:</div>
                    <!--<textarea class="col-lg-10 col-lg-push-1 bs_dialog_alarmmeldungen" data-bind="text: alarms"></textarea>-->
                    <div class="col-lg-10">
                        <ul data-bind="foreach: alarms">
                            <li class="bs_alarmliste"><div data-bind="text: alarm"></div></li>
                        </ul>
                    </div>
                </div>
                <div class="row" style="margin-top: 4px;">
                    <div class="col-lg-1">
                        <button type="button" data-bind="css: quitBtn, click: function() { widget.setAlarmQuit(31); }">Quittieren</button>
                    </div>
                </div>
                <!-- Sollwerte -->
                <div class="row" style="margin-top: 16px;">
                    <div class="col-lg-10 bs_widget_beschriftungen" data-bind="text: 'Ist-Wert: '"></div><div class="col-lg-2 pull-right" data-bind="bsAusgabefeld: { signalName: widget.signalname, typ: 'istwert', einheit: widget.unit }">???</div>
                </div>
                <div class="row" style="margin-top: 8px;">
                    <div class="col-lg-10 bs_widget_beschriftungen" data-bind="text: 'Obergrenze ['+widget.unit+']:'"></div><div class="col-lg-2 pull-right" data-bind="bsSollwertEingabe:{signalName: widget.obergrenze}"></div>
                </div>
                <div class="row" style="margin-top: 8px;">
                    <div class="col-lg-10 bs_widget_beschriftungen" data-bind="text: 'Untergrenze ['+widget.unit+']:'"></div><div class="col-lg-2 pull-right" data-bind="bsSollwertEingabe:{signalName: widget.untergrenze}"></div>
                </div>
                <!-- Trend -->
                <div class="row" style="margin-top: 16px;">
                    <!--<wf-chart-1 params="{
                                autoUpdate: true,
                                updateRate: 10000,
                                title: 'History',
                                chartType: 'line',
                                zoomEnabled: false,
                                subChartVisible: false,
                                startOffset: 'minutes',
                                startOffsetIntervall: 30,
                                y1AxisColor: '#337AB7',
                                pointsVisible: true,
                                headerVisibility: true,
                                initialConfiguration: widget.trendConfig,
                                y2AxisColor: '#f0ad4e'
                                }" class="col-lg-12">
                    </wf-chart-1>-->
                </div>
                <!-- Bereich der nur mit entsprechenden Berechtigungen zugänglich sein soll -->
                <!-- ko if: hasAuthorization -->
                <div class="row">
                    <div class="col-lg-2">
                        <input type="button" class="btn btn-xs btn-primary" value="Erweitert" data-bind="click: bedienung" />
                    </div>
                </div>
                <!-- /ko -->
                <div data-bind="style: { display: erweitert }">
                    <!-- Betriebswahl -->
                    <div class="row" style="margin-top: 16px;">
                        <div class="col-lg-4 bs_widget_beschriftungen">Sensor Betriebswahl:</div>
                        <div class="col-lg-8 pull-right">
                            <select class="bs_select_betrwahl pull-right" data-bind="options: options, optionsText: 'name', optionsValue: 'wert', value: selectedOptionValue, event: { change: changed }"></select>
                        </div>
                    </div>
                    <!-- Festwerteingabe -->
                    <div class="row" style="margin-top: 16px;">
                        <div class="col-lg-10 bs_widget_beschriftungen" data-bind="text: 'Festwert ['+widget.unit+']:'"></div><div class="col-lg-2 pull-right" data-bind="bsSollwertEingabe:{signalName: widget.festwert}"></div>
                    </div>
                    <!-- Alarmunterdrückung -->
                    <div class="row" style="margin-top: 16px;">
                        <div class="col-lg-12">
                            <div><label class="bs_widget_beschriftungen">Alarmunterdrückung:<input class="bs_alarmunterdrueckung" type="checkbox" value="alarmunterdrueckung" data-bind="checked: alarmeunterdr, event: { change: changedAlarmeunterdr }" /></label></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
