﻿<style>
    .modal {
        z-index: 1055;
    }
</style>
<!-- , authorisierung:  $parent.widget.authorisierung -->
<div class="modal" style="width: 100%">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-primary">
                <div class="modal-title">
                    <div class="col-lg-12"><span class="bs_widget_beschriftungen bs-dialog-title" data-bind="text: widget.dialogtitle"></span><button class="btn btn-xs btn-default normal btn_close pull-right" data-dismiss="modal" aria-hidden="true" data-bind="click: close">X</button></div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="bs_widget_beschriftungen col-lg-6" data-bind="text: 'Beschreibung'"></div>
                    <div class="bs_widget_beschriftungen col-lg-2" data-bind="if: hasAuthorization">Untergrenze</div>
                    <div class="bs_widget_beschriftungen col-lg-2" data-bind="if: hasAuthorization">Obergrenze</div>
                    <div class="bs_widget_beschriftungen col-lg-2" data-bind="text: 'Sollwert'"></div>
                </div>
                <hr />
                <!-- ko foreach: widget.signals -->
                <div class="row">
                    <div class="bs_widget_beschriftungen col-lg-6" data-bind="text: label"></div>
                    <!-- ko if: $parent.hasAuthorization -->
                    <div class="col-lg-2 pull-left" data-bind="bsSollwertEingabe:{signalName: untergrenze}"></div>
                    <div class="col-lg-2 pull-left" data-bind="bsSollwertEingabe:{signalName: obergrenze}"></div>
                    <!-- /ko -->
                    <div class="col-lg-2 pull-right" data-bind="bsSollwertEingabe:{signalName: signalname}"></div>
                </div>
                <hr />
                <!-- /ko -->
            </div>
        </div>
    </div>
</div>
