﻿<style>
    .modal {
        z-index: 1055;
    }
</style>
<div class="modal" style="width: 100%">
    <div class="modal-dialog modal-top">
        <div class="modal-content">
            <div class="modal-header modal-primary">
                <div class="modal-title">
                    <div class="col-lg-12"><span class="bs_widget_beschriftungen bs-dialog-title" data-bind="text: widget.dialogtitle"></span><button class="btn btn-xs btn-primary normal btn_close pull-right" data-dismiss="modal" aria-hidden="true" data-bind="click: close">X</button></div>
                </div>
            </div>
            <div class="modal-body">
                <!-- Zustand und Handbetrieb -->
                <div class="row">
                    <div class="modal-content-title">
                        <span class="col-sm-2 bs_widget_beschriftungen">Zustand:</span><span class="col-sm-9" data-bind="text: zustand, style: { color: textFarbe }"></span><span class="wf wf-hand bs_handfarbe fa-2x col-sm-1" data-bind="style: { visibility: handbetrieb }"></span>
                    </div>
                </div>
                <!-- Sollwerte -->
                <div class="row">
                    <div class="col-lg-10 bs_widget_beschriftungen" data-bind="text: widget.groesseY"></div><div class="col-lg-2 pull-right" data-bind="bsAusgabefeld: { signalName: widget.signalNameAktuellerWert, typ: 'berechnetersollwert', einheit: widget.einheit }">???</div>
                </div>
                
                <!-- Alarm handling -->
                <div class="row" style="margin-top: 8px;">
                    <div class="col-lg-1 bs_widget_beschriftungen">Alarme:</div>
                    <div class="col-lg-10">
                        <ul data-bind="foreach: alarms">
                            <li class="bs_alarmliste"><div data-bind="text: alarm"></div></li>
                        </ul>
                    </div>
                </div>
                <!-- ko if: widget.hasAuthorization -->
                <div class="row" style="margin-top: 4px;">
                    <div class="col-lg-1">
                        <button type="button" data-bind="css: quitBtn, click: function() { widget.setAlarmQuit(31); }">Quittieren</button>
                    </div>
                </div>
                <!-- /ko -->
                <!-- Grafikbereich -->
                <div class="row" style="margin-top: 16px;">
                    <div class="col-lg-12">
                        <canvas width="540" height="270" style="border-top: 1px solid #606060; border-bottom: 1px solid #606060; padding:5px;" data-bind="storeElement: myCanvas"></canvas>
                    </div>
                </div>
                <!-- Bereich der nur mit entsprechenden Berechtigungen zugänglich sein soll  bs-4PunkteKurve   -->
                <!-- ko if: widget.hasAuthorization -->
                <div class="row" style="margin-top: 12px;">
                    <div class="col-lg-2">
                        <input type="button" class="btn btn-xs btn-primary" value="Erweitert" data-bind="click: bedienung" />
                    </div>
                </div>
                <!-- /ko -->
                <div data-bind="style: { display: bedienpanel }">
                    <!-- Betriebswahl -->
                    <div class="row" style="margin-top: 16px;">
                        <div class="col-lg-4 bs_widget_beschriftungen">Anlage Betriebswahl:</div>
                        <div class="col-lg-8 pull-right">
                            <select class="bs_select_betrwahl pull-right" data-bind="options: options, optionsText: 'name', optionsValue: 'wert', value: selectedOptionValue, event: { change: changed }"></select>
                        </div>
                    </div>
                    <!-- SollwertEingabe handling -->
                    <!-- Festwerteingabe -->
                    <div class="row" style="margin-top: 16px;">
                        <div class="col-lg-4 bs_widget_beschriftungen" data-bind="text: widget.abszisse1 +' X1:'"></div><div class="col-lg-2" data-bind="bsSollwertEingabe:{signalName: widget.signalNameAbszisse1}"></div>
                        <div class="col-lg-4 bs_widget_beschriftungen" data-bind="text: widget.ordinate1 +' Y1:'"></div><div class="col-lg-2" data-bind="bsSollwertEingabe:{signalName: widget.signalNameOrdinate1}"></div>
                    </div>
                    <div class="row" style="margin-top: 8px;">
                        <div class="col-lg-4 bs_widget_beschriftungen" data-bind="text: widget.abszisse2 +' X2:'"></div><div class="col-lg-2" data-bind="bsSollwertEingabe:{signalName: widget.signalNameAbszisse2}"></div>
                        <div class="col-lg-4 bs_widget_beschriftungen" data-bind="text: widget.ordinate2 +' Y2:'"></div><div class="col-lg-2" data-bind="bsSollwertEingabe:{signalName: widget.signalNameOrdinate2}"></div>
                    </div>
                    <div class="row" style="margin-top: 8px;">
                        <div class="col-lg-4 bs_widget_beschriftungen" data-bind="text: widget.abszisse3 +' X3:'"></div><div class="col-lg-2" data-bind="bsSollwertEingabe:{signalName: widget.signalNameAbszisse3}"></div>
                        <div class="col-lg-4 bs_widget_beschriftungen" data-bind="text: widget.ordinate3 +' Y3:'"></div><div class="col-lg-2" data-bind="bsSollwertEingabe:{signalName: widget.signalNameOrdinate3}"></div>
                    </div>
                    <div class="row" style="margin-top: 8px;">
                        <div class="col-lg-4 bs_widget_beschriftungen" data-bind="text: widget.abszisse4 +' X4:'"></div><div class="col-lg-2" data-bind="bsSollwertEingabe:{signalName: widget.signalNameAbszisse4}"></div>
                        <div class="col-lg-4 bs_widget_beschriftungen" data-bind="text: widget.ordinate4 +' Y4:'"></div><div class="col-lg-2" data-bind="bsSollwertEingabe:{signalName: widget.signalNameOrdinate4}"></div>
                    </div>
                    <!-- Alarmunterdrückung -->
                    <div class="row" style="margin-top: 16px;">
                        <div class="col-lg-12">
                            <div><label class="bs_widget_beschriftungen">Alarmunterdrückung:<input class="bs_alarmunterdrueckung" type="checkbox" value="alarmunterdrueckung" data-bind="checked: alarmeunterdr, event: { change: changedAlarmeunterdr }" /></label></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>