﻿<style>
    .modal {
        z-index: 1055;
    }
</style>
<div class="modal" style="width: 100%">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-primary">
                <div class="modal-title">
                    <div class="col-sm-12"><span class="bs_widget_beschriftungen bs-dialog-title" data-bind="text: widget.dialogTitle"></span><button class="btn btn-xs btn-default normal btn_close pull-right" data-dismiss="modal" aria-hidden="true" data-bind="click: close">X</button></div>
                </div>
            </div>
            <div class="bs-modal-body">
                <!-- 1.Zeile ***************************************************************************************************************************************************************************************************-->
                <div class="row bs-widget-room-row">
                    <!-- Basissollwert -->
                    <div style="padding-top:2px;" class="col-lg-3 bs_widget_beschriftungen">Aktiver Basisollwert:</div>
                    <div style="padding-top:2px;" class="col-lg-1 col-lg-offset-1" data-bind="bsAusgabefeld: { signalName: widget.basissollwert, typ: 'sollwert', einheit: widget.einheit }">???</div>
                </div>
                <!-- 2.Zeile ***************************************************************************************************************************************************************************************************-->
                <div class="row bs-widget-room-row">
                    <!-- Sollwert Sommer -->
                    <div style="padding-top:2px;" class="col-lg-3 bs_widget_beschriftungen">Sollwert Sommer:</div>
                    <div style="padding-top:2px;" class="col-lg-1 col-lg-offset-1" data-bind="bsAusgabefeld: { signalName: widget.basissollwertsommer, typ: 'sollwert', einheit: widget.einheit }">???</div>
                    <!-- Sollwert Winter -->
                    <div style="padding-top:2px;" class="col-lg-4 col-lg-offset-1 bs_widget_beschriftungen">Sollwert Winter [°C]:</div>
                    <div style="padding-top:2px;" class="col-lg-2" data-bind="bsSollwertEingabe:{signalName: widget.basissollwertwinter, einheit: widget.einheit}">???</div>
                </div>
                <!-- 3.Zeile *************************************************************************************************************************************************************************************************** -->
                <div class="row bs-widget-room-row">
                    <!-- Schiebung AT1 -->
                    <div class="col-lg-4 bs_widget_beschriftungen">Sommer AT1 [°C]:</div>
                    <div class="col-lg-2" data-bind="bsSollwertEingabe:{signalName: widget.outsidetempone, einheit: widget.einheit}">???</div>
                    <!-- Schiebung ST1 -->
                    <div class="col-lg-3 bs_widget_beschriftungen">Sommer RT1 [°C]:</div>
                    <div class="col-lg-2 col-lg-offset-1" data-bind="bsSollwertEingabe:{signalName: widget.setpointone, einheit: widget.einheit}"></div>
                </div>
                <!-- 4.Zeile *************************************************************************************************************************************************************************************************** -->
                <div class="row bs-widget-room-row">
                    <!-- Schiebung AT2 -->
                    <div class="col-lg-3 bs_widget_beschriftungen">Sommer AT2 [°C]:</div>
                    <div class="col-lg-2 col-lg-offset-1" data-bind="bsSollwertEingabe:{signalName: widget.outsidetemptwo, einheit: widget.einheit}">???</div>
                    <!-- Schiebung ST2 -->
                    <div class="col-lg-3 bs_widget_beschriftungen">Sommer RT2 [°C]:</div>
                    <div class="col-lg-2 col-lg-offset-1" data-bind="bsSollwertEingabe:{signalName: widget.setpointtwo, einheit: widget.einheit}"></div>
                </div>
                <!-- 5.Zeile *************************************************************************************************************************************************************************************************** -->
                <div class="row bs-widget-room-row">
                    <!-- Heizventil Sperren -->
                    <div style="padding-top:2px;" class="col-lg-3 bs_widget_beschriftungen">Heiz Sperrung:</div>
                    <!-- Gesperrt -->
                    <div style="padding-top:2px;" class="bs-widget-room-lock col-lg-1" data-bind="css: sperreheiz"></div>
                    <div class="col-lg-1"><wf-button params="signalName: widget.heizventillock, writeValue: 1, buttonText: 'EIN/AUS', cssClass: 'btn btn-default btn-xs bs-widget-room-button', isTipModeEnabled: true"></wf-button></div>
                    <!-- Kühlventil Sperren -->
                    <div style="padding-top:2px;" class="col-lg-3 col-lg-offset-1 bs_widget_beschriftungen">Kühl Sperrung:</div>
                    <!-- Gesperrt -->
                    <div style="padding-top:2px;" class="bs-widget-room-lock col-lg-1" data-bind="css: sperrekuehl"></div>
                    <div class="col-lg-1"><wf-button params="signalName: widget.kuehlventillock, writeValue: 1, buttonText: 'EIN/AUS', cssClass: 'btn-default btn-xs bs-widget-room-button', isTipModeEnabled: true"></wf-button></div>
                </div>
                <!-- 6.Zeile *************************************************************************************************************************************************************************************************** -->
                <div class="row bs-widget-room-row">
                    <!-- Sommer/Winter -->
                    <div class="col-lg-3 bs_widget_beschriftungen">Sommer-/Winterbetrieb:</div>
                    <div class="col-lg-2 col-lg-offset-1" data-bind="bsZustandsanzeige_1: {authorisierung: 'Administration', modulName: widget.sommerwinter, hintergrundTransparent: 'true',
                         zustaende: [
                         { vergleichswert: '0', farbe: 'color-ein',  text: 'Winter'},
                         { vergleichswert: '1', farbe: 'color-ein',  text: 'Sommer'}]}"></div>
                    <!-- Aussentemperatur -->
                    <div style="padding-top:2px;" class="col-lg-2 bs_widget_beschriftungen">Aussentemperatur:</div>
                    <div style="padding-top:2px;" class="col-lg-2 col-lg-offset-2" data-bind="bsAusgabefeld: { signalName: widget.outsidetempist, typ: 'istwert', einheit: widget.einheit }">???</div>
                </div>
            </div>
        </div>
    </div>
</div>
