﻿<style>
    .modal {
        z-index: 1055;
    }
</style>
<div class="modal" style="width: 100%">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header modal-primary">
                <div class="modal-title">
                    <div class="col-sm-12"><span class="bs_widget_beschriftungen bs-dialog-title" data-bind="text: widget.dialogTitle"></span><button class="btn btn-xs btn-default normal btn_close pull-right" data-dismiss="modal" aria-hidden="true" data-bind="click: close">X</button></div>
                </div>
            </div>
            <div class="bs-modal-body">
                <!-- 1.Zeile ***************************************************************************************************************************************************************************************************-->
                <div class="row bs-widget-room-row">
                    <!-- Raumtemperatur -->
                    <div style="padding-top:2px;" class="col-lg-3 bs_widget_beschriftungen">Raumtemperatur:</div>
                    <div style="padding-top:2px;" class="col-lg-1" data-bind="bsAusgabefeld: { signalName: widget.roomtemp, typ: 'istwert', einheit: widget.einheit }">???</div>
                    <!-- Vorwahl -->
                    <div style="padding-top:2px;" class="col-lg-2 col-lg-offset-2 bs_widget_beschriftungen">Nutzung:</div>
                    <div style="margin-right:19px;" class="col-lg-1 col-lg-offset-1"><wf-button params="signalName: widget.roomvorwahlbereit, writeValue: 1, buttonText: 'Bereit', cssClass: 'btn-info btn-xs btn-info bs-widget-room-button', isTipModeEnabled: false"></wf-button></div>
                    <div class="col-lg-1"><wf-button params="signalName: widget.roomvorwahlbereit, writeValue: 0, buttonText: 'Eco', cssClass: 'btn-default btn-xs btn-success bs-widget-room-button', isTipModeEnabled: false"></wf-button></div>
                </div>
                <!-- 2.Zeile *************************************************************************************************************************************************************************************************** -->
                <div class="row bs-widget-room-row">
                    <!-- Basissollwert -->
                    <div class="col-lg-3 bs_widget_beschriftungen">Basissollwert [°C]:</div>
                    <div class="col-lg-2" data-bind="bsSollwertEingabe: { signalName: widget.basissollwert, typ: 'sollwert', einheit: widget.einheit }">???</div>
                    <!-- Betriebsart -->
                    <div class="col-lg-2 col-lg-offset-1 bs_widget_beschriftungen">Betriebsart:</div>
                    <div class="col-lg-2 col-lg-offset-1" data-bind="bsZustandsanzeige_1: { modulName: widget.roomstate, hintergrundTransparent: 'true',
                         zustaende: [
                         { vergleichswert: '0', farbe: 'color-state-1',  text: 'ECO'},
                         { vergleichswert: '1', farbe: 'color-state',  text: 'Bereit'}]}"></div>
                </div>
                <!-- 3.Zeile *************************************************************************************************************************************************************************************************** -->
                <div class="row bs-widget-room-row">
                    <!-- Raumkorrektur -->
                    <div class="col-lg-2 bs_widget_beschriftungen">Raumkorrektur:</div>
                    <div class="col-lg-2 col-lg-offset-1" data-bind="bsAusgabefeld: { signalName: widget.raumsollwertkorrektur, typ: 'sollwert', einheit: widget.Kelvin }">???</div>
                    <!-- Heizventil -->
                    <div class="col-lg-2 col-lg-offset-1 bs_widget_beschriftungen">Heizventil:</div>
                    <!-- Status -->
                    <div class="col-lg-2 col-lg-offset-1" data-bind="bsAusgabefeld: { signalName: widget.heizventilstate, typ: 'istwert', einheit: widget.prozent }">???</div> 
                </div>
                <!-- 4.Zeile *************************************************************************************************************************************************************************************************** -->
                <div class="row bs-widget-room-row">
                    <!-- Raumsollwert -->
                    <div class="col-lg-2 bs_widget_beschriftungen">Raumsollwert:</div>
                    <div class="col-lg-2 col-lg-offset-1" data-bind="bsAusgabefeld: { signalName: widget.raumsollwert, typ: 'sollwert', einheit: widget.einheit }">???</div>
                    <!-- Kuehlventil -->
                    <div class="col-lg-2 col-lg-offset-1 bs_widget_beschriftungen">Kühlventil:</div>
                    <!-- Status -->
                    <div class="col-lg-2 col-lg-offset-1" data-bind="bsAusgabefeld: { signalName: widget.kuehlventilstate, typ: 'istwert', einheit: widget.prozent }">???</div>
                </div>
                <!-- 5.Zeile *************************************************************************************************************************************************************************************************** -->
                <div class="row bs-widget-room-row">
                    <!-- Kommunikation -->
                    <div class="col-lg-2 bs_widget_beschriftungen">Kommunikation:</div>
                    <div class="col-lg-2 col-lg-offset-1" data-bind="bsZustandsanzeige_1: { modulName: widget.roomcontrolcommunication, hintergrundTransparent: 'true',
                         zustaende: [
                         { vergleichswert: '0', farbe: 'color-ein',  text: 'good'},
                         { vergleichswert: '1', farbe: 'color-fehler',  text: 'bad'}]}"></div>
                </div>
            </div>
        </div>
    </div>
</div>
