﻿<!-- ko if:hasAuthorization-->
    <div class="btn-group">
        <button type="button" class="dropdown-toggle" data-toggle="dropdown" data-bind="css: cssClass, attr : {title: tooltipText}">
            <i data-bind="css: iconClass, attr: {style: iconStyle}"></i>
            <span data-bind="text: selectedLanguageName, attr: {style: textStyle}"></span>
            <span class="caret"></span>
        </button>

        <ul class="dropdown-menu" role="menu" data-bind="foreach: availableLanguages, css: 'dropdown-menu-' + dropdownAlignment">
            <li><a data-bind="text: Name, click: function () { $parent.changeLanguage(Name, Id); }"></a></li>
        </ul>
    </div>
    <!--/ko-->