﻿<div class="container bs_content_container" style="width:100%">
    <header>
        <h1 class="page-header bs-header-mittig">Alarmübersicht</h1>
        <!--BUILDING CONTROL-->
    </header>
    <div class="col-lg-12">
        <div class="">
            <div>
                <wf-alarm-viewer params="{
                                 onlineAlarmsMode: true,
                                 updateRate: 1000,
                                 titleText: 'Alarmübersicht',
                                 maxRowCount: 10000,
                                 tableView: true,
                                 startOffset: 'days',
                                 startOffsetIntervall:'333',
                                 height: 700,
                                 alarmStatusFilter: 'Active'
                                 }" class="col-lg-12">
                </wf-alarm-viewer>
            </div>
        </div>
    </div>
</div>