﻿<div class="container-fluid">
    <h1 class="page-header">View example</h1>

    <div class="row">
        <div class="col-md-12">
            <div data-bind="wfLanguageDropdown: {}"></div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-md-12">
            <label> Widget</label>
            <div data-bind="wfDateTimePicker:{signalName:'dateTime'}"></div>
        </div>

        <div class="col-md-12">
            <label>Component</label>
            <wf-date-time-picker params="signalName:'dateTime'"></wf-date-time-picker>
        </div>
    </div>
</div>