﻿<div id="footer" class="navbar-fixed-bottom bs-footer_background">
    <div class="container-fluid hidden-xs">
        <div class="row" style="height: 115px; padding-top:15px">
            <!--Alarming-->
            <div class="col-lg-10 col-md-10 col-sm-10 bs-footer" data-bind="wfAlarmViewer: {
                 height: 85,
                 maxRowCount: 1,
                 headerVisibility: false,
                 tableView: true,
                 alarmStatusFilter: 'Active'}">
            </div>
            <!--Zeit-->
            <div class="col-lg-2 col-md-2 col-sm-2">
                <div data-bind="bsSystemZeit: {}">
                </div>
                <div class="bs-logo-veiso">
                </div>
            </div>
            <!--VEISO-LOGO-->
            
                
        </div>
    </div>
</div>
