﻿<div class="container-fluid">
    <div class="row wf-slider-wrapper">
        <div id="demos" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators hidden-sm hidden-xs">
                <li data-target="#demos" data-slide-to="0" class="active"></li>
                <li data-target="#demos" data-slide-to="1"></li>
                <li data-target="#demos" data-slide-to="2"></li>
                <li data-target="#demos" data-slide-to="3"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div id="wf-demo-production" class="item active">
                    <div class="row">
                        <div class="col-md-6">
                            <!--<img class="img-responsive" src="/images/presentation/production-demo.jpg" data-bind="imagePath: 'global'"/>-->

                            <div class="wf-slider-demo-image"></div>
                        </div>
                        <div class="col-md-6">
                            <div class="item-info-col">
                                <h2>
                                    WEBfactory i4SCADA HTML5/JS Demo<br /> Produktionsdaten für das Management
                                    <!--Production data for management-->

                                </h2>
                                <p>Ein Beispiel, wie Produktionsdaten, Maschinenzustände und KPI Daten online nahezu in Echtzeit
                                    plattform- und geräteunabhängig auch auf mobilen Geräten visualisiert werden können.</p>
                                <!--<p>An example of how Production data, Machine status and KPI data can be visualized in near real-time platforms and devices independently on mobile devices online.</p>-->
                                <br />
                                <a class="btn btn-lg btn-block btn-success" href="#/production"><i class="fa fa-external-link-square"></i>&nbsp;Zur DEMO</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="wf-demo-hvac" class="item">
                    <div class="row">
                        <div class="col-md-6">
                            <!--<img class="img-responsive" src="/images/presentation/building-demo.jpg" data-bind="imagePath: 'global'"/>-->
                            <div class="wf-slider-demo-image"></div>
                        </div>
                        <div class="col-md-6">
                            <div class="item-info-col">
                                <h2>
                                    WEBfactory i4SCADA HTML5/JS Demo<br /> Klassisches HVAC responsiv gedacht!
                                </h2>
                                <p>
                                    Ein Ausschnitt aus einer klassischen HVAC-Visualisierung - nur diesmal "responsive" umgesetzt.<br
                                    /> Durch die Ansätze von responsive Design erreicht man auch im technischen Bereich hohe
                                    Benutzerfreundlichkeit als auch optimierte Prozessvisualisierung - plattform- und geräteübergreifend.
                                </p>

                                <br />
                                <a class="btn btn-lg btn-block btn-primary" href="#/hvac"><i class="fa fa-external-link-square"></i>&nbsp;Zur DEMO</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="wf-demo-bhkw" class="item">
                    <div class="row">
                        <div class="col-md-6">
                            <!--<img class="img-responsive" src="/images/presentation/building-demo.jpg" data-bind="imagePath: 'global'"/>-->
                            <div class="wf-slider-demo-image"></div>
                        </div>
                        <div class="col-md-6">
                            <div class="item-info-col">
                                <h2>
                                    Blockheizkraftwerk (BHKW)
                                </h2>
                                <p>
                                    Prozess- und Energiefluss Visualisierung eines BHKW-Clusters.
                                </p>
                                <br />
                                <a class="btn btn-lg btn-block btn-danger" href="#/bhkw"><i class="fa fa-external-link-square"></i>&nbsp;Zur DEMO</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="wf-demo-smarthome" class="item">
                    <div class="row">
                        <div class="col-md-6">
                            <!--<img class="img-responsive" src="/images/presentation/building-demo.jpg" data-bind="imagePath: 'global'"/>-->
                            <div class="wf-slider-demo-image"></div>
                        </div>
                        <div class="col-md-6">
                            <div class="item-info-col">
                                <h2>
                                    WEBfactory HTML5/JS Demo<br /> Building automation Mobile
                                </h2>
                                <p>
                                    A demonstration in the field of building automation. <br /> In addition to reusable controls
                                    for light switching this demo also includes status indicators and an exemplary temperature
                                    curve (trend).
                                </p>
                                <br />
                                <a class="btn btn-lg btn-block btn-warning" href="#/building"><i class="fa fa-external-link-square"></i>&nbsp;Zur DEMO</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#demos" data-slide="prev">
                <i class="fa fa-angle-left fa-2x"></i>
            </a>
            <a class="right carousel-control" href="#demos" data-slide="next">
                <i class="fa fa-angle-right fa-2x"></i>
            </a>
        </div>
    </div>

    <div class="row m-y">
        <div class="col-xs-12 text-center">
            <h1 class="wf-ribbon wf-ribbon-r-b inline-block" style="width: auto">WEBfactory i4SCADA App HTML/JS Widgets - Highlights</h1>
        </div>
    </div>

    <div class="row m-y">
        <div class="col-sm-4 col-sm-6">
            <div class="item-info-col text-center">
                <a class="hexagon block" href="#/visualisation">
                    <i class="feature-icon wf wf-eye text-center"></i>
                </a>
                <h2 class="text-center">
                    Visualisieren
                    <!--Visualizing process data and system states-->
                </h2>

                <h4>Anzeigen von Prozessadaten und Anlagenzuständen</h4>

                <a class="btn btn-danger" href="#/visualisation">
                    <i class="fa fa-eye"></i> Beispiele für Bedienelemente
                    <!--Overview Status Indicators-->
                </a>
            </div>
        </div>

        <div class="col-sm-4 col-sm-6">
            <div class="item-info-col text-center">
                <a class="hexagon block" href="#control">
                    <i class="feature-icon wf wf-hand-o"></i>
                </a>
                <h2 class="text-center">
                    Bedienen
                    <!--Operation and writing process data-->
                </h2>

                <h4>Beschreiben von Prozessdatenpunkten</h4>

                <a class="btn btn-danger" href="#control">
                    <i class="fa fa-hand-o-up"></i> Beispiele für Bedienelemente
                    <!-- Overview control widgets-->
                </a>
            </div>
        </div>


        <div class="col-sm-4 col-sm-6">
            <div class="item-info-col text-center">
                <a class="hexagon block" href="#charts">
                    <i class="feature-icon fa fa-bar-chart-o"></i>
                </a>
                <h2 class="text-center">
                    Historische Daten
                    <!--Viewing historical data as a table and charts-->
                </h2>
                <h4>Anzeigen von historischen Daten als Tabelle und Charts</h4>
                <a class="btn btn-danger" href="#charts">
                    <i class="fa fa-bar-chart-o"></i> Beispiele für Bedienelemente
                    <!--Trends und Tabellen Widgets-->
                </a>
            </div>
        </div>


        <div class="col-sm-4 col-sm-6">
            <div class="item-info-col text-center">
                <a class="hexagon block" href="#alarms">
                    <i class="feature-icon wf-lg wf-alarm"></i>
                </a>
                <h2 class="text-center">
                    Alarme und Meldungen
                    <!--Viewing historical data as a table and charts-->
                </h2>
                <h4>Anzeigen und Quittieren von aktuellen und historischen Alarmierungen und Meldungen</h4>
                <a class="btn btn-danger" href="#alarms">
                    <i class="wf wf-alarm"></i> Beispiele für Bedienelemente
                </a>
            </div>
        </div>


        <div class="col-sm-4 col-sm-6">
            <div class="item-info-col text-center">
                <a class="hexagon block" href="#security">
                    <i class="feature-icon wf-lg wf-lock"></i>
                </a>
                <h2 class="text-center">
                    Sicherheit
                    <!--Viewing historical data as a table and charts-->
                </h2>
                <h4>Benutzer Login und Anzeigen in Abhängigkeit von Benutzerberechtigungen</h4>
                <a class="btn btn-danger" href="#security">
                    <i class="wf wf-lock"></i> Beispiele für Bedienelemente
                </a>
            </div>
        </div>

        <div class="col-sm-4 col-sm-6">
            <div class="item-info-col text-center">
                <a class="hexagon block" href="#icons">
                    <i class="feature-icon wf wf-light-bulb-eco"></i>
                </a>

                <h2 class="text-center">
                    WEBfactory Symbolbibliothek
                    <!--Viewing historical data as a table and charts-->
                </h2>
                <h4>WEBfactory Symbolbibliothek mit <strong>rund 800</strong> vektorbasierten Icons und Symbolen aus HVAC, Elektro-
                    und Prozesstechnik</h4>
                <a class="btn btn-danger" href="#icons">
                    <i class="wf wf-light-bulb-eco"></i> Icons Referenz
                    <!--Icons reference-->
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 text-center">
            <div class="inline-block">
                <h1 class="wf-ribbon wf-ribbon-l-b" style="width: auto">WEBfactory i4SCADA App Tutorials</h1>
            </div>

            <div class="row v-margin text-center">
                <div class="col-sm-4 col-sm-6">
                    <div class="item-tutorial-col">

                        <h2 class="text-center">
                            Dynamische Signalliste
                        </h2>

                        <h4>Dynamisch generierte Ausgabe von Signalwerten anhand von einem Signalnamen-Array</h4>

                        <a class="btn btn-warning" href="#tutorialSignals">
                            <i class="fa fa-eye"></i> Tutorial
                        </a>
                    </div>
                </div>
                <div class="col-sm-4 col-sm-6">
                    <div class="item-tutorial-col">

                        <h2 class="text-center">
                            Tutorial Knockout JS Grundlagen
                        </h2>

                        <h4>Grundlagen in der Anwendung des JavaScript Frameworks Knockout JS</h4>

                        <a class="btn btn-warning" href="#ko">
                            <i class="fa fa-eye"></i> Tutorial
                        </a>
                    </div>
                </div>
                <div class="col-sm-4 col-sm-6">
                    <div class="item-tutorial-col">

                        <h2 class="text-center">
                            Dynamische Navigationsrouten
                        </h2>

                        <h4>Tutorial für eine Navigation mit dynamischen Parametern</h4>

                        <a class="btn btn-warning" href="#tutorialsOverview">
                            <i class="fa fa-eye"></i> Tutorial
                        </a>
                    </div>
                </div>
            </div>
            <div class="row v-margin text-center">
                <div class="col-sm-4 col-sm-6">
                    <div class="item-tutorial-col">

                        <h2 class="text-center">
                            Historische Daten
                        </h2>

                        <h4>Tutorial für das Laden und Anzeigen von historischen Daten (LogTags)</h4>

                        <a class="btn btn-warning" href="#tutorialLogTags">
                            <i class="fa fa-eye"></i> Tutorial
                        </a>
                    </div>
                </div>
                <div class="col-sm-4 col-sm-6">
                    <div class="item-tutorial-col">

                        <h2 class="text-center">
                            Tutorial Dynamische Properties
                        </h2>

                        <h4>Tutorial für das dynamische Anzeigen von Coponenten</h4>

                        <a class="btn btn-warning" href="#tutorialDynamicProperties">
                            <i class="fa fa-eye"></i> Tutorial
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>