﻿<div class="container-fluid">
    
    <div class="wf-ribbon wf-ribbon-r-b v-margin">
     
            WEBfactory i4SCADA Icons and Symbols &copy;
            <button type="button" class="btn btn-sm btn-default" data-toggle="collapse"
                    data-bind="bsPopover: { template: 'icon-settings' , options: {  placement:  'bottom' }, data: { fontSize:  fontSize, cssClassNameVisible: cssClassNameVisible  }}">
                <span class="fa fa-cog"></span>
            </button>
       
    </div>


    <!-- Nav tabs -->
    <ul class="nav nav-tabs " role="tablist">
        <li role="presentation" class="active"><a href="#wf-icons-list" aria-controls="wf-icons-list" role="tab" data-toggle="tab">WEBfactory Icons</a></li>
        <li role="presentation"><a href="#wf-lg-icons-list" aria-controls="wf-lg-icons-list" role="tab" data-toggle="tab">WEBfactory Detailed Icons</a></li>
        <li role="presentation"><a href="#wf-hvac-icons-list" aria-controls="wf-hvac-icons-list" role="tab" data-toggle="tab">WEBfactory HVAC Symbols</a></li>
        <li role="presentation"><a href="#wf-electric-icons-list" aria-controls="wf-electric-icons-list" role="tab" data-toggle="tab">WEBfactory Electrotechnic Symbols</a></li>
        <li role="presentation"><a href="#wf-pid-icons-list" aria-controls="wf-pid-icons-list" role="tab" data-toggle="tab">WEBfactory P&ID Symbols</a></li>
        <li role="presentation"><a href="#wf-valves-icons-list" aria-controls="wf-valves-icons-list" role="tab" data-toggle="tab">WEBfactory Valves Symbols</a></li>
        <li role="presentation"><a href="#fa-icons-list" aria-controls="fa-icons-list" role="tab" data-toggle="tab">Font Awesome Icons</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <br/>

        <div role="tabpanel" class="tab-pane active" id="wf-icons-list">
            <div class="row">
                <h3 class="col-xs-12">WEBfactory Icon Fonts</h3>
            </div>
            <div class="row wf-icons-list" data-bind="foreach: wfIcons">

                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                    <div class="wf-icon-item">
                        <i data-bind="css: 'wf ' + $data, style: { fontSize: $parent.fontSize() + 'px' }"></i>
                        <span class="wf-icon-css-class label" data-bind="text: 'wf ' + $data, visible: $parent.cssClassNameVisible"></span>
                        <span class="wf-icon-index" data-bind="text:  $index()+1"></span>
                    </div>
                </div>
            </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="wf-lg-icons-list">
            <div class="row">
                <h3 class="col-xs-12">WEBfactory Icon Fonts - Detailed version</h3>
            </div>
            <div class="row wf-icons-list" data-bind="foreach: wfIcons">
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                    <div class="wf-icon-item">
                        <i data-bind="css: 'wf-lg ' + $data, style: { fontSize: $parent.fontSize() + 'px' }"></i>
                        <span class="wf-icon-css-class label" data-bind="text: 'wf-lg ' + $data, visible: $parent.cssClassNameVisible"></span>
                        <span class="wf-icon-index" data-bind="text: $index()+1"></span>
                    </div>
                </div>
            </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="fa-icons-list">
            <div class="row">
                <h3 class="col-xs-12">Font Awesome Icon Fonts</h3>
            </div>
            <div class="row wf-icons-list" data-bind="foreach: faIcons">

                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                    <div class="wf-icon-item">
                        <i data-bind="css: 'fa ' + $data, style: { fontSize: $parent.fontSize() + 'px' }"></i>
                        <span class="wf-icon-css-class label" data-bind="text: 'fa ' + $data, visible: $parent.cssClassNameVisible"></span>
                        <span class="wf-icon-index" data-bind="text: $index()+1"></span>
                    </div>
                </div>
            </div>

        </div>

        <div role="tabpanel" class="tab-pane" id="wf-hvac-icons-list">
            <div class="row">
                <h3 class="col-xs-12">WEBfactory HVAC Icon Fonts</h3>
            </div>
            <div class="row wf-icons-list" data-bind="foreach: hvacIcons">
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                    <div class="wf-icon-item">
                        <i data-bind="css: 'wf-hvac ' + $data, style: { fontSize: $parent.fontSize() + 'px' }"></i>
                        <span class="wf-icon-css-class label" data-bind="text: 'wf-hvac ' + $data, visible: $parent.cssClassNameVisible"></span>
                        <span class="wf-icon-index" data-bind="text: $index()+1"></span>
                    </div>
                </div>
            </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="wf-electric-icons-list">
            <div class="row">
                <h3 class="col-xs-12">WEBfactory Electrotechnic Icon Fonts</h3>
            </div>
            <div class="row wf-icons-list" data-bind="foreach: electricIcons">
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                    <div class="wf-icon-item">
                        <i data-bind="css: 'wf-electric ' + $data, style: { fontSize: $parent.fontSize() + 'px' }"></i>
                        <span class="wf-icon-css-class label" data-bind="text: 'wf-electric ' +  $data, visible: $parent.cssClassNameVisible"></span>
                        <span class="wf-icon-index" data-bind="text: $index()+1"></span>
                    </div>
                </div>
            </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="wf-pid-icons-list">
            <div class="row">
                <h3 class="col-xs-12">WEBfactory PID Icon Fonts</h3>
            </div>
            <div class="row wf-icons-list" data-bind="foreach: pidIcons">
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                    <div class="wf-icon-item">
                        <i data-bind="css: 'wf-pid ' + $data, style: { fontSize: $parent.fontSize() + 'px' }"></i>
                        <span class="wf-icon-css-class label" data-bind="text: 'wf-pid ' + $data, visible: $parent.cssClassNameVisible"></span>
                        <span class="wf-icon-index" data-bind="text: $index()+1"></span>
                    </div>
                </div>
            </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="wf-valves-icons-list">
            <div class="row">
                <h3 class="col-xs-12">WEBfactory Pump Icon Fonts</h3>
            </div>
            <div class="row wf-icons-list" data-bind="foreach: valvesIcons">
                <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                    <div class="wf-icon-item">
                        <i data-bind="css: 'wf-valves ' + $data, style: { fontSize: $parent.fontSize() + 'px' }"></i>
                        <span class="wf-icon-css-class label" data-bind="text: 'wf-valves ' + $data, visible: $parent.cssClassNameVisible"></span>
                        <span class="wf-icon-index" data-bind="text: $index()+1"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<script id="icon-settings" type="text/html">

    <div style="color: #555; font-size: 14px;">
        <h5>Icons size</h5>
        <div class="form-group">
            <div class="input-group">
                <input type="number" class="form-control" data-bind="value: fontSize" />
                <span class="input-group-addon">px</span>
            </div>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" data-bind="checked: cssClassNameVisible">
                View CSS class names
            </label>
        </div>
    </div>

</script>