﻿<div class="container bs-content-container" style="width:100%">
    <header>
        <h1 class="page-header text-center">Kontakt</h1>
        <!--BUILDING CONTROL-->
    </header>

    <div class="#">
        <h2>Bühler + Scherler AG</h2>
        <h2>Breitfeldstrasse 13, 9015 St. Gallen</h2>
        <h2><a text-decoration none; href="tel:+41 71 313 98 00">+41 71 313 98 00</a></h2>
        <h2><a text-decoration none; href="http://www.buhler-scherler.com/">www.buhler-scherler.com</a></h2>
    </div>
    <div class="#">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2700.19097308307!2d9.308579151766613!3d47.4082160790698!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479ae05e0464a09f%3A0xf0de73ef4c046eaa!2sB%C3%BChler+%2B+Scherler+AG!5e0!3m2!1sde!2sch!4v1492297846223" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>