﻿<div class="container bs_content_container" style="width:100%">
    <header>
        <h1 class="page-header bs-header-mittig">Elektroschema</h1>
        <!--BUILDING CONTROL-->
    </header>
    <div class="col-lg-12">
        <div class="bs-schema">
            <div class="col-lg-3">
                <h4>Hotel:</h4><br><br />
                <a href="\lakefrontcenter\Content\pdf\elektroschemata\RA\899466A69_H1SL06_Rev02_080623.pdf" target="_blank">H1SL06 Lüftung L25 Bankett</a><br><br />
                <a href="\lakefrontcenter\Content\pdf\elektroschemata\RA\89 9466 A26-S-H5.SL04   Rev.1.1.pdf" target="_blank">H5SL04 Lüftung L23 Sauna Fitness</a><br><br />
                <a href="\lakefrontcenter\Content\pdf\elektroschemata\RA\899466A69_HASE01_Rev02_081121.pdf" target="_blank">HASE01 Elektro Hotel</a><br><br />
                <a href="\lakefrontcenter\Content\pdf\elektroschemata\RA\HA_SK01_Heizung_Sanitär_Hotel.pdf" target="_blank">HASK01 Heizung Sanitär</a><br><br />
                <a href="\lakefrontcenter\Content\pdf\elektroschemata\RA\HASL03.pdf" target="_blank">HASL03 Lüftung L13 Küche</a><br><br />
                <a href="\lakefrontcenter\Content\pdf\elektroschemata\RA\HA_SL05_Lüftung_Wäscherei_UG.pdf" target="_blank">HASL05 Lüftung L24 Wäscherei</a><br><br />
                <a href="\lakefrontcenter\Content\pdf\elektroschemata\RA\89 9466 A26-S-2   Rev.06.pdf" target="_blank">HASL01 Lüftung Hotel</a><br><br />
                <a href="\lakefrontcenter\Content\pdf\elektroschemata\RA\861_19240_A27_01_ERR_Rev.0.2.pdf" target="_blank">ERR Hotelzimmer</a><br><br />
                <a href="\lakefrontcenter\Content\pdf\elektroschemata\RA\861_19240_A27_01_ERR_Business_Rev.0.0.pdf" target="_blank">ERR Hotelzimmer (Business)</a><br><br />
            </div>
            <div class="col-lg-3">
                <h4>Business:</h4><br><br />
                <a href="\lakefrontcenter\Content\pdf\elektroschemata\RA\B6_SH03_Heizung_Sanitär_Wohnung.pdf" target="_blank">B6SH03 Heizung Sanitär Wohnungen</a><br><br />
                <a href="\lakefrontcenter\Content\pdf\elektroschemata\RA\BA_SE01_Elektro_Allgemein.pdf" target="_blank">BASE01 Elektro Allgemein</a><br><br />
                <a href="\lakefrontcenter\Content\pdf\elektroschemata\RA\BASH01_Rev05_20101116.pdf" target="_blank">BASH01 Wärmeerzeugung H01</a><br><br />
                <a href="\lakefrontcenter\Content\pdf\elektroschemata\RA\899466A69_BASH02_Rev04_081121.pdf" target="_blank">BASH02 Heizung Kälte Allgemein</a><br><br />
                <a href="\lakefrontcenter\Content\pdf\elektroschemata\RA\BASL01.pdf" target="_blank">BASL01 Lüftung Allgemein</a><br><br />
                <a href="\lakefrontcenter\Content\pdf\elektroschemata\RA\Einzelraumregler_ERR_Business.pdf" target="_blank">ERR Business Büro / Schule</a><br><br />
            </div>
            <!-- Workaround um den Bug in der Benutzeranmeldung zu korrigieren -->
            <wf-button style="visibility: hidden;" params="signalName: 'Setpoint 1', writeValue: 1, buttonText: 'Write Value :1', cssClass: 'btn-success', projectAuthorization: 'irgendeinWert'"></wf-button>        </div>
    </div>
</div>