﻿<div class="container bs_content_container" style="width:100%">
    <header>
        <h1 class="page-header bs-header-mittig">Topologie</h1>
        <!--BUILDING CONTROL-->
    </header>
    <div class="col-lg-12">
            <div class="bs-schema">
                <div class="col-lg-3">
                    <h4>Topologie:</h4><br><br />
                    <a href="\lakefrontcenter\Content\pdf\topologie\Netzwerk_Topologie .pdf" target="_blank">Topologie 2018</a><br><br />
                </div>
                <div class="col-lg-3">
                    <h4>IP Liste:</h4><br><br />
                    <a href="\lakefrontcenter\Content\pdf\topologie\IP_liste_2018.pdf" target="_blank">IP Liste 2018</a><br><br />
                </div>
            <!-- Workaround um den Bug in der Benutzeranmeldung zu korrigieren -->
            <wf-button style="visibility: hidden;" params="signalName: 'Setpoint 1', writeValue: 1, buttonText: 'Write Value :1', cssClass: 'btn-success', projectAuthorization: 'irgendeinWert'"></wf-button>
    </div>
</div>