﻿<div class="container bs_content_container" style="width:100%">
    <header>
        <h1 class="page-header bs-header-mittig">Trending</h1>
        <!--BUILDING CONTROL-->
    </header>
    <div class="col-lg-12">
        <div class="">
            <div>
                <wf-chart-1 params="{ lines: [],
                                chartHeight: 600,
                                statisticsVisibility: true,
                                subChartVisible: true,
                                autoUpdate: true,
                                updateRate: 10000,
                                title: 'Trend',
                                maxResults: 3000,
                                chartType: 'line',
                                initialConfiguration: 'Trend',
                                zoomEnabled: false,
                                subChartVisible: false,
                                startOffset: 'days',
                                startOffsetIntervall: 2,
                                y1AxisColor: '#337AB7',
                                pointsVisible: true,
                                y2AxisColor: '#f0ad4e'
                                }" class="col-lg-12">
                </wf-chart-1>
            </div>
            <!-- Workaround um den Bug in der Benutzeranmeldung zu korrigieren -->
            <wf-button style="visibility: hidden;" params="signalName: 'Setpoint 1', writeValue: 1, buttonText: 'Write Value :1', cssClass: 'btn-success', projectAuthorization: 'irgendeinWert'"></wf-button>
        </div>
    </div>
</div>