﻿<!--****************************************************************************************************************************************************************************************************************************************************
    Bühler+Scherler
--------------------------------------------------------------------------------------------------------------------------


--------------------------------------------------------------------------------------------------------------------------
ERSTELLT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0		R.Brunnschweiler	BS                  10.07.2017
GEÄNDERT:
VERSION:	AUTOR:				FIRMA:				DATUM:



********************************************************************************************************************************************************************************************************************************************************-->
<div class="container bs_content_container">
    <header>
        <h1 class="page-header bs-header-mittig">Alarmaktivierung Türüberwachung</h1>
        <!--BUILDING CONTROL-->
    </header>
    <div class="col-lg-12">
        <div class="">
            <div class="row center-horizontal">
                <div class="col-lg-1 col-md-2 col-sm-2">
                    <div class="bs-fussbodenheizung">
                        <div class="bs-beschriftung-medium bs-horizontaldivider text-center">UG1 Türe 905</div>
                        <div class="bs-fussbodenheizung-1">
                            <wf-button params="signalName: 'Station_44.Flag.en_al_143_ug1_Tuer_905', writeValue: 1, buttonText: 'EIN', cssClass: 'btn-default btn-md btn-success bs-button-al', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-2">
                            <wf-button params="signalName: 'Station_44.Flag.en_al_143_ug1_Tuer_905', writeValue: 0, buttonText: 'AUS', cssClass: 'btn-default btn-md btn-danger bs-button-al', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-5" title="Status Tür" data-bind="bsZustandsanzeige_lfc: {
                 authorisierung: 'Administration' ,
                 modulName: 'Station_44.Flag.en_al_143_ug1_Tuer_905' ,
                 hintergrundTransparent: 'true' ,
                 zustaende: [
                { vergleichswert: '0', farbe: 'color-aus',  text: 'AUS'},
                { vergleichswert: '1', farbe: 'color-ein',  text: 'EIN'},
                ]
                }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-1 col-md-2 col-sm-2">
                    <div class="bs-fussbodenheizung">
                        <div class="bs-beschriftung-medium bs-horizontaldivider text-center">UG1 Türe 917</div>
                        <div class="bs-fussbodenheizung-1">
                            <wf-button params="signalName: 'Station_44.Flag.en_al_144_ug1_Tuer_917', writeValue: 1, buttonText: 'EIN', cssClass: 'btn-default btn-md btn-success bs-button-al', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-2">
                            <wf-button params="signalName: 'Station_44.Flag.en_al_144_ug1_Tuer_917', writeValue: 0, buttonText: 'AUS', cssClass: 'btn-default btn-md btn-danger bs-button-al', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-5" title="Status Tür" data-bind="bsZustandsanzeige_lfc: {
                 authorisierung: 'Administration' ,
                 modulName: 'Station_44.Flag.en_al_144_ug1_Tuer_917' ,
                 hintergrundTransparent: 'true' ,
                 zustaende: [
                { vergleichswert: '0', farbe: 'color-aus',  text: 'AUS'},
                { vergleichswert: '1', farbe: 'color-ein',  text: 'EIN'},
                ]
                }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-1 col-md-2 col-sm-2">
                    <div class="bs-fussbodenheizung">
                        <div class="bs-beschriftung-medium bs-horizontaldivider text-center">UG1 Türe 929</div>
                        <div class="bs-fussbodenheizung-1">
                            <wf-button params="signalName: 'Station_44.Flag.en_al_145_ug1_Tuer_929', writeValue: 1, buttonText: 'EIN', cssClass: 'btn-default btn-md btn-success bs-button-al', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-2">
                            <wf-button params="signalName: 'Station_44.Flag.en_al_145_ug1_Tuer_929', writeValue: 0, buttonText: 'AUS', cssClass: 'btn-default btn-md btn-danger bs-button-al', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-5" title="Status Tür" data-bind="bsZustandsanzeige_lfc: {
                 authorisierung: 'Administration' ,
                 modulName: 'Station_44.Flag.en_al_145_ug1_Tuer_929' ,
                 hintergrundTransparent: 'true' ,
                 zustaende: [
                { vergleichswert: '0', farbe: 'color-aus',  text: 'AUS'},
                { vergleichswert: '1', farbe: 'color-ein',  text: 'EIN'},
                ]
                }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-1 col-md-2 col-sm-2">
                    <div class="bs-fussbodenheizung">
                        <div class="bs-beschriftung-medium bs-horizontaldivider text-center">UG1 Türe 948</div>
                        <div class="bs-fussbodenheizung-1">
                            <wf-button params="signalName: 'Station_44.Flag.en_al_146_ug1_Tuer_948', writeValue: 1, buttonText: 'EIN', cssClass: 'btn-default btn-md btn-success bs-button-al', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-2">
                            <wf-button params="signalName: 'Station_44.Flag.en_al_146_ug1_Tuer_948', writeValue: 0, buttonText: 'AUS', cssClass: 'btn-default btn-md btn-danger bs-button-al', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-5" title="Status Tür" data-bind="bsZustandsanzeige_lfc: {
                 authorisierung: 'Administration' ,
                 modulName: 'Station_44.Flag.en_al_146_ug1_Tuer_948' ,
                 hintergrundTransparent: 'true' ,
                 zustaende: [
                { vergleichswert: '0', farbe: 'color-aus',  text: 'AUS'},
                { vergleichswert: '1', farbe: 'color-ein',  text: 'EIN'},
                ]
                }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-1 col-md-2 col-sm-2">
                    <div class="bs-fussbodenheizung">
                        <div class="bs-beschriftung-medium bs-horizontaldivider text-center">UG1 Türe 957</div>
                        <div class="bs-fussbodenheizung-1">
                            <wf-button params="signalName: 'Station_44.Flag.en_al_147_ug1_Tuer_957', writeValue: 1, buttonText: 'EIN', cssClass: 'btn-default btn-md btn-success bs-button-al', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-2">
                            <wf-button params="signalName: 'Station_44.Flag.en_al_147_ug1_Tuer_957', writeValue: 0, buttonText: 'AUS', cssClass: 'btn-default btn-md btn-danger bs-button-al', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-5" title="Status Tür" data-bind="bsZustandsanzeige_lfc: {
                 authorisierung: 'Administration' ,
                 modulName: 'Station_44.Flag.en_al_147_ug1_Tuer_957' ,
                 hintergrundTransparent: 'true' ,
                 zustaende: [
                { vergleichswert: '0', farbe: 'color-aus',  text: 'AUS'},
                { vergleichswert: '1', farbe: 'color-ein',  text: 'EIN'},
                ]
                }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-1 col-md-2 col-sm-2">
                    <div class="bs-fussbodenheizung">
                        <div class="bs-beschriftung-medium bs-horizontaldivider text-center">UG1 Türe 958</div>
                        <div class="bs-fussbodenheizung-1">
                            <wf-button params="signalName: 'Station_44.Flag.en_al_148_ug1_Tuer_958', writeValue: 1, buttonText: 'EIN', cssClass: 'btn-default btn-md btn-success bs-button-al', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-2">
                            <wf-button params="signalName: 'Station_44.Flag.en_al_148_ug1_Tuer_958', writeValue: 0, buttonText: 'AUS', cssClass: 'btn-default btn-md btn-danger bs-button-al', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-5" title="Status Tür" data-bind="bsZustandsanzeige_lfc: {
                 authorisierung: 'Administration' ,
                 modulName: 'Station_44.Flag.en_al_148_ug1_Tuer_958' ,
                 hintergrundTransparent: 'true' ,
                 zustaende: [
                { vergleichswert: '0', farbe: 'color-aus',  text: 'AUS'},
                { vergleichswert: '1', farbe: 'color-ein',  text: 'EIN'},
                ]
                }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-1 col-md-2 col-sm-2">
                    <div class="bs-fussbodenheizung">
                        <div class="bs-beschriftung-medium bs-horizontaldivider text-center">EG00 Türe 001</div>
                        <div class="bs-fussbodenheizung-1">
                            <wf-button params="signalName: 'Station_44.Flag.en_al_149_eg00_Tuer_001', writeValue: 1, buttonText: 'EIN', cssClass: 'btn-default btn-md btn-success bs-button-al', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-2">
                            <wf-button params="signalName: 'Station_44.Flag.en_al_149_eg00_Tuer_001', writeValue: 0, buttonText: 'AUS', cssClass: 'btn-default btn-md btn-danger bs-button-al', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-5" title="Status Tür" data-bind="bsZustandsanzeige_lfc: {
                 authorisierung: 'Administration' ,
                 modulName: 'Station_44.Flag.en_al_149_eg00_Tuer_001' ,
                 hintergrundTransparent: 'true' ,
                 zustaende: [
                { vergleichswert: '0', farbe: 'color-aus',  text: 'AUS'},
                { vergleichswert: '1', farbe: 'color-ein',  text: 'EIN'},
                ]
                }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-1 col-md-2 col-sm-2">
                    <div class="bs-fussbodenheizung">
                        <div class="bs-beschriftung-medium bs-horizontaldivider text-center">EG00 Türe 002</div>
                        <div class="bs-fussbodenheizung-1">
                            <wf-button params="signalName: 'Station_44.Flag.en_al_150_eg00_Tuer_002', writeValue: 1, buttonText: 'EIN', cssClass: 'btn-default btn-md btn-success bs-button-al', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-2">
                            <wf-button params="signalName: 'Station_44.Flag.en_al_150_eg00_Tuer_002', writeValue: 0, buttonText: 'AUS', cssClass: 'btn-default btn-md btn-danger bs-button-al', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-5" title="Status Tür" data-bind="bsZustandsanzeige_lfc: {
                 authorisierung: 'Administration' ,
                 modulName: 'Station_44.Flag.en_al_150_eg00_Tuer_002' ,
                 hintergrundTransparent: 'true' ,
                 zustaende: [
                { vergleichswert: '0', farbe: 'color-aus',  text: 'AUS'},
                { vergleichswert: '1', farbe: 'color-ein',  text: 'EIN'},
                ]
                }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-1 col-md-2 col-sm-2">
                    <div class="bs-fussbodenheizung">
                        <div class="bs-beschriftung-medium bs-horizontaldivider text-center">EG00 Türe 004</div>
                        <div class="bs-fussbodenheizung-1">
                            <wf-button params="signalName: 'Station_44.Flag.en_al_151_eg00_Tuer_004', writeValue: 1, buttonText: 'EIN', cssClass: 'btn-default btn-md btn-success bs-button-al', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-2">
                            <wf-button params="signalName: 'Station_44.Flag.en_al_151_eg00_Tuer_004', writeValue: 0, buttonText: 'AUS', cssClass: 'btn-default btn-md btn-danger bs-button-al', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-5" title="Status Tür" data-bind="bsZustandsanzeige_lfc: {
                 authorisierung: 'Administration' ,
                 modulName: 'Station_44.Flag.en_al_151_eg00_Tuer_004' ,
                 hintergrundTransparent: 'true' ,
                 zustaende: [
                { vergleichswert: '0', farbe: 'color-aus',  text: 'AUS'},
                { vergleichswert: '1', farbe: 'color-ein',  text: 'EIN'},
                ]
                }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-1 col-md-2 col-sm-2">
                    <div class="bs-fussbodenheizung">
                        <div class="bs-beschriftung-medium bs-horizontaldivider text-center">EG00 Türe 005</div>
                        <div class="bs-fussbodenheizung-1">
                            <wf-button params="signalName: 'Station_44.Flag.en_al_152_eg00_Tuer_005', writeValue: 1, buttonText: 'EIN', cssClass: 'btn-default btn-md btn-success bs-button-al', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-2">
                            <wf-button params="signalName: 'Station_44.Flag.en_al_152_eg00_Tuer_005', writeValue: 0, buttonText: 'AUS', cssClass: 'btn-default btn-md btn-danger bs-button-al', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-5" title="Status Tür" data-bind="bsZustandsanzeige_lfc: {
                 authorisierung: 'Administration' ,
                 modulName: 'Station_44.Flag.en_al_152_eg00_Tuer_005' ,
                 hintergrundTransparent: 'true' ,
                 zustaende: [
                { vergleichswert: '0', farbe: 'color-aus',  text: 'AUS'},
                { vergleichswert: '1', farbe: 'color-ein',  text: 'EIN'},
                ]
                }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-1 col-md-2 col-sm-2">
                    <div class="bs-fussbodenheizung">
                        <div class="bs-beschriftung-medium bs-horizontaldivider text-center">EG00 Türe 010</div>
                        <div class="bs-fussbodenheizung-1">
                            <wf-button params="signalName: 'Station_44.Flag.en_al_153_eg00_Tuer_010', writeValue: 1, buttonText: 'EIN', cssClass: 'btn-default btn-md btn-success bs-button-al', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-2">
                            <wf-button params="signalName: 'Station_44.Flag.en_al_153_eg00_Tuer_010', writeValue: 0, buttonText: 'AUS', cssClass: 'btn-default btn-md btn-danger bs-button-al', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-5" title="Status Tür" data-bind="bsZustandsanzeige_lfc: {
                 authorisierung: 'Administration' ,
                 modulName: 'Station_44.Flag.en_al_153_eg00_Tuer_010' ,
                 hintergrundTransparent: 'true' ,
                 zustaende: [
                { vergleichswert: '0', farbe: 'color-aus',  text: 'AUS'},
                { vergleichswert: '1', farbe: 'color-ein',  text: 'EIN'},
                ]
                }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-1 col-md-2 col-sm-2">
                    <div class="bs-fussbodenheizung">
                        <div class="bs-beschriftung-medium bs-horizontaldivider text-center">EG00 Türe 011</div>
                        <div class="bs-fussbodenheizung-1">
                            <wf-button params="signalName: 'Station_44.Flag.en_al_154_eg00_Tuer_011', writeValue: 1, buttonText: 'EIN', cssClass: 'btn-default btn-md btn-success bs-button-al', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-2">
                            <wf-button params="signalName: 'Station_44.Flag.en_al_154_eg00_Tuer_011', writeValue: 0, buttonText: 'AUS', cssClass: 'btn-default btn-md btn-danger bs-button-al', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-5" title="Status Tür" data-bind="bsZustandsanzeige_lfc: {
                 authorisierung: 'Administration' ,
                 modulName: 'Station_44.Flag.en_al_154_eg00_Tuer_011' ,
                 hintergrundTransparent: 'true' ,
                 zustaende: [
                { vergleichswert: '0', farbe: 'color-aus',  text: 'AUS'},
                { vergleichswert: '1', farbe: 'color-ein',  text: 'EIN'},
                ]
                }">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row center-horizontal">
                <div class="col-lg-1 col-md-2 col-sm-2">
                    <div class="bs-fussbodenheizung">
                        <div class="bs-beschriftung-medium bs-horizontaldivider text-center">EG00 Türe 025</div>
                        <div class="bs-fussbodenheizung-1">
                            <wf-button params="signalName: 'Station_44.Flag.en_al_155_eg00_Tuer_025', writeValue: 1, buttonText: 'EIN', cssClass: 'btn-default btn-md btn-success bs-button-al', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-2">
                            <wf-button params="signalName: 'Station_44.Flag.en_al_155_eg00_Tuer_025', writeValue: 0, buttonText: 'AUS', cssClass: 'btn-default btn-md btn-danger bs-button-al', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-5" title="Status Tür" data-bind="bsZustandsanzeige_lfc: {
                 authorisierung: 'Administration' ,
                 modulName: 'Station_44.Flag.en_al_155_eg00_Tuer_025' ,
                 hintergrundTransparent: 'true' ,
                 zustaende: [
                { vergleichswert: '0', farbe: 'color-aus',  text: 'AUS'},
                { vergleichswert: '1', farbe: 'color-ein',  text: 'EIN'},
                ]
                }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-1 col-md-2 col-sm-2">
                    <div class="bs-fussbodenheizung">
                        <div class="bs-beschriftung-medium bs-horizontaldivider text-center">EG00 Türe 028</div>
                        <div class="bs-fussbodenheizung-1">
                            <wf-button params="signalName: 'Station_44.Flag.en_al_156_eg00_Tuer_028', writeValue: 1, buttonText: 'EIN', cssClass: 'btn-default btn-md btn-success bs-button-al', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-2">
                            <wf-button params="signalName: 'Station_44.Flag.en_al_156_eg00_Tuer_028', writeValue: 0, buttonText: 'AUS', cssClass: 'btn-default btn-md btn-danger bs-button-al', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-5" title="Status Tür" data-bind="bsZustandsanzeige_lfc: {
                 authorisierung: 'Administration' ,
                 modulName: 'Station_44.Flag.en_al_156_eg00_Tuer_028' ,
                 hintergrundTransparent: 'true' ,
                 zustaende: [
                { vergleichswert: '0', farbe: 'color-aus',  text: 'AUS'},
                { vergleichswert: '1', farbe: 'color-ein',  text: 'EIN'},
                ]
                }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-1 col-md-2 col-sm-2">
                    <div class="bs-fussbodenheizung">
                        <div class="bs-beschriftung-medium bs-horizontaldivider text-center">OG01 Türe 107</div>
                        <div class="bs-fussbodenheizung-1">
                            <wf-button params="signalName: 'Station_44.Flag.en_al_157_og01_Tuer_107', writeValue: 1, buttonText: 'EIN', cssClass: 'btn-default btn-md btn-success bs-button-al', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-2">
                            <wf-button params="signalName: 'Station_44.Flag.en_al_157_og01_Tuer_107', writeValue: 0, buttonText: 'AUS', cssClass: 'btn-default btn-md btn-danger bs-button-al', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-5" title="Status Tür" data-bind="bsZustandsanzeige_lfc: {
                 authorisierung: 'Administration' ,
                 modulName: 'Station_44.Flag.en_al_157_og01_Tuer_107' ,
                 hintergrundTransparent: 'true' ,
                 zustaende: [
                { vergleichswert: '0', farbe: 'color-aus',  text: 'AUS'},
                { vergleichswert: '1', farbe: 'color-ein',  text: 'EIN'},
                ]
                }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-1 col-md-2 col-sm-2">
                    <div class="bs-fussbodenheizung">
                        <div class="bs-beschriftung-medium bs-horizontaldivider text-center">OG01 Türe 108</div>
                        <div class="bs-fussbodenheizung-1">
                            <wf-button params="signalName: 'Station_44.Flag.en_al_158_og01_Tuer_108', writeValue: 1, buttonText: 'EIN', cssClass: 'btn-default btn-md btn-success bs-button-al', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-2">
                            <wf-button params="signalName: 'Station_44.Flag.en_al_158_og01_Tuer_108', writeValue: 0, buttonText: 'AUS', cssClass: 'btn-default btn-md btn-danger bs-button-al', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-5" title="Status Tür" data-bind="bsZustandsanzeige_lfc: {
                 authorisierung: 'Administration' ,
                 modulName: 'Station_44.Flag.en_al_158_og01_Tuer_108' ,
                 hintergrundTransparent: 'true' ,
                 zustaende: [
                { vergleichswert: '0', farbe: 'color-aus',  text: 'AUS'},
                { vergleichswert: '1', farbe: 'color-ein',  text: 'EIN'},
                ]
                }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-1 col-md-2 col-sm-2">
                    <div class="bs-fussbodenheizung">
                        <div class="bs-beschriftung-medium bs-horizontaldivider text-center">OG01 Türe 110</div>
                        <div class="bs-fussbodenheizung-1">
                            <wf-button params="signalName: 'Station_44.Flag.en_al_159_og01_Tuer_110', writeValue: 1, buttonText: 'EIN', cssClass: 'btn-default btn-md btn-success bs-button-al', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-2">
                            <wf-button params="signalName: 'Station_44.Flag.en_al_159_og01_Tuer_110', writeValue: 0, buttonText: 'AUS', cssClass: 'btn-default btn-md btn-danger bs-button-al', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-5" title="Status Tür" data-bind="bsZustandsanzeige_lfc: {
                 authorisierung: 'Administration' ,
                 modulName: 'Station_44.Flag.en_al_159_og01_Tuer_110' ,
                 hintergrundTransparent: 'true' ,
                 zustaende: [
                { vergleichswert: '0', farbe: 'color-aus',  text: 'AUS'},
                { vergleichswert: '1', farbe: 'color-ein',  text: 'EIN'},
                ]
                }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-1 col-md-2 col-sm-2">
                    <div class="bs-fussbodenheizung">
                        <div class="bs-beschriftung-medium bs-horizontaldivider text-center">OG01 Türe 111</div>
                        <div class="bs-fussbodenheizung-1">
                            <wf-button params="signalName: 'Station_44.Flag.en_al_160_og01_Tuer_111', writeValue: 1, buttonText: 'EIN', cssClass: 'btn-default btn-md btn-success bs-button-al', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-2">
                            <wf-button params="signalName: 'Station_44.Flag.en_al_160_og01_Tuer_111', writeValue: 0, buttonText: 'AUS', cssClass: 'btn-default btn-md btn-danger bs-button-al', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-5" title="Status Tür" data-bind="bsZustandsanzeige_lfc: {
                 authorisierung: 'Administration' ,
                 modulName: 'Station_44.Flag.en_al_160_og01_Tuer_111' ,
                 hintergrundTransparent: 'true' ,
                 zustaende: [
                { vergleichswert: '0', farbe: 'color-aus',  text: 'AUS'},
                { vergleichswert: '1', farbe: 'color-ein',  text: 'EIN'},
                ]
                }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-1 col-md-2 col-sm-2">
                    <div class="bs-fussbodenheizung">
                        <div class="bs-beschriftung-medium bs-horizontaldivider text-center">OG01 Türe 137</div>
                        <div class="bs-fussbodenheizung-1">
                            <wf-button params="signalName: 'Station_44.Flag.en_al_183_og01_tuer_137', writeValue: 1, buttonText: 'EIN', cssClass: 'btn-default btn-md btn-success bs-button-al', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-2">
                            <wf-button params="signalName: 'Station_44.Flag.en_al_183_og01_tuer_137', writeValue: 0, buttonText: 'AUS', cssClass: 'btn-default btn-md btn-danger bs-button-al', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-5" title="Status Tür" data-bind="bsZustandsanzeige_lfc: {
                 authorisierung: 'Administration' ,
                 modulName: 'Station_44.Flag.en_al_183_og01_tuer_137' ,
                 hintergrundTransparent: 'true' ,
                 zustaende: [
                { vergleichswert: '0', farbe: 'color-aus',  text: 'AUS'},
                { vergleichswert: '1', farbe: 'color-ein',  text: 'EIN'},
                ]
                }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-1 col-md-2 col-sm-2">
                    <div class="bs-fussbodenheizung">
                        <div class="bs-beschriftung-medium bs-horizontaldivider text-center">OG01 Türe 141</div>
                        <div class="bs-fussbodenheizung-1">
                            <wf-button params="signalName: 'Station_44.Flag.en_al_184_og01_tuer_141', writeValue: 1, buttonText: 'EIN', cssClass: 'btn-default btn-md btn-success bs-button-al', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-2">
                            <wf-button params="signalName: 'Station_44.Flag.en_al_184_og01_tuer_141', writeValue: 0, buttonText: 'AUS', cssClass: 'btn-default btn-md btn-danger bs-button-al', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-5" title="Status Tür" data-bind="bsZustandsanzeige_lfc: {
                 authorisierung: 'Administration' ,
                 modulName: 'Station_44.Flag.en_al_184_og01_tuer_141' ,
                 hintergrundTransparent: 'true' ,
                 zustaende: [
                { vergleichswert: '0', farbe: 'color-aus',  text: 'AUS'},
                { vergleichswert: '1', farbe: 'color-ein',  text: 'EIN'},
                ]
                }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-1 col-md-2 col-sm-2">
                    <div class="bs-fussbodenheizung">
                        <div class="bs-beschriftung-medium bs-horizontaldivider text-center">OG02 Türe 205</div>
                        <div class="bs-fussbodenheizung-1">
                            <wf-button params="signalName: 'Station_44.Flag.en_al_161_og02_Tuer_205', writeValue: 1, buttonText: 'EIN', cssClass: 'btn-default btn-md btn-success bs-button-al', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-2">
                            <wf-button params="signalName: 'Station_44.Flag.en_al_161_og02_Tuer_205', writeValue: 0, buttonText: 'AUS', cssClass: 'btn-default btn-md btn-danger bs-button-al', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-5" title="Status Tür" data-bind="bsZustandsanzeige_lfc: {
                 authorisierung: 'Administration' ,
                 modulName: 'Station_44.Flag.en_al_161_og02_Tuer_205' ,
                 hintergrundTransparent: 'true' ,
                 zustaende: [
                { vergleichswert: '0', farbe: 'color-aus',  text: 'AUS'},
                { vergleichswert: '1', farbe: 'color-ein',  text: 'EIN'},
                ]
                }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-1 col-md-2 col-sm-2">
                    <div class="bs-fussbodenheizung">
                        <div class="bs-beschriftung-medium bs-horizontaldivider text-center">OG02 Türe 206</div>
                        <div class="bs-fussbodenheizung-1">
                            <wf-button params="signalName: 'Station_44.Flag.en_al_162_og02_Tuer_206', writeValue: 1, buttonText: 'EIN', cssClass: 'btn-default btn-md btn-success bs-button-al', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-2">
                            <wf-button params="signalName: 'Station_44.Flag.en_al_162_og02_Tuer_206', writeValue: 0, buttonText: 'AUS', cssClass: 'btn-default btn-md btn-danger bs-button-al', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-5" title="Status Tür" data-bind="bsZustandsanzeige_lfc: {
                 authorisierung: 'Administration' ,
                 modulName: 'Station_44.Flag.en_al_162_og02_Tuer_206' ,
                 hintergrundTransparent: 'true' ,
                 zustaende: [
                { vergleichswert: '0', farbe: 'color-aus',  text: 'AUS'},
                { vergleichswert: '1', farbe: 'color-ein',  text: 'EIN'},
                ]
                }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-1 col-md-2 col-sm-2">
                    <div class="bs-fussbodenheizung">
                        <div class="bs-beschriftung-medium bs-horizontaldivider text-center">OG02 Türe 207</div>
                        <div class="bs-fussbodenheizung-1">
                            <wf-button params="signalName: 'Station_44.Flag.en_al_163_og02_Tuer_207', writeValue: 1, buttonText: 'EIN', cssClass: 'btn-default btn-md btn-success bs-button-al', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-2">
                            <wf-button params="signalName: 'Station_44.Flag.en_al_163_og02_Tuer_207', writeValue: 0, buttonText: 'AUS', cssClass: 'btn-default btn-md btn-danger bs-button-al', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-5" title="Status Tür" data-bind="bsZustandsanzeige_lfc: {
                 authorisierung: 'Administration' ,
                 modulName: 'Station_44.Flag.en_al_163_og02_Tuer_207' ,
                 hintergrundTransparent: 'true' ,
                 zustaende: [
                { vergleichswert: '0', farbe: 'color-aus',  text: 'AUS'},
                { vergleichswert: '1', farbe: 'color-ein',  text: 'EIN'},
                ]
                }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-1 col-md-2 col-sm-2">
                    <div class="bs-fussbodenheizung">
                        <div class="bs-beschriftung-medium bs-horizontaldivider text-center">OG02 Türe 212</div>
                        <div class="bs-fussbodenheizung-1">
                            <wf-button params="signalName: 'Station_44.Flag.en_al_176_og04_Tuer_452', writeValue: 1, buttonText: 'EIN', cssClass: 'btn-default btn-md btn-success bs-button-al', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-2">
                            <wf-button params="signalName: 'Station_44.Flag.en_al_176_og04_Tuer_452', writeValue: 0, buttonText: 'AUS', cssClass: 'btn-default btn-md btn-danger bs-button-al', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-5" title="Status Tür" data-bind="bsZustandsanzeige_lfc: {
                 authorisierung: 'Administration' ,
                 modulName: 'Station_44.Flag.en_al_176_og04_Tuer_452' ,
                 hintergrundTransparent: 'true' ,
                 zustaende: [
                { vergleichswert: '0', farbe: 'color-aus',  text: 'AUS'},
                { vergleichswert: '1', farbe: 'color-ein',  text: 'EIN'},
                ]
                }">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row center-horizontal">
                <div class="col-lg-1 col-md-2 col-sm-2">
                    <div class="bs-fussbodenheizung">
                        <div class="bs-beschriftung-medium bs-horizontaldivider text-center">OG02 Türe 213</div>
                        <div class="bs-fussbodenheizung-1">
                            <wf-button params="signalName: 'Station_44.Flag.en_al_176_og04_Tuer_452', writeValue: 1, buttonText: 'EIN', cssClass: 'btn-default btn-md btn-success bs-button-al', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-2">
                            <wf-button params="signalName: 'Station_44.Flag.en_al_176_og04_Tuer_452', writeValue: 0, buttonText: 'AUS', cssClass: 'btn-default btn-md btn-danger bs-button-al', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-5" title="Status Tür" data-bind="bsZustandsanzeige_lfc: {
                 authorisierung: 'Administration' ,
                 modulName: 'Station_44.Flag.en_al_176_og04_Tuer_452' ,
                 hintergrundTransparent: 'true' ,
                 zustaende: [
                { vergleichswert: '0', farbe: 'color-aus',  text: 'AUS'},
                { vergleichswert: '1', farbe: 'color-ein',  text: 'EIN'},
                ]
                }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-1 col-md-2 col-sm-2">
                    <div class="bs-fussbodenheizung">
                        <div class="bs-beschriftung-medium bs-horizontaldivider text-center">OG02 Türe 214</div>
                        <div class="bs-fussbodenheizung-1">
                            <wf-button params="signalName: 'Station_44.Flag.en_al_166_og02_Tuer_214', writeValue: 1, buttonText: 'EIN', cssClass: 'btn-default btn-md btn-success bs-button-al', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-2">
                            <wf-button params="signalName: 'Station_44.Flag.en_al_166_og02_Tuer_214', writeValue: 0, buttonText: 'AUS', cssClass: 'btn-default btn-md btn-danger bs-button-al', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-5" title="Status Tür" data-bind="bsZustandsanzeige_lfc: {
                 authorisierung: 'Administration' ,
                 modulName: 'Station_44.Flag.en_al_166_og02_Tuer_214' ,
                 hintergrundTransparent: 'true' ,
                 zustaende: [
                { vergleichswert: '0', farbe: 'color-aus',  text: 'AUS'},
                { vergleichswert: '1', farbe: 'color-ein',  text: 'EIN'},
                ]
                }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-1 col-md-2 col-sm-2">
                    <div class="bs-fussbodenheizung">
                        <div class="bs-beschriftung-medium bs-horizontaldivider text-center">OG03 Türe 345</div>
                        <div class="bs-fussbodenheizung-1">
                            <wf-button params="signalName: 'Station_44.Flag.en_al_167_og03_Tuer_345', writeValue: 1, buttonText: 'EIN', cssClass: 'btn-default btn-md btn-success bs-button-al', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-2">
                            <wf-button params="signalName: 'Station_44.Flag.en_al_167_og03_Tuer_345', writeValue: 0, buttonText: 'AUS', cssClass: 'btn-default btn-md btn-danger bs-button-al', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-5" title="Status Tür" data-bind="bsZustandsanzeige_lfc: {
                 authorisierung: 'Administration' ,
                 modulName: 'Station_44.Flag.en_al_167_og03_Tuer_345' ,
                 hintergrundTransparent: 'true' ,
                 zustaende: [
                { vergleichswert: '0', farbe: 'color-aus',  text: 'AUS'},
                { vergleichswert: '1', farbe: 'color-ein',  text: 'EIN'},
                ]
                }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-1 col-md-2 col-sm-2">
                    <div class="bs-fussbodenheizung">
                        <div class="bs-beschriftung-medium bs-horizontaldivider text-center">OG03 Türe 346</div>
                        <div class="bs-fussbodenheizung-1">
                            <wf-button params="signalName: 'Station_44.Flag.en_al_168_og03_Tuer_346', writeValue: 1, buttonText: 'EIN', cssClass: 'btn-default btn-md btn-success bs-button-al', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-2">
                            <wf-button params="signalName: 'Station_44.Flag.en_al_168_og03_Tuer_346', writeValue: 0, buttonText: 'AUS', cssClass: 'btn-default btn-md btn-danger bs-button-al', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-5" title="Status Tür" data-bind="bsZustandsanzeige_lfc: {
                 authorisierung: 'Administration' ,
                 modulName: 'Station_44.Flag.en_al_168_og03_Tuer_346' ,
                 hintergrundTransparent: 'true' ,
                 zustaende: [
                { vergleichswert: '0', farbe: 'color-aus',  text: 'AUS'},
                { vergleichswert: '1', farbe: 'color-ein',  text: 'EIN'},
                ]
                }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-1 col-md-2 col-sm-2">
                    <div class="bs-fussbodenheizung">
                        <div class="bs-beschriftung-medium bs-horizontaldivider text-center">OG03 Türe 347</div>
                        <div class="bs-fussbodenheizung-1">
                            <wf-button params="signalName: 'Station_44.Flag.en_al_169_og03_Tuer_347', writeValue: 1, buttonText: 'EIN', cssClass: 'btn-default btn-md btn-success bs-button-al', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-2">
                            <wf-button params="signalName: 'Station_44.Flag.en_al_169_og03_Tuer_347', writeValue: 0, buttonText: 'AUS', cssClass: 'btn-default btn-md btn-danger bs-button-al', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-5" title="Status Tür" data-bind="bsZustandsanzeige_lfc: {
                 authorisierung: 'Administration' ,
                 modulName: 'Station_44.Flag.en_al_169_og03_Tuer_347' ,
                 hintergrundTransparent: 'true' ,
                 zustaende: [
                { vergleichswert: '0', farbe: 'color-aus',  text: 'AUS'},
                { vergleichswert: '1', farbe: 'color-ein',  text: 'EIN'},
                ]
                }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-1 col-md-2 col-sm-2">
                    <div class="bs-fussbodenheizung">
                        <div class="bs-beschriftung-medium bs-horizontaldivider text-center">OG03 Türe 350</div>
                        <div class="bs-fussbodenheizung-1">
                            <wf-button params="signalName: 'Station_44.Flag.en_al_170_og03_Tuer_350', writeValue: 1, buttonText: 'EIN', cssClass: 'btn-default btn-md btn-success bs-button-al', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-2">
                            <wf-button params="signalName: 'Station_44.Flag.en_al_170_og03_Tuer_350', writeValue: 0, buttonText: 'AUS', cssClass: 'btn-default btn-md btn-danger bs-button-al', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-5" title="Status Tür" data-bind="bsZustandsanzeige_lfc: {
                 authorisierung: 'Administration' ,
                 modulName: 'Station_44.Flag.en_al_170_og03_Tuer_350' ,
                 hintergrundTransparent: 'true' ,
                 zustaende: [
                { vergleichswert: '0', farbe: 'color-aus',  text: 'AUS'},
                { vergleichswert: '1', farbe: 'color-ein',  text: 'EIN'},
                ]
                }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-1 col-md-2 col-sm-2">
                    <div class="bs-fussbodenheizung">
                        <div class="bs-beschriftung-medium bs-horizontaldivider text-center">OG03 Türe 351</div>
                        <div class="bs-fussbodenheizung-1">
                            <wf-button params="signalName: 'Station_44.Flag.en_al_171_og03_Tuer_351', writeValue: 1, buttonText: 'EIN', cssClass: 'btn-default btn-md btn-success bs-button-al', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-2">
                            <wf-button params="signalName: 'Station_44.Flag.en_al_171_og03_Tuer_351', writeValue: 0, buttonText: 'AUS', cssClass: 'btn-default btn-md btn-danger bs-button-al', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-5" title="Status Tür" data-bind="bsZustandsanzeige_lfc: {
                 authorisierung: 'Administration' ,
                 modulName: 'Station_44.Flag.en_al_171_og03_Tuer_351' ,
                 hintergrundTransparent: 'true' ,
                 zustaende: [
                { vergleichswert: '0', farbe: 'color-aus',  text: 'AUS'},
                { vergleichswert: '1', farbe: 'color-ein',  text: 'EIN'},
                ]
                }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-1 col-md-2 col-sm-2">
                    <div class="bs-fussbodenheizung">
                        <div class="bs-beschriftung-medium bs-horizontaldivider text-center">OG04 Türe 445</div>
                        <div class="bs-fussbodenheizung-1">
                            <wf-button params="signalName: 'Station_44.Flag.en_al_172_og04_Tuer_445', writeValue: 1, buttonText: 'EIN', cssClass: 'btn-default btn-md btn-success bs-button-al', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-2">
                            <wf-button params="signalName: 'Station_44.Flag.en_al_172_og04_Tuer_445', writeValue: 0, buttonText: 'AUS', cssClass: 'btn-default btn-md btn-danger bs-button-al', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-5" title="Status Tür" data-bind="bsZustandsanzeige_lfc: {
                 authorisierung: 'Administration' ,
                 modulName: 'Station_44.Flag.en_al_172_og04_Tuer_445' ,
                 hintergrundTransparent: 'true' ,
                 zustaende: [
                { vergleichswert: '0', farbe: 'color-aus',  text: 'AUS'},
                { vergleichswert: '1', farbe: 'color-ein',  text: 'EIN'},
                ]
                }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-1 col-md-2 col-sm-2">
                    <div class="bs-fussbodenheizung">
                        <div class="bs-beschriftung-medium bs-horizontaldivider text-center">OG04 Türe 446</div>
                        <div class="bs-fussbodenheizung-1">
                            <wf-button params="signalName: 'Station_44.Flag.en_al_173_og04_Tuer_446', writeValue: 1, buttonText: 'EIN', cssClass: 'btn-default btn-md btn-success bs-button-al', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-2">
                            <wf-button params="signalName: 'Station_44.Flag.en_al_173_og04_Tuer_446', writeValue: 0, buttonText: 'AUS', cssClass: 'btn-default btn-md btn-danger bs-button-al', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-5" title="Status Tür" data-bind="bsZustandsanzeige_lfc: {
                 authorisierung: 'Administration' ,
                 modulName: 'Station_44.Flag.en_al_173_og04_Tuer_446' ,
                 hintergrundTransparent: 'true' ,
                 zustaende: [
                { vergleichswert: '0', farbe: 'color-aus',  text: 'AUS'},
                { vergleichswert: '1', farbe: 'color-ein',  text: 'EIN'},
                ]
                }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-1 col-md-2 col-sm-2">
                    <div class="bs-fussbodenheizung">
                        <div class="bs-beschriftung-medium bs-horizontaldivider text-center">OG04 Türe 447</div>
                        <div class="bs-fussbodenheizung-1">
                            <wf-button params="signalName: 'Station_44.Flag.en_al_174_og04_Tuer_447', writeValue: 1, buttonText: 'EIN', cssClass: 'btn-default btn-md btn-success bs-button-al', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-2">
                            <wf-button params="signalName: 'Station_44.Flag.en_al_174_og04_Tuer_447', writeValue: 0, buttonText: 'AUS', cssClass: 'btn-default btn-md btn-danger bs-button-al', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-5" title="Status Tür" data-bind="bsZustandsanzeige_lfc: {
                 authorisierung: 'Administration' ,
                 modulName: 'Station_44.Flag.en_al_174_og04_Tuer_447' ,
                 hintergrundTransparent: 'true' ,
                 zustaende: [
                { vergleichswert: '0', farbe: 'color-aus',  text: 'AUS'},
                { vergleichswert: '1', farbe: 'color-ein',  text: 'EIN'},
                ]
                }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-1 col-md-2 col-sm-2">
                    <div class="bs-fussbodenheizung">
                        <div class="bs-beschriftung-medium bs-horizontaldivider text-center">OG04 Türe 451</div>
                        <div class="bs-fussbodenheizung-1">
                            <wf-button params="signalName: 'Station_44.Flag.en_al_175_og04_Tuer_451', writeValue: 1, buttonText: 'EIN', cssClass: 'btn-default btn-md btn-success bs-button-al', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-2">
                            <wf-button params="signalName: 'Station_44.Flag.en_al_175_og04_Tuer_451', writeValue: 0, buttonText: 'AUS', cssClass: 'btn-default btn-md btn-danger bs-button-al', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-5" title="Status Tür" data-bind="bsZustandsanzeige_lfc: {
                 authorisierung: 'Administration' ,
                 modulName: 'Station_44.Flag.en_al_175_og04_Tuer_451' ,
                 hintergrundTransparent: 'true' ,
                 zustaende: [
                { vergleichswert: '0', farbe: 'color-aus',  text: 'AUS'},
                { vergleichswert: '1', farbe: 'color-ein',  text: 'EIN'},
                ]
                }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-1 col-md-2 col-sm-2">
                    <div class="bs-fussbodenheizung">
                        <div class="bs-beschriftung-medium bs-horizontaldivider text-center">OG04 Türe 452</div>
                        <div class="bs-fussbodenheizung-1">
                            <wf-button params="signalName: 'Station_44.Flag.en_al_176_og04_Tuer_452', writeValue: 1, buttonText: 'EIN', cssClass: 'btn-default btn-md btn-success bs-button-al', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-2">
                            <wf-button params="signalName: 'Station_44.Flag.en_al_176_og04_Tuer_452', writeValue: 0, buttonText: 'AUS', cssClass: 'btn-default btn-md btn-danger bs-button-al', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-5" title="Status Tür" data-bind="bsZustandsanzeige_lfc: {
                 authorisierung: 'Administration' ,
                 modulName: 'Station_44.Flag.en_al_176_og04_Tuer_452' ,
                 hintergrundTransparent: 'true' ,
                 zustaende: [
                { vergleichswert: '0', farbe: 'color-aus',  text: 'AUS'},
                { vergleichswert: '1', farbe: 'color-ein',  text: 'EIN'},
                ]
                }">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row center-horizontal">
                <div class="col-lg-1 col-md-2 col-sm-2">
                    <div class="bs-fussbodenheizung">
                        <div class="bs-beschriftung-medium bs-horizontaldivider text-center">OG05 Türe 540</div>
                        <div class="bs-fussbodenheizung-1">
                            <wf-button params="signalName: 'Station_44.Flag.en_al_177_og05_Tuer_540', writeValue: 1, buttonText: 'EIN', cssClass: 'btn-default btn-md btn-success bs-button-al', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-2">
                            <wf-button params="signalName: 'Station_44.Flag.en_al_177_og05_Tuer_540', writeValue: 0, buttonText: 'AUS', cssClass: 'btn-default btn-md btn-danger bs-button-al', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-5" title="Status Tür" data-bind="bsZustandsanzeige_lfc: {
                 authorisierung: 'Administration' ,
                 modulName: 'Station_44.Flag.en_al_177_og05_Tuer_540' ,
                 hintergrundTransparent: 'true' ,
                 zustaende: [
                { vergleichswert: '0', farbe: 'color-aus',  text: 'AUS'},
                { vergleichswert: '1', farbe: 'color-ein',  text: 'EIN'},
                ]
                }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-1 col-md-2 col-sm-2">
                    <div class="bs-fussbodenheizung">
                        <div class="bs-beschriftung-medium bs-horizontaldivider text-center">OG05 Türe 541</div>
                        <div class="bs-fussbodenheizung-1">
                            <wf-button params="signalName: 'Station_44.Flag.en_al_178_og05_Tuer_541', writeValue: 1, buttonText: 'EIN', cssClass: 'btn-default btn-md btn-success bs-button-al', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-2">
                            <wf-button params="signalName: 'Station_44.Flag.en_al_178_og05_Tuer_541', writeValue: 0, buttonText: 'AUS', cssClass: 'btn-default btn-md btn-danger bs-button-al', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-5" title="Status Tür" data-bind="bsZustandsanzeige_lfc: {
                 authorisierung: 'Administration' ,
                 modulName: 'Station_44.Flag.en_al_178_og05_Tuer_541' ,
                 hintergrundTransparent: 'true' ,
                 zustaende: [
                { vergleichswert: '0', farbe: 'color-aus',  text: 'AUS'},
                { vergleichswert: '1', farbe: 'color-ein',  text: 'EIN'},
                ]
                }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-1 col-md-2 col-sm-2">
                    <div class="bs-fussbodenheizung">
                        <div class="bs-beschriftung-medium bs-horizontaldivider text-center">OG05 Türe 542</div>
                        <div class="bs-fussbodenheizung-1">
                            <wf-button params="signalName: 'Station_44.Flag.en_al_179_og05_Tuer_542', writeValue: 1, buttonText: 'EIN', cssClass: 'btn-default btn-md btn-success bs-button-al', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-2">
                            <wf-button params="signalName: 'Station_44.Flag.en_al_179_og05_Tuer_542', writeValue: 0, buttonText: 'AUS', cssClass: 'btn-default btn-md btn-danger bs-button-al', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-5" title="Status Tür" data-bind="bsZustandsanzeige_lfc: {
                 authorisierung: 'Administration' ,
                 modulName: 'Station_44.Flag.en_al_179_og05_Tuer_542' ,
                 hintergrundTransparent: 'true' ,
                 zustaende: [
                { vergleichswert: '0', farbe: 'color-aus',  text: 'AUS'},
                { vergleichswert: '1', farbe: 'color-ein',  text: 'EIN'},
                ]
                }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-1 col-md-2 col-sm-2">
                    <div class="bs-fussbodenheizung">
                        <div class="bs-beschriftung-medium bs-horizontaldivider text-center">OG05 Türe 545</div>
                        <div class="bs-fussbodenheizung-1">
                            <wf-button params="signalName: 'Station_44.Flag.en_al_180_og05_Tuer_545', writeValue: 1, buttonText: 'EIN', cssClass: 'btn-default btn-md btn-success bs-button-al', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-2">
                            <wf-button params="signalName: 'Station_44.Flag.en_al_180_og05_Tuer_545', writeValue: 0, buttonText: 'AUS', cssClass: 'btn-default btn-md btn-danger bs-button-al', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-5" title="Status Tür" data-bind="bsZustandsanzeige_lfc: {
                 authorisierung: 'Administration' ,
                 modulName: 'Station_44.Flag.en_al_180_og05_Tuer_545' ,
                 hintergrundTransparent: 'true' ,
                 zustaende: [
                { vergleichswert: '0', farbe: 'color-aus',  text: 'AUS'},
                { vergleichswert: '1', farbe: 'color-ein',  text: 'EIN'},
                ]
                }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-1 col-md-2 col-sm-2">
                    <div class="bs-fussbodenheizung">
                        <div class="bs-beschriftung-medium bs-horizontaldivider text-center">OG05 Türe 546</div>
                        <div class="bs-fussbodenheizung-1">
                            <wf-button params="signalName: 'Station_44.Flag.en_al_181_og05_Tuer_546', writeValue: 1, buttonText: 'EIN', cssClass: 'btn-default btn-md btn-success bs-button-al', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-2">
                            <wf-button params="signalName: 'Station_44.Flag.en_al_181_og05_Tuer_546', writeValue: 0, buttonText: 'AUS', cssClass: 'btn-default btn-md btn-danger bs-button-al', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-5" title="Status Tür" data-bind="bsZustandsanzeige_lfc: {
                 authorisierung: 'Administration' ,
                 modulName: 'Station_44.Flag.en_al_181_og05_Tuer_546' ,
                 hintergrundTransparent: 'true' ,
                 zustaende: [
                { vergleichswert: '0', farbe: 'color-aus',  text: 'AUS'},
                { vergleichswert: '1', farbe: 'color-ein',  text: 'EIN'},
                ]
                }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-1 col-md-2 col-sm-2">
                    <div class="bs-fussbodenheizung">
                        <div class="bs-beschriftung-medium bs-horizontaldivider text-center">OG02 Türe 220</div>
                        <div class="bs-fussbodenheizung-1">
                            <wf-button params="signalName: 'Station_44.Flag.en_al_186_og02_tuer_220', writeValue: 1, buttonText: 'EIN', cssClass: 'btn-default btn-md btn-success bs-button-al', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-2">
                            <wf-button params="signalName: 'Station_44.Flag.en_al_186_og02_tuer_220', writeValue: 0, buttonText: 'AUS', cssClass: 'btn-default btn-md btn-danger bs-button-al', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-5" title="Status Tür" data-bind="bsZustandsanzeige_lfc: {
                 authorisierung: 'Administration' ,
                 modulName: 'Station_44.Flag.en_al_186_og02_tuer_220' ,
                 hintergrundTransparent: 'true' ,
                 zustaende: [
                { vergleichswert: '0', farbe: 'color-aus',  text: 'AUS'},
                { vergleichswert: '1', farbe: 'color-ein',  text: 'EIN'},
                ]
                }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-1 col-md-2 col-sm-2">
                    <div class="bs-fussbodenheizung">
                        <div class="bs-beschriftung-medium bs-horizontaldivider text-center">OG02 Türe 249</div>
                        <div class="bs-fussbodenheizung-1">
                            <wf-button params="signalName: 'Station_44.Flag.en_al_187_og02_tuer_249', writeValue: 1, buttonText: 'EIN', cssClass: 'btn-default btn-md btn-success bs-button-al', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-2">
                            <wf-button params="signalName: 'Station_44.Flag.en_al_187_og02_tuer_249', writeValue: 0, buttonText: 'AUS', cssClass: 'btn-default btn-md btn-danger bs-button-al', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-5" title="Status Tür" data-bind="bsZustandsanzeige_lfc: {
                 authorisierung: 'Administration' ,
                 modulName: 'Station_44.Flag.en_al_187_og02_tuer_249' ,
                 hintergrundTransparent: 'true' ,
                 zustaende: [
                { vergleichswert: '0', farbe: 'color-aus',  text: 'AUS'},
                { vergleichswert: '1', farbe: 'color-ein',  text: 'EIN'},
                ]
                }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-1 col-md-2 col-sm-2">
                    <div class="bs-fussbodenheizung">
                        <div class="bs-beschriftung-medium bs-horizontaldivider text-center">OG05 Türe 514</div>
                        <div class="bs-fussbodenheizung-1">
                            <wf-button params="signalName: 'Station_44.Flag.en_al_185_og05_tuer_514', writeValue: 1, buttonText: 'EIN', cssClass: 'btn-default btn-md btn-success bs-button-al', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-2">
                            <wf-button params="signalName: 'Station_44.Flag.en_al_185_og05_tuer_514', writeValue: 0, buttonText: 'AUS', cssClass: 'btn-default btn-md btn-danger bs-button-al', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-5" title="Status Tür" data-bind="bsZustandsanzeige_lfc: {
                 authorisierung: 'Administration' ,
                 modulName: 'Station_44.Flag.en_al_185_og05_tuer_514' ,
                 hintergrundTransparent: 'true' ,
                 zustaende: [
                { vergleichswert: '0', farbe: 'color-aus',  text: 'AUS'},
                { vergleichswert: '1', farbe: 'color-ein',  text: 'EIN'},
                ]
                }">
                        </div>
                    </div>
                </div>
            </div>
            <!--Seiten-Verlinkungen (Pfeile auf der Seite)-->
            <!-- Widgets -->
            <!-- Workaround um den Bug in der Benutzeranmeldung zu korrigieren -->
            <wf-button style="visibility: hidden;" params="signalName: 'Setpoint 1', writeValue: 1, buttonText: 'Write Value :1', cssClass: 'btn-success', projectAuthorization: 'irgendeinWert'"></wf-button>
        </div>
    </div>
</div>
