﻿<!--****************************************************************************************************************************************************************************************************************************************************
    Bühler+Scherler
--------------------------------------------------------------------------------------------------------------------------


--------------------------------------------------------------------------------------------------------------------------
ERSTELLT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0		R.Brunnschweiler	BS                  10.07.2017
GEÄNDERT:
VERSION:	AUTOR:				FIRMA:				DATUM:



********************************************************************************************************************************************************************************************************************************************************-->
<div class="container bs_content_container">
    <header>
        <h1 class="page-header bs-header-mittig">Hotelzimmer Alarmmeldungen Radisson BLU</h1>
        <!--BUILDING CONTROL-->
    </header>
    <div class="col-lg-12">
        <div class="">
            <div class="row center-horizontal">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="">
                        <div class="bs-beschriftung-medium bs-beschr-neu bs-meldungen2">ug1_HVE_11_Ueber_sch</div>
                        <div class="left bs-meldungen1" title="Status" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: ' ',
     signalName: 'Station_44.Flag.al_100_ug1_HVE_11_Ueber_sch',
     einheit: 'ohne',
     projectType: 'SAIA'
     }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="">
                        <div class="bs-beschriftung-medium bs-beschr-neu bs-meldungen2">al_101_ug1_HVE_11_Netzsch</div>
                        <div class="left bs-meldungen1" title="Status" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: ' ',
     signalName: 'Station_44.Flag.al_101_ug1_HVE_11_Netzsch',
     einheit: 'ohne',
     projectType: 'SAIA'
     }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="">
                        <div class="bs-beschriftung-medium bs-beschr-neu bs-meldungen2">ug1_HVE_11_Ko_HLKS</div>
                        <div class="left bs-meldungen1" title="Status" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: ' ',
     signalName: 'Station_44.Flag.al_102_ug1_HVE_11_Ko_HLKS',
     einheit: 'ohne',
     projectType: 'SAIA'
     }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="">
                        <div class="bs-beschriftung-medium bs-beschr-neu bs-meldungen2">ug1_HVE_11_LS_FI</div>
                        <div class="left bs-meldungen1" title="Status" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: ' ',
     signalName: 'Station_44.Flag.al_103_ug1_HVE_11_LS_FI',
     einheit: 'ohne',
     projectType: 'SAIA'
     }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="">
                        <div class="bs-beschriftung-medium bs-beschr-neu bs-meldungen2">ug1_HVE_11_Komp</div>
                        <div class="left bs-meldungen1" title="Status" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: ' ',
     signalName: 'Station_44.Flag.al_104_ug1_HVE_11_Komp',
     einheit: 'ohne',
     projectType: 'SAIA'
     }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="">
                        <div class="bs-beschriftung-medium bs-beschr-neu bs-meldungen2">ug1_HVE_11_Notlichanl</div>
                        <div class="left bs-meldungen1" title="Status" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: ' ',
     signalName: 'Station_44.Flag.al_105_ug1_HVE_11_Notlichanl',
     einheit: 'ohne',
     projectType: 'SAIA'
     }">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row center-horizontal">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="">
                        <div class="bs-beschriftung-medium bs-beschr-neu bs-meldungen2">ug1_HVE_11_Res1</div>
                        <div class="left bs-meldungen1" title="Status" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: ' ',
     signalName: 'Station_44.Flag.al_106_ug1_HVE_11_Res1',
     einheit: 'ohne',
     projectType: 'SAIA'
     }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="">
                        <div class="bs-beschriftung-medium bs-beschr-neu bs-meldungen2">ug1_HVE_11_Res2</div>
                        <div class="left bs-meldungen1" title="Status" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: ' ',
     signalName: 'Station_44.Flag.al_107_ug1_HVE_11_Res2',
     einheit: 'ohne',
     projectType: 'SAIA'
     }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="">
                        <div class="bs-beschriftung-medium bs-beschr-neu bs-meldungen2">ug1_USV_11_Stoerung</div>
                        <div class="left bs-meldungen1" title="Status" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: ' ',
     signalName: 'Station_44.Flag.al_108_ug1_USV_11_Stoerung',
     einheit: 'ohne',
     projectType: 'SAIA'
     }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="">
                        <div class="bs-beschriftung-medium bs-beschr-neu bs-meldungen2">ug1_UVE_11_L_F_ABL</div>
                        <div class="left bs-meldungen1" title="Status" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: ' ',
     signalName: 'Station_44.Flag.al_109_ug1_UVE_11_L_F_ABL',
     einheit: 'ohne',
     projectType: 'SAIA'
     }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="">
                        <div class="bs-beschriftung-medium bs-beschr-neu bs-meldungen2">eg00_UVE_11_L_F_ABL</div>
                        <div class="left bs-meldungen1" title="Status" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: ' ',
     signalName: 'Station_44.Flag.al_110_eg00_UVE_11_L_F_ABL',
     einheit: 'ohne',
     projectType: 'SAIA'
     }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="">
                        <div class="bs-beschriftung-medium bs-beschr-neu bs-meldungen2">eg00_UVE_12_L_F_ABL</div>
                        <div class="left bs-meldungen1" title="Status" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: ' ',
     signalName: 'Station_44.Flag.al_111_eg00_UVE_12_L_F_ABL',
     einheit: 'ohne',
     projectType: 'SAIA'
     }">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row center-horizontal">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="">
                        <div class="bs-beschriftung-medium bs-beschr-neu bs-meldungen2">og01_UVE_11_L_F_ABL</div>
                        <div class="left bs-meldungen1" title="Status" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: ' ',
     signalName: 'Station_44.Flag.al_112_og01_UVE_11_L_F_ABL',
     einheit: 'ohne',
     projectType: 'SAIA'
     }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="">
                        <div class="bs-beschriftung-medium bs-beschr-neu bs-meldungen2">og01_UVE_12_L_F_ABL</div>
                        <div class="left bs-meldungen1" title="Status" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: ' ',
     signalName: 'Station_44.Flag.al_113_og01_UVE_12_L_F_ABL',
     einheit: 'ohne',
     projectType: 'SAIA'
     }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="">
                        <div class="bs-beschriftung-medium bs-beschr-neu bs-meldungen2">og02_UVE_11_L_F_ABL</div>
                        <div class="left bs-meldungen1" title="Status" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: ' ',
     signalName: 'Station_44.Flag.al_114_og02_UVE_11_L_F_ABL',
     einheit: 'ohne',
     projectType: 'SAIA'
     }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="">
                        <div class="bs-beschriftung-medium bs-beschr-neu bs-meldungen2">og02_UVE_12_L_F_ABL</div>
                        <div class="left bs-meldungen1" title="Status" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: ' ',
     signalName: 'Station_44.Flag.al_115_og02_UVE_12_L_F_ABL',
     einheit: 'ohne',
     projectType: 'SAIA'
     }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="">
                        <div class="bs-beschriftung-medium bs-beschr-neu bs-meldungen2">og03_UVE_11_L_F_ABL</div>
                        <div class="left bs-meldungen1" title="Status" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: ' ',
     signalName: 'Station_44.Flag.al_116_og03_UVE_11_L_F_ABL',
     einheit: 'ohne',
     projectType: 'SAIA'
     }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="">
                        <div class="bs-beschriftung-medium bs-beschr-neu bs-meldungen2">og03_UVE_12_L_F_ABL</div>
                        <div class="left bs-meldungen1" title="Status" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: ' ',
     signalName: 'Station_44.Flag.al_117_og03_UVE_12_L_F_ABL',
     einheit: 'ohne',
     projectType: 'SAIA'
     }">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row center-horizontal">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="">
                        <div class="bs-beschriftung-medium bs-beschr-neu bs-meldungen2">og04_UVE_11_L_F_ABL</div>
                        <div class="left bs-meldungen1" title="Status" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: ' ',
     signalName: 'Station_44.Flag.al_117_og03_UVE_12_L_F_ABL',
     einheit: 'ohne',
     projectType: 'SAIA'
     }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="">
                        <div class="bs-beschriftung-medium bs-beschr-neu bs-meldungen2">og04_UVE_12_L_F_ABL</div>
                        <div class="left bs-meldungen1" title="Status" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: ' ',
     signalName: 'Station_44.Flag.al_119_og04_UVE_12_L_F_ABL',
     einheit: 'ohne',
     projectType: 'SAIA'
     }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="">
                        <div class="bs-beschriftung-medium bs-beschr-neu bs-meldungen2">og05_UVE_11_L_F_ABL</div>
                        <div class="left bs-meldungen1" title="Status" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: ' ',
     signalName: 'Station_44.Flag.al_120_og05_UVE_11_L_F_ABL',
     einheit: 'ohne',
     projectType: 'SAIA'
     }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="">
                        <div class="bs-beschriftung-medium bs-beschr-neu bs-meldungen2">og05_UVE_12_L_F_ABL</div>
                        <div class="left bs-meldungen1" title="Status" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: ' ',
     signalName: 'Station_44.Flag.al_121_og05_UVE_12_L_F_ABL',
     einheit: 'ohne',
     projectType: 'SAIA'
     }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="">
                        <div class="bs-beschriftung-medium bs-beschr-neu bs-meldungen2">og05_UVE_13_L_F_ABL</div>
                        <div class="left bs-meldungen1" title="Status" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: ' ',
     signalName: 'Station_44.Flag.al_122_og05_UVE_13_L_F_ABL',
     einheit: 'ohne',
     projectType: 'SAIA'
     }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="">
                        <div class="bs-beschriftung-medium bs-beschr-neu bs-meldungen2">ug1_ZUK_11_Stoe</div>
                        <div class="left bs-meldungen1" title="Status" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: ' ',
     signalName: 'Station_44.Flag.al_123_ug1_ZUK_11_Stoe',
     einheit: 'ohne',
     projectType: 'SAIA'
     }">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row center-horizontal">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="">
                        <div class="bs-beschriftung-medium bs-beschr-neu bs-meldungen2">ug1_PBX_11_S_n_d</div>
                        <div class="left bs-meldungen1" title="Status" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: ' ',
     signalName: 'Station_44.Flag.al_124_ug1_PBX_11_S_n_d',
     einheit: 'ohne',
     projectType: 'SAIA'
     }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="">
                        <div class="bs-beschriftung-medium bs-beschr-neu bs-meldungen2">ug1_PBX_11_st_dr</div>
                        <div class="left bs-meldungen1" title="Status" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: ' ',
     signalName: 'Station_44.Flag.al_125_ug1_PBX_11_st_dr',
     einheit: 'ohne',
     projectType: 'SAIA'
     }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="">
                        <div class="bs-beschriftung-medium bs-beschr-neu bs-meldungen2">ug1_PAY_11_Stoe</div>
                        <div class="left bs-meldungen1" title="Status" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: ' ',
     signalName: 'Station_44.Flag.al_126_ug1_PAY_11_Stoe',
     einheit: 'ohne',
     projectType: 'SAIA'
     }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="">
                        <div class="bs-beschriftung-medium bs-beschr-neu bs-meldungen2">ug1_INFO_11_Stoe_Res</div>
                        <div class="left bs-meldungen1" title="Status" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: ' ',
     signalName: 'Station_44.Flag.al_127_ug1_INFO_11_Stoe_Res',
     einheit: 'ohne',
     projectType: 'SAIA'
     }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="">
                        <div class="bs-beschriftung-medium bs-beschr-neu bs-meldungen2">ug1_INFO_12_Stoe_Res</div>
                        <div class="left bs-meldungen1" title="Status" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: ' ',
     signalName: 'Station_44.Flag.al_128_ug1_INFO_12_Stoe_Res',
     einheit: 'ohne',
     projectType: 'SAIA'
     }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="">
                        <div class="bs-beschriftung-medium bs-beschr-neu bs-meldungen2">ug1_WILAN_11_Stoe</div>
                        <div class="left bs-meldungen1" title="Status" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: ' ',
     signalName: 'Station_44.Flag.al_129_ug1_WILAN_11_Stoe',
     einheit: 'ohne',
     projectType: 'SAIA'
     }">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row center-horizontal">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="">
                        <div class="bs-beschriftung-medium bs-beschr-neu bs-meldungen2">ug1_AUD_11_Med_Stoe</div>
                        <div class="left bs-meldungen1" title="Status" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: ' ',
     signalName: 'Station_44.Flag.al_130_ug1_AUD_11_Med_Stoe',
     einheit: 'ohne',
     projectType: 'SAIA'
     }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="">
                        <div class="bs-beschriftung-medium bs-beschr-neu bs-meldungen2">ug1_CHECK_Stoe</div>
                        <div class="left bs-meldungen1" title="Status" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: ' ',
     signalName: 'Station_44.Flag.al_131_ug1_CHECK_Stoe',
     einheit: 'ohne',
     projectType: 'SAIA'
     }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="">
                        <div class="bs-beschriftung-medium bs-beschr-neu bs-meldungen2">ug1_EVA_11_Stoe</div>
                        <div class="left bs-meldungen1" title="Status" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: ' ',
     signalName: 'Station_44.Flag.al_132_ug1_EVA_11_Stoe',
     einheit: 'ohne',
     projectType: 'SAIA'
     }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="">
                        <div class="bs-beschriftung-medium bs-beschr-neu bs-meldungen2">ug1_VID_11_Stoe</div>
                        <div class="left bs-meldungen1" title="Status" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: ' ',
     signalName: 'Station_44.Flag.al_133_ug1_VID_11_Stoe',
     einheit: 'ohne',
     projectType: 'SAIA'
     }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="">
                        <div class="bs-beschriftung-medium bs-beschr-neu bs-meldungen2">ug1_SAT_11_Stoe</div>
                        <div class="left bs-meldungen1" title="Status" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: ' ',
     signalName: 'Station_44.Flag.al_134_ug1_SAT_11_Stoe',
     einheit: 'ohne',
     projectType: 'SAIA'
     }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="">
                        <div class="bs-beschriftung-medium bs-beschr-neu bs-meldungen2">ug1_BMA_11_Stoe</div>
                        <div class="left bs-meldungen1" title="Status" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: ' ',
     signalName: 'Station_44.Flag.al_135_ug1_BMA_11_Stoe',
     einheit: 'ohne',
     projectType: 'SAIA'
     }">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row center-horizontal">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="">
                        <div class="bs-beschriftung-medium bs-beschr-neu bs-meldungen2">ug1_BMA_11_Alar_int</div>
                        <div class="left bs-meldungen1" title="Status" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: ' ',
     signalName: 'Station_44.Flag.al_136_ug1_BMA_11_Alar_int',
     einheit: 'ohne',
     projectType: 'SAIA'
     }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="">
                        <div class="bs-beschriftung-medium bs-beschr-neu bs-meldungen2">ug1_BMA_11_Ala_ext</div>
                        <div class="left bs-meldungen1" title="Status" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: ' ',
     signalName: 'Station_44.Flag.al_137_ug1_BMA_11_Ala_ext',
     einheit: 'ohne',
     projectType: 'SAIA'
     }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="">
                        <div class="bs-beschriftung-medium bs-beschr-neu bs-meldungen2">ug00_NOT_11_Notr</div>
                        <div class="left bs-meldungen1" title="Status" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: ' ',
     signalName: 'Station_44.Flag.al_138_ug00_NOT_11_Notr',
     einheit: 'ohne',
     projectType: 'SAIA'
     }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="">
                        <div class="bs-beschriftung-medium bs-beschr-neu bs-meldungen2">og05_LIFT_04_Stoe</div>
                        <div class="left bs-meldungen1" title="Status" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: ' ',
     signalName: 'Station_44.Flag.al_139_og05_LIFT_04_Stoe',
     einheit: 'ohne',
     projectType: 'SAIA'
     }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="">
                        <div class="bs-beschriftung-medium bs-beschr-neu bs-meldungen2">og05_LIFT_05_Stoe</div>
                        <div class="left bs-meldungen1" title="Status" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: ' ',
     signalName: 'Station_44.Flag.al_140_og05_LIFT_05_Stoe',
     einheit: 'ohne',
     projectType: 'SAIA'
     }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="">
                        <div class="bs-beschriftung-medium bs-beschr-neu bs-meldungen2">og05_LIFT_06_Stoe</div>
                        <div class="left bs-meldungen1" title="Status" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: ' ',
     signalName: 'Station_44.Flag.al_141_og05_LIFT_06_Stoe',
     einheit: 'ohne',
     projectType: 'SAIA'
     }">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row center-horizontal">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="">
                        <div class="bs-beschriftung-medium bs-beschr-neu bs-meldungen2">og05_LIFT_07_Stoe</div>
                        <div class="left bs-meldungen1" title="Status" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: ' ',
     signalName: 'Station_44.Flag.al_142_og05_LIFT_07_Stoe',
     einheit: 'ohne',
     projectType: 'SAIA'
     }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="">
                        <div class="bs-beschriftung-medium bs-beschr-neu bs-meldungen2">ug1_Tuer_905</div>
                        <div class="left bs-meldungen1" title="Status" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: ' ',
     signalName: 'Station_44.Flag.al_143_ug1_Tuer_905',
     einheit: 'ohne',
     projectType: 'SAIA'
     }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="">
                        <div class="bs-beschriftung-medium bs-beschr-neu bs-meldungen2">ug1_Tuer_917</div>
                        <div class="left bs-meldungen1" title="Status" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: ' ',
     signalName: 'Station_44.Flag.al_144_ug1_Tuer_917',
     einheit: 'ohne',
     projectType: 'SAIA'
     }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="">
                        <div class="bs-beschriftung-medium bs-beschr-neu bs-meldungen2">ug1_Tuer_929</div>
                        <div class="left bs-meldungen1" title="Status" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: ' ',
     signalName: 'Station_44.Flag.al_145_ug1_Tuer_929',
     einheit: 'ohne',
     projectType: 'SAIA'
     }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="">
                        <div class="bs-beschriftung-medium bs-beschr-neu bs-meldungen2">ug1_Tuer_948</div>
                        <div class="left bs-meldungen1" title="Status" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: ' ',
     signalName: 'Station_44.Flag.al_146_ug1_Tuer_948',
     einheit: 'ohne',
     projectType: 'SAIA'
     }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="">
                        <div class="bs-beschriftung-medium bs-beschr-neu bs-meldungen2">ug1_Tuer_957</div>
                        <div class="left bs-meldungen1" title="Status" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: ' ',
     signalName: 'Station_44.Flag.al_147_ug1_Tuer_957',
     einheit: 'ohne',
     projectType: 'SAIA'
     }">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row center-horizontal">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="">
                        <div class="bs-beschriftung-medium bs-beschr-neu bs-meldungen2">ug1_Tuer_958</div>
                        <div class="left bs-meldungen1" title="Status" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: ' ',
     signalName: 'Station_44.Flag.al_148_ug1_Tuer_958',
     einheit: 'ohne',
     projectType: 'SAIA'
     }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="">
                        <div class="bs-beschriftung-medium bs-beschr-neu bs-meldungen2">eg00_Tuer_001</div>
                        <div class="left bs-meldungen1" title="Status" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: ' ',
     signalName: 'Station_44.Flag.al_149_eg00_Tuer_001',
     einheit: 'ohne',
     projectType: 'SAIA'
     }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="">
                        <div class="bs-beschriftung-medium bs-beschr-neu bs-meldungen2">eg00_Tuer_002</div>
                        <div class="left bs-meldungen1" title="Status" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: ' ',
     signalName: 'Station_44.Flag.al_150_eg00_Tuer_002',
     einheit: 'ohne',
     projectType: 'SAIA'
     }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="">
                        <div class="bs-beschriftung-medium bs-beschr-neu bs-meldungen2">eg00_Tuer_004</div>
                        <div class="left bs-meldungen1" title="Status" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: ' ',
     signalName: 'Station_44.Flag.al_151_eg00_Tuer_004',
     einheit: 'ohne',
     projectType: 'SAIA'
     }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="">
                        <div class="bs-beschriftung-medium bs-beschr-neu bs-meldungen2">eg00_Tuer_005</div>
                        <div class="left bs-meldungen1" title="Status" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: ' ',
     signalName: 'Station_44.Flag.al_152_eg00_Tuer_005',
     einheit: 'ohne',
     projectType: 'SAIA'
     }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="">
                        <div class="bs-beschriftung-medium bs-beschr-neu bs-meldungen2">eg00_Tuer_010</div>
                        <div class="left bs-meldungen1" title="Status" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: ' ',
     signalName: 'Station_44.Flag.al_153_eg00_Tuer_010',
     einheit: 'ohne',
     projectType: 'SAIA'
     }">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row center-horizontal">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="">
                        <div class="bs-beschriftung-medium bs-beschr-neu bs-meldungen2">eg00_Tuer_011</div>
                        <div class="left bs-meldungen1" title="Status" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: ' ',
     signalName: 'Station_44.Flag.al_154_eg00_Tuer_011',
     einheit: 'ohne',
     projectType: 'SAIA'
     }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="">
                        <div class="bs-beschriftung-medium bs-beschr-neu bs-meldungen2">eg00_Tuer_025</div>
                        <div class="left bs-meldungen1" title="Status" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: ' ',
     signalName: 'Station_44.Flag.al_155_eg00_Tuer_025',
     einheit: 'ohne',
     projectType: 'SAIA'
     }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="">
                        <div class="bs-beschriftung-medium bs-beschr-neu bs-meldungen2">eg00_Tuer_028</div>
                        <div class="left bs-meldungen1" title="Status" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: ' ',
     signalName: 'Station_44.Flag.al_156_eg00_Tuer_028',
     einheit: 'ohne',
     projectType: 'SAIA'
     }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="">
                        <div class="bs-beschriftung-medium bs-beschr-neu bs-meldungen2">og01_Tuer_107</div>
                        <div class="left bs-meldungen1" title="Status" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: ' ',
     signalName: 'Station_44.Flag.al_157_og01_Tuer_107',
     einheit: 'ohne',
     projectType: 'SAIA'
     }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="">
                        <div class="bs-beschriftung-medium bs-beschr-neu bs-meldungen2">og01_Tuer_108</div>
                        <div class="left bs-meldungen1" title="Status" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: ' ',
     signalName: 'Station_44.Flag.al_158_og01_Tuer_108',
     einheit: 'ohne',
     projectType: 'SAIA'
     }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="">
                        <div class="bs-beschriftung-medium bs-beschr-neu bs-meldungen2">og01_Tuer_110</div>
                        <div class="left bs-meldungen1" title="Status" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: ' ',
     signalName: 'Station_44.Flag.al_159_og01_Tuer_110',
     einheit: 'ohne',
     projectType: 'SAIA'
     }">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row center-horizontal">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="">
                        <div class="bs-beschriftung-medium bs-beschr-neu bs-meldungen2">og01_Tuer_111</div>
                        <div class="left bs-meldungen1" title="Status" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: ' ',
     signalName: 'Station_44.Flag.al_160_og01_Tuer_111',
     einheit: 'ohne',
     projectType: 'SAIA'
     }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="">
                        <div class="bs-beschriftung-medium bs-beschr-neu bs-meldungen2">og02_Tuer_205</div>
                        <div class="left bs-meldungen1" title="Status" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: ' ',
     signalName: 'Station_44.Flag.al_161_og02_Tuer_205',
     einheit: 'ohne',
     projectType: 'SAIA'
     }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="">
                        <div class="bs-beschriftung-medium bs-beschr-neu bs-meldungen2">og02_Tuer_206</div>
                        <div class="left bs-meldungen1" title="Status" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: ' ',
     signalName: 'Station_44.Flag.al_162_og02_Tuer_206',
     einheit: 'ohne',
     projectType: 'SAIA'
     }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="">
                        <div class="bs-beschriftung-medium bs-beschr-neu bs-meldungen2">og02_Tuer_207</div>
                        <div class="left bs-meldungen1" title="Status" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: ' ',
     signalName: 'Station_44.Flag.al_163_og02_Tuer_207',
     einheit: 'ohne',
     projectType: 'SAIA'
     }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="">
                        <div class="bs-beschriftung-medium bs-beschr-neu bs-meldungen2">og02_Tuer_212</div>
                        <div class="left bs-meldungen1" title="Status" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: ' ',
     signalName: 'Station_44.Flag.al_164_og02_Tuer_212',
     einheit: 'ohne',
     projectType: 'SAIA'
     }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="">
                        <div class="bs-beschriftung-medium bs-beschr-neu bs-meldungen2">og02_Tuer_213</div>
                        <div class="left bs-meldungen1" title="Status" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: ' ',
     signalName: 'Station_44.Flag.al_165_og02_Tuer_213',
     einheit: 'ohne',
     projectType: 'SAIA'
     }">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row center-horizontal">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="">
                        <div class="bs-beschriftung-medium bs-beschr-neu bs-meldungen2">og02_Tuer_214</div>
                        <div class="left bs-meldungen1" title="Status" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: ' ',
     signalName: 'Station_44.Flag.al_166_og02_Tuer_214',
     einheit: 'ohne',
     projectType: 'SAIA'
     }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="">
                        <div class="bs-beschriftung-medium bs-beschr-neu bs-meldungen2">og03_Tuer_345</div>
                        <div class="left bs-meldungen1" title="Status" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: ' ',
     signalName: 'Station_44.Flag.al_167_og03_Tuer_345',
     einheit: 'ohne',
     projectType: 'SAIA'
     }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="">
                        <div class="bs-beschriftung-medium bs-beschr-neu bs-meldungen2">og03_Tuer_346</div>
                        <div class="left bs-meldungen1" title="Status" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: ' ',
     signalName: 'Station_44.Flag.al_168_og03_Tuer_346',
     einheit: 'ohne',
     projectType: 'SAIA'
     }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="">
                        <div class="bs-beschriftung-medium bs-beschr-neu bs-meldungen2">og03_Tuer_347</div>
                        <div class="left bs-meldungen1" title="Status" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: ' ',
     signalName: 'Station_44.Flag.al_169_og03_Tuer_347',
     einheit: 'ohne',
     projectType: 'SAIA'
     }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="">
                        <div class="bs-beschriftung-medium bs-beschr-neu bs-meldungen2">og03_Tuer_350</div>
                        <div class="left bs-meldungen1" title="Status" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: ' ',
     signalName: 'Station_44.Flag.al_170_og03_Tuer_350',
     einheit: 'ohne',
     projectType: 'SAIA'
     }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="">
                        <div class="bs-beschriftung-medium bs-beschr-neu bs-meldungen2">og03_Tuer_351</div>
                        <div class="left bs-meldungen1" title="Status" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: ' ',
     signalName: 'Station_44.Flag.al_171_og03_Tuer_351',
     einheit: 'ohne',
     projectType: 'SAIA'
     }">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row center-horizontal">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="">
                        <div class="bs-beschriftung-medium bs-beschr-neu bs-meldungen2">og04_Tuer_445</div>
                        <div class="left bs-meldungen1" title="Status" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: ' ',
     signalName: 'Station_44.Flag.al_172_og04_Tuer_445',
     einheit: 'ohne',
     projectType: 'SAIA'
     }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="">
                        <div class="bs-beschriftung-medium bs-beschr-neu bs-meldungen2">og04_Tuer_446</div>
                        <div class="left bs-meldungen1" title="Status" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: ' ',
     signalName: 'Station_44.Flag.al_173_og04_Tuer_446',
     einheit: 'ohne',
     projectType: 'SAIA'
     }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="">
                        <div class="bs-beschriftung-medium bs-beschr-neu bs-meldungen2">og04_Tuer_447</div>
                        <div class="left bs-meldungen1" title="Status" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: ' ',
     signalName: 'Station_44.Flag.al_174_og04_Tuer_447',
     einheit: 'ohne',
     projectType: 'SAIA'
     }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="">
                        <div class="bs-beschriftung-medium bs-beschr-neu bs-meldungen2">og04_Tuer_451</div>
                        <div class="left bs-meldungen1" title="Status" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: ' ',
     signalName: 'Station_44.Flag.al_175_og04_Tuer_451',
     einheit: 'ohne',
     projectType: 'SAIA'
     }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="">
                        <div class="bs-beschriftung-medium bs-beschr-neu bs-meldungen2">og04_Tuer_452</div>
                        <div class="left bs-meldungen1" title="Status" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: ' ',
     signalName: 'Station_44.Flag.al_176_og04_Tuer_452',
     einheit: 'ohne',
     projectType: 'SAIA'
     }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="">
                        <div class="bs-beschriftung-medium bs-beschr-neu bs-meldungen2">og05_Tuer_540</div>
                        <div class="left bs-meldungen1" title="Status" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: ' ',
     signalName: 'Station_44.Flag.al_177_og05_Tuer_540',
     einheit: 'ohne',
     projectType: 'SAIA'
     }">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row center-horizontal">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="">
                        <div class="bs-beschriftung-medium bs-beschr-neu bs-meldungen2">og05_Tuer_541</div>
                        <div class="left bs-meldungen1" title="Status" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: ' ',
     signalName: 'Station_44.Flag.al_178_og05_Tuer_541',
     einheit: 'ohne',
     projectType: 'SAIA'
     }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="">
                        <div class="bs-beschriftung-medium bs-beschr-neu bs-meldungen2">og05_Tuer_542</div>
                        <div class="left bs-meldungen1" title="Status" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: ' ',
     signalName: 'Station_44.Flag.al_179_og05_Tuer_542',
     einheit: 'ohne',
     projectType: 'SAIA'
     }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="">
                        <div class="bs-beschriftung-medium bs-beschr-neu bs-meldungen2">og05_Tuer_545</div>
                        <div class="left bs-meldungen1" title="Status" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: ' ',
     signalName: 'Station_44.Flag.al_180_og05_Tuer_545',
     einheit: 'ohne',
     projectType: 'SAIA'
     }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="">
                        <div class="bs-beschriftung-medium bs-beschr-neu bs-meldungen2">og05_Tuer_546</div>
                        <div class="left bs-meldungen1" title="Status" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: ' ',
     signalName: 'Station_44.Flag.al_181_og05_Tuer_546',
     einheit: 'ohne',
     projectType: 'SAIA'
     }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="">
                        <div class="bs-beschriftung-medium bs-beschr-neu bs-meldungen2">og05_sauna_personenalarm</div>
                        <div class="left bs-meldungen1" title="Status" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: ' ',
     signalName: 'Station_44.Flag.al_182_og05_sauna_personenalarm',
     einheit: 'ohne',
     projectType: 'SAIA'
     }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="">
                        <div class="bs-beschriftung-medium bs-beschr-neu bs-meldungen2">og01_Tuer_137 Nottreppe</div>
                        <div class="left bs-meldungen1" title="Status" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: ' ',
     signalName: 'Station_44.Flag.al_183_og01_tuer_137',
     einheit: 'ohne',
     projectType: 'SAIA'
     }">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row center-horizontal">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="">
                        <div class="bs-beschriftung-medium bs-beschr-neu bs-meldungen2">og01_Tuer_141 Nottreppe</div>
                        <div class="left bs-meldungen1" title="Status" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: ' ',
     signalName: 'Station_44.Flag.al_184_og01_tuer_141',
     einheit: 'ohne',
     projectType: 'SAIA'
     }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="">
                        <div class="bs-beschriftung-medium bs-beschr-neu bs-meldungen2">Res_Eing4</div>
                        <div class="left bs-meldungen1" title="Status" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: ' ',
     signalName: 'Station_44.Flag.al_185_Res_Eing4',
     einheit: 'ohne',
     projectType: 'SAIA'
     }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="">
                        <div class="bs-beschriftung-medium bs-beschr-neu bs-meldungen2">Res_Eing5</div>
                        <div class="left bs-meldungen1" title="Status" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: ' ',
     signalName: 'Station_44.Flag.al_186_Res_Eing5',
     einheit: 'ohne',
     projectType: 'SAIA'
     }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="">
                        <div class="bs-beschriftung-medium bs-beschr-neu bs-meldungen2">Res_Eing6</div>
                        <div class="left bs-meldungen1" title="Status" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: ' ',
     signalName: 'Station_44.Flag.al_187_Res_Eing6',
     einheit: 'ohne',
     projectType: 'SAIA'
     }">
                        </div>
                    </div>
                </div>
            </div>
            <!--Seiten-Verlinkungen (Pfeile auf der Seite)-->
            <!-- Widgets -->
            <!-- Workaround um den Bug in der Benutzeranmeldung zu korrigieren -->
            <wf-button style="visibility: hidden;" params="signalName: 'Setpoint 1', writeValue: 1, buttonText: 'Write Value :1', cssClass: 'btn-success', projectAuthorization: 'irgendeinWert'"></wf-button>

        </div>
    </div>
</div>
