﻿<!--****************************************************************************************************************************************************************************************************************************************************
    Bühler+Scherler
--------------------------------------------------------------------------------------------------------------------------


--------------------------------------------------------------------------------------------------------------------------
ERSTELLT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0		R.Brunnschweiler	BS                  10.07.2017
GEÄNDERT:
VERSION:	AUTOR:				FIRMA:				DATUM:



********************************************************************************************************************************************************************************************************************************************************-->
<div class="container bs_content_container">
    <header>
        <h1 class="page-header bs-header-mittig">Business 4.OG Benedict</h1>
        <!--BUILDING CONTROL-->
    </header>
    <div class="col-lg-12">
        <div class="">
            <!--Seiten-Verlinkungen (Pfeile auf der Seite)-->
            <!-- Widgets -->
            <div class="row bs-room-1">
                <div data-bind="bsZimmer_business_1: {
    dialogTitle: '403 Schulzimmer SMS',
    authorisierung: 'Administration',
	masterName: 'Station_51',
    roomcontrolName: 'SZ_403'
	}">
                </div>
                <div data-bind="bsZimmer_business_1: {
    dialogTitle: '404 Schulzimmer Byte',
    authorisierung: 'Administration',
	masterName: 'Station_51',
    roomcontrolName: 'SZ_404'
	}">
                </div>
                <div data-bind="bsZimmer_business_1: {
    dialogTitle: '405 Schulzimmer Rigi',
    authorisierung: 'Administration',
	masterName: 'Station_51',
    roomcontrolName: 'SZ_405'
	}">
                </div>
                <div data-bind="bsZimmer_business_1: {
    dialogTitle: '406 Schulzimmer Pilatus',
    authorisierung: 'Administration',
	masterName: 'Station_51',
    roomcontrolName: 'SZ_406'
	}">
                </div>
                <div data-bind="bsZimmer_business_1: {
    dialogTitle: '407 Schulzimmer Eiger',
    authorisierung: 'Administration',
	masterName: 'Station_51',
    roomcontrolName: 'SZ_407'
	}">
                </div>
                <div data-bind="bsZimmer_business_1: {
    dialogTitle: '408 Schulzimmer Säntis',
    authorisierung: 'Administration',
	masterName: 'Station_51',
    roomcontrolName: 'SZ_408'
	}">
                </div>
                <div data-bind="bsZimmer_business_1: {
    dialogTitle: '409 Schulzimmer Rothorn',
    authorisierung: 'Administration',
	masterName: 'Station_51',
    roomcontrolName: 'SZ_409'
	}">
                </div>
                <div data-bind="bsZimmer_business_1: {
    dialogTitle: '410 Schulzimmer Mönch',
    authorisierung: 'Administration',
	masterName: 'Station_51',
    roomcontrolName: 'SZ_410'
	}">
                </div>
                <div data-bind="bsZimmer_business_1: {
    dialogTitle: '411 Cafeteria',
    authorisierung: 'Administration',
	masterName: 'Station_51',
    roomcontrolName: 'SZ_411'
	}">
                </div>
                <div data-bind="bsZimmer_business_1: {
    dialogTitle: '413 Economat',
    authorisierung: 'Administration',
	masterName: 'Station_51',
    roomcontrolName: 'SZ_413'
	}">
                </div>
                <div data-bind="bsZimmer_business_1: {
    dialogTitle: '414 Spielzimmer',
    authorisierung: 'Administration',
	masterName: 'Station_51',
    roomcontrolName: 'SZ_414'
	}">
                </div>
                <div data-bind="bsZimmer_business_1: {
    dialogTitle: '415 Büro B. Würmli',
    authorisierung: 'Administration',
	masterName: 'Station_51',
    roomcontrolName: 'SZ_415'
	}">
                </div>
                <!-- 418-420 war bei visu alt ein durcheinander... kann sein das die Beschriftung nicht stimmt. sollte noch überprüft werden... -->
                <div data-bind="bsZimmer_business_1: {
    dialogTitle: '418 Schulzimmer Atlantik',
    authorisierung: 'Administration',
	masterName: 'Station_51',
    roomcontrolName: 'SZ_418'
	}">
                </div>
                <div data-bind="bsZimmer_business_1: {
    dialogTitle: '419 Schulzimmer Ozean',
    authorisierung: 'Administration',
	masterName: 'Station_51',
    roomcontrolName: 'SZ_419'
	}">
                </div>
                <div data-bind="bsZimmer_business_1: {
    dialogTitle: '420 Besprechungszimmer',
    authorisierung: 'Administration',
	masterName: 'Station_51',
    roomcontrolName: 'SZ_420'
	}">
                </div>

                <!-- Workaround um den Bug in der Benutzeranmeldung zu korrigieren -->
                <wf-button style="visibility: hidden;" params="signalName: 'Setpoint 1', writeValue: 1, buttonText: 'Write Value :1', cssClass: 'btn-success', projectAuthorization: 'irgendeinWert'"></wf-button>
            </div>
        </div>
    </div>
</div>
