﻿<!--****************************************************************************************************************************************************************************************************************************************************
    Bühler+Scherler
--------------------------------------------------------------------------------------------------------------------------


--------------------------------------------------------------------------------------------------------------------------
ERSTELLT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0		R.Brunnschweiler	BS                  10.07.2017
GEÄNDERT:
VERSION:	AUTOR:				FIRMA:				DATUM:



********************************************************************************************************************************************************************************************************************************************************-->
<div class="container bs_content_container">
    <header>
        <h1 class="page-header bs-header-mittig">Business 5.OG Benedict</h1>
        <!--BUILDING CONTROL-->
    </header>
    <div class="col-lg-12">
        <div class="">
            <!--Seiten-Verlinkungen (Pfeile auf der Seite)-->
            <!-- Widgets -->
            <div class="row bs-room-1">
                <div data-bind="bsZimmer_business_1: {
    dialogTitle: '503 Büro A. Würmli',
    authorisierung: 'Administration',
	masterName: 'Station_51',
    roomcontrolName: 'SZ_503'
	}">
                </div>
                <div data-bind="bsZimmer_business_1: {
    dialogTitle: '505 Bereichsleiter',
    authorisierung: 'Administration',
	masterName: 'Station_51',
    roomcontrolName: 'SZ_505'
	}">
                </div>
                <div data-bind="bsZimmer_business_1: {
    dialogTitle: '506 Sachbearbeiter',
    authorisierung: 'Administration',
	masterName: 'Station_51',
    roomcontrolName: 'SZ_506'
	}">
                </div>
                <div data-bind="bsZimmer_business_1: {
    dialogTitle: '508 Beratung',
    authorisierung: 'Administration',
	masterName: 'Station_51',
    roomcontrolName: 'SZ_508'
	}">
                </div>
                <div data-bind="bsZimmer_business_1: {
    dialogTitle: '509 Privatzimmer 1',
    authorisierung: 'Administration',
	masterName: 'Station_51',
    roomcontrolName: 'SZ_509'
	}">
                </div>
                <div data-bind="bsZimmer_business_1: {
    dialogTitle: '510 Privatzimmer 2',
    authorisierung: 'Administration',
	masterName: 'Station_51',
    roomcontrolName: 'SZ_510'
	}">
                </div>
                <div data-bind="bsZimmer_business_1: {
    dialogTitle: '511 Privatzimmer 3',
    authorisierung: 'Administration',
	masterName: 'Station_51',
    roomcontrolName: 'SZ_511'
	}">
                </div>
                <div data-bind="bsZimmer_business_1: {
    dialogTitle: '512 Privatzimmer 4',
    authorisierung: 'Administration',
	masterName: 'Station_51',
    roomcontrolName: 'SZ_512'
	}">
                </div>
                <div data-bind="bsZimmer_business_1: {
    dialogTitle: '513 Privatzimmer 5',
    authorisierung: 'Administration',
	masterName: 'Station_51',
    roomcontrolName: 'SZ_513'
	}">
                </div>
                <div data-bind="bsZimmer_business_1: {
    dialogTitle: '514 Privatzimmer 6',
    authorisierung: 'Administration',
	masterName: 'Station_51',
    roomcontrolName: 'SZ_514'
	}">
                </div>
                <div data-bind="bsZimmer_business_1: {
    dialogTitle: '515 Lehrerzimmer',
    authorisierung: 'Administration',
	masterName: 'Station_51',
    roomcontrolName: 'SZ_515'
	}">
                </div>
                <div data-bind="bsZimmer_business_1: {
    dialogTitle: '516 Beratung',
    authorisierung: 'Administration',
	masterName: 'Station_51',
    roomcontrolName: 'SZ_516'
	}">
                </div>
                <div data-bind="bsZimmer_business_1: {
    dialogTitle: '517 1/2 Sprachlabor Teil 1/2',
    authorisierung: 'Administration',
	masterName: 'Station_51',
    roomcontrolName: 'SZ_517_1'
	}">
                </div>
                <div data-bind="bsZimmer_business_1: {
    dialogTitle: '518 Beratung',
    authorisierung: 'Administration',
	masterName: 'Station_51',
    roomcontrolName: 'SZ_518'
	}">
                </div>
                <div data-bind="bsZimmer_business_1: {
    dialogTitle: 'Achse 05-11',
    authorisierung: 'Administration',
	masterName: 'Station_51',
    roomcontrolName: 'SZ_5og_achse_05_11'
	}">
                </div>
            </div>

            <!-- Workaround um den Bug in der Benutzeranmeldung zu korrigieren -->
            <wf-button style="visibility: hidden;" params="signalName: 'Setpoint 1', writeValue: 1, buttonText: 'Write Value :1', cssClass: 'btn-success', projectAuthorization: 'irgendeinWert'"></wf-button>
        </div>
    </div>
</div>
