﻿<!--****************************************************************************************************************************************************************************************************************************************************
    Bühler+Scherler
--------------------------------------------------------------------------------------------------------------------------


--------------------------------------------------------------------------------------------------------------------------
ERSTELLT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0		R.Brunnschweiler	BS                  10.07.2017
GEÄNDERT:
VERSION:	AUTOR:				FIRMA:				DATUM:



********************************************************************************************************************************************************************************************************************************************************-->
<div class="container bs_content_container">
    <header>
        <h1 class="page-header bs-header-mittig">Business 3.OG Benedict</h1>
        <!--BUILDING CONTROL-->
    </header>
    <div class="col-lg-12">
        <div class="">
            <!--Seiten-Verlinkungen (Pfeile auf der Seite)-->
            <!-- Widgets -->
            <div class="row bs-room-1">
                <div data-bind="bsZimmer_business_1: {
    dialogTitle: '303 Schulzimmer Genf',
    authorisierung: 'Administration',
	masterName: 'Station_51',
    roomcontrolName: 'SZ_303'
	}">
                </div>
                <div data-bind="bsZimmer_business_1: {
    dialogTitle: '304 Schulzimmer Bern',
    authorisierung: 'Administration',
	masterName: 'Station_51',
    roomcontrolName: 'SZ_304'
	}">
                </div>
                <div data-bind="bsZimmer_business_1: {
    dialogTitle: '305 Schulzimmer Tunis',
    authorisierung: 'Administration',
	masterName: 'Station_51',
    roomcontrolName: 'SZ_305'
	}">
                </div>
                <div data-bind="bsZimmer_business_1: {
    dialogTitle: '306 Schulzimmer Moskau',
    authorisierung: 'Administration',
	masterName: 'Station_51',
    roomcontrolName: 'SZ_306'
	}">
                </div>
                <div data-bind="bsZimmer_business_1: {
    dialogTitle: '307 Schulzimmer Kairo',
    authorisierung: 'Administration',
	masterName: 'Station_51',
    roomcontrolName: 'SZ_307'
	}">
                </div>
                <div data-bind="bsZimmer_business_1: {
    dialogTitle: '308 Schulzimmer Tallin',
    authorisierung: 'Administration',
	masterName: 'Station_51',
    roomcontrolName: 'SZ_308'
	}">
                </div>
                <div data-bind="bsZimmer_business_1: {
    dialogTitle: '309 Schulzimmer Schulzimmer Rom',
    authorisierung: 'Administration',
	masterName: 'Station_51',
    roomcontrolName: 'SZ_309'
	}">
                </div>
                <div data-bind="bsZimmer_business_1: {
    dialogTitle: '310 Schulzimmer Ontairo',
    authorisierung: 'Administration',
	masterName: 'Station_51',
    roomcontrolName: 'SZ_310'
	}">
                </div>
                <div data-bind="bsZimmer_business_1: {
    dialogTitle: '311 Schulzimmer Prag',
    authorisierung: 'Administration',
	masterName: 'Station_51',
    roomcontrolName: 'SZ_311'
	}">
                </div>
                <div data-bind="bsZimmer_business_1: {
    dialogTitle: '312 Schulzimmer Venus',
    authorisierung: 'Administration',
	masterName: 'Station_51',
    roomcontrolName: 'SZ_312'
	}">
                </div>
                <div data-bind="bsZimmer_business_1: {
    dialogTitle: '313 Schulzimmer Madrid',
    authorisierung: 'Administration',
	masterName: 'Station_51',
    roomcontrolName: 'SZ_313'
	}">
                </div>
                <div data-bind="bsZimmer_business_1: {
    dialogTitle: '314 Schulzimmer Wien',
    authorisierung: 'Administration',
	masterName: 'Station_51',
    roomcontrolName: 'SZ_314'
	}">
                </div>
                <div data-bind="bsZimmer_business_1: {
    dialogTitle: '315 Schulzimmer Tokio',
    authorisierung: 'Administration',
	masterName: 'Station_51',
    roomcontrolName: 'SZ_315'
	}">
                </div>
                <div data-bind="bsZimmer_business_1: {
    dialogTitle: '319 Schulzimmer Paris',
    authorisierung: 'Administration',
	masterName: 'Station_51',
    roomcontrolName: 'SZ_319'
	}">
                </div>
                <div data-bind="bsZimmer_business_1: {
    dialogTitle: '320 Schulzimmer Berlin',
    authorisierung: 'Administration',
	masterName: 'Station_51',
    roomcontrolName: 'SZ_320'
	}">
                </div>
                <div data-bind="bsZimmer_business_1: {
    dialogTitle: '321 Besprechungszimmer Oslo',
    authorisierung: 'Administration',
	masterName: 'Station_51',
    roomcontrolName: 'SZ_321'
	}">
                </div>
            </div>
            <!-- Workaround um den Bug in der Benutzeranmeldung zu korrigieren -->
            <wf-button style="visibility: hidden;" params="signalName: 'Setpoint 1', writeValue: 1, buttonText: 'Write Value :1', cssClass: 'btn-success', projectAuthorization: 'irgendeinWert'"></wf-button>
        </div>
    </div>
</div>
