﻿<!--****************************************************************************************************************************************************************************************************************************************************
    Bühler+Scherler
--------------------------------------------------------------------------------------------------------------------------


--------------------------------------------------------------------------------------------------------------------------
ERSTELLT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0		R.Brunnschweiler	BS                  10.07.2017
GEÄNDERT:
VERSION:	AUTOR:				FIRMA:				DATUM:



********************************************************************************************************************************************************************************************************************************************************-->
<div class="container bs_content_container">
    <header>
        <h1 class="page-header bs-header-mittig">Business 5./6.OG Vermögenszentrum</h1>
        <!--BUILDING CONTROL-->
    </header>
    <div class="col-lg-12">
        <div class="">
            <!--Seiten-Verlinkungen (Pfeile auf der Seite)-->
            <!-- Widgets -->
            <div class="row bs-room-1">
                <div data-bind="bsZimmer_business_1: {
    dialogTitle: '5.OG Achse 11-13 /L-M',
    authorisierung: 'Administration',
	masterName: 'Station_51',
    roomcontrolName: 'SZ_5og_achse_11_13'
	}">
                </div>
                <div data-bind="bsZimmer_business_1: {
    dialogTitle: '6.OG Mitarbeiterbüro',
    authorisierung: 'Administration',
	masterName: 'Station_51',
    roomcontrolName: 'SZ_6og_ma_buero'
	}">
                </div>
                <div data-bind="bsZimmer_business_1: {
    dialogTitle: '6.OG Empfangm Teeküche, Korridor',
    authorisierung: 'Administration',
	masterName: 'Station_51',
    roomcontrolName: 'SZ_6og_empfang'
	}">
                </div>
                <div data-bind="bsZimmer_business_1: {
    dialogTitle: '6.OG Berater 1',
    authorisierung: 'Administration',
	masterName: 'Station_51',
    roomcontrolName: 'SZ_6og_berater1'
	}">
                </div>
                <div data-bind="bsZimmer_business_1: {
    dialogTitle: '6.OG Berater 2',
    authorisierung: 'Administration',
	masterName: 'Station_51',
    roomcontrolName: 'SZ_6og_berater2'
	}">
                </div>
                <div data-bind="bsZimmer_business_1: {
    dialogTitle: '6.OG Berater 3',
    authorisierung: 'Administration',
	masterName: 'Station_51',
    roomcontrolName: 'SZ_6og_berater3'
	}">
                </div>
                <div data-bind="bsZimmer_business_1: {
    dialogTitle: '6.OG Berater 4',
    authorisierung: 'Administration',
	masterName: 'Station_51',
    roomcontrolName: 'SZ_6og_berater4'
	}">
                </div>
                <div data-bind="bsZimmer_business_1: {
    dialogTitle: '6.OG Berater 5',
    authorisierung: 'Administration',
	masterName: 'Station_51',
    roomcontrolName: 'SZ_6og_berater5'
	}">
                </div>
            </div>

            <!-- Workaround um den Bug in der Benutzeranmeldung zu korrigieren -->
            <wf-button style="visibility: hidden;" params="signalName: 'Setpoint 1', writeValue: 1, buttonText: 'Write Value :1', cssClass: 'btn-success', projectAuthorization: 'irgendeinWert'"></wf-button>
        </div>
    </div>
</div>
