﻿<!--****************************************************************************************************************************************************************************************************************************************************
    Bühler+Scherler
--------------------------------------------------------------------------------------------------------------------------


--------------------------------------------------------------------------------------------------------------------------
ERSTELLT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0		R.Brunnschweiler	BS                  10.07.2017
GEÄNDERT:
VERSION:	AUTOR:				FIRMA:				DATUM:



********************************************************************************************************************************************************************************************************************************************************-->
<div class="container bs_content_container">
    <header>
        <h1 class="page-header bs-header-mittig">Energiedaten</h1>
        <!--BUILDING CONTROL-->
    </header>
    <div class="col-lg-12">
        <div class="row center-horizontal hidden-xs">
            <div class="col-lg-7 col-md-7 col-sm-7">
                <div class="bs-beschriftung-medium-lfc bs-meldungen2">Wärmezähler Business, 0520349, Heizzentrale UG</div>
                <div class="left bs-meldungen1" data-bind="bsWertanzeigeOhneSchwarz: {
                    signalNameIW: 'Station_35.Register.WZ_Business',
                    unitLabel: 'true',
                    staticUnitText: 'MWh'  }" title="Aussentemperatur">
                </div>
            </div>
        </div>
        <div class="row center-horizontal hidden-xs">
            <div class="col-lg-7 col-md-7 col-sm-7">
                <div class="bs-beschriftung-medium-lfc bs-meldungen2">Kältezähler Business, 0520336, Kältezentrale Hotel UG</div>
                <div class="left bs-meldungen1" data-bind="bsWertanzeigeOhneSchwarz: {
                        signalNameIW: 'Station_35.Register.KZ_Business',
                        unitLabel: 'true',
                        staticUnitText: 'MWh'  }" title="Aussentemperatur">
                </div>
            </div>
        </div>
        <div class="row center-horizontal hidden-xs">
            <div class="col-lg-7 col-md-7 col-sm-7">
                <div class="bs-beschriftung-medium-lfc bs-meldungen2">Wärmezähler Wohnung, 0608858, 6.OG UV Raum</div>
                <div class="left bs-meldungen1" data-bind="bsWertanzeigeOhneSchwarz: {
                            signalNameIW: 'Station_35.Register.WZ_WHG',
                            unitLabel: 'true',
                            staticUnitText: 'kWh'  }" title="Aussentemperatur">
                </div>
            </div>
        </div>
        <div class="row center-horizontal hidden-xs">
            <div class="col-lg-7 col-md-7 col-sm-7">
                <div class="bs-beschriftung-medium-lfc bs-meldungen2">Wasserzähler Haupteinspeisung, 10810726, San. Zentrale UG</div>
                <div class="left bs-meldungen1" data-bind="bsWertanzeigeOhneSchwarz: {
                                signalNameIW: 'Station_35.Register.Wasser_Haupt',
                                unitLabel: 'true',
                                staticUnitText: 'm³'  }" title="Aussentemperatur">
                </div>
            </div>
        </div>
        <div class="row center-horizontal hidden-xs">
            <div class="col-lg-7 col-md-7 col-sm-7">
                <div class="bs-beschriftung-medium-lfc bs-meldungen2">Elektrozähler Allgemein, 12119732, HV Raum Business</div>
                <div class="left bs-meldungen1" data-bind="bsWertanzeigeOhneSchwarz: {
                                    signalNameIW: 'Station_35.Register.El_Allg',
                                    unitLabel: 'true',
                                    staticUnitText: 'kWh'  }" title="Aussentemperatur">
                </div>
            </div>
        </div>
        <div class="row center-horizontal hidden-xs">
            <div class="col-lg-7 col-md-7 col-sm-7">
                <div class="bs-beschriftung-medium-lfc bs-meldungen2">Elektrozähler Haustechnik, 12119732, HV Raum Business</div>
                <div class="left bs-meldungen1" data-bind="bsWertanzeigeOhneSchwarz: {
                                        signalNameIW: 'Station_35.Register.El_Haustechnik',
                                        unitLabel: 'true',
                                        staticUnitText: 'kWh'  }" title="Aussentemperatur">
                </div>
            </div>
        </div>
        <div class="row center-horizontal">
            <div class="col-lg-7 col-md-7 col-sm-7">
                <div class="bs-beschriftung-medium-lfc bs-meldungen2">Gas, San. Zentrale</div>
                <div class="left bs-meldungen1" data-bind="bsWertanzeigeOhneSchwarz: {
                                            signalNameIW: 'Station_35.Register.Gas',
                                            unitLabel: 'true',
                                            staticUnitText: 'm³'  }" title="Aussentemperatur">
                </div>
            </div>
        </div>
        <div class="row center-horizontal hidden-xs">
            <div class="col-lg-7 col-md-7 col-sm-7">
                <div class="bs-beschriftung-medium-lfc bs-meldungen2">Wärmezähler Hotel brutto, 0606905, Heizzentrale UG</div>
                <div class="left bs-meldungen1" data-bind="bsWertanzeigeOhneSchwarz: {
                                                signalNameIW: 'Station_35.Register.WZ_Hotel',
                                                unitLabel: 'true',
                                                staticUnitText: 'MWh'  }" title="Aussentemperatur">
                </div>
            </div>
        </div>
        <div class="row center-horizontal hidden-xs">
            <div class="col-lg-7 col-md-7 col-sm-7">
                <div class="bs-beschriftung-medium-lfc bs-meldungen2">Kältezähler Hotel, 0520358, Kältezentrale Hotel UG</div>
                <div class="left bs-meldungen1" data-bind="bsWertanzeigeOhneSchwarz: {
                                                    signalNameIW: 'Station_35.Register.KZ_Hotel',
                                                    unitLabel: 'true',
                                                    staticUnitText: 'MWh'  }" title="Aussentemperatur">
                </div>
            </div>
        </div>
        <div class="row center-horizontal hidden-xs">
            <div class="col-lg-7 col-md-7 col-sm-7">
                <div class="bs-beschriftung-medium-lfc bs-meldungen2">Wasserzähler Hotel M1, 05801060, San. Zentrale UG</div>
                <div class="left bs-meldungen1" data-bind="bsWertanzeigeOhneSchwarz: {
                                                        signalNameIW: 'Station_35.Register.Wasser_Hotel',
                                                        unitLabel: 'true',
                                                        staticUnitText: 'm³'  }" title="Aussentemperatur">
                </div>
            </div>
        </div>
        <div class="row center-horizontal hidden-xs">
            <div class="col-lg-7 col-md-7 col-sm-7">
                <div class="bs-beschriftung-medium-lfc bs-meldungen2">Wärmezähler Hotel netto</div>
                <div class="left bs-meldungen1" data-bind="bsWertanzeigeOhneSchwarz: {
                                                            signalNameIW: 'Station_35.Register.Netto_Hotel',
                                                            unitLabel: 'true',
                                                            staticUnitText: 'MWh'  }" title="Aussentemperatur">
                </div>
            </div>
        </div>
    </div>
    <!--Seiten-Verlinkungen (Pfeile auf der Seite)-->
    <!-- Widgets -->
    <!-- Workaround um den Bug in der Benutzeranmeldung zu korrigieren -->
    <wf-button style="visibility: hidden;" params="signalName: 'Setpoint 1', writeValue: 1, buttonText: 'Write Value :1', cssClass: 'btn-success', projectAuthorization: 'irgendeinWert'"></wf-button>
</div>