﻿<!--****************************************************************************************************************************************************************************************************************************************************
    Bühler+Scherler
--------------------------------------------------------------------------------------------------------------------------


--------------------------------------------------------------------------------------------------------------------------
ERSTELLT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0		R.Brunnschweiler	BS                  10.07.2017
GEÄNDERT:
VERSION:	AUTOR:				FIRMA:				DATUM:



********************************************************************************************************************************************************************************************************************************************************-->
<div class="container bs_content_container">
    <header>
        <h1 class="page-header bs-header-mittig">Hotelzimmer Fussbodenheizung Radisson BLU</h1>
        <!--BUILDING CONTROL-->
    </header>
    <div class="col-lg-12">
        <div class="">
            <div class="row center-horizontal">
                <div class="col-lg-1 col-md-1 col-sm-1"></div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="bs-fussbodenheizung">
                        <div class="bs-beschriftung-medium bs-horizontaldivider text-center">Zimmer 201 - 221</div>
                        <div class="bs-fussbodenheizung-1">
                            <wf-button params="signalName: 'Station_46.Register.bw_fussbh_h201_241', writeValue: 2, buttonText: 'EIN', cssClass: 'btn-default btn-md btn-success bs-button-fb', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-2">
                            <wf-button params="signalName: 'Station_46.Register.bw_fussbh_h201_241', writeValue: 0, buttonText: 'AUS', cssClass: 'btn-default btn-md btn-danger bs-button-fb', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-3">
                            <wf-button params="signalName: 'Station_46.Register.bw_fussbh_h201_241', writeValue: 1, buttonText: 'AUTOMATIK', cssClass: 'btn-default btn-md btn-success bs-button-fb', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-4" title="Schaltuhr 201 - 241" data-bind="bsSchaltuhr_lfc: {
	signalName: 'Station_46',
    uhr: 'su_fussbh_h201_241',
	dialogTitle: 'Schaltuhr 201 - 241' }">
                        </div>
                        <div class="bs-fussbodenheizung-5" title="Status Fussbodenheizung" data-bind="bsZustandsanzeige_lfc: {
                 authorisierung: 'Administration' ,
                 modulName: 'Station_46.Register.bw_fussbh_h201_241' ,
                 hintergrundTransparent: 'true' ,
                 zustaende: [
                { vergleichswert: '0', farbe: 'color-aus',  text: 'Status: AUS'},
                { vergleichswert: '2', farbe: 'color-ein',  text: 'Status: EIN'},
                { vergleichswert: '1', farbe: 'color-ein',  text: 'Status: AUTO'},
                ]
                }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="bs-fussbodenheizung">
                        <div class="bs-beschriftung-medium bs-horizontaldivider text-center">Zimmer 222 - 241</div>
                        <div class="bs-fussbodenheizung-1">
                            <wf-button params="signalName: 'Station_46.Register.bw_fussbh_h201_241', writeValue: 2, buttonText: 'EIN', cssClass: 'btn-default btn-md btn-success bs-button-fb', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-2">
                            <wf-button params="signalName: 'Station_46.Register.bw_fussbh_h201_241', writeValue: 0, buttonText: 'AUS', cssClass: 'btn-default btn-md btn-danger bs-button-fb', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-3">
                            <wf-button params="signalName: 'Station_46.Register.bw_fussbh_h201_241', writeValue: 1, buttonText: 'AUTOMATIK', cssClass: 'btn-default btn-md btn-success bs-button-fb', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-4" title="Schaltuhr 201 - 241" data-bind="bsSchaltuhr_lfc: {
	signalName: 'Station_46',
    uhr: 'su_fussbh_h201_241',
	dialogTitle: 'Schaltuhr 201 - 241' }">
                        </div>
                        <div class="bs-fussbodenheizung-5" title="Status Fussbodenheizung" data-bind="bsZustandsanzeige_lfc: {
                 authorisierung: 'Administration' ,
                 modulName: 'Station_46.Register.bw_fussbh_h201_241' ,
                 hintergrundTransparent: 'true' ,
                 zustaende: [
                { vergleichswert: '0', farbe: 'color-aus',  text: 'Status: AUS'},
                { vergleichswert: '2', farbe: 'color-ein',  text: 'Status: EIN'},
                { vergleichswert: '1', farbe: 'color-ein',  text: 'Status: AUTO'},
                ]
                }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="bs-fussbodenheizung">
                        <div class="bs-beschriftung-medium bs-horizontaldivider text-center">Zimmer 242 - 256</div>
                        <div class="bs-fussbodenheizung-1">
                            <wf-button params="signalName: 'Station_46.Register.bw_fussbh_h242_256', writeValue: 2, buttonText: 'EIN', cssClass: 'btn-default btn-md btn-success bs-button-fb', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-2">
                            <wf-button params="signalName: 'Station_46.Register.bw_fussbh_h242_256', writeValue: 0, buttonText: 'AUS', cssClass: 'btn-default btn-md btn-danger bs-button-fb', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-3">
                            <wf-button params="signalName: 'Station_46.Register.bw_fussbh_h242_256', writeValue: 1, buttonText: 'AUTOMATIK', cssClass: 'btn-default btn-md btn-success bs-button-fb', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-4" title="Schaltuhr 242 - 256" data-bind="bsSchaltuhr_lfc: {
	signalName: 'Station_46',
    uhr: 'su_fussbh_h242_256',
	dialogTitle: 'Schaltuhr 242 - 256' }">
                        </div>
                        <div class="bs-fussbodenheizung-5" title="Status Fussbodenheizung" data-bind="bsZustandsanzeige_lfc: {
                 authorisierung: 'Administration' ,
                 modulName: 'Station_46.Register.bw_fussbh_h242_256' ,
                 hintergrundTransparent: 'true' ,
                 zustaende: [
                { vergleichswert: '0', farbe: 'color-aus',  text: 'Status: AUS'},
                { vergleichswert: '2', farbe: 'color-ein',  text: 'Status: EIN'},
                { vergleichswert: '1', farbe: 'color-ein',  text: 'Status: AUTO'},
                ]
                }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="bs-fussbodenheizung">
                        <div class="bs-beschriftung-medium bs-horizontaldivider text-center">Zimmer 301 - 321</div>
                        <div class="bs-fussbodenheizung-1">
                            <wf-button params="signalName: 'Station_46.Register.bw_fussbh_h301_343', writeValue: 2, buttonText: 'EIN', cssClass: 'btn-default btn-md btn-success bs-button-fb', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-2">
                            <wf-button params="signalName: 'Station_46.Register.bw_fussbh_h301_343', writeValue: 0, buttonText: 'AUS', cssClass: 'btn-default btn-md btn-danger bs-button-fb', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-3">
                            <wf-button params="signalName: 'Station_46.Register.bw_fussbh_h301_343', writeValue: 1, buttonText: 'AUTOMATIK', cssClass: 'btn-default btn-md btn-success bs-button-fb', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-4" title="Schaltuhr 301 - 321" data-bind="bsSchaltuhr_lfc: {
	signalName: 'Station_46',
    uhr: 'su_fussbh_h301_343',
	dialogTitle: 'Schaltuhr 301 - 321' }">
                        </div>
                        <div class="bs-fussbodenheizung-5" title="Status Fussbodenheizung" data-bind="bsZustandsanzeige_lfc: {
                 authorisierung: 'Administration' ,
                 modulName: 'Station_46.Register.bw_fussbh_h301_343' ,
                 hintergrundTransparent: 'true' ,
                 zustaende: [
                { vergleichswert: '0', farbe: 'color-aus',  text: 'Status: AUS'},
                { vergleichswert: '2', farbe: 'color-ein',  text: 'Status: EIN'},
                { vergleichswert: '1', farbe: 'color-ein',  text: 'Status: AUTO'},
                ]
                }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="bs-fussbodenheizung">
                        <div class="bs-beschriftung-medium bs-horizontaldivider text-center">Zimmer 322 - 343</div>
                        <div class="bs-fussbodenheizung-1">
                            <wf-button params="signalName: 'Station_46.Register.bw_fussbh_h301_343', writeValue: 2, buttonText: 'EIN', cssClass: 'btn-default btn-md btn-success bs-button-fb', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-2">
                            <wf-button params="signalName: 'Station_46.Register.bw_fussbh_h301_343', writeValue: 0, buttonText: 'AUS', cssClass: 'btn-default btn-md btn-danger bs-button-fb', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-3">
                            <wf-button params="signalName: 'Station_46.Register.bw_fussbh_h301_343', writeValue: 1, buttonText: 'AUTOMATIK', cssClass: 'btn-default btn-md btn-success bs-button-fb', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-4" title="Schaltuhr 322 - 343" data-bind="bsSchaltuhr_lfc: {
	signalName: 'Station_46',
    uhr: 'su_fussbh_h301_343',
	dialogTitle: 'Schaltuhr 322 - 343' }">
                        </div>
                        <div class="bs-fussbodenheizung-5" title="Status Fussbodenheizung" data-bind="bsZustandsanzeige_lfc: {
                 authorisierung: 'Administration' ,
                 modulName: 'Station_46.Register.bw_fussbh_h301_343' ,
                 hintergrundTransparent: 'true' ,
                 zustaende: [
                { vergleichswert: '0', farbe: 'color-aus',  text: 'Status: AUS'},
                { vergleichswert: '2', farbe: 'color-ein',  text: 'Status: EIN'},
                { vergleichswert: '1', farbe: 'color-ein',  text: 'Status: AUTO'},
                ]
                }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1"></div>
            </div>
            <div class="row center-horizontal">
                <div class="col-lg-1 col-md-1 col-sm-1"></div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="bs-fussbodenheizung">
                        <div class="bs-beschriftung-medium bs-horizontaldivider text-center">Zimmer 401 - 421</div>
                        <div class="bs-fussbodenheizung-1">
                            <wf-button params="signalName: 'Station_46.Register.bw_fussbh_h401_443', writeValue: 2, buttonText: 'EIN', cssClass: 'btn-default btn-md btn-success bs-button-fb', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-2">
                            <wf-button params="signalName: 'Station_46.Register.bw_fussbh_h401_443', writeValue: 0, buttonText: 'AUS', cssClass: 'btn-default btn-md btn-danger bs-button-fb', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-3">
                            <wf-button params="signalName: 'Station_46.Register.bw_fussbh_h401_443', writeValue: 1, buttonText: 'AUTOMATIK', cssClass: 'btn-default btn-md btn-success bs-button-fb', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-4" title="Schaltuhr 401 - 421" data-bind="bsSchaltuhr_lfc: {
	signalName: 'Station_46',
    uhr: 'su_fussbh_h401_443',
	dialogTitle: 'Schaltuhr 401 - 421' }">
                        </div>
                        <div class="bs-fussbodenheizung-5" title="Status Fussbodenheizung" data-bind="bsZustandsanzeige_lfc: {
                 authorisierung: 'Administration' ,
                 modulName: 'Station_46.Register.bw_fussbh_h401_443' ,
                 hintergrundTransparent: 'true' ,
                 zustaende: [
                { vergleichswert: '0', farbe: 'color-aus',  text: 'Status: AUS'},
                { vergleichswert: '2', farbe: 'color-ein',  text: 'Status: EIN'},
                { vergleichswert: '1', farbe: 'color-ein',  text: 'Status: AUTO'},
                ]
                }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="bs-fussbodenheizung">
                        <div class="bs-beschriftung-medium bs-horizontaldivider text-center">Zimmer 422 - 443</div>
                        <div class="bs-fussbodenheizung-1">
                            <wf-button params="signalName: 'Station_46.Register.bw_fussbh_h401_443', writeValue: 2, buttonText: 'EIN', cssClass: 'btn-default btn-md btn-success bs-button-fb', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-2">
                            <wf-button params="signalName: 'Station_46.Register.bw_fussbh_h401_443', writeValue: 0, buttonText: 'AUS', cssClass: 'btn-default btn-md btn-danger bs-button-fb', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-3">
                            <wf-button params="signalName: 'Station_46.Register.bw_fussbh_h401_443', writeValue: 1, buttonText: 'AUTOMATIK', cssClass: 'btn-default btn-md btn-success bs-button-fb', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-4" title="Schaltuhr 422 - 443" data-bind="bsSchaltuhr_lfc: {
	signalName: 'Station_46',
    uhr: 'su_fussbh_h401_443',
	dialogTitle: 'Schaltuhr 422 - 443' }">
                        </div>
                        <div class="bs-fussbodenheizung-5" title="Status Fussbodenheizung" data-bind="bsZustandsanzeige_lfc: {
                 authorisierung: 'Administration' ,
                 modulName: 'Station_46.Register.bw_fussbh_h401_443' ,
                 hintergrundTransparent: 'true' ,
                 zustaende: [
                { vergleichswert: '0', farbe: 'color-aus',  text: 'Status: AUS'},
                { vergleichswert: '2', farbe: 'color-ein',  text: 'Status: EIN'},
                { vergleichswert: '1', farbe: 'color-ein',  text: 'Status: AUTO'},
                ]
                }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="bs-fussbodenheizung">
                        <div class="bs-beschriftung-medium bs-horizontaldivider text-center">Zimmer 501 - 516</div>
                        <div class="bs-fussbodenheizung-1">
                            <wf-button params="signalName: 'Station_46.Register.bw_fussbh_h501_538', writeValue: 2, buttonText: 'EIN', cssClass: 'btn-default btn-md btn-success bs-button-fb', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-2">
                            <wf-button params="signalName: 'Station_46.Register.bw_fussbh_h501_538', writeValue: 0, buttonText: 'AUS', cssClass: 'btn-default btn-md btn-danger bs-button-fb', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-3">
                            <wf-button params="signalName: 'Station_46.Register.bw_fussbh_h501_538', writeValue: 1, buttonText: 'AUTOMATIK', cssClass: 'btn-default btn-md btn-success bs-button-fb', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-4" title="Schaltuhr 501 - 516" data-bind="bsSchaltuhr_lfc: {
	signalName: 'Station_46',
    uhr: 'su_fussbh_h501_538',
	dialogTitle: 'Schaltuhr 501 - 516' }">
                        </div>
                        <div class="bs-fussbodenheizung-5" title="Status Fussbodenheizung" data-bind="bsZustandsanzeige_lfc: {
                 authorisierung: 'Administration' ,
                 modulName: 'Station_46.Register.bw_fussbh_h501_538' ,
                 hintergrundTransparent: 'true' ,
                 zustaende: [
                { vergleichswert: '0', farbe: 'color-aus',  text: 'Status: AUS'},
                { vergleichswert: '2', farbe: 'color-ein',  text: 'Status: EIN'},
                { vergleichswert: '1', farbe: 'color-ein',  text: 'Status: AUTO'},
                ]
                }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="bs-fussbodenheizung">
                        <div class="bs-beschriftung-medium bs-horizontaldivider text-center">Zimmer 517 - 538</div>
                        <div class="bs-fussbodenheizung-1">
                            <wf-button params="signalName: 'Station_46.Register.bw_fussbh_h501_538', writeValue: 2, buttonText: 'EIN', cssClass: 'btn-default btn-md btn-success bs-button-fb', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-2">
                            <wf-button params="signalName: 'Station_46.Register.bw_fussbh_h501_538', writeValue: 0, buttonText: 'AUS', cssClass: 'btn-default btn-md btn-danger bs-button-fb', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-3">
                            <wf-button params="signalName: 'Station_46.Register.bw_fussbh_h501_538', writeValue: 1, buttonText: 'AUTOMATIK', cssClass: 'btn-default btn-md btn-success bs-button-fb', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-4" title="Schaltuhr 517 - 538" data-bind="bsSchaltuhr_lfc: {
	signalName: 'Station_46',
    uhr: 'su_fussbh_h501_538',
	dialogTitle: 'Schaltuhr 517 - 538' }">
                        </div>
                        <div class="bs-fussbodenheizung-5" title="Status Fussbodenheizung" data-bind="bsZustandsanzeige_lfc: {
                 authorisierung: 'Administration' ,
                 modulName: 'Station_46.Register.bw_fussbh_h501_538' ,
                 hintergrundTransparent: 'true' ,
                 zustaende: [
                { vergleichswert: '0', farbe: 'color-aus',  text: 'Status: AUS'},
                { vergleichswert: '2', farbe: 'color-ein',  text: 'Status: EIN'},
                { vergleichswert: '1', farbe: 'color-ein',  text: 'Status: AUTO'},
                ]
                }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="bs-fussbodenheizung">
                        <div class="bs-beschriftung-medium bs-horizontaldivider text-center">Zimmer 539 - 547</div>
                        <div class="bs-fussbodenheizung-1">
                            <wf-button params="signalName: 'Station_46.Register.bw_fussbh_h539_547', writeValue: 2, buttonText: 'EIN', cssClass: 'btn-default btn-md btn-success bs-button-fb', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-2">
                            <wf-button params="signalName: 'Station_46.Register.bw_fussbh_h539_547', writeValue: 0, buttonText: 'AUS', cssClass: 'btn-default btn-md btn-danger bs-button-fb', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-3">
                            <wf-button params="signalName: 'Station_46.Register.bw_fussbh_h539_547', writeValue: 1, buttonText: 'AUTOMATIK', cssClass: 'btn-default btn-md btn-success bs-button-fb', isTipModeEnabled: false"></wf-button>
                        </div>
                        <div class="bs-fussbodenheizung-4" title="Schaltuhr 539 - 547" data-bind="bsSchaltuhr_lfc: {
	signalName: 'Station_46',
    uhr: 'su_fussbh_h539_547',
	dialogTitle: 'Schaltuhr 539 - 547' }">
                        </div>
                        <div class="bs-fussbodenheizung-5" title="Status Fussbodenheizung" data-bind="bsZustandsanzeige_lfc: {
                 authorisierung: 'Administration' ,
                 modulName: 'Station_46.Register.bw_fussbh_h539_547' ,
                 hintergrundTransparent: 'true' ,
                 zustaende: [
                { vergleichswert: '0', farbe: 'color-aus',  text: 'Status: AUS'},
                { vergleichswert: '2', farbe: 'color-ein',  text: 'Status: EIN'},
                { vergleichswert: '1', farbe: 'color-ein',  text: 'Status: AUTO'},
                ]
                }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1"></div>
            </div>
            <!--Seiten-Verlinkungen (Pfeile auf der Seite)-->
            <!-- Widgets -->
            <!-- Workaround um den Bug in der Benutzeranmeldung zu korrigieren -->
            <wf-button style="visibility: hidden;" params="signalName: 'Setpoint 1', writeValue: 1, buttonText: 'Write Value :1', cssClass: 'btn-success', projectAuthorization: 'irgendeinWert'"></wf-button>
        </div>
    </div>
</div>
