﻿<!--****************************************************************************************************************************************************************************************************************************************************
    Bühler+Scherler
--------------------------------------------------------------------------------------------------------------------------


--------------------------------------------------------------------------------------------------------------------------
ERSTELLT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0		R.Brunnschweiler	BS                  10.07.2017
GEÄNDERT:
VERSION:	AUTOR:				FIRMA:				DATUM:



********************************************************************************************************************************************************************************************************************************************************-->
<div class="container bs_content_container">
    <header>
        <h1 class="page-header bs-header-mittig">Hotelzimmer 2.OG Radisson BLU</h1>
        <!--BUILDING CONTROL-->
    </header>
    <div class="col-lg-12">
        <div class="">
            <!--Seiten-Verlinkungen (Pfeile auf der Seite)-->
            <!-- Widgets -->
            <div class="row bs-room-1">
                <div data-bind="bsZimmermaster: {
    dialogTitle: 'SETUP',
    authorisierung: 'Administration',
    masterName: 'Station_45',
    roomcontrolName: 'ERR_Zimmer_202',
    roomNumber: '202'
    }">
                </div>
            </div>
            <div class="row bs-room-1">
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 201',
    authorisierung: 'Administration',
	masterName: 'Station_45',
    roomcontrolName: 'ERR_Zimmer_201',
    roomNumber: '201'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 202',
    authorisierung: 'Administration',
	masterName: 'Station_45',
    roomcontrolName: 'ERR_Zimmer_202',
    roomNumber: '202'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 203',
    authorisierung: 'Administration',
	masterName: 'Station_45',
    roomcontrolName: 'ERR_Zimmer_203',
    roomNumber: '203'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 204',
    authorisierung: 'Administration',
	masterName: 'Station_45',
    roomcontrolName: 'ERR_Zimmer_204',
    roomNumber: '204'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 205',
    authorisierung: 'Administration',
	masterName: 'Station_45',
    roomcontrolName: 'ERR_Zimmer_205',
    roomNumber: '205'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 206',
    authorisierung: 'Administration',
	masterName: 'Station_45',
    roomcontrolName: 'ERR_Zimmer_206',
    roomNumber: '206'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 207',
    authorisierung: 'Administration',
	masterName: 'Station_45',
    roomcontrolName: 'ERR_Zimmer_207',
    roomNumber: '207'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 208',
    authorisierung: 'Administration',
	masterName: 'Station_45',
    roomcontrolName: 'ERR_Zimmer_208',
    roomNumber: '208'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 209',
    authorisierung: 'Administration',
	masterName: 'Station_45',
    roomcontrolName: 'ERR_Zimmer_209',
    roomNumber: '209'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 210',
    authorisierung: 'Administration',
	masterName: 'Station_45',
    roomcontrolName: 'ERR_Zimmer_210',
    roomNumber: '210'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 211',
    authorisierung: 'Administration',
	masterName: 'Station_45',
    roomcontrolName: 'ERR_Zimmer_211',
    roomNumber: '211'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 212',
    authorisierung: 'Administration',
	masterName: 'Station_45',
    roomcontrolName: 'ERR_Zimmer_212',
    roomNumber: '212'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 213',
    authorisierung: 'Administration',
	masterName: 'Station_45',
    roomcontrolName: 'ERR_Zimmer_213',
    roomNumber: '213'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 214',
    authorisierung: 'Administration',
	masterName: 'Station_45',
    roomcontrolName: 'ERR_Zimmer_214',
    roomNumber: '214'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 215',
    authorisierung: 'Administration',
	masterName: 'Station_45',
    roomcontrolName: 'ERR_Zimmer_215',
    roomNumber: '215'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 216',
    authorisierung: 'Administration',
	masterName: 'Station_45',
    roomcontrolName: 'ERR_Zimmer_216',
    roomNumber: '216'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 217',
    authorisierung: 'Administration',
	masterName: 'Station_45',
    roomcontrolName: 'ERR_Zimmer_217',
    roomNumber: '217'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 218',
    authorisierung: 'Administration',
	masterName: 'Station_45',
    roomcontrolName: 'ERR_Zimmer_218',
    roomNumber: '218'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 219',
    authorisierung: 'Administration',
	masterName: 'Station_45',
    roomcontrolName: 'ERR_Zimmer_219',
    roomNumber: '219'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 220',
    authorisierung: 'Administration',
	masterName: 'Station_45',
    roomcontrolName: 'ERR_Zimmer_220',
    roomNumber: '220'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 221',
    authorisierung: 'Administration',
	masterName: 'Station_45',
    roomcontrolName: 'ERR_Zimmer_221',
    roomNumber: '221'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 222',
    authorisierung: 'Administration',
	masterName: 'Station_45',
    roomcontrolName: 'ERR_Zimmer_222',
    roomNumber: '222'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 223',
    authorisierung: 'Administration',
	masterName: 'Station_45',
    roomcontrolName: 'ERR_Zimmer_223',
    roomNumber: '223'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 224',
    authorisierung: 'Administration',
	masterName: 'Station_45',
    roomcontrolName: 'ERR_Zimmer_224',
    roomNumber: '224'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 225',
    authorisierung: 'Administration',
	masterName: 'Station_45',
    roomcontrolName: 'ERR_Zimmer_225',
    roomNumber: '225'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 226',
    authorisierung: 'Administration',
	masterName: 'Station_45',
    roomcontrolName: 'ERR_Zimmer_226',
    roomNumber: '226'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 227',
    authorisierung: 'Administration',
	masterName: 'Station_45',
    roomcontrolName: 'ERR_Zimmer_227',
    roomNumber: '227'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 228',
    authorisierung: 'Administration',
	masterName: 'Station_45',
    roomcontrolName: 'ERR_Zimmer_228',
    roomNumber: '228'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 229',
    authorisierung: 'Administration',
	masterName: 'Station_45',
    roomcontrolName: 'ERR_Zimmer_229',
    roomNumber: '229'
	}">
                </div>

                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 230',
    authorisierung: 'Administration',
	masterName: 'Station_45',
    roomcontrolName: 'ERR_Zimmer_230',
    roomNumber: '230'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 231',
    authorisierung: 'Administration',
	masterName: 'Station_45',
    roomcontrolName: 'ERR_Zimmer_231',
    roomNumber: '231'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 232',
    authorisierung: 'Administration',
	masterName: 'Station_45',
    roomcontrolName: 'ERR_Zimmer_232',
    roomNumber: '232'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 233_1',
    authorisierung: 'Administration',
	masterName: 'Station_45',
    roomcontrolName: 'ERR_Zimmer_233_1',
    roomNumber: '233_1'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 233_2',
    authorisierung: 'Administration',
	masterName: 'Station_45',
    roomcontrolName: 'ERR_Zimmer_233_2',
    roomNumber: '233_2'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 234',
    authorisierung: 'Administration',
	masterName: 'Station_45',
    roomcontrolName: 'ERR_Zimmer_234',
    roomNumber: '234'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 235',
    authorisierung: 'Administration',
	masterName: 'Station_45',
    roomcontrolName: 'ERR_Zimmer_235',
    roomNumber: '235'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 236',
    authorisierung: 'Administration',
	masterName: 'Station_45',
    roomcontrolName: 'ERR_Zimmer_236',
    roomNumber: '236'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 237',
    authorisierung: 'Administration',
	masterName: 'Station_45',
    roomcontrolName: 'ERR_Zimmer_237',
    roomNumber: '237'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 238',
    authorisierung: 'Administration',
	masterName: 'Station_45',
    roomcontrolName: 'ERR_Zimmer_238',
    roomNumber: '238'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 239',
    authorisierung: 'Administration',
	masterName: 'Station_45',
    roomcontrolName: 'ERR_Zimmer_239',
    roomNumber: '239'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 240',
    authorisierung: 'Administration',
	masterName: 'Station_45',
    roomcontrolName: 'ERR_Zimmer_240',
    roomNumber: '240'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 241',
    authorisierung: 'Administration',
	masterName: 'Station_45',
    roomcontrolName: 'ERR_Zimmer_241',
    roomNumber: '241'
	}">
                </div>
                <div data-bind="bsZimmer_business: {
    dialogTitle: 'Zimmer 242',
    authorisierung: 'Administration',
    masterName: 'Station_52',
    roomcontrolName: 'ERR_Zimmer_242',
    roomNumber: '242'
    }">
                </div>
                <div data-bind="bsZimmer_business: {
    dialogTitle: 'Zimmer 243',
    authorisierung: 'Administration',
    masterName: 'Station_52',
    roomcontrolName: 'ERR_Zimmer_243',
    roomNumber: '243'
    }">
                </div>
                <div data-bind="bsZimmer_business: {
    dialogTitle: 'Zimmer 244',
    authorisierung: 'Administration',
    masterName: 'Station_52',
    roomcontrolName: 'ERR_Zimmer_244',
    roomNumber: '244'
    }">
                </div>
                <div data-bind="bsZimmer_business: {
    dialogTitle: 'Zimmer 245',
    authorisierung: 'Administration',
    masterName: 'Station_52',
    roomcontrolName: 'ERR_Zimmer_245',
    roomNumber: '245'
    }">
                </div>
                <div data-bind="bsZimmer_business: {
    dialogTitle: 'Zimmer 246',
    authorisierung: 'Administration',
    masterName: 'Station_52',
    roomcontrolName: 'ERR_Zimmer_246',
    roomNumber: '246'
    }">
                </div>
                <div data-bind="bsZimmer_business: {
    dialogTitle: 'Zimmer 247',
    authorisierung: 'Administration',
    masterName: 'Station_52',
    roomcontrolName: 'ERR_Zimmer_247',
    roomNumber: '247'
    }">
                </div>
                <div data-bind="bsZimmer_business: {
    dialogTitle: 'Zimmer 248',
    authorisierung: 'Administration',
    masterName: 'Station_52',
    roomcontrolName: 'ERR_Zimmer_248',
    roomNumber: '248'
    }">
                </div>
                <div data-bind="bsZimmer_business: {
    dialogTitle: 'Zimmer 249',
    authorisierung: 'Administration',
    masterName: 'Station_52',
    roomcontrolName: 'ERR_Zimmer_249',
    roomNumber: '249'
    }">
                </div>
                <div data-bind="bsZimmer_business: {
    dialogTitle: 'Zimmer 250',
    authorisierung: 'Administration',
    masterName: 'Station_52',
    roomcontrolName: 'ERR_Zimmer_250',
    roomNumber: '250'
    }">
                </div>
                <div data-bind="bsZimmer_business: {
    dialogTitle: 'Zimmer 251',
    authorisierung: 'Administration',
    masterName: 'Station_52',
    roomcontrolName: 'ERR_Zimmer_251',
    roomNumber: '251'
    }">
                </div>
                <div data-bind="bsZimmer_business: {
    dialogTitle: 'Zimmer 252',
    authorisierung: 'Administration',
    masterName: 'Station_52',
    roomcontrolName: 'ERR_Zimmer_252',
    roomNumber: '252'
    }">
                </div>
                <div data-bind="bsZimmer_business: {
    dialogTitle: 'Zimmer 253_1',
    authorisierung: 'Administration',
    masterName: 'Station_52',
    roomcontrolName: 'ERR_Zimmer_253_1',
    roomNumber: '253_1'
    }">
                </div>
                <div data-bind="bsZimmer_business: {
    dialogTitle: 'Zimmer 253_2',
    authorisierung: 'Administration',
    masterName: 'Station_52',
    roomcontrolName: 'ERR_Zimmer_253_2',
    roomNumber: '253_2'
    }">
                </div>
                <div data-bind="bsZimmer_business: {
    dialogTitle: 'Zimmer 254',
    authorisierung: 'Administration',
    masterName: 'Station_52',
    roomcontrolName: 'ERR_Zimmer_254',
    roomNumber: '254'
    }">
                </div>
                <div data-bind="bsZimmer_business: {
    dialogTitle: 'Zimmer 255',
    authorisierung: 'Administration',
    masterName: 'Station_52',
    roomcontrolName: 'ERR_Zimmer_255',
    roomNumber: '255'
    }">
                </div>
                <div data-bind="bsZimmer_business: {
    dialogTitle: 'Zimmer 256',
    authorisierung: 'Administration',
    masterName: 'Station_52',
    roomcontrolName: 'ERR_Zimmer_256',
    roomNumber: '256'
    }">
                </div>
            </div>
            <!-- Workaround um den Bug in der Benutzeranmeldung zu korrigieren -->
            <wf-button style="visibility: hidden;" params="signalName: 'Setpoint 1', writeValue: 1, buttonText: 'Write Value :1', cssClass: 'btn-success', projectAuthorization: 'irgendeinWert'"></wf-button>
        </div>
    </div>
</div>