﻿<!--****************************************************************************************************************************************************************************************************************************************************
    Bühler+Scherler
--------------------------------------------------------------------------------------------------------------------------


--------------------------------------------------------------------------------------------------------------------------
ERSTELLT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0		R.Brunnschweiler	BS                  10.07.2017
GEÄNDERT:
VERSION:	AUTOR:				FIRMA:				DATUM:



********************************************************************************************************************************************************************************************************************************************************-->
<div class="container bs_content_container">
    <header>
        <h1 class="page-header bs-header-mittig">Hotelzimmer 3.OG Radisson BLU</h1>
        <!--BUILDING CONTROL-->
    </header>
    <div class="col-lg-12">
        <div class="">
            <!--Seiten-Verlinkungen (Pfeile auf der Seite)-->
            <!-- Widgets -->
            <div class="row bs-room-1">
                <div data-bind="bsZimmermaster: {
    dialogTitle: 'SETUP',
    authorisierung: 'Administration',
	masterName: 'Station_45',
    roomcontrolName: 'ERR_Zimmer_241',
    roomNumber: '241'
	}">
                </div>
            </div>
            <div class="row bs-room-1">
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 301',
    authorisierung: 'Administration',
	masterName: 'Station_45',
    roomcontrolName: 'ERR_Zimmer_301',
    roomNumber: '301'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 302',
    authorisierung: 'Administration',
	masterName: 'Station_45',
    roomcontrolName: 'ERR_Zimmer_302',
    roomNumber: '302'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 303',
    authorisierung: 'Administration',
	masterName: 'Station_45',
    roomcontrolName: 'ERR_Zimmer_303',
    roomNumber: '303'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 304',
    authorisierung: 'Administration',
	masterName: 'Station_45',
    roomcontrolName: 'ERR_Zimmer_304',
    roomNumber: '304'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 305',
    authorisierung: 'Administration',
	masterName: 'Station_45',
    roomcontrolName: 'ERR_Zimmer_305',
    roomNumber: '305'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 306',
    authorisierung: 'Administration',
	masterName: 'Station_45',
    roomcontrolName: 'ERR_Zimmer_306',
    roomNumber: '306'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 307',
    authorisierung: 'Administration',
	masterName: 'Station_45',
    roomcontrolName: 'ERR_Zimmer_307',
    roomNumber: '307'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 308',
    authorisierung: 'Administration',
	masterName: 'Station_45',
    roomcontrolName: 'ERR_Zimmer_308',
    roomNumber: '308'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 309',
    authorisierung: 'Administration',
	masterName: 'Station_45',
    roomcontrolName: 'ERR_Zimmer_309',
    roomNumber: '309'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 310',
    authorisierung: 'Administration',
	masterName: 'Station_45',
    roomcontrolName: 'ERR_Zimmer_310',
    roomNumber: '310'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 311',
    authorisierung: 'Administration',
	masterName: 'Station_45',
    roomcontrolName: 'ERR_Zimmer_311',
    roomNumber: '311'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 312',
    authorisierung: 'Administration',
	masterName: 'Station_45',
    roomcontrolName: 'ERR_Zimmer_312',
    roomNumber: '312'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 313',
    authorisierung: 'Administration',
	masterName: 'Station_45',
    roomcontrolName: 'ERR_Zimmer_313',
    roomNumber: '313'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 314',
    authorisierung: 'Administration',
	masterName: 'Station_45',
    roomcontrolName: 'ERR_Zimmer_314',
    roomNumber: '314'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 315',
    authorisierung: 'Administration',
	masterName: 'Station_45',
    roomcontrolName: 'ERR_Zimmer_315',
    roomNumber: '315'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 316',
    authorisierung: 'Administration',
	masterName: 'Station_45',
    roomcontrolName: 'ERR_Zimmer_316',
    roomNumber: '316'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 317',
    authorisierung: 'Administration',
	masterName: 'Station_45',
    roomcontrolName: 'ERR_Zimmer_317',
    roomNumber: '317'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 318',
    authorisierung: 'Administration',
	masterName: 'Station_45',
    roomcontrolName: 'ERR_Zimmer_318',
    roomNumber: '318'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 319',
    authorisierung: 'Administration',
	masterName: 'Station_45',
    roomcontrolName: 'ERR_Zimmer_319',
    roomNumber: '319'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 320',
    authorisierung: 'Administration',
	masterName: 'Station_45',
    roomcontrolName: 'ERR_Zimmer_320',
    roomNumber: '320'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 321',
    authorisierung: 'Administration',
	masterName: 'Station_45',
    roomcontrolName: 'ERR_Zimmer_321',
    roomNumber: '321'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 322',
    authorisierung: 'Administration',
	masterName: 'Station_45',
    roomcontrolName: 'ERR_Zimmer_322',
    roomNumber: '322'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 323',
    authorisierung: 'Administration',
	masterName: 'Station_45',
    roomcontrolName: 'ERR_Zimmer_323',
    roomNumber: '323'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 324',
    authorisierung: 'Administration',
	masterName: 'Station_45',
    roomcontrolName: 'ERR_Zimmer_324',
    roomNumber: '324'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 325',
    authorisierung: 'Administration',
	masterName: 'Station_45',
    roomcontrolName: 'ERR_Zimmer_325',
    roomNumber: '325'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 326',
    authorisierung: 'Administration',
	masterName: 'Station_45',
    roomcontrolName: 'ERR_Zimmer_326',
    roomNumber: '326'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 327',
    authorisierung: 'Administration',
	masterName: 'Station_45',
    roomcontrolName: 'ERR_Zimmer_327',
    roomNumber: '327'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 328',
    authorisierung: 'Administration',
	masterName: 'Station_45',
    roomcontrolName: 'ERR_Zimmer_328',
    roomNumber: '328'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 329',
    authorisierung: 'Administration',
	masterName: 'Station_45',
    roomcontrolName: 'ERR_Zimmer_329',
    roomNumber: '329'
	}">
                </div>

                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 330',
    authorisierung: 'Administration',
	masterName: 'Station_45',
    roomcontrolName: 'ERR_Zimmer_330',
    roomNumber: '330'
	}">
                </div>

                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 331',
    authorisierung: 'Administration',
	masterName: 'Station_45',
    roomcontrolName: 'ERR_Zimmer_331',
    roomNumber: '331'
	}">
                </div>

                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 332',
    authorisierung: 'Administration',
	masterName: 'Station_45',
    roomcontrolName: 'ERR_Zimmer_332',
    roomNumber: '332'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 333_1',
    authorisierung: 'Administration',
	masterName: 'Station_45',
    roomcontrolName: 'ERR_Zimmer_333_1',
    roomNumber: '333_1'
	}">
                </div>


                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 333_2',
    authorisierung: 'Administration',
	masterName: 'Station_45',
    roomcontrolName: 'ERR_Zimmer_333_2',
    roomNumber: '333_2'
	}">
                </div>


                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 334',
    authorisierung: 'Administration',
	masterName: 'Station_45',
    roomcontrolName: 'ERR_Zimmer_334',
    roomNumber: '334'
	}">
                </div>


                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 335',
    authorisierung: 'Administration',
	masterName: 'Station_45',
    roomcontrolName: 'ERR_Zimmer_335',
    roomNumber: '335'
	}">
                </div>


                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 336',
    authorisierung: 'Administration',
	masterName: 'Station_45',
    roomcontrolName: 'ERR_Zimmer_336',
    roomNumber: '336'
	}">
                </div>

                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 337',
    authorisierung: 'Administration',
	masterName: 'Station_45',
    roomcontrolName: 'ERR_Zimmer_337',
    roomNumber: '337'
	}">
                </div>


                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 338',
    authorisierung: 'Administration',
	masterName: 'Station_45',
    roomcontrolName: 'ERR_Zimmer_338',
    roomNumber: '338'
	}">
                </div>


                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 339',
    authorisierung: 'Administration',
	masterName: 'Station_45',
    roomcontrolName: 'ERR_Zimmer_339',
    roomNumber: '339'
	}">
                </div>


                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 340',
    authorisierung: 'Administration',
	masterName: 'Station_45',
    roomcontrolName: 'ERR_Zimmer_340',
    roomNumber: '340'
	}">
                </div>


                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 341',
    authorisierung: 'Administration',
	masterName: 'Station_45',
    roomcontrolName: 'ERR_Zimmer_341',
    roomNumber: '341'
	}">
                </div>


                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 342',
    authorisierung: 'Administration',
	masterName: 'Station_45',
    roomcontrolName: 'ERR_Zimmer_342',
    roomNumber: '342'
	}">
                </div>


                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 343',
    authorisierung: 'Administration',
	masterName: 'Station_45',
    roomcontrolName: 'ERR_Zimmer_343',
    roomNumber: '343'
	}">
                </div>

            </div>
            <!-- Workaround um den Bug in der Benutzeranmeldung zu korrigieren -->
            <wf-button style="visibility: hidden;" params="signalName: 'Setpoint 1', writeValue: 1, buttonText: 'Write Value :1', cssClass: 'btn-success', projectAuthorization: 'irgendeinWert'"></wf-button>
        </div>
    </div>
</div>
