﻿<!--****************************************************************************************************************************************************************************************************************************************************
    Bühler+Scherler
--------------------------------------------------------------------------------------------------------------------------


--------------------------------------------------------------------------------------------------------------------------
ERSTELLT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0		R.Brunnschweiler	BS                  10.07.2017
GEÄNDERT:
VERSION:	AUTOR:				FIRMA:				DATUM:



********************************************************************************************************************************************************************************************************************************************************-->
<div class="container bs_content_container">
    <header>
        <h1 class="page-header bs-header-mittig">Hotelzimmer 4.OG Radisson BLU</h1>
        <!--BUILDING CONTROL-->
    </header>
    <div class="col-lg-12">
        <div class="">
            <!--Seiten-Verlinkungen (Pfeile auf der Seite)-->
            <!-- Widgets -->
            <div class="row bs-room-1">
                <div data-bind="bsZimmermaster: {
    dialogTitle: 'SETUP',
    authorisierung: 'Administration',
    masterName: 'Station_45',
    roomcontrolName: 'ERR_Zimmer_202',
    roomNumber: '202'
    }">
                </div>
            </div>
            <div class="row bs-room-1">
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 401',
    authorisierung: 'Administration',
	masterName: 'Station_46',
    roomcontrolName: 'ERR_Zimmer_401',
    roomNumber: '401'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 402',
    authorisierung: 'Administration',
	masterName: 'Station_46',
    roomcontrolName: 'ERR_Zimmer_402',
    roomNumber: '402'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 403',
    authorisierung: 'Administration',
	masterName: 'Station_46',
    roomcontrolName: 'ERR_Zimmer_403',
    roomNumber: '403'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 404',
    authorisierung: 'Administration',
	masterName: 'Station_46',
    roomcontrolName: 'ERR_Zimmer_404',
    roomNumber: '404'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 405',
    authorisierung: 'Administration',
	masterName: 'Station_46',
    roomcontrolName: 'ERR_Zimmer_405',
    roomNumber: '405'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 406',
    authorisierung: 'Administration',
	masterName: 'Station_46',
    roomcontrolName: 'ERR_Zimmer_406',
    roomNumber: '406'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 407',
    authorisierung: 'Administration',
	masterName: 'Station_46',
    roomcontrolName: 'ERR_Zimmer_407',
    roomNumber: '407'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 408',
    authorisierung: 'Administration',
	masterName: 'Station_46',
    roomcontrolName: 'ERR_Zimmer_408',
    roomNumber: '408'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 409',
    authorisierung: 'Administration',
	masterName: 'Station_46',
    roomcontrolName: 'ERR_Zimmer_409',
    roomNumber: '409'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 410',
    authorisierung: 'Administration',
	masterName: 'Station_46',
    roomcontrolName: 'ERR_Zimmer_410',
    roomNumber: '410'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 411',
    authorisierung: 'Administration',
	masterName: 'Station_46',
    roomcontrolName: 'ERR_Zimmer_411',
    roomNumber: '411'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 412',
    authorisierung: 'Administration',
	masterName: 'Station_46',
    roomcontrolName: 'ERR_Zimmer_412',
    roomNumber: '412'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 413',
    authorisierung: 'Administration',
	masterName: 'Station_46',
    roomcontrolName: 'ERR_Zimmer_413',
    roomNumber: '413'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 414',
    authorisierung: 'Administration',
	masterName: 'Station_46',
    roomcontrolName: 'ERR_Zimmer_414',
    roomNumber: '414'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 415',
    authorisierung: 'Administration',
	masterName: 'Station_46',
    roomcontrolName: 'ERR_Zimmer_415',
    roomNumber: '415'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 416',
    authorisierung: 'Administration',
	masterName: 'Station_46',
    roomcontrolName: 'ERR_Zimmer_416',
    roomNumber: '416'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 417',
    authorisierung: 'Administration',
	masterName: 'Station_46',
    roomcontrolName: 'ERR_Zimmer_417',
    roomNumber: '417'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 418',
    authorisierung: 'Administration',
	masterName: 'Station_46',
    roomcontrolName: 'ERR_Zimmer_418',
    roomNumber: '418'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 419',
    authorisierung: 'Administration',
	masterName: 'Station_46',
    roomcontrolName: 'ERR_Zimmer_419',
    roomNumber: '419'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 420',
    authorisierung: 'Administration',
	masterName: 'Station_46',
    roomcontrolName: 'ERR_Zimmer_420',
    roomNumber: '420'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 421',
    authorisierung: 'Administration',
	masterName: 'Station_46',
    roomcontrolName: 'ERR_Zimmer_421',
    roomNumber: '421'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 422',
    authorisierung: 'Administration',
	masterName: 'Station_46',
    roomcontrolName: 'ERR_Zimmer_422',
    roomNumber: '422'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 423',
    authorisierung: 'Administration',
	masterName: 'Station_46',
    roomcontrolName: 'ERR_Zimmer_423',
    roomNumber: '423'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 424',
    authorisierung: 'Administration',
	masterName: 'Station_46',
    roomcontrolName: 'ERR_Zimmer_424',
    roomNumber: '424'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 425',
    authorisierung: 'Administration',
	masterName: 'Station_46',
    roomcontrolName: 'ERR_Zimmer_425',
    roomNumber: '425'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 426',
    authorisierung: 'Administration',
	masterName: 'Station_46',
    roomcontrolName: 'ERR_Zimmer_426',
    roomNumber: '426'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 427',
    authorisierung: 'Administration',
	masterName: 'Station_46',
    roomcontrolName: 'ERR_Zimmer_427',
    roomNumber: '427'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 428',
    authorisierung: 'Administration',
	masterName: 'Station_46',
    roomcontrolName: 'ERR_Zimmer_428',
    roomNumber: '428'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 429',
    authorisierung: 'Administration',
	masterName: 'Station_46',
    roomcontrolName: 'ERR_Zimmer_429',
    roomNumber: '429'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 430',
    authorisierung: 'Administration',
	masterName: 'Station_46',
    roomcontrolName: 'ERR_Zimmer_430',
    roomNumber: '430'
	}">
                </div>

                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 431',
    authorisierung: 'Administration',
	masterName: 'Station_46',
    roomcontrolName: 'ERR_Zimmer_431',
    roomNumber: '431'
	}">
                </div>

                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 432',
    authorisierung: 'Administration',
	masterName: 'Station_46',
    roomcontrolName: 'ERR_Zimmer_432',
    roomNumber: '432'
	}">
                </div>

                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 433_1',
    authorisierung: 'Administration',
	masterName: 'Station_46',
    roomcontrolName: 'ERR_Zimmer_433_1',
    roomNumber: '433_1'
	}">
                </div>


                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 433_2',
    authorisierung: 'Administration',
	masterName: 'Station_46',
    roomcontrolName: 'ERR_Zimmer_433_2',
    roomNumber: '433_2'
	}">
                </div>


                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 434',
    authorisierung: 'Administration',
	masterName: 'Station_46',
    roomcontrolName: 'ERR_Zimmer_434',
    roomNumber: '434'
	}">
                </div>


                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 435',
    authorisierung: 'Administration',
	masterName: 'Station_46',
    roomcontrolName: 'ERR_Zimmer_435',
    roomNumber: '435'
	}">
                </div>


                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 436',
    authorisierung: 'Administration',
	masterName: 'Station_46',
    roomcontrolName: 'ERR_Zimmer_436',
    roomNumber: '436'
	}">
                </div>


                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 437',
    authorisierung: 'Administration',
	masterName: 'Station_46',
    roomcontrolName: 'ERR_Zimmer_437',
    roomNumber: '437'
	}">
                </div>


                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 438',
    authorisierung: 'Administration',
	masterName: 'Station_46',
    roomcontrolName: 'ERR_Zimmer_438',
    roomNumber: '438'
	}">
                </div>


                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 439',
    authorisierung: 'Administration',
	masterName: 'Station_46',
    roomcontrolName: 'ERR_Zimmer_439',
    roomNumber: '439'
	}">
                </div>


                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 440',
    authorisierung: 'Administration',
	masterName: 'Station_46',
    roomcontrolName: 'ERR_Zimmer_440',
    roomNumber: '440'
	}">
                </div>


                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 441',
    authorisierung: 'Administration',
	masterName: 'Station_46',
    roomcontrolName: 'ERR_Zimmer_441',
    roomNumber: '441'
	}">
                </div>


                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 442',
    authorisierung: 'Administration',
	masterName: 'Station_46',
    roomcontrolName: 'ERR_Zimmer_442',
    roomNumber: '442'
	}">
                </div>


                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 443',
    authorisierung: 'Administration',
	masterName: 'Station_46',
    roomcontrolName: 'ERR_Zimmer_443',
    roomNumber: '443'
	}">
                </div>

            </div>

            <!-- Workaround um den Bug in der Benutzeranmeldung zu korrigieren -->
            <wf-button style="visibility: hidden;" params="signalName: 'Setpoint 1', writeValue: 1, buttonText: 'Write Value :1', cssClass: 'btn-success', projectAuthorization: 'irgendeinWert'"></wf-button>
        </div>
    </div>
</div>
