﻿<!--****************************************************************************************************************************************************************************************************************************************************
    Bühler+Scherler
--------------------------------------------------------------------------------------------------------------------------


--------------------------------------------------------------------------------------------------------------------------
ERSTELLT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0		R.Brunnschweiler	BS                  10.07.2017
GEÄNDERT:
VERSION:	AUTOR:				FIRMA:				DATUM:



********************************************************************************************************************************************************************************************************************************************************-->
<div class="container bs_content_container">
    <header>
        <h1 class="page-header bs-header-mittig">Hotelzimmer 5.OG Radisson BLU</h1>
        <!--BUILDING CONTROL-->
    </header>
    <div class="col-lg-12">
        <div class="">
            <!--Seiten-Verlinkungen (Pfeile auf der Seite)-->
            <!-- Widgets -->
            <div class="row bs-room-1">
                <div data-bind="bsZimmermaster: {
    dialogTitle: 'SETUP',
    authorisierung: 'Administration',
    masterName: 'Station_45',
    roomcontrolName: 'ERR_Zimmer_202',
    roomNumber: '202'
    }">
                </div>
            </div>
            <div class="row bs-room-1">
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 501',
    authorisierung: 'Administration',
	masterName: 'Station_46',
    roomcontrolName: 'ERR_Zimmer_501',
    roomNumber: '501'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 502',
    authorisierung: 'Administration',
	masterName: 'Station_46',
    roomcontrolName: 'ERR_Zimmer_502',
    roomNumber: '502'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 503',
    authorisierung: 'Administration',
	masterName: 'Station_46',
    roomcontrolName: 'ERR_Zimmer_503',
    roomNumber: '503'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 504',
    authorisierung: 'Administration',
	masterName: 'Station_46',
    roomcontrolName: 'ERR_Zimmer_504',
    roomNumber: '504'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 505',
    authorisierung: 'Administration',
	masterName: 'Station_46',
    roomcontrolName: 'ERR_Zimmer_505',
    roomNumber: '505'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 506',
    authorisierung: 'Administration',
	masterName: 'Station_46',
    roomcontrolName: 'ERR_Zimmer_506',
    roomNumber: '506'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 507',
    authorisierung: 'Administration',
	masterName: 'Station_46',
    roomcontrolName: 'ERR_Zimmer_507',
    roomNumber: '507'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 508',
    authorisierung: 'Administration',
	masterName: 'Station_46',
    roomcontrolName: 'ERR_Zimmer_508',
    roomNumber: '508'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 509',
    authorisierung: 'Administration',
	masterName: 'Station_46',
    roomcontrolName: 'ERR_Zimmer_509',
    roomNumber: '509'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 510',
    authorisierung: 'Administration',
	masterName: 'Station_46',
    roomcontrolName: 'ERR_Zimmer_510',
    roomNumber: '510'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 511',
    authorisierung: 'Administration',
	masterName: 'Station_46',
    roomcontrolName: 'ERR_Zimmer_511',
    roomNumber: '511'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 512',
    authorisierung: 'Administration',
	masterName: 'Station_46',
    roomcontrolName: 'ERR_Zimmer_512',
    roomNumber: '512'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 513',
    authorisierung: 'Administration',
	masterName: 'Station_46',
    roomcontrolName: 'ERR_Zimmer_513',
    roomNumber: '513'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 514',
    authorisierung: 'Administration',
	masterName: 'Station_46',
    roomcontrolName: 'ERR_Zimmer_514',
    roomNumber: '514'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 515',
    authorisierung: 'Administration',
	masterName: 'Station_46',
    roomcontrolName: 'ERR_Zimmer_515',
    roomNumber: '515'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 516',
    authorisierung: 'Administration',
	masterName: 'Station_46',
    roomcontrolName: 'ERR_Zimmer_516',
    roomNumber: '516'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 517',
    authorisierung: 'Administration',
	masterName: 'Station_46',
    roomcontrolName: 'ERR_Zimmer_517',
    roomNumber: '517'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 518',
    authorisierung: 'Administration',
	masterName: 'Station_46',
    roomcontrolName: 'ERR_Zimmer_518',
    roomNumber: '518'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 519',
    authorisierung: 'Administration',
	masterName: 'Station_46',
    roomcontrolName: 'ERR_Zimmer_519',
    roomNumber: '519'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 520',
    authorisierung: 'Administration',
	masterName: 'Station_46',
    roomcontrolName: 'ERR_Zimmer_520',
    roomNumber: '520'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 521',
    authorisierung: 'Administration',
	masterName: 'Station_46',
    roomcontrolName: 'ERR_Zimmer_521',
    roomNumber: '521'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 522',
    authorisierung: 'Administration',
	masterName: 'Station_46',
    roomcontrolName: 'ERR_Zimmer_522',
    roomNumber: '522'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 523',
    authorisierung: 'Administration',
	masterName: 'Station_46',
    roomcontrolName: 'ERR_Zimmer_523',
    roomNumber: '523'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 524',
    authorisierung: 'Administration',
	masterName: 'Station_46',
    roomcontrolName: 'ERR_Zimmer_524',
    roomNumber: '524'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 525',
    authorisierung: 'Administration',
	masterName: 'Station_46',
    roomcontrolName: 'ERR_Zimmer_525',
    roomNumber: '525'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 526',
    authorisierung: 'Administration',
	masterName: 'Station_46',
    roomcontrolName: 'ERR_Zimmer_526',
    roomNumber: '526'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 527',
    authorisierung: 'Administration',
	masterName: 'Station_46',
    roomcontrolName: 'ERR_Zimmer_527',
    roomNumber: '527'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 528_1',
    authorisierung: 'Administration',
	masterName: 'Station_46',
    roomcontrolName: 'ERR_Zimmer_528_1',
    roomNumber: '528_1'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 528_2',
    authorisierung: 'Administration',
	masterName: 'Station_46',
    roomcontrolName: 'ERR_Zimmer_528_2',
    roomNumber: '528_2'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 529',
    authorisierung: 'Administration',
	masterName: 'Station_46',
    roomcontrolName: 'ERR_Zimmer_529',
    roomNumber: '529'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 530',
    authorisierung: 'Administration',
	masterName: 'Station_46',
    roomcontrolName: 'ERR_Zimmer_530',
    roomNumber: '530'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 531',
    authorisierung: 'Administration',
	masterName: 'Station_46',
    roomcontrolName: 'ERR_Zimmer_531',
    roomNumber: '531'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 532',
    authorisierung: 'Administration',
	masterName: 'Station_46',
    roomcontrolName: 'ERR_Zimmer_532',
    roomNumber: '532'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 533',
    authorisierung: 'Administration',
	masterName: 'Station_46',
    roomcontrolName: 'ERR_Zimmer_533',
    roomNumber: '533'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 534',
    authorisierung: 'Administration',
	masterName: 'Station_46',
    roomcontrolName: 'ERR_Zimmer_534',
    roomNumber: '534'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 535',
    authorisierung: 'Administration',
	masterName: 'Station_46',
    roomcontrolName: 'ERR_Zimmer_535',
    roomNumber: '535'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 536',
    authorisierung: 'Administration',
	masterName: 'Station_46',
    roomcontrolName: 'ERR_Zimmer_536',
    roomNumber: '536'
	}">
                </div>
                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 537',
    authorisierung: 'Administration',
	masterName: 'Station_46',
    roomcontrolName: 'ERR_Zimmer_537',
    roomNumber: '537'
	}">
                </div>


                <div data-bind="bsZimmer: {
    dialogTitle: 'Zimmer 538',
    authorisierung: 'Administration',
	masterName: 'Station_46',
    roomcontrolName: 'ERR_Zimmer_538',
    roomNumber: '538'
	}">
                </div>


                <div data-bind="bsZimmer_business: {
    dialogTitle: 'Zimmer 539',
    authorisierung: 'Administration',
    masterName: 'Station_52',
    roomcontrolName: 'ERR_Zimmer_539',
    roomNumber: '539'
    }">
                </div>


                <div data-bind="bsZimmer_business: {
    dialogTitle: 'Zimmer 540',
    authorisierung: 'Administration',
    masterName: 'Station_52',
    roomcontrolName: 'ERR_Zimmer_540',
    roomNumber: '540'
    }">
                </div>


                <div data-bind="bsZimmer_business: {
    dialogTitle: 'Zimmer 541',
    authorisierung: 'Administration',
    masterName: 'Station_52',
    roomcontrolName: 'ERR_Zimmer_541',
    roomNumber: '541'
    }">
                </div>


                <div data-bind="bsZimmer_business: {
    dialogTitle: 'Zimmer 542',
    authorisierung: 'Administration',
    masterName: 'Station_52',
    roomcontrolName: 'ERR_Zimmer_542',
    roomNumber: '542'
    }">
                </div>


                <div data-bind="bsZimmer_business: {
    dialogTitle: 'Zimmer 543',
    authorisierung: 'Administration',
    masterName: 'Station_52',
    roomcontrolName: 'ERR_Zimmer_543',
    roomNumber: '543'
    }">
                </div>


                <div data-bind="bsZimmer_business: {
    dialogTitle: 'Zimmer 544',
    authorisierung: 'Administration',
    masterName: 'Station_52',
    roomcontrolName: 'ERR_Zimmer_544',
    roomNumber: '544'
    }">
                </div>


                <div data-bind="bsZimmer_business: {
    dialogTitle: 'Zimmer 545',
    authorisierung: 'Administration',
    masterName: 'Station_52',
    roomcontrolName: 'ERR_Zimmer_545',
    roomNumber: '545'
    }">
                </div>


                <div data-bind="bsZimmer_business: {
    dialogTitle: 'Zimmer 545',
    authorisierung: 'Administration',
    masterName: 'Station_52',
    roomcontrolName: 'ERR_Zimmer_545',
    roomNumber: '545'
    }">
                </div>


                <div data-bind="bsZimmer_business: {
    dialogTitle: 'Zimmer 546_1',
    authorisierung: 'Administration',
    masterName: 'Station_52',
    roomcontrolName: 'ERR_Zimmer_546_1',
    roomNumber: '546_1'
    }">
                </div>
                <div data-bind="bsZimmer_business: {
    dialogTitle: 'Zimmer 546_2',
    authorisierung: 'Administration',
    masterName: 'Station_52',
    roomcontrolName: 'ERR_Zimmer_546_2',
    roomNumber: '546_2'
    }">
                </div>



                <div data-bind="bsZimmer_business: {
    dialogTitle: 'Zimmer 547',
    authorisierung: 'Administration',
    masterName: 'Station_52',
    roomcontrolName: 'ERR_Zimmer_547',
    roomNumber: '547'
    }">
                </div>
            </div>


            <!-- Workaround um den Bug in der Benutzeranmeldung zu korrigieren -->
            <wf-button style="visibility: hidden;" params="signalName: 'Setpoint 1', writeValue: 1, buttonText: 'Write Value :1', cssClass: 'btn-success', projectAuthorization: 'irgendeinWert'"></wf-button>
        </div>
    </div>
</div>
