﻿<!--****************************************************************************************************************************************************************************************************************************************************
    Bühler+Scherler
--------------------------------------------------------------------------------------------------------------------------


--------------------------------------------------------------------------------------------------------------------------
ERSTELLT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0		R.Brunnschweiler	BS                  10.07.2017
GEÄNDERT:
VERSION:	AUTOR:				FIRMA:				DATUM:



********************************************************************************************************************************************************************************************************************************************************-->
<div class="container bs_content_container">
    <header>
        <h1 class="page-header bs-header-mittig">Hotelzimmer EIB Schaltuhren Radisson BLU</h1>
        <!--BUILDING CONTROL-->
    </header>
    <div class="col-lg-12">
        <div class="">
            <div class="row center-horizontal">
                <div class="col-lg-1 col-md-1 col-sm-1"></div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="bs-fussbodenheizung">
                        <div class="bs-beschriftung-medium bs-horizontaldivider text-center">Zeit Korridor Tag</div>
                        <div class="bs-fussbodenheizung-4" title="Schaltuhr Korridor Tag EIN" data-bind="bsSchaltuhr_lfc: {
	signalName: 'Station_44',
    uhr: 'su_tag_ein',
	dialogTitle: 'Schaltuhr Korridor Tag EIN' }">
                        </div>
                        <div class="bs-fussbodenheizung-5" title="Status Schaltuhr" data-bind="bsZustandsanzeige_lfc: {
                 authorisierung: 'Administration' ,
                 modulName: 'Station_44.Flag.zeit_korridor_tag_ein' ,
                 hintergrundTransparent: 'true' ,
                 zustaende: [
                { vergleichswert: '0', farbe: 'color-aus',  text: 'Status: inaktiv'},
                { vergleichswert: '1', farbe: 'color-ein',  text: 'Status: aktiv'},
                ]
                }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="bs-fussbodenheizung">
                        <div class="bs-beschriftung-medium bs-horizontaldivider text-center">Zeit Korridor Tag und Nacht</div>
                        <div class="bs-fussbodenheizung-4" title="Schaltuhr Korridor Tag und Nacht EIN" data-bind="bsSchaltuhr_lfc: {
	signalName: 'Station_44',
    uhr: 'su_tag_nacht_ein',
	dialogTitle: 'Schaltuhr Korridor Tag und Nacht EIN' }">
                        </div>
                        <div class="bs-fussbodenheizung-5" title="Status Schaltuhr" data-bind="bsZustandsanzeige_lfc: {
                 authorisierung: 'Administration' ,
                 modulName: 'Station_44.Flag.zeit_korridor_tag_und_nacht_ein' ,
                 hintergrundTransparent: 'true' ,
                 zustaende: [
                { vergleichswert: '0', farbe: 'color-aus',  text: 'Status: inaktiv'},
                { vergleichswert: '1', farbe: 'color-ein',  text: 'Status: aktiv'},
                ]
                }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="bs-fussbodenheizung">
                        <div class="bs-beschriftung-medium bs-horizontaldivider text-center">Zeit Aussensignalisation Nacht</div>
                        <div class="bs-fussbodenheizung-4" title="Schaltuhr Aussensignalisation Nacht EIN" data-bind="bsSchaltuhr_lfc: {
	signalName: 'Station_44',
    uhr: 'su_zeit_befehl_03',
	dialogTitle: 'Schaltuhr Aussensignalisation Nacht EIN' }">
                        </div>
                        <div class="bs-fussbodenheizung-5" title="Status Schaltuhr" data-bind="bsZustandsanzeige_lfc: {
                 authorisierung: 'Administration' ,
                 modulName: 'Station_44.Flag.zeit_befehl_03' ,
                 hintergrundTransparent: 'true' ,
                 zustaende: [
                { vergleichswert: '0', farbe: 'color-aus',  text: 'Status: inaktiv'},
                { vergleichswert: '1', farbe: 'color-ein',  text: 'Status: aktiv'},
                ]
                }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="bs-fussbodenheizung">
                        <div class="bs-beschriftung-medium bs-horizontaldivider text-center">Zeit Aussenbeleuchtung</div>
                        <div class="bs-fussbodenheizung-4" title="Schaltuhr Aussenbeleuchtung EIN" data-bind="bsSchaltuhr_lfc: {
	signalName: 'Station_44',
    uhr: 'su_zeit_befehl_04',
	dialogTitle: 'Schaltuhr Aussenbeleuchtung EIN' }">
                        </div>
                        <div class="bs-fussbodenheizung-5" title="Status Schaltuhr" data-bind="bsZustandsanzeige_lfc: {
                 authorisierung: 'Administration' ,
                 modulName: 'Station_44.Flag.zeit_befehl_04' ,
                 hintergrundTransparent: 'true' ,
                 zustaende: [
                { vergleichswert: '0', farbe: 'color-aus',  text: 'Status: inaktiv'},
                { vergleichswert: '1', farbe: 'color-ein',  text: 'Status: aktiv'},
                ]
                }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="bs-fussbodenheizung">
                        <div class="bs-beschriftung-medium bs-horizontaldivider text-center">Zeit Reklame Nacht</div>
                        <div class="bs-fussbodenheizung-4" title="Schaltuhr Reklame Nacht EIN" data-bind="bsSchaltuhr_lfc: {
	signalName: 'Station_44',
    uhr: 'su_zeit_befehl_05',
	dialogTitle: 'Schaltuhr Reklame Nacht EIN' }">
                        </div>
                        <div class="bs-fussbodenheizung-5" title="Status Schaltuhr" data-bind="bsZustandsanzeige_lfc: {
                 authorisierung: 'Administration' ,
                 modulName: 'Station_44.Flag.zeit_befehl_05' ,
                 hintergrundTransparent: 'true' ,
                 zustaende: [
                { vergleichswert: '0', farbe: 'color-aus',  text: 'Status: inaktiv'},
                { vergleichswert: '1', farbe: 'color-ein',  text: 'Status: aktiv'},
                ]
                }">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row center-horizontal">
                <div class="col-lg-1 col-md-1 col-sm-1"></div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="bs-fussbodenheizung">
                        <div class="bs-beschriftung-medium bs-horizontaldivider text-center">Reserve</div>
                        <div class="bs-fussbodenheizung-4" title="Schaltuhr 6" data-bind="bsSchaltuhr_lfc: {
	signalName: 'Station_44',
    uhr: 'su_zeit_befehl_06',
	dialogTitle: 'Schaltuhr 6' }">
                        </div>
                        <div class="bs-fussbodenheizung-5" title="Status Schaltuhr" data-bind="bsZustandsanzeige_lfc: {
                 authorisierung: 'Administration' ,
                 modulName: 'Station_44.Flag.zeit_befehl_06' ,
                 hintergrundTransparent: 'true' ,
                 zustaende: [
                { vergleichswert: '0', farbe: 'color-aus',  text: 'Status: inaktiv'},
                { vergleichswert: '1', farbe: 'color-ein',  text: 'Status: aktiv'},
                ]
                }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="bs-fussbodenheizung">
                        <div class="bs-beschriftung-medium bs-horizontaldivider text-center">Beleuchtung Atrium 1.OG Hotel</div>
                        <div class="bs-fussbodenheizung-4" title="Beleuchtung Atrium 1.OG Hotel" data-bind="bsSchaltuhr_lfc: {
	signalName: 'Station_44',
    uhr: 'su_zeit_befehl_07',
	dialogTitle: 'Beleuchtung Atrium 1.OG Hotel' }">
                        </div>
                        <div class="bs-fussbodenheizung-5" title="Status Schaltuhr" data-bind="bsZustandsanzeige_lfc: {
                 authorisierung: 'Administration' ,
                 modulName: 'Station_44.Flag.zeit_befehl_07' ,
                 hintergrundTransparent: 'true' ,
                 zustaende: [
                { vergleichswert: '0', farbe: 'color-aus',  text: 'Status: inaktiv'},
                { vergleichswert: '1', farbe: 'color-ein',  text: 'Status: aktiv'},
                ]
                }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="bs-fussbodenheizung">
                        <div class="bs-beschriftung-medium bs-horizontaldivider text-center">Reserve</div>
                        <div class="bs-fussbodenheizung-4" title="Schaltuhr 8" data-bind="bsSchaltuhr_lfc: {
	signalName: 'Station_44',
    uhr: 'su_zeit_befehl_08',
	dialogTitle: 'Schaltuhr 8' }">
                        </div>
                        <div class="bs-fussbodenheizung-5" title="Status Schaltuhr" data-bind="bsZustandsanzeige_lfc: {
                 authorisierung: 'Administration' ,
                 modulName: 'Station_44.Flag.zeit_befehl_06' ,
                 hintergrundTransparent: 'true' ,
                 zustaende: [
                { vergleichswert: '0', farbe: 'color-aus',  text: 'Status: inaktiv'},
                { vergleichswert: '1', farbe: 'color-ein',  text: 'Status: aktiv'},
                ]
                }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="bs-fussbodenheizung">
                        <div class="bs-beschriftung-medium bs-horizontaldivider text-center">Reserve</div>
                        <div class="bs-fussbodenheizung-4" title="Schaltuhr 9" data-bind="bsSchaltuhr_lfc: {
	signalName: 'Station_44',
    uhr: 'su_zeit_befehl_09',
	dialogTitle: 'Schaltuhr 9' }">
                        </div>
                        <div class="bs-fussbodenheizung-5" title="Status Schaltuhr" data-bind="bsZustandsanzeige_lfc: {
                 authorisierung: 'Administration' ,
                 modulName: 'Station_44.Flag.zeit_befehl_06' ,
                 hintergrundTransparent: 'true' ,
                 zustaende: [
                { vergleichswert: '0', farbe: 'color-aus',  text: 'Status: inaktiv'},
                { vergleichswert: '1', farbe: 'color-ein',  text: 'Status: aktiv'},
                ]
                }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="bs-fussbodenheizung">
                        <div class="bs-beschriftung-medium bs-horizontaldivider text-center">Reserve</div>
                        <div class="bs-fussbodenheizung-4" title="Schaltuhr 10" data-bind="bsSchaltuhr_lfc: {
	signalName: 'Station_44',
    uhr: 'su_zeit_befehl_10',
	dialogTitle: 'Schaltuhr 10' }">
                        </div>
                        <div class="bs-fussbodenheizung-5" title="Status Schaltuhr" data-bind="bsZustandsanzeige_lfc: {
                 authorisierung: 'Administration' ,
                 modulName: 'Station_44.Flag.zeit_befehl_06' ,
                 hintergrundTransparent: 'true' ,
                 zustaende: [
                { vergleichswert: '0', farbe: 'color-aus',  text: 'Status: inaktiv'},
                { vergleichswert: '1', farbe: 'color-ein',  text: 'Status: aktiv'},
                ]
                }">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row center-horizontal">
                <div class="col-lg-1 col-md-1 col-sm-1"></div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="bs-fussbodenheizung">
                        <div class="bs-beschriftung-medium bs-horizontaldivider text-center">Reserve</div>
                        <div class="bs-fussbodenheizung-4" title="Schaltuhr 11" data-bind="bsSchaltuhr_lfc: {
	signalName: 'Station_44',
    uhr: 'su_zeit_befehl_11',
	dialogTitle: 'Schaltuhr 11' }">
                        </div>
                        <div class="bs-fussbodenheizung-5" title="Status Schaltuhr" data-bind="bsZustandsanzeige_lfc: {
                 authorisierung: 'Administration' ,
                 modulName: 'Station_44.Flag.zeit_befehl_06' ,
                 hintergrundTransparent: 'true' ,
                 zustaende: [
                { vergleichswert: '0', farbe: 'color-aus',  text: 'Status: inaktiv'},
                { vergleichswert: '1', farbe: 'color-ein',  text: 'Status: aktiv'},
                ]
                }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="bs-fussbodenheizung">
                        <div class="bs-beschriftung-medium bs-horizontaldivider text-center">Reserve</div>
                        <div class="bs-fussbodenheizung-4" title="Schaltuhr 12" data-bind="bsSchaltuhr_lfc: {
	signalName: 'Station_44',
    uhr: 'su_zeit_befehl_12',
	dialogTitle: 'Schaltuhr 12' }">
                        </div>
                        <div class="bs-fussbodenheizung-5" title="Status Schaltuhr" data-bind="bsZustandsanzeige_lfc: {
                 authorisierung: 'Administration' ,
                 modulName: 'Station_44.Flag.zeit_befehl_06' ,
                 hintergrundTransparent: 'true' ,
                 zustaende: [
                { vergleichswert: '0', farbe: 'color-aus',  text: 'Status: inaktiv'},
                { vergleichswert: '1', farbe: 'color-ein',  text: 'Status: aktiv'},
                ]
                }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="bs-fussbodenheizung">
                        <div class="bs-beschriftung-medium bs-horizontaldivider text-center">Reserve</div>
                        <div class="bs-fussbodenheizung-4" title="Schaltuhr 13" data-bind="bsSchaltuhr_lfc: {
	signalName: 'Station_44',
    uhr: 'su_zeit_befehl_13',
	dialogTitle: 'Schaltuhr 13' }">
                        </div>
                        <div class="bs-fussbodenheizung-5" title="Status Schaltuhr" data-bind="bsZustandsanzeige_lfc: {
                 authorisierung: 'Administration' ,
                 modulName: 'Station_44.Flag.zeit_befehl_06' ,
                 hintergrundTransparent: 'true' ,
                 zustaende: [
                { vergleichswert: '0', farbe: 'color-aus',  text: 'Status: inaktiv'},
                { vergleichswert: '1', farbe: 'color-ein',  text: 'Status: aktiv'},
                ]
                }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="bs-fussbodenheizung">
                        <div class="bs-beschriftung-medium bs-horizontaldivider text-center">Reserve</div>
                        <div class="bs-fussbodenheizung-4" title="Schaltuhr 14" data-bind="bsSchaltuhr_lfc: {
	signalName: 'Station_44',
    uhr: 'su_zeit_befehl_14',
	dialogTitle: 'Schaltuhr 14' }">
                        </div>
                        <div class="bs-fussbodenheizung-5" title="Status Schaltuhr" data-bind="bsZustandsanzeige_lfc: {
                 authorisierung: 'Administration' ,
                 modulName: 'Station_44.Flag.zeit_befehl_06' ,
                 hintergrundTransparent: 'true' ,
                 zustaende: [
                { vergleichswert: '0', farbe: 'color-aus',  text: 'Status: inaktiv'},
                { vergleichswert: '1', farbe: 'color-ein',  text: 'Status: aktiv'},
                ]
                }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="bs-fussbodenheizung">
                        <div class="bs-beschriftung-medium bs-horizontaldivider text-center">Reserve</div>
                        <div class="bs-fussbodenheizung-4" title="Schaltuhr 15" data-bind="bsSchaltuhr_lfc: {
	signalName: 'Station_44',
    uhr: 'su_zeit_befehl_15',
	dialogTitle: 'Schaltuhr 15' }">
                        </div>
                        <div class="bs-fussbodenheizung-5" title="Status Schaltuhr" data-bind="bsZustandsanzeige_lfc: {
                 authorisierung: 'Administration' ,
                 modulName: 'Station_44.Flag.zeit_befehl_06' ,
                 hintergrundTransparent: 'true' ,
                 zustaende: [
                { vergleichswert: '0', farbe: 'color-aus',  text: 'Status: inaktiv'},
                { vergleichswert: '1', farbe: 'color-ein',  text: 'Status: aktiv'},
                ]
                }">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row center-horizontal">
                <div class="col-lg-1 col-md-1 col-sm-1"></div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="bs-fussbodenheizung">
                        <div class="bs-beschriftung-medium bs-horizontaldivider text-center">Reserve</div>
                        <div class="bs-fussbodenheizung-4" title="Schaltuhr 16" data-bind="bsSchaltuhr_lfc: {
	signalName: 'Station_44',
    uhr: 'su_zeit_befehl_16',
	dialogTitle: 'Schaltuhr 16' }">
                        </div>
                        <div class="bs-fussbodenheizung-5" title="Status Schaltuhr" data-bind="bsZustandsanzeige_lfc: {
                 authorisierung: 'Administration' ,
                 modulName: 'Station_44.Flag.zeit_befehl_06' ,
                 hintergrundTransparent: 'true' ,
                 zustaende: [
                { vergleichswert: '0', farbe: 'color-aus',  text: 'Status: inaktiv'},
                { vergleichswert: '1', farbe: 'color-ein',  text: 'Status: aktiv'},
                ]
                }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="bs-fussbodenheizung">
                        <div class="bs-beschriftung-medium bs-horizontaldivider text-center">Reserve</div>
                        <div class="bs-fussbodenheizung-4" title="Schaltuhr 17" data-bind="bsSchaltuhr_lfc: {
	signalName: 'Station_44',
    uhr: 'su_zeit_befehl_17',
	dialogTitle: 'Schaltuhr 17' }">
                        </div>
                        <div class="bs-fussbodenheizung-5" title="Status Schaltuhr" data-bind="bsZustandsanzeige_lfc: {
                 authorisierung: 'Administration' ,
                 modulName: 'Station_44.Flag.zeit_befehl_06' ,
                 hintergrundTransparent: 'true' ,
                 zustaende: [
                { vergleichswert: '0', farbe: 'color-aus',  text: 'Status: inaktiv'},
                { vergleichswert: '1', farbe: 'color-ein',  text: 'Status: aktiv'},
                ]
                }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="bs-fussbodenheizung">
                        <div class="bs-beschriftung-medium bs-horizontaldivider text-center">Reserve</div>
                        <div class="bs-fussbodenheizung-4" title="Schaltuhr 18" data-bind="bsSchaltuhr_lfc: {
	signalName: 'Station_44',
    uhr: 'su_zeit_befehl_18',
	dialogTitle: 'Schaltuhr 18' }">
                        </div>
                        <div class="bs-fussbodenheizung-5" title="Status Schaltuhr" data-bind="bsZustandsanzeige_lfc: {
                 authorisierung: 'Administration' ,
                 modulName: 'Station_44.Flag.zeit_befehl_06' ,
                 hintergrundTransparent: 'true' ,
                 zustaende: [
                { vergleichswert: '0', farbe: 'color-aus',  text: 'Status: inaktiv'},
                { vergleichswert: '1', farbe: 'color-ein',  text: 'Status: aktiv'},
                ]
                }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="bs-fussbodenheizung">
                        <div class="bs-beschriftung-medium bs-horizontaldivider text-center">Reserve</div>
                        <div class="bs-fussbodenheizung-4" title="Schaltuhr 19" data-bind="bsSchaltuhr_lfc: {
	signalName: 'Station_44',
    uhr: 'su_zeit_befehl_19',
	dialogTitle: 'Schaltuhr 19' }">
                        </div>
                        <div class="bs-fussbodenheizung-5" title="Status Schaltuhr" data-bind="bsZustandsanzeige_lfc: {
                 authorisierung: 'Administration' ,
                 modulName: 'Station_44.Flag.zeit_befehl_06' ,
                 hintergrundTransparent: 'true' ,
                 zustaende: [
                { vergleichswert: '0', farbe: 'color-aus',  text: 'Status: inaktiv'},
                { vergleichswert: '1', farbe: 'color-ein',  text: 'Status: aktiv'},
                ]
                }">
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2">
                    <div class="bs-fussbodenheizung">
                        <div class="bs-beschriftung-medium bs-horizontaldivider text-center">Fassaden Benedict 3. - 5.OG Aut</div>
                        <div class="bs-fussbodenheizung-4" title="Schaltuhr Fassaden Benedict 3.-5.OG Aut" data-bind="bsSchaltuhr_lfc: {
	signalName: 'Station_44',
    uhr: 'su_zeit_befehl_20',
	dialogTitle: 'Schaltuhr Fassaden Benedict 3.-5.OG Aut' }">
                        </div>
                        <div class="bs-fussbodenheizung-5" title="Status Schaltuhr" data-bind="bsZustandsanzeige_lfc: {
                 authorisierung: 'Administration' ,
                 modulName: 'Station_44.Flag.zeit_befehl_06' ,
                 hintergrundTransparent: 'true' ,
                 zustaende: [
                { vergleichswert: '0', farbe: 'color-aus',  text: 'Status: inaktiv'},
                { vergleichswert: '1', farbe: 'color-ein',  text: 'Status: aktiv'},
                ]
                }">
                        </div>
                    </div>
                </div>
            </div>
            <!--Seiten-Verlinkungen (Pfeile auf der Seite)-->
            <!-- Widgets -->
            <!-- Workaround um den Bug in der Benutzeranmeldung zu korrigieren -->
            <wf-button style="visibility: hidden;" params="signalName: 'Setpoint 1', writeValue: 1, buttonText: 'Write Value :1', cssClass: 'btn-success', projectAuthorization: 'irgendeinWert'"></wf-button>
        </div>
    </div>
</div>
