﻿<!--****************************************************************************************************************************************************************************************************************************************************
    Bühler+Scherler
--------------------------------------------------------------------------------------------------------------------------


--------------------------------------------------------------------------------------------------------------------------
ERSTELLT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0		R.Brunnschweiler	BS                  10.07.2017
GEÄNDERT:
VERSION:	AUTOR:				FIRMA:				DATUM:



********************************************************************************************************************************************************************************************************************************************************-->
<div class="container bs_content_container">
    <header>
        <h1 class="page-header bs-header-mittig">Hotelzimmer 2.OG Radisson SAS</h1>
        <!--BUILDING CONTROL-->
    </header>
    <div class="col-lg-12">
        <div class="bs-responsive hidden-xs">
            <!--Seiten-Verlinkungen (Pfeile auf der Seite)-->
            <!-- Widgets -->

            <!-- Ventil -->
            <div style="position:absolute; left:1107px; top:285px" title="426Y1" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	einheit: '%',
	anzeigefeldLinks: '42',
	anzeigefeldOben: '10',
	winkel: '0',
	signalName: 'Station_36.Register.AO049_sw_426y1'}">
            </div>

            <!-- tphSensor -->
            <div style="position:absolute; left:1107px; top:370px" title="135B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '270',
	sensortyp: 'T',
	signalName: 'Station_48.Register.AI049_135b1',
	handLinks: '12',
	handOben: '2',
	}">
            </div>

            <!-- bsDigitaleUeberwachung -->
            <div style="position:absolute; left:1107px; top:420px" title="414B1" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Station_36.Flag.al_414b1_frost',
     einheit: 'ohne'
     }">
            </div>

            <!-- Klappe  symbol:'bs bs-vav', 'bs bs-klappe-fahrend', 'bs bs-bsk-fahrend' || (typ: 'stetig' oder 'digital', bei digital wird das Ausgabefeld nicht angezeigt, stetig ist default, Bsp.: 'stetig')-->
            <!--signalName == normale Variable ||| position == wenn klappe stetig mit IST-Anzeige-->
            <div style="position:absolute; left: 1107px; top: 505px;" title="466Y3" data-bind="bsKlappe_lfc: {
  symbol:'bs bs-klappe-fahrend',
  handLinks: '-10',
  handOben: '10',
  einheit: '%',
  anzeigefeldLinks: '-10',
  anzeigefeldOben: '-30',
  typ: 'stetig',
  winkel: '0',
  signalName: 'Station_36.Register.status_466y3', 
  position: 'Station_36.Register.status_466y3'
  }">
            </div>

            <!-- bsZustandsanzeige_lfc -->
            <div style="position:absolute; left: 1107px; top: 100px;" title="Teilstörung" data-bind="bsZustandsanzeige_lfc: {
                 authorisierung: 'Administration' ,
                 modulName: 'Station_42.Flag.DI253_rm_473s1' ,
                 hintergrundTransparent: 'true' ,
                 zustaende: [
                { vergleichswert: '0', farbe: 'color-aus',  text: 'hallo'},
                { vergleichswert: '1', farbe: 'color-fehler',  text: 'hier'},
                { vergleichswert: '2', farbe: 'color-fehler',  text: 'Rafael'}
                ]
                }">
            </div>

            <!-- Anlageschalter -->
            <div style="position:absolute; left:1676px; top:635px" title="L02 Lüftungsanlage Läden EG" data-bind="bsAnlageschalter_lfc: {
	dialogTitle: 'L02 Lüftungsanlage Läden EG ',
	signalName: 'Station_36',
    stromPfad: 'L02'
	}">
            </div>

            <!-- bsMotorStufen_lfc -->
            <div style="position:absolute; left:1107px; top:200px" title="225M1" data-bind="bsMotorStufen_lfc: {
    dialogTitle: 'Pumpe 225M1',
    signalName: 'Station_36',
    stromPfad: '225m1',
	motorAusrichtung: 'oben',
	motortyp: 'pumpe',
	handLinks: '20',
	handOben: '10'
	}">
            </div>

            <!-- bsMotor3Stufen_lfc -->
            <div style="position:absolute; left:1107px; top:250px" title="225M1" data-bind="bsMotor3Stufen_lfc: {
    dialogTitle: 'Pumpe 225M1',
    signalName: 'Station_36',
    stromPfad: '225m1',
	motorAusrichtung: 'oben',
	motortyp: 'ventilator',
	handLinks: '20',
	handOben: '10',
    stufe: '3'
	}">
            </div>

            <!-- Schaltuhr_bs -->
            <div style="position:absolute; left:1766px; top:635px" title="Schaltuhr Lüftungsanlage L02 Läden EG" data-bind="bsSchaltuhr_lfc: {
	signalName: 'Station_36',
    uhr: 'su_L23',
	dialogTitle: 'Schaltuhr Lüftungsanlage L02 Läden EG' }">
            </div>

            <!-- Workaround um den Bug in der Benutzeranmeldung zu korrigieren -->
            <wf-button style="visibility: hidden;" params="signalName: 'Setpoint 1', writeValue: 1, buttonText: 'Write Value :1', cssClass: 'btn-success', projectAuthorization: 'irgendeinWert'"></wf-button>
        </div>
    </div>
</div>
