﻿<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12" data-bind="demoWidgetsList:{ selectedWidgetName: widgetName, selectedCategory: widgetCategory}"></div>
        <div class="col-xs-12">

            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#widgetTab" aria-controls="widgetTab" role="tab" data-toggle="tab">Widget <span class="label label-primary">wfWriteValueButton</span></a></li>
                <li role="presentation"><a href="#componentTab" aria-controls="componentTab" role="tab" data-toggle="tab">Component <span class="label label-warning">wf-button</span></a></li>

            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="widgetTab">
                    <div class="row">
                        <div class="col-xs-12">
                            <h4>{{connector.translate("I4SCADA_scwfWriteValueButton_Widget_Header")()}}</h4>
                            <br />
                        </div>
                        <div class="col-sm-12 col-md-2">
                            <div data-bind="wfWriteValueButton: { signalName: 'Setpoint 1', writeValue: 1, buttonText: 'Write Value: 1', cssClass: 'btn-primary' }"></div>
                            <br />
                        </div>
                        <div class="col-sm-12 col-md-10">
                            <div>
                                <pre class="prettyprint">
&lt;div data-bind=&quot;wfWriteValueButton: { signalName: &#39;Setpoint 1&#39;, writeValue: 1, buttonText: &#39;Write Value: 1&#39;, cssClass: &#39;btn-primary&#39;}&quot;&gt;&lt;/div></pre>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="componentTab">
                    <div class="row">
                        <div class="col-xs-12">
                            <h4>{{connector.translate("I4SCADA_scwfWriteValueButton_Component_Header")()}}</h4>
                            <br />
                        </div>
                        <div class="col-sm-12 col-md-2">
                            <wf-button params="signalName: 'Setpoint 1', writeValue: 1, buttonText: 'Write Value: 1', cssClass: 'btn-primary'"></wf-button>
                            <br />
                        </div>
                        <div class="col-sm-12 col-md-10">
                            <div>
                                <pre class="prettyprint">
&lt;wf-button params=&quot;signalName: &#39;Setpoint 1&#39;, writeValue: 1, buttonText: &#39;Write Value: 1&#39;, cssClass: &#39;btn-primary&#39;&quot;&gt;&lt;/wf-button></pre>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="col-xs-12">
            <div class="wf-panel panel panel-default">
                <div class="panel-heading">
                    <div class="pull-right wf-panel-toolbar" data-bind="wfLanguageDropdown: {dropdownAlignment: 'right'}"></div>
                    <h3 class="panel-title">{{connector.translate("I4SCADA_Table_Headline")()}}</h3>
                </div>
                <!--<div class="panel-body"></div>-->
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>{{connector.translate("I4SCADA_Properties")()}}</th>
                            <th>{{connector.translate("I4SCADA_Type")()}}</th>
                            <th>{{connector.translate("I4SCADA_Default_Value")()}}</th>
                            <th>{{connector.translate("I4SCADA_Description")()}}</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: widgetProperties">
                        <tr>
                            <td data-bind="text: name"></td>
                            <td data-bind="text: type"></td>
                            <td data-bind="text: defaultValue"></td>
                            <!-- ko if: $parent.selectedLanguageId() === 7-->
                            <td data-bind="text: description"></td>
                            <!-- /ko -->
                            <!-- ko if: ($parent.selectedLanguageId() !== 9 && $parent.selectedLanguageId() !== 7) || $parent.selectedLanguageId() === 9  -->
                            <td data-bind="text: descriptionEN"></td>
                            <!-- /ko -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{connector.translate("I4SCADA_Parts")()}}</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <h5>content</h5>
                            <pre class="prettyprint">
&lt;div data-bind="wfWriteValueButton: { }&quot;&gt;
    &lt;div&#160;data-part=&quot;content&quot; class=&quot;wf-button-content text-center&quot;&gt;[MEIN INHALT]&lt;/div&gt; 
&lt;/div&gt;</pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{connector.translate("I4SCADA_Examples")()}}</h3>
                </div>
                <div class="panel-body">
                    <div class="btn-inline" data-bind="wfWriteValueButton: { signalName: 'Setpoint 1', writeValue: 0, cssClass: 'btn btn-primary', iconClass: 'fa fa-chevron-up' }"></div>
                    <div class="btn-inline" data-bind="wfWriteValueButton: { signalName: 'Setpoint 1', writeValue: 1, buttonText: 'Runter', cssClass: 'btn btn-info', iconClass: 'fa fa-chevron-down' }"></div>
                    <div class="btn-inline" data-bind="wfWriteValueButton: { signalName: 'Setpoint 2', writeValue: 1, buttonText: 'Reinigung', cssClass: 'btn btn-success', iconClass: 'wf wf-flask' }"></div>
                    <br />
                    <div class="btn-inline" data-bind="wfWriteValueButton: { signalName: 'Setpoint 3', writeValue: 1, buttonText: 'Pumpe AN', cssClass: 'btn-lg btn-warning', iconClass: 'wf wf-fan-symbol' }"></div>
                    <div class="btn-inline" data-bind="wfWriteValueButton: { signalName: 'Setpoint 3', writeValue: 0, buttonText: 'Motor AUS', cssClass: 'btn-lg btn-danger', iconClass: 'wf wf-motor-electric' }"></div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{connector.translate("I4SCADA_Examples_TipMode")()}}</h3>
                </div>
                <div class="panel-body">
                    <div class="btn-inline" data-bind="wfWriteValueButton: { signalName: 'Setpoint 1', writeValue: 1, writeUpValue: 0, isTipModeEnabled: true, writeUpDelay: 2000, buttonText: 'Licht schalten', cssClass: 'btn btn-primary', iconClass: 'fa fa-hand-up' }"></div>
                    <br/>
                    <div class="btn-inline" data-bind="wfWriteValueButton: { signalName: 'Setpoint 2', writeValue: 1, writeUpValue: 0, isTipModeEnabled: true, writeUpDelay: 500, buttonText: 'Brenner schalten', cssClass: 'btn-lg btn-warning', iconClass: 'fa fa-fire' }"></div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6 col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{connector.translate("I4SCADA_Examples_Incement")()}}</h3>
                </div>
                <div class="panel-body">
                    <div class="btn-inline" data-bind="wfWriteValueButton: { signalName: 'Setpoint 1', incrementMode: true, writeValue: 0.5, cssClass: 'btn-sm btn-primary', iconClass: 'fa fa-plus' }"></div>
                    <div class="btn-inline" data-bind="wfWriteValueButton: { signalName: 'Setpoint 1', incrementMode: true, writeValue: -0.5, cssClass: 'btn-sm btn-danger', iconClass: 'fa fa-minus' }"></div>
                    <br />
                    <div class="btn-inline" data-bind="wfWriteValueButton: { signalName: 'Setpoint 2', incrementMode: true, writeValue: 1, cssClass: 'btn-lg btn-default', iconClass: 'fa fa-plus' }"></div>
                    <div class="btn-inline" data-bind="wfWriteValueButton: { signalName: 'Setpoint 2', incrementMode: true, writeValue: -1, cssClass: 'btn-lg btn-default', iconClass: 'fa fa-minus' }"></div>
                    <br />
                    <strong class="block">ResetOnOverflow (Signal: Setpoint 3)</strong>
                    <div class="btn-inline" data-bind="wfWriteValueButton: { signalName: 'Setpoint 3', incrementMode: true, writeValue: 3, resetOnOverflow: true, minValue:-1, maxValue:30, cssClass: 'btn-sm btn-default', iconClass: 'fa fa-plus' }"></div>
                    <div class="btn-inline" data-bind="wfWriteValueButton: { signalName: 'Setpoint 3', incrementMode: true, writeValue: -5, resetOnOverflow: true, minValue:-22, maxValue:0, cssClass: 'btn-sm btn-default', iconClass: 'fa fa-minus'  }"></div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6 col-lg-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{connector.translate("I4SCADA_Size")()}}</h3>
                </div>
                <div class="panel-body">

                    <div data-bind="wfWriteValueButton: { signalName: 'Setpoint 1', writeValue: 1, buttonText: 'Large - btn-lg', cssClass: 'btn-lg btn-block btn-default' }"></div>
                    <br />
                    <div data-bind="wfWriteValueButton: { signalName: 'Setpoint 2', writeValue: 1, buttonText: 'Default - btn-md', cssClass: 'btn-block btn-default' }"></div>
                    <br />
                    <div data-bind="wfWriteValueButton: { signalName: 'Setpoint 3', writeValue: 1, buttonText: 'Small - btn-sm', cssClass: 'btn-sm btn-block btn-default' }"></div>
                    <br />
                    <div data-bind="wfWriteValueButton: { signalName: 'Setpoint 1', writeValue: 1, buttonText: 'Extra small - btn-xs', cssClass: 'btn-xs btn-block btn-default' }"></div>
                    <br />

                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6 col-lg-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{connector.translate("I4SCADA_Examples_Write_Secure")()}}</h3>
                </div>
                <div class="panel-body">
                    <div data-bind="wfWriteValueButton: { signalName: 'Setpoint 1', writeValue: 1, buttonText: 'Write Value: 1', cssClass: 'btn-primary', writeSecure: true }"></div>
                </div>
            </div>
        </div>
    </div>
</div>