﻿<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12" data-bind="demoWidgetsList:{ selectedWidgetName: widgetName, selectedCategory: widgetCategory}"></div>
        <div class="col-xs-12">

            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#widgetTab" aria-controls="widgetTab" role="tab" data-toggle="tab">Widget <span class="label label-primary">wfToggleButton</span></a></li>
                <li role="presentation"><a href="#componentTab" aria-controls="componentTab" role="tab" data-toggle="tab">Component <span class="label label-warning">wf-toggle-button</span></a></li>

            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="widgetTab">
                    <div class="row">
                        <div class="col-xs-12">
                            <h4>{{connector.translate("I4SCADA_scwfToggleButton_Widget_Header")()}}</h4>
                            <br />
                        </div>
                        <div class="col-sm-12 col-md-2">
                            <div data-bind="wfToggleButton: { signalName: 'Setpoint 1', toggleValue1: 0, toggleValue2: 1, buttonText: 'Toggle Values: 0-1', cssClass: 'btn-primary',
                                 states:[
                                    {signalName:'Setpoint 1', maskSignal:0, cssClassName:'wf wf-light-bulb-o', conditionRule:'', operator:''},
                                    {signalName:'Setpoint 1', maskSignal:1, cssClassName:'wf wf-light-bulb-eco', conditionRule:'', operator:''},
                                 ]}"></div>
                            <br />
                        </div>
                        <div class="col-sm-12 col-md-10">
                            <div>
                                <pre class="prettyprint">
&lt;div data-bind=&quot;wfToggleButton: { signalName: &#39;Setpoint 1&#39;, toggleValue1: 0, toggleValue2: 1, buttonText: &#39;Toggle Values: 0-1&#39;, cssClass: &#39;btn-primary&#39;,
    states:[
        {signalName:'Setpoint 1', maskSignal:0, cssClassName:'wf wf-light-bulb-o', conditionRule:'', operator:''},
        {signalName:'Setpoint 1', maskSignal:1, cssClassName:'wf wf-light-bulb-eco', conditionRule:'', operator:''},
]}">}&quot;&gt;&lt;/div></pre>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="componentTab">
                    <div class="row">
                        <div class="col-xs-12">
                            <h4>{{connector.translate("I4SCADA_scwfToggleButton_Component_Header")()}}</h4>
                            <br />
                        </div>
                        <div class="col-sm-12 col-md-2">
                            <wf-toggle-button params="signalName: 'Setpoint 1', toggleValue1: 0, toggleValue2: 1, buttonText: 'Toggle Values: 0-1', cssClass: 'btn-primary', states:[{signalName:'Setpoint 1', maskSignal:1, cssClassName:'wf wf-light-bulb-o', conditionRule:'', operator:''},{signalName:'Setpoint 1', maskSignal:2, cssClassName:'wf wf-light-bulb-eco', conditionRule:'', operator:''},{signalName:'Setpoint 1', maskSignal:3, cssClassName:'wf wf-light-bulb-symbol', conditionRule:'', operator:''}]"></wf-toggle-button>
                            <br />
                        </div>
                        <div class="col-sm-12 col-md-10">
                            <div>
                                <pre class="prettyprint">
&lt;wf-button params=&quot;signalName: &#39;Setpoint 1&#39;, toggleValue1: 0, toggleValue2: 1, buttonText: &#39;Toggle Values: 0-1&#39;, cssClass: &#39;btn-primary&#39; 
    states:[
            {signalName:'Setpoint 1', maskSignal:1, cssClassName:'wf wf-light-bulb-o', conditionRule:'', operator:''},
            {signalName:'Setpoint 1', maskSignal:2, cssClassName:'wf wf-light-bulb-eco', conditionRule:'', operator:''},
            {signalName:'Setpoint 1', maskSignal:3, cssClassName:'wf wf-light-bulb-symbol', conditionRule:'', operator:''}
    ]&quot;&gt;&lt;/wf-button></pre>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="col-xs-12">
            <div class="wf-panel panel panel-default">
                <div class="panel-heading">
                    <div class="pull-right wf-panel-toolbar" data-bind="wfLanguageDropdown: {dropdownAlignment: 'right'}"></div>
                    <h3 class="panel-title">{{connector.translate("I4SCADA_Table_Headline")()}}</h3>
                </div>
                <!--<div class="panel-body"></div>-->
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>{{connector.translate("I4SCADA_Properties")()}}</th>
                            <th>{{connector.translate("I4SCADA_Type")()}}</th>
                            <th>{{connector.translate("I4SCADA_Default_Value")()}}</th>
                            <th>{{connector.translate("I4SCADA_Description")()}}</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: widgetProperties">
                        <tr>
                            <td data-bind="text: name"></td>
                            <td data-bind="text: type"></td>
                            <td data-bind="text: defaultValue"></td>
                            <!-- ko if: $parent.selectedLanguageId() === 7-->
                            <td data-bind="text: description"></td>
                            <!-- /ko -->
                            <!-- ko if: ($parent.selectedLanguageId() !== 9 && $parent.selectedLanguageId() !== 7) || $parent.selectedLanguageId() === 9  -->
                            <td data-bind="text: descriptionEN"></td>
                            <!-- /ko -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{connector.translate("I4SCADA_Parts")()}}</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <h5>content</h5>
                            <pre class="prettyprint">
&lt;div data-bind="wfToggleButton: { }&quot;&gt;
    &lt;div&#160;data-part=&quot;content&quot; class=&quot;wf-toggle-button-content text-center&quot;&gt;[MEIN INHALT]&lt;/div&gt; 
&lt;/div&gt;</pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6 col-lg-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{connector.translate("I4SCADA_Examples_Write_Secure")()}}</h3>
                </div>
                <div class="panel-body">
                    <div data-bind="wfToggleButton: { writeSecure: true, signalName: 'Setpoint 1', toggleValue1: 0, toggleValue2: 1, buttonText: 'Toggle Values: 0-1', cssClass: 'btn-primary',states:[{signalName:'Setpoint 1', maskSignal:1, cssClassName:'wf wf-light-bulb-o', conditionRule:'', operator:''},{signalName:'Setpoint 1', maskSignal:2, cssClassName:'wf wf-light-bulb-eco', conditionRule:'', operator:''},{signalName:'Setpoint 1', maskSignal:3, cssClassName:'wf wf-light-bulb-symbol', conditionRule:'', operator:''}]}"></div>
                </div>
            </div>
        </div>
    </div>
</div>