﻿﻿<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12" data-bind="demoWidgetsList:{ selectedWidgetName: widgetName, selectedCategory: widgetCategory}"></div>
        <div class="col-xs-12">

            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#componentTab" aria-controls="componentTab" role="tab" data-toggle="tab">Component <span class="label label-warning">wf-signal-information-popover</span></a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="componentTab">
                    <div class="row">
                        <div class="col-xs-12">
                            <h4>{{connector.translate("I4SCADA_scwfSignalInformationPopover_Component_Header")()}}</h4>
                            <br />
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <p>
                                <wf-signal-information-popover params="signalName: 'Level 1', label: 'Level 1',
                                                               properties: [
                                                                { name: 'Name', label: 'Name' },
                                                                {name: 'Minimum', label: 'Minimum'},
                                                                {name: 'Maximum', label: 'Maximum'},
                                                                {name: 'CurrentValue', label: 'CurrentValue'},
                                                               ] "></wf-signal-information-popover><br />
                            </p>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <div>
                                <pre class="prettyprint">
&lt;wf-signal-information-popover params=&quot;signalName: &#39;Level 1&#39;, label: &#39;Level 1&#39;, 
                                        properties: [
                                              { name: &#39;Name&#39;, label: &#39;Name&#39; },
                                              { name: &#39;Minimum&#39;, label: &#39;Minimum&#39; },
                                              { name: &#39;Maximum&#39;, label: &#39;Maximum&#39; },
                                              {name: 'CurrentValue', label: 'CurrentValue'},
                                          ] &quot;&gt;&lt;/wf-signal-information&gt;</pre>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="wf-panel panel panel-default">
                <div class="panel-heading">
                    <div class="pull-right wf-panel-toolbar" data-bind="wfLanguageDropdown: {dropdownAlignment: 'right'}"></div>
                    <h3 class="panel-title">{{connector.translate("I4SCADA_Table_Headline")()}}</h3>
                </div>
                <!--<div class="panel-body"></div>-->
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>{{connector.translate("I4SCADA_Properties")()}}</th>
                        <th>{{connector.translate("I4SCADA_Type")()}}</th>
                        <th>{{connector.translate("I4SCADA_Default_Value")()}}</th>
                        <th>{{connector.translate("I4SCADA_Description")()}}</th>
                    </tr>
                    </thead>
                    <tbody data-bind="foreach: widgetProperties">
                    <tr>
                        <td data-bind="text: name"></td>
                        <td data-bind="text: type"></td>
                        <td data-bind="text: defaultValue"></td>
                        <!-- ko if: $parent.selectedLanguageId() === 7-->
                        <td data-bind="text: description"></td>
                        <!-- /ko -->
                        <!-- ko if: ($parent.selectedLanguageId() !== 9 && $parent.selectedLanguageId() !== 7) || $parent.selectedLanguageId() === 9  -->
                        <td data-bind="text: descriptionEN"></td>
                        <!-- /ko -->
                    </tr>
                    </tbody>
                </table>
                <div class="panel-footer">
                    <h5>* Available signal characteristics and information in WEBfactory i4SCADA</h5>
                    <div data-bind="foreach: signalProperties">
                        <span style="margin-bottom: 5px; display: inline-block" class="label label-black" data-bind="text: $data"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{connector.translate("I4SCADA_Examples")()}}</h3>
                </div>
                <div class="panel-body">
                    <div class="col-xs-3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>