﻿<div class="container-fluid">

    <div class="row">
        <div class="col-xs-12" data-bind="demoWidgetsList:{ selectedWidgetName: widgetName, selectedCategory: widgetCategory}"></div>
        <div class="col-xs-12">

            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#widgetTab" aria-controls="widgetTab" role="tab" data-toggle="tab">Widget <span class="label label-primary">wfLogTagTrend</span></a></li>
                <li role="presentation"><a href="#componentTab" aria-controls="componentTab" role="tab" data-toggle="tab">Component <span class="label label-warning">wf-chart-1</span></a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="widgetTab">
                    <div class="row">
                        <div class="col-xs-12">
                            <h4>{{connector.translate("I4SCADA_scwfLogTagTrend_Widget_Header")()}}</h4>
                            <br/>
                        </div>

                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <div>
                                <pre class="prettyprint">
&lt;div data-bind=&quot;wfLogTagTrend: { lines : 
                                         [
                                          { signalName: &#39;Level 1&#39;, logTagName: &#39;LogTagLevel1&#39;, color: &#39;#337AB7&#39; },
                                          { signalName: &#39;Level 2&#39;, logTagName: &#39;LogTagLevel2&#39;, color: &#39;#f0ad4e&#39;, axis: &#39;y2&#39; }
                                         ],
                                         autoUpdate: true,  
                                         updateRate: 1000,
                                         y1AxisColor: &#39;#337AB7&#39;, y2AxisColor: &#39;#f0ad4e&#39;}&quot;&gt;&lt;/div&gt;</pre>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <div data-bind="wfLogTagTrend: {autoUpdate: true, lines : [{ signalName: 'Level 1', logTagName: 'LogTagLevel1', color: '#337AB7' }, { signalName: 'Level 2', logTagName: 'LogTagLevel2', color: '#f0ad4e', axis: 'y2' }], y1AxisColor: '#337AB7',  y2AxisColor: '#f0ad4e'}"></div>
                        </div>
                        </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="componentTab">
                    <div class="row">
                        <div class="col-xs-12">
                            <h4>{{connector.translate("I4SCADA_scwfLogTagTrend_Component_Header")()}}</h4>
                            <br />
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <div>
                                <pre class="prettyprint">&lt;wf-chart-1 params="{lines : 
                            [
                             { signalName: &#39;Level 1&#39;, logTagName: &#39;LogTagLevel1&#39;, color: &#39;#337AB7&#39;},
                             { signalName: &#39;Level 2&#39;, logTagName: &#39;LogTagLevel2&#39;, color: &#39;#f0ad4e&#39;, axis: &#39;y2&#39;}
                            ],
                            autoUpdate: false,  
                            y1AxisColor: &#39;#337AB7&#39;, y2AxisColor: &#39;#f0ad4e&#39;}&quot;&gt;&lt;/div&gt;</pre>  
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12">
                            <wf-chart-1 params="{autoUpdate: false, lines : [{ signalName: 'Level 1', logTagName: 'LogTagLevel1', color: '#337AB7' }, { signalName: 'Level 2', logTagName: 'LogTagLevel2', color: '#f0ad4e', axis: 'y2' }], y1AxisColor: '#337AB7',  y2AxisColor: '#f0ad4e'}"></wf-chart-1>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="wf-panel panel-default">
                <div class="panel-heading">
                    <div class="pull-right wf-panel-toolbar" data-bind="wfLanguageDropdown: {dropdownAlignment: 'right'}"></div>
                    <h3 class="panel-title">{{connector.translate("I4SCADA_Table_Headline")()}}</h3>
                </div>
                <!--<div class="panel-body"></div>-->
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>{{connector.translate("I4SCADA_Properties")()}}</th>
                            <th>{{connector.translate("I4SCADA_Type")()}}</th>
                            <th>{{connector.translate("I4SCADA_Default_Value")()}}</th>
                            <th>{{connector.translate("I4SCADA_Description")()}}</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: widgetProperties">
                        <tr>
                            <td data-bind="text: name"></td>
                            <td data-bind="text: type"></td>
                            <td>
                                <!-- ko if: defaultValue.indexOf('#') !== -1 -->
                                <span class="wf-1x inline-block round" style="transform: translateY(3px)" data-bind="style: {'background-color': defaultValue} "></span>
                                <!-- /ko -->
                                <span data-bind="text: defaultValue"></span>
                            </td>
                            <!-- ko if: $parent.selectedLanguageId() === 7-->
                            <td data-bind="text: description"></td>
                            <!-- /ko -->
                            <!-- ko if: ($parent.selectedLanguageId() !== 9 && $parent.selectedLanguageId() !== 7) || $parent.selectedLanguageId() === 9  -->
                            <td data-bind="text: descriptionEN"></td>
                            <!-- /ko -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{connector.translate("I4SCADA_Parts")()}}</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-6">
                        <h5>panelHeader</h5>
                        <pre class="prettyprint">
&lt;div&#160;data-bind=&quot;wfLogTagTable:&#160;{&#160;[…] }&quot;&gt;
    &lt;div&#160;data-part=&quot;panelHeader&quot;&gt;&lt;/div&gt; &#160;&#160;&#160;&#160;&#160;&#160;&#160;
&lt;/div&gt;</pre>
                    </div>
                    <div class="col-md-6">
                        <h5>panelFooter</h5>
                        <pre class="prettyprint">
&lt;div&#160;data-bind=&quot;wfLogTagTable:&#160;{&#160;[…] }&quot;&gt;
    &lt;div&#160;data-part=&quot;panelFooter&quot;&gt;&lt;/div&gt; &#160;&#160;&#160;&#160;&#160;&#160;&#160;
&lt;/div&gt;</pre>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{connector.translate("I4SCADA_Examples")()}}</h3>
                </div>
                <div class="panel-body">
                    <div class="col-xs-12">
                        <div data-bind="wfLogTagTrend: { lines : [{ signalName: 'Vibration 1', logTagName: 'LogTag', color: '#f0ad4e', axis: 'y1' }], x1AxisTickFit: true, x1AxisTickFormat: '%H:%M:%S', x1TickCount: 15, title: 'Temperatur', maxResults: 200, pointsVisible: true, pointsRadius: 3.0, settingsVisibility: true, showLegend: true, statisticsVisibility: true,  panelBarCssClass: 'panel panel-primary', y1AxisMax: 10, y1AxisMin: 0 , y1TickFormat: d3.format('.1f') }"></div>
                    </div>

                    <div class="col-xs-12">
                        <div data-bind="wfLogTagTrend: { lines : [{ signalName: 'Vibration 1', logTagName: 'LogTag', color: '#2175d1', axis: 'y1' }], x1AxisTickFormat: '%H:%M', x1TickCount: 20, maxResults: 50, chartType: 'bar', x1AxisLabel: 'X-Achsentitel',  y1AxisLabel: 'Y-Achsentitel', legendVisible: false, subChartVisible: false,  chartHeight: 150, headerVisibility: false, footerVisibility: false, panelBarCssClass: 'b-a-0' }"></div>
                    </div>

                    <div class="col-xs-12">
                        <div data-bind="wfLogTagTrend: { lines : [{ signalName: 'Vibration 1', logTagName: 'LogTag', color: '#2175d1', axis: 'y1' }], x1AxisTickFormat: '%H:%M %d:%m', maxResults: 100, zoomEnabled: true, zoomRescale: true, chartType: 'area-step', x1GridVisible: true, y1GridVisible: true, x1AxisLabel: 'X-Achsentitel',  y1AxisLabel: 'Y-Achsentitel', subChartVisible: false,  chartHeight: 250,  headerVisibility: false, footerVisibility: false }"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

