﻿<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12" data-bind="demoWidgetsList:{ selectedWidgetName: widgetName, selectedCategory: widgetCategory}"></div>
        <div class="col-xs-12">


            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#widgetTab" aria-controls="widgetTab" role="tab" data-toggle="tab">Widget <span class="label label-primary">wfSecuredContainer</span></a></li>
                <li role="presentation"><a href="#componentTab" aria-controls="componentTab" role="tab" data-toggle="tab">Component <span class="label label-warning">wf-secured-container</span></a></li>

            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="widgetTab">
                    <div class="row">
                        <div class="col-xs-12">
                            <h4>{{connector.translate("I4SCADA_scwfSecuredContainer_Widget_Header")()}}</h4>
                            <br />
                        </div>

                        <div class="col-sm-12 col-md-4">

                            <div data-bind="wfSecuredContainer: {projectAuthorization: ''}">
                                <div data-part="content">
                                    <i class="wf wf-user-authorization fa-2x"></i>
                                    SHOWN FOR ALL USERS
                                </div>
                            </div>

                            <div data-bind="wfSecuredContainer: {projectAuthorization: 'Administration'}">
                                <div data-part="content">
                                    <div class="alert alert-success">
                                        <i class="wf-lg wf-users fa-2x"></i>
                                        SHOWN ONLY FOR ADMINISTRATION USERS
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-12 col-md-8">
                            <div>
                                <pre class="prettyprint">
&lt;div data-bind=&quot;wfSecuredContainer: {projectAuthorization: &#39;Administration&#39;}&quot;&gt;
    &lt;div data-part=&quot;content&quot;&gt;
        &lt;div class=&quot;alert alert-success&quot;&gt;
            &lt;i class=&quot;wf-lg wf-users fa-2x&quot;&gt;&lt;/i&gt;
            SHOWN ONLY FOR ADMINISTRATION USERS
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;</pre>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="componentTab">
                    <div class="row">
                        <div class="col-xs-12">
                            <h4>{{connector.translate("I4SCADA_scwfSecuredContainer_Component_Header")()}}</h4>
                            <br />
                        </div>

                        <div class="col-sm-12 col-md-4">

                            <wf-secured-container params="projectAuthorization: ''">
                                <i class="wf wf-user-authorization fa-2x"></i>
                                SHOWN FOR ALL USERS
                            </wf-secured-container>

                            <wf-secured-container params="projectAuthorization: 'Administration'">
                                <div class="alert alert-success">
                                    <i class="wf-lg wf-users fa-2x"></i>
                                    SHOWN ONLY FOR ADMINISTRATION USERS
                                </div>
                            </wf-secured-container>

                        </div>
                        <div class="col-sm-12 col-md-8">
                            <div>
                                <pre class="prettyprint">
&lt;wf-secured-container params=&quot;projectAuthorization: &#39;Administration&#39;&quot;&gt;
    &lt;div class=&quot;alert alert-success&quot;&gt;
        &lt;i class=&quot;wf-lg wf-users fa-2x&quot;&gt;&lt;/i&gt;
        SHOWN ONLY FOR ADMINISTRATION USERS
    &lt;/div&gt;
&lt;/wf-secured-container&gt;</pre>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="wf-panel panel panel-default">
                <div class="panel-heading">
                   <div class="pull-right wf-panel-toolbar" data-bind="wfLanguageDropdown: {dropdownAlignment: 'right'}"></div>
                    <h3 class="panel-title">{{connector.translate("I4SCADA_Table_Headline")()}}</h3>
                </div>
                <!--<div class="panel-body"></div>-->
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>{{connector.translate("I4SCADA_Properties")()}}</th>
                            <th>{{connector.translate("I4SCADA_Type")()}}</th>
                            <th>{{connector.translate("I4SCADA_Default_Value")()}}</th>
                            <th>{{connector.translate("I4SCADA_Description")()}}</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: widgetProperties">
                        <tr>
                            <td data-bind="text: name"></td>
                            <td data-bind="text: type"></td>
                            <td data-bind="text: defaultValue"></td>
                            <!-- ko if: $parent.selectedLanguageId() === 7-->
                            <td data-bind="text: description"></td>
                            <!-- /ko -->
                            <!-- ko if: ($parent.selectedLanguageId() !== 9 && $parent.selectedLanguageId() !== 7) || $parent.selectedLanguageId() === 9  -->
                            <td data-bind="text: descriptionEN"></td>
                            <!-- /ko -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{connector.translate("I4SCADA_Parts")()}}</h3>
                </div>
                <div class="panel-body">
                    <div class="col-sm-12">
                        <h5>content</h5>
                        <pre class="prettyprint">
    &lt;div&#160;data-part=&quot;content&quot;&gt;[MEIN INHALT]&lt;/div&gt; </pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>