﻿<div class="container-fluid">

    <div class="row">
        <div class="col-xs-12" data-bind="demoWidgetsList:{ selectedWidgetName: widgetName, selectedCategory: widgetCategory}"></div>
        <div class="col-xs-12">



            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#widgetTab" aria-controls="widgetTab" role="tab" data-toggle="tab">Widget <span class="label label-primary">wfStateIndicator</span></a></li>
                <li role="presentation"><a href="#componentTab" aria-controls="componentTab" role="tab" data-toggle="tab">Component <span class="label label-warning">wf-state-indicator</span></a></li>

            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="widgetTab">
                    <div class="row">
                        <div class="col-xs-12">
                            <h4>{{connector.translate("I4SCADA_scwfStateIndicator_Widget_Header")()}}</h4>
                            <br />
                        </div>
                        <div class="col-sm-12 col-md-1 col-lg-2">
                            <div data-bind="wfStateIndicator: { stateSignalName1: 'Setpoint 1', maskSignal1: 1 }"></div>
                        </div>
                        <div class="col-sm-12 col-md-11 col-lg-10">
                            <div>
                                <pre class="prettyprint">
&lt;div data-bind=&quot;wfStateIndicator: { stateSignalName1: &#39;Setpoint 1&#39;, maskSignal1: 1 }&quot;&gt;&lt;/div&gt;</pre>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="componentTab">
                    <div class="row">
                        <div class="col-xs-12">
                            <h4>{{connector.translate("I4SCADA_scwfStateIndicator_Component_Header")()}}</h4>
                            <br />
                        </div>
                        <div class="col-sm-12 col-md-1 col-lg-2">
                            <wf-state-indicator params="stateSignalName1: 'Setpoint 1', maskSignal1: 1"></wf-state-indicator>
                        </div>
                        <div class="col-sm-12 col-md-11 col-lg-10">
                            <div>
                                <pre class="prettyprint">
&lt;wf-state-indicator params=&quot;stateSignalName1: &#39;Setpoint 1&#39;, maskSignal1: 1&quot;&gt;&lt;/wf-state-indicator&gt;</pre>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row m-t-md">
        <div class="col-xs-12">
            <div class="wf-panel panel panel-default">
                <div class="panel-heading">
                   <div class="pull-right wf-panel-toolbar" data-bind="wfLanguageDropdown: {dropdownAlignment: 'right'}"></div>
                    <h3 class="panel-title">{{connector.translate("I4SCADA_Table_Headline")()}}</h3>
                </div>
                <!--<div class="panel-body"></div>-->
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>{{connector.translate("I4SCADA_Properties")()}}</th>
                            <th>{{connector.translate("I4SCADA_Type")()}}</th>
                            <th>{{connector.translate("I4SCADA_Default_Value")()}}</th>
                            <th>{{connector.translate("I4SCADA_Description")()}}</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: widgetProperties">
                        <tr>
                            <td data-bind="text: name"></td>
                            <td data-bind="text: type"></td>
                            <td data-bind="text: defaultValue"></td>
                            <!-- ko if: $parent.selectedLanguageId() === 7-->
                            <td data-bind="text: description"></td>
                            <!-- /ko -->
                            <!-- ko if: ($parent.selectedLanguageId() !== 9 && $parent.selectedLanguageId() !== 7) || $parent.selectedLanguageId() === 9  -->
                            <td data-bind="text: descriptionEN"></td>
                            <!-- /ko -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{connector.translate("I4SCADA_Parts")()}}</h3>
                </div>
                <div class="panel-body">
                    <div class="row">


                        <div class="col-lg-4 col-md-7 col-sm-12">
                            <h5>content</h5>
                            <pre class="prettyprint">
&lt;div data-bind=&quot;wfStateIndicator: {  }&quot;&gt;
    &lt;div&#160;data-part=&quot;content&quot; class=&quot;wf-indicator-content&quot;&gt;[MEIN INHALT]&lt;/div&gt; 
&lt;/div&gt;</pre>
                        </div>
                        <div class="col-lg-4 col-md-5 col-sm-6">
                            <h5>iconContainer</h5>
                            <pre class="prettyprint">
&lt;div data-bind=&quot;wfStateIndicator: {  }&quot;&gt;
    &lt;div&#160;data-part=&quot;iconContainer&quot;&gt;[MEIN INHALT]&lt;/div&gt; 
&lt;/div&gt;</pre>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <h5>labelContainer</h5>
                            <pre class="prettyprint">
&lt;div data-bind=&quot;wfStateIndicator: {  }&quot;&gt;
    &lt;div&#160;data-part=&quot;labelContainer&quot;&gt;[MEIN LABEL]&lt;/div&gt; 
&lt;/div&gt;</pre>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-5">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Indicator + Font Icons</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="indicator-lg inline-block" data-bind="wfStateIndicator: { stateSignalName1: 'Setpoint 1', maskSignal1: 3, operator1: '<=', iconClass: 'wf wf-fan' }"></div>
                            <div class="indicator-md inline-block" data-bind="wfStateIndicator: { stateSignalName2: 'Setpoint 1', maskSignal2: 3, operator2: '<=', iconClass: 'wf wf-server' }"></div>
                            <div class="indicator-sm inline-block" data-bind="wfStateIndicator: { stateSignalName3: 'Setpoint 1', maskSignal3: 3, operator3: '<=', iconClass: 'wf wf-tank-horizontal' }"></div>
                            <div class="indicator-xs inline-block" data-bind="wfStateIndicator: { stateSignalName4: 'Setpoint 1', maskSignal4: 3, operator4: '<=', iconClass: 'wf wf-drop' }"></div>
                                                       
                            <div class="indicator-lg inline-block" data-bind="wfStateIndicator: { stateSignalName5: 'Setpoint 1', maskSignal5: 3, operator5: '<=', iconClass: 'wf wf-flash' }"></div>
                            <div class="indicator-md inline-block" data-bind="wfStateIndicator: { stateSignalName6: 'Setpoint 1', maskSignal6: 3, operator6: '<=', iconClass: 'wf wf-blower' }"></div>
                            <div class="indicator-sm inline-block" data-bind="wfStateIndicator: { stateSignalName7: 'Setpoint 1', maskSignal7: 3, operator7: '<=', iconClass: 'wf wf-light-bulb-eco' }"></div>
                            <div class="indicator-xs inline-block" data-bind="wfStateIndicator: { stateSignalName8: 'Setpoint 1', maskSignal8: 3, operator8: '<=', iconClass: 'wf wf-fan-symbol' }"></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{connector.translate("I4SCADA_Examples")()}}</h3>
                </div>
                <div class="panel-body">
                    <div class="indicator-lg inline-block" data-bind="wfStateIndicator: { stateSignalName1: 'Setpoint 1', maskSignal1: 3, operator1: '<=', label: '-lg' }"></div>
                    <div class="indicator-md inline-block" data-bind="wfStateIndicator: { stateSignalName1: 'Setpoint 1', maskSignal1: 3, operator1: '<=', label: 'md' }"></div>
                    <div class="indicator-sm inline-block" data-bind="wfStateIndicator: { stateSignalName1: 'Setpoint 1', maskSignal1: 3, operator1: '<=', label: 'sm' }"></div>
                    <div class="indicator-xs inline-block" data-bind="wfStateIndicator: { stateSignalName1: 'Setpoint 1', maskSignal1: 3, operator1: '<=', label: 'xs' }"></div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{connector.translate("I4SCADA_Binary_Operator")()}}</h3>
                </div>
                <div class="panel-body">
                    <div class="indicator-xs inline-block" data-bind="wfStateIndicator: { stateSignalName1: 'Local Second', operator1: '&', maskSignal1: 128 }"></div>
                    <div class="indicator-xs inline-block" data-bind="wfStateIndicator: { stateSignalName1: 'Local Second', operator1: '&', maskSignal1: 64 }"></div>
                    <div class="indicator-xs inline-block" data-bind="wfStateIndicator: { stateSignalName1: 'Local Second', operator1: '&', maskSignal1: 32 }"></div>
                    <div class="indicator-xs inline-block" data-bind="wfStateIndicator: { stateSignalName1: 'Local Second', operator1: '&', maskSignal1: 16 }"></div>
                    <div class="indicator-xs inline-block" data-bind="wfStateIndicator: { stateSignalName1: 'Local Second', operator1: '&', maskSignal1: 8 }"></div>
                    <div class="indicator-xs inline-block" data-bind="wfStateIndicator: { stateSignalName1: 'Local Second', operator1: '&', maskSignal1: 4 }"></div>
                    <div class="indicator-xs inline-block" data-bind="wfStateIndicator: { stateSignalName1: 'Local Second', operator1: '&', maskSignal1: 2 }"></div>
                    <div class="indicator-xs inline-block" data-bind="wfStateIndicator: { stateSignalName1: 'Local Second', operator1: '&', maskSignal1: 1 }"></div>
                </div>
            </div>
        </div>
    </div>
</div>