﻿<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12" data-bind="demoWidgetsList:{ selectedWidgetName: widgetName, selectedCategory: widgetCategory}"></div>
        <div class="col-xs-12">

            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#widgetTab" aria-controls="widgetTab" role="tab" data-toggle="tab">Widget <span class="label label-primary">wfVisibilityContainer</span></a></li>
                <li role="presentation"><a href="#componentTab" aria-controls="componentTab" role="tab" data-toggle="tab">Component <span class="label label-warning">wf-visibility-container</span></a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="widgetTab">
                    <div class="row">
                        <div class="col-xs-12">
                            <h4>{{connector.translate("I4SCADA_scwfVisibilityContainer_Widget_Header")()}}</h4>
                            <br />
                        </div>
                        <div class="col-sm-12 col-md-3">
                            <div data-bind="wfVisibilityContainer: {visibilitySignalName: 'Setpoint 1', visibilitySignalValue: 1}">
                                <div data-part="content">
                                    <i class="fa fa-unlock wf-4x"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-9">

                            <div>
                                <pre class="prettyprint m-b">
&lt;div data-bind=&quot;wfVisibilityContainer: {visibilitySignalName: 'Setpoint 1', visibilitySignalValue: 1}&quot;&gt;
    &lt;div data-part=&quot;content&quot;&gt;
        &lt;i class=&quot;fa fa-unlock wf-4x&quot;&gt;&lt;/i&gt;
    &lt;/div&gt; 
&lt;/div&gt;</pre>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="componentTab">
                    <div class="row">
                        <div class="col-xs-12">
                            <h4>{{connector.translate("I4SCADA_scwfVisibilityContainer_Component_Header")()}}</h4>
                            <br />
                        </div>
                        <div class="col-sm-12 col-md-3">
                            <wf-visibility-container params="visibilitySignalName: 'Setpoint 1', visibilitySignalValue: 1">
                                <i class="fa fa-unlock wf-4x"></i>
                            </wf-visibility-container>
                        </div>
                        <div class="col-sm-12 col-md-9">
                            <div>
                                <pre class="prettyprint m-b">
&lt;wf-visibility-container params=&quot;visibilitySignalName: 'Setpoint 1', visibilitySignalValue: 1&quot;&gt; 
    &lt;i class=&quot;fa fa-unlock wf-4x&quot;&gt;&lt;/i&gt; 
&lt;/wf-visibility-container&gt;</pre>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="wf-panel panel panel-default">
                <div class="panel-heading">
                    <div class="pull-right wf-panel-toolbar" data-bind="wfLanguageDropdown: {dropdownAlignment: 'right'}"></div>
                    <h3 class="panel-title">{{connector.translate("I4SCADA_Table_Headline")()}}</h3>
                </div>
                <!--<div class="panel-body"></div>-->
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>{{connector.translate("I4SCADA_Properties")()}}</th>
                            <th>{{connector.translate("I4SCADA_Type")()}}</th>
                            <th>{{connector.translate("I4SCADA_Default_Value")()}}</th>
                            <th>{{connector.translate("I4SCADA_Description")()}}</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: widgetProperties">
                        <tr>
                            <td data-bind="text: name"></td>
                            <td data-bind="text: type"></td>
                            <td data-bind="text: defaultValue"></td>
                            <!-- ko if: $parent.selectedLanguageId() === 7-->
                            <td data-bind="text: description"></td>
                            <!-- /ko -->
                            <!-- ko if: ($parent.selectedLanguageId() !== 9 && $parent.selectedLanguageId() !== 7) || $parent.selectedLanguageId() === 9  -->
                            <td data-bind="text: descriptionEN"></td>
                            <!-- /ko -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{connector.translate("I4SCADA_Parts")()}}</h3>
                </div>
                <div class="panel-body">
                    <div class="col-sm-12">
                        <h5>content</h5>
                        <pre class="prettyprint">
    &lt;div&#160;data-part=&quot;content&quot;&gt;[MEIN INHALT]&lt;/div&gt; </pre>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{connector.translate("I4SCADA_Examples")()}}</h3>
                </div>
                <div class="panel-body">
                    <wf-visibility-container class="block" params="visibilitySignalName: 'Setpoint 1', visibilitySignalValue: 1, visibilityOperator:'!='">
                        <i class="fa fa-unlock wf-4x"></i>
                        <p>
                            VisibilitySignalName: <span class="label label-primary">Sepoint 1</span> <br />
                            Visibilityvalue: <span class="label label-primary">1</span> <br />
                            VisibilityOperator: <span class="label label-primary">!=</span> <br />
                        </p>
                    </wf-visibility-container>
                </div>
            </div>
        </div>

    </div>
</div>