﻿<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12" data-bind="demoWidgetsList:{ selectedWidgetName: widgetName, selectedCategory: widgetCategory}"></div>
        <div class="col-xs-12">


            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#widgetTab" aria-controls="widgetTab" role="tab" data-toggle="tab">Widget <span class="label label-primary">wfEnableContainer</span></a></li>
                <li role="presentation"><a href="#componentTab" aria-controls="componentTab" role="tab" data-toggle="tab">Component <span class="label label-warning">wf-enable-container</span></a></li>

            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="widgetTab">
                    <div class="row">
                        <div class="col-xs-12">
                            <h4>{{connector.translate("I4SCADA_scwfEnableContainer_Widget_Header")()}}</h4>
                            <br />
                        </div>

                        <div class="col-sm-12 col-md-4">
                            <div data-bind="wfEnableContainer: {enableSignalName: 'Setpoint 1', enableSignalValue: 1}">
                                <div data-part="content">
                                    <i class="wf wf-hand-o wf-4x"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <div>
                                <pre class="prettyprint m-b">
&lt;div data-bind=&quot;wfEnableContainer: {enableSignalName: 'Setpoint 1', enableSignalValue: 1}&quot;&gt;
    &lt;div data-part=&quot;content&quot;&gt;
        &lt;i class=&quot;wf wf-hand-o wf-4x&quot;&gt;&lt;/i&gt;
    &lt;/div&gt; 
&lt;/div&gt;</pre>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="componentTab">
                    <div class="row">
                        <div class="col-xs-12">
                            <h4>{{connector.translate("I4SCADA_scwfEnableContainer_Component_Header")()}}</h4>
                            <br />
                        </div>

                        <div class="col-sm-12 col-md-4">
                            <wf-enable-container params="enableSignalName: 'Setpoint 1', enableSignalValue: 1">
                                <i class="wf wf-hand-o wf-4x"></i>
                            </wf-enable-container>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <div>
                                <pre class="prettyprint m-b">
&lt;wf-enable-container params=&quot;enableSignalName: 'Setpoint 1', enableSignalValue: 1&quot;&gt; 
    &lt;i class=&quot;fa fa-unlock wf-4x&quot;&gt;&lt;/i&gt; 
&lt;/wf-enable-container&gt;</pre>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="wf-panel panel panel-default">
                <div class="panel-heading">
                    <div class="pull-right wf-panel-toolbar" data-bind="wfLanguageDropdown: {dropdownAlignment: 'right'}"></div>
                    <h3 class="panel-title">{{connector.translate("I4SCADA_Table_Headline")()}}</h3>
                </div>
                <!--<div class="panel-body"></div>-->
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>{{connector.translate("I4SCADA_Properties")()}}</th>
                            <th>{{connector.translate("I4SCADA_Type")()}}</th>
                            <th>{{connector.translate("I4SCADA_Default_Value")()}}</th>
                            <th>{{connector.translate("I4SCADA_Description")()}}</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: widgetProperties">
                        <tr>
                            <td data-bind="text: name"></td>
                            <td data-bind="text: type"></td>
                            <td>
                                <!-- ko if: defaultValue.indexOf('#') !== -1 -->
                                <span class="wf-1x inline-block round" style="transform: translateY(3px)" data-bind="style: {'background-color': defaultValue} "></span>
                                <!-- /ko -->
                            </td>
                            <!-- ko if: $parent.selectedLanguageId() === 7-->
                            <td data-bind="text: description"></td>
                            <!-- /ko -->
                            <!-- ko if: ($parent.selectedLanguageId() !== 9 && $parent.selectedLanguageId() !== 7) || $parent.selectedLanguageId() === 9  -->
                            <td data-bind="text: descriptionEN"></td>
                            <!-- /ko -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{connector.translate("I4SCADA_Parts")()}}</h3>
                </div>
                <div class="panel-body">
                    <div class="col-sm-12">
                        <h5>content</h5>
                        <pre class="prettyprint">
    &lt;div&#160;data-part=&quot;content&quot;&gt;[MEIN INHALT]&lt;/div&gt; </pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>