﻿<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12" data-bind="demoWidgetsList:{ selectedWidgetName: widgetName, selectedCategory: widgetCategory}"></div>
        <div class="col-xs-12">

            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#widgetTab" aria-controls="widgetTab" role="tab" data-toggle="tab">Widget <span class="label label-primary">wfSlider</span></a></li>
                <li role="presentation"><a href="#componentTab" aria-controls="componentTab" role="tab" data-toggle="tab">Component <span class="label label-warning">wf-slider</span></a></li>

            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="widgetTab">
                    <div class="row">
                        <div class="col-xs-12">
                            <h4>{{connector.translate("I4SCADA_scwfSlider_Widget_Header")()}}</h4>
                            <br />
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <div data-bind="wfSlider: { signalName: 'Setpoint 1' }"></div>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <div>
                                <pre class="prettyprint">
&lt;div data-bind=&quot;wfSlider: { signalName: &#39;Setpoint 1&#39; }&quot;&gt;&lt;/div&gt;</pre>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="componentTab">
                    <div class="row">
                        <div class="col-xs-12">
                            <h4>{{connector.translate("I4SCADA_scwfSlider_Component_Header")()}}</h4>
                            <br />
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <wf-slider params="signalName: 'Setpoint 1'"></wf-slider>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <div>
                                <pre class="prettyprint">
&lt;wf-slider params=&quot;signalName: &#39;Setpoint 1&#39;&quot;&gt;&lt;/wf-slider&gt;</pre>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="wf-panel panel panel-default">
                <div class="panel-heading">
                   <div class="pull-right wf-panel-toolbar" data-bind="wfLanguageDropdown: {dropdownAlignment: 'right'}"></div>
                    <h3 class="panel-title">{{connector.translate("I4SCADA_Table_Headline")()}}</h3>
                </div>
                <!--<div class="panel-body"></div>-->
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>{{connector.translate("I4SCADA_Properties")()}}</th>
                            <th>{{connector.translate("I4SCADA_Type")()}}</th>
                            <th>{{connector.translate("I4SCADA_Default_Value")()}}</th>
                            <th>{{connector.translate("I4SCADA_Description")()}}</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: widgetProperties">
                        <tr>
                            <td data-bind="text: name"></td>
                            <td data-bind="text: type"></td>
                            <td data-bind="text: defaultValue"></td>
                            <!-- ko if: $parent.selectedLanguageId() === 7-->
                            <td data-bind="text: description"></td>
                            <!-- /ko -->
                            <!-- ko if: ($parent.selectedLanguageId() !== 9 && $parent.selectedLanguageId() !== 7) || $parent.selectedLanguageId() === 9  -->
                            <td data-bind="text: descriptionEN"></td>
                            <!-- /ko -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-sm-4 col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{connector.translate("I4SCADA_Examples")()}}</h3>
                </div>
                <div class="panel-body">
                    <h5 class="panel-title">{{connector.translate("I4SCADA_Examples_Scale_Linear")()}}</h5>
                    <div data-bind="wfSlider: { signalName: 'Setpoint 1', showTickLabels:true, minRange: -50, maxRange: 50}"></div><br/>
                    <div data-bind="wfSlider: { signalName: 'Setpoint 1', showTickLabels:true, step: 25, minRange: -50000, maxRange: 50000}"></div>

                    <h5 class="panel-title">{{connector.translate("I4SCADA_Examples_Scale_Logarithmic")()}}</h5>
                    <div data-bind="wfSlider: { signalName: 'Setpoint 1', showTickLabels:true, scale:'logarithmic'}"></div><br />
                    <div data-bind="wfSlider: { signalName: 'Setpoint 1', showTickLabels:true, scale:'logarithmic',  maxRange: 500}"></div><br />


                </div>
            </div>
        </div>

        <div class="col-sm-4 col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{connector.translate("I4SCADA_Examples_Color")()}}</h3>
                </div>
                <div class="panel-body">
                    <div data-bind="wfSlider: { signalName: 'Setpoint 1', showTickLabels: true, cssClass: 'slider-primary'}"></div><br />
                    <div data-bind="wfSlider: { signalName: 'Setpoint 1', showTickLabels: true, cssClass: 'slider-info'}"></div><br />
                    <div data-bind="wfSlider: { signalName: 'Setpoint 1', showTickLabels: true, cssClass: 'slider-success'}"></div><br />
                    <div data-bind="wfSlider: { signalName: 'Setpoint 1', showTickLabels: true, cssClass: 'slider-warning'}"></div><br />
                    <div data-bind="wfSlider: { signalName: 'Setpoint 1', showTickLabels: true, cssClass: 'slider-danger'}"></div><br />
                </div>
            </div>
        </div>

        <div class="col-sm-4 col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{connector.translate("I4SCADA_Examples_Handle")()}}</h3>
                </div>
                <div class="panel-body">
                    <div data-bind="wfSlider: { signalName: 'Setpoint 1', handle:'round'}"></div><br />
                    <div data-bind="wfSlider: { signalName: 'Setpoint 1', handle:'triangle'}"></div><br />
                    <div data-bind="wfSlider: { signalName: 'Setpoint 1', handle:'square'}"></div><br />

                    <h5 class="panel-title">{{connector.translate("I4SCADA_Examples_Handle_Custom")()}}</h5>
                    <div class="wf-slider-fan" data-bind="wfSlider: { signalName: 'Setpoint 1', handle:'custom'}"></div><br />
                </div>
            </div>
        </div>

        <div class="col-sm-4 col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{connector.translate("I4SCADA_Examples_Tooltip")()}}</h3>
                </div>
                <div class="panel-body">
                    <h5 class="panel-title">{{connector.translate("I4SCADA_Examples_Tooltip_WithOut")()}}</h5>
                    <div data-bind="wfSlider: { signalName: 'Setpoint 1', tooltip: 'hide'}"></div><br />

                    <h5 class="panel-title">{{connector.translate("I4SCADA_Examples_Tooltip_With")()}}</h5>
                    <br />
                    <div data-bind="wfSlider: { signalName: 'Setpoint 1', tooltip: 'always'}"></div><br />
                </div>
            </div>
        </div>

        <div class="col-sm-4 col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{connector.translate("I4SCADA_Examples_Tooltip")()}}</h3>
                </div>
                <div class="panel-body">
                    <div data-bind="wfSlider: { signalName: 'Setpoint 1', writeSecure: true }"></div>
                </div>
            </div>
        </div>

    </div>
</div>