﻿<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12" data-bind="demoWidgetsList:{ selectedWidgetName: widgetName, selectedCategory: widgetCategory, selectedCategory: widgetCategory}"></div>
        <div class="col-xs-12">
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#widgetTab" aria-controls="widgetTab" role="tab" data-toggle="tab">Widget <span class="label label-primary">wfMeter</span></a></li>
                <li role="presentation"><a href="#componentTab" aria-controls="componentTab" role="tab" data-toggle="tab">Component <span class="label label-warning">wf-meter</span></a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="widgetTab">
                    <div class="row m-b-md">
                        <div class="col-xs-12">
                            <h4>{{connector.translate("I4SCADA_scwfValue_Widget_Header")()}}</h4>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <div data-bind="wfMeter: { signalName: 'Local Second', unitLabel: true, label: 'Energiezähler 1'}"></div>
                        </div>
                        <div class="col-sm-12 col-md-9">
                            <div class="m-t-md">
                                <pre class="prettyprint">
&lt;div data-bind=&quot;wfMeter: { signalName: &#39;Local Second&#39;, unitLabel: true, label: &#39;Energiezähler 1&#39; }&quot;&gt;&lt;/div&gt;</pre>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="componentTab">
                    <div class="row m-b-md">
                        <div class="col-xs-12">
                            <h4>{{connector.translate("I4SCADA_scwfValue_Component_Header")()}}</h4>
                        </div>
                        <div class="col-sm-12 col-md-3 col-lg-2">
                            <wf-meter class="block" params="signalName: 'Local Second', unitLabel: true, label: 'Energiezähler 1'"></wf-meter>
                        </div>
                        <div class="col-sm-12 col-md-9">
                            <div class="m-t-md">
                                <pre class="prettyprint">
&lt;wf-meter params=&quot;signalName: &#39;Local Second&#39;, unitLabel: true, label: &#39;Energiezähler 1&#39;&quot;&gt;&lt;/wf-meter&gt;</pre>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="wf-panel panel panel-default">
                <div class="panel-heading">
                    <div class="pull-right wf-panel-toolbar" data-bind="wfLanguageDropdown: {dropdownAlignment: 'right'}"></div>
                    <h3 class="panel-title">{{connector.translate("I4SCADA_Table_Headline")()}}</h3>
                </div>
                <!--<div class="panel-body"></div>-->
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>{{connector.translate("I4SCADA_Properties")()}}</th>
                            <th>{{connector.translate("I4SCADA_Type")()}}</th>
                            <th>{{connector.translate("I4SCADA_Default_Value")()}}</th>
                            <th>{{connector.translate("I4SCADA_Description")()}}</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: widgetProperties">
                        <tr>
                            <td data-bind="text: name"></td>
                            <td data-bind="text: type"></td>
                            <td data-bind="text: defaultValue"></td>
                            <!-- ko if: $parent.selectedLanguageId() === 7-->
                            <td data-bind="text: description"></td>
                            <!-- /ko -->
                            <!-- ko if: ($parent.selectedLanguageId() !== 9 && $parent.selectedLanguageId() !== 7) || $parent.selectedLanguageId() === 9  -->
                            <td data-bind="text: descriptionEN"></td>
                            <!-- /ko -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-sm-3">

        </div>
    </div>
</div>