﻿<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12" data-bind="demoWidgetsList:{ selectedWidgetName: widgetName, selectedCategory: widgetCategory}"></div>
        <div class="col-xs-12">


            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#widgetTab" aria-controls="widgetTab" role="tab" data-toggle="tab">Widget <span class="label label-primary">wfSignalInformation</span></a></li>
                <li role="presentation"><a href="#componentTab" aria-controls="componentTab" role="tab" data-toggle="tab">Component <span class="label label-warning">wf-signal-information</span></a></li>

            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="widgetTab">
                    <div class="row">

                        <div class="col-xs-12">
                            <h4>{{connector.translate("I4SCADA_scwfSignalInformation_Widget_Header")()}}</h4>
                            <br />
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <p class="lead">
                                Adresse Connector: <span data-bind="wfSignalInformation: { signalName: 'Temperature 2', propertyName: 'Name' }"></span><br />
                                Minimum: <span data-bind="wfSignalInformation: { signalName: 'Temperature 2', propertyName: 'Minimum' }"></span><br />
                                Maximum: <span data-bind="wfSignalInformation: { signalName: 'Temperature 2', propertyName: 'Maximum' }"></span>
                            </p>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <div>
                                <pre class="prettyprint">
&lt;span data-bind=&quot;wfSignalInformation: { signalName: &#39;Temperature 2&#39;, propertyName: &#39;Name&#39; }&quot;&gt;&lt;/span&gt;
&lt;span data-bind=&quot;wfSignalInformation: { signalName: &#39;Temperature 2&#39;, propertyName: &#39;Minimum&#39; }&quot;&gt;&lt;/span&gt;
&lt;span data-bind=&quot;wfSignalInformation: { signalName: &#39;Temperature 2&#39;, propertyName: &#39;Maximum&#39; }&quot;&gt;&lt;/span&gt;</pre>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="componentTab">
                    <div class="row">

                        <div class="col-xs-12">
                            <h4>{{connector.translate("I4SCADA_scwfSignalInformation_Component_Header")()}}</h4>
                            <br />
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <p class="lead">
                                Adresse Connector: <wf-signal-information class="" params="signalName: 'Temperature 2', propertyName: 'Name'"></wf-signal-information><br />
                                Minimum: <wf-signal-information class="" params="signalName: 'Temperature 2', propertyName: 'Minimum'"></wf-signal-information><br />
                                Maximum: <wf-signal-information class="" params="signalName: 'Temperature 2', propertyName: 'Maximum'"></wf-signal-information>
                            </p>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <div>
                                <pre class="prettyprint">
&lt;wf-signal-information params=&quot;signalName: &#39;Temperature 2&#39;, propertyName: &#39;Name&#39;&quot;&gt;&lt;/wf-signal-information&gt;
&lt;wf-signal-information params=&quot;signalName: &#39;Temperature 2&#39;, propertyName: &#39;Minimum&#39;&quot;&gt;&lt;/wf-signal-information&gt;
&lt;wf-signal-information params=&quot;signalName: &#39;Temperature 2&#39;, propertyName: &#39;Maximum&#39;&quot;&gt;&lt;/wf-signal-information&gt;</pre>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="wf-panel panel panel-default">
                <div class="panel-heading">
                   <div class="pull-right wf-panel-toolbar" data-bind="wfLanguageDropdown: {dropdownAlignment: 'right'}"></div>
                    <h3 class="panel-title">{{connector.translate("I4SCADA_Table_Headline")()}}</h3>
                </div>
                <!--<div class="panel-body"></div>-->
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>{{connector.translate("I4SCADA_Properties")()}}</th>
                            <th>{{connector.translate("I4SCADA_Type")()}}</th>
                            <th>{{connector.translate("I4SCADA_Default_Value")()}}</th>
                            <th>{{connector.translate("I4SCADA_Description")()}}</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: widgetProperties">
                        <tr>
                            <td data-bind="text: name"></td>
                            <td data-bind="text: type"></td>
                            <td data-bind="text: defaultValue"></td>
                            <!-- ko if: $parent.selectedLanguageId() === 7-->
                            <td data-bind="text: description"></td>
                            <!-- /ko -->
                            <!-- ko if: ($parent.selectedLanguageId() !== 9 && $parent.selectedLanguageId() !== 7) || $parent.selectedLanguageId() === 9  -->
                            <td data-bind="text: descriptionEN"></td>
                            <!-- /ko -->
                        </tr>
                    </tbody>
                </table>

                <div class="panel-footer">
                    <h5>* Available signal characteristics and information in WEBfactory i4SCADA</h5>
                    <div data-bind="foreach: signalProperties">
                        <span style="margin-bottom: 5px; display: inline-block" class="label label-black" data-bind="text: $data"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{connector.translate("I4SCADA_Examples")()}}</h3>
                </div>
                <div class="panel-body">
                    <div class="col-xs-3">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Temperature 2</h3>
                                </div>
                                <p class="lead margin-left">
                                    Activ: Adresse Connector: <span data-bind="wfSignalInformation: { signalName: 'Temperature 2', propertyName: 'Active' }"></span><br />
                                    Unit: <span data-bind="wfSignalInformation: { signalName: 'Temperature 2', propertyName: 'Unit' }"></span><br />
                                    OPCEnabled: <span data-bind="wfSignalInformation: { signalName: 'Temperature 2', propertyName: 'OPCEnabled' }"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </div>
</div>
