﻿<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12" data-bind="demoWidgetsList:{ selectedWidgetName: widgetName, selectedCategory: widgetCategory}"></div>
        <div class="col-xs-12">

            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#widgetTab" aria-controls="widgetTab" role="tab" data-toggle="tab">Widget <span class="label label-primary">wfValueBarGraph</span></a></li>
                <li role="presentation"><a href="#componentTab" aria-controls="componentTab" role="tab" data-toggle="tab">Component <span class="label label-warning">wf-bargraph</span></a></li>

            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="widgetTab">
                    <div class="row">
                        <div class="col-xs-12">
                            <h4>{{connector.translate("I4SCADA_scwfValueBarGraph_Widget_Header")()}}</h4>
                            <br />
                        </div>
                        <div class="col-sm-12 col-sm-4">
                            <div data-bind="wfValueBarGraph: { signalName: 'Temperature 1', showTickLabels: true, minRangeSignalName:'Setpoint 1', maxRangeSignalName:'Setpoint 2'}"></div>

                        </div>
                        <div class="col-sm-12 col-sm-8">
                            <div>
                                <pre class="prettyprint">
&lt;div data-bind=&quot;wfValueBarGraph: { signalName: &#39;Temperature 1&#39;, showTickLabels: true }&quot;&gt;&lt;/div&gt;</pre>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="componentTab">
                    <div class="row">
                        <div class="col-xs-12">
                            <h4>{{connector.translate("I4SCADA_scwfValueBarGraph_Component_Header")()}}</h4>
                            <br />
                        </div>
                        <div class="col-sm-12 col-sm-4">
                            <wf-bargraph params="signalName: 'Temperature 1', showTickLabels: true"></wf-bargraph>
                        </div>
                        <div class="col-sm-12 col-sm-8">
                            <div>
                                <pre class="prettyprint">
&lt;wf-bargraph params=&quot;signalName: &#39;Temperature 1&#39;, showTickLabels: true&quot;&gt;&lt;/wf-bargraph&gt;</pre>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="wf-panel panel panel-default">
                <div class="panel-heading">
                    <div class="pull-right wf-panel-toolbar" data-bind="wfLanguageDropdown: {dropdownAlignment: 'right'}"></div>
                    <h3 class="panel-title">{{connector.translate("I4SCADA_Table_Headline")()}}</h3>
                </div>
                <!--<div class="panel-body"></div>-->
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>{{connector.translate("I4SCADA_Properties")()}}</th>
                            <th>{{connector.translate("I4SCADA_Type")()}}</th>
                            <th>{{connector.translate("I4SCADA_Default_Value")()}}</th>
                            <th>{{connector.translate("I4SCADA_Description")()}}</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: widgetProperties">
                        <tr>
                            <td data-bind="text: name"></td>
                            <td data-bind="text: type"></td>
                            <td>
                                <!-- ko if: defaultValue.indexOf('#') !== -1 -->
                                <span class="wf-1x inline-block round" style="transform: translateY(3px)" data-bind="style: {'background-color': defaultValue} "></span>
                                <!-- /ko -->
                                <span data-bind="text: defaultValue"></span>
                            </td>
                            <!-- ko if: $parent.selectedLanguageId() === 7-->
                            <td data-bind="html: description"></td>
                            <!-- /ko -->
                            <!-- ko if: ($parent.selectedLanguageId() !== 9 && $parent.selectedLanguageId() !== 7) || $parent.selectedLanguageId() === 9  -->
                            <td data-bind="html: descriptionEN"></td>
                            <!-- /ko -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{connector.translate("I4SCADA_Parts")()}}</h3>
                </div>
                <div class="panel-body">
                    <div class="col-sm-12">
                        <h5>iconContainer</h5>
                        <pre class="prettyprint">
&lt;div data-bind=&quot;wfValueBarGraph: { signalName: &#39;Temperature 1&#39; }&quot;&gt;
    &lt;span data-part=&quot;iconContainer&quot;&gt;[MEIN INHALT]&lt;/span&gt;
&lt;/div&gt;
                        </pre>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-6 col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{connector.translate("I4SCADA_Examples")()}}</h3>
                </div>
                <div class="panel-body">
                    <div data-bind="wfValueBarGraph: { signalName: 'Local Minute', unitLabel: true, titleText: 'Large size - progress-lg', minRange: 0, maxRange: 60, progressBarSize: 'progress-lg', format: '0.', showTickLabels: true }"></div>
                    <div data-bind="wfValueBarGraph: { signalName: 'Local Second', unitLabel: true, titleText: 'Default size', minRange: 0, maxRange: 60, format: '0.', showTickLabels: true }"></div>
                    <div data-bind="wfValueBarGraph: { signalName: 'Local Minute', unitLabel: true, titleText: 'Small size - progress-sm', minRange: 0, maxRange: 60, progressBarSize: 'progress-sm', format: '0.', showTickLabels: true }"></div>
                    <div data-bind="wfValueBarGraph: { signalName: 'Local Minute', unitLabel: true, titleText: 'Extra small size - progress-xs', minRange: 0, maxRange: 60, progressBarSize: 'progress-xs', format: '0.', showTickLabels: true }"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{connector.translate("I4SCADA_Examples_Right")()}}</h3>
                </div>
                <div class="panel-body">
                    <div class="barGraph progress-striped" data-bind="wfValueBarGraph: { signalName: 'Temperature 1', unitLabel: true, titleText: 'Temperatur VL',  orientation: 'horizontal right', minRange: 0, maxRange: 60, cssClass: 'progress-striped active', iconClass: 'fa fa-bolt', showTickLabels: true  }"></div>
                    <div class="barGraph progress-striped" data-bind="wfValueBarGraph: { signalName: 'Temperature 2', unitLabel: true, titleText: 'Temperatur RL', orientation: 'horizontal right', minRange: 0, maxRange: 80, cssClass: 'progress-bar-info', iconClass: 'fa fa-flask', showTickLabels: true  }"></div>
                    <div class="barGraph progress-striped" data-bind="wfValueBarGraph: { signalName: 'Local Second', unitLabel: true, titleText: 'Füllstand', orientation: 'horizontal right', minRange: 0, maxRange: 60, cssClass: 'progress-bar-success', iconClass: 'fa fa-dashboard', showTickLabels: true  }"></div>
                    <div class="barGraph progress-striped" data-bind="wfValueBarGraph: { signalName: 'Local Second', unitLabel: true, titleText: 'Kesseldruck', orientation: 'horizontal right', minRange: 0, maxRange: 60, cssClass: 'progress-bar-warning', iconClass: 'fa fa-fire', showTickLabels: true  }"></div>
                    <div class="barGraph progress-striped" data-bind="wfValueBarGraph: { signalName: 'Local Second', unitLabel: true, titleText: 'Energiebedarf',  orientation: 'horizontal right', minRange: 0, maxRange: 60, cssClass: 'progress-bar-danger', iconClass: 'fa fa-bolt', showTickLabels: true  }"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{connector.translate("I4SCADA_Examples_Left")()}}</h3>
                </div>
                <div class="panel-body">
                    <div class="barGraph" data-bind="wfValueBarGraph: { signalName: 'Local Second', unitLabel: true, titleText: 'Temperatur VL', minRange: 0, maxRange: 60, iconClass: 'fa fa-bolt', showTickLabels: true }"></div>
                    <div class="barGraph" data-bind="wfValueBarGraph: { signalName: 'Setpoint 1', unitLabel: true, titleText: 'Temperatur RL', minRange: 0, maxRange: 50, cssClass: 'progress-bar-info', iconClass: 'fa fa-flask', showTickLabels: true }"></div>
                    <div class="barGraph" data-bind="wfValueBarGraph: { signalName: 'Temperature 1', precision: 2, unitLabel: true, titleText: 'Füllstand', minRange: 0, maxRange: 60, cssClass: 'progress-bar-success', iconClass: 'fa fa-dashboard', showTickLabels: true }"></div>
                    <div class="barGraph" data-bind="wfValueBarGraph: { signalName: 'Temperature 2', precision: 3, unitLabel: true, titleText: 'Kesseldruck', minRange: 0, maxRange: 80, cssClass: 'progress-bar-warning', iconClass: 'fa fa-fire', showTickLabels: true }"></div>
                    <div class="barGraph" data-bind="wfValueBarGraph: { signalName: 'Local Second', unitLabel: true, titleText: 'Energiebedarf', minRange: 0, maxRange: 60, cssClass: 'progress-bar-danger', iconClass: 'fa fa-bolt', showTickLabels: true }"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{connector.translate("I4SCADA_Examples_Vertical")()}}</h3>
                </div>
                <div class="panel-body">

                    <div class="inline-block progress-bar-vertical-showcase" data-bind="wfValueBarGraph: { signalName: 'Temperature 2', unitLabel: true, minRange: 0, maxRange: 100, orientation: 'vertical', cssClass: 'progress-bar-success',  progressBarSize: 'progress-lg', height: 200 }"></div>
                    <div class="inline-block progress-bar-vertical-showcase" data-bind="wfValueBarGraph: { signalName: 'Local Second', unitLabel: true, minRange: 0, maxRange: 80, orientation: 'vertical', cssClass: 'progress-bar-primary', height: 200 }"></div>
                    <div class="inline-block progress-bar-vertical-showcase" data-bind="wfValueBarGraph: { signalName: 'Temperature 2', unitLabel: true, minRange: 0, maxRange: 80, orientation: 'vertical bottom', cssClass: 'progress-bar-danger', progressBarSize: 'progress-sm', height: 200 }"></div>
                    <div class="inline-block progress-bar-vertical-showcase" data-bind="wfValueBarGraph: { signalName: 'Local Minute', unitLabel: true, minRange: 0, maxRange: 60, orientation: 'vertical bottom', cssClass: 'progress-bar-warning', progressBarSize: 'progress-xs', height: 200 }"></div>
                </div>
            </div>
        </div>

        <div class="col-sm-3 col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{connector.translate("I4SCADA_Examples_Flexible")()}}</h3>
                </div>
                <div class="panel-body">
                    <div class="margin-right" data-bind="wfValueBarGraph: { signalName: 'Temperature 2', unitLabel: true, minRange: 0, maxRange: 80, showTickLabels: true, orientation: 'vertical bottom block', cssClass: 'progress-bar-warning', height: 200 }"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-3 col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{connector.translate("I4SCADA_Examples_Flexible")()}}</h3>
                </div>
                <div class="panel-body">
                    <div class="margin-right" data-bind="wfValueBarGraph: { signalName: 'Temperature 2', unitLabel: true, minRange: 0, maxRange: 80, showTickLabels: true, orientation: 'vertical top block', cssClass: 'progress-bar-danger', height: 200 }"></div>
                </div>
            </div>
        </div>
    </div>
</div>