﻿<div class="container-fluid">

    <div class="row">
        <div class="col-xs-12" data-bind="demoWidgetsList:{ selectedWidgetName: widgetName, selectedCategory: widgetCategory}"></div>
        <div class="col-xs-12">

            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#widgetTab" aria-controls="widgetTab" role="tab" data-toggle="tab">Widget <span class="label label-primary">wfSwitchValue</span></a></li>
                <li role="presentation"><a href="#componentTab" aria-controls="componentTab" role="tab" data-toggle="tab">Component <span class="label label-warning">wf-switch</span></a></li>

            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="widgetTab">
                    <div class="row">
                        <div class="col-xs-12">
                            <h4>{{connector.translate("I4SCADA_scwfSwitchValue_Widget_Header")()}}</h4>
                            <br />
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <div data-bind="wfSwitchValue: { signalName: 'Setpoint 1', onValue: 1, offValue: 0, onLabelText: 'LICHT AN', offLabelText: 'LICHT AUS' }"></div>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <div>
                                <pre class="prettyprint">
&lt;div data-bind=&quot;wfSwitchValue: { 
                   signalName: &#39;Setpoint 1&#39;, 
                   onValue: 1, 
                   offValue: 0,
                   onLabelText: &#39;LICHT AN&#39;,
                   offLabelText: &#39;LICHT AUS&#39;
                 }&quot;&gt;&lt;/div&gt;</pre>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="componentTab">
                    <div class="row">
                        <div class="col-xs-12">
                            <h4>{{connector.translate("I4SCADA_scwfSwitchValue_Component_Header")()}}</h4>
                            <br />
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <wf-switch params="signalName: 'Setpoint 1', onValue: 1, offValue: 0, onLabelText: 'LICHT AN', offLabelText: 'LICHT AUS'"></wf-switch>
                        </div>
                        <div class="col-sm-12 col-md-8">
                            <div>
                                <pre class="prettyprint">
&lt;wf-switch params=&quot;signalName: &#39;Setpoint 1&#39;, 
                  onValue: 1, 
                  offValue: 0,
                  onLabelText: &#39;LICHT AN&#39;,
                  offLabelText: &#39;LICHT AUS&#39&quot;&gt;&lt;/wf-switch&gt;</pre>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="wf-panel panel panel-default">
                <div class="panel-heading">
                    <div class="pull-right wf-panel-toolbar" data-bind="wfLanguageDropdown: {dropdownAlignment: 'right'}"></div>
                    <h3 class="panel-title">{{connector.translate("I4SCADA_Table_Headline")()}}</h3>
                </div>
                <!--<div class="panel-body"></div>-->
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>{{connector.translate("I4SCADA_Properties")()}}</th>
                            <th>{{connector.translate("I4SCADA_Type")()}}</th>
                            <th>{{connector.translate("I4SCADA_Default_Value")()}}</th>
                            <th>{{connector.translate("I4SCADA_Description")()}}</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: widgetProperties">
                        <tr>
                            <td data-bind="text: name"></td>
                            <td data-bind="text: type"></td>
                            <td data-bind="text: defaultValue"></td>
                            <!-- ko if: $parent.selectedLanguageId() === 7-->
                            <td data-bind="text: description"></td>
                            <!-- /ko -->
                            <!-- ko if: ($parent.selectedLanguageId() !== 9 && $parent.selectedLanguageId() !== 7) || $parent.selectedLanguageId() === 9  -->
                            <td data-bind="text: descriptionEN"></td>
                            <!-- /ko -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{connector.translate("I4SCADA_Examples")()}}</h3>
                </div>
                <div class="panel-body">
                    <div class="col-sm-6 col-md-5 col-lg-4">
                        <div data-bind="wfSwitchValue: { signalName: 'Setpoint 2', onValue: 1, onLabelText: 'Motor AN', offValue: 0, offLabelText: 'Motor AUS', onIconClass: 'wf wf-motor-electric', offIconClass: 'wf wf-motor-electric', defaultCssClass: 'btn-lg btn-default', activeCssClass: 'btn-danger' }"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-md-6 col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{connector.translate("I4SCADA_Examples_Write_Secure")()}}</h3>
                </div>
                <div class="panel-body">
                    <div data-bind="wfSwitchValue: { writeSecure: true, signalName: 'Setpoint 1', onValue: 1, offValue: 0, onLabelText: 'LICHT AN', offLabelText: 'LICHT AUS' }"></div>
                </div>
            </div>
        </div>
    </div>
</div>