﻿<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12" data-bind="demoWidgetsList:{ selectedWidgetName: widgetName, selectedCategory: widgetCategory, selectedCategory: widgetCategory}"></div>

        <div class="col-xs-12">

            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#componentTab" aria-controls="componentTab" role="tab" data-toggle="tab">Component <span class="label label-warning">wf-signal-list</span></a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="componentTab">
                    <div class="row">
                        <div class="col-xs-12">
                            <h4>{{connector.translate("I4SCADA_scwfSignalList_Component_Header")()}}</h4>
                            <br />
                        </div>
                        <div class="col-sm-6">
                            <wf-signal-list params="signals: [
                                            { signalName: 'Level 1', signalLabel: 'Temperature', staticUnitText: '°C' },
                                            { signalName: 'Level 2', signalLabel: 'Signal Label' },
                                            { signalName: 'Local Second' }]"></wf-signal-list>
                        </div>
                        <div class="col-sm-6">
                            <div>
                                <pre class="prettyprint">
&lt;wf-signal-list params=&quot;signals: [
    { signalName: &#39;Level 1&#39;, signalLabel: &#39;Temperature&#39;, staticUnitText: &#39;°C' },
    { signalName: &#39;Level 2&#39;, signalLabel: &#39;Signal Label&#39; },
    { signalName: &#39;Local Second&#39; }];&quot;&gt;&lt;/wf-signal-list&gt;</pre>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="wf-panel panel panel-default">
                <div class="panel-heading">
                    <div class="pull-right wf-panel-toolbar" data-bind="wfLanguageDropdown: {dropdownAlignment: 'right'}"></div>
                    <h3 class="panel-title">{{connector.translate("I4SCADA_Table_Headline")()}}</h3>
                </div>
                <!--<div class="panel-body"></div>-->
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>{{connector.translate("I4SCADA_Properties")()}}</th>
                            <th>{{connector.translate("I4SCADA_Type")()}}</th>
                            <th>{{connector.translate("I4SCADA_Default_Value")()}}</th>
                            <th>{{connector.translate("I4SCADA_Description")()}}</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: widgetProperties">
                        <tr>
                            <td data-bind="text: name"></td>
                            <td data-bind="text: type"></td>
                            <td data-bind="text: defaultValue"></td>
                            <!-- ko if: $parent.selectedLanguageId() === 7-->
                            <td data-bind="text: description"></td>
                            <!-- /ko -->
                            <!-- ko if: ($parent.selectedLanguageId() !== 9 && $parent.selectedLanguageId() !== 7) || $parent.selectedLanguageId() === 9  -->
                            <td data-bind="text: descriptionEN"></td>
                            <!-- /ko -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{connector.translate("I4SCADA_Examples")()}}</h3>
                </div>
                <div class="panel-body">
                    <wf-signal-list class="" params="signals: [], signalsFilter: ['Local Second', 'Local Minute', 'Local Hour', 'Level 1']"></wf-signal-list>
                </div>
            </div>
        </div>
    </div>
</div>