﻿<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12" data-bind="demoWidgetsList:{ selectedWidgetName: widgetName, selectedCategory: widgetCategory}"></div>
        <div class="col-xs-12">


            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#widgetTab" aria-controls="widgetTab" role="tab" data-toggle="tab">Widget <span class="label label-primary">wfLogTagTable</span></a></li>
                <li role="presentation"><a href="#componentTab" aria-controls="componentTab" role="tab" data-toggle="tab">Component <span class="label label-warning">wf-log-table</span></a></li>

            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="widgetTab">
                    <div class="row">
                        <div class="col-xs-12">
                            <h4>{{connector.translate("I4SCADA_scwfLogTagTable_Widget_Header")()}}</h4>
                            <br />
                        </div>
                        <div class="col-md-6">
                            <div data-bind="wfLogTagTable: { logTags : [{ signalName: 'Level 1', logTagName: 'LogTagLevel1'}],
                                 maxResults: 250 }"></div>
                        </div>
                        <div class="col-md-6">
                            <div>
                                <pre class="prettyprint">
&lt;div data-bind=&quot;wfLogTagTable: {
                            logTags : [{ signalName:  &#39;Level 1&#39;, logTagName: &#39;LogTagLevel1&#39;}],
                            maxResults: 250 }&quot;&gt;&lt;/div&gt;</pre>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="componentTab">
                    <div class="row">
                        <div class="col-xs-12">
                            <h4>{{connector.translate("I4SCADA_scwfLogTagTable_Component_Header")()}}</h4>
                            <br />
                        </div>
                        <div class="col-md-6">
                            <wf-log-table params="logTags : [{ signalName: 'Level 1', logTagName: 'LogTagLevel1'}], maxResults: 200"></wf-log-table>
                        </div>
                        <div class="col-md-6">
                            <div>
                                <pre class="prettyprint">
&lt;wf-log-table params=&quot;     logTags : [{ signalName:  &#39;Level 1&#39;, logTagName: &#39;LogTagLevel1&#39;}],
                            maxResults: 250&quot;&gt;&lt;/wf-log-table&gt;</pre>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="wf-panel panel panel-default">
                <div class="panel-heading">
                    <div class="pull-right wf-panel-toolbar" data-bind="wfLanguageDropdown: {dropdownAlignment: 'right'}"></div>
                    <h3 class="panel-title">{{connector.translate("I4SCADA_Table_Headline")()}}</h3>
                </div>
                <!--<div class="panel-body"></div>-->
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>{{connector.translate("I4SCADA_Properties")()}}</th>
                        <th>{{connector.translate("I4SCADA_Type")()}}</th>
                        <th>{{connector.translate("I4SCADA_Default_Value")()}}</th>
                        <th>{{connector.translate("I4SCADA_Description")()}}</th>
                    </tr>
                    </thead>
                    <tbody data-bind="foreach: widgetProperties">
                    <tr>
                        <td data-bind="text: name"></td>
                        <td data-bind="text: type"></td>
                        <td data-bind="text: defaultValue"></td>
                        <!-- ko if: $parent.selectedLanguageId() === 7-->
                        <td data-bind="text: description"></td>
                        <!-- /ko -->
                        <!-- ko if: ($parent.selectedLanguageId() !== 9 && $parent.selectedLanguageId() !== 7) || $parent.selectedLanguageId() === 9  -->
                        <td data-bind="text: descriptionEN"></td>
                        <!-- /ko -->
                    </tr>
                    </tbody>
                </table>
                
                <div class="panel-footer">
                    <h5>* Available signal characteristics and information in WEBfactory i4SCADA</h5>
                    <div data-bind="foreach: signalProperties">
                        <span style="margin-bottom: 5px; display: inline-block" class="label label-black" data-bind="text: $data"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{connector.translate("I4SCADA_Parts")()}}</h3>
                </div>
                <div class="panel-body">
                    <div class="col-md-6">
                        <h5>panelHeader</h5>
                        <pre class="prettyprint">
&lt;div&#160;data-bind=&quot;wfLogTagTable:&#160;{&#160;[…] }&quot;&gt;
    &lt;div&#160;data-part=&quot;panelHeader&quot;&gt;&lt;/div&gt; &#160;&#160;&#160;&#160;&#160;&#160;&#160;
&lt;/div&gt;</pre>
                    </div>
                    <div class="col-md-6">
                        <h5>panelFooter</h5>
                        <pre class="prettyprint">
&lt;div&#160;data-bind=&quot;wfLogTagTable:&#160;{&#160;[…] }&quot;&gt;
    &lt;div&#160;data-part=&quot;panelFooter&quot;&gt;&lt;/div&gt; &#160;&#160;&#160;&#160;&#160;&#160;&#160;
&lt;/div&gt;</pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>