﻿<div data-bind="css: symbol, click: openDialog, attr: { 'class': status } " style="cursor: pointer"></div>
<div id="handanzeige" class="wf wf-hand bs_handfarbe fa-2x" data-bind="style: { left: handLinks + 'px', top: handOben + 'px', position: 'absolute', visibility: hand }"></div>
    <div data-bind="bsAusgabefeld:{signalName: signalname, typ: 'istwert', einheit: unit }, style: { left: anzeigefeldLinks + 'px', top: anzeigefeldOben + 'px', position: 'absolute' }">???</div>
