﻿<!--****************************************************************************************************************************************************************************************************************************************************
    Bühler+Scherler
--------------------------------------------------------------------------------------------------------------------------


--------------------------------------------------------------------------------------------------------------------------
ERSTELLT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0		R.Brunnschweiler	BS                  10.07.2017
--------------------------------------------------------------------------------------------------------------------------
GEÄNDERT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0       F.Sabljo            BS                  15.02.2018


********************************************************************************************************************************************************************************************************************************************************-->
<div class="container bs_content_container">
    <header>
        <h1 class="page-header bs-header-mittig">S04 Warmwasserbereitung Hotel HA.SK01</h1>
        <!--BUILDING CONTROL-->
    </header>
    <div class="col-lg-12">
        <div class="bs-responsive bs-hotel-heizung-WarmwasserbereitungHotelHA_SK01 hidden-xs">
            <!--Seiten-Verlinkungen (Pfeile auf der Seite)-->
            <!-- Widgets -->
            <!--Anlagenschalter, Sollwertfenster, Zeitschaltuhren, etc...-->
            <div style="position:absolute; left:1640px; top:635px" id="KLI02" title="Betriebswahl BWW" data-bind="bsAnlageschalter_lfc: {
	dialogTitle: 'Betriebswahl BWW ',
	signalName: 'Station_39',
    stromPfad: 'bww_hotel'
	}">
            </div>

            <div style="position:absolute; left:1685px; top:635px" id="KLI02" title="Zirkulation" data-bind="bsAnlageschalter_lfc: {
	dialogTitle: 'Zirkulation ',
	signalName: 'Station_39',
    stromPfad: 'bww_zirkulation'
	}">
            </div>

            <div style="position:absolute; left:65px; top:252px" id="KLI02" title="Tauscher 1" data-bind="bsAnlageschalter_lfc: {
	dialogTitle: 'Tauscher 1 ',
	signalName: 'Station_39',
    stromPfad: 'bww_sp1'
	}">
            </div>

            <div style="position:absolute; left:65px; top:500px" id="KLI02" title="Tauscher 2" data-bind="bsAnlageschalter_lfc: {
	dialogTitle: 'Tauscher 2 ',
	signalName: 'Station_39',
    stromPfad: 'bww_sp2'
	}">
            </div>

            <div style="position:absolute; left:1730px; top:635px" id="KLI02_I110sollwertfenster" title="Sollwerte Speicher 1 + 2" data-bind="bsSollwertFenster: {
	dialogTitle: 'Sollwerte Speicher 1 + 2',
	authorisierung: 'Administration',
	signals: [
		{ label: 'Einschaltpunkt Ladung [°C]', signalname: 'Station_39.Register.sw_lad_speicher_ein', untergrenze: '', obergrenze: '' },
		{ label: 'Ausschaltpunkt Ladung [°C]', signalname: 'Station_39.Register.sw_lad_speicher_aus', untergrenze: '', obergrenze: '' },
		{ label: 'BWW Ladetemp [°C]', signalname: 'Station_39.Register.sw_temp_bww', untergrenze: '', obergrenze: '' },
		{ label: 'Legionellen Ladetemp [°C]', signalname: 'Station_39.Register.sw_temp_legionellen', untergrenze: '', obergrenze: '' }
		]}">
            </div>
       
            <div style="position:absolute; left:1775px; top:635px" id="KLI02_I201schaltuhr" title="Schaltuhr Zirkulation" data-bind="bsSchaltuhr_lfc: {
	signalName: 'Station_39',
    uhr: 'su_zirkulation',
	dialogTitle: 'Schaltuhr Zirkulation' }">
            </div>

            <div style="position:absolute; left:1329px; top:635px" id="KLI02_I201schaltuhr" title="Schaltuhr Legionellen" data-bind="bsSchaltuhr_lfc: {
	signalName: 'Station_39',
    uhr: 'su_legionellen',
	dialogTitle: 'Schaltuhr Legionellen' }">
            </div>

            <div style="position:absolute; left:1284px; top:635px" id="KLI02_I201schaltuhr" title="Schaltuhr BWW Zwangsladung" data-bind="bsSchaltuhr_lfc: {
	signalName: 'Station_39',
    uhr: 'su_bww_zwangsladung',
	dialogTitle: 'Schaltuhr BWW Zwangsladung' }">
            </div>

            <div style="position:absolute; left:897px; top:635px" id="KLI02_I110sollwertfenster" title="Sollwerte Speicher 1" data-bind="bsSollwertFenster: {
	dialogTitle: 'Sollwerte Speicher 1',
	authorisierung: 'Administration',
	signals: [
		{ label: 'min. VL-Temperatur [°C]', signalname: 'Station_39.Register.sw_min_vl_temp_bww', untergrenze: '', obergrenze: '' }
		]}">
            </div>

            <!--LE-->
            <div style="position:absolute; left: 470px; top: 276px;" id="V1" title="414M1" data-bind="bsMotorStufen_lfc: {
    dialogTitle: 'Pumpe 414M1',
    signalName: 'Station_39',
    stromPfad: '414m1',
	motorAusrichtung: 'links',
	motortyp: 'pumpe',
	handLinks: '20',
	handOben: '10',
	stufe: '0',
	}">
            </div>

            <div style="position:absolute; left: 470px; top: 525px;" id="V2" title="424M1" data-bind="bsMotorStufen_lfc: {
    dialogTitle: 'Pumpe 424M1',
    signalName: 'Station_39',
    stromPfad: '424m1',
	motorAusrichtung: 'links',
	motortyp: 'pumpe',
	handLinks: '20',
	handOben: '10',
	stufe: '0',
	}">
            </div>

            <div style="position:absolute; left: 1566px; top: 284px;" id="V3" title="474M1" data-bind="bsMotorStufen_lfc: {
    dialogTitle: 'Pumpe 474M1',
    signalName: 'Station_39',
    stromPfad: '474m1',
	motorAusrichtung: 'unten',
	motortyp: 'pumpe',
	handLinks: '20',
	handOben: '10',
	stufe: '0',
	}">
            </div>

            <div style="position:absolute; left: 1652px; top: 284px;" id="V4" title="484M1" data-bind="bsMotorStufen_lfc: {
    dialogTitle: 'Pumpe 484M1',
    signalName: 'Station_39',
    stromPfad: '484m1',
	motorAusrichtung: 'unten',
	motortyp: 'pumpe',
	handLinks: '20',
	handOben: '10',
	stufe: '0',
	}">
            </div>

            <!--Ventil-->
            <div style="position:absolute; left: 527.5px; top: 275px;" id="VT1" title="416Y1" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil3',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-10',
	anzeigefeldOben: '40',
	winkel: '270',
	signalName: 'Station_39.Register.AO224_416y1'}">
            </div>

            <div style="position:absolute; left: 316.5px; top: 275px;" id="VT2" title="216Y1" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-10',
	anzeigefeldOben: '40',
	winkel: '270',
	signalName: 'Station_39.Register.AO209_216y1'}">
            </div>

            <div style="position:absolute; left: 527.5px; top: 524px;" id="VT3" title="426Y1" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil3',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-10',
	anzeigefeldOben: '40',
	winkel: '270',
	signalName: 'Station_39.Register.AO225_426y1'}">
            </div>

            <div style="position:absolute; left: 316.5px; top: 524px;" id="VT4" title="226Y1" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-10',
	anzeigefeldOben: '40',
	winkel: '270',
	signalName: 'Station_39.Register.AO210_226y1'}">
            </div>

            <!--TPHSensor-->
            <div style="position:absolute; left: 1431px; top: 219px;" id="TP1" title="446B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '90',
	sensortyp: 'T',
	signalName: 'Station_39.Register.AI096_temp_446b1',
	handLinks: '12',
	handOben: '2',
   	einheit: '°C',
	anzeigefeldLinks: '24',
	anzeigefeldOben: '0',
	}">
            </div>

            <div style="position:absolute; left: 1431px; top: 434px;" id="TP2" title="444B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '90',
	sensortyp: 'T',
	signalName: 'Station_39.Register.AI086_temp_444b1',
	handLinks: '12',
	handOben: '2',
   	einheit: '°C',
	anzeigefeldLinks: '24',
	anzeigefeldOben: '0',
	}">
            </div>

            <div style="position:absolute; left: 795px; top: 219px;" id="TP3" title="437B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '270',
	sensortyp: 'T',
	signalName: 'Station_39.Register.AI084_temp_437b1',
	handLinks: '12',
	handOben: '2',
   	einheit: '°C',
	anzeigefeldLinks: '-65',
	anzeigefeldOben: '0',
	}">
            </div>

            <div style="position:absolute; left: 795px; top: 434px;" id="TP4" title="436B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '270',
	sensortyp: 'T',
	signalName: 'Station_39.Register.AI083_temp_436b1',
	handLinks: '12',
	handOben: '2',
   	einheit: '°C',
	anzeigefeldLinks: '-65',
	anzeigefeldOben: '0',
	}">
            </div>

            <div style="position:absolute; left: 654px; top: 246px;" id="TP5" title="431B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '0',
	sensortyp: 'T',
	signalName: 'Station_39.Register.AI080_temp_431b1',
	handLinks: '12',
	handOben: '2',
   	einheit: '°C',
	anzeigefeldLinks: '-20',
	anzeigefeldOben: '-25',
	}">
            </div>

            <div style="position:absolute; left: 654px; top: 492px;" id="TP6" title="441B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '0',
	sensortyp: 'T',
	signalName: 'Station_39.Register.AI085_temp_441b1',
	handLinks: '12',
	handOben: '2',
   	einheit: '°C',
	anzeigefeldLinks: '-20',
	anzeigefeldOben: '-25',
	}">
            </div>

            <div style="position:absolute; left: 476px; top: 197px;" id="TP7" title="411B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '0',
	sensortyp: 'T',
	signalName: 'Station_39.Register.AI070_temp_411b1',
	handLinks: '12',
	handOben: '2',
   	einheit: '°C',
	anzeigefeldLinks: '-20',
	anzeigefeldOben: '-25',
	}">
            </div>

            <div style="position:absolute; left: 476px; top: 446px;" id="TP8" title="421B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '0',
	sensortyp: 'T',
	signalName: 'Station_39.Register.AI071_temp_421b1',
	handLinks: '12',
	handOben: '2',
   	einheit: '°C',
	anzeigefeldLinks: '-20',
	anzeigefeldOben: '-25',
	}">
            </div>

            <!-- Text -->
            <p style="position: absolute; left: 45px; top: 202px;" class="bs-beschriftung-small-verteilung">Betriebswahl<br>Tauscher 1</p>
            <p style="position: absolute; left: 45px; top: 450px;" class="bs-beschriftung-small-verteilung">Betriebswahl<br>Tauscher 2</p>
            <p style="position: absolute; left: 885px; top: 162px;" class="bs-beschriftung-small-verteilung">Speicher 1</p>
            <p style="position: absolute; left: 1293px; top: 162px;" class="bs-beschriftung-small-verteilung">Speicher 2</p>


            <!--  -->

            <!-- Workaround um den Bug in der Benutzeranmeldung zu korrigieren -->
            <wf-button style="visibility: hidden;" params="signalName: 'Setpoint 1', writeValue: 1, buttonText: 'Write Value :1', cssClass: 'btn-success', projectAuthorization: 'irgendeinWert'"></wf-button>
        </div>
    </div>
</div>
