﻿<!--****************************************************************************************************************************************************************************************************************************************************
    Bühler+Scherler
--------------------------------------------------------------------------------------------------------------------------


--------------------------------------------------------------------------------------------------------------------------
ERSTELLT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0		R.Brunnschweiler	BS                  10.07.2017
--------------------------------------------------------------------------------------------------------------------------
GEÄNDERT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0       F.Sabljo            BS                  15.02.2018


********************************************************************************************************************************************************************************************************************************************************-->
<div class="container bs_content_container">
    <header>
        <h1 class="page-header bs-header-mittig">H07/08 Heizverteiler HA.SK01</h1>
        <!--BUILDING CONTROL-->
    </header>
    <div class="col-lg-12">
        <div class="bs-responsive bs-hotel-heizung-H0708HeizverteilerHotelHA_SK01 hidden-xs">
            <!--Seiten-Verlinkungen (Pfeile auf der Seite)-->
            <!-- Widgets -->
            <!-- Sollwert -->
            <div style="position:absolute; left: 821.5px; top: 122px;" id="S1" title="Sollwerttemperatur 111B1" data-bind="bsAusgabefeld: {
              signalName:'Station_39.Register.sw_n_hk_116y1',
              typ: 'berechnetersollwert',
              einheit: '°C'
            }">
            </div>

            <div style="position:absolute; left: 1052.5px; top: 122px;" id="S2" title="Sollwerttemperatur 131B1" data-bind="bsAusgabefeld: {
              signalName:'Station_39.Register.sw_n_hk_136y1',
              typ: 'berechnetersollwert',
              einheit: '°C'
            }">
            </div>

            <div style="position:absolute; left: 1436.5px; top: 186px;" id="S2" title="Aussentemperaturfühler" data-bind="bsAusgabefeld: {
              signalName:'Station_39.Register.rcv_H00_temp_113b1',
              typ: 'istwert',
              einheit: '°C'
            }">
            </div>
            <div style="position:absolute; left: 1436.5px; top: 210px;" id="S2" title="Aussenmittelwert" data-bind="bsAusgabefeld: {
              signalName:'Station_39.Register.aver_temp_113b1',
              typ: 'istwert',
              einheit: '°C'
            }">
            </div>

            <!--Anlagenschalter, Sollwertfenster, Zeitschaltuhren, etc...-->
            <div style="position:absolute; left:1730px; top:635px" id="KLI02" title="Heizgruppe Hotel" data-bind="bsAnlageschalter_lfc: {
	dialogTitle: 'Heizgruppe Hotel ',
	signalName: 'Station_39',
    stromPfad: 'hg_hotel'
	}">
            </div>

            <div style="position:absolute; left:1685px; top:635px" id="KLI02" title="Sommerbetrieb" data-bind="bsAnlageschalter_lfc: {
	dialogTitle: 'Sommerbetrieb ',
	signalName: 'Station_39',
    stromPfad: 'sommer'
	}">
            </div>

            <div style="position:absolute; left:1775px; top:635px" id="KLI02_I110sollwertfenster" title="Sollwerte Heizverteiler" data-bind="bsSollwertFenster: {
	dialogTitle: 'Sollwerte Heizverteiler',
	authorisierung: 'Administration',
	signals: [
		{ label: 'Türschleier [°C]', signalname: 'Station_39.Register.sw_902b1', untergrenze: '', obergrenze: '' },
		{ label: 'Sommerbetrieb ø12h [°C]', signalname: 'Station_39.Register.sw_sommer', untergrenze: '', obergrenze: '' },
		{ label: 'HG Aussentemp ø12h EIN [°C]', signalname: 'Station_39.Register.sw_aussentemp_hg_hotel_ein', untergrenze: '', obergrenze: '' },
		{ label: 'HG Aussentemp ø12h AUS [°C]', signalname: 'Station_39.Register.sw_aussentemp_hg_hotel_aus', untergrenze: '', obergrenze: '' }
		]}">
            </div>

            <div style="position:absolute; left:949px; top:635px" title="Heizkurve 136Y1" data-bind="bsSollwertFenster: {
	dialogTitle: 'Heizkurve 136Y1',
	authorisierung: 'Administration',
	signals: [
		{ label: 'Punkt To 1', signalname: 'Station_39.Register.hk_136y1_02', untergrenze: '', obergrenze: '' },
		{ label: 'Punkt W1 Tag', signalname: 'Station_39.Register.hk_136y1_03', untergrenze: '', obergrenze: '' },
		{ label: 'Punkt W1 Nacht', signalname: 'Station_39.Register.hk_136y1_04', untergrenze: '', obergrenze: '' },
		{ label: 'Punkt To 2', signalname: 'Station_39.Register.hk_136y1_05', untergrenze: '', obergrenze: '' },
        { label: 'Punkt W2 Tag', signalname: 'Station_39.Register.hk_136y1_06', untergrenze: '', obergrenze: '' },
        { label: 'Punkt W2 Nacht', signalname: 'Station_39.Register.hk_136y1_07', untergrenze: '', obergrenze: '' },
        { label: 'Punkt To 3', signalname: 'Station_39.Register.hk_136y1_08', untergrenze: '', obergrenze: '' },
        { label: 'Punkt W3 Tag', signalname: 'Station_39.Register.hk_136y1_09', untergrenze: '', obergrenze: '' },
        { label: 'Punkt W3 Nacht', signalname: 'Station_39.Register.hk_136y1_10', untergrenze: '', obergrenze: '' },
        { label: 'Punkt To 4', signalname: 'Station_39.Register.hk_136y1_11', untergrenze: '', obergrenze: '' },
        { label: 'Punkt W4 Tag', signalname: 'Station_39.Register.hk_136y1_12', untergrenze: '', obergrenze: '' },
        { label: 'Punkt W4 Nacht', signalname: 'Station_39.Register.hk_136y1_13', untergrenze: '', obergrenze: '' },
        { label: 'Minimum W', signalname: 'Station_39.Register.hk_136y1_14', untergrenze: '', obergrenze: '' },
        { label: 'Maximum W', signalname: 'Station_39.Register.hk_136y1_15', untergrenze: '', obergrenze: '' },
		]}">
            </div>

            <div style="position:absolute; left:716px; top:635px" title="Heizkurve 116Y1" data-bind="bsSollwertFenster: {
	dialogTitle: 'Heizkurve 116Y1',
	authorisierung: 'Administration',
	signals: [
		{ label: 'Punkt To 1', signalname: 'Station_39.Register.hk_116y1_02', untergrenze: '', obergrenze: '' },
		{ label: 'Punkt W1 Tag', signalname: 'Station_39.Register.hk_116y1_03', untergrenze: '', obergrenze: '' },
		{ label: 'Punkt W1 Nacht', signalname: 'Station_39.Register.hk_116y1_04', untergrenze: '', obergrenze: '' },
		{ label: 'Punkt To 2', signalname: 'Station_39.Register.hk_116y1_05', untergrenze: '', obergrenze: '' },
        { label: 'Punkt W2 Tag', signalname: 'Station_39.Register.hk_116y1_06', untergrenze: '', obergrenze: '' },
        { label: 'Punkt W2 Nacht', signalname: 'Station_39.Register.hk_116y1_07', untergrenze: '', obergrenze: '' },
        { label: 'Punkt To 3', signalname: 'Station_39.Register.hk_116y1_08', untergrenze: '', obergrenze: '' },
        { label: 'Punkt W3 Tag', signalname: 'Station_39.Register.hk_116y1_09', untergrenze: '', obergrenze: '' },
        { label: 'Punkt W3 Nacht', signalname: 'Station_39.Register.hk_116y1_10', untergrenze: '', obergrenze: '' },
        { label: 'Punkt To 4', signalname: 'Station_39.Register.hk_116y1_11', untergrenze: '', obergrenze: '' },
        { label: 'Punkt W4 Tag', signalname: 'Station_39.Register.hk_116y1_12', untergrenze: '', obergrenze: '' },
        { label: 'Punkt W4 Nacht', signalname: 'Station_39.Register.hk_116y1_13', untergrenze: '', obergrenze: '' },
        { label: 'Minimum W', signalname: 'Station_39.Register.hk_116y1_14', untergrenze: '', obergrenze: '' },
        { label: 'Maximum W', signalname: 'Station_39.Register.hk_116y1_15', untergrenze: '', obergrenze: '' },
		]}">
            </div>

            <!--LE-->
            <div style="position:absolute; left: 986px; top: 233px;" id="V1" title="134M1" data-bind="bsMotorStufen_lfc: {
    dialogTitle: 'Pumpe 134M1',
    signalName: 'Station_39',
    stromPfad: '134m1',
	motorAusrichtung: 'oben',
	motortyp: 'ventilator',
	handLinks: '20',
	handOben: '10',
	stufe: '0',
	}">
            </div>

            <div style="position:absolute; left: 754px; top: 233px;" id="V2" title="114M1" data-bind="bsMotorStufen_lfc: {
    dialogTitle: 'Pumpe 114M1',
    signalName: 'Station_39',
    stromPfad: '114m1',
	motorAusrichtung: 'oben',
	motortyp: 'ventilator',
	handLinks: '20',
	handOben: '10',
	stufe: '0',
	}">
            </div>

            <div style="position:absolute; left: 521px; top: 336px;" id="V3" title="901M1" data-bind="bsMotorStufen_lfc: {
    dialogTitle: 'Pumpe 901M1',
    signalName: 'Station_39',
    stromPfad: '901m1',
	motorAusrichtung: 'unten',
	motortyp: 'ventilator',
	handLinks: '20',
	handOben: '10',
	stufe: '0',
	}">
            </div>

            <!--Ventil-->
            <div style="position:absolute; left: 911.5px; top: 325px;" id="VT1" title="136Y1" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
	signalName: 'Station_39.Register.AO145_136y1'}">
            </div>

            <div style="position:absolute; left: 679.5px; top: 325px;" id="VT2" title="116Y1" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
	signalName: 'Station_39.Register.AO144_116y1'}">
            </div>

            <div style="position:absolute; left: 447.5px; top: 233px;" id="VT3" title="903Y2" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
	signalName: 'Station_39.Register.AO256_903y1'}">
            </div>

            <!--TPHSensor-->
            <div style="position:absolute; left: 565px; top: 490px;" id="TP1" title="902B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '90',
	sensortyp: 'T',
	signalName: 'Station_39.Register.AI100_temp_902b1',
	handLinks: '12',
	handOben: '2',
   	anzeigefeldLinks: '24',
	anzeigefeldOben: '0',
	}">
            </div>

            <div style="position:absolute; left: 798px; top: 144px;" id="TP2" title="111B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '90',
	sensortyp: 'T',
	signalName: 'Station_39.Register.AI064_temp_111b1',
	handLinks: '12',
	handOben: '2',
   	anzeigefeldLinks: '24',
	anzeigefeldOben: '0',
	}">
            </div>

            <div style="position:absolute; left: 1029px; top: 144px;" id="TP3" title="131B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '90',
	sensortyp: 'T',
	signalName: 'Station_39.Register.AI065_temp_131b1',
	handLinks: '12',
	handOben: '2',
   	anzeigefeldLinks: '24',
	anzeigefeldOben: '0',
	}">
            </div>

            <div style="position:absolute; left: 798px; top: 175px;" id="TP4" title="113B1" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '35',
     winkel: '90',
     sensortyp: 'üT',
     signalName: 'Station_39.Flag.al_113s1',
     einheit: 'ohne',
     }">
            </div>


            <!-- Text -->
            <p style="position: absolute; left: 452px; top: 611px;" class="bs-beschriftung-small-verteilung">H15 Türschleier<br>Drehtüre</p>
            <p style="position: absolute; left: 683px; top: 611px;" class="bs-beschriftung-small-verteilung">H07 Heizkörper</p>
            <p style="position: absolute; left: 898px; top: 611px;" class="bs-beschriftung-small-verteilung">H08 ULK Hotelzimmer</p>
            <p style="position: absolute; left: 1505px; top: 185px;" class="bs-beschriftung-small-verteilung">Aussentemperatur</p>
            <p style="position: absolute; left: 1505px; top: 210px;" class="bs-beschriftung-small-verteilung">Aussenmittelwert</p>
            <!--  -->
           
            <!-- Workaround um den Bug in der Benutzeranmeldung zu korrigieren -->
            <wf-button style="visibility: hidden;" params="signalName: 'Setpoint 1', writeValue: 1, buttonText: 'Write Value :1', cssClass: 'btn-success', projectAuthorization: 'irgendeinWert'"></wf-button>
        </div>
    </div>
</div>
