﻿<div data-bind="if: hasAuthorization">
    <div class="relative" data-bind="css: {'wf-enabled-container':!isDisabled(),'wf-disabled-container': isDisabled()}">
        <div data-part="content"></div>
        <!-- ko if: isDisabled() -->
        <div class="wf-overlay stretched" data-bind="style: {backgroundColor: disableOverlayColor}" ></div>
        <!-- /ko -->
    </div>
</div>