﻿<!-- 4-PunkteKurve-Punkt -->
<div>
    <div class="wf-lg wf-chart-line btn bs-btn " data-bind="css: btnColor, click: openDialog"></div>
    <div class="wf wf-hand bs_handfarbe fa-2x" data-bind="style: { left: links + 'px', top: oben + 'px', position: 'absolute', visibility: handbetrieb }"></div>
</div>
