﻿<!--****************************************************************************************************************************************************************************************************************************************************
    Bühler+Scherler
--------------------------------------------------------------------------------------------------------------------------


--------------------------------------------------------------------------------------------------------------------------
ERSTELLT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0		R.Brunnschweiler	BS                  10.07.2017
--------------------------------------------------------------------------------------------------------------------------
GEÄNDERT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0		F.Sabljo        	BS                  15.02.17


********************************************************************************************************************************************************************************************************************************************************-->
<div class="container bs_content_container">
    <header>
        <h1 class="page-header bs-header-mittig">L19 Lüftung Zentrale EDV Raum HA.SL01</h1>
        <!--BUILDING CONTROL-->
    </header>
    <div class="col-lg-12">
        <div class="bs-responsive bs-hotel-lueftungen-L19LueftungZentraleEDVRaumHA_SL01 hidden-xs">
            <!--Seiten-Verlinkungen (Pfeile auf der Seite)-->
            <a style="position: absolute; left: 0px; top: 52px; text-decoration: none;" title="Aussenluft" class="bs-pfeil-verlinkung-aussenluft wf wf-arrow wf-w"></a>
            <a style="position: absolute; left: 0px; top: 556px; text-decoration: none;" title="Fortluft" class="bs-pfeil-verlinkung-fortluft wf wf-arrow wf-w"></a>
            <a style="position: absolute; left: 1816px; top: 52px; text-decoration: none;" title="Aussenluft" class="bs-pfeil-verlinkung-aussenluft wf wf-arrow wf-w"></a>
            <a style="position: absolute; left: 1816px; top: 556px; text-decoration: none;" title="Fortluft" class="bs-pfeil-verlinkung-fortluft wf wf-arrow wf-w"></a>
            <!-- Widgets -->
            <!--Anlagenschalter, Sollwertfenster, Zeitschaltuhren, etc...-->
            <div style="position:absolute; left:1730px; top:635px" id="KLI02" title="L19 Lüftung EDV Raum" data-bind="bsAnlageschalter_lfc: {
	dialogTitle: 'L19 Lüftung EDV Raum ',
	signalName: 'Station_42',
    stromPfad: 'lueftung_L19'
	}">
            </div>

            <div style="position:absolute; left:1775px; top:635px" id="KLI02_I201schaltuhr" title="Schaltuhr Lüftungsanlage L19 EDV Raum" data-bind="bsSchaltuhr_lfc: {
	signalName: 'Station_42',
    uhr: 'su_L19',
	dialogTitle: 'Schaltuhr Lüftungsanlage L19 EDV Raum' }">
            </div>

            <!--LE-->
            <div style="position:absolute; left: 266px; top: 568px;" id="V1" title="1045M1" data-bind="bsMotorStufen_lfc: {
    dialogTitle: 'Ventilator 1045M1',
    signalName: 'Station_42',
    stromPfad: '1045m1',
	motorAusrichtung: 'links',
	motortyp: 'ventilator',
	handLinks: '20',
	handOben: '10',
	stufe: '0',
	}">
            </div>

            <div style="position:absolute; left: 1577.5px; top: 64px;" id="V2" title="1015M1" data-bind="bsMotorStufen_lfc: {
    dialogTitle: 'Ventilator 1015M1',
    signalName: 'Station_42',
    stromPfad: '1015m1',
	motorAusrichtung: 'links',
	motortyp: 'ventilator',
	handLinks: '20',
	handOben: '10',
	stufe: '0',
	}">
            </div>

            <!--Klappen-->
            <div style="position:absolute; left: 478px; top: 564px;" id="K1" title="1066Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_42.Register.status_1066y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 478px; top: 58px;" id="K2" title="1065Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_42.Register.status_1065y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 700px; top: 58px;" id="K3" title="1064Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_42.Register.status_1064y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1256px; top: 58px;" id="K4" title="1061Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_42.Register.status_1061y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 905px; top: 198px;" id="K5" title="1062Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '90',
    signalName: 'Station_42.Register.status_1062y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 905px; top: 430px;" id="K6" title="1063Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '90',
    signalName: 'Station_42.Register.status_1063y3',
    position: 'Buffer 3'
}"></div>

            <!--Wächter-->
            <div style="position:absolute; left: 271px; top: 511px;" id="W1" title="1047B1" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Buffer 3',
     einheit: 'ohne'
     }">
            </div>

            <div style="position:absolute; left: 1583px; top: 7px;" id="W2" title="1017B1" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Station_42.Flag.al_1017b1',
     einheit: 'ohne'
     }">
            </div>
            
            <!-- Text -->
            <p style="position: absolute; left: 445px; top: 610px;" class="bs-beschriftung-small-verteilung">Keller - Parking</p>
            <p style="position: absolute; left: 554px; top: 115px;" class="bs-beschriftung-small-verteilung">Keller - Elektro/IT</p>
            <p style="position: absolute; left: 875px; top: 314px;" class="bs-beschriftung-small-verteilung">Elektro/IT Hotel</p>
            <p style="position: absolute; left: 1200px; top: 115px;" class="bs-beschriftung-small-verteilung">Lüftungszentralle -  Keller</p>


            <!--  -->
           
            <!-- Workaround um den Bug in der Benutzeranmeldung zu korrigieren -->
            <wf-button style="visibility: hidden;" params="signalName: 'Setpoint 1', writeValue: 1, buttonText: 'Write Value :1', cssClass: 'btn-success', projectAuthorization: 'irgendeinWert'"></wf-button>
        </div>
    </div>
</div>
