﻿<!--****************************************************************************************************************************************************************************************************************************************************
    Bühler+Scherler
--------------------------------------------------------------------------------------------------------------------------


--------------------------------------------------------------------------------------------------------------------------
ERSTELLT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0		R.Brunnschweiler	BS                  10.07.2017
--------------------------------------------------------------------------------------------------------------------------
GEÄNDERT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0       F.Sabljo            BS                  13.02.2018


********************************************************************************************************************************************************************************************************************************************************-->
<div class="container bs_content_container">
    <header>
        <h1 class="page-header bs-header-mittig">L12 Lüftung Verteilung Restaurant HA.SL01</h1>
        <!--BUILDING CONTROL-->
    </header>
    <div class="col-lg-12">
        <div class="bs-responsive bs-hotel-lueftungen-L12LueftungVerteilungRestaurantHA_SL01 hidden-xs">
            <!--Seiten-Verlinkungen (Pfeile auf der Seite)-->
            <a style="position: absolute; left: 0px; top: 576px; text-decoration: none;" title="Zuluft" class="bs-pfeil-verlinkung-zuluft wf wf-arrow"></a>
            <a style="position: absolute; left: 0px; top: 496px; text-decoration: none;" title="Abluft" class="bs-pfeil-verlinkung-abluft wf wf-arrow wf-w"></a>

            <!-- Widgets -->

            <!--Anlagenschalter, Sollwertfenster, Zeitschaltuhren, etc...-->
            <div style="position:absolute; left:1775px; top:635px" id="KLI02_I110sollwertfenster" title="Sollwert Geber 211B1" data-bind="bsSollwertFenster: {
	dialogTitle: 'Sollwert Geber 211B1',
	authorisierung: 'Administration',
	signals: [
		{ label: 'Aussentemperatur [ºC]', signalname: 'Station_41.Register.sg_211b1_02', untergrenze: '', obergrenze: '' },
		{ label: 'Aussentemperatur 2 [ºC]', signalname: 'Station_41.Register.sg_211b1_04', untergrenze: '', obergrenze: '' },
    	{ label: 'Sollwert [ºC]', signalname: 'Station_41.Register.sg_211b1_01', untergrenze: '', obergrenze: '' },
		{ label: 'Sollwert 2 [ºC]', signalname: 'Station_41.Register.sg_211b1_03', untergrenze: '', obergrenze: '' },
        { label: 'Maximaler Sollwert [ºC]', signalname: 'Station_41.Register.sg_211b1_05', untergrenze: '', obergrenze: '' },
        { label: 'Tot-Zone für / [K]', signalname: 'Station_41.Register.sg_211b1_06', untergrenze: '', obergrenze: '' }
		]}">
            </div>

            <!-- Sollwert -->
            <div style="position:absolute; left: 730px; top: 157px;" id="S1" title="Sollwert Ventil 275Y2" data-bind="bsAusgabefeld: {
              signalName:'Station_41.Register.sw_n_pi_275y2',
              typ: 'berechnetersollwert',
              einheit: '%'
            }">
            </div>

            <div style="position:absolute; left: 1025px; top: 197px;" id="S2" title="Sollwert Raumtemperatur 271B1 Restaurant" data-bind="bsAusgabefeld: {
              signalName:'Station_41.Register.sw_raumtemp_L12',
              typ: 'berechnetersollwert',
              einheit: '°C'
            }">
            </div>

            <!--Ventil-->
            <div style="position:absolute; left: 792px; top: 182px;" id="VT1" title="275Y5" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
    typ: 'digital',
	anzeigefeldLinks: '42',
	anzeigefeldOben: '10',
	winkel: '180',
	signalName: 'Station_41.Flag.DO434_en_275y2'}">
            </div>

            <div style="position:absolute; left: 792px; top: 234px;" id="VT2" title="276Y5" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
    typ: 'digital',
	anzeigefeldLinks: '42',
	anzeigefeldOben: '10',
	winkel: '180',
	signalName: 'Station_41.Flag.DO435_en_276y2'}">
            </div>

            <div style="position:absolute; left: 742px; top: 182px;" id="VT3" title="275Y3" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: ' ',
    typ: 'digital',
	anzeigefeldLinks: '42',
	anzeigefeldOben: '10',
	winkel: '180',
	signalName: 'Station_41.Flag.DO434_en_275y2'}">
            </div>

            <div style="position:absolute; left: 742px; top: 234px;" id="VT4" title="276Y3" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
    typ: 'digital',
	anzeigefeldLinks: '42',
	anzeigefeldOben: '10',
	winkel: '180',
	signalName: 'Station_41.Flag.DO435_en_276y2'}">
            </div>

            <div style="position:absolute; left: 692px; top: 182px;" id="VT5" title="275Y1" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: ' ',
    typ: 'digital',
	anzeigefeldLinks: '42',
	anzeigefeldOben: '10',
	winkel: '180',
	signalName: 'Station_41.Flag.DO434_en_275y2'}">
            </div>

            <div style="position:absolute; left: 692px; top: 234px;" id="VT6" title="276Y1" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: ' ',
    typ: 'digital',
	anzeigefeldLinks: '42',
	anzeigefeldOben: '10',
	winkel: '180',
	signalName: 'Station_41.Flag.DO435_en_276y2'}">
            </div>

            <!--Klappen-->
            <div style="position:absolute; left: 443px; top: 581px;" id="K1" title="261Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_41.Register.status_261y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1334px; top: 502px;" id="K2" title="263Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_41.Register.status_263y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1334px; top: 581px;" id="K3" title="262Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_41.Register.status_262y3',
    position: 'Buffer 3'
}"></div>

            <!--TPHSensor-->
            <div style="position:absolute; left: 1000px; top: 220px;" id="TP1" title="271B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '20',
	winkel: '0',
	sensortyp: 'T',
	handLinks: '12',
	handOben: '2',
    einheit: '°C',
	anzeigefeldLinks: '25',
	anzeigefeldOben: '0',
	signalName: 'Station_41.Register.AI215_temp_271b1',
	}">
            </div>

            <!-- Text -->
            <p style="position: absolute; left: 412px; top: 635px;" class="bs-beschriftung-small-verteilung">Keller - Parking</p>
            <p style="position: absolute; left: 1325px; top: 635px;" class="bs-beschriftung-small-verteilung">UG - EG</p>
            <p style="position: absolute; left: 1750px; top: 550px;" class="bs-beschriftung-small-verteilung">UG</p>
            <p style="position: absolute; left: 1750px; top: 175px;" class="bs-beschriftung-small-verteilung">EG</p>

            <!--  -->
           
            <!-- Workaround um den Bug in der Benutzeranmeldung zu korrigieren -->
            <wf-button style="visibility: hidden;" params="signalName: 'Setpoint 1', writeValue: 1, buttonText: 'Write Value :1', cssClass: 'btn-success', projectAuthorization: 'irgendeinWert'"></wf-button>
        </div>
    </div>
</div>
