﻿<!--****************************************************************************************************************************************************************************************************************************************************
    Bühler+Scherler
--------------------------------------------------------------------------------------------------------------------------


--------------------------------------------------------------------------------------------------------------------------
ERSTELLT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0		R.Brunnschweiler	BS                  10.07.2017
--------------------------------------------------------------------------------------------------------------------------
GEÄNDERT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0       F.Sabljo            BS                  15.02.2018


********************************************************************************************************************************************************************************************************************************************************-->
<div class="container bs_content_container">
    <header>
        <h1 class="page-header bs-header-mittig">L21 Sturmlüftung HA.SL01</h1>
        <!--BUILDING CONTROL-->
    </header>
    <div class="col-lg-12">
        <div class="bs-responsive bs-hotel-lueftungen-L21LueftungZentraleSturmlueftungHA_SL01 hidden-xs">
            <!--Seiten-Verlinkungen (Pfeile auf der Seite)-->
            <a style="position: absolute; left: 0px; top: 460px; text-decoration: none;" title="Abluft" class="bs-pfeil-verlinkung-abluft wf wf-arrow"></a>
            <a style="position: absolute; left: 0px; top: 251px; text-decoration: none;" title="Aussenluft" class="bs-pfeil-verlinkung-aussenluft wf wf-arrow wf-w"></a>
            <a style="position: absolute; left: 1815px; top: 462px; text-decoration: none;" title="Abluft" class="bs-pfeil-verlinkung-abluft wf wf-arrow"></a>
            <a style="position: absolute; left: 1815px; top: 251px; text-decoration: none;" title="Aussenluft" class="bs-pfeil-verlinkung-aussenluft wf wf-arrow wf-w"></a>
            <!-- Widgets -->
            <!--Anlagenschalter, Sollwertfenster, Zeitschaltuhren, etc...-->
            <div style="position:absolute; left:1730px; top:635px" id="KLI02" title="L21 Sturmlüftung" data-bind="bsAnlageschalter_2Stufen_lfc: {
	dialogTitle: 'L21 Sturmlüftung ',
	signalName: 'Station_42',
    stromPfad: 'lueftung_L21'
	}">
            </div>

            <div style="position:absolute; left:1775px; top:635px" id="KLI02_I201schaltuhr" title="Schaltuhr Lüftungsanlage L21 Sturmlüftung" data-bind="bsSchaltuhr_lfc: {
	signalName: 'Station_42',
    uhr: 'su_L21',
	dialogTitle: 'Schaltuhr Lüftungsanlage L21 Sturmlüftung' }">
            </div>

            <!--LE-->
            <div style="position:absolute; left: 911px; top: 471px;" id="V1" title="1245M1" data-bind="bsMotor2Stufen_lfc: {
    dialogTitle: 'Venti 1245M1',
    signalName: 'Station_42',
    stromPfad: '1245m1',
	motorAusrichtung: 'rechts',
	motortyp: 'ventilator',
	handLinks: '20',
	handOben: '10',
	stufe: '2',
	}">
            </div>

            <div style="position:absolute; left: 911px; top: 263px;" id="V2" title="1215M1" data-bind="bsMotor2Stufen_lfc: {
    dialogTitle: 'Venti 1215M1',
    signalName: 'Station_42',
    stromPfad: '1215m1',
	motorAusrichtung: 'links',
	motortyp: 'ventilator',
	handLinks: '20',
	handOben: '10',
	stufe: '2',
	}">
            </div>

            <!--Wächter-->
            <div style="position:absolute; left: 915px; top: 415px;" id="W1" title="1247B1" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Station_42.Flag.al_1247b1',
     einheit: 'ohne'
     }">
            </div>

            <div style="position:absolute; left: 915px; top: 207px;" id="W2" title="1217B1" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Station_42.Flag.al_1217b1',
     einheit: 'ohne'
     }">
            </div>

            <!-- Text -->



            <!--  -->
            <div style="position:absolute; left: 1450px; top: 530px;" title="Anforderung NK-TK Anlage" data-bind="bsZustandsanzeige_lfc: {
                 authorisierung: 'Administration' ,
                 modulName: 'Station_42.Flag.DI211_anford_sturmlueftung' ,
                 hintergrundTransparent: 'true' ,
                 zustaende: [
                { vergleichswert: '0', farbe: 'color-aus',  text: 'Anforderung NK-TK Anlage: keine Anforderung'},
                { vergleichswert: '1', farbe: 'color-ein',  text: 'Anforderung NK-TK Anlage: EIN Stufe 2'}
                ]
                }">
            </div>
            <div style="position:absolute; left: 1450px; top: 555px;" title="Service Schalter 1210S1" data-bind="bsZustandsanzeige_lfc: {
                 authorisierung: 'Administration' ,
                 modulName: 'Station_42.Register.status_1210s1' ,
                 hintergrundTransparent: 'true' ,
                 zustaende: [
                { vergleichswert: '0', farbe: 'color-aus',  text: 'Status Vorortschalter 1210S1: AUS'},
                { vergleichswert: '1', farbe: 'color-aus',  text: 'Status Vorortschalter 1210S1: AUS'},
                { vergleichswert: '2', farbe: 'color-ein',  text: 'Status Vorortschalter 1210S1: AUTOMATIK'}
                ]
                }">
            </div>
            <!-- Workaround um den Bug in der Benutzeranmeldung zu korrigieren -->
            <wf-button style="visibility: hidden;" params="signalName: 'Setpoint 1', writeValue: 1, buttonText: 'Write Value :1', cssClass: 'btn-success', projectAuthorization: 'irgendeinWert'"></wf-button>
        </div>
    </div>
</div>
