﻿<!--****************************************************************************************************************************************************************************************************************************************************
    Bühler+Scherler
--------------------------------------------------------------------------------------------------------------------------


--------------------------------------------------------------------------------------------------------------------------
ERSTELLT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0		R.Brunnschweiler	BS                  10.07.2017
--------------------------------------------------------------------------------------------------------------------------
GEÄNDERT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0       F.Sabljo            BS                  12.02.2018


********************************************************************************************************************************************************************************************************************************************************-->
<div class="container bs_content_container">
    <header>
        <h1 class="page-header bs-header-mittig">L11 Lüftung Zentrale Hotellobby/Bar HA.SL01</h1>
        <!--BUILDING CONTROL-->
    </header>
    <div class="col-lg-12">
        <div class="bs-responsive bs-hotel-lueftungen-L11LueftungZentraleHotellobbyHA_SL01 hidden-xs">
            <!--Seiten-Verlinkungen (Pfeile auf der Seite)-->
            <a style="position: absolute; left: 0px; top: 237px; text-decoration: none;" title="Aussenluft" class="bs-pfeil-verlinkung-aussenluft wf wf-arrow"></a>
            <a style="position: absolute; left: 0px; top: 424px; text-decoration: none;" title="Fortluft" class="bs-pfeil-verlinkung-fortluft wf wf-arrow wf-w"></a>
            <a style="position: absolute; left: 1816px; top: 425px; text-decoration: none;" title="Zuluft" class="bs-pfeil-verlinkung-zuluft wf wf-arrow"></a>
            <a style="position: absolute; left: 1816px; top: 237px; text-decoration: none;" title="Abluft" class="bs-pfeil-verlinkung-abluft wf wf-arrow wf-w"></a>
            <!-- Widget -->
            <!-- Sollwert -->
            <div style="position:absolute; left: 1727.5px; top: 162px;" id="S1" title="Sollwert Differenzdruck ABL" data-bind="bsAusgabefeld: {
              signalName:'Station_41.Register.sw_diffdruck_abl_L11',
              typ: 'berechnetersollwert',
              einheit: 'Pa'
            }">
            </div>

            <div style="position:absolute; left: 1727.5px; top: 351px;" id="S2" title="Sollwert Differenzdruck ZUL" data-bind="bsAusgabefeld: {
              signalName:'Station_41.Register.sw_diffdruck_zul_L11',
              typ: 'berechnetersollwert',
              einheit: 'Pa'
            }">
            </div>

            <div style="position:absolute; left: 1637.5px; top: 351px;" id="S3" title="Sollwerttemperatur 118B1" data-bind="bsAusgabefeld: {
              signalName:'Station_41.Register.sw_118b1',
              typ: 'berechnetersollwert',
              einheit: 'Pa'
            }">
            </div>

            <div style="position:absolute; left: 1027.51px; top: 325.229px;" id="S4" title="Sollwert 152Y1" data-bind="bsAusgabefeld: {
              signalName:'Station_41.Register.AO034_sw_152y1',
              typ: 'berechnetersollwert',
              einheit: '%'
            }">
            </div>

            <div style="position:absolute; left: 684px; top: 470px;" id="S5" title="Sollwert FU 145U1" data-bind="bsAusgabefeld: {
              signalName:'Station_41.Register.AO051_sw_145u0',
              typ: 'berechnetersollwert',
              einheit: '%'
            }">
            </div>

            <div style="position:absolute; left: 1328px; top: 470px;" id="S6" title="Sollwert FU 115U1" data-bind="bsAusgabefeld: {
              signalName:'Station_41.Register.AO035_sw_115u1',
              typ: 'berechnetersollwert',
              einheit: '%'
            }">
            </div>
            <!--Anlagenschalter, Sollwertfenster, Zeitschaltuhren, etc...-->
            <div style="position:absolute; left:1685px; top:635px" id="KLI02" title="L11 Lüftung Hotellobby" data-bind="bsAnlageschalter_lfc: {
	dialogTitle: 'L11 Lüftung Hotellobby',
	signalName: 'Station_41',
    stromPfad: 'L11'
	}">
            </div>
            <div style="position:absolute; left:1730px; top:635px" id="KLI02_I110sollwertfenster" title="Sollwerte L11 Lüftung Hotellobby" data-bind="bsSollwertFenster: {
	dialogTitle: 'Sollwerte L11 Lüftung Hotellobby',
	authorisierung: 'Administration',
	signals: [
		{ label: 'Differenzdruck ZUL [Pa]', signalname: 'Station_41.Register.sw_diffdruck_zul_L11', untergrenze: '', obergrenze: '' },
		{ label: 'Differenzdruck ABL [Pa]', signalname: 'Station_41.Register.sw_diffdruck_abl_L11', untergrenze: '', obergrenze: '' }
		]}">
            </div>
            <div style="position:absolute; left:1775px; top:635px" title="Schaltuhr Lüftungsanlage Hotellobby" data-bind="bsSchaltuhr_lfc: {
	signalName: 'Station_41',
    uhr: 'su_L11',
	dialogTitle: 'Schaltuhr Lüftungsanlage Hotellobby' }">
            </div>
            <!--LE-->
            <div style="position:absolute; left: 700px; top: 433px;" id="V1" title="145M1" data-bind="bsMotorStufen_lfc: {
    dialogTitle: '145M1',
    signalName: 'Station_41',
    stromPfad: '145m1',
	motorAusrichtung: 'links',
	motortyp: 'ventilator',
	handLinks: '20',
	handOben: '10',
	}">
            </div>

            <div style="position:absolute; left: 1343.5px; top: 433px;" id="V2" title="115M1" data-bind="bsMotorStufen_lfc: {
    dialogTitle: '115M1',
    signalName: 'Station_41',
    stromPfad: '115m1',
	motorAusrichtung: 'rechts',
	motortyp: 'ventilator',
	handLinks: '20',
	handOben: '10',
	}">
            </div>

            <div style="position:absolute; left: 1094px; top: 499.5px;" id="PU1" title="125M1" data-bind="bsMotorStufen_lfc: {
    dialogTitle: '125M1',
    signalName: 'Station_41',
    stromPfad: '125m1',
	motorAusrichtung: 'oben',
	motortyp: 'pumpe',
	handLinks: '20',
	handOben: '10',
	}">
            </div>

            <!--Ventil-->
            <div style="position:absolute; left: 1091.5px; top: 544px" id="VT1" title="126Y1" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '42',
	anzeigefeldOben: '10',
	winkel: '180',
	signalName: 'Station_41.Register.AO032_sw_126y1'}">
            </div>

            <div style="position:absolute; left: 1254px; top: 544px" id="VT2" title="136Y1" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '42',
	anzeigefeldOben: '10',
	winkel: '180',
	signalName: 'Station_41.Register.AO033_sw_136y1'}">
            </div>

            <!--Klappen-->
            <div style="position:absolute; left: 414px; top: 242px;" id="K1" title="112Y1" data-bind="bsKlappe_lfc: {
    symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
	signalName: 'Station_41.Register.status_112y1',
    position: 'Buffer 3'
  }">
            </div>

            <div style="position:absolute; left: 414px; top: 430px;" id="K2" title="112Y3" data-bind="bsKlappe_lfc: {
    symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
	signalName: 'Station_41.Register.status_112y1',
    position: 'Buffer 3'
  }">
            </div>

            <div style="position:absolute; left: 967px; top: 317px;" id="K3" title="152Y1" data-bind="bsKlappe_lfc_without_state: {
    symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '315',
    signalName: 'Station_41.Register.AO034_sw_152y1',
    position: 'Buffer 3'
}">
            </div>

            <div style="position:absolute; left: 927px; top: 273.5px;" id="K4" title="152Y1" data-bind="bsKlappe_lfc_without_state: {
    symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '315',
    signalName: 'Station_41.Register.AO034_sw_152y1',
    position: 'Buffer 3'
}">
            </div>

            <!--TPHSensor-->
            <div style="position:absolute; left: 180px; top: 212px;" id="TP1" title="111B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '0',
	sensortyp: 'T',
	signalName: 'Station_40.Register.AI096_temp_111b1',
	handLinks: '12',
	handOben: '2',
	}">
            </div>

            <div style="position:absolute; left: 180px; top: 401px;" id="TP2" title="148B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '0',
	sensortyp: 'T',
	signalName: 'Station_41.Register.AI196_temp_148b1',
	handLinks: '12',
	handOben: '2',
	}">
            </div>

            <div style="position:absolute; left: 1660px; top: 212px;" id="TP3" title="141B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '0',
	sensortyp: 'T',
	signalName: 'Station_41.Register.AI195_temp_141b1',
	handLinks: '12',
	handOben: '2',
	}">
            </div>

            <div style="position:absolute; left: 1660px; top: 401px;" id="TP4" title="118B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '0',
	sensortyp: 'T',
	signalName: 'Station_41.Register.AI193_temp_118b1',
	handLinks: '12',
	handOben: '2',
	}">
            </div>

            <div style="position:absolute; left: 1750px; top: 212px;" id="TP5" title="150B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '0',
	sensortyp: 'P',
    einheit: 'Pa',
    signalName: 'Station_41.Register.AI197_pd_150b1',
	handLinks: '12',
	handOben: '2',
	}">
            </div>

            <div style="position:absolute; left: 1750px; top: 401px;" id="TP6" title="120B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '0',
	sensortyp: 'P',
    einheit: 'Pa',
    signalName: 'Station_41.Register.AI194_pd_120b1',
	handLinks: '12',
	handOben: '2',
	}">
            </div>

            <div style="position:absolute; left: 1300px; top: 599px;" id="TP7" title="135B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '90',
	sensortyp: 'T',
    signalName: 'Station_41.Register.AI210_temp_135b1',
	handLinks: '12',
	handOben: '2',
   	anzeigefeldLinks: '26',
	anzeigefeldOben: '0',
	}">
            </div>

            <!--Wächter-->
            <div style="position:absolute; left: 704px; top: 189px" id="W1" title="113B1" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Station_41.Flag.al_113b1_filter',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left: 704px; top: 377px" id="W2" title="147B1" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Station_41.Flag.al_147b1',
     einheit: 'ohne',
     }">
            </div>
            
            <div style="position:absolute; left: 1346px; top: 189px" id="W3" title="143B1" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Station_41.Flag.al_143b1_filter',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left: 1346px; top: 377px" id="W4" title="117B1" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Station_41.Flag.al_117b1',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left: 1161.5px; top: 401px" id="W5" title="114B1" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '35',
     winkel: '0',
     sensortyp: 'F',
     signalName: 'Station_41.Flag.al_114b1_frost',
     einheit: 'ohne',
     }">
            </div>

            <!-- Text -->
            <p style="position: absolute; left: 871px; top: 341px;" class="bs-beschriftung-medium">WRG</p>
            <p style="position: absolute; left: 1094px; top: 325px;" class="bs-beschriftung-small-verteilung">Bypass</p>

            <!--  -->
           
            <!-- Workaround um den Bug in der Benutzeranmeldung zu korrigieren -->
            <wf-button style="visibility: hidden;" params="signalName: 'Setpoint 1', writeValue: 1, buttonText: 'Write Value :1', cssClass: 'btn-success', projectAuthorization: 'irgendeinWert'"></wf-button>
        </div>
    </div>
</div>
