﻿<!--****************************************************************************************************************************************************************************************************************************************************
    Bühler+Scherler
--------------------------------------------------------------------------------------------------------------------------


--------------------------------------------------------------------------------------------------------------------------
ERSTELLT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0		R.Brunnschweiler	BS                  10.07.2017
--------------------------------------------------------------------------------------------------------------------------
GEÄNDERT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0       F.Sabljo            BS                  14.02.18


********************************************************************************************************************************************************************************************************************************************************-->
<div class="container bs_content_container">
    <header>
        <h1 class="page-header bs-header-mittig">L16 Lüftung Verteilung 5 Hotelzimmer HA.SL01</h1>
        <!--BUILDING CONTROL-->
    </header>
    <div class="col-lg-12">
        <div class="bs-responsive bs-hotel-lueftungen-L16LueftungVerteilung05HotelzimmerHA_SL01 hidden-xs">
            <!--Seiten-Verlinkungen (Pfeile auf der Seite)-->
            <a style="position: absolute; left: 0px; top: 566px; text-decoration: none;" title="Abluft" class="bs-pfeil-verlinkung-abluft wf wf-arrow wf-w"></a>
            <a style="position: absolute; left: 0px; top: 602px; text-decoration: none;" title="Zuluft" class="bs-pfeil-verlinkung-zuluft wf wf-arrow"></a>
            <a style="position: absolute; left: 1816px; top: 602px; text-decoration: none;" title="Zuluft" class="bs-pfeil-verlinkung-zuluft wf wf-arrow"></a>
            <a style="position: absolute; left: 1816px; top: 566px; text-decoration: none;" title="Abluft" class="bs-pfeil-verlinkung-abluft wf wf-arrow wf-w"></a>

            <!-- Widgets -->
            <!--Klappen-->
            <div style="position:absolute; left: 979px; top: 536px;" id="K1" title="771Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '90',
    signalName: 'Station_43.Register.bsk.status_771y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1047px; top: 536px;" id="K2" title="772Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '90',
    signalName: 'Station_43.Register.bsk.status_772y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 917px; top: 505px;" id="K3" title="774y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_774y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 917px; top: 457px;" id="K4" title="773Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_773y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 767px; top: 505px;" id="K5" title="776Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_776y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 767px; top: 457px;" id="K6" title="775Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_775y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 917px; top: 393px;" id="K7" title="778Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_778y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 917px; top: 345px;" id="K8" title="777Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_777y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 767px; top: 393px;" id="K9" title="780Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_780y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 767px; top: 345px;" id="K10" title="779Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_779y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 917px; top: 281px;" id="K7" title="782Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_782y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 917px; top: 233px;" id="K8" title="781Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_781y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 767px; top: 281px;" id="K9" title="784Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_784y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 767px; top: 233px;" id="K10" title="783Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_783y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 917px; top: 168px;" id="K11" title="786Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_786y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 917px; top: 121px;" id="K12" title="785Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_785y3',
    position: 'Buffer 3'
}"></div>

            <!-- Text -->
            <p style="position: absolute; left: 600px; top: 492px;" class="bs-beschriftung-small-verteilung">2.OG</p>
            <p style="position: absolute; left: 600px; top: 379px;" class="bs-beschriftung-small-verteilung">3.OG</p>
            <p style="position: absolute; left: 600px; top: 268px;" class="bs-beschriftung-small-verteilung">4.OG</p>
            <p style="position: absolute; left: 600px; top: 145px;" class="bs-beschriftung-small-verteilung">5.OG<br>Fitnessbereich</p>
            <p style="position: absolute; left: 981px; top: 86px;" class="bs-beschriftung-small-verteilung">Steigzone 20</p>

            <!--  -->
           
            <!-- Workaround um den Bug in der Benutzeranmeldung zu korrigieren -->
            <wf-button style="visibility: hidden;" params="signalName: 'Setpoint 1', writeValue: 1, buttonText: 'Write Value :1', cssClass: 'btn-success', projectAuthorization: 'irgendeinWert'"></wf-button>
        </div>
    </div>
</div>
