﻿<!--****************************************************************************************************************************************************************************************************************************************************
    Bühler+Scherler
--------------------------------------------------------------------------------------------------------------------------


--------------------------------------------------------------------------------------------------------------------------
ERSTELLT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0		R.Brunnschweiler	BS                  10.07.2017
--------------------------------------------------------------------------------------------------------------------------
GEÄNDERT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0       F.Sabljo            BS                  13.02.2018


********************************************************************************************************************************************************************************************************************************************************-->
<div class="container bs_content_container">
    <header>
        <h1 class="page-header bs-header-mittig">L14 Lüftung Verteilung 1 Konferenz HA.SL01</h1>
        <!--BUILDING CONTROL-->
    </header>
    <div class="col-lg-12">
        <div class="bs-responsive bs-hotel-lueftungen-L14LueftungVerteilung1KonferenzHA_SL01 hidden-xs">
            <!--Seiten-Verlinkungen (Pfeile auf der Seite)-->
            <a style="position: absolute; left: 0px; top: 407px; text-decoration: none;" title="Abluft" class="bs-pfeil-verlinkung-abluft wf wf-arrow"></a>
            <a style="position: absolute; left: 0px; top: 490px; text-decoration: none;" title="Abluft" class="bs-pfeil-verlinkung-abluft wf wf-arrow wf-w"></a>
            <a style="position: absolute; left: 0px; top: 583px; text-decoration: none;" title="Zuluft" class="bs-pfeil-verlinkung-zuluft wf wf-arrow"></a>
            <a style="position: absolute; left: 1816px; top: 583px; text-decoration: none;" title="Zuluft" class="bs-pfeil-verlinkung-zuluft wf wf-arrow"></a>
            <a style="position: absolute; left: 1816px; top: 446px; text-decoration: none;" title="Abluft" class="bs-pfeil-verlinkung-abluft wf wf-arrow wf-w"></a>
            <a style="position: absolute; left: 1816px; top: 490px; text-decoration: none;" title="Abluft" class="bs-pfeil-verlinkung-abluft wf wf-arrow wf-w"></a>

            <!-- Widgets -->
            <!-- Sollwert -->
            <div style="position:absolute; left: 462px; top: 294px;" id="S1" title="VAV 421Y1" data-bind="bsAusgabefeld: {
              signalName:'Station_42.Register.AO048_sw_421y1',
              typ: 'berechnetersollwert',
              einheit: '%'
            }">
            </div>

            <div style="position:absolute; left: 609px; top: 294px;" id="S2" title="VAV 423Y1" data-bind="bsAusgabefeld: {
              signalName:'Station_42.Register.AO050_sw_423y1',
              typ: 'berechnetersollwert',
              einheit: '%'
            }">
            </div>

            <div style="position:absolute; left: 755px; top: 294px;" id="S3" title="VAV 422Y1" data-bind="bsAusgabefeld: {
              signalName:'Station_42.Register.AO049_sw_422y1',
              typ: 'berechnetersollwert',
              einheit: '%'
            }">
            </div>

            <div style="position:absolute; left: 902px; top: 294px;" id="S4" title="VAV 421Y4" data-bind="bsAusgabefeld: {
              signalName:'Station_42.Register.AO048_sw_421y1',
              typ: 'berechnetersollwert',
              einheit: '%'
            }">
            </div>

            <div style="position:absolute; left: 1047px; top: 294px;" id="S5" title="VAV 423Y4" data-bind="bsAusgabefeld: {
              signalName:'Station_42.Register.AO050_sw_423y1',
              typ: 'berechnetersollwert',
              einheit: '%'
            }">
            </div>

            <div style="position:absolute; left: 1183px; top: 294px;" id="S6" title="VAV 422Y4" data-bind="bsAusgabefeld: {
              signalName:'Station_42.Register.AO049_sw_422y1',
              typ: 'berechnetersollwert',
              einheit: '%'
            }">
            </div>

            <div style="position:absolute; left: 1768px; top: 0px;" id="S7" title="Sollwert Raumpteratur Konferenz" data-bind="bsAusgabefeld: {
              signalName:'Station_42.Register.sw_raum_L14',
              typ: 'berechnetersollwert',
              einheit: '°C'
            }">
            </div>
            <div style="position:absolute; left: 1477px; top: 193px;" title="Trennwand Bankett 1/2" data-bind="bsZustandsanzeige_lfc: {
                 authorisierung: 'Administration' ,
                 modulName: 'Station_42.Flag.DI187_rm_474s1' ,
                 hintergrundTransparent: 'true' ,
                 zustaende: [
                { vergleichswert: '0', farbe: 'color-ein',  text: 'Trennwand Bankett 1/2: offen'},
                { vergleichswert: '1', farbe: 'color-aus',  text: 'Trennwand Bankett 1/2: geschlossen'}
                ]
                }">
            </div>
            <div style="position:absolute; left: 35px; top: 300px;" title="Trennwand Foyer-Prefunction (Foyer B)" data-bind="bsZustandsanzeige_lfc: {
                 authorisierung: 'Administration' ,
                 modulName: 'Station_42.Flag.DI251_rm_471s1' ,
                 hintergrundTransparent: 'true' ,
                 zustaende: [
                { vergleichswert: '0', farbe: 'color-ein',  text: 'Trennwand Foyer-Prefunction (Foyer B): offen'},
                { vergleichswert: '1', farbe: 'color-aus',  text: 'Trennwand Foyer-Prefunction (Foyer B): geschlossen'}
                ]
                }">
            </div>
            <!--Anlagenschalter, Sollwertfenster, Zeitschaltuhren, etc...-->
            <div style="position:absolute; left:1730px; top:635px" id="KLI02_I110sollwertfenster" title="Sollwertschiebung Konferenz L14" data-bind="bsSollwertFenster: {
	dialogTitle: 'Sollwertschiebung Konferenz L14',
	authorisierung: 'Administration',
	signals: [
		{ label: 'Aussentemperatur [°C]', signalname: 'Station_42.Register.sg_raum_L14_02', untergrenze: '', obergrenze: '' },
		{ label: 'Aussentemperatur 2 [°C]', signalname: 'Station_42.Register.sg_raum_L14_04', untergrenze: '', obergrenze: '' },
    	{ label: 'Sollwert [°C]', signalname: 'Station_42.Register.sg_raum_L14_01', untergrenze: '', obergrenze: '' },
		{ label: 'Sollwert 2 [°C]', signalname: 'Station_42.Register.sg_raum_L14_03', untergrenze: '', obergrenze: '' },
        { label: 'Maximaler Sollwert [°C]', signalname: 'Station_42.Register.sg_raum_L14_05', untergrenze: '', obergrenze: '' },
        { label: 'Tot-Zone für / [K]', signalname: 'Station_42.Register.sg_raum_L14_06', untergrenze: '', obergrenze: '' }
		]}">
            </div>

            <div style="position:absolute; left:1775px; top:635px" id="KLI02_I110sollwertfenster" title="Offset +/- 5K" data-bind="bsSollwertFenster: {
	dialogTitle: 'Offset +/- 5K',
	authorisierung: 'Administration',
	signals: [
		{ label: 'RT Foyer (Foyer 2) [K]', signalname: 'Station_42.Register.rt_foyer', untergrenze: '', obergrenze: '' },
		{ label: 'RT Bankett 1 (Pulver) [K]', signalname: 'Station_42.Register.rt_bankett_1', untergrenze: '', obergrenze: '' },
		{ label: 'RT Bankett 2 (Dächli) [K]', signalname: 'Station_42.Register.rt_bankett_2', untergrenze: '', obergrenze: '' }
		]}">
            </div>

            <div style="position:absolute; left:1375px; top:235px" title="Sollwertschiebung VAV 422Y1/4 Bankett 2" data-bind="bsSollwertFenster: {
	dialogTitle: 'Sollwertschiebung VAV 422Y1/4 Bankett 2',
	authorisierung: 'Administration',
	signals: [
		{ label: 'VAV Sollwert1 (minimum) [%]', signalname: 'Station_42.Register.w_vav_422y1_01', untergrenze: '', obergrenze: '' },
		{ label: 'VAV Bedarf 1 nach Lq [%]', signalname: 'Station_42.Register.w_vav_422y1_02', untergrenze: '', obergrenze: '' },
		{ label: 'VAV Sollwert 2 [%]', signalname: 'Station_42.Register.w_vav_422y1_03', untergrenze: '', obergrenze: '' },
		{ label: 'VAV Bedarf 2 nach Lq [%]', signalname: 'Station_42.Register.w_vav_422y1_04', untergrenze: '', obergrenze: '' },
		{ label: 'Maximaler Sollwert [%]', signalname: 'Station_42.Register.w_vav_422y1_05', untergrenze: '', obergrenze: '' },
        { label: 'Tot-Zone für / [%]', signalname: 'Station_42.Register.w_vav_422y1_06', untergrenze: '', obergrenze: '' }

		]}">
            </div>
            <div style="position:absolute; left:1375px; top:108px" title="Sollwertschiebung VAV 423Y1/4 Bankett 1" data-bind="bsSollwertFenster: {
	dialogTitle: 'Sollwertschiebung VAV 423Y1/4 Bankett 1',
	authorisierung: 'Administration',
	signals: [
		{ label: 'VAV Sollwert1 (minimum) [%]', signalname: 'Station_42.Register.w_vav_423y1_01', untergrenze: '', obergrenze: '' },
		{ label: 'VAV Bedarf 1 nach Lq [%]', signalname: 'Station_42.Register.w_vav_423y1_02', untergrenze: '', obergrenze: '' },
		{ label: 'VAV Sollwert 2 [%]', signalname: 'Station_42.Register.w_vav_423y1_03', untergrenze: '', obergrenze: '' },
		{ label: 'VAV Bedarf 2 nach Lq [%]', signalname: 'Station_42.Register.w_vav_423y1_04', untergrenze: '', obergrenze: '' },
		{ label: 'Maximaler Sollwert [%]', signalname: 'Station_42.Register.w_vav_423y1_05', untergrenze: '', obergrenze: '' },
        { label: 'Tot-Zone für / [%]', signalname: 'Station_42.Register.w_vav_423y1_06', untergrenze: '', obergrenze: '' }

		]}">
            </div>
            <div style="position:absolute; left:331px; top:108px" title="Sollwertschiebung VAV 421Y1/4 Foyer" data-bind="bsSollwertFenster: {
	dialogTitle: 'Sollwertschiebung VAV 421Y1/4 Foyer',
	authorisierung: 'Administration',
	signals: [
		{ label: 'VAV Sollwert1 (minimum) [%]', signalname: 'Station_42.Register.w_vav_421y1_01', untergrenze: '', obergrenze: '' },
		{ label: 'VAV Bedarf 1 nach Lq [%]', signalname: 'Station_42.Register.w_vav_421y1_02', untergrenze: '', obergrenze: '' },
		{ label: 'VAV Sollwert 2 [%]', signalname: 'Station_42.Register.w_vav_421y1_03', untergrenze: '', obergrenze: '' },
		{ label: 'VAV Bedarf 2 nach Lq [%]', signalname: 'Station_42.Register.w_vav_421y1_04', untergrenze: '', obergrenze: '' },
		{ label: 'Maximaler Sollwert [%]', signalname: 'Station_42.Register.w_vav_421y1_05', untergrenze: '', obergrenze: '' },
        { label: 'Tot-Zone für / [%]', signalname: 'Station_42.Register.w_vav_421y1_06', untergrenze: '', obergrenze: '' }

		]}">
            </div>
            <!--Ventil-->
            <div style="position:absolute; left: 1485px; top: 234px" id="VT1" title="Heizventil 452Y1" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
    dialogtitle: 'Heizventil 452Y1',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-12',
	anzeigefeldOben: '50',
	winkel: '180',
	signalName: 'Station_42.Register.sw_n_mux_452y2'}">
            </div>

            <div style="position:absolute; left: 1555px; top: 234px" id="VT2" title="Kühlventil 452Y5" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	dialogtitle: 'Kühlventil 452Y5',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-12',
	anzeigefeldOben: '50',
	winkel: '180',
	signalName: 'Station_42.Register.sw_n_mux_452y6'}">
            </div>

            <div style="position:absolute; left: 1485px; top: 106px" id="VT3" title="Heizventil 453Y1" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	dialogtitle: 'Heizventil 453Y1',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-12',
	anzeigefeldOben: '50',
	winkel: '180',
	signalName: 'Station_42.Register.sw_seq_453y2'}">
            </div>

            <div style="position:absolute; left: 1555px; top: 106px" id="VT4" title="Kühlventil 453Y5" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	dialogtitle: 'Kühlventil 453Y5',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-12',
	anzeigefeldOben: '50',
	winkel: '180',
	signalName: 'Station_42.Register.sw_seq_453y6'}">
            </div>

            <div style="position:absolute; left: 233px; top: 106px" id="VT3" title="Kühlventil 451Y5" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	dialogtitle: 'Kühlventil 451Y5',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-12',
	anzeigefeldOben: '50',
	winkel: '180',
	signalName: 'Station_42.Register.sw_n_mux_451y6'}">
            </div>

            <div style="position:absolute; left: 163px; top: 106px" id="VT4" title="Heizventil 451Y1" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	dialogtitle: 'Heizventil 451Y1',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-12',
	anzeigefeldOben: '50',
	winkel: '180',
	signalName: 'Station_42.Register.sw_n_mux_451y2'}">
            </div>

            <!--Klappen-->
            <div style="position:absolute; left: 232px; top: 412px;" id="K1" title="363Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_42.Register.status_363y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 473px; top: 454px;" id="K2" title="361Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '90',
    signalName: 'Station_42.Register.status_361y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 910px; top: 454px;" id="K3" title="362Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '90',
    signalName: 'Station_42.Register.status_362y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1535px; top: 497px;" id="K4" title="365Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_42.Register.status_365y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1535px; top: 588px;" id="K5" title="364Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_42.Register.status_364y3',
    position: 'Buffer 3'
}"></div>

            <!--TPHSensor-->
            <div style="position:absolute; left:1630px; top: 234px;" id="TP1" title="382B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '0',
	sensortyp: 'T',
	signalName: 'Station_42.Register.AI257_temp_382b1',
	handLinks: '12',
	handOben: '2',
   	einheit: '°C',
	anzeigefeldLinks: '-18',
	anzeigefeldOben: '50',
	}">
            </div>

            <div style="position:absolute; left:1630px; top: 106px;" id="TP2" title="383B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '0',
	sensortyp: 'T',
	signalName: 'Station_42.Register.AI258_temp_383b1',
	handLinks: '12',
	handOben: '2',
   	einheit: '°C',
	anzeigefeldLinks: '-18',
	anzeigefeldOben: '50',
	}">
            </div>

            <div style="position:absolute; left: 100px; top: 106px;" id="TP3" title="381B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '0',
	sensortyp: 'T',
	signalName: 'Station_42.Register.AI256_temp_381b1',
	handLinks: '12',
	handOben: '2',
   	einheit: '°C',
	anzeigefeldLinks: '-18',
	anzeigefeldOben: '50',
	}">
            </div>

            <div style="position:absolute; left: 735px; top: 238px;" id="TP4" title="401B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '270',
	sensortyp: 'Q',
	signalName: 'Station_42.Register.lq_bankettsaal',
	handLinks: '12',
	handOben: '2',
   	einheit: 'ppm',
	anzeigefeldLinks: '-72',
	anzeigefeldOben: '0',
	}">
            </div>

            <div style="position:absolute; left: 589px; top: 238px;" id="TP5" title="402B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '270',
	sensortyp: 'Q',
	signalName: 'Station_42.Register.lq_foyer_schacht_02',
	handLinks: '12',
	handOben: '2',
   	einheit: 'ppm',
	anzeigefeldLinks: '-72',
	anzeigefeldOben: '0',
	}">
            </div>

            <div style="position:absolute; left: 443px; top: 238px;" id="TP6" title="400B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '270',
	sensortyp: 'Q',
	signalName: 'Station_42.Register.lq_foyer_schacht_03',
	handLinks: '12',
	handOben: '2',
   	einheit: 'ppm',
	anzeigefeldLinks: '-72',
	anzeigefeldOben: '0',
	}">
            </div>
            
            <!--Wächter-->
            <!--div style="position:absolute; left: 483px; top: 326px;" id="W1" title="KLI02_F951 (O127_GA01_S001:160F2)" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Buffer 3',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left: 628px; top: 326px;" id="W2" title="KLI02_F951 (O127_GA01_S001:160F2)" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Buffer 3',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left: 775px; top: 326px;" id="W3" title="KLI02_F951 (O127_GA01_S001:160F2)" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Buffer 3',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left: 921px; top: 326px;" id="W4" title="KLI02_F951 (O127_GA01_S001:160F2)" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Buffer 3',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left: 1067px; top: 326px;" id="W5" title="KLI02_F951 (O127_GA01_S001:160F2)" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Buffer 3',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left: 1203px; top: 326px;" id="W6" title="KLI02_F951 (O127_GA01_S001:160F2)" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Buffer 3',
     einheit: 'ohne',
     }">
            </div>-->

            <div style="position:absolute; left:1670px; top: 234px;" id="W7" title="Taupunktwächter 382B5" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '35',
     winkel: '0',
     sensortyp: '  ',
     signalName: 'Station_42.Flag.DI158_rm_382b5',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left:1670px; top: 106px;" id="W8" title="Taupunktwächter 383B5" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '35',
     winkel: '0',
     sensortyp: '  ',
     signalName: 'Station_42.Flag.DI159_rm_383b5',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left: 60px; top: 106px;" id="W9" title="Taupunktwächter 381B5" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '35',
     winkel: '0',
     sensortyp: '  ',
     signalName: 'Station_42.Flag.DI157_rm_381b5',
     einheit: 'ohne',
     }">
            </div>

            <!-- Text -->
            <p style="position: absolute; left: 100px; top: 444px;" class="bs-beschriftung-small-verteilung">Parking<br>Luftraum 3.OG<br>Konferenz</p>
            <p style="position: absolute; left: 520px; top: 464px;" class="bs-beschriftung-small-verteilung">UG - EG</p>
            <p style="position: absolute; left: 954px; top: 464px;" class="bs-beschriftung-small-verteilung">UG - EG</p>
            <p style="position: absolute; left: 1590px; top: 552px;" class="bs-beschriftung-small-verteilung">Keller - Parking</p>
            <p style="position: absolute; left: 332px; top: 56px;" class="bs-beschriftung-small-verteilung">Foyer (Foyer B)</p>
            <p style="position: absolute; left: 1268px; top: 56px;" class="bs-beschriftung-small-verteilung">Bankettsaal 1 (Pulver)</p>
            <p style="position: absolute; left: 1265px; top: 184px;" class="bs-beschriftung-small-verteilung">Bankettsaal 2 (Dächli)</p>
            <p style="position: absolute; left: 1517px; top: 0px;" class="bs-beschriftung-small-verteilung">Sollwert Raumtemperatur Konferenz</p>
            <p style="position: absolute; left: 465px; top: 25px;" class="bs-beschriftung-small-verteilung">Schacht 03-04/K</p>
            <p style="position: absolute; left: 730px; top: 25px;" class="bs-beschriftung-small-verteilung">Schacht 02-03/K</p>

            <!--  -->
           
            <!-- Workaround um den Bug in der Benutzeranmeldung zu korrigieren -->
            <wf-button style="visibility: hidden;" params="signalName: 'Setpoint 1', writeValue: 1, buttonText: 'Write Value :1', cssClass: 'btn-success', projectAuthorization: 'irgendeinWert'"></wf-button>
        </div>
    </div>
</div>
