﻿<!--****************************************************************************************************************************************************************************************************************************************************
    Bühler+Scherler
--------------------------------------------------------------------------------------------------------------------------


--------------------------------------------------------------------------------------------------------------------------
ERSTELLT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0		R.Brunnschweiler	BS                  10.07.2017
--------------------------------------------------------------------------------------------------------------------------
GEÄNDERT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0       F.Sabljo            BS                  13.02.2018


********************************************************************************************************************************************************************************************************************************************************-->
<div class="container bs_content_container">
    <header>
        <h1 class="page-header bs-header-mittig">L13 Lüftung Verteilung Küche HA.SL03</h1>
        <!--BUILDING CONTROL-->
    </header>
    <div class="col-lg-12">
        <div class="bs-responsive bs-hotel-lueftungen-L13LueftungVerteilungKuecheHA_SL03 hidden-xs">
            <!--Seiten-Verlinkungen (Pfeile auf der Seite)-->
            <a style="position: absolute; left: 0px; top: 459px; text-decoration: none;" title="Zuluft" class="bs-pfeil-verlinkung-zuluft wf wf-arrow"></a>
            <a style="position: absolute; left: 0px; top: 151px; text-decoration: none;" title="Abluft" class="bs-pfeil-verlinkung-abluft wf wf-arrow wf-w"></a>
            <a style="position: absolute; left: 1816px; top: 459px; text-decoration: none;" title="Zuluft" class="bs-pfeil-verlinkung-zuluft wf wf-arrow"></a>
            <a style="position: absolute; left: 1816px; top: 151px; text-decoration: none;" title="Abluft" class="bs-pfeil-verlinkung-abluft wf wf-arrow wf-w"></a>

            <!-- Widgets -->
            <div style="position:absolute; left: 1580px; top: 530px;" title="Status Vorortschalter" data-bind="bsZustandsanzeige_lfc: {
                 authorisierung: 'Administration' ,
                 modulName: 'Station_40.Register.status_104s1' ,
                 hintergrundTransparent: 'true' ,
                 zustaende: [
                { vergleichswert: '0', farbe: 'color-aus',  text: 'Status Vorortschalter: AUS'},
                { vergleichswert: '1', farbe: 'color-ein',  text: 'Status Vorortschalter: Automatikbetrieb'},
                { vergleichswert: '2', farbe: 'color-ein',  text: 'Status Vorortschalter: Stufe 1'},
                { vergleichswert: '3', farbe: 'color-ein',  text: 'Status Vorortschalter: Stufe 2'}
                ]
                }">
            </div>
            <div style="position:absolute; left: 1580px; top: 555px;" title="Status Vorortschalter" data-bind="bsZustandsanzeige_lfc: {
                 authorisierung: 'Administration' ,
                 modulName: 'Station_40.Flag.DI031_rm_110A1_lq' ,
                 hintergrundTransparent: 'true' ,
                 zustaende: [
                { vergleichswert: '0', farbe: 'color-aus',  text: 'Status Anlage: AUS'},
                { vergleichswert: '1', farbe: 'color-ein',  text: 'Status Anlage: EIN'}
                ]
                }">
            </div>
            <div style="position:absolute; left: 1580px; top: 580px;" title="Status Vorortschalter" data-bind="bsZustandsanzeige_lfc: {
                 authorisierung: 'Administration' ,
                 modulName: 'Station_40.Flag.al_110A1_lq_kueche' ,
                 hintergrundTransparent: 'true' ,
                 zustaende: [
                { vergleichswert: '0', farbe: 'color-aus',  text: 'Störung Anlage: NEIN'},
                { vergleichswert: '1', farbe: 'color-fehler',  text: 'Störung Anlage: JA'}
                ]
                }">
            </div>
            <!-- Sollwert -->
            <div style="position:absolute; left: 1655px; top: 280px;" id="S1" title="Sollwerttemperatur 181B1" data-bind="bsAusgabefeld: {
              signalName:'Station_40.Register.sw_n_w_181b1',
              typ: 'berechnetersollwert',
              einheit: '°C'
            }">
            </div>

            <!--Anlagenschalter, Sollwertfenster, Zeitschaltuhren, etc...-->
            <div style="position:absolute; left:1775px; top:630px" id="KLI02_I110sollwertfenster" title="Sollwert Geber 181B1" data-bind="bsSollwertFenster: {
	dialogTitle: 'Sollwert Geber 181B1',
	authorisierung: 'Administration',
	signals: [
		{ label: 'Aussentemperatur [°C]', signalname: 'Station_40.Register.sg_181b1_02', untergrenze: '', obergrenze: '' },
		{ label: 'Aussentemperatur 2 [°C]', signalname: 'Station_40.Register.sg_181b1_04', untergrenze: '', obergrenze: '' },
    	{ label: 'Sollwert [°C]', signalname: 'Station_40.Register.sg_181b1_01', untergrenze: '', obergrenze: '' },
		{ label: 'Sollwert 2 [°C]', signalname: 'Station_40.Register.sg_181b1_03', untergrenze: '', obergrenze: '' },
        { label: 'Maximaler Sollwert [°C]', signalname: 'Station_40.Register.sg_181b1_05', untergrenze: '', obergrenze: '' },
        { label: 'Tot-Zone für / [K]', signalname: 'Station_40.Register.sg_181b1_06', untergrenze: '', obergrenze: '' }
		]}">
            </div>

            <!--Klappen-->
            <div style="position:absolute; left: 880px; top: 95px;" id="K1" title="162Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_40.Register.status_162y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 880px; top: 231px;" id="K2" title="163Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_40.Register.status_163y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 880px; top: 463px;" id="K3" title="161Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_40.Register.status_161y3',
    position: 'Buffer 3'
}"></div>

            <!--TPHSensor-->
            <div style="position:absolute; left: 1675px; top: 330px;" id="TP1" title="181B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '0',
	sensortyp: 'T',
	signalName: 'Station_40.Register.AI100_temp_181b1',
	handLinks: '12',
	handOben: '2',
    einheit: '°C',
	anzeigefeldLinks: '-20',
	anzeigefeldOben: '-25',
	}">
            </div>

            <div style="position:absolute; left: 1765px; top: 330px;" id="TP2" title="" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '0',
	sensortyp: 'LQ',
	signalName: 'Station_40.Register.AI102_lq_kueche',
	handLinks: '12',
	handOben: '2',
    einheit: '%',
	anzeigefeldLinks: '-20',
	anzeigefeldOben: '-25',
	}">
            </div>

            <!-- Text -->
            <!--<p style="position: absolute; left: 830px; top: 605px;" class="bs-beschriftung-small-verteilung">Status Vorortschalter</p>
            <p style="position: absolute; left: 1750px; top: 275px;" class="bs-beschriftung-small-verteilung">Störung</p>
            <p style="position: absolute; left: 1750px; top: 250px;" class="bs-beschriftung-small-verteilung">Betrieb</p>-->

            <!--  -->
           
            <!-- Workaround um den Bug in der Benutzeranmeldung zu korrigieren -->
            <wf-button style="visibility: hidden;" params="signalName: 'Setpoint 1', writeValue: 1, buttonText: 'Write Value :1', cssClass: 'btn-success', projectAuthorization: 'irgendeinWert'"></wf-button>
        </div>
    </div>
</div>
