﻿<!--****************************************************************************************************************************************************************************************************************************************************
    Bühler+Scherler
--------------------------------------------------------------------------------------------------------------------------


--------------------------------------------------------------------------------------------------------------------------
ERSTELLT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0		R.Brunnschweiler	BS                  10.07.2017
--------------------------------------------------------------------------------------------------------------------------
GEÄNDERT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0       F.Sabljo            BS                  15.02.2018


********************************************************************************************************************************************************************************************************************************************************-->
<div class="container bs_content_container">
    <header>
        <h1 class="page-header bs-header-mittig">L24 Lüftung Zentrale Wäscherei HASL05</h1>
        <!--BUILDING CONTROL-->
    </header>
    <div class="col-lg-12">
        <div class="bs-responsive bs-hotel-lueftungen-L24LueftungZentraleWaeschereiHASL05 hidden-xs">
            <!--Seiten-Verlinkungen (Pfeile auf der Seite)-->
            <a style="position: absolute; left: 383px; top: 59px; text-decoration: none;" title="Zuluft" class="bs-pfeil-verlinkung-zuluft wf wf-arrow wf-n"></a>
            <a style="position: absolute; left: 451px; top: 59px; text-decoration: none;" title="Abluft" class="bs-pfeil-verlinkung-abluft wf wf-arrow wf-n"></a>
            <a style="position: absolute; left: 383px; top: 592px; text-decoration: none;" title="Zuluft" class="bs-pfeil-verlinkung-zuluft wf wf-arrow wf-n"></a>
            <a style="position: absolute; left: 451px; top: 592px; text-decoration: none;" title="Abluft" class="bs-pfeil-verlinkung-abluft wf wf-arrow wf-n"></a>

            <!-- Widgets -->
            <div style="position:absolute; left: 1356px; top: 340px;" title="Status Tumbler" data-bind="bsZustandsanzeige_lfc: {
                 authorisierung: 'Administration' ,
                 modulName: 'Station_49.Flag.DI011_rm_110s1' ,
                 hintergrundTransparent: 'true' ,
                 zustaende: [
                { vergleichswert: '0', farbe: 'color-aus',  text: 'Status Tumbler: AUS'},
                { vergleichswert: '1', farbe: 'color-ein',  text: 'Status Tumbler: EIN'}
                ]
                }">
            </div>
            <!--Anlagenschalter, Sollwertfenster, Zeitschaltuhren, etc...-->
            <div style="position:absolute; left:1730px; top:635px" id="KLI02" title="L24 Lüftung Wäscherei" data-bind="bsAnlageschalter_lfc: {
	dialogTitle: 'L24 Lüftung Wäscherei ',
	signalName: 'Station_49',
    stromPfad: 'lueftung_L24'
	}">
            </div>
        
            <div style="position:absolute; left:1775px; top:635px" id="KLI02_I201schaltuhr" title="Schaltuhr Lüftungsanlage Wäscherei" data-bind="bsSchaltuhr_lfc: {
	signalName: 'Station_49',
    uhr: 'su_L24',
	dialogTitle: 'Schaltuhr Lüftungsanlage Wäscherei' }">
            </div>

            <!--LE-->
            <div style="position:absolute; left: 869px; top: 222px;" id="V1" title="115M1" data-bind="bsMotorStufen_lfc: {
    dialogTitle: 'Venti 115M1',
    signalName: 'Station_49',
    stromPfad: '115m1',
	motorAusrichtung: 'rechts',
	motortyp: 'ventilator',
	handLinks: '20',
	handOben: '10',
	stufe: '0',
	}">
            </div>

            <div style="position:absolute; left: 870.5px; top: 454px;" id="V2" title="145M1" data-bind="bsMotorStufen_lfc: {
    dialogTitle: 'Venti 145M1',
    signalName: 'Station_49',
    stromPfad: '145m1',
	motorAusrichtung: 'links',
	motortyp: 'ventilator',
	handLinks: '20',
	handOben: '10',
	stufe: '0',
	}">
            </div>

            <!--Klappen-->
            <div style="position:absolute; left: 1076px; top: 217px;" id="K1" title="161Y1" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_49.Register.status_161y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1076px; top: 446px;" id="K2" title="162Y1" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_49.Register.status_162y3',
    position: 'Buffer 3'
}"></div>

            <!--Wächter-->
            <div style="position:absolute; left: 874px; top: 166px;" id="W1" title="117B1" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Station_49.Flag.al_117b1',
     einheit: 'ohne'
     }">
            </div>

            <div style="position:absolute; left: 874px; top: 394px;" id="W2" title="147B1" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Station_49.Flag.al_147b1',
     einheit: 'ohne'
     }">
            </div>

            <!--  -->
           
            <!-- Workaround um den Bug in der Benutzeranmeldung zu korrigieren -->
            <wf-button style="visibility: hidden;" params="signalName: 'Setpoint 1', writeValue: 1, buttonText: 'Write Value :1', cssClass: 'btn-success', projectAuthorization: 'irgendeinWert'"></wf-button>
        </div>
    </div>
</div>
