﻿<!--****************************************************************************************************************************************************************************************************************************************************
    Bühler+Scherler
--------------------------------------------------------------------------------------------------------------------------


--------------------------------------------------------------------------------------------------------------------------
ERSTELLT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0		R.Brunnschweiler	BS                  10.07.2017
--------------------------------------------------------------------------------------------------------------------------
GEÄNDERT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0       F.Sabljo            BS                  12.02.2018


********************************************************************************************************************************************************************************************************************************************************-->
<div class="container bs_content_container">
    <header>
        <h1 class="page-header bs-header-mittig">L11 Lüftung Verteilung Hotellobby/Bar HA.SL01</h1>
        <!--BUILDING CONTROL-->
    </header>
    <div class="col-lg-12">
        <div class="bs-responsive bs-hotel-lueftungen-L11LueftungHotellobbyBarHA_SL01 hidden-xs">
            <!--Seiten-Verlinkungen (Pfeile auf der Seite)-->
            <a style="position: absolute; left: 0px; top: 583px; text-decoration: none;" title="Zuluft" class="bs-pfeil-verlinkung-zuluft wf wf-arrow"></a>
            <a style="position: absolute; left: 0px; top: 503px; text-decoration: none;" title="Abluft" class="bs-pfeil-verlinkung-abluft wf wf-arrow wf-w"></a>

            <!-- Widget -->
            <!-- Sollwert -->
            <div style="position:absolute; left: 308px; top: 206px;" id="S1" title="Sollwert Ventil 175Y2" data-bind="bsAusgabefeld: {
              signalName:'Station_41.Register.sw_n_pi_175y2',
              typ: 'berechnetersollwert',
              einheit: '%'
            }">
            </div>

            <div style="position:absolute; left:375px; top: 137px;" id="S2" title="Sollwert VAV 172Y1" data-bind="bsAusgabefeld: {
              signalName:'Station_41.Register.AO048_sw_172y1',
              typ: 'berechnetersollwert',
              einheit: '%'
            }">
            </div>

            <div style="position:absolute; left:374px; top: 404px;" id="S3" title="Sollwert VAV 172Y4" data-bind="bsAusgabefeld: {
              signalName:'Station_41.Register.AO048_sw_172y1',
              typ: 'berechnetersollwert',
              einheit: '%'
            }">
            </div>

            <div style="position:absolute; left:783px; top: 331px;" id="S4" title="Sollwert Raumtemperatur Lobby" data-bind="bsAusgabefeld: {
              signalName:'Station_41.Register.sw_raumtemp_L11',
              typ: 'berechnetersollwert',
              einheit: '°C'
            }">
            </div>

            <div style="position:absolute; left:821px; top: 137px;" id="S5" title="Sollwert VAV 192Y1" data-bind="bsAusgabefeld: {
              signalName:'Station_41.Register.AO050_sw_192y1',
              typ: 'berechnetersollwert',
              einheit: '%'
            }">
            </div>

            <div style="position:absolute; left:753px; top: 206px;" id="S8" title="Sollwert 195Y2" data-bind="bsAusgabefeld: {
              signalName:'Station_41.Register.sw_n_pi_195y2',
              typ: 'berechnetersollwert',
              einheit: '%'
            }">
            </div>

            <div style="position:absolute; left:1263px; top: 137px;" id="S6" title="Sollwert VAV 193Y1" data-bind="bsAusgabefeld: {
              signalName:'Station_41.Register.AO288_sw_193y1',
              typ: 'berechnetersollwert',
              einheit: '%'
            }">
            </div>

            <div style="position:absolute; left:1263px; top: 404px;" id="S7" title="Sollwert VAV 194Y1" data-bind="bsAusgabefeld: {
              signalName:'Station_41.Register.AO289_sw_194y1',
              typ: 'berechnetersollwert',
              einheit: '%'
            }">
            </div>

            <!--Anlagenschalter, Sollwertfenster, Zeitschaltuhren, etc...-->
            <div style="position:absolute; left:1640px; top:635px" id="KLI02_I201schaltuhr" title="Schaltuhr 172Y2" data-bind="bsSchaltuhr_lfc: {
	signalName: 'Station_41',
    uhr: 'su_172y1',
	dialogTitle: 'Schaltuhr 172Y2' }">
            </div>

            <div style="position:absolute; left:1685px; top:635px" id="KLI02_I110sollwertfenster" title="Sollwert Geber 111B1" data-bind="bsSollwertFenster: {
	dialogTitle: 'Sollwert Geber 111B1',
	authorisierung: 'Administration',
	signals: [
		{ label: 'Aussentemperatur [ºC]', signalname: 'Station_41.Register.sg_111b1_02', untergrenze: '', obergrenze: '' },
		{ label: 'Aussentemperatur 2 [ºC]', signalname: 'Station_41.Register.sg_111b1_04', untergrenze: '', obergrenze: '' },
    	{ label: 'Sollwert [ºC]', signalname: 'Station_41.Register.sg_111b1_01', untergrenze: '', obergrenze: '' },
		{ label: 'Sollwert 2 [ºC]', signalname: 'Station_41.Register.sg_111b1_03', untergrenze: '', obergrenze: '' },
        { label: 'Maximaler Sollwert [ºC]', signalname: 'Station_41.Register.sg_111b1_05', untergrenze: '', obergrenze: '' },
        { label: 'Tot-Zone für / [K]', signalname: 'Station_41.Register.sg_111b1_06', untergrenze: '', obergrenze: '' }
		]}">
            </div>

            <div style="position:absolute; left:1730px; top:635px" id="KLI02_I201schaltuhr" title="Schaltuhr 192Y1" data-bind="bsSchaltuhr_lfc: {
	signalName: 'Station_41',
    uhr: 'su_192y1',
	dialogTitle: 'Schaltuhr 192Y1' }">
            </div>

            <div style="position:absolute; left:1775px; top:635px" id="KLI02_I110sollwertfenster" title="Sollwerte L11 Lüftung Hotellobby" data-bind="bsSollwertFenster: {
	dialogTitle: 'Sollwerte L11 Lüftung Hotellobby',
	authorisierung: 'Administration',
	signals: [
		{ label: 'Raumtemp Winter [ºC]', signalname: 'Station_41.Register.sw_basis_raumtemp_L11', untergrenze: '', obergrenze: '' },
		{ label: 'VAV Lobby Min Tag [%]', signalname: 'Station_41.Register.limit_tag_192y1_01', untergrenze: '', obergrenze: '' },
		{ label: 'VAV Lobby Max Tag [%]', signalname: 'Station_41.Register.limit_tag_192y1_02', untergrenze: '', obergrenze: '' },
		{ label: 'VAV Lobby Min Nacht [%]', signalname: 'Station_41.Register.limit_nacht_192y1_01', untergrenze: '', obergrenze: '' },
		{ label: 'VAV Lobby Max Nacht [%]', signalname: 'Station_41.Register.limit_nacht_192y1_02', untergrenze: '', obergrenze: '' },
        { label: 'VAV Bar Min Tag [%]', signalname: 'Station_41.Register.limit_tag_172y1_01', untergrenze: '', obergrenze: '' },
        { label: 'VAV Bar Max Tag [%]', signalname: 'Station_41.Register.limit_tag_172y1_02', untergrenze: '', obergrenze: '' },
        { label: 'VAV Bar Min Nacht [%]', signalname: 'Station_41.Register.limit_nacht_172y1_01', untergrenze: '', obergrenze: '' },
        { label: 'VAV Bar Max Nacht [%]', signalname: 'Station_41.Register.limit_nacht_172y1_02', untergrenze: '', obergrenze: '' }
		]}">
            </div>
                     
            <!--Ventil-->
            <div style="position:absolute; left: 1214px; top: 235px;" id="VT1" title="196Y1" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '42',
	anzeigefeldOben: '10',
	winkel: '180',
	signalName: 'Station_41.Register.AO290_sw_196y1'}">
            </div>

            <div style="position:absolute; left: 792.5px; top: 235px;" id="VT2" title="195Y2" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
    typ: 'digital',
	anzeigefeldLinks: '42',
	anzeigefeldOben: '10',
	winkel: '180',
	signalName: 'Station_41.Flag.DO433_en_195y2'}">
            </div>

            <div style="position:absolute; left: 740px; top: 235px;" id="VT3" title="195Y2" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: ' ',
    typ: 'digital',
	anzeigefeldLinks: '42',
	anzeigefeldOben: '10',
	winkel: '180',
	signalName: 'Station_41.Flag.DO433_en_195y2'}">
            </div>

            <div style="position:absolute; left: 368px; top: 235px;" id="VT4" title="175Y2_2" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
    typ: 'digital',
	anzeigefeldLinks: '42',
	anzeigefeldOben: '10',
	winkel: '180',
	signalName: 'Station_41.Flag.DO432_en_175y2'}">
            </div>

            <div style="position:absolute; left: 318px; top: 235px;" id="VT5" title="175Y2_1" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: ' ',
    typ: 'digital',
	anzeigefeldLinks: '42',
	anzeigefeldOben: '10',
	winkel: '180',
	signalName: 'Station_41.Flag.DO432_en_175y2'}">
            </div>

            <div style="position:absolute; left: 268px; top: 235px;" id="VT6" title="175Y2" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: ' ',
    typ: 'digital',
	anzeigefeldLinks: '42',
	anzeigefeldOben: '10',
	winkel: '180',
	signalName: 'Station_41.Flag.DO432_en_175y2'}">
            </div>

            <!--Klappen-->
            <div style="position:absolute; left: 443px; top: 510px;" id="K1" title="162Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_41.Register.status_162y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 443px; top: 589px;" id="K2" title="161Y1" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_41.Register.status_161y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1334px; top: 510px;" id="K3" title="164Y1" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_41.Register.status_164y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1334px; top: 589px;" id="K4" title="163Y1" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_41.Register.status_163y3',
    position: 'Buffer 3'
}"></div>

            <!--TPHSensor-->
            <div style="position:absolute; left: 223px; top: 309px;" id="TP1" title="171B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '20',
	winkel: '0',
	sensortyp: 'T',
	signalName: 'Station_41.Register.AI198_temp_171b1',
	handLinks: '12',
	handOben: '2',
    einheit: '°C',
	anzeigefeldLinks: '28',
	anzeigefeldOben: '0',
	}">
            </div>

            <div style="position:absolute; left: 432px; top: 335px;" id="TP2" title="178B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '0',
	sensortyp: 'Q',
	signalName: 'Station_41.Register.AI199_lq_178b1',
	handLinks: '12',
	handOben: '2',
    einheit: '%',
	anzeigefeldLinks: '-20',
	anzeigefeldOben: '-25',
	}">
            </div>

            <div style="position:absolute; left: 1318px; top: 335px;" id="TP3" title="198B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '0',
	sensortyp: 'Q',
    signalName: 'Station_41.Register.AI209_lq_198b1',
	handLinks: '12',
	handOben: '2',
    einheit: '%',
	anzeigefeldLinks: '-20',
	anzeigefeldOben: '-25',
	}">
            </div>

        <div style="position:absolute; left: 755px; top: 309px;" id="TP4" title="191B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '20',
	winkel: '0',
	sensortyp: 'T',
    signalName: 'Station_41.Register.AI208_temp_191b1',
	handLinks: '12',
	handOben: '2',
    einheit: '°C',
	anzeigefeldLinks: '28',
	anzeigefeldOben: '0',
	}">
        </div>

            <!--Wächter-->
           <!-- <div style="position:absolute; left: 1272px; top: 376px;" id="W1" title="KLI02_F951 (O127_GA01_S001:160F2)" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Buffer 3',
     einheit: 'ohne',
     }">
            </div>

        <div style="position:absolute; left: 1272px; top: 167px;" id="W2" title="KLI02_F951 (O127_GA01_S001:160F2)" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Buffer 3',
     einheit: 'ohne',
     }">
        </div>
        
        <div style="position:absolute; left: 867px; top: 167px;" id="W3" title="KLI02_F951 (O127_GA01_S001:160F2)" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Buffer 3',
     einheit: 'ohne',
     }">
        </div>

        <div style="position:absolute; left: 405px; top: 167px;" id="W4" title="KLI02_F951 (O127_GA01_S001:160F2)" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Buffer 3',
     einheit: 'ohne',
     }">
        </div>

        <div style="position:absolute; left: 405px; top: 376px;" id="W5" title="KLI02_F951 (O127_GA01_S001:160F2)" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Buffer 3',
     einheit: 'ohne',
     }">
        </div>-->

            <!-- Text -->
            <p style="position: absolute; left: 412px; top: 640px;" class="bs-beschriftung-small-verteilung">Keller - Parking</p>
            <p style="position: absolute; left: 1325px; top: 640px;" class="bs-beschriftung-small-verteilung">UG - EG</p>
            <p style="position: absolute; left: 1750px; top: 550px;" class="bs-beschriftung-small-verteilung">UG</p>
            <p style="position: absolute; left: 1750px; top: 175px;" class="bs-beschriftung-small-verteilung">EG</p>
            <p style="position: absolute; left: 1100px; top: 25px;" class="bs-beschriftung-small-verteilung">Lobby</p>
            <p style="position: absolute; left: 412px; top: 25px;" class="bs-beschriftung-small-verteilung">Bar</p>



            <!--  -->
           
            <!-- Workaround um den Bug in der Benutzeranmeldung zu korrigieren -->
            <wf-button style="visibility: hidden;" params="signalName: 'Setpoint 1', writeValue: 1, buttonText: 'Write Value :1', cssClass: 'btn-success', projectAuthorization: 'irgendeinWert'"></wf-button>
        </div>
    </div>
</div>
