﻿<!--****************************************************************************************************************************************************************************************************************************************************
    Bühler+Scherler
--------------------------------------------------------------------------------------------------------------------------


--------------------------------------------------------------------------------------------------------------------------
ERSTELLT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0		R.Brunnschweiler	BS                  10.07.2017
--------------------------------------------------------------------------------------------------------------------------
GEÄNDERT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0		F.Sabljo        	BS                  14.02.17


********************************************************************************************************************************************************************************************************************************************************-->
<div class="container bs_content_container">
    <header>
        <h1 class="page-header bs-header-mittig">L17 Lüftung Verteilung WC/Garderobe HA.SL01</h1>
        <!--BUILDING CONTROL-->
    </header>
    <div class="col-lg-12">
        <div class="bs-responsive bs-hotel-lueftungen-L17LueftungVerteilungWCGarderobeHA_SL01 hidden-xs">
            <!--Seiten-Verlinkungen (Pfeile auf der Seite)-->
            <a style="position: absolute; left: 0px; top: 518px; text-decoration: none;" title="Abluft" class="bs-pfeil-verlinkung-abluft wf wf-arrow wf-w"></a>
            <a style="position: absolute; left: 0px; top: 602px; text-decoration: none;" title="Zuluft" class="bs-pfeil-verlinkung-zuluft wf wf-arrow"></a>
            <a style="position: absolute; left: 1816px; top: 602px; text-decoration: none;" title="Zuluft" class="bs-pfeil-verlinkung-zuluft wf wf-arrow"></a>
            <a style="position: absolute; left: 1816px; top: 573px; text-decoration: none;" title="Abluft" class="bs-pfeil-verlinkung-abluft wf wf-arrow wf-w"></a>

            <!-- Widgets -->
            <!--Klappen-->
            <div style="position:absolute; left: 101px; top: 525px;" id="K1" title="862Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_41.Register.status_862y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 101px; top: 609px;" id="K2" title="861Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_41.Register.status_861y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 794px; top: 436px;" id="K3" title="864Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '90',
    signalName: 'Station_41.Register.status_864y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 861px; top: 436px;" id="K4" title="863Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '90',
    signalName: 'Station_41.Register.status_863y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1483px; top: 436px;" id="K5" title="866Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '90',
    signalName: 'Station_41.Register.status_866y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1549px; top: 436px;" id="K6" title="865Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '90',
    signalName: 'Station_41.Register.status_865y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 610px; top: 121px;" id="K7" title="867Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_41.Register.status_867y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 610px; top: 233px;" id="K8" title="868Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_41.Register.status_868y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 610px; top: 280px;" id="K9" title="869Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_41.Register.status_869y3',
    position: 'Buffer 3'
}"></div>

            <!-- Text -->
            <p style="position: absolute; left: 74px; top: 484px;" class="bs-beschriftung-small-verteilung">Keller - Parking</p>
            <p style="position: absolute; left: 324px; top: 264px;" class="bs-beschriftung-small-verteilung">Bektroraum - Back Office</p>
            <p style="position: absolute; left: 324px; top: 128px;" class="bs-beschriftung-small-verteilung">Korridor - Pers. Garderobe<br>Damen</p>
            <p style="position: absolute; left: 1038px; top: 255px;" class="bs-beschriftung-small-verteilung">Toiletten, Putzraum,<br>Vorplatz</p>
            <p style="position: absolute; left: 960px; top: 436px;" class="bs-beschriftung-small-verteilung">UG - EG<br>Achse 09-10</p>
            <p style="position: absolute; left: 1648px; top: 436px;" class="bs-beschriftung-small-verteilung">UG - EG<br>Steigzone</p>

            <!--  -->
           
            <!-- Workaround um den Bug in der Benutzeranmeldung zu korrigieren -->
            <wf-button style="visibility: hidden;" params="signalName: 'Setpoint 1', writeValue: 1, buttonText: 'Write Value :1', cssClass: 'btn-success', projectAuthorization: 'irgendeinWert'"></wf-button>
        </div>
    </div>
</div>
