﻿<!--****************************************************************************************************************************************************************************************************************************************************
    Bühler+Scherler
--------------------------------------------------------------------------------------------------------------------------


--------------------------------------------------------------------------------------------------------------------------
ERSTELLT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0		R.Brunnschweiler	BS                  10.07.2017
--------------------------------------------------------------------------------------------------------------------------
GEÄNDERT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0		F.Sabljo        	BS                  14.02.17


********************************************************************************************************************************************************************************************************************************************************-->
<div class="container bs_content_container">
    <header>
        <h1 class="page-header bs-header-mittig">L16 Lüftung Verteilung 1 Hotelzimmer HA.SL01</h1>
        <!--BUILDING CONTROL-->
    </header>
    <div class="col-lg-12">
        <div class="bs-responsive bs-hotel-lueftungen-L16LueftungVerteilung01HotelzimmerHA_SL01 hidden-xs">
            <!--Seiten-Verlinkungen (Pfeile auf der Seite)-->
            <a style="position: absolute; left: 0px; top: 528px; text-decoration: none;" title="Abluft" class="bs-pfeil-verlinkung-abluft wf wf-arrow wf-w"></a>
            <a style="position: absolute; left: 0px; top: 602px; text-decoration: none;" title="Zuluft" class="bs-pfeil-verlinkung-zuluft wf wf-arrow"></a>
            <a style="position: absolute; left: 1816px; top: 602px; text-decoration: none;" title="Zuluft" class="bs-pfeil-verlinkung-zuluft wf wf-arrow"></a>
            <a style="position: absolute; left: 1816px; top: 573px; text-decoration: none;" title="Abluft" class="bs-pfeil-verlinkung-abluft wf wf-arrow wf-w"></a>

            <!-- Widgets -->
            <!--Klappen-->
            <div style="position:absolute; left: 98px; top: 535px;" id="K1" title="662Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
 	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_662y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 98px; top: 607px;" id="K2" title="661Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_661y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1010px; top: 560px;" id="K3" title="663Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '90',
    signalName: 'Station_43.Register.bsk.status_663y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1080px; top: 560px;" id="K4" title="664Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '90',
    signalName: 'Station_43.Register.bsk.status_664y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 651px; top: 496px;" id="K5" title="665Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '90',
    signalName: 'Station_43.Register.bsk.status_665y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 772px; top: 496px;" id="K6" title="666Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '90',
    signalName: 'Station_43.Register.bsk.status_666y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 548px; top: 432px;" id="K7" title="667Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_667y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1226px; top: 470px;" id="K8" title="668Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_668y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 651px; top: 355px;" id="K9" title="669Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '90',
    signalName: 'Station_43.Register.bsk.status_669y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 772px; top: 355px;" id="K10" title="670Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '90',
    signalName: 'Station_43.Register.bsk.status_670y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 548px; top: 290px;" id="K11" title="672Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_672y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1226px; top: 328px;" id="K12" title="673Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_673y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1126px; top: 328px;" id="K13" title="671Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_671y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 651px; top: 210px;" id="K14" title="674Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '90',
    signalName: 'Station_43.Register.bsk.status_674y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 772px; top: 210px;" id="K15" title="675Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '90',
    signalName: 'Station_43.Register.bsk.status_675y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 548px; top: 148px;" id="K16" title="677Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_677y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1226px; top: 186px;" id="K17" title="678Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_678y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1126px; top: 186px;" id="K18" title="676Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_676y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 548px; top: 3px;" id="K19" title="682Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_682y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 651px; top: 69px;" id="K20" title="679Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '90',
    signalName: 'Station_43.Register.bsk.status_679y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 772px; top: 69px;" id="K21" title="680Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '90',
    signalName: 'Station_43.Register.bsk.status_680y3',
    position: 'Buffer 3'
}"></div>


            <div style="position:absolute; left: 1226px; top: 42px;" id="K22" title="683Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_683y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1126px; top: 42px;" id="K23" title="681Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_681y3',
    position: 'Buffer 3'
}"></div>

            <!-- Text -->
            <p style="position: absolute; left: 71px; top: 502px;" class="bs-beschriftung-small-verteilung">Keller - Parking</p>
            <p style="position: absolute; left: 395px; top: 463px;" class="bs-beschriftung-small-verteilung">2.OG</p>
            <p style="position: absolute; left: 395px; top: 319px;" class="bs-beschriftung-small-verteilung">3.OG</p>
            <p style="position: absolute; left: 395px; top: 176px;" class="bs-beschriftung-small-verteilung">4.OG</p>
            <p style="position: absolute; left: 395px; top: 33px;" class="bs-beschriftung-small-verteilung">5.OG</p>
            <p style="position: absolute; left: 1325px; top: 463px;" class="bs-beschriftung-small-verteilung">2.OG</p>
            <p style="position: absolute; left: 1325px; top: 319px;" class="bs-beschriftung-small-verteilung">3.OG</p>
            <p style="position: absolute; left: 1325px; top: 176px;" class="bs-beschriftung-small-verteilung">4.OG</p>
            <p style="position: absolute; left: 1325px; top: 33px;" class="bs-beschriftung-small-verteilung">5.OG</p>
            <p style="position: absolute; left: 862px; top: -12px;" class="bs-beschriftung-small-verteilung">Steigzone 03</p>
            
            <!--  -->
           
            <!-- Workaround um den Bug in der Benutzeranmeldung zu korrigieren -->
            <wf-button style="visibility: hidden;" params="signalName: 'Setpoint 1', writeValue: 1, buttonText: 'Write Value :1', cssClass: 'btn-success', projectAuthorization: 'irgendeinWert'"></wf-button>
        </div>
    </div>
</div>
