﻿<!--****************************************************************************************************************************************************************************************************************************************************
    Bühler+Scherler
--------------------------------------------------------------------------------------------------------------------------


--------------------------------------------------------------------------------------------------------------------------
ERSTELLT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0		R.Brunnschweiler	BS                  10.07.2017
--------------------------------------------------------------------------------------------------------------------------
GEÄNDERT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0       F.Sabljo            BS                  14.02.18


********************************************************************************************************************************************************************************************************************************************************-->
<div class="container bs_content_container">
    <header>
        <h1 class="page-header bs-header-mittig">L16 Lüftung Zentrale Hotelzimmer HA.SL01</h1>
        <!--BUILDING CONTROL-->
    </header>
    <div class="col-lg-12">
        <div class="bs-responsive bs-hotel-lueftungen-L16LueftungZentraleHotelzimmerHA_SL01 hidden-xs">
            <!--Seiten-Verlinkungen (Pfeile auf der Seite)-->
            <a style="position: absolute; left: 0px; top: 237px; text-decoration: none;" title="Aussenluft" class="bs-pfeil-verlinkung-aussenluft wf wf-arrow"></a>
            <a style="position: absolute; left: 0px; top: 424px; text-decoration: none;" title="Fortluft" class="bs-pfeil-verlinkung-fortluft wf wf-arrow wf-w"></a>
            <a style="position: absolute; left: 1816px; top: 425px; text-decoration: none;" title="Zuluft" class="bs-pfeil-verlinkung-zuluft wf wf-arrow"></a>
            <a style="position: absolute; left: 1816px; top: 237px; text-decoration: none;" title="Abluft" class="bs-pfeil-verlinkung-abluft wf wf-arrow wf-w"></a>
            <!-- Widget -->
            <!-- Sollwert -->
            <div style="position:absolute; left: 1637.5px; top: 351px;" id="S1" title="Sollwert ZUL Temperatur 618B1" data-bind="bsAusgabefeld: {
              signalName:'Station_43.Register.sw_temp_zul_L16',
              typ: 'berechnetersollwert',
              einheit: '°C'
            }">
            </div>

            <div style="position:absolute; left: 1027.51px; top: 325.229px;" id="S2" title="Sollwert 652Y1" data-bind="bsAusgabefeld: {
              signalName:'Station_43.Register.AO306_sw_652y1',
              typ: 'berechnetersollwert',
              einheit: '%'
            }">
            </div>

            <!--Anlagenschalter, Sollwertfenster, Zeitschaltuhren, etc...-->
            <div style="position:absolute; left:1685px; top:635px" id="KLI02" title="L16 Lüftung Hotelzimmer" data-bind="bsAnlageschalter_lfc: {
	dialogTitle: 'L16 Lüftung Hotelzimmer ',
	signalName: 'Station_43',
    stromPfad: 'lueftung_L16'
	}">
            </div>
            <div style="position:absolute; left:1730px; top:635px" id="KLI02_I110sollwertfenster" title="Sollwerte L16 Lüftung Hotelzimmer" data-bind="bsSollwertFenster: {
	dialogTitle: 'Sollwerte L16 Lüftung Hotelzimmer',
	authorisierung: 'Administration',
	signals: [
		{ label: 'Zulufttemperatur [°C]', signalname: 'Station_43.Register.sw_temp_618b1', untergrenze: '', obergrenze: '' },
        { label: 'ZUL Ventilator 615U0 Drehzahl Nacht', signalname: 'Station_43.Register.L16_SW_615U0_Nacht', untergrenze: '', obergrenze: '' },
        { label: 'ZUL Ventilator 615U0 Drehzahl Tag', signalname: 'Station_43.Register.L16_SW_615U0_Tag', untergrenze: '', obergrenze: '' },
        { label: 'FOL Ventilator 645U0 Drehzahl Nacht', signalname: 'Station_43.Register.L16_SW_645U0_Nacht', untergrenze: '', obergrenze: '' },
        { label: 'FOL Ventilator 645U0 Drehzahl Tag', signalname: 'Station_43.Register.L16_SW_645U0_Tag', untergrenze: '', obergrenze: '' }
		]}">
            </div>
            <div style="position:absolute; left:1775px; top:635px" id="KLI02_I201schaltuhr" title="Schaltuhr Lüftungsanlage Hotelzimmer" data-bind="bsSchaltuhr_lfc: {
	signalName: 'Station_43',
    uhr: 'su_L16',
	dialogTitle: 'Schaltuhr Lüftungsanlage Hotelzimmer' }">
            </div>
            <!--LE-->
            <div style="position:absolute; left: 700px; top: 433px;" id="V1" title="645M1" data-bind="bsMotorStufen_lfc: {
    dialogTitle: 'Ventilator 645M1',
    signalName: 'Station_43',
    stromPfad: '645m1',
	motorAusrichtung: 'links',
	motortyp: 'ventilator',
	handLinks: '20',
	handOben: '10',
	stufe: '0',
	}">
            </div>

            <div style="position:absolute; left: 1343.5px; top: 433px;" id="V2" title="615M1" data-bind="bsMotorStufen_lfc: {
    dialogTitle: 'Ventilator 615M1',
    signalName: 'Station_43',
    stromPfad: '615m1',
	motorAusrichtung: 'rechts',
	motortyp: 'ventilator',
	handLinks: '20',
	handOben: '10',
	stufe: '0',
	}">
            </div>

            <div style="position:absolute; left: 1094px; top: 499.5px;" id="PU1" title="625M1" data-bind="bsMotorStufen_lfc: {
    dialogTitle: 'Pumpe 625M1',
    signalName: 'Station_43',
    stromPfad: '625m1',
	motorAusrichtung: 'oben',
	motortyp: 'pumpe',
	handLinks: '20',
	handOben: '10',
	stufe: '0',
	}">
            </div>

            <!--Ventil-->
            <div style="position:absolute; left: 1091.5px; top: 544px" id="VT1" title="626Y1" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '42',
	anzeigefeldOben: '10',
	winkel: '180',
	signalName: 'Station_43.Register.AO304_sw_626y1'}">
            </div>

            <div style="position:absolute; left: 1254px; top: 544px" id="VT2" title="636Y1" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '42',
	anzeigefeldOben: '10',
	winkel: '180',
	signalName: 'Station_43.Register.AO305_sw_636y1'}">
            </div>

            <!--Klappen-->
            <div style="position:absolute; left: 414px; top: 242px;" id="K1" title="612Y1" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
	dialogtitle: 'Station_43.Register.status_612y1',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.status_612y1',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 414px; top: 430px;" id="K2" title="612Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
	dialogtitle: 'KLI02_Y550 (O127_GA01_S001:177Y2) UML Klappe',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.status_612y1',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 967px; top: 317px;" id="K3" title="KLI02_Y550 (O127_GA01_S001:177Y2)" data-bind="bsKlappe_lfc_without_state: {
	symbol:'bs bs-klappe-fahrend',
	dialogtitle: 'KLI02_Y550 (O127_GA01_S001:177Y2) UML Klappe',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '315',
    signalName: 'Buffer 3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 927px; top: 273.5px;" id="K4" title="KLI02_Y550 (O127_GA01_S001:177Y2)" data-bind="bsKlappe_lfc_without_state: {
	symbol:'bs bs-klappe-fahrend',
	dialogtitle: 'KLI02_Y550 (O127_GA01_S001:177Y2) UML Klappe',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '315',
    signalName: 'Buffer 3',
    position: 'Buffer 3'
}"></div>

            <!--TPHSensor-->
            <div style="position:absolute; left: 180px; top: 212px;" id="TP1" title="611B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '0',
	sensortyp: 'T',
	signalName: 'Station_43.Register.AI752_temp_611b1',
	handLinks: '12',
	handOben: '2',
	}">
            </div>

            <div style="position:absolute; left: 180px; top: 401px;" id="TP2" title="648B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '0',
	sensortyp: 'T',
	signalName: 'Station_43.Register.AI755_temp_648b1',
	handLinks: '12',
	handOben: '2',
	}">
            </div>

            <div style="position:absolute; left: 1660px; top: 212px;" id="TP3" title="341B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '0',
	sensortyp: 'T',
	signalName: 'Station_43.Register.AI754_temp_641b1',
	handLinks: '12',
	handOben: '2',
	}">
            </div>

            <div style="position:absolute; left: 1660px; top: 401px;" id="TP4" title="618B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '0',
	sensortyp: 'T',
	signalName: 'Station_43.Register.AI753_temp_618b1',
	handLinks: '12',
	handOben: '2',
	}">
            </div>

            <div style="position:absolute; left: 1300px; top: 599px;" id="TP5" title="635B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '90',
	sensortyp: 'T',
	signalName: 'Station_43.Register.AI756_temp_635b1',
	handLinks: '12',
	handOben: '2',
   	anzeigefeldLinks: '26',
	anzeigefeldOben: '0',
	}">
            </div>

            <!--Wächter-->
            <div style="position:absolute; left: 704px; top: 189px" id="W1" title="613B1" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Station_43.Flag.al_613b1_filter',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left: 704px; top: 377px" id="W2" title="647B2" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Station_43.Flag.al_647b2',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left: 1346px; top: 189px" id="W3" title="643B1" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Station_43.Flag.al_643b1_filter',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left: 1346px; top: 377px" id="W4" title="617B2" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Station_43.Flag.al_617b2',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left: 1161.5px; top: 401px" id="W5" title="614B1" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '35',
     winkel: '0',
     sensortyp: 'F',
     signalName: 'Station_43.Flag.al_614b1_frost',
     einheit: 'ohne',
     }">
            </div>


            <!-- Text -->
            <p style="position: absolute; left: 871px; top: 341px;" class="bs-beschriftung-medium">WRG</p>
            <p style="position: absolute; left: 1094px; top: 325px;" class="bs-beschriftung-small-verteilung">Bypass</p>
           
            <!-- Workaround um den Bug in der Benutzeranmeldung zu korrigieren -->
            <wf-button style="visibility: hidden;" params="signalName: 'Setpoint 1', writeValue: 1, buttonText: 'Write Value :1', cssClass: 'btn-success', projectAuthorization: 'irgendeinWert'"></wf-button>
        </div>
    </div>
</div>
