﻿<!--****************************************************************************************************************************************************************************************************************************************************
    Bühler+Scherler
--------------------------------------------------------------------------------------------------------------------------


--------------------------------------------------------------------------------------------------------------------------
ERSTELLT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0		R.Brunnschweiler	BS                  10.07.2017
--------------------------------------------------------------------------------------------------------------------------
GEÄNDERT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0       F.Sabljo            BS                  13.02.2018


********************************************************************************************************************************************************************************************************************************************************-->
<div class="container bs_content_container">
    <header>
        <h1 class="page-header bs-header-mittig">L14 Lüftung Verteilung 2 Konferenz HA.SL01</h1>
        <!--BUILDING CONTROL-->
    </header>
    <div class="col-lg-12">
        <div class="bs-responsive bs-hotel-lueftungen-L14LueftungVerteilung2KonferenzHA_SL01 hidden-xs">
            <!--Seiten-Verlinkungen (Pfeile auf der Seite)-->
            <a style="position: absolute; left: 0px; top: 491px; text-decoration: none;" title="Abluft" class="bs-pfeil-verlinkung-abluft wf wf-arrow wf-w"></a>
            <a style="position: absolute; left: 0px; top: 544px; text-decoration: none;" title="Abluft" class="bs-pfeil-verlinkung-abluft wf wf-arrow wf-w"></a>
            <a style="position: absolute; left: 0px; top: 598px; text-decoration: none;" title="Zuluft" class="bs-pfeil-verlinkung-zuluft wf wf-arrow"></a>
            <a style="position: absolute; left: 1816px; top: 598px; text-decoration: none;" title="Zuluft" class="bs-pfeil-verlinkung-zuluft wf wf-arrow"></a>
            <a style="position: absolute; left: 1816px; top: 544px; text-decoration: none;" title="Abluft" class="bs-pfeil-verlinkung-abluft wf wf-arrow wf-w"></a>

            <!-- Widgets -->
            <div style="position:absolute; left: 1474px; top: 499px;" title="Trennwand Bankett 1/2" data-bind="bsZustandsanzeige_lfc: {
                 authorisierung: 'Administration' ,
                 modulName: 'Station_42.Flag.DI226_rm_475s1' ,
                 hintergrundTransparent: 'true' ,
                 zustaende: [
                { vergleichswert: '0', farbe: 'color-ein',  text: 'Trennwand Konferenz 1/2: offen'},
                { vergleichswert: '1', farbe: 'color-aus',  text: 'Trennwand Konferenz 1/2: geschlossen'}
                ]
                }">
            </div>
            <!-- Sollwert -->
            <div style="position:absolute; left: 1262px; top: 62px;" id="S1" title="VAV 427Y1" data-bind="bsAusgabefeld: {
              signalName:'Station_42.Register.AO080_sw_427y1',
              typ: 'berechnetersollwert',
               stiellaenge: '27',
              einheit: '%'
            }">
            </div>

            <div style="position:absolute; left: 1262px; top: 157px;" id="S2" title="VAV 428Y1" data-bind="bsAusgabefeld: {
              signalName:'Station_42.Register.AO081_sw_428y1',
              typ: 'berechnetersollwert',
              einheit: '%'
            }">
            </div>

            <div style="position:absolute; left: 1262px; top: 206px;" id="S3" title="VAV 430Y1" data-bind="bsAusgabefeld: {
              signalName:'Station_42.Register.AO288_sw_430y1',
              typ: 'berechnetersollwert',
              einheit: '%'
            }">
            </div>

            <div style="position:absolute; left: 1262px; top: 253px;" id="S4" title="VAV 431Y1" data-bind="bsAusgabefeld: {
              signalName:'Station_42.Register.AO289_sw_431y1',
              typ: 'berechnetersollwert',
              einheit: '%'
            }">
            </div>

            <div style="position:absolute; left: 1262px; top: 301px;" id="S5" title="VAV 432Y1" data-bind="bsAusgabefeld: {
              signalName:'Station_42.Register.AO290_sw_432y1',
              typ: 'berechnetersollwert',
              einheit: '%'
            }">
            </div>

            <div style="position:absolute; left: 1262px; top: 442px;" id="S6" title="VAV 429Y1" data-bind="bsAusgabefeld: {
              signalName:'Station_42.Register.AO082_sw_429y1',
              typ: 'berechnetersollwert',
              einheit: '%'
            }">
            </div>

            <div style="position:absolute; left: 458px; top: 156px;" id="S7" title="VAV 423Y1" data-bind="bsAusgabefeld: {
              signalName:'Station_42.Register.AO050_sw_423y1',
              typ: 'berechnetersollwert',
              einheit: '%'
            }">
            </div>

            <div style="position:absolute; left: 458px; top: 251px;" id="S8" title="VAV 425Y1" data-bind="bsAusgabefeld: {
              signalName:'Station_42.Register.AO065_sw_425y1',
              typ: 'berechnetersollwert',
              einheit: '%'
            }">
            </div>

            <div style="position:absolute; left: 265px; top: 0px;" id="S9" title="Sollwert Raumtemp Konferenz" data-bind="bsAusgabefeld: {
              signalName:'Station_42.Register.sw_raum_L14',
              typ: 'berechnetersollwert',
              einheit: '°C'
            }">
            </div>

            <!--Anlagenschalter, Sollwertfenster, Zeitschaltuhren, etc...-->
            <div style="position:absolute; left:1730px; top:635px" id="KLI02_I110sollwertfenster" title="Sollwertschiebung Konferenz L14" data-bind="bsSollwertFenster: {
	dialogTitle: 'Sollwertschiebung Konferenz L14',
	authorisierung: 'Administration',
	signals: [
		{ label: 'Aussentemperatur [ºC]', signalname: 'Station_42.Register.sg_raum_L14_02', untergrenze: '', obergrenze: '' },
		{ label: 'Aussentemperatur 2 [ºC]', signalname: 'Station_42.Register.sg_raum_L14_04', untergrenze: '', obergrenze: '' },
    	{ label: 'Sollwert [ºC]', signalname: 'Station_42.Register.sg_raum_L14_01', untergrenze: '', obergrenze: '' },
		{ label: 'Sollwert 2 [ºC]', signalname: 'Station_42.Register.sg_raum_L14_03', untergrenze: '', obergrenze: '' },
        { label: 'Maximaler Sollwert [ºC]', signalname: 'Station_42.Register.sg_raum_L14_05', untergrenze: '', obergrenze: '' },
        { label: 'Tot-Zone für / [K]', signalname: 'Station_42.Register.sg_raum_L14_06', untergrenze: '', obergrenze: '' }
		]}">
            </div>

            <div style="position:absolute; left:1775px; top:635px" id="KLI02_I110sollwertfenster" title="Offset +/- 5K" data-bind="bsSollwertFenster: {
	dialogTitle: 'Offset +/- 5K',
	authorisierung: 'Administration',
	signals: [
		{ label: 'RT Büro [K]', signalname: 'Station_42.Register.rt_buero', untergrenze: '', obergrenze: '' },
		{ label: 'RT Möbellager [K]', signalname: 'Station_42.Register.rt_moebellager', untergrenze: '', obergrenze: '' },
		{ label: 'RT Konferenz Empfang  (Korridor Nord) [K]', signalname: 'Station_42.Register.rt_konferenzempfang', untergrenze: '', obergrenze: '' },
		{ label: 'RT Vorplatz Empfang (Korridor Ost) [K]', signalname: 'Station_42.Register.rt_vorplatz', untergrenze: '', obergrenze: '' },
		{ label: 'RT Konferenz Teil 1 (Wasser 2) [K]', signalname: 'Station_42.Register.rt_konferenz_1', untergrenze: '', obergrenze: '' },
        { label: 'RT Konferenz Teil 2 (Wasser 1) [K]', signalname: 'Station_42.Register.rt_konferenz_2', untergrenze: '', obergrenze: '' }
		]}">
            </div>

            <div style="position:absolute; left: 1346px; top: 436px;" title="Sollwertschiebung VAV 429Y1/4 Konferenz Teil 1" data-bind="bsSollwertFenster: {
	dialogTitle: 'Sollwertschiebung VAV 429Y1/4 Konferenz Teil 1',
	authorisierung: 'Administration',
	signals: [
		{ label: 'VAV Sollwert1 (minimum) [%]', signalname: 'Station_42.Register.w_vav_429y1_01', untergrenze: '', obergrenze: '' },
		{ label: 'VAV Bedarf 1 nach Lq [%]', signalname: 'Station_42.Register.w_vav_429y1_02', untergrenze: '', obergrenze: '' },
		{ label: 'VAV Sollwert 2 [%]', signalname: 'Station_42.Register.w_vav_429y1_03', untergrenze: '', obergrenze: '' },
		{ label: 'VAV Bedarf 2 nach Lq [%]', signalname: 'Station_42.Register.w_vav_429y1_04', untergrenze: '', obergrenze: '' },
		{ label: 'Maximaler Sollwert [%]', signalname: 'Station_42.Register.w_vav_429y1_05', untergrenze: '', obergrenze: '' },
        { label: 'Tot-Zone für / [%]', signalname: 'Station_42.Register.w_vav_429y1_06', untergrenze: '', obergrenze: '' }
		]}">
            </div>

            <div style="position:absolute; left: 1346px; top: 271px;" title="Sollwertschiebung VAV 430Y1 / 431Y1 / 432Y1 Konferenz Teil 2" data-bind="bsSollwertFenster: {
	dialogTitle: 'Sollwertschiebung VAV 430Y1 / 431Y1 / 432Y1 Konferenz Teil 2',
	authorisierung: 'Administration',
	signals: [
		{ label: 'VAV Sollwert1 (minimum) [%]', signalname: 'Station_42.Register.w_vav_430y1_01', untergrenze: '', obergrenze: '' },
		{ label: 'VAV Bedarf 1 nach Lq [%]', signalname: 'Station_42.Register.w_vav_430y1_02', untergrenze: '', obergrenze: '' },
		{ label: 'VAV Sollwert 2 [%]', signalname: 'Station_42.Register.w_vav_430y1_03', untergrenze: '', obergrenze: '' },
		{ label: 'VAV Bedarf 2 nach Lq [%]', signalname: 'Station_42.Register.w_vav_430y1_04', untergrenze: '', obergrenze: '' },
		{ label: 'Maximaler Sollwert [%]', signalname: 'Station_42.Register.w_vav_430y1_05', untergrenze: '', obergrenze: '' },
        { label: 'Tot-Zone für / [%]', signalname: 'Station_42.Register.w_vav_430y1_06', untergrenze: '', obergrenze: '' }
		]}">
            </div>

            <div style="position:absolute; left: 1346px; top: 151px;" title="Sollwertschiebung VAV 428Y1/4 Vorplatz Empfang" data-bind="bsSollwertFenster: {
	dialogTitle: 'Sollwertschiebung VAV 428Y1/4 Vorplatz Empfang',
	authorisierung: 'Administration',
	signals: [
		{ label: 'VAV Sollwert1 (minimum) [%]', signalname: 'Station_42.Register.w_vav_428y1_01', untergrenze: '', obergrenze: '' },
		{ label: 'VAV Bedarf 1 nach Lq [%]', signalname: 'Station_42.Register.w_vav_428y1_02', untergrenze: '', obergrenze: '' },
		{ label: 'VAV Sollwert 2 [%]', signalname: 'Station_42.Register.w_vav_428y1_03', untergrenze: '', obergrenze: '' },
		{ label: 'VAV Bedarf 2 nach Lq [%]', signalname: 'Station_42.Register.w_vav_428y1_04', untergrenze: '', obergrenze: '' },
		{ label: 'Maximaler Sollwert [%]', signalname: 'Station_42.Register.w_vav_428y1_05', untergrenze: '', obergrenze: '' },
        { label: 'Tot-Zone für / [%]', signalname: 'Station_42.Register.w_vav_428y1_06', untergrenze: '', obergrenze: '' }
		]}">
            </div>

            <div style="position:absolute; left: 1346px; top: 56px;" title="Sollwertschiebung VAV 427Y1/4 Konferenzempfang" data-bind="bsSollwertFenster: {
	dialogTitle: 'Sollwertschiebung VAV 427Y1/4 Konferenzempfang',
	authorisierung: 'Administration',
	signals: [
		{ label: 'VAV Sollwert1 (minimum) [%]', signalname: 'Station_42.Register.w_vav_427y1_01', untergrenze: '', obergrenze: '' },
		{ label: 'VAV Bedarf 1 nach Lq [%]', signalname: 'Station_42.Register.w_vav_427y1_02', untergrenze: '', obergrenze: '' },
		{ label: 'VAV Sollwert 2 [%]', signalname: 'Station_42.Register.w_vav_427y1_03', untergrenze: '', obergrenze: '' },
		{ label: 'VAV Bedarf 2 nach Lq [%]', signalname: 'Station_42.Register.w_vav_427y1_04', untergrenze: '', obergrenze: '' },
		{ label: 'Maximaler Sollwert [%]', signalname: 'Station_42.Register.w_vav_427y1_05', untergrenze: '', obergrenze: '' },
        { label: 'Tot-Zone für / [%]', signalname: 'Station_42.Register.w_vav_427y1_06', untergrenze: '', obergrenze: '' }
		]}">
            </div>

            <!--Ventil-->
            <div style="position:absolute; left: 1485px; top: 434px" id="VT1" title="Heizventil 461Y1" data-bind="bsVentil_lfc:{
    dialogTitle: 'Heizventil 461Y1',
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-12',
	anzeigefeldOben: '-25',
	winkel: '180',
	signalName: 'Station_42.Register.sw_seq_461y2'}">
            </div>

            <div style="position:absolute; left: 1555px; top: 434px" id="VT2" title="Kühlventil 461Y5" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-12',
	anzeigefeldOben: '-25',
	winkel: '180',
	signalName: 'Station_42.Register.sw_seq_461y6'}">
            </div>

            <div style="position:absolute; left: 1485px; top: 270px" id="VT3" title="Heizventil 460Y1" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-12',
	anzeigefeldOben: '-25',
	winkel: '180',
	signalName: 'Station_42.Register.sw_seq_460y2'}">
            </div>

            <div style="position:absolute; left: 1555px; top: 270px" id="VT4" title="Kühlventil 460Y5" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-12',
	anzeigefeldOben: '-25',
	winkel: '180',
	signalName: 'Station_42.Register.sw_seq_460y6'}">
            </div>

            <div style="position:absolute; left: 1485px; top: 149px" id="VT5" title="Heizventil 459Y1" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-12',
	anzeigefeldOben: '-25',
	winkel: '180',
	signalName: 'Station_42.Register.sw_seq_459y2'}">
            </div>

            <div style="position:absolute; left: 1555px; top: 149px" id="V6" title="Kühlventil 459Y5" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-12',
	anzeigefeldOben: '-25',
	winkel: '180',
	signalName: 'Station_42.Register.seq_459y6'}">
            </div>

            <div style="position:absolute; left: 1485px; top: 55px" id="VT7" title="Heizventil 458Y1" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-12',
	anzeigefeldOben: '-25',
	winkel: '180',
	signalName: 'Station_42.Register.sw_seq_458y2'}">
            </div>

            <div style="position:absolute; left: 1555px; top: 55px" id="VT8" title="Kühlventil 458Y5" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-12',
	anzeigefeldOben: '-25',
	winkel: '180',
	signalName: 'Station_42.Register.sw_seq_458y6'}">
            </div>

            <div style="position:absolute; left: 634px; top: 148px" id="VT9" title="Heizventil 455Y2" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-12',
	anzeigefeldOben: '-25',
	winkel: '180',
	signalName: 'Station_42.Register.sw_seq_455y2'}">
            </div>

            <!--<div style="position:absolute; left: 634px; top: 242px" id="VT10" title="456Y1" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-12',
	anzeigefeldOben: '-25',
	winkel: '180',
	signalName: ''}">
            </div>-->

            <!--Klappen-->
            <div style="position:absolute; left: 311px; top: 427px;" id="K1" title="366Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '90',
    signalName: 'Station_42.Register.status_366y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 377px; top: 427px;" id="K2" title="367Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '90',
    signalName: 'Station_42.Register.status_367y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1125px; top: 490px;" id="K3" title="368Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '90',
    signalName: 'Station_42.Register.status_368y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1192px; top: 490px;" id="K4" title="369Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '90',
    signalName: 'Station_42.Register.status_369y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1210px; top: 76px;" id="K5" title="373Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_42.Register.status_373y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1210px; top: 29px;" id="K6" title="372Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_42.Register.status_372y3',
    position: 'Buffer 3'
}"></div>

            <!--TPHSensor-->
            <div style="position:absolute; left:1630px; top: 270px;" id="TP1" title="390B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '27',
	winkel: '0',
	sensortyp: 'T',
	signalName: 'Station_42.Register.AI486_temp_390b1',
	handLinks: '12',
	handOben: '2',
   	einheit: '°C',
	anzeigefeldLinks: '-18',
	anzeigefeldOben: '-25',
	}">
            </div>

            <div style="position:absolute; left:1630px; top: 149px;" id="TP2" title="389B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '27',
	winkel: '0',
	sensortyp: 'T',
	signalName: 'Station_42.Register.AI485_temp_389b1',
	handLinks: '12',
	handOben: '2',
   	einheit: '°C',
	anzeigefeldLinks: '-18',
	anzeigefeldOben: '-25',
	}">
            </div>

            <div style="position:absolute; left: 1630px; top: 434px;" id="TP3" title="391B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '27',
	winkel: '0',
	sensortyp: 'T',
	signalName: 'Station_42.Register.AI487_temp_391b1',
	handLinks: '12',
	handOben: '2',
   	einheit: '°C',
	anzeigefeldLinks: '-18',
	anzeigefeldOben: '-25',
	}">
            </div>

            <div style="position:absolute; left: 1630px; top: 55px;" id="TP4" title="388B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '27',
	winkel: '0',
	sensortyp: 'T',
	signalName: 'Station_42.Register.AI263_temp_388b1',
	handLinks: '12',
	handOben: '2',
   	einheit: '°C',
	anzeigefeldLinks: '-18',
	anzeigefeldOben: '-25',
	}">
            </div>

            <div style="position:absolute; left: 707px; top: 242px;" id="TP5" title="386B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '27',
	winkel: '0',
	sensortyp: 'T',
	signalName: 'Station_42.Register.AI261_temp_386b1',
	handLinks: '12',
	handOben: '2',
   	einheit: '°C',
	anzeigefeldLinks: '-19',
	anzeigefeldOben: '-25',
	}">
            </div>

            <div style="position:absolute; left: 707px; top: 148px;" id="TP6" title="385B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '27',
	winkel: '0',
	sensortyp: 'T',
	signalName: 'Station_42.Register.AI260_temp_385b1',
	handLinks: '12',
	handOben: '2',
   	einheit: '°C',
	anzeigefeldLinks: '-19',
	anzeigefeldOben: '-25',
	}">
            </div>

            <div style="position:absolute; left: 1357px; top: 10px;" id="TP7" title="Luftqualitätsfühler 403B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '25',
	winkel: '0',
	sensortyp: 'Q',
	signalName: 'Station_42.Register.co_konferenzempfang',
	handLinks: '12',
	handOben: '2',
   	einheit: 'ppm',
	anzeigefeldLinks: '22',
	anzeigefeldOben: '8',
	}">
            </div>

            <div style="position:absolute; left: 1357px; top: 104px;" id="TP8" title="Luftqualitätsfühler 404B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '25',
	winkel: '0',
	sensortyp: 'Q',
	signalName: 'Station_42.Register.co_vorplatz',
	handLinks: '12',
	handOben: '2',
   	einheit: 'ppm',
	anzeigefeldLinks: '22',
	anzeigefeldOben: '8',
	}">
            </div>

            <div style="position:absolute; left: 1357px; top: 199px;" id="TP9" title="Luftqualitätsfühler 405B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '25',
	winkel: '0',
	sensortyp: 'Q',
	signalName: 'Station_42.Register.co_konferenz_2',
	handLinks: '12',
	handOben: '2',
   	einheit: 'ppm',
	anzeigefeldLinks: '22',
	anzeigefeldOben: '8',
	}">
            </div>

            <div style="position:absolute; left: 1357px; top: 390px;" id="TP10" title="Luftqualitätsfühler 406B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '25',
	winkel: '0',
	sensortyp: 'Q',
	signalName: 'Station_42.Register.co_konferenz_1',
	handLinks: '12',
	handOben: '2',
   	einheit: 'ppm',
	anzeigefeldLinks: '22',
	anzeigefeldOben: '8',
	}">
            </div>

            <!--Wächter-->
            <!--<div style="position:absolute; left: 1321px; top: 40px;" id="W1" title="KLI02_F951 (O127_GA01_S001:160F2)" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Buffer 3',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left: 1321px; top: 88px;" id="W2" title="KLI02_F951 (O127_GA01_S001:160F2)" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Buffer 3',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left: 1321px; top: 134px;" id="W3" title="KLI02_F951 (O127_GA01_S001:160F2)" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Buffer 3',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left: 1321px; top: 182px;" id="W4" title="KLI02_F951 (O127_GA01_S001:160F2)" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Buffer 3',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left: 1321px; top: 229px;" id="W5" title="KLI02_F951 (O127_GA01_S001:160F2)" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Buffer 3',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left: 1321px; top: 278px;" id="W6" title="KLI02_F951 (O127_GA01_S001:160F2)" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Buffer 3',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left: 1321px; top: 326px;" id="W7" title="KLI02_F951 (O127_GA01_S001:160F2)" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Buffer 3',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left: 1321px; top: 419px;" id="W8" title="KLI02_F951 (O127_GA01_S001:160F2)" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Buffer 3',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left: 1321px; top: 468px;" id="W9" title="KLI02_F951 (O127_GA01_S001:160F2)" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Buffer 3',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left: 507px; top: 132px;" id="W10" title="KLI02_F951 (O127_GA01_S001:160F2)" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Buffer 3',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left: 507px; top: 181px;" id="W11" title="KLI02_F951 (O127_GA01_S001:160F2)" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Buffer 3',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left: 507px; top: 228px;" id="W12" title="KLI02_F951 (O127_GA01_S001:160F2)" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Buffer 3',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left: 507px; top: 276px;" id="W13" title="KLI02_F951 (O127_GA01_S001:160F2)" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Buffer 3',
     einheit: 'ohne',
     }">
            </div>-->

            <div style="position:absolute; left:1670px; top: 270px;" id="W14" title="390B5" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '28',
     winkel: '0',
     sensortyp: '  ',
     signalName: 'Station_42.Flag.DI242_rm_390b5',
     einheit: 'ohne'
     }">
            </div>

            <div style="position:absolute; left:1670px; top: 149px;" id="W15"title="389B5" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '28',
     winkel: '0',
     sensortyp: '  ',
     signalName: 'Station_42.Flag.DI241_rm_389b5',
     einheit: 'ohne'
     }">
            </div>

            <div style="position:absolute; left: 1670px; top: 434px;" id="W16" title="391B5" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '28',
     winkel: '0',
     sensortyp: '  ',
     signalName: 'Station_42.Flag.DI243_rm_391b5',
     einheit: 'ohne'
     }">
            </div>

            <div style="position:absolute; left: 1670px; top: 55px;" id="W17" title="388B5" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '28',
     winkel: '0',
     sensortyp: '  ',
     signalName: 'Station_42.Flag.DI240_rm_388b5',
     einheit: 'ohne'
     }">
            </div>

            <!-- Text -->
            <p style="position: absolute; left: 10px; top: 0px;" class="bs-beschriftung-small-verteilung">Sollwert Raumtemperatur Konferenz</p>
            <p style="position: absolute; left: 760px; top: 50px;" class="bs-beschriftung-small-verteilung">Material (Lager)</p>
            <p style="position: absolute; left: 760px; top: 128px;" class="bs-beschriftung-small-verteilung">Büro</p>
            <p style="position: absolute; left: 760px; top: 222px;" class="bs-beschriftung-small-verteilung">Möbellager (Lager)</p>
            <p style="position: absolute; left: 760px; top: 344px;" class="bs-beschriftung-small-verteilung">Putzraum</p>
            <p style="position: absolute; left: 1473px; top: 0px;" class="bs-beschriftung-small-verteilung">Konferenzempfang</p>
            <p style="position: absolute; left: 1473px; top: 99px;" class="bs-beschriftung-small-verteilung">Vorplatz Empfang</p>
            <p style="position: absolute; left: 1473px; top: 215px;" class="bs-beschriftung-small-verteilung">Konferenz Teil 2 (Wasser2)</p>
            <p style="position: absolute; left: 1473px; top: 379px;" class="bs-beschriftung-small-verteilung">Konferenz Teil 1 (Wasser1)</p>


            <!--  -->
           
            <!-- Workaround um den Bug in der Benutzeranmeldung zu korrigieren -->
            <wf-button style="visibility: hidden;" params="signalName: 'Setpoint 1', writeValue: 1, buttonText: 'Write Value :1', cssClass: 'btn-success', projectAuthorization: 'irgendeinWert'"></wf-button>
        </div>
    </div>
</div>
