﻿<!--****************************************************************************************************************************************************************************************************************************************************
    Bühler+Scherler
--------------------------------------------------------------------------------------------------------------------------


--------------------------------------------------------------------------------------------------------------------------
ERSTELLT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0		R.Brunnschweiler	BS                  10.07.2017
--------------------------------------------------------------------------------------------------------------------------
GEÄNDERT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0       F.Sabljo            BS                  13.02.2018


********************************************************************************************************************************************************************************************************************************************************-->
<div class="container bs_content_container">
    <header>
        <h1 class="page-header bs-header-mittig">L14 Lüftung Verteilung 3 Konferenz HA.SL01</h1>
        <!--BUILDING CONTROL-->
    </header>
    <div class="col-lg-12">
        <div class="bs-responsive bs-hotel-lueftungen-L14LueftungVerteilung3KonferenzHA_SL01 hidden-xs">
            <!--Seiten-Verlinkungen (Pfeile auf der Seite)-->
            <a style="position: absolute; left: 0px; top: 529px; text-decoration: none;" title="Abluft" class="bs-pfeil-verlinkung-abluft wf wf-arrow wf-w"></a>
            <a style="position: absolute; left: 0px; top: 598px; text-decoration: none;" title="Zuluft" class="bs-pfeil-verlinkung-zuluft wf wf-arrow"></a>
            <a style="position: absolute; left: 1816px; top: 598px; text-decoration: none;" title="Zuluft" class="bs-pfeil-verlinkung-zuluft wf wf-arrow"></a>
            <a style="position: absolute; left: 1816px; top: 573px; text-decoration: none;" title="Abluft" class="bs-pfeil-verlinkung-abluft wf wf-arrow wf-w"></a>

            <!-- Widgets -->
            <div style="position:absolute; left: 800px; top: 180px;" title="Trennwand Bankett 1/2" data-bind="bsZustandsanzeige_lfc: {
                 authorisierung: 'Administration' ,
                 modulName: 'Station_42.Flag.DI252_rm_472s1' ,
                 hintergrundTransparent: 'true' ,
                 zustaende: [
                { vergleichswert: '0', farbe: 'color-ein',  text: 'Trennwand Meeting 3/4: offen'},
                { vergleichswert: '1', farbe: 'color-aus',  text: 'Trennwand Meeting 3/4: geschlossen'}
                ]
                }">
            </div>
            <div style="position:absolute; left: 800px; top: 365px;" title="Trennwand Bankett 1/2" data-bind="bsZustandsanzeige_lfc: {
                 authorisierung: 'Administration' ,
                 modulName: 'Station_42.Flag.DI253_rm_473s1' ,
                 hintergrundTransparent: 'true' ,
                 zustaende: [
                { vergleichswert: '0', farbe: 'color-ein',  text: 'Trennwand Meeting 5/6: offen'},
                { vergleichswert: '1', farbe: 'color-aus',  text: 'Trennwand Meeting 5/6: geschlossen'}
                ]
                }">
            </div>
            <!-- Sollwert -->
            <div style="position:absolute; left: 1256px; top: 62px;" id="S1" title="VAV 434Y1" data-bind="bsAusgabefeld: {
              signalName:'Station_42.Register.AO305_sw_434y1',
              typ: 'berechnetersollwert',
              einheit: '%'
            }">
            </div>

            <div style="position:absolute; left: 1256px; top: 157px;" id="S2" title="VAV 435Y1" data-bind="bsAusgabefeld: {
              signalName:'Station_42.Register.AO306_sw_435y1',
              typ: 'berechnetersollwert',
              einheit: '%'
            }">
            </div>

            <div style="position:absolute; left: 1256px; top: 252px;" id="S3" title="VAV 436Y1" data-bind="bsAusgabefeld: {
              signalName:'Station_42.Register.AO320_sw_436y1',
              typ: 'berechnetersollwert',
              einheit: '%'
            }">
            </div>

            <div style="position:absolute; left: 1256px; top: 348px;" id="S4" title="VAV 437Y1" data-bind="bsAusgabefeld: {
              signalName:'Station_42.Register.AO321_sw_437y1',
              typ: 'berechnetersollwert',
              einheit: '%'
            }">
            </div>

            <div style="position:absolute; left: 1256px; top: 443px;" id="S5" title="VAV 438Y1" data-bind="bsAusgabefeld: {
              signalName:'Station_42.Register.AO322_sw_438y1',
              typ: 'berechnetersollwert',
              einheit: '%'
            }">
            </div>

            <div style="position:absolute; left: 1256px; top: 538px;" id="S6" title="VAV 439Y1" data-bind="bsAusgabefeld: {
              signalName:'Station_42.Register.AO336_sw_439y1',
              typ: 'berechnetersollwert',
              einheit: '%'
            }">
            </div>

            <div style="position:absolute; left: 454px; top: 62px;" id="S7" title="VAV 433Y1" data-bind="bsAusgabefeld: {
              signalName:'Station_42.Register.AO304_sw_433y1',
              typ: 'berechnetersollwert',
              einheit: '%'
            }">
            </div>
            
            <div style="position:absolute; left: 265px; top: 0px;" id="S8" title="Sollwert Raumtemp Konferenz" data-bind="bsAusgabefeld: {
              signalName:'Station_42.Register.sw_raum_L14',
              typ: 'berechnetersollwert',
              einheit: '°C'
            }">
            </div>

            <!--Anlagenschalter, Sollwertfenster, Zeitschaltuhren, etc...-->
            <div style="position:absolute; left:1730px; top:635px" id="KLI02_I110sollwertfenster" title="Sollwertschiebung Konferenz L14" data-bind="bsSollwertFenster: {
	dialogTitle: 'Sollwertschiebung Konferenz L14',
	authorisierung: 'Administration',
	signals: [
		{ label: 'Aussentemperatur [ºC]', signalname: 'Station_42.Register.sg_raum_L14_02', untergrenze: '', obergrenze: '' },
		{ label: 'Aussentemperatur 2 [ºC]', signalname: 'Station_42.Register.sg_raum_L14_04', untergrenze: '', obergrenze: '' },
    	{ label: 'Sollwert [ºC]', signalname: 'Station_42.Register.sg_raum_L14_01', untergrenze: '', obergrenze: '' },
		{ label: 'Sollwert 2 [ºC]', signalname: 'Station_42.Register.sg_raum_L14_03', untergrenze: '', obergrenze: '' },
        { label: 'Maximaler Sollwert [ºC]', signalname: 'Station_42.Register.sg_raum_L14_05', untergrenze: '', obergrenze: '' },
        { label: 'Tot-Zone für / [K]', signalname: 'Station_42.Register.sg_raum_L14_06', untergrenze: '', obergrenze: '' }
		]}">
            </div>
            <div style="position:absolute; left:1775px; top:635px" id="KLI02_I110sollwertfenster" title="Offset +/- 5K" data-bind="bsSollwertFenster: {
	dialogTitle: 'Offset +/- 5K',
	authorisierung: 'Administration',
	signals: [
		{ label: 'RT Meeting 1 (Nölli) [K]', signalname: 'Station_42.Register.rt_meeting_1', untergrenze: '', obergrenze: '' },
		{ label: 'RT Meeting 2 (Foyer 1) [K]', signalname: 'Station_42.Register.rt_meeting_2', untergrenze: '', obergrenze: '' },
		{ label: 'RT Meeting 3 (Männli) [K]', signalname: 'Station_42.Register.rt_meeting_3', untergrenze: '', obergrenze: '' },
		{ label: 'RT Meeting 4 (Luegisland) [K]', signalname: 'Station_42.Register.rt_meeting_4', untergrenze: '', obergrenze: '' },
		{ label: 'RT Meeting 5 (Wacht) [K]', signalname: 'Station_42.Register.rt_meeting_5', untergrenze: '', obergrenze: '' },
        { label: 'RT Meeting 6 (Zyt) [K]', signalname: 'Station_42.Register.rt_meeting_6', untergrenze: '', obergrenze: '' },
        { label: 'RT Meeting 7 (Schirmer) [K]', signalname: 'Station_42.Register.rt_meeting_7', untergrenze: '', obergrenze: '' }
		]}">
            </div>

            <div style="position:absolute; left: 1346px; top: 341px;" title="Sollwertschiebung VAV 437Y1/4 Meeting 5" data-bind="bsSollwertFenster: {
	dialogTitle: 'Sollwertschiebung VAV 437Y1/4 Meeting 5',
	authorisierung: 'Administration',
	signals: [
		{ label: 'VAV Sollwert1 (minimum) [%]', signalname: 'Station_42.Register.w_vav_437y1_01', untergrenze: '', obergrenze: '' },
		{ label: 'VAV Bedarf 1 nach Lq [%]', signalname: 'Station_42.Register.w_vav_437y1_02', untergrenze: '', obergrenze: '' },
		{ label: 'VAV Sollwert 2 [%]', signalname: 'Station_42.Register.w_vav_437y1_03', untergrenze: '', obergrenze: '' },
		{ label: 'VAV Bedarf 2 nach Lq [%]', signalname: 'Station_42.Register.w_vav_437y1_04', untergrenze: '', obergrenze: '' },
		{ label: 'Maximaler Sollwert [%]', signalname: 'Station_42.Register.w_vav_437y1_05', untergrenze: '', obergrenze: '' },
        { label: 'Tot-Zone für / [%]', signalname: 'Station_42.Register.w_vav_437y1_06', untergrenze: '', obergrenze: '' }
		]}">
            </div>

            <div style="position:absolute; left: 1346px; top: 246px;" title="Sollwertschiebung VAV 436Y1/4 Meeting 4" data-bind="bsSollwertFenster: {
	dialogTitle: 'Sollwertschiebung VAV 436Y1/4 Meeting 4',
	authorisierung: 'Administration',
	signals: [
		{ label: 'VAV Sollwert1 (minimum) [%]', signalname: 'Station_42.Register.w_vav_436y1_01', untergrenze: '', obergrenze: '' },
		{ label: 'VAV Bedarf 1 nach Lq [%]', signalname: 'Station_42.Register.w_vav_436y1_02', untergrenze: '', obergrenze: '' },
		{ label: 'VAV Sollwert 2 [%]', signalname: 'Station_42.Register.w_vav_436y1_03', untergrenze: '', obergrenze: '' },
		{ label: 'VAV Bedarf 2 nach Lq [%]', signalname: 'Station_42.Register.w_vav_436y1_04', untergrenze: '', obergrenze: '' },
		{ label: 'Maximaler Sollwert [%]', signalname: 'Station_42.Register.w_vav_436y1_05', untergrenze: '', obergrenze: '' },
        { label: 'Tot-Zone für / [%]', signalname: 'Station_42.Register.w_vav_436y1_06', untergrenze: '', obergrenze: '' }
		]}">
            </div>

            <div style="position:absolute; left: 1346px; top: 151px;" title="Sollwertschiebung VAV 438Y1/4 Meeting 3" data-bind="bsSollwertFenster: {
	dialogTitle: 'Sollwertschiebung VAV 438Y1/4 Meeting 3',
	authorisierung: 'Administration',
	signals: [
		{ label: 'VAV Sollwert1 (minimum) [%]', signalname: 'Station_42.Register.w_vav_435y1_01', untergrenze: '', obergrenze: '' },
		{ label: 'VAV Bedarf 1 nach Lq [%]', signalname: 'Station_42.Register.w_vav_435y1_02', untergrenze: '', obergrenze: '' },
		{ label: 'VAV Sollwert 2 [%]', signalname: 'Station_42.Register.w_vav_435y1_03', untergrenze: '', obergrenze: '' },
		{ label: 'VAV Bedarf 2 nach Lq [%]', signalname: 'Station_42.Register.w_vav_435y1_04', untergrenze: '', obergrenze: '' },
		{ label: 'Maximaler Sollwert [%]', signalname: 'Station_42.Register.w_vav_435y1_05', untergrenze: '', obergrenze: '' },
        { label: 'Tot-Zone für / [%]', signalname: 'Station_42.Register.w_vav_435y1_06', untergrenze: '', obergrenze: '' }
		]}">
            </div>

            <div style="position:absolute; left: 1346px; top: 56px;" title="Sollwertschiebung VAV 434Y1/4 Meeting 2" data-bind="bsSollwertFenster: {
	dialogTitle: 'Sollwertschiebung VAV 434Y1/4 Meeting 2',
	authorisierung: 'Administration',
	signals: [
		{ label: 'VAV Sollwert1 (minimum) [%]', signalname: 'Station_42.Register.w_vav_434y1_01', untergrenze: '', obergrenze: '' },
		{ label: 'VAV Bedarf 1 nach Lq [%]', signalname: 'Station_42.Register.w_vav_434y1_02', untergrenze: '', obergrenze: '' },
		{ label: 'VAV Sollwert 2 [%]', signalname: 'Station_42.Register.w_vav_434y1_03', untergrenze: '', obergrenze: '' },
		{ label: 'VAV Bedarf 2 nach Lq [%]', signalname: 'Station_42.Register.w_vav_434y1_04', untergrenze: '', obergrenze: '' },
		{ label: 'Maximaler Sollwert [%]', signalname: 'Station_42.Register.w_vav_434y1_05', untergrenze: '', obergrenze: '' },
        { label: 'Tot-Zone für / [%]', signalname: 'Station_42.Register.w_vav_434y1_06', untergrenze: '', obergrenze: '' }
		]}">
            </div>

            <div style="position:absolute; left: 1346px; top: 436px;" title="Sollwertschiebung VAV 438Y1/4 Meeting 6" data-bind="bsSollwertFenster: {
	dialogTitle: 'Sollwertschiebung VAV 438Y1/4 Meeting 6',
	authorisierung: 'Administration',
	signals: [
		{ label: 'VAV Sollwert1 (minimum) [%]', signalname: 'Station_42.Register.w_vav_438y1_01', untergrenze: '', obergrenze: '' },
		{ label: 'VAV Bedarf 1 nach Lq [%]', signalname: 'Station_42.Register.w_vav_438y1_02', untergrenze: '', obergrenze: '' },
		{ label: 'VAV Sollwert 2 [%]', signalname: 'Station_42.Register.w_vav_438y1_03', untergrenze: '', obergrenze: '' },
		{ label: 'VAV Bedarf 2 nach Lq [%]', signalname: 'Station_42.Register.w_vav_438y1_04', untergrenze: '', obergrenze: '' },
		{ label: 'Maximaler Sollwert [%]', signalname: 'Station_42.Register.w_vav_438y1_05', untergrenze: '', obergrenze: '' },
        { label: 'Tot-Zone für / [%]', signalname: 'Station_42.Register.w_vav_438y1_06', untergrenze: '', obergrenze: '' }
		]}">
            </div>

            <div style="position:absolute; left: 1346px; top: 531px;" title="Sollwertschiebung VAV 439Y1/4 Meeting 7" data-bind="bsSollwertFenster: {
	dialogTitle: 'Sollwertschiebung VAV 439Y1/4 Meeting 7',
	authorisierung: 'Administration',
	signals: [
		{ label: 'VAV Sollwert1 (minimum) [%]', signalname: 'Station_42.Register.w_vav_439y1_01', untergrenze: '', obergrenze: '' },
		{ label: 'VAV Bedarf 1 nach Lq [%]', signalname: 'Station_42.Register.w_vav_439y1_02', untergrenze: '', obergrenze: '' },
		{ label: 'VAV Sollwert 2 [%]', signalname: 'Station_42.Register.w_vav_439y1_03', untergrenze: '', obergrenze: '' },
		{ label: 'VAV Bedarf 2 nach Lq [%]', signalname: 'Station_42.Register.w_vav_439y1_04', untergrenze: '', obergrenze: '' },
		{ label: 'Maximaler Sollwert [%]', signalname: 'Station_42.Register.w_vav_439y1_05', untergrenze: '', obergrenze: '' },
        { label: 'Tot-Zone für / [%]', signalname: 'Station_42.Register.w_vav_439y1_06', untergrenze: '', obergrenze: '' }
		]}">
            </div>

            <div style="position:absolute; left: 532px; top: 55px;" title="Sollwertschiebung VAV 433Y1/4 Meeting 1" data-bind="bsSollwertFenster: {
	dialogTitle: 'Sollwertschiebung VAV 433Y1/4 Meeting 1',
	authorisierung: 'Administration',
	signals: [
		{ label: 'VAV Sollwert1 (minimum) [%]', signalname: 'Station_42.Register.w_vav_433y1_01', untergrenze: '', obergrenze: '' },
		{ label: 'VAV Bedarf 1 nach Lq [%]', signalname: 'Station_42.Register.w_vav_433y1_02', untergrenze: '', obergrenze: '' },
		{ label: 'VAV Sollwert 2 [%]', signalname: 'Station_42.Register.w_vav_433y1_03', untergrenze: '', obergrenze: '' },
		{ label: 'VAV Bedarf 2 nach Lq [%]', signalname: 'Station_42.Register.w_vav_433y1_04', untergrenze: '', obergrenze: '' },
		{ label: 'Maximaler Sollwert [%]', signalname: 'Station_42.Register.w_vav_433y1_05', untergrenze: '', obergrenze: '' },
        { label: 'Tot-Zone für / [%]', signalname: 'Station_42.Register.w_vav_433y1_06', untergrenze: '', obergrenze: '' }
		]}">
            </div>

            <!--Ventil-->
            <div style="position:absolute; left: 1485px; top: 337px" id="VT1" title="Heizventil 466Y1" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-12',
	anzeigefeldOben: '-25',
	winkel: '180',
	signalName: 'Station_42.Register.sw_seq_466y2'}">
            </div>

            <div style="position:absolute; left: 1555px; top: 337px" id="VT2" title="Kühlventil 466Y6" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-12',
	anzeigefeldOben: '-25',
	winkel: '180',
	signalName: 'Station_42.Register.sw_seq_466y6'}">
            </div>

            <div style="position:absolute; left: 1485px; top: 243px" id="VT3" title="Heizventil 465Y2" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-12',
	anzeigefeldOben: '-25',
	winkel: '180',
	signalName: 'Station_42.Register.sw_seq_465y2'}">
            </div>

            <div style="position:absolute; left: 1555px; top: 243px" id="VT4" title="Kühlventil 465Y6" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-12',
	anzeigefeldOben: '-25',
	winkel: '180',
	signalName: 'Station_42.Register.sw_seq_465y6'}">
            </div>

            <div style="position:absolute; left: 1485px; top: 149px" id="VT5" title="Heizventil 464Y2" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-12',
	anzeigefeldOben: '-25',
	winkel: '180',
	signalName: 'Station_42.Register.sw_seq_464y2'}">
            </div>

            <div style="position:absolute; left: 1555px; top: 149px" id="VT6" title="Kühlventil 464Y6" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-12',
	anzeigefeldOben: '-25',
	winkel: '180',
	signalName: 'Station_42.Register.sw_seq_464y6'}">
            </div>

            <div style="position:absolute; left: 1485px; top: 55px" id="VT7" title="Heizventil 463Y2" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-12',
	anzeigefeldOben: '-25',
	winkel: '180',
	signalName: 'Station_42.Register.sw_seq_463y2'}">
            </div>

            <div style="position:absolute; left: 1555px; top: 55px" id="VT8" title="Kühlventil 463Y6" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-12',
	anzeigefeldOben: '-25',
	winkel: '180',
	signalName: 'Station_42.Register.sw_seq_463y6'}">
            </div>

            <div style="position:absolute; left: 675px; top: 54px" id="VT9" title="Heizventil 462Y2" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-12',
	anzeigefeldOben: '-25',
	winkel: '180',
	signalName: 'Station_42.Register.sw_seq_462y2'}">
            </div>

            <div style="position:absolute; left: 745px; top: 54px" id="VT10" title="Kühlventil 462Y6" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-12',
	anzeigefeldOben: '-25',
	winkel: '180',
	signalName: 'Station_42.Register.sw_seq_462y6'}">
            </div>

            <div style="position:absolute; left: 1485px; top: 436px" id="VT11" title="Heizventil 467Y2" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-12',
	anzeigefeldOben: '-25',
	winkel: '180',
	signalName: 'Station_42.Register.sw_seq_467y2'}">
            </div>

            <div style="position:absolute; left: 1555px; top: 436px" id="VT12" title="Kühlventil 467Y6" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-12',
	anzeigefeldOben: '-25',
	winkel: '180',
	signalName: 'Station_42.Register.sw_seq_467y6'}">
            </div>

            <div style="position:absolute; left: 1485px; top: 530px" id="VT13" title="Heizventil 468Y2" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-12',
	anzeigefeldOben: '-25',
	winkel: '180',
	signalName: 'Station_42.Register.sw_n_mux_468y2'}">
            </div>

            <div style="position:absolute; left: 1555px; top: 530px" id="VT14" title="Kühlventil 468Y6" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-12',
	anzeigefeldOben: '-25',
	winkel: '180',
	signalName: 'Station_42.Register.sw_n_mux_468y6'}">
            </div>

            <!--Klappen-->
            <div style="position:absolute; left: 116px; top: 534px;" id="K1" title="371Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_42.Register.status_371y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 116px; top: 602px;" id="K2" title="370Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_42.Register.status_370y3',
    position: 'Buffer 3'
}"></div>
                    
            <div style="position:absolute; left: 1210px; top: 77px;" id="K3" title="375Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_42.Register.status_375y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1210px; top: 29px;" id="K4" title="374Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_42.Register.status_374y3',
    position: 'Buffer 3'
}"></div>

            <!--TPHSensor-->
            <div style="position:absolute; left:1630px; top: 243px;" id="TP1" title="395B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '0',
	sensortyp: 'T',
	signalName: 'Station_42.Register.AI499_temp_395b1',
	handLinks: '12',
	handOben: '2',
   	einheit: '°C',
	anzeigefeldLinks: '-18',
	anzeigefeldOben: '-25',
	}">
            </div>

            <div style="position:absolute; left:1630px; top: 149px;" id="TP3" title="394B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '0',
	sensortyp: 'T',
	signalName: 'Station_42.Register.AI498_temp_394b1',
	handLinks: '12',
	handOben: '2',
   	einheit: '°C',
	anzeigefeldLinks: '-18',
	anzeigefeldOben: '-25',
	}">
            </div>

            <div style="position:absolute; left: 1630px; top: 337px;" id="TP5" title="396B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '0',
	sensortyp: 'T',
	signalName: 'Station_42.Register.AI500_temp_396b1',
	handLinks: '12',
	handOben: '2',
   	einheit: '°C',
	anzeigefeldLinks: '-18',
	anzeigefeldOben: '-25',
	}">
            </div>

            <div style="position:absolute; left: 1630px; top: 55px;" id="TP7" title="393B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '0',
	sensortyp: 'T',
	signalName: 'Station_42.Register.AI497_temp_393b1',
	handLinks: '12',
	handOben: '2',
   	einheit: '°C',
	anzeigefeldLinks: '-18',
	anzeigefeldOben: '-25',
	}">
            </div>

            <div style="position:absolute; left: 1630px; top: 436px;" id="TP9" title="397B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '0',
	sensortyp: 'T',
	signalName: 'Station_42.Register.AI501_temp_397b1',
	handLinks: '12',
	handOben: '2',
   	einheit: '°C',
	anzeigefeldLinks: '-18',
	anzeigefeldOben: '-25',
	}">
            </div>

            <div style="position:absolute; left: 1630px; top: 530px;" id="TP11" title="398B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '0',
	sensortyp: 'T',
	signalName: 'Station_42.Register.AI502_temp_398b1',
	handLinks: '12',
	handOben: '2',
   	einheit: '°C',
	anzeigefeldLinks: '-18',
	anzeigefeldOben: '-25',
	}">
            </div>

            <div style="position:absolute; left: 825px; top: 54px;" id="TP13" title="392B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '0',
	sensortyp: 'T',
	signalName: 'Station_42.Register.AI496_temp_392b1',
	handLinks: '12',
	handOben: '2',
   	einheit: '°C',
	anzeigefeldLinks: '-18',
	anzeigefeldOben: '-25',
	}">
            </div>

            <div style="position:absolute; left: 1357px; top: 10px;" id="TP15" title="Luftqualitätsfühler 408B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '25',
	winkel: '0',
	sensortyp: 'Q',
	signalName: 'Station_42.Register.lq_meeting_2',
	handLinks: '12',
	handOben: '2',
   	einheit: 'ppm',
	anzeigefeldLinks: '22',
	anzeigefeldOben: '8',
	}">
            </div>

            <div style="position:absolute; left: 1357px; top: 104px;" id="TP16" title="Luftqualitätsfühler 409B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '25',
	winkel: '0',
	sensortyp: 'Q',
	signalName: 'Station_42.Register.lq_meeting_3',
	handLinks: '12',
	handOben: '2',
   	einheit: 'ppm',
	anzeigefeldLinks: '22',
	anzeigefeldOben: '8',
	}">
            </div>

            <div style="position:absolute; left: 1357px; top: 199px;" id="TP17" title="Luftqualitätsfühler 410B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '25',
	winkel: '0',
	sensortyp: 'Q',
	signalName: 'Station_42.Register.lq_meeting_4',
	handLinks: '12',
	handOben: '2',
   	einheit: 'ppm',
	anzeigefeldLinks: '22',
	anzeigefeldOben: '8',
	}">
            </div>

            <div style="position:absolute; left: 1357px; top: 295px;" id="TP18" title="Luftqualitätsfühler 411B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '25',
	winkel: '0',
	sensortyp: 'Q',
	signalName: 'Station_42.Register.lq_meeting_5',
	handLinks: '12',
	handOben: '2',
   	einheit: 'ppm',
	anzeigefeldLinks: '22',
	anzeigefeldOben: '8',
	}">
            </div>

            <div style="position:absolute; left: 1357px; top: 391px;" id="TP19" title="Luftqualitätsfühler 412B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '25',
	winkel: '0',
	sensortyp: 'Q',
	signalName: 'Station_42.Register.lq_meeting_6',
	handLinks: '12',
	handOben: '2',
   	einheit: 'ppm',
	anzeigefeldLinks: '22',
	anzeigefeldOben: '8',
	}">
            </div>

            <div style="position:absolute; left: 1357px; top: 484px;" id="TP20" title="Luftqualitätsfühler 413B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '25',
	winkel: '0',
	sensortyp: 'Q',
	signalName: 'Station_42.Register.lq_meeting_7',
	handLinks: '12',
	handOben: '2',
   	einheit: 'ppm',
	anzeigefeldLinks: '22',
	anzeigefeldOben: '8',
	}">
            </div>

            <div style="position:absolute; left: 544px; top: 8px;" id="TP20" title="Luftqualitätsfühler 407B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '25',
	winkel: '0',
	sensortyp: 'Q',
	signalName: 'Station_42.Register.lq_meeting_1',
	handLinks: '12',
	handOben: '2',
   	einheit: 'ppm',
	anzeigefeldLinks: '22',
	anzeigefeldOben: '8',
	}">
            </div>

            <!--Wächter-->
            <!--<div style="position:absolute; left: 1321px; top: 40px;" id="W1" title="KLI02_F951 (O127_GA01_S001:160F2)" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Buffer 3',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left: 1321px; top: 88px;" id="W2" title="KLI02_F951 (O127_GA01_S001:160F2)" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Buffer 3',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left: 1321px; top: 134px;" id="W3" title="KLI02_F951 (O127_GA01_S001:160F2)" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Buffer 3',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left: 1321px; top: 182px;" id="W4" title="KLI02_F951 (O127_GA01_S001:160F2)" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Buffer 3',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left: 1321px; top: 229px;" id="W5" title="KLI02_F951 (O127_GA01_S001:160F2)" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Buffer 3',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left: 1321px; top: 278px;" id="W6" title="KLI02_F951 (O127_GA01_S001:160F2)" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Buffer 3',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left: 1321px; top: 326px;" id="W7" title="KLI02_F951 (O127_GA01_S001:160F2)" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Buffer 3',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left: 1321px; top: 373px;" id="W8" title="KLI02_F951 (O127_GA01_S001:160F2)" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Buffer 3',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left: 1321px; top: 419px;" id="W9" title="KLI02_F951 (O127_GA01_S001:160F2)" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Buffer 3',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left: 1321px; top: 468px;" id="W10" title="KLI02_F951 (O127_GA01_S001:160F2)" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Buffer 3',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left: 1321px; top: 516px;" id="W11" title="KLI02_F951 (O127_GA01_S001:160F2)" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Buffer 3',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left: 1321px; top: 563px;" id="W12" title="KLI02_F951 (O127_GA01_S001:160F2)" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Buffer 3',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left: 507px; top: 38px;" id="W13" title="KLI02_F951 (O127_GA01_S001:160F2)" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Buffer 3',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left: 507px; top: 88px;" id="W13" title="KLI02_F951 (O127_GA01_S001:160F2)" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Buffer 3',
     einheit: 'ohne',
     }">
            </div>-->

            <div style="position:absolute; left:1670px; top: 243px;" id="W14" title="395B5" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '35',
     winkel: '0',
     sensortyp: '  ',
     signalName: 'Station_42.Flag.DI247_rm_395b5',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left:1670px; top: 149px;" id="W15" title="394B5" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '35',
     winkel: '0',
     sensortyp: '  ',
     signalName: 'Station_42.Flag.DI246_rm_394b5',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left: 1670px; top: 337px;" id="W16" title="396B5" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '35',
     winkel: '0',
     sensortyp: '  ',
     signalName: 'Station_42.Flag.DI248_rm_396b5',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left: 1670px; top: 55px;" id="W17" title="393B5" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '35',
     winkel: '0',
     sensortyp: '  ',
     signalName: 'Station_42.Flag.DI245_rm_393b5',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left: 1670px; top: 436px;" id="W18" title="397B5" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '35',
     winkel: '0',
     sensortyp: '  ',
     signalName: 'Station_42.Flag.DI249_rm_397b5',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left: 865px; top: 54px;" id="W19" title="392B5" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '35',
     winkel: '0',
     sensortyp: '  ',
     signalName: 'Station_42.Flag.DI244_rm_392b5',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left: 1670px; top: 530px;" id="W20" title="398B5" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '35',
     winkel: '0',
     sensortyp: '  ',
     signalName: 'Station_42.Flag.DI250_rm_398b5',
     einheit: 'ohne',
     }">
            </div>

            <!-- Text -->
            <p style="position: absolute; left: 10px; top: 0px;" class="bs-beschriftung-small-verteilung">Sollwert Raumtemperatur Konferenz</p>
            <p style="position: absolute; left: 10px; top: 55px;" class="bs-beschriftung-small-verteilung">Schacht 10-11/L</p>
            <p style="position: absolute; left: 108px; top: 500px;" class="bs-beschriftung-small-verteilung">UG - EG</p>
            <p style="position: absolute; left: 663px; top: -1px;" class="bs-beschriftung-small-verteilung">Meeting 1 (Nölli)</p>
            <p style="position: absolute; left: 1473px; top: -1px;" class="bs-beschriftung-small-verteilung">Meeting 2 (Foyer A)</p>
            <p style="position: absolute; left: 1473px; top: 99px;" class="bs-beschriftung-small-verteilung">Meeting 3 (Männli)</p>
            <p style="position: absolute; left: 1473px; top: 194px;" class="bs-beschriftung-small-verteilung">Meeting 4 (Luegisland)</p>
            <p style="position: absolute; left: 1473px; top: 288px;" class="bs-beschriftung-small-verteilung">Meeting 5 (Wacht)</p>
            <p style="position: absolute; left: 1473px; top: 383px;" class="bs-beschriftung-small-verteilung">Meeting 6 (Zyt)</p>
            <p style="position: absolute; left: 1473px; top: 479px;" class="bs-beschriftung-small-verteilung">Meeting 7 (Schirmer)</p>

            <!--  -->
           
            <!-- Workaround um den Bug in der Benutzeranmeldung zu korrigieren -->
            <wf-button style="visibility: hidden;" params="signalName: 'Setpoint 1', writeValue: 1, buttonText: 'Write Value :1', cssClass: 'btn-success', projectAuthorization: 'irgendeinWert'"></wf-button>
        </div>
    </div>
</div>
