﻿<!--****************************************************************************************************************************************************************************************************************************************************
    Bühler+Scherler
--------------------------------------------------------------------------------------------------------------------------


--------------------------------------------------------------------------------------------------------------------------
ERSTELLT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0		R.Brunnschweiler	BS                  10.07.2017
--------------------------------------------------------------------------------------------------------------------------
GEÄNDERT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0       F.Sabljo            BS                  15.02.2018


********************************************************************************************************************************************************************************************************************************************************-->
<div class="container bs_content_container">
    <header>
        <h1 class="page-header bs-header-mittig">L20 Lüftung Zentrale USV HA.SL01</h1>
        <!--BUILDING CONTROL-->
    </header>
    <div class="col-lg-12">
        <div class="bs-responsive bs-hotel-lueftungen-L20LueftungZentraleUSVHA_SL01 hidden-xs">
            <!--Seiten-Verlinkungen (Pfeile auf der Seite)-->
            <a style="position: absolute; left: 0px; top: 460px; text-decoration: none;" title="Abluft" class="bs-pfeil-verlinkung-abluft wf wf-arrow wf-w"></a>
            <a style="position: absolute; left: 0px; top: 251px; text-decoration: none;" title="Aussenluft" class="bs-pfeil-verlinkung-aussenluft wf wf-arrow wf-w"></a>
            <a style="position: absolute; left: 1815px; top: 460px; text-decoration: none;" title="Abluft" class="bs-pfeil-verlinkung-abluft wf wf-arrow wf-w"></a>
            <a style="position: absolute; left: 1815px; top: 251px; text-decoration: none;" title="Aussenluft" class="bs-pfeil-verlinkung-aussenluft wf wf-arrow wf-w"></a>
            <!-- Widgets -->
            <!--Anlagenschalter, Sollwertfenster, Zeitschaltuhren, etc...-->
            <div style="position:absolute; left:1730px; top:635px" id="KLI02" title="L20 Lüftung USV" data-bind="bsAnlageschalter_lfc: {
	dialogTitle: 'L20 Lüftung USV ',
	signalName: 'Station_42',
    stromPfad: 'lueftung_L20'
	}">
            </div>

            <div style="position:absolute; left:1775px; top:635px" id="KLI02_I201schaltuhr" title="Schaltuhr Lüftungsanlage L20 USV" data-bind="bsSchaltuhr_lfc: {
	signalName: 'Station_42',
    uhr: 'su_L20',
	dialogTitle: 'Schaltuhr Lüftungsanlage L20 USV' }">
            </div>

            <!--LE-->
            <div style="position:absolute; left: 611px; top: 471px;" id="V1" title="1145M1" data-bind="bsMotorStufen_lfc: {
    dialogTitle: 'Ventilator 1145M1',
    signalName: 'Station_42',
    stromPfad: '1145m1',
	motorAusrichtung: 'links',
	motortyp: 'ventilator',
	handLinks: '20',
	handOben: '10',
	stufe: '0',
	}">
            </div>

            <div style="position:absolute; left: 1239px; top: 263px;" id="V2" title="1115M1" data-bind="bsMotorStufen_lfc: {
    dialogTitle: 'Ventilator 1115M1',
    signalName: 'Station_42',
    stromPfad: '1115m1',
	motorAusrichtung: 'links',
	motortyp: 'ventilator',
	handLinks: '20',
	handOben: '10',
	stufe: '0',
	}">
            </div>

            <!--Klappen-->
            <div style="position:absolute; left: 433px; top: 467px;" id="K1" title="1163Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
  	winkel: '0',
    signalName: 'Station_42.Register.status_1163y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1044px; top: 257px;" id="K2" title="1161Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_42.Register.status_1161y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 789px; top: 467px;" id="K3" title="1162Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_42.Register.status_1162y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1417px; top: 257px;" id="K4" title="1112Y1" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_42.Register.status_1112y1',
    position: 'Buffer 3'
}"></div>

            <!--Wächter-->
            <div style="position:absolute; left: 619px; top: 415px;" id="W1" title="1147B1" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Station_42.Flag.al_1147b1',
     einheit: 'ohne'
     }">
            </div>

            <div style="position:absolute; left: 1246px; top: 207px;" id="W2" title="1117B1" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Station_42.Flag.al_1117b1',
     einheit: 'ohne'
     }">
            </div>
            <!-- Text -->
            <p style="position: absolute; left: 399px; top: 525px;" class="bs-beschriftung-small-verteilung">Koridor - Parking</p>
            <p style="position: absolute; left: 728px; top: 525px;" class="bs-beschriftung-small-verteilung">Elektro USV - Keller Allgemein</p>
            <p style="position: absolute; left: 983px; top: 315px;" class="bs-beschriftung-small-verteilung">Elektro USV - Keller Allgemein</p>
            <!--  -->
            <!-- Workaround um den Bug in der Benutzeranmeldung zu korrigieren -->
            <wf-button style="visibility: hidden;" params="signalName: 'Setpoint 1', writeValue: 1, buttonText: 'Write Value :1', cssClass: 'btn-success', projectAuthorization: 'irgendeinWert'"></wf-button>
        </div>
    </div>
</div>
