﻿<!--****************************************************************************************************************************************************************************************************************************************************
    Bühler+Scherler
--------------------------------------------------------------------------------------------------------------------------


--------------------------------------------------------------------------------------------------------------------------
ERSTELLT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0		R.Brunnschweiler	BS                  10.07.2017
--------------------------------------------------------------------------------------------------------------------------
GEÄNDERT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0       F.Sabljo            BS                  14.02.18


********************************************************************************************************************************************************************************************************************************************************-->
<div class="container bs_content_container">
    <header>
        <h1 class="page-header bs-header-mittig">L16 Lüftung Verteilung 3 Hotelzimmer HA.SL01</h1>
        <!--BUILDING CONTROL-->
    </header>
    <div class="col-lg-12">
        <div class="bs-responsive bs-hotel-lueftungen-L16LueftungVerteilung03HotelzimmerHA_SL01 hidden-xs">
            <!--Seiten-Verlinkungen (Pfeile auf der Seite)-->
            <a style="position: absolute; left: 0px; top: 566px; text-decoration: none;" title="Abluft" class="bs-pfeil-verlinkung-abluft wf wf-arrow wf-w"></a>
            <a style="position: absolute; left: 0px; top: 602px; text-decoration: none;" title="Zuluft" class="bs-pfeil-verlinkung-zuluft wf wf-arrow"></a>
            <a style="position: absolute; left: 1816px; top: 602px; text-decoration: none;" title="Zuluft" class="bs-pfeil-verlinkung-zuluft wf wf-arrow"></a>
            <a style="position: absolute; left: 1816px; top: 566px; text-decoration: none;" title="Abluft" class="bs-pfeil-verlinkung-abluft wf wf-arrow wf-w"></a>

            <!-- Widgets -->

            <!--Klappen-->
            <div style="position:absolute; left: 979px; top: 539px;" id="K1" title="719Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '90',
    signalName: 'Station_43.Register.bsk.status_719y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1047px; top: 539px;" id="K2" title="720Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '90',
    signalName: 'Station_43.Register.bsk.status_720y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 917px; top: 505px;" id="K3" title="722Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_722y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 917px; top: 457px;" id="K4" title="721Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_721y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 767px; top: 505px;" id="K5" title="724Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_724y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 767px; top: 457px;" id="K6" title="723Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_723y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 917px; top: 393px;" id="K7" title="726Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_726y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 917px; top: 345px;" id="K8" title="725Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_725y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 767px; top: 393px;" id="K9" title="728Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_728y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 767px; top: 345px;" id="K10" title="727Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_727y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 917px; top: 281px;" id="K7" title="730Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_730y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 917px; top: 233px;" id="K8" title="729Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_730y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 767px; top: 281px;" id="K9" title="732Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_732y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 767px; top: 233px;" id="K10" title="731Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_731y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 917px; top: 168px;" id="K11" title="734Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_734y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 917px; top: 121px;" id="K12" title="733Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_733y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 767px; top: 168px;" id="K13" title="736Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_736y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 767px; top: 121px;" id="K14" title="735Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_735y3',
    position: 'Buffer 3'
}"></div>

            <!-- Text -->
            <p style="position: absolute; left: 660px; top: 492px;" class="bs-beschriftung-small-verteilung">2.OG</p>
            <p style="position: absolute; left: 660px; top: 379px;" class="bs-beschriftung-small-verteilung">3.OG</p>
            <p style="position: absolute; left: 660px; top: 268px;" class="bs-beschriftung-small-verteilung">4.OG</p>
            <p style="position: absolute; left: 660px; top: 153px;" class="bs-beschriftung-small-verteilung">5.OG</p>
            <p style="position: absolute; left: 988px; top: 92px;" class="bs-beschriftung-small-verteilung">Steigzone 10</p>

            <!--  -->
           
            <!-- Workaround um den Bug in der Benutzeranmeldung zu korrigieren -->
            <wf-button style="visibility: hidden;" params="signalName: 'Setpoint 1', writeValue: 1, buttonText: 'Write Value :1', cssClass: 'btn-success', projectAuthorization: 'irgendeinWert'"></wf-button>
        </div>
    </div>
</div>
