﻿<!--****************************************************************************************************************************************************************************************************************************************************
    Bühler+Scherler
--------------------------------------------------------------------------------------------------------------------------


--------------------------------------------------------------------------------------------------------------------------
ERSTELLT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0		R.Brunnschweiler	BS                  10.07.2017
--------------------------------------------------------------------------------------------------------------------------
GEÄNDERT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0       F.Sabljo            BS                  14.02.18


********************************************************************************************************************************************************************************************************************************************************-->
<div class="container bs_content_container">
    <header>
        <h1 class="page-header bs-header-mittig">L17 Lüftung Zentrale WC/Garderobe HA.SL01</h1>
        <!--BUILDING CONTROL-->
    </header>
    <div class="col-lg-12">
        <div class="bs-responsive bs-hotel-lueftungen-L17LueftungZentraleWCGarderobeHA_SL01 hidden-xs">
            <!--Seiten-Verlinkungen (Pfeile auf der Seite)-->
            <a style="position: absolute; left: 0px; top: 237px; text-decoration: none;" title="Aussenluft" class="bs-pfeil-verlinkung-aussenluft wf wf-arrow"></a>
            <a style="position: absolute; left: 0px; top: 423px; text-decoration: none;" title="Fortluft" class="bs-pfeil-verlinkung-fortluft wf wf-arrow wf-w"></a>
            <a style="position: absolute; left: 1816px; top: 425px; text-decoration: none;" title="Zuluft" class="bs-pfeil-verlinkung-zuluft wf wf-arrow"></a>
            <a style="position: absolute; left: 1816px; top: 237px; text-decoration: none;" title="Abluft" class="bs-pfeil-verlinkung-abluft wf wf-arrow wf-w"></a>
            <!-- Widget -->
            <!-- Sollwert -->
            <div style="position:absolute; left: 1637.5px; top: 351px;" id="S1" title="Sollwert ZUL 818B1" data-bind="bsAusgabefeld: {
              signalName:'Station_41.Register.sw_basis_raumtemp_L17',
              typ: 'berechnetersollwert',
              einheit: '°C'
            }">
            </div>

            <div style="position:absolute; left: 1027.51px; top: 325.229px;" id="S2" title="Sollwert Ventil 852Y1" data-bind="bsAusgabefeld: {
              signalName:'Station_41.Register.AO321_sw_852y1',
              typ: 'berechnetersollwert',
              einheit: '%'
            }">
            </div>

            <!--Anlagenschalter, Sollwertfenster, Zeitschaltuhren, etc...-->
            <div style="position:absolute; left:1685px; top:635px" id="KLI02" title="L17 Lüftung WC/Garderobe" data-bind="bsAnlageschalter_lfc: {
	dialogTitle: 'L17 Lüftung WC/Garderobe ',
	signalName: 'Station_41',
    stromPfad: 'L17'
	}">
            </div>
            <div style="position:absolute; left:1730px; top:635px" id="KLI02_I110sollwertfenster" title="Sollwerte L17 Lüftung WC/Garderobe" data-bind="bsSollwertFenster: {
	dialogTitle: 'Sollwerte L17 Lüftung WC/Garderobe',
	authorisierung: 'Administration',
	signals: [
		{ label: 'Sollwert Basis Raumtemperatur [ºC]', signalname: 'Station_41.Register.sw_basis_raumtemp_L17', untergrenze: '', obergrenze: '' }
		]}">
            </div>
            <div style="position:absolute; left:1775px; top:635px" id="KLI02_I201schaltuhr" title="Schaltuhr Lüftungsanlage L17 WC/Garderobe" data-bind="bsSchaltuhr_lfc: {
	signalName: 'Station_41',
    uhr: 'su_L17',
	dialogTitle: 'Schaltuhr Lüftungsanlage L17 WC/Garderobe' }">
            </div>

            <!--LE-->
            <div style="position:absolute; left: 700px; top: 433px;" id="V1" title="845M1" data-bind="bsMotorStufen_lfc: {
    dialogTitle: 'Venti 845M1',
    signalName: 'Station_41',
    stromPfad: '845m1',
	motorAusrichtung: 'links',
	motortyp: 'ventilator',
	handLinks: '20',
	handOben: '10',
	stufe: '0',
	}">
            </div>

            <div style="position:absolute; left: 1343.5px; top: 433px;" id="V2" title="815M1" data-bind="bsMotorStufen_lfc: {
    dialogTitle: 'Venti 815M1',
    signalName: 'Station_41',
    stromPfad: '815m1',
	motorAusrichtung: 'rechts',
	motortyp: 'ventilator',
	handLinks: '20',
	handOben: '10',
	stufe: '0',
	}">
            </div>

            <div style="position:absolute; left: 1094px; top: 499.5px;" id="PU1" title="825M1" data-bind="bsMotorStufen_lfc: {
    dialogTitle: 'Pumpe 825M1',
    signalName: 'Station_41',
    stromPfad: '825m1',
	motorAusrichtung: 'oben',
	motortyp: 'pumpe',
	handLinks: '20',
	handOben: '10',
	stufe: '0',
	}">
            </div>

            <!--Ventil-->
            <div style="position:absolute; left: 1091.5px; top: 557px" id="VT1" title="826Y1" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '42',
	anzeigefeldOben: '10',
	winkel: '180',
	signalName: 'Station_41.Register.AO320_sw_826y1'}">
            </div>

            <!--Klappen-->
            <div style="position:absolute; left: 414px; top: 242px;" id="K1" title="812Y1" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
	dialogtitle: 'KLI02_Y550 (O127_GA01_S001:177Y2) UML Klappe',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_41.Register.status_812y1',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 414px; top: 430px;" id="K2" title="812Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
	dialogtitle: 'KLI02_Y550 (O127_GA01_S001:177Y2) UML Klappe',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_41.Register.status_812y1',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 967px; top: 317px;" id="K3" title="KLI02_Y550 (O127_GA01_S001:177Y2)" data-bind="bsKlappe_lfc_without_state: {
	symbol:'bs bs-klappe-fahrend',
	dialogtitle: 'KLI02_Y550 (O127_GA01_S001:177Y2) UML Klappe',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '315',
    signalName: 'Buffer 3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 927px; top: 273.5px;" id="K4" title="KLI02_Y550 (O127_GA01_S001:177Y2)" data-bind="bsKlappe_lfc_without_state: {
	symbol:'bs bs-klappe-fahrend',
	dialogtitle: 'KLI02_Y550 (O127_GA01_S001:177Y2) UML Klappe',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '315',
    signalName: 'Buffer 3',
    position: 'Buffer 3'
}"></div>

            <!--TPHSensor-->
            <div style="position:absolute; left: 180px; top: 212px;" id="TP1" title="811B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '0',
	sensortyp: 'T',
	signalName: 'Station_41.Register.AI225_temp_811b1',
	handLinks: '12',
	handOben: '2',
	}">
            </div>

            <div style="position:absolute; left: 180px; top: 401px;" id="TP2" title="848B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '0',
	sensortyp: 'T',
	signalName: 'Station_41.Register.AI228_temp_848b1',
	handLinks: '12',
	handOben: '2',
	}">
            </div>

            <div style="position:absolute; left: 1660px; top: 212px;" id="TP3" title="841B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '0',
	sensortyp: 'T',
	signalName: 'Station_41.Register.AI227_temp_841b1',
	handLinks: '12',
	handOben: '2',
	}">
            </div>

            <div style="position:absolute; left: 1660px; top: 401px;" id="TP4" title="818B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '0',
	sensortyp: 'T',
	signalName: 'Station_41.Register.AI226_temp_818b1',
	handLinks: '12',
	handOben: '2',
	}">
            </div>

            <!--Wächter-->
            <div style="position:absolute; left: 704px; top: 189px" id="W1" title="813B1" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Station_41.Flag.al_813b1_filter',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left: 704px; top: 377px" id="W2" title="847B2" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Station_41.Flag.al_847b1',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left: 1346px; top: 189px" id="W3" title="843B1" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Station_41.Flag.al_843b1_filter',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left: 1346px; top: 377px" id="W4" title="817B2" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Station_41.Flag.al_817b1',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left: 1161.5px; top: 401px" id="W5" title="814B1" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '35',
     winkel: '0',
     sensortyp: 'F',
     signalName: 'Station_41.Flag.al_814b1_frost',
     einheit: 'ohne',
     }">
            </div>


            <!-- Text -->
            <p style="position: absolute; left: 871px; top: 341px;" class="bs-beschriftung-medium">WRG</p>
            <p style="position: absolute; left: 1094px; top: 325px;" class="bs-beschriftung-small-verteilung">Bypass</p>
           
            <!-- Workaround um den Bug in der Benutzeranmeldung zu korrigieren -->
            <wf-button style="visibility: hidden;" params="signalName: 'Setpoint 1', writeValue: 1, buttonText: 'Write Value :1', cssClass: 'btn-success', projectAuthorization: 'irgendeinWert'"></wf-button>
        </div>
    </div>
</div>
