﻿<!--****************************************************************************************************************************************************************************************************************************************************
    Bühler+Scherler
--------------------------------------------------------------------------------------------------------------------------


--------------------------------------------------------------------------------------------------------------------------
ERSTELLT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0		R.Brunnschweiler	BS                  10.07.2017
--------------------------------------------------------------------------------------------------------------------------
GEÄNDERT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0       F.Sabljo            BS                  13.02.2018


********************************************************************************************************************************************************************************************************************************************************-->
<div class="container bs_content_container">
    <header>
        <h1 class="page-header bs-header-mittig">L25 Lüftung Verteilung Bankett H1.SL06</h1>
        <!--BUILDING CONTROL-->
    </header>
    <div class="col-lg-12">
        <div class="bs-responsive bs-hotel-lueftungen-L25LueftungVerteilungBankettH1_SL06 hidden-xs">
            <!--Seiten-Verlinkungen (Pfeile auf der Seite)-->
            <a style="position: absolute; left: 0px; top: 462px; text-decoration: none;" title="Zuluft" class="bs-pfeil-verlinkung-zuluft wf wf-arrow"></a>
            <a style="position: absolute; left: 0px; top: 251px; text-decoration: none;" title="Abluft" class="bs-pfeil-verlinkung-abluft wf wf-arrow wf-w"></a>
            <a style="position: absolute; left: 1816px; top: 462px; text-decoration: none;" title="Zuluft" class="bs-pfeil-verlinkung-zuluft wf wf-arrow"></a>
            <a style="position: absolute; left: 1816px; top: 251px; text-decoration: none;" title="Abluft" class="bs-pfeil-verlinkung-abluft wf wf-arrow wf-w"></a>

            <!-- Widgets -->
            <div style="position:absolute; left: 1565px; top: 433px;" title="Status Vorortschalter 104S1" data-bind="bsZustandsanzeige_lfc: {
                 authorisierung: 'Administration' ,
                 modulName: 'Station_50.Register.betriebszustand_hws_104s1' ,
                 hintergrundTransparent: 'true' ,
                 zustaende: [
                { vergleichswert: '0', farbe: 'color-aus',  text: 'Status Vorortschalter 104S1: AUS'},
                { vergleichswert: '1', farbe: 'color-ein',  text: 'Status Vorortschalter 104S1: AUTOMATIK'},
                { vergleichswert: '2', farbe: 'color-ein',  text: 'Status Vorortschalter 104S1: Stufe 1'},
                { vergleichswert: '3', farbe: 'color-ein',  text: 'Status Vorortschalter 104S1: Stufe 2'}
                ]
                }">
            </div>
            <!--Ventil-->
            <div style="position:absolute; left:  1682.5px; top: 322px" id="VT1" title="171Y2" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '42',
	anzeigefeldOben: '10',
	winkel: '180',
	signalName: 'Station_50.Register.seq_171y2'}">
            </div>

            <!--Klappen-->
            <div style="position:absolute; left: 880px; top: 258px;" id="K1" title="162Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
	dialogtitle: 'KLI02_Y550 (O127_GA01_S001:177Y2) UML Klappe',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_50.Register.status_162y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 880px; top: 465px;" id="K2" title="161Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_50.Register.status_161y3',
    position: 'Buffer 3'
}"></div>

            <!--TPHSensor-->
            <div style="position:absolute; left: 1692px; top: 368px;" id="TP1" title="181B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '0',
	sensortyp: 'T',
	signalName: 'Station_50.Register.AI165_temp_181b1',
	handLinks: '12',
	handOben: '2',
    einheit: '°C',
	anzeigefeldLinks: '33',
	anzeigefeldOben: '0',
	}">
            </div>

            <!-- Text -->
            <p style="position: absolute; left: 1667px; top: 292px;" class="bs-beschriftung-small-verteilung">Bankett Office 1.OG</p>


            <!--  -->
           
            <!-- Workaround um den Bug in der Benutzeranmeldung zu korrigieren -->
            <wf-button style="visibility: hidden;" params="signalName: 'Setpoint 1', writeValue: 1, buttonText: 'Write Value :1', cssClass: 'btn-success', projectAuthorization: 'irgendeinWert'"></wf-button>
        </div>
    </div>
</div>
