﻿<!--****************************************************************************************************************************************************************************************************************************************************
    Bühler+Scherler
--------------------------------------------------------------------------------------------------------------------------


--------------------------------------------------------------------------------------------------------------------------
ERSTELLT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0		R.Brunnschweiler	BS                  10.07.2017
--------------------------------------------------------------------------------------------------------------------------
GEÄNDERT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0       F.Sabljo            BS                  12.02.2018


********************************************************************************************************************************************************************************************************************************************************-->
<div class="container bs_content_container">
    <header>
        <h1 class="page-header bs-header-mittig">L12 Lüftung Zentrale Restaurant HA.SL01</h1>
        <!--BUILDING CONTROL-->
    </header>
    <div class="col-lg-12">
        <div class="bs-responsive bs-hotel-lueftungen-L12LueftungZentraleRestaurantHA_SL01 hidden-xs">
            <!--Seiten-Verlinkungen (Pfeile auf der Seite)-->
            <a style="position: absolute; left: 0px; top: 237px; text-decoration: none;" title="Aussenluft" class="bs-pfeil-verlinkung-aussenluft wf wf-arrow"></a>
            <a style="position: absolute; left: 0px; top: 423px; text-decoration: none;" title="Fortluft" class="bs-pfeil-verlinkung-fortluft wf wf-arrow wf-w"></a>
            <a style="position: absolute; left: 1816px; top: 425px; text-decoration: none;" title="Zuluft" class="bs-pfeil-verlinkung-zuluft wf wf-arrow"></a>
            <a style="position: absolute; left: 1816px; top: 237px; text-decoration: none;" title="Abluft" class="bs-pfeil-verlinkung-abluft wf wf-arrow wf-w"></a>
            <!-- Widget -->
            <!-- Sollwert -->
            <div style="position:absolute; left: 1637.5px; top: 351px;" id="S1" title="Sollwerttemperatur 218B1" data-bind="bsAusgabefeld: {
              signalName:'Station_41.Register.sw_218b1',
              typ: 'berechnetersollwert',
              einheit: '°C'
            }">
            </div>

            <div style="position:absolute; left: 1027.51px; top: 325.229px;" id="S2" title="Sollwert 252Y1" data-bind="bsAusgabefeld: {
              signalName:'Station_41.Register.AO306_sw_252y1',
              typ: 'berechnetersollwert',
              einheit: '%'
            }">
            </div>

            <!--Anlagenschalter, Sollwertfenster, Zeitschaltuhren, etc...-->
            <div style="position:absolute; left:1775px; top:635px" id="KLI02_I110sollwertfenster" title="Sollwerte L12 Lüftung Restaurant" data-bind="bsSollwertFenster: {
	dialogTitle: 'Sollwerte L12 Lüftung Restaurant',
	authorisierung: 'Administration',
	signals: [
		{ label: 'Raumtemperatur Winter [ºC]', signalname: 'Station_41.Register.sw_basis_raumtemp_L12', untergrenze: '', obergrenze: '' },
		{ label: 'Dauer Stufenhochschaltung [min]', signalname: 'Station_41.Register.t_vorwahl_st2_L12', untergrenze: '', obergrenze: '' }
		]}">
            </div>
           
            <!--LE-->
            <div style="position:absolute; left: 700px; top: 433px;" id="V1" title="245M1" data-bind="bsMotor2Stufen_lfc: {
    dialogTitle: '245M1',
    signalName: 'Station_41',
    stromPfad: '245m1',
	motorAusrichtung: 'links',
	motortyp: 'ventilator',
	handLinks: '20',
	handOben: '10',
	stufe: '2',
	}">
            </div>

            <div style="position:absolute; left: 1343.5px; top: 433px;" id="V2" title="215M1" data-bind="bsMotor2Stufen_lfc: {
    dialogTitle: '215M1',
    signalName: 'Station_41',
    stromPfad: '215m1',
	motorAusrichtung: 'rechts',
	motortyp: 'ventilator',
	handLinks: '20',
	handOben: '10',
	stufe: '2',
	}">
            </div>

            <div style="position:absolute; left: 1094px; top: 499.5px;" id="PU1" title="225M1" data-bind="bsMotorStufen_lfc: {
    dialogTitle: '225M1',
    signalName: 'Station_41',
    stromPfad: '225m1',
	motorAusrichtung: 'oben',
	motortyp: 'pumpe',
	handLinks: '20',
	handOben: '10',
	stufe: '0',
	}">
            </div>

            <!--Ventil-->
            <div style="position:absolute; left: 1091.5px; top: 544px" id="VT1" title="226Y1" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '42',
	anzeigefeldOben: '10',
	winkel: '180',
	signalName: 'Station_41.Register.AO304_sw_226y1'}">
            </div>

            <div style="position:absolute; left: 1254px; top: 544px" id="VT2" title="236Y1" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '42',
	anzeigefeldOben: '10',
	winkel: '180',
	signalName: 'Station_41.Register.AO305_sw_236y1'}">
            </div>

            <!--Klappen-->
            <div style="position:absolute; left: 414px; top: 242px;" id="K1" title="212Y1" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
	dialogtitle: '212Y1',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_41.Register.status_212y1',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 414px; top: 430px;" id="K2" title="212Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
	dialogtitle: '212Y3',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_41.Register.status_212y1',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 967px; top: 317px;" id="K3" title="KLI02_Y550 (O127_GA01_S001:177Y2)" data-bind="bsKlappe_lfc_without_state: {
	symbol:'bs bs-klappe-fahrend',
	dialogtitle: 'KLI02_Y550 (O127_GA01_S001:177Y2) UML Klappe',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '315',
    signalName: 'Station_41.Register.AO306_sw_252y1',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 927px; top: 273.5px;" id="K4" title="KLI02_Y550 (O127_GA01_S001:177Y2)" data-bind="bsKlappe_lfc_without_state: {
	symbol:'bs bs-klappe-fahrend',
	dialogtitle: 'KLI02_Y550 (O127_GA01_S001:177Y2) UML Klappe',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '315',
    signalName: 'Station_41.Register.AO306_sw_252y1',
    position: 'Buffer 3'
}"></div>

            <!--TPHSensor-->
            <div style="position:absolute; left: 180px; top: 212px;" id="TP1" title="211B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '0',
	sensortyp: 'T',
	signalName: 'Station_41.Register.AI211_temp_211b1',
	handLinks: '12',
	handOben: '2',
	}">
            </div>

            <div style="position:absolute; left: 180px; top: 401px;" id="TP2" title="248B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '0',
	sensortyp: 'T',
	signalName: 'Station_41.Register.AI214_temp_248b1',
	handLinks: '12',
	handOben: '2',
	}">
            </div>

            <div style="position:absolute; left: 1660px; top: 212px;" id="TP3" title="241B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '0',
	sensortyp: 'T',
	signalName: 'Station_41.Register.AI213_temp_241b1',
	handLinks: '12',
	handOben: '2',
	}">
            </div>

            <div style="position:absolute; left: 1660px; top: 401px;" id="TP4" title="218B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '0',
	sensortyp: 'T',
	signalName: 'Station_41.Register.AI212_temp_218b1',
	handLinks: '12',
	handOben: '2',
	}">
            </div>

            <div style="position:absolute; left: 1300px; top: 599px;" id="TP5" title="235B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '90',
	sensortyp: 'T',
	signalName: 'Station_41.Register.AI224_temp_235b1',
	handLinks: '12',
	handOben: '2',
   	anzeigefeldLinks: '26',
	anzeigefeldOben: '0',
	}">
            </div>

            <!--Wächter-->
            <div style="position:absolute; left: 704px; top: 189px" id="W1" title="213B1" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Station_41.Flag.al_213b1_filter',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left: 704px; top: 377px" id="W2" title="247B1" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Station_41.Flag.al_247b1',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left: 1346px; top: 189px" id="W3" title="243B1" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Station_41.Flag.al_243b1_filter',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left: 1346px; top: 377px" id="W4" title="217B1" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Station_41.Flag.al_217b1',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left: 1161.5px; top: 401px" id="W5" title="214B1" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '35',
     winkel: '0',
     sensortyp: 'F',
     signalName: 'Station_41.Flag.al_214b1_frost',
     einheit: 'ohne',
     }">
            </div>


            <!-- Text -->
            <p style="position: absolute; left: 871px; top: 341px;" class="bs-beschriftung-medium">WRG</p>
            <p style="position: absolute; left: 1094px; top: 325px;" class="bs-beschriftung-small-verteilung">Bypass</p>

            <!--  -->
           
            <!-- Workaround um den Bug in der Benutzeranmeldung zu korrigieren -->
            <wf-button style="visibility: hidden;" params="signalName: 'Setpoint 1', writeValue: 1, buttonText: 'Write Value :1', cssClass: 'btn-success', projectAuthorization: 'irgendeinWert'"></wf-button>
        </div>
    </div>
</div>
