﻿<!--****************************************************************************************************************************************************************************************************************************************************
    Bühler+Scherler
--------------------------------------------------------------------------------------------------------------------------


--------------------------------------------------------------------------------------------------------------------------
ERSTELLT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0		R.Brunnschweiler	BS                  10.07.2017
--------------------------------------------------------------------------------------------------------------------------
GEÄNDERT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0       F.Sabljo            BS                  14.02.18


********************************************************************************************************************************************************************************************************************************************************-->
<div class="container bs_content_container">
    <header>
        <h1 class="page-header bs-header-mittig">L16 Lüftung Verteilung 2 Hotelzimmer HA.SL01</h1>
        <!--BUILDING CONTROL-->
    </header>
    <div class="col-lg-12">
        <div class="bs-responsive bs-hotel-lueftungen-L16LueftungVerteilung02HotelzimmerHA_SL01 hidden-xs">
            <!--Seiten-Verlinkungen (Pfeile auf der Seite)-->
            <a style="position: absolute; left: 0px; top: 566px; text-decoration: none;" title="Abluft" class="bs-pfeil-verlinkung-abluft wf wf-arrow wf-w"></a>
            <a style="position: absolute; left: 0px; top: 602px; text-decoration: none;" title="Zuluft" class="bs-pfeil-verlinkung-zuluft wf wf-arrow"></a>
            <a style="position: absolute; left: 1816px; top: 602px; text-decoration: none;" title="Zuluft" class="bs-pfeil-verlinkung-zuluft wf wf-arrow"></a>
            <a style="position: absolute; left: 1816px; top: 566px; text-decoration: none;" title="Abluft" class="bs-pfeil-verlinkung-abluft wf wf-arrow wf-w"></a>

            <!-- Widgets -->

            <!--Klappen-->
            <div style="position:absolute; left: 979px; top: 539px;" id="K1" title="684Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '90',
    signalName: 'Station_43.Register.bsk.status_684y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1047px; top: 539px;" id="K2" title="685Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '90',
    signalName: 'Station_43.Register.bsk.status_685y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 917px; top: 505px;" id="K3" title="704Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_704y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 917px; top: 457px;" id="K4" title="703Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_703y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 767px; top: 505px;" id="K5" title="706Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_706y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 767px; top: 457px;" id="K6" title="705Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_705y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 917px; top: 393px;" id="K7" title="708Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_708y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 917px; top: 345px;" id="K8" title="707Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_707y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 767px; top: 393px;" id="K9" title="710Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_710y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 767px; top: 345px;" id="K10" title="709Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_709y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 917px; top: 281px;" id="K7" title="712Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_712y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 917px; top: 233px;" id="K8" title="711Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_711y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 767px; top: 281px;" id="K9" title="714Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_714y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 767px; top: 233px;" id="K10" title="713Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_713y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 917px; top: 168px;" id="K11" title="716Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_716y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 917px; top: 121px;" id="K12" title="715Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_715y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 767px; top: 168px;" id="K13" title="718Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_718y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 767px; top: 121px;" id="K14" title="717Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_717y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1100px; top: 505px;" id="K15" title="687Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_687y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1100px; top: 457px;" id="K16" title="686Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_686y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1190px; top: 457px;" id="K17" title="688Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_688y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1100px; top: 393px;" id="K18" title="691Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_691y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1100px; top: 345px;" id="K19" title="690Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_690y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1190px; top: 345px;" id="K20" title="692Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_692y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1100px; top: 281px;" id="K21" title="695Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_695y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1100px; top: 233px;" id="K22" title="694Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_694y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1190px; top: 233px;" id="K23" title="696Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_696y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1100px; top: 168px;" id="K24" title="699Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_699y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1100px; top: 121px;" id="K25" title="698Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_698y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1190px; top: 121px;" id="K26" title="701Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_701y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1100px; top: 29px;" id="K27" title="700Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_700y3',
    position: 'Buffer 3'
}"></div>

            <!-- Text -->
            <p style="position: absolute; left: 660px; top: 492px;" class="bs-beschriftung-small-verteilung">2.OG</p>
            <p style="position: absolute; left: 660px; top: 379px;" class="bs-beschriftung-small-verteilung">3.OG</p>
            <p style="position: absolute; left: 660px; top: 268px;" class="bs-beschriftung-small-verteilung">4.OG</p>
            <p style="position: absolute; left: 660px; top: 153px;" class="bs-beschriftung-small-verteilung">5.OG</p>
            <p style="position: absolute; left: 1290px; top: 492px;" class="bs-beschriftung-small-verteilung">2.OG</p>
            <p style="position: absolute; left: 1290px; top: 379px;" class="bs-beschriftung-small-verteilung">3.OG</p>
            <p style="position: absolute; left: 1290px; top: 268px;" class="bs-beschriftung-small-verteilung">4.OG</p>
            <p style="position: absolute; left: 1290px; top: 153px;" class="bs-beschriftung-small-verteilung">5.OG</p>
            <p style="position: absolute; left: 1290px; top: 28px;" class="bs-beschriftung-small-verteilung">Aufenthalt<br>5.OG</p>
            <p style="position: absolute; left: 877px; top: -12px;" class="bs-beschriftung-small-verteilung">Steigzone 05</p>
            <p style="position: absolute; left: 1003px; top: -12px;" class="bs-beschriftung-small-verteilung">Steigzone 06</p>

            <!--  -->
           
            <!-- Workaround um den Bug in der Benutzeranmeldung zu korrigieren -->
            <wf-button style="visibility: hidden;" params="signalName: 'Setpoint 1', writeValue: 1, buttonText: 'Write Value :1', cssClass: 'btn-success', projectAuthorization: 'irgendeinWert'"></wf-button>
        </div>
    </div>
</div>
