﻿<!--****************************************************************************************************************************************************************************************************************************************************
    Bühler+Scherler
--------------------------------------------------------------------------------------------------------------------------


--------------------------------------------------------------------------------------------------------------------------
ERSTELLT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0		R.Brunnschweiler	BS                  10.07.2017
--------------------------------------------------------------------------------------------------------------------------
GEÄNDERT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0       F.Sabljo            BS                  15.02.18


********************************************************************************************************************************************************************************************************************************************************-->
<div class="container bs_content_container">
    <header>
        <h1 class="page-header bs-header-mittig">L25 Lüftung Zentrale Bankett H1.SL06</h1>
        <!--BUILDING CONTROL-->
    </header>
    <div class="col-lg-12">
        <div class="bs-responsive bs-hotel-lueftungen-L25LueftungZentraleBankettH1_SL06 hidden-xs">
            <!--Seiten-Verlinkungen (Pfeile auf der Seite)-->
            <a style="position: absolute; left: 0px; top: 237px; text-decoration: none;" title="Aussenluft" class="bs-pfeil-verlinkung-aussenluft wf wf-arrow"></a>
            <a style="position: absolute; left: 0px; top: 423px; text-decoration: none;" title="Fortluft" class="bs-pfeil-verlinkung-fortluft wf wf-arrow wf-w"></a>
            <a style="position: absolute; left: 1816px; top: 425px; text-decoration: none;" title="Zuluft" class="bs-pfeil-verlinkung-zuluft wf wf-arrow"></a>
            <a style="position: absolute; left: 1816px; top: 237px; text-decoration: none;" title="Abluft" class="bs-pfeil-verlinkung-abluft wf wf-arrow wf-w"></a>
            <!-- Widget -->
            <!-- Sollwert -->
            <div style="position:absolute; left: 1637.5px; top: 351px;" id="S1" title="Sollwert Zulufttemperatur 118B1" data-bind="bsAusgabefeld: {
              signalName:'Station_50.Register.sw_temp_zul',
              typ: 'berechnetersollwert',
              einheit: '°C'
            }">
            </div>

            <div style="position:absolute; left: 1027.51px; top: 325.229px;" id="S2" title="Sollwert Ventil 152Y1" data-bind="bsAusgabefeld: {
              signalName:'Station_50.Register.AO130_152y1',
              typ: 'berechnetersollwert',
              einheit: '%'
            }">
            </div>

            <!--Anlagenschalter, Sollwertfenster, Zeitschaltuhren, etc...-->
            <div style="position:absolute; left:1676px; top:635px" id="KLI02" title="L25 Lüftung Bankett" data-bind="bsAnlageschalter_lfc: {
	dialogTitle: 'L25 Lüftung Bankett ',
	signalName: 'Station_50',
    stromPfad: 'sws_L25'
	}">
            </div>
            <div style="position:absolute; left:1721px; top:635px" id="KLI02_I110sollwertfenster" title="Sollwerte L25 Lüftung Bankett" data-bind="bsSollwertFenster: {
	dialogTitle: 'Sollwerte L25 Lüftung Bankett',
	authorisierung: 'Administration',
	signals: [
		{ label: 'Zulufttemperatur 118B1 [°C]', signalname: 'Station_50.Register.sw_temp_181b1', untergrenze: '', obergrenze: '' },
		{ label: 'Ein/Ausverzögerung St2 [min]', signalname: 'Station_50.Register.sw_t_vorwahl_st2', untergrenze: '', obergrenze: '' },
		{ label: 'Einschaltbed. Kühlventil St2 [°C]', signalname: 'Station_50.Register.sw_lim_vorwahl_st2', untergrenze: '', obergrenze: '' }
		]}">
            </div>
            <div style="position:absolute; left:1766px; top:635px" id="KLI02_I201schaltuhr" title="Schaltuhr Lüftungsanlage Bankett" data-bind="bsSchaltuhr_lfc: {
	signalName: 'Station_50',
    uhr: 'su_L25',
	dialogTitle: 'Schaltuhr Lüftungsanlage Bankett' }">
            </div>

            <!--LE-->
            <div style="position:absolute; left: 700px; top: 433px;" id="V1" title="145M1" data-bind="bsMotor2Stufen_lfc: {
    dialogTitle: 'Venti 145M1',
    signalName: 'Station_50',
    stromPfad: '145m1',
	motorAusrichtung: 'links',
	motortyp: 'ventilator',
	handLinks: '20',
	handOben: '10',
	stufe: '2',
	}">
            </div>

            <div style="position:absolute; left: 1343.5px; top: 433px;" id="V2" title="115M1" data-bind="bsMotor2Stufen_lfc: {
    dialogTitle: 'Venti 115M1',
    signalName: 'Station_50',
    stromPfad: '115m1',
	motorAusrichtung: 'rechts',
	motortyp: 'ventilator',
	handLinks: '20',
	handOben: '10',
	stufe: '2',
	}">
            </div>

            <div style="position:absolute; left: 1094px; top: 499.5px;" id="PU1" title="125M1" data-bind="bsMotorStufen_lfc: {
    dialogTitle: 'Pumpe 125M1',
    signalName: 'Station_50',
    stromPfad: '125m1',
	motorAusrichtung: 'oben',
	motortyp: 'pumpe',
	handLinks: '20',
	handOben: '10',
	stufe: '0',
	}">
            </div>

            <!--Ventil-->
            <div style="position:absolute; left: 1091.5px; top: 544px" id="VT1" title="126Y1" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '42',
	anzeigefeldOben: '10',
	winkel: '180',
	signalName: 'Station_50.Register.AO128_126y1'}">
            </div>

            <div style="position:absolute; left: 1254px; top: 544px" id="VT2" title="136Y1" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '42',
	anzeigefeldOben: '10',
	winkel: '180',
	signalName: 'Station_50.Register.AO129_136y1'}">
            </div>

            <!--Klappen-->
            <div style="position:absolute; left: 414px; top: 242px;" id="K1" title="112Y1" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
	dialogtitle: 'KLI02_Y550 (O127_GA01_S001:177Y2) UML Klappe',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_50.Register.status_112y1',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 414px; top: 430px;" id="K2" title="163Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
	dialogtitle: 'KLI02_Y550 (O127_GA01_S001:177Y2) UML Klappe',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_50.Register.status_163y3',
    position: 'Station_50.Register.status_163y3'
}"></div>

            <div style="position:absolute; left: 967px; top: 317px;" id="K3" title="KLI02_Y550 (O127_GA01_S001:177Y2)" data-bind="bsKlappe_lfc_without_state: {
	symbol:'bs bs-klappe-fahrend',
	dialogtitle: 'KLI02_Y550 (O127_GA01_S001:177Y2) UML Klappe',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '315',
    signalName: 'Buffer 3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 927px; top: 273.5px;" id="K4" title="KLI02_Y550 (O127_GA01_S001:177Y2)" data-bind="bsKlappe_lfc_without_state: {
	symbol:'bs bs-klappe-fahrend',
	dialogtitle: 'KLI02_Y550 (O127_GA01_S001:177Y2) UML Klappe',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '315',
    signalName: 'Buffer 3',
    position: 'Buffer 3'
}"></div>

            <!--TPHSensor-->
            <div style="position:absolute; left: 180px; top: 212px;" id="TP1" title="111B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '0',
	sensortyp: 'T',
	signalName: 'Station_50.Register.AI160_temp_111b1',
	handLinks: '12',
	handOben: '2',
	}">
            </div>

            <div style="position:absolute; left: 180px; top: 401px;" id="TP2" title="148B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '0',
	sensortyp: 'T',
	signalName: 'Station_50.Register.AI164_temp_148b1',
	handLinks: '12',
	handOben: '2',
	}">
            </div>

            <div style="position:absolute; left: 1660px; top: 212px;" id="TP3" title="141B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '0',
	sensortyp: 'T',
	signalName: 'Station_50.Register.AI163_temp_141b1',
	handLinks: '12',
	handOben: '2',
	}">
            </div>

            <div style="position:absolute; left: 1660px; top: 401px;" id="TP4" title="118B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '0',
	sensortyp: 'T',
	signalName: 'Station_50.Register.AI161_temp_118b1',
	handLinks: '12',
	handOben: '2',
	}">
            </div>



            <!--Wächter-->
            <div style="position:absolute; left: 704px; top: 189px" id="W1" title="113B1" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Station_50.Flag.al_113b1_filter',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left: 704px; top: 377px" id="W2" title="147B1" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Station_50.Flag.al_147b1',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left: 1346px; top: 189px" id="W3" title="143B1" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Station_50.Flag.al_143b1_filter',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left: 1346px; top: 377px" id="W4" title="117B1" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Station_50.Flag.al_117b1',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left: 1161.5px; top: 401px" id="W5" title="114B1" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '35',
     winkel: '0',
     sensortyp: 'F',
     signalName: 'Station_50.Flag.al_114b1_frost',
     einheit: 'ohne',
     }">
            </div>


            <!-- Text -->
            <p style="position: absolute; left: 871px; top: 341px;" class="bs-beschriftung-medium">WRG</p>
            <p style="position: absolute; left: 1094px; top: 325px;" class="bs-beschriftung-small-verteilung">Bypass</p>
           
            <!-- Workaround um den Bug in der Benutzeranmeldung zu korrigieren -->
            <wf-button style="visibility: hidden;" params="signalName: 'Setpoint 1', writeValue: 1, buttonText: 'Write Value :1', cssClass: 'btn-success', projectAuthorization: 'irgendeinWert'"></wf-button>
        </div>
    </div>
</div>
