﻿<!--****************************************************************************************************************************************************************************************************************************************************
    Bühler+Scherler
--------------------------------------------------------------------------------------------------------------------------


--------------------------------------------------------------------------------------------------------------------------
ERSTELLT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0		R.Brunnschweiler	BS                  10.07.2017
--------------------------------------------------------------------------------------------------------------------------
GEÄNDERT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0       F.Sabljo            BS                  13.02.2018


********************************************************************************************************************************************************************************************************************************************************-->
<div class="container bs_content_container">
    <header>
        <h1 class="page-header bs-header-mittig">L14 Lüftung Zentrale Konferenz HA.SL01</h1>
        <!--BUILDING CONTROL-->
    </header>
    <div class="col-lg-12">
        <div class="bs-responsive bs-hotel-lueftungen-L14LueftungZentraleKonferenzHA_SL01 hidden-xs">
            <!--Seiten-Verlinkungen (Pfeile auf der Seite)-->
            <a style="position: absolute; left: 0px; top: 237px; text-decoration: none;" title="Aussenluft" class="bs-pfeil-verlinkung-aussenluft wf wf-arrow"></a>
            <a style="position: absolute; left: 0px; top: 424px; text-decoration: none;" title="Fortluft" class="bs-pfeil-verlinkung-fortluft wf wf-arrow wf-w"></a>
            <a style="position: absolute; left: 1816px; top: 425px; text-decoration: none;" title="Zuluft" class="bs-pfeil-verlinkung-zuluft wf wf-arrow"></a>
            <a style="position: absolute; left: 1816px; top: 237px; text-decoration: none;" title="Abluft" class="bs-pfeil-verlinkung-abluft wf wf-arrow wf-w"></a>
            <!-- Widget -->
            <!-- Sollwert -->
            <div style="position:absolute; left: 1727.5px; top: 162px;" id="S1" title="Differenzdruck ABL 350B1" data-bind="bsAusgabefeld: {
              signalName:'Station_42.Register.sw_diffdruck_abl_L14',
              typ: 'berechnetersollwert',
              einheit: 'Pa'
            }">
            </div>

            <div style="position:absolute; left: 1727.5px; top: 351px;" id="S2" title="Sollwert Differenzdruck 320B1" data-bind="bsAusgabefeld: {
              signalName:'Station_42.Register.sw_diffdruck_zul_L14',
              typ: 'berechnetersollwert',
              einheit: 'Pa'
            }">
            </div>

            <div style="position:absolute; left: 1637.5px; top: 351px;" id="S3" title="Sollwert ZUL Temperatur" data-bind="bsAusgabefeld: {
              signalName:'Station_42.Register.sw_temp_zul',
              typ: 'berechnetersollwert',
              einheit: '°C'
            }">
            </div>

            <div style="position:absolute; left: 1027.51px; top: 325.229px;" id="S4" title="Sollwert 352Y1" data-bind="bsAusgabefeld: {
              signalName:'Station_42.Register.AO034_sw_352y1',
              typ: 'berechnetersollwert',
              einheit: '%'
            }">
            </div>

            <div style="position:absolute; left: 684px; top: 470px;" id="S5" title="Sollwert FU 345U1" data-bind="bsAusgabefeld: {
              signalName:'Station_42.Register.AO051_sw_345u0',
              typ: 'berechnetersollwert',
              einheit: '%'
            }">
            </div>

            <div style="position:absolute; left: 1328px; top: 470px;" id="S6" title="Sollwert FU 315U1" data-bind="bsAusgabefeld: {
              signalName:'Station_42.Register.AO035_sw_315u0',
              typ: 'berechnetersollwert',
              einheit: '%'
            }">
            </div>

            <!--Anlagenschalter, Sollwertfenster, Zeitschaltuhren, etc...-->
            <div style="position:absolute; left:1685px; top:635px" id="KLI02" title="L14 Lüftung Konferenz" data-bind="bsAnlageschalter_lfc: {
	dialogTitle: 'L14 Lüftung Konferenz ',
	signalName: 'Station_42',
    stromPfad: 'lueftung_L14'
	}">
            </div>

            <div style="position:absolute; left:1730px; top:635px" id="KLI02_I110sollwertfenster" title="Sollwerte L14 Lüftung Konferenz" data-bind="bsSollwertFenster: {
	dialogTitle: 'Sollwerte L14 Lüftung Konferenz',
	authorisierung: 'Administration',
	signals: [
		{ label: 'Differenzdruck ZUL [Pa]', signalname: 'Station_42.Register.sw_diffdruck_zul_L14', untergrenze: '', obergrenze: '' },
		{ label: 'Differenzdruck ABL [Pa]', signalname: 'Station_42.Register.sw_diffdruck_abl_L14', untergrenze: '', obergrenze: '' },
		{ label: 'ZUL/Raumtemp Winter [ºC]', signalname: 'Station_42.Register.sw_temp_318b1', untergrenze: '', obergrenze: '' }
		]}">
            </div>

            <div style="position:absolute; left:1775px; top:635px" id="KLI02_I201schaltuhr" title="Schaltuhr Lüftungsanlage L14 Konferenz" data-bind="bsSchaltuhr_lfc: {
	signalName: 'Station_42',
    uhr: 'su_L14',
	dialogTitle: 'Schaltuhr Lüftungsanlage L14 Konferenz' }">
            </div>

            <!--LE-->
            <div style="position:absolute; left: 700px; top: 433px;" id="V1" title="345M1" data-bind="bsMotorStufen_lfc: {
    dialogTitle: 'Ventilator 345M1',
    signalName: 'Station_42',
    stromPfad: '345m1',
	motorAusrichtung: 'links',
	motortyp: 'ventilator',
	handLinks: '20',
	handOben: '10',
	}">
            </div>

            <div style="position:absolute; left: 1343.5px; top: 433px;" id="V2" title="315M1" data-bind="bsMotorStufen_lfc: {
    dialogTitle: 'Ventilator 315M1',
    signalName: 'Station_42',
    stromPfad: '315m1',
	motorAusrichtung: 'rechts',
	motortyp: 'ventilator',
	handLinks: '20',
	handOben: '10',
	}">
            </div>

            <div style="position:absolute; left: 1094px; top: 499.5px;" id="PU1" title="325M1" data-bind="bsMotorStufen_lfc: {
    dialogTitle: 'Pumpe 325M1',
    signalName: 'Station_42',
    stromPfad: '325m1',
	motorAusrichtung: 'oben',
	motortyp: 'pumpe',
	handLinks: '20',
	handOben: '10',
	}">
            </div>

            <!--Ventil-->
            <div style="position:absolute; left: 1091.5px; top: 544px" id="VT1" title="326Y1" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '42',
	anzeigefeldOben: '10',
	winkel: '180',
	signalName: 'Station_42.Register.AO032_sw_326y1'}">
            </div>

            <div style="position:absolute; left: 1254px; top: 544px" id="VT2" title="336Y1" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '42',
	anzeigefeldOben: '10',
	winkel: '180',
	signalName: 'Station_42.Register.AO033_sw_336y1'}">
            </div>

            <!--Klappen-->
            <div style="position:absolute; left: 414px; top: 242px;" id="K1" title="312Y1" data-bind="bsKlappe_lfc: {
    symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
	signalName: 'Station_42.Register.status_312y3',
    position: 'Buffer 3'
  }">
            </div>

            <div style="position:absolute; left: 414px; top: 430px;" id="K2" title="312Y3" data-bind="bsKlappe_lfc: {
    symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
	signalName: 'Station_42.Register.status_312y3',
    position: 'Buffer 3'
  }">
            </div>

            <div style="position:absolute; left: 967px; top: 317px;" id="K3" title="KLI02_Y550 (O127_GA01_S001:177Y2)" data-bind="bsKlappe_lfc_without_state: {
    symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '315',
    signalName: 'Buffer 3',
    position: 'Buffer 3'
}">
            </div>

            <div style="position:absolute; left: 927px; top: 273.5px;" id="K4" title="KLI02_Y550 (O127_GA01_S001:177Y2)" data-bind="bsKlappe_lfc_without_state: {
    symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '315',
    signalName: 'Buffer 3',
    position: 'Buffer 3'
}">
            </div>

            <!--TPHSensor-->
            <div style="position:absolute; left: 180px; top: 212px;" id="TP1" title="311B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '0',
	sensortyp: 'T',
	signalName: 'Station_42.Register.AI448_temp_311b1',
	handLinks: '12',
	handOben: '2',
	}">
            </div>

            <div style="position:absolute; left: 180px; top: 401px;" id="TP2" title="348B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '0',
	sensortyp: 'T',
	signalName: 'Station_42.Register.AI452_temp_348b1',
	handLinks: '12',
	handOben: '2',
	}">
            </div>

            <div style="position:absolute; left: 1660px; top: 212px;" id="TP3" title="341B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '0',
	sensortyp: 'T',
	signalName: 'Station_42.Register.AI451_temp_341b1',
	handLinks: '12',
	handOben: '2',
	}">
            </div>

            <div style="position:absolute; left: 1660px; top: 401px;" id="TP4" title="318B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '0',
	sensortyp: 'T',
	signalName: 'Station_42.Register.AI449_temp_318b1',
	handLinks: '12',
	handOben: '2',
	}">
            </div>

            <div style="position:absolute; left: 1750px; top: 212px;" id="TP5" title="350B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '0',
    einheit: 'Pa',
	sensortyp: 'P',
    signalName: 'Station_42.Register.AI453_pd_350b1',
	handLinks: '12',
	handOben: '2',
	}">
            </div>

            <div style="position:absolute; left: 1750px; top: 401px;" id="TP6" title="320B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '0',
    einheit: 'Pa',
	sensortyp: 'P',
    signalName: 'Station_42.Register.AI450_pd_320b1',
	handLinks: '12',
	handOben: '2',
	}">
            </div>

            <div style="position:absolute; left: 1300px; top: 599px;" id="TP7" title="335B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '90',
	sensortyp: 'T',
    signalName: 'Station_42.Register.AI454_temp_335b1',
	handLinks: '12',
	handOben: '2',
   	anzeigefeldLinks: '26',
	anzeigefeldOben: '0',
	}">
            </div>

            <!--Wächter-->
            <div style="position:absolute; left: 704px; top: 189px" id="W1" title="313B1" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Station_42.Flag.al_313b1_filter',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left: 704px; top: 377px" id="W2" title="347B2" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Station_42.Flag.al_347b2',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left: 1346px; top: 189px" id="W3" title="343B1" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Station_42.Flag.al_343b1_filter',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left: 1346px; top: 377px" id="W4" title="317B2" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Station_42.Flag.al_317b2',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left: 1161.5px; top: 401px" id="W5" title="314B1" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '35',
     winkel: '0',
     sensortyp: 'F',
     signalName: 'Station_42.Flag.al_314b1_frost',
     einheit: 'ohne',
     }">
            </div>

            <!-- Text -->
            <p style="position: absolute; left: 871px; top: 341px;" class="bs-beschriftung-medium">WRG</p>
            <p style="position: absolute; left: 1094px; top: 325px;" class="bs-beschriftung-small-verteilung">Bypass</p>

            <!--  -->
           
            <!-- Workaround um den Bug in der Benutzeranmeldung zu korrigieren -->
            <wf-button style="visibility: hidden;" params="signalName: 'Setpoint 1', writeValue: 1, buttonText: 'Write Value :1', cssClass: 'btn-success', projectAuthorization: 'irgendeinWert'"></wf-button>
        </div>
    </div>
</div>
