﻿<!--****************************************************************************************************************************************************************************************************************************************************
    Bühler+Scherler
--------------------------------------------------------------------------------------------------------------------------


--------------------------------------------------------------------------------------------------------------------------
ERSTELLT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0		R.Brunnschweiler	BS                  10.07.2017
--------------------------------------------------------------------------------------------------------------------------
GEÄNDERT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0       F.Sabljo            BS                  15.02.2018


********************************************************************************************************************************************************************************************************************************************************-->
<div class="container bs_content_container">
    <header>
        <h1 class="page-header bs-header-mittig">L23 Lüftung Verteilung Fitness H5.SL04</h1>
        <!--BUILDING CONTROL-->
    </header>
    <div class="col-lg-12">
        <div class="bs-responsive bs-hotel-lueftungen-L23LueftungVerteilungFitnessH5_SL04 hidden-xs">
            <!--Seiten-Verlinkungen (Pfeile auf der Seite)-->
            <!-- Widgets -->
            <!-- Sollwert -->
            <!--<div style="position:absolute; left: 1176.5px; top: 95px;" id="S1" title="Sollwert M100" data-bind="bsAusgabefeld: {
              signalName:'O127_GA01.stKLI02_I100.W_rSollwert',
              typ: 'berechnetersollwert',
              einheit: '%'
            }">
            </div>-->
            <div style="position:absolute;  left: 429px; top: 557px;" id="W5" title="Übertemperatur 170S1" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '35',
     winkel: '0',
     sensortyp: 'üT',
     signalName: 'Station_48.Flag.al_170b1_uebertemp_vl',
     einheit: 'ohne',
     }">
            </div>
            <!--LE-->
            <div style="position:absolute; left: 1255.5px; top: 383px;" id="V1" title="145M1" data-bind="bsMotor3Stufen_lfc: {
    dialogTitle: 'Venti 145M1',
    signalName: 'Station_48',
    stromPfad: '145_155m1',
	motorAusrichtung: 'rechts',
	motortyp: 'ventilator',
	handLinks: '20',
	handOben: '10',
	stufe: '3',
	}">
            </div>

            <div style="position:absolute; left: 1255.5px; top: 592px;" id="V2" title="155M1" data-bind="bsMotor3Stufen_lfc: {
    dialogTitle: 'Venti 155M1',
    signalName: 'Station_48',
    stromPfad: '145_155m1',
	motorAusrichtung: 'rechts',
	motortyp: 'ventilator',
	handLinks: '20',
	handOben: '10',
	stufe: '3',
	}">
            </div>

            <!--Ventil-->
            <div style="position:absolute; left: 486.5px; top: 85px;" id="VT1" title="161Y1" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '42',
	anzeigefeldOben: '10',
	winkel: '180',
	signalName: 'Station_48.Flag.DO016_en_161y1'}">
            </div>

            <div style="position:absolute; left: 1135px; top: 85px" id="VT2" title="166Y1" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	dialogtitle: 'KLI02_Y250 (O127_GA01_S001:143Y2) Ventil LE',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '42',
	anzeigefeldOben: '10',
	winkel: '180',
	signalName: 'Station_48.Register.sw_n_seq_166y1_2'}">
            </div>

            <div style="position:absolute; left: 1250px; top: 85px" id="VT3" title="166Y3 " data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '42',
	anzeigefeldOben: '10',
	winkel: '180',
	signalName: 'Station_48.Register.sw_n_seq_166y1_2'}">
            </div>

            <div style="position:absolute; left: 1188px; top: 326px;" id="VT4" title="146Y1" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '42',
	anzeigefeldOben: '-10',
	winkel: '90',
	signalName: 'Station_48.Register.sw_n_seq_146_156y1'}">
            </div>

            <div style="position:absolute; left: 1188px; top: 536px;" id="VT5" title="156Y1" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '42',
	anzeigefeldOben: '-10',
	winkel: '90',
	signalName: 'Station_48.Register.sw_n_seq_146_156y1'}">
            </div>

            <!--TPHSensor-->
            <!--<div style="position:absolute; left: 429px; top: 557px;" id="TP1" title="170B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '0',
	sensortyp: 'Q',
	signalName: 'Station_48.Flag.al_170b1_uebertemp_vl',
	handLinks: '12',
	handOben: '2',
	}">
            </div>-->

            <div style="position:absolute; left: 1415px; top: 149px;" id="TP2" title="165B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '0',
	sensortyp: 'T',
	signalName: 'Station_48.Register.AI050_165b1',
	handLinks: '12',
	handOben: '2',
    einheit: '°C',
	anzeigefeldLinks: '-75',
	anzeigefeldOben: '10',
	}">
            </div>

            <!-- Text -->
            <p style="position: absolute; left: 209px; top: 74px;" class="bs-beschriftung-medium-weiss">Garderobe</p>
            <p style="position: absolute; left: 895px; top: 74px;" class="bs-beschriftung-medium-weiss">Fitness/Geräte</p>


            <!--  -->
           
            <!-- Workaround um den Bug in der Benutzeranmeldung zu korrigieren -->
            <wf-button style="visibility: hidden;" params="signalName: 'Setpoint 1', writeValue: 1, buttonText: 'Write Value :1', cssClass: 'btn-success', projectAuthorization: 'irgendeinWert'"></wf-button>
        </div>
    </div>
</div>
