﻿<!--****************************************************************************************************************************************************************************************************************************************************
    Bühler+Scherler
--------------------------------------------------------------------------------------------------------------------------


--------------------------------------------------------------------------------------------------------------------------
ERSTELLT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0		R.Brunnschweiler	BS                  10.07.2017
--------------------------------------------------------------------------------------------------------------------------
GEÄNDERT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0       F.Sabljo            BS                  15.02.2018


********************************************************************************************************************************************************************************************************************************************************-->
<div class="container bs_content_container">
    <header>
        <h1 class="page-header bs-header-mittig">L23 Lüftung Verteilung Ruheraum H5.SL04</h1>
        <!--BUILDING CONTROL-->
    </header>
    <div class="col-lg-12">
        <div class="bs-responsive bs-hotel-lueftungen-L23LueftungVerteilungFitnessruheraumH5_SL04 hidden-xs">
            <!--Seiten-Verlinkungen (Pfeile auf der Seite)-->
            <!-- Widgets -->
            <!--Anlagenschalter, Sollwertfenster, Zeitschaltuhren, etc...-->
            <div style="position:absolute; left:1730px; top:635px" id="KLI02_I201schaltuhr" title="Schaltuhr Lüftungsanlage Fitness" data-bind="bsSchaltuhr_lfc: {
	signalName: 'Station_48',
    uhr: 'su_L23',
	dialogTitle: 'Schaltuhr Lüftungsanlage Fitness' }">
            </div>

            <div style="position:absolute; left:1775px; top:635px" id="KLI02_I110sollwertfenster" title="Sollwerte L23 Lüftung Fitness" data-bind="bsSollwertFenster: {
	dialogTitle: 'Sollwerte L23 Lüftung Fitness',
	authorisierung: 'Administration',
	signals: [
		{ label: 'Fitness Sommer [°C]', signalname: 'Station_48.Register.sw_temp_fitness_sommer', untergrenze: '', obergrenze: '' },
		{ label: 'Fitness Winter [°C]', signalname: 'Station_48.Register.sw_temp_fitness_winter', untergrenze: '', obergrenze: '' },
		{ label: 'Fitness Fussbad [°C]', signalname: 'Station_48.Register.sw_temp_fussbad', untergrenze: '', obergrenze: '' },
		{ label: 'Ruheraum Sommer [°C]', signalname: 'Station_48.Register.sw_temp_ruheraum_sommer', untergrenze: '', obergrenze: '' },
		{ label: 'Ruheraum Winter [°C]', signalname: 'Station_48.Register.sw_temp_ruheraum_winter', untergrenze: '', obergrenze: '' },
		]}">
            </div>

            <!--LE-->
            <div style="position:absolute; left: 1255.5px; top: 383px;" id="V1" title="115M1" data-bind="bsMotor3Stufen_lfc: {
    dialogTitle: 'Venti 115M1',
    signalName: 'Station_48',
    stromPfad: '115_125m1',
	motorAusrichtung: 'rechts',
	motortyp: 'ventilator',
	handLinks: '20',
	handOben: '10',
	stufe: '3',
	}">
            </div>

            <div style="position:absolute; left: 1255.5px; top: 592px;" id="V2" title="125M1" data-bind="bsMotor3Stufen_lfc: {
    dialogTitle: 'Venti 125M1',
    signalName: 'Station_48',
    stromPfad: '115_125m1',
	motorAusrichtung: 'rechts',
	motortyp: 'ventilator',
	handLinks: '20',
	handOben: '10',
	stufe: '3',
	}">
            </div>

            <!--Ventil-->
            <div style="position:absolute; left: 486.5px; top: 85px;" id="VT1" title="131Y1" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '42',
	anzeigefeldOben: '10',
	winkel: '180',
	signalName: 'Station_48.Register.sw_n_pi_131y1'}">
            </div>

            <div style="position:absolute; left: 1135px; top: 85px" id="VT2" title="136Y1" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '42',
	anzeigefeldOben: '10',
	winkel: '180',
	signalName: 'Station_48.Register.sw_n_seq_136y1_3'}">
            </div>

            <div style="position:absolute; left: 1275px; top: 85px" id="VT3" title="136Y2" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '42',
	anzeigefeldOben: '10',
	winkel: '180',
	signalName: 'Station_48.Register.sw_n_seq_136y1_3'}">
            </div>

            <div style="position:absolute; left: 1415px; top: 85px" id="VT4" title="136Y3" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '42',
	anzeigefeldOben: '10',
	winkel: '180',
	signalName: 'Station_48.Register.sw_n_seq_136y1_3'}">
            </div>

            <div style="position:absolute; left: 1188px; top: 326px;" id="VT5" title="116Y1" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '42',
	anzeigefeldOben: '-10',
	winkel: '90',
	signalName: 'Station_48.Register.sw_n_seq_116_126y1'}">
            </div>

            <div style="position:absolute; left: 1188px; top: 536px;" id="VT6" title="126Y1" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '42',
	anzeigefeldOben: '-10',
	winkel: '90',
	signalName: 'Station_48.Register.sw_n_seq_116_126y1'}">
            </div>

            <!--TPHSensor-->
            <div style="position:absolute; left: 494px; top: 149px;" id="TP1" title="130B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '0',
	sensortyp: 'T',
	handLinks: '12',
	handOben: '2',
    einheit: '°C',
	anzeigefeldLinks: '35',
	anzeigefeldOben: '1',
	signalName: 'Station_48.Register.AI048_130b1'
	}">
            </div>

            <div style="position:absolute; left: 1423px; top: 149px;" id="TP2" title="135B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '0',
	sensortyp: 'T',
	handLinks: '12',
	handOben: '2',
    einheit: '°C',
	anzeigefeldLinks: '35',
	anzeigefeldOben: '1',
	signalName: 'Station_48.Register.AI049_135b1'
	}">
            </div>

            <!-- Text -->
            <p style="position: absolute; left: 209px; top: 74px;" class="bs-beschriftung-medium-weiss">Fussbad-<br>Duschbereich</p>
            <p style="position: absolute; left: 895px; top: 74px;" class="bs-beschriftung-medium-weiss">Ruheraum</p>


            <!--  -->
           
            <!-- Workaround um den Bug in der Benutzeranmeldung zu korrigieren -->
            <wf-button style="visibility: hidden;" params="signalName: 'Setpoint 1', writeValue: 1, buttonText: 'Write Value :1', cssClass: 'btn-success', projectAuthorization: 'irgendeinWert'"></wf-button>
        </div>
    </div>
</div>
