﻿<!--****************************************************************************************************************************************************************************************************************************************************
    Bühler+Scherler
--------------------------------------------------------------------------------------------------------------------------


--------------------------------------------------------------------------------------------------------------------------
ERSTELLT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0		R.Brunnschweiler	BS                  10.07.2017
--------------------------------------------------------------------------------------------------------------------------
GEÄNDERT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0       F.Sabljo            BS                  14.02.18


********************************************************************************************************************************************************************************************************************************************************-->
<div class="container bs_content_container">
    <header>
        <h1 class="page-header bs-header-mittig">L16 Lüftung Verteilung 4 Hotelzimmer HA.SL01</h1>
        <!--BUILDING CONTROL-->
    </header>
    <div class="col-lg-12">
        <div class="bs-responsive bs-hotel-lueftungen-L16LueftungVerteilung04HotelzimmerHA_SL01 hidden-xs">
            <!--Seiten-Verlinkungen (Pfeile auf der Seite)-->
            <a style="position: absolute; left: 0px; top: 566px; text-decoration: none;" title="Abluft" class="bs-pfeil-verlinkung-abluft wf wf-arrow wf-w"></a>
            <a style="position: absolute; left: 0px; top: 602px; text-decoration: none;" title="Zuluft" class="bs-pfeil-verlinkung-zuluft wf wf-arrow"></a>
            <a style="position: absolute; left: 1816px; top: 602px; text-decoration: none;" title="Zuluft" class="bs-pfeil-verlinkung-zuluft wf wf-arrow"></a>
            <a style="position: absolute; left: 1816px; top: 566px; text-decoration: none;" title="Abluft" class="bs-pfeil-verlinkung-abluft wf wf-arrow wf-w"></a>

            <!-- Widgets -->
            <!--Klappen-->
            <div style="position:absolute; left: 979px; top: 537px;" id="K1" title="737Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '90',
    signalName: 'Station_43.Register.bsk.status_737y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1047px; top: 537px;" id="K2" title="738Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '90',
    signalName: 'Station_43.Register.bsk.status_738y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 917px; top: 505px;" id="K3" title="756Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_756y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 917px; top: 457px;" id="K4" title="755Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_755y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 767px; top: 505px;" id="K5" title="758Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_758y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 767px; top: 457px;" id="K6" title="757Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_757y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 917px; top: 393px;" id="K7" title="760Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_760y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 917px; top: 345px;" id="K8" title="759Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_759y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 767px; top: 393px;" id="K9" title="762Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_762y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 767px; top: 345px;" id="K10" title="761Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_761y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 917px; top: 281px;" id="K7" title="764Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_764y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 917px; top: 233px;" id="K8" title="763Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_763y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 767px; top: 281px;" id="K9" title="766Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_766y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 767px; top: 233px;" id="K10" title="765Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_765y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 917px; top: 168px;" id="K11" title="768Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_768y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 917px; top: 121px;" id="K12" title="767Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_767y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 767px; top: 168px;" id="K13" title="770Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_770y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 767px; top: 121px;" id="K14" title="769Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_769y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1100px; top: 505px;" id="K15" title="740Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_740y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1100px; top: 457px;" id="K16" title="739Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_739y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1190px; top: 457px;" id="K17" title="741Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_741y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1100px; top: 393px;" id="K18" title="744Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_744y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1100px; top: 345px;" id="K19" title="743Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_743y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1190px; top: 345px;" id="K20" title="745Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_745y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1100px; top: 281px;" id="K21" title="748Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_748y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1100px; top: 233px;" id="K22" title="747Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_747y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1190px; top: 233px;" id="K23" title="749Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_749y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1100px; top: 168px;" id="K24" title="752Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_752y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1100px; top: 121px;" id="K25" title="751Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_751y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1190px; top: 121px;" id="K26" title="753Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_753y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1190px; top: 505px;" id="K27" title="742Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_742y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1190px; top: 393px;" id="K28" title="746Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_746y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1190px; top: 281px;" id="K28" title="750Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_750y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1190px; top: 168px;" id="K28" title="754Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_43.Register.bsk.status_754y3',
    position: 'Buffer 3'
}"></div>

            <!-- Text -->
            <p style="position: absolute; left: 660px; top: 492px;" class="bs-beschriftung-small-verteilung">2.OG</p>
            <p style="position: absolute; left: 660px; top: 379px;" class="bs-beschriftung-small-verteilung">3.OG</p>
            <p style="position: absolute; left: 660px; top: 268px;" class="bs-beschriftung-small-verteilung">4.OG</p>
            <p style="position: absolute; left: 660px; top: 153px;" class="bs-beschriftung-small-verteilung">5.OG</p>
            <p style="position: absolute; left: 1290px; top: 492px;" class="bs-beschriftung-small-verteilung">2.OG</p>
            <p style="position: absolute; left: 1290px; top: 379px;" class="bs-beschriftung-small-verteilung">3.OG</p>
            <p style="position: absolute; left: 1290px; top: 268px;" class="bs-beschriftung-small-verteilung">4.OG</p>
            <p style="position: absolute; left: 1290px; top: 153px;" class="bs-beschriftung-small-verteilung">5.OG</p>
            <p style="position: absolute; left: 1075px; top: 80px;" class="bs-beschriftung-small-verteilung">Steigzone 16</p>
            <p style="position: absolute; left: 828px; top: 80px;" class="bs-beschriftung-small-verteilung">Steigzone 15</p>

            <!--  -->
           
            <!-- Workaround um den Bug in der Benutzeranmeldung zu korrigieren -->
            <wf-button style="visibility: hidden;" params="signalName: 'Setpoint 1', writeValue: 1, buttonText: 'Write Value :1', cssClass: 'btn-success', projectAuthorization: 'irgendeinWert'"></wf-button>
        </div>
    </div>
</div>
