﻿<!--****************************************************************************************************************************************************************************************************************************************************
    Bühler+Scherler
--------------------------------------------------------------------------------------------------------------------------


--------------------------------------------------------------------------------------------------------------------------
ERSTELLT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0		R.Brunnschweiler	BS                  10.07.2017
--------------------------------------------------------------------------------------------------------------------------
GEÄNDERT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0		F.Sabljo        	BS                  14.02.17


********************************************************************************************************************************************************************************************************************************************************-->
<div class="container bs_content_container">
    <header>
        <h1 class="page-header bs-header-mittig">L18 Lüftung Zentrale Keller Hotel HA.SL01</h1>
        <!--BUILDING CONTROL-->
    </header>
    <div class="col-lg-12">
        <div class="bs-responsive bs-hotel-lueftungen-L18LueftungZentraleKellerHotelHA_SL01 hidden-xs">
            <!--Seiten-Verlinkungen (Pfeile auf der Seite)-->
            <a style="position: absolute; left: 0px; top: 556px; text-decoration: none;" title="Abluft" class="bs-pfeil-verlinkung-abluft wf wf-arrow wf-w"></a>
            <a style="position: absolute; left: 1816px; top: 52px; text-decoration: none;" title="Abluft" class="bs-pfeil-verlinkung-abluft wf wf-arrow wf-w"></a>
            <a style="position: absolute; left: 1816px; top: 556px; text-decoration: none;" title="Abluft" class="bs-pfeil-verlinkung-abluft wf wf-arrow wf-w"></a>

            <!-- Widgets -->
            <!--Anlagenschalter, Sollwertfenster, Zeitschaltuhren, etc...-->
            <div style="position:absolute; left:1730px; top:635px" id="KLI02" title="L18 Lüftung Keller Hotel" data-bind="bsAnlageschalter_lfc: {
	dialogTitle: 'L18 Lüftung Keller Hotel ',
	signalName: 'Station_42',
    stromPfad: 'lueftung_L18'
	}">
            </div>

            <div style="position:absolute; left:1775px; top:635px" id="KLI02_I201schaltuhr" title="Schaltuhr Lüftungsanlage L18 Keller Hotel" data-bind="bsSchaltuhr_lfc: {
	signalName: 'Station_42',
    uhr: 'su_L18',
	dialogTitle: 'Schaltuhr Lüftungsanlage L18 Keller Hotel' }">
            </div>

            <!--LE-->
            <div style="position:absolute; left: 485px; top: 568px;" id="V1" title="945M1" data-bind="bsMotorStufen_lfc: {
    dialogTitle: 'Ventilator 945M1',
    signalName: 'Station_42',
    stromPfad: '945m1',
	motorAusrichtung: 'links',
	motortyp: 'ventilator',
	handLinks: '20',
	handOben: '10',
	stufe: '0',
	}">
            </div>

            <div style="position:absolute; left: 1577.5px; top: 64px;" id="V2" title="915M1" data-bind="bsMotorStufen_lfc: {
    dialogTitle: 'Ventilator 915M1',
    signalName: 'Station_42',
    stromPfad: '915m1',
	motorAusrichtung: 'links',
	motortyp: 'ventilator',
	handLinks: '20',
	handOben: '10',
	stufe: '0',
	}">
            </div>

            <!--Klappen-->
            <div style="position:absolute; left: 321px; top: 563px;" id="K1" title="967Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_42.Register.status_967y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 321px; top: 363px;" id="K2" title="966Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_42.Register.status_966y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 321px; top: 247px;" id="K3" title="965Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_42.Register.status_965y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1107px; top: 363px;" id="K4" title="964Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_42.Register.status_964y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1107px; top: 247px;" id="K5" title="963Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_42.Register.status_963y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1438px; top: 563px;" id="K6" title="962Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_42.Register.status_962y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1438px; top: 59px;" id="K7" title="961Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_42.Register.status_961y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1703px; top: 59px;" id="K8" title="912Y1" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_42.Register.status_912y1',
    position: 'Buffer 3'
}"></div>

            <!--Wächter-->
            <div style="position:absolute; left: 490px; top: 511px;" id="W1" title="947B1" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Station_42.Flag.al_947b1',
     einheit: 'ohne'
     }">
            </div>

            <div style="position:absolute; left: 1583px; top: 7px;" id="W2" title="917B1" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Station_42.Flag.al_917b1',
     einheit: 'ohne'
     }">
            </div>

            <!-- Text -->
            <p style="position: absolute; left: 268px; top: 610px;" class="bs-beschriftung-small-verteilung">Parking - Keller Hotel</p>
            <p style="position: absolute; left: 1380px; top: 610px;" class="bs-beschriftung-small-verteilung">Keller Hotel - Kältezentralehotel</p>
            <p style="position: absolute; left: 268px; top: 314px;" class="bs-beschriftung-small-verteilung">Keller Hotel - Abstellraum</p>
            <p style="position: absolute; left: 1026px; top: 314px;" class="bs-beschriftung-small-verteilung">Keller Hotel - Sprinklerzentrale</p>
            <p style="position: absolute; left: 1380px; top: 110px;" class="bs-beschriftung-small-verteilung">Keller Hotel - Kältezentralehotel</p>


                    <!--  -->
                    <!-- Workaround um den Bug in der Benutzeranmeldung zu korrigieren -->
                    <wf-button style="visibility: hidden;" params="signalName: 'Setpoint 1', writeValue: 1, buttonText: 'Write Value :1', cssClass: 'btn-success', projectAuthorization: 'irgendeinWert'"></wf-button>
           </div>
    </div>
</div>
