﻿<!--****************************************************************************************************************************************************************************************************************************************************
    Bühler+Scherler
--------------------------------------------------------------------------------------------------------------------------


--------------------------------------------------------------------------------------------------------------------------
ERSTELLT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0		R.Brunnschweiler	BS                  10.07.2017
--------------------------------------------------------------------------------------------------------------------------
GEÄNDERT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0       F.Sabljo            BS                  13.02.2018


********************************************************************************************************************************************************************************************************************************************************-->
<div class="container bs_content_container">
    <header>
        <h1 class="page-header bs-header-mittig">L15 Lüftung Verteilung Verwaltung HA.SL01</h1>
        <!--BUILDING CONTROL-->
    </header>
    <div class="col-lg-12">
        <div class="bs-responsive bs-hotel-lueftungen-L15LueftungVerteilungVerwaltungHA_SL01 hidden-xs">
            <!--Seiten-Verlinkungen (Pfeile auf der Seite)-->
            <a style="position: absolute; left: 0px; top: 559px; text-decoration: none;" title="Abluft" class="bs-pfeil-verlinkung-abluft wf wf-arrow wf-w"></a>
            <a style="position: absolute; left: 0px; top: 613px; text-decoration: none;" title="Zuluft" class="bs-pfeil-verlinkung-zuluft wf wf-arrow"></a>

            <!-- Widgets -->
            <!-- Sollwert -->
            <div style="position:absolute; left: 1246px; top: 62px;" id="S1" title="VAV 564Y1" data-bind="bsAusgabefeld: {
              signalName:'Station_43.Register.AO065_sw_564y1',
              typ: 'berechnetersollwert',
              einheit: '%'
            }">
            </div>

            <div style="position:absolute; left: 1246px; top: 157px;" id="S2" title="VAV 565Y1" data-bind="bsAusgabefeld: {
              signalName:'Station_43.Register.AO066_sw_565y1',
              typ: 'berechnetersollwert',
              einheit: '%'
            }">
            </div>

            <div style="position:absolute; left: 1246px; top: 252px;" id="S3" title="VAV 566Y1" data-bind="bsAusgabefeld: {
              signalName:'Station_43.Register.AO080_sw_566y1',
              typ: 'berechnetersollwert',
              einheit: '%'
            }">
            </div>

            <div style="position:absolute; left: 1246px; top: 348px;" id="S4" title="VAV 567Y1" data-bind="bsAusgabefeld: {
              signalName:'Station_43.Register.AO081_sw_567y1',
              typ: 'berechnetersollwert',
              einheit: '%'
            }">
            </div>

            <div style="position:absolute; left: 1246px; top: 443px;" id="S5" title="VAV 568Y1" data-bind="bsAusgabefeld: {
              signalName:'Station_43.Register.AO082_sw_568y1',
              typ: 'berechnetersollwert',
              einheit: '%'
            }">
            </div>

            <div style="position:absolute; left: 434px; top: 62px;" id="S6" title="VAV 563Y1" data-bind="bsAusgabefeld: {
              signalName:'Station_43.Register.AO064_sw_563y1',
              typ: 'berechnetersollwert',
              einheit: '%'
            }">
            </div>

            <div style="position:absolute; left: 269px; top: 2px;" id="S7" title="Sollwerttemperatur Verwaltung" data-bind="bsAusgabefeld: {
              signalName:'Station_43.Register.sw_raumtemp_L15',
              typ: 'berechnetersollwert',
              einheit: '°C'
            }">
            </div>

            <div style="position:absolute; left: 973px; top: 443px;" id="S8" title="VAV 570Y1" data-bind="bsAusgabefeld: {
              signalName:'Station_43.Register.AO289_sw_570y1',
              typ: 'berechnetersollwert',
              einheit: '%'
            }">
            </div>

            <div style="position:absolute; left: 973px; top: 348px;" id="S9" title="VAV 569Y1" data-bind="bsAusgabefeld: {
              signalName:'Station_43.Register.AO288_sw_569y1',
              typ: 'berechnetersollwert',
              einheit: '%'
            }">
            </div>

            <div style="position:absolute; left: 1585px; top: 30px;" id="S10" title="Sollwerttemperatur 574B1" data-bind="bsAusgabefeld: {
              signalName:'Station_43.Register.sw_574b1',
              typ: 'berechnetersollwert',
              einheit: '°C'
            }">
            </div>

            <div style="position:absolute; left: 1585px; top: 124px;" id="S11" title="Sollwerttemperatur 575B1" data-bind="bsAusgabefeld: {
              signalName:'Station_43.Register.sw_575b1',
              typ: 'berechnetersollwert',
              einheit: '°C'
            }">
            </div>

            <div style="position:absolute; left: 1585px; top: 218px;" id="S12" title="Sollwerttemperatur 576B1" data-bind="bsAusgabefeld: {
              signalName:'Station_43.Register.sw_576b1',
              typ: 'berechnetersollwert',
              einheit: '°C'
            }">
            </div>

            <div style="position:absolute; left: 1585px; top: 312px;" id="S13" title="Sollwerttemperatur 577B1" data-bind="bsAusgabefeld: {
              signalName:'Station_43.Register.sw_577b1',
              typ: 'berechnetersollwert',
              einheit: '°C'
            }">
            </div>

            <div style="position:absolute; left: 1585px; top: 410px;" id="S14" title="Sollwerttemperatur 578B1" data-bind="bsAusgabefeld: {
              signalName:'Station_43.Register.sw_578b1',
              typ: 'berechnetersollwert',
              einheit: '°C'
            }">
            </div>

            <div style="position:absolute; left: 780px; top: 411px;" id="S15" title="Sollwerttemperatur 580B1" data-bind="bsAusgabefeld: {
              signalName:'Station_43.Register.sw_580b1',
              typ: 'berechnetersollwert',
              einheit: '°C'
            }">
            </div>

            <div style="position:absolute; left: 780px; top: 312px;" id="S16" title="Sollwerttemperatur 579B1" data-bind="bsAusgabefeld: {
              signalName:'Station_43.Register.sw_579b1',
              typ: 'berechnetersollwert',
              einheit: '°C'
            }">
            </div>

            <div style="position:absolute; left: 780px; top: 29px;" id="S17" title="Sollwerttemperatur 573B1" data-bind="bsAusgabefeld: {
              signalName:'Station_43.Register.sw_573b1',
              typ: 'berechnetersollwert',
              einheit: '°C'
            }">
            </div>

            <!--Ventil-->
            <div style="position:absolute; left: 1485px; top: 337px" id="VT1" title="587Y1" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-12',
	anzeigefeldOben: '-25',
	winkel: '180',
	signalName: 'Station_43.Register.sw_n_pi_587y1'}">
            </div>

            <div style="position:absolute; left: 1485px; top: 243px" id="VT2" title="586Y1" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-12',
	anzeigefeldOben: '-25',
	winkel: '180',
	signalName: 'Station_43.Register.sw_n_pi_586y1'}">
            </div>

            <div style="position:absolute; left: 1485px; top: 149px" id="VT3" title="585Y1" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-12',
	anzeigefeldOben: '-25',
	winkel: '180',
	signalName: 'Station_43.Register.sw_n_pi_585y1'}">
            </div>

            <div style="position:absolute; left: 1485px; top: 55px" id="VT4" title="584Y1" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	dialogtitle: 'KLI02_Y250 (O127_GA01_S001:143Y2) Ventil LE',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-12',
	anzeigefeldOben: '-25',
	winkel: '180',
	signalName: 'Station_43.Register.sw_n_pi_584y1'}">
            </div>

            <div style="position:absolute; left: 675px; top: 54px" id="VT5" title="583Y1" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-12',
	anzeigefeldOben: '-25',
	winkel: '180',
	signalName: 'Station_43.Register.sw_n_pi_583y1'}">
            </div>

            <div style="position:absolute; left: 1485px; top: 436px" id="VT6" title="588Y1" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-12',
	anzeigefeldOben: '-25',
	winkel: '180',
	signalName: 'Station_43.Register.sw_n_pi_588y1'}">
            </div>

            <div style="position:absolute; left: 675px; top: 436px" id="VT7" title="590Y1" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-12',
	anzeigefeldOben: '-25',
	winkel: '180',
	signalName: 'Station_43.Register.sw_n_pi_590y1'}">
            </div>

            <div style="position:absolute; left: 675px; top: 337px" id="VT8" title="589Y1" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-12',
	anzeigefeldOben: '-25',
	winkel: '180',
	signalName: 'Station_43.Register.sw_n_pi_589y1'}">
            </div>

            <!--Klappen-->
            <div style="position:absolute; left: 1124px; top: 509px;" id="K1" title="561Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '90',
    signalName: 'Station_43.Register.bsk.status_561y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1191px; top: 509px;" id="K2" title="562Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '90',
    signalName: 'Station_43.Register.bsk.status_562y3',
    position: 'Buffer 3'
}"></div>

            <!--TPHSensor-->
            <div style="position:absolute; left:1560px; top: 243px;" id="TP1" title="576B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '28',
	winkel: '0',
	sensortyp: 'T',
	signalName: 'Station_43.Register.AI724_temp_576b1',
	handLinks: '12',
	handOben: '2',
   	einheit: '°C',
	anzeigefeldLinks: '25',
	anzeigefeldOben: '-1'
	}">
            </div>

            <div style="position:absolute; left:1560px; top: 149px;" id="TP2" title="575B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '28',
	winkel: '0',
	sensortyp: 'T',
	signalName: 'Station_43.Register.AI722_temp_575b1',
	handLinks: '12',
	handOben: '2',
   	einheit: '°C',
	anzeigefeldLinks: '25',
	anzeigefeldOben: '-1'
	}">
            </div>

            <div style="position:absolute; left: 1560px; top: 337px;" id="TP3" title="577B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '28',
	winkel: '0',
	sensortyp: 'T',
	signalName: 'Station_43.Register.AI726_temp_577b1',
	handLinks: '12',
	handOben: '2',
   	einheit: '°C',
	anzeigefeldLinks: '25',
	anzeigefeldOben: '-1'
	}">
            </div>

            <div style="position:absolute; left: 1560px; top: 55px;" id="TP4" title="574B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '28',
	winkel: '0',
	sensortyp: 'T',
	signalName: 'Station_43.Register.AI720_temp_574b1',
	handLinks: '12',
	handOben: '2',
   	einheit: '°C',
	anzeigefeldLinks: '25',
	anzeigefeldOben: '-1'
	}">
            </div>

            <div style="position:absolute; left: 1560px; top: 436px;" id="TP5" title="578B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '28',
	winkel: '0',
	sensortyp: 'T',
	signalName: 'Station_43.Register.AI736_temp_578b1',
	handLinks: '12',
	handOben: '2',
   	einheit: '°C',
	anzeigefeldLinks: '25',
	anzeigefeldOben: '-1'
	}">
            </div>

            <div style="position:absolute; left: 755px; top: 54px;" id="TP6" title="573B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '28',
	winkel: '0',
	sensortyp: 'T',
	signalName: 'Station_43.Register.AI710_temp_573b1',
	handLinks: '12',
	handOben: '2',
   	einheit: '°C',
	anzeigefeldLinks: '25',
	anzeigefeldOben: '-1'
	}">
            </div>

            <div style="position:absolute; left: 755px; top: 436px;" id="TP7" title="580B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '28',
	winkel: '0',
	sensortyp: 'T',
	signalName: 'Station_43.Register.AI740_temp_580b1',
	handLinks: '12',
	handOben: '2',
   	einheit: '°C',
	anzeigefeldLinks: '25',
	anzeigefeldOben: '-1'
	}">
            </div>

            <div style="position:absolute; left: 755px; top: 337px;" id="TP8" title="579B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '28',
	winkel: '0',
	sensortyp: 'T',
	signalName: 'Station_43.Register.AI738_temp_579b1',
	handLinks: '12',
	handOben: '2',
   	einheit: '°C',
	anzeigefeldLinks: '25',
	anzeigefeldOben: '-1'
	}">
            </div>

            <!--Wächter-->
            <!--<div style="position:absolute; left: 1321px; top: 40px;" id="W1" title="KLI02_F951 (O127_GA01_S001:160F2)" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Buffer 3',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left: 1321px; top: 88px;" id="W2" title="KLI02_F951 (O127_GA01_S001:160F2)" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Buffer 3',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left: 1321px; top: 134px;" id="W3" title="KLI02_F951 (O127_GA01_S001:160F2)" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Buffer 3',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left: 1321px; top: 182px;" id="W4" title="KLI02_F951 (O127_GA01_S001:160F2)" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Buffer 3',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left: 1321px; top: 229px;" id="W5" title="KLI02_F951 (O127_GA01_S001:160F2)" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Buffer 3',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left: 1321px; top: 278px;" id="W6" title="KLI02_F951 (O127_GA01_S001:160F2)" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Buffer 3',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left: 1321px; top: 326px;" id="W7" title="KLI02_F951 (O127_GA01_S001:160F2)" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Buffer 3',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left: 1321px; top: 373px;" id="W8" title="KLI02_F951 (O127_GA01_S001:160F2)" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Buffer 3',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left: 1321px; top: 419px;" id="W9" title="KLI02_F951 (O127_GA01_S001:160F2)" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Buffer 3',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left: 1321px; top: 468px;" id="W10" title="KLI02_F951 (O127_GA01_S001:160F2)" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Buffer 3',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left: 507px; top: 38px;" id="W11" title="KLI02_F951 (O127_GA01_S001:160F2)" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Buffer 3',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left: 507px; top: 88px;" id="W12" title="KLI02_F951 (O127_GA01_S001:160F2)" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Buffer 3',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left: 936px; top: 468px;" id="W13" title="KLI02_F951 (O127_GA01_S001:160F2)" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Buffer 3',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left: 936px; top: 419px;" id="W14" title="KLI02_F951 (O127_GA01_S001:160F2)" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Buffer 3',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left: 936px; top: 373px;" id="W15" title="KLI02_F951 (O127_GA01_S001:160F2)" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Buffer 3',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left: 936px; top: 326px;" id="W16" title="KLI02_F951 (O127_GA01_S001:160F2)" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Buffer 3',
     einheit: 'ohne',
     }">
            </div>-->

            <!-- Text -->
            <p style="position: absolute; left: 10px; top: 0px;" class="bs-beschriftung-small-verteilung">Sollwert Raumtemperatur Verwaltung</p>
            <p style="position: absolute; left: 663px; top: -1px;" class="bs-beschriftung-small-verteilung">Technik</p>
            <p style="position: absolute; left: 1473px; top: -1px;" class="bs-beschriftung-small-verteilung">Personalrestaurant</p>
            <p style="position: absolute; left: 1473px; top: 99px;" class="bs-beschriftung-small-verteilung">General Manager</p>
            <p style="position: absolute; left: 1473px; top: 194px;" class="bs-beschriftung-small-verteilung">F + B</p>
            <p style="position: absolute; left: 1473px; top: 288px;" class="bs-beschriftung-small-verteilung">Sales</p>
            <p style="position: absolute; left: 1473px; top: 383px;" class="bs-beschriftung-small-verteilung">HM, Personal</p>
            <p style="position: absolute; left: 663px; top: 288px;" class="bs-beschriftung-small-verteilung">Buchhaltung</p>
            <p style="position: absolute; left: 663px; top: 383px;" class="bs-beschriftung-small-verteilung">Housekeeping</p>

            <!--  -->
           
            <!-- Workaround um den Bug in der Benutzeranmeldung zu korrigieren -->
            <wf-button style="visibility: hidden;" params="signalName: 'Setpoint 1', writeValue: 1, buttonText: 'Write Value :1', cssClass: 'btn-success', projectAuthorization: 'irgendeinWert'"></wf-button>
        </div>
    </div>
</div>
