﻿<div class="col-lg-2 col-md-2 col-sm-3 col-xs-6">
    <div class="bs-fussbodenheizung">
        <div class="bs-zimmer-1">
            <button class="btn-default btn-lg bs-zimmer-button bs-button-master" data-bind="click: openDialog, text:dialogTitle" style="width: 100%"></button>
        </div>
        <div class="bs-fussbodenheizung-11">
            <div title="Bei geschlossenem Schloss ist das Zimmer im ECO-Modus. Grund: Geöffnetes Fenster" class="fa-2x bs-zimmer-4" data-bind="css: sperre"></div>
            <div class="bs-zimmer-5">
                <wf-button params="signalName: roomvorwahlbereit, writeValue: 1, buttonText: 'Bereit', cssClass: 'btn-default btn-md btn-info bs-zimmer-button', isTipModeEnabled: true"></wf-button>
            </div>
            <div class="bs-zimmer-1">
                <wf-button params="signalName: roomvorwahleco, writeValue: 1, buttonText: 'Eco', cssClass: 'btn-default btn-md btn-success bs-zimmer-button', isTipModeEnabled: true"></wf-button>
            </div>
        </div>
        <div class="bs-fussbodenheizung-7">
            <div class="bs-fussbodenheizung-6">
                <div title="Betriebszustand Zimmer" data-bind="bsZustandsanzeige_1: { modulName: roomstate, hintergrundTransparent: 'true',
                         zustaende: [
                         { vergleichswert: '1', farbe: 'color-state-1',  text: 'ECO'},
                         { vergleichswert: '2', farbe: 'color-state',  text: 'Bereit'},
                         { vergleichswert: '3', farbe: 'color-fehler',  text: 'Belegt'}]}"></div>
            </div>
            <div class="bs-fussbodenheizung-6">
                <div title="Kartenleser" data-bind="bsZustandsanzeige_1: { modulName: roomcard, hintergrundTransparent: 'true',
                         zustaende: [
                         { vergleichswert: '0', farbe: 'color-aus',  text: 'Abwesend'},
                         { vergleichswert: '1', farbe: 'color-fehler',  text: 'Anwesend'}]}"></div>
            </div>
        </div>
        <div class="bs-fussbodenheizung-8">
            <div class="bs-fussbodenheizung-5">
                <wf-gauge-1 params="signalName: roomtemp, width: 112, innerRadius: 0.6, iconClass: 'wf-lg wf-temperature wf-1x', maxRange: 40, showValueLabel: false, lowRangeStart: 18, lowRangeEnd: 25, highRangeStart: 25, backgroundFillColor: '#269abc', tooltipText: 'Raumtemperatur' "></wf-gauge-1>
            </div>
            <div class="bs-fussbodenheizung-10" data-bind="bsAusgabefeld: { signalName: roomtemp, typ: 'istwert', einheit: einheit }">???</div>
        </div>
    </div>
</div>