﻿<div>
    <div class="bs-sensor-container">
        <div class="bs-sensor" data-bind="click: openDialog">
            <div class="bs-sensor-wrapper">
                <div class="bs-sensor-stiel" data-bind="style: { height: stiellaenge + 'px', transform: 'rotate(' + winkel + 'deg)', '-webkit-transform': 'rotate(' + winkel + 'deg)', '-moz-transform': 'rotate(' + winkel + 'deg)' }"></div>
            </div>
            <div class="bs-sensor-kopf" data-bind="text: sensortyp, css: sensorzustand"></div>
        </div>
    </div>
    <div id="handanzeige" class="wf wf-hand bs_handfarbe fa-2x" data-bind="style: { left: handLinks + 'px', top: handOben + 'px', position: 'absolute', visibility: hand }"></div>
    <!--<div class="bs-aktuellerwert" data-bind="text: aktuellerwert, style: { left: anzeigefeldLinks + 'px', top: anzeigefeldOben + 'px' }">???</div>-->
    <div data-bind="bsAusgabefeld:{signalName: signalname, typ: 'istwert', einheit: unit }, style: { left: anzeigefeldLinks + 'px', top: anzeigefeldOben + 'px', position: 'absolute' } ">???</div>
</div>