
/*--------------------------------------------------------------------------------------------------
 *  WEBfactory Icon Font Version 3.4.0 by - http://webfactory-world.de
 *  WEBfactory Detailed Icon Font Version 2.6.2 by - http://webfactory-world.de
 *  Copyright  WEBfactory GmbH - http://webfactory-world.de
 *--------------------------------------------------------------------------------------------------*/

/* WEBfactory Icon Font */ 
@font-face {
  font-family: 'WFIconFont';
  src:  url('fonts/WFIconFont.eot?2e7cs0');
  src:  url('fonts/WFIconFont.eot?2e7cs0#iefix') format('embedded-opentype'),
    url('fonts/WFIconFont.ttf?2e7cs0') format('truetype'),
    url('fonts/WFIconFont.woff?2e7cs0') format('woff'),
    url('fonts/WFIconFont.svg?2e7cs0#WFIconFont') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* WEBfactory Detailed Icon Font */
@font-face {
  font-family: 'WFDetailedIconFont';
  src:  url('fonts/WFDetailedIconFont.eot?12ail7');
  src:  url('fonts/WFDetailedIconFont.eot?12ail7#iefix') format('embedded-opentype'),
    url('fonts/WFDetailedIconFont.ttf?12ail7') format('truetype'),
    url('fonts/WFDetailedIconFont.woff?12ail7') format('woff'),
    url('fonts/WFDetailedIconFont.svg?12ail7#WFDetailedIconFont') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* WEBfactory Icon Font */
/* Depricated font-family, will be removed in next versions */
@font-face {
    font-family: 'WFLargeIconFont';
  src:  url('fonts/WFDetailedIconFont.eot?81uzt6');
  src:  url('fonts/WFDetailedIconFont.eot?81uzt6#iefix') format('embedded-opentype'),
    url('fonts/WFDetailedIconFont.ttf?81uzt6') format('truetype'),
    url('fonts/WFDetailedIconFont.woff?81uzt6') format('woff'),
    url('fonts/WFDetailedIconFont.svg?81uzt6#WFDetailedIconFont') format('svg');
  font-weight: normal;
  font-style: normal;
}


.wf, .wf-lg {
    font-family: 'WFIconFont';
    -webkit-speak: none;
    -moz-speak: none;
    -ms-speak: none;
    -o-speak: none;
    speak: none;
    font-style: normal;
    font-weight: normal;
    -webkit-font-variant: normal;
    -moz-font-variant: normal;
    -ms-font-variant: normal;
    -o-font-variant: normal;
    font-variant: normal;
    text-transform: none;
    /*line-height: 1;*/
    display: inline-block;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.wf-lg
{
    font-family: 'WFLargeIconFont' , 'WFDetailedIconFont';
}


/* ICONS
 * -------------------------- */

.wf-add:before {
  content: "\e600";
}
.wf-add-round:before {
  content: "\e601";
}
.wf-add-round-o:before {
  content: "\e602";
}
.wf-advanced-filter:before {
  content: "\e603";
}
.wf-alarm:before {
  content: "\e604";
}
.wf-alarm-clock:before {
  content: "\e605";
}
.wf-alarm-reload:before {
  content: "\e606";
}
.wf-alert:before {
  content: "\e607";
}
.wf-alert-o:before {
  content: "\e608";
}
.wf-analysis:before {
  content: "\e609";
}
.wf-archive:before {
  content: "\e60a";
}
.wf-arrow:before {
  content: "\e60b";
}
.wf-arrow-metro:before {
  content: "\e60c";
}
.wf-arrow-redo:before {
  content: "\e60d";
}
.wf-arrow-refresh-left:before {
  content: "\e60e";
}
.wf-arrow-refresh-right:before {
  content: "\e60f";
}
.wf-arrow-round:before {
  content: "\e610";
}
.wf-arrow-round-o:before {
  content: "\e611";
}
.wf-arrow-undo:before {
  content: "\e612";
}
.wf-atmospheric-pressure:before {
  content: "\e613";
}
.wf-attach:before {
  content: "\e614";
}
.wf-bag:before {
  content: "\e615";
}
.wf-battery-empty:before {
  content: "\e616";
}
.wf-battery-full:before {
  content: "\e617";
}
.wf-battery-half:before {
  content: "\e618";
}
.wf-bell:before {
  content: "\e619";
}
.wf-bin:before {
  content: "\e61a";
}
.wf-blinds:before {
  content: "\e61b";
}
.wf-blower:before {
  content: "\e61c";
}
.wf-book-opened-o:before {
  content: "\e61d";
}
.wf-box:before {
  content: "\e61e";
}
.wf-brightness:before {
  content: "\e61f";
}
.wf-building:before {
  content: "\e620";
}
.wf-building-administrative:before {
  content: "\e621";
}
.wf-buildings:before {
  content: "\e622";
}
.wf-business-man:before {
  content: "\e623";
}
.wf-calendar:before {
  content: "\e624";
}
.wf-calendar-day:before {
  content: "\e625";
}
.wf-calendar-day-detailed:before {
  content: "\e626";
}
.wf-calendar-empty:before {
  content: "\e627";
}
.wf-calendar-month:before {
  content: "\e628";
}
.wf-calendar-week:before {
  content: "\e629";
}
.wf.wf-callout:before,
.wf-lg.wf-callout:before {
  content: "\e62a";
}
.wf-car:before {
  content: "\e62b";
}
.wf-catalog:before {
  content: "\e62c";
}
.wf-catalog-o:before {
  content: "\e62d";
}
.wf.wf-chart:before,
.wf-lg.wf-chart:before {
  content: "\e62e";
}
.wf-chart-curve:before {
  content: "\e62f";
}
.wf-chart-line:before {
  content: "\e630";
}
.wf-chart-pie:before {
  content: "\e631";
}
.wf-chart-ranking:before {
  content: "\e632";
}
.wf-chart-sankey:before {
  content: "\e633";
}
.wf-chart-scatter:before {
  content: "\e634";
}
.wf-chart-spectral:before {
  content: "\e635";
}
.wf-check:before {
  content: "\e636";
}
.wf-check-round:before {
  content: "\e637";
}
.wf-check-round-o:before {
  content: "\e638";
}
.wf-chemical-waste:before {
  content: "\e639";
}
.wf-clock:before {
  content: "\e63a";
}
.wf-close-label:before {
  content: "\e63b";
}
.wf-close-round:before {
  content: "\e63c";
}
.wf-cloud:before {
  content: "\e63d";
}
.wf-cloud-o:before {
  content: "\e63e";
}
.wf-clouds:before {
  content: "\e63f";
}
.wf-clouds-o:before {
  content: "\e640";
}
.wf-co2:before {
  content: "\e641";
}
.wf-cog:before {
  content: "\e642";
}
.wf-cogs:before {
  content: "\e643";
}
.wf-collapse-arrow-in:before {
  content: "\e644";
}
.wf-collapse-arrow-out:before {
  content: "\e645";
}
.wf-cooling-tower:before {
  content: "\e646";
}
.wf-cost:before {
  content: "\e647";
}
.wf-cut:before {
  content: "\e648";
}
.wf-damper:before {
  content: "\e649";
}
.wf-dashboard:before {
  content: "\e64a";
}
.wf-data:before {
  content: "\e64b";
}
.wf-database:before {
  content: "\e64c";
}
.wf-data-register:before {
  content: "\e64d";
}
.wf-data-reload:before {
  content: "\e64e";
}
.wf-detach:before {
  content: "\e64f";
}
.wf-details:before {
  content: "\e650";
}
.wf-door-closed:before {
  content: "\e651";
}
.wf-door-opened:before {
  content: "\e652";
}
.wf-download:before {
  content: "\e653";
}
.wf-drinking-water:before {
  content: "\e654";
}
.wf-drop:before {
  content: "\e655";
}
.wf-drop-o:before {
  content: "\e656";
}
.wf-edit:before {
  content: "\e657";
}
.wf-elevator:before {
  content: "\e658";
}
.wf-emission:before {
  content: "\e659";
}
.wf-energy:before {
  content: "\e65a";
}
.wf-environment:before {
  content: "\e65b";
}
.wf-exit-fullscreen:before {
  content: "\e65c";
}
.wf-expand-arrow-in:before {
  content: "\e65d";
}
.wf-expand-arrow-out:before {
  content: "\e65e";
}
.wf-eye:before {
  content: "\e65f";
}
.wf-fan:before {
  content: "\e660";
}
.wf-fan-symbol:before {
  content: "\e661";
}
.wf-file:before {
  content: "\e662";
}
.wf-file-o:before {
  content: "\e663";
}
.wf-files:before {
  content: "\e664";
}
.wf-files-o:before {
  content: "\e665";
}
.wf-filter:before {
  content: "\e666";
}
.wf-filter-o:before {
  content: "\e667";
}
.wf-fire:before {
  content: "\e668";
}
.wf-flag:before {
  content: "\e669";
}
.wf-flap:before {
  content: "\e66a";
}
.wf-flash:before {
  content: "\e66b";
}
.wf-flask:before {
  content: "\e66c";
}
.wf-floor-plan:before {
  content: "\e66d";
}
.wf-folder:before {
  content: "\e66e";
}
.wf-football-field:before {
  content: "\e66f";
}
.wf-full-screen:before {
  content: "\e670";
}
.wf-garbage-container:before {
  content: "\e671";
}
.wf-gas:before {
  content: "\e672";
}
.wf-gauge:before {
  content: "\e673";
}
.wf-gavel:before {
  content: "\e674";
}
.wf-graduation:before {
  content: "\e675";
}
.wf-graph:before {
  content: "\e676";
}
.wf-hand:before {
  content: "\e677";
}
.wf-handcuffs:before {
  content: "\e678";
}
.wf-hand-o:before {
  content: "\e679";
}
.wf-hard-disk:before {
  content: "\e67a";
}
.wf-heat:before {
  content: "\e67b";
}
.wf-home:before {
  content: "\e67c";
}
.wf-home-o:before {
  content: "\e67d";
}
.wf-image:before {
  content: "\e67e";
}
.wf-info:before {
  content: "\e67f";
}
.wf-key:before {
  content: "\e680";
}
.wf-label:before {
  content: "\e681";
}
.wf-light-bulb:before {
  content: "\e682";
}
.wf-light-bulb-eco:before {
  content: "\e683";
}
.wf-light-bulb-o:before {
  content: "\e684";
}
.wf-light-bulb-symbol:before {
  content: "\e685";
}
.wf-link:before {
  content: "\e686";
}
.wf-lock:before {
  content: "\e687";
}
.wf-login:before {
  content: "\e688";
}
.wf-logout:before {
  content: "\e689";
}
.wf-mail:before {
  content: "\e68a";
}
.wf-marker:before {
  content: "\e68b";
}
.wf-maximize:before {
  content: "\e68c";
}
.wf-megaphone:before {
  content: "\e68d";
}
.wf-menu:before {
  content: "\e68e";
}
.wf-message:before {
  content: "\e68f";
}
.wf-meter:before {
  content: "\e690";
}
.wf-meter-gauge:before {
  content: "\e691";
}
.wf-minimize:before {
  content: "\e692";
}
.wf-mining:before {
  content: "\e693";
}
.wf-mist:before {
  content: "\e694";
}
.wf-mixer:before {
  content: "\e695";
}
.wf-mobile:before {
  content: "\e696";
}
.wf-motor:before {
  content: "\e697";
}
.wf-motor-electric:before {
  content: "\e698";
}
.wf-oil-pump:before {
  content: "\e699";
}
.wf-oil-rig:before {
  content: "\e69a";
}
.wf-ok:before {
  content: "\e69b";
}
.wf-outlet:before {
  content: "\e69c";
}
.wf-pause-round:before {
  content: "\e69d";
}
.wf-pause-round-o:before {
  content: "\e69e";
}
.wf-pc:before {
  content: "\e69f";
}
.wf-plane:before {
  content: "\e6a0";
}
.wf-plant:before {
  content: "\e6a1";
}
.wf-play-round:before {
  content: "\e6a2";
}
.wf-play-round-o:before {
  content: "\e6a3";
}
.wf-plug:before {
  content: "\e6a4";
}
.wf-pointer:before {
  content: "\e6a5";
}
.wf-police:before {
  content: "\e6a6";
}
.wf-power:before {
  content: "\e6a7";
}
.wf-power-grid:before {
  content: "\e6a8";
}
.wf-power-on:before {
  content: "\e6a9";
}
.wf-printer:before {
  content: "\e6aa";
}
.wf-pump-symbol:before {
  content: "\e6ab";
}
.wf-rain:before {
  content: "\e6ac";
}
.wf-rain-o:before {
  content: "\e6ad";
}
.wf-recycle:before {
  content: "\e6ae";
}
.wf-remove:before {
  content: "\e6af";
}
.wf-remove-round:before {
  content: "\e6b0";
}
.wf-remove-round-o:before {
  content: "\e6b1";
}
.wf-report:before {
  content: "\e6b2";
}
.wf-reports:before {
  content: "\e6b3";
}
.wf-save:before {
  content: "\e6b4";
}
.wf-search:before {
  content: "\e6b5";
}
.wf-server:before {
  content: "\e6b6";
}
.wf-server-alert:before {
  content: "\e6b7";
}
.wf-service:before {
  content: "\e6b8";
}
.wf-ship:before {
  content: "\e6b9";
}
.wf-shopping-cart:before {
  content: "\e6ba";
}
.wf-shower-rain:before {
  content: "\e6bb";
}
.wf-shower-rain-o:before {
  content: "\e6bc";
}
.wf-signal-bars:before {
  content: "\e6bd";
}
.wf-signal-types:before {
  content: "\e6be";
}
.wf-signal-wifi:before {
  content: "\e6bf";
}
.wf-sitemap:before {
  content: "\e6c0";
}
.wf-small-x:before {
  content: "\e6c1";
}
.wf-small-x-round:before {
  content: "\e6c2";
}
.wf-snow:before {
  content: "\e6c3";
}
.wf-snow-flake:before {
  content: "\e6c4";
}
.wf-solar-pannel:before {
  content: "\e6c5";
}
.wf-speed-gauge:before {
  content: "\e6c6";
}
.wf-staircase-down:before {
  content: "\e6c7";
}
.wf-staircase-up:before {
  content: "\e6c8";
}
.wf-stop-round:before {
  content: "\e6c9";
}
.wf-stop-round-o:before {
  content: "\e6ca";
}
.wf-stop-sign:before {
  content: "\e6cb";
}
.wf-store:before {
  content: "\e6cc";
}
.wf-sun:before {
  content: "\e6cd";
}
.wf-sun-o:before {
  content: "\e6ce";
}
.wf-tank:before {
  content: "\e6cf";
}
.wf-tank-horizontal:before {
  content: "\e6d0";
}
.wf-tank-vertical:before {
  content: "\e6d1";
}
.wf-target:before {
  content: "\e6d2";
}
.wf-temperature:before {
  content: "\e6d3";
}
.wf-thermometer:before {
  content: "\e6d4";
}
.wf-thumbs:before {
  content: "\e6d5";
}
.wf-thunder-storm:before {
  content: "\e6d6";
}
.wf-thunder-storm-o:before {
  content: "\e6d7";
}
.wf-tiles:before {
  content: "\e6d8";
}
.wf-toolbox:before {
  content: "\e6d9";
}
.wf-transformator:before {
  content: "\e6da";
}
.wf-truck:before {
  content: "\e6db";
}
.wf-unlock:before {
  content: "\e6dc";
}
.wf-upload:before {
  content: "\e6dd";
}
.wf-user:before {
  content: "\e6de";
}
.wf-user-id:before {
  content: "\e6df";
}
.wf-user-log:before {
  content: "\e6e0";
}
.wf-users:before {
  content: "\e6e1";
}
.wf-valve:before {
  content: "\e6e2";
}
.wf-valve-handle:before {
  content: "\e6e3";
}
.wf-valve-symbol:before {
  content: "\e6e4";
}
.wf-warning-reload:before {
  content: "\e6e5";
}
.wf-waste:before {
  content: "\e6e6";
}
.wf-waste-water:before {
  content: "\e6e7";
}
.wf-water:before {
  content: "\e6e8";
}
.wf-weather:before {
  content: "\e6e9";
}
.wf-wflogo:before {
  content: "\e6ea";
}
.wf-wind:before {
  content: "\e6eb";
}
.wf-wind-blow:before {
  content: "\e6ec";
}
.wf-windmill:before {
  content: "\e6ed";
}
.wf-window:before {
  content: "\e6ee";
}
.wf-window-opened:before {
  content: "\e6ef";
}
.wf-window-opened-half:before {
  content: "\e6f0";
}
.wf-world:before {
  content: "\e6f1";
}
.wf-wrench:before {
  content: "\e6f2";
}
.wf-arrow-down-over:before {
  content: "\e6f3";
}
.wf-arrow-down-under:before {
  content: "\e6f4";
}
.wf-arrow-up-over:before {
  content: "\e6f5";
}
.wf-arrow-up-under:before {
  content: "\e6f6";
}
.wf-alarm-clock-o:before {
  content: "\e6f7";
}
.wf-clipboard:before {
  content: "\e6f8";
}
.wf-close-round-o:before {
  content: "\e6f9";
}
.wf-user-id-o:before {
  content: "\e6fa";
}
.wf-column-chart:before {
  content: "\e6fb";
}
.wf-column-chart-1:before {
  content: "\e6fc";
}
.wf-column-chart-2:before {
  content: "\e6fd";
}
.wf-column-chart-3:before {
  content: "\e6fe";
}
.wf-line-chart:before {
  content: "\e6ff";
}
.wf-line-chart-1:before {
  content: "\e700";
}
.wf-spline-chart:before {
  content: "\e701";
}
.wf-spline-chart-1:before {
  content: "\e702";
}
.wf-pie-chart:before {
  content: "\e703";
}
.wf-donut-chart:before {
  content: "\e704";
}
.wf-bar-chart:before {
  content: "\e705";
}
.wf-bar-chart-1:before {
  content: "\e706";
}
.wf-area-chart:before {
  content: "\e707";
}
.wf-area-chart-1:before {
  content: "\e708";
}
.wf-scatter-chart:before {
  content: "\e709";
}
.wf-stock-chart:before {
  content: "\e70a";
}
.wf-stock-chart-1:before {
  content: "\e70b";
}
.wf-surface-chart:before {
  content: "\e70c";
}
.wf-surface-chart-1:before {
  content: "\e70d";
}
.wf-pyramid-chart:before {
  content: "\e70e";
}
.wf-heating-motor:before {
  content: "\e70f";
}
.wf-hvac-cooling-tower-icon:before {
  content: "\e710";
}
.wf-hvac-icon:before {
  content: "\e711";
}
.wf-air-pump:before {
  content: "\e712";
}
.wf-isometric:before {
  content: "\e713";
}
.wf-converge:before {
  content: "\e714";
}
.wf-isometric-o:before {
  content: "\e715";
}
.wf-compressed-air:before {
  content: "\e716";
}
.wf-isometrics:before {
  content: "\e717";
}
.wf-diverge:before {
  content: "\e718";
}
.wf-isometrics-o:before {
  content: "\e719";
}
.wf-chemical-reaction:before {
  content: "\e71a";
}
.wf-nitrogen:before {
  content: "\e71b";
}
.wf-heating-oil:before {
  content: "\e71c";
}
.wf-oil:before {
  content: "\e71d";
}
.wf-compressed-air1:before {
  content: "\e71e";
}
.wf-oxygen:before {
  content: "\e71f";
}
.wf-heating-oil-o:before {
  content: "\e720";
}
.wf-pressurised-gas:before {
  content: "\e721";
}
.wf-argon:before {
  content: "\e722";
}
.wf-production-robot:before {
  content: "\e723";
}
.wf-production-robot1:before {
  content: "\e724";
}
.wf-delta-chart:before {
  content: "\e725";
}
.wf-excel-doc:before {
  content: "\e726";
}
.wf-excel-doc-1:before {
  content: "\e727";
}
.wf-excel-doc-2:before {
  content: "\e728";
}
.wf-excel-doc-3:before {
  content: "\e729";
}
.wf-alarm-o:before {
  content: "\e72a";
}
.wf-bell-o:before {
  content: "\e72b";
}
.wf-fire-o:before {
  content: "\e72c";
}
.wf-garbage-container-o:before {
  content: "\e72d";
}
.wf-user-o:before {
  content: "\e72e";
}
.wf-users-o:before {
  content: "\e72f";
}
.wf-cog-o:before {
  content: "\e730";
}
.wf-cogs-o:before {
  content: "\e731";
}
.wf-close-round-o2:before {
  content: "\e732";
}
.wf-arrow-metro-o:before {
  content: "\e733";
}
.wf-power-off:before {
  content: "\e734";
}
.wf-mail-o:before {
  content: "\e735";
}
.wf-flag-o:before {
  content: "\e736";
}
.wf-car-o:before {
  content: "\e737";
}
.wf-callout-o:before {
  content: "\e738";
}
.wf-small-add:before {
  content: "\e739";
}
.wf-small-add-round:before {
  content: "\e73a";
}
.wf-small-add-round-o:before {
  content: "\e73b";
}
.wf-small-x-round-o:before {
  content: "\e73c";
}
.wf-temperature-o:before {
  content: "\e73d";
}
.wf-average:before {
  content: "\e73e";
}
.wf-max:before {
  content: "\e73f";
}
.wf-min:before {
  content: "\e740";
}
.wf-room1:before {
  content: "\e741";
}
.wf-room2:before {
  content: "\e742";
}
.wf-room3:before {
  content: "\e743";
}
.wf-chart-gap:before {
  content: "\e744";
}
.wf-compare-object:before {
  content: "\e745";
}
.wf-compare-time:before {
  content: "\e746";
}
.wf-consumption-media:before {
  content: "\e747";
}
.wf-consumption-media-1:before {
  content: "\e748";
}
.wf-blank-character:before {
  content: "\e749";
}
.wf-ammonium:before {
  content: "\e74a";
}
.wf-broken-cake:before {
  content: "\e74b";
}
.wf-canteen:before {
  content: "\e74c";
}
.wf-cinema-1:before {
  content: "\e74d";
}
.wf-cinema-2:before {
  content: "\e74e";
}
.wf-cinema:before {
  content: "\e74f";
}
.wf-city-hall:before {
  content: "\e750";
}
.wf-city-hall-1:before {
  content: "\e751";
}
.wf-city-hall-2:before {
  content: "\e752";
}
.wf-city:before {
  content: "\e753";
}
.wf-cooling-water:before {
  content: "\e754";
}
.wf-cup:before {
  content: "\e755";
}
.wf-data-center:before {
  content: "\e756";
}
.wf-data-center-1:before {
  content: "\e757";
}
.wf-fire-alarm:before {
  content: "\e758";
}
.wf-fire-extinguisher:before {
  content: "\e759";
}
.wf-fire-hydrant:before {
  content: "\e75a";
}
.wf-food:before {
  content: "\e75b";
}
.wf-hamburger:before {
  content: "\e75c";
}
.wf-helium:before {
  content: "\e75d";
}
.wf-hospital:before {
  content: "\e75e";
}
.wf-hospital-1:before {
  content: "\e75f";
}
.wf-hotel:before {
  content: "\e760";
}
.wf-hotel-1:before {
  content: "\e761";
}
.wf-hydrogen:before {
  content: "\e762";
}
.wf-luggage:before {
  content: "\e763";
}
.wf-map:before {
  content: "\e764";
}
.wf-map-1:before {
  content: "\e765";
}
.wf-map-2:before {
  content: "\e766";
}
.wf-mixed-building:before {
  content: "\e767";
}
.wf-museum:before {
  content: "\e768";
}
.wf-museum-1:before {
  content: "\e769";
}
.wf-process-heat:before {
  content: "\e76a";
}
.wf-residence:before {
  content: "\e76b";
}
.wf-residence-1:before {
  content: "\e76c";
}
.wf-restaurant:before {
  content: "\e76d";
}
.wf-room-cooling:before {
  content: "\e76e";
}
.wf-sawtooth-wave:before {
  content: "\e76f";
}
.wf-school:before {
  content: "\e770";
}
.wf-sharp-pulse:before {
  content: "\e771";
}
.wf-sine-wave:before {
  content: "\e772";
}
.wf-sports-hall:before {
  content: "\e773";
}
.wf-square-wave:before {
  content: "\e774";
}
.wf-stadium:before {
  content: "\e775";
}
.wf-stadium-1:before {
  content: "\e776";
}
.wf-swimming-pool:before {
  content: "\e777";
}
.wf-tree-structure:before {
  content: "\e778";
}
.wf-tree-structure-1:before {
  content: "\e779";
}
.wf-tree-structure-2:before {
  content: "\e77a";
}
.wf-tree-structure-3:before {
  content: "\e77b";
}
.wf-tree-structure-4:before {
  content: "\e77c";
}
.wf-tree-structure-5:before {
  content: "\e77d";
}
.wf-warehouse:before {
  content: "\e77e";
}
.wf-warehouse-1:before {
  content: "\e77f";
}
.wf-cake:before {
  content: "\e780";
}
.wf-dough:before {
  content: "\e781";
}
.wf-workshop:before {
  content: "\e782";
}
.wf-workshop-1:before {
  content: "\e783";
}
.wf-pin-left:before {
  content: "\e784";
}
.wf-pin-top:before {
  content: "\e785";
}
.wf-pin-right:before {
  content: "\e786";
}
.wf-sports:before {
  content: "\e787";
}
.wf-sigma:before {
  content: "\e788";
}
.wf-agregate:before {
  content: "\e789";
}
.wf-chip:before {
  content: "\e78a";
}
.wf-chip-1:before {
  content: "\e78b";
}
.wf-co2-cloud:before {
  content: "\e78c";
}
.wf-edit-field:before {
  content: "\e78d";
}
.wf-ethernet-socket:before {
  content: "\e78e";
}
.wf-password:before {
  content: "\e78f";
}
.wf-password-field:before {
  content: "\e790";
}
.wf-password-field-1:before {
  content: "\e791";
}
.wf-plc:before {
  content: "\e792";
}
.wf-redo:before {
  content: "\e793";
}
.wf-reload-arrow:before {
  content: "\e794";
}
.wf-save-and-add-new:before {
  content: "\e795";
}
.wf-save-and-close:before {
  content: "\e796";
}
.wf-save-and-open:before {
  content: "\e797";
}
.wf-select-all:before {
  content: "\e798";
}
.wf-select-all-1:before {
  content: "\e799";
}
.wf-sub-units:before {
  content: "\e79a";
}
.wf-sub-units-1:before {
  content: "\e79b";
}
.wf-unselect-all:before {
  content: "\e79c";
}
.wf-unselect-all-1:before {
  content: "\e79d";
}
.wf-clear:before {
  content: "\e79e";
}
.wf-no-conection:before {
  content: "\e79f";
}
.wf-no-conection-1:before {
  content: "\e7a0";
}
.wf-signal-wifi-slash:before {
  content: "\e7a1";
}
.wf-parent-unit:before {
  content: "\e7a2";
}
.wf-list:before {
  content: "\e7a3";
}
.wf-counter-list:before {
  content: "\e7a4";
}
.wf-device-list:before {
  content: "\e7a5";
}
.wf-language:before {
  content: "\e7a6";
}
.wf-test-dummy:before {
  content: "\e7a7";
}
.wf-i4analytics:before {
  content: "\e7a8";
}
.wf-i4energy:before {
  content: "\e7a9";
}
.wf-i4maintenance:before {
  content: "\e7aa";
}
.wf-i4monitoring:before {
  content: "\e7ab";
}
.wf-i4scada:before {
  content: "\e7ac";
}
.wf-device:before {
  content: "\e7ad";
}
.wf-save-filter:before {
  content: "\e7ae";
}
.wf-open-filter:before {
  content: "\e7af";
}
.wf-shared-filter:before {
  content: "\e7b0";
}
.wf-personal-filter:before {
  content: "\e7b1";
}
.wf-parts:before {
  content: "\e7b2";
}
.wf-puzzle:before {
  content: "\e7b3";
}
.wf-article:before {
  content: "\e7b4";
}
.wf-document:before {
  content: "\e7b5";
}
.wf-event-duration:before {
  content: "\e7b6";
}
.wf-event-count:before {
  content: "\e7b7";
}
.wf-mtbf:before {
  content: "\e7b8";
}
.wf-oee:before {
  content: "\e7b9";
}
.wf-time-cost:before {
  content: "\e7ba";
}
.wf-availability-1:before {
  content: "\e7bb";
}
.wf-availability-2:before {
  content: "\e7bc";
}
.wf-chevron-down:before {
  content: "\e7bd";
}
.wf-chevron-left:before {
  content: "\e7be";
}
.wf-chevron-right:before {
  content: "\e7bf";
}
.wf-chevron-up:before {
  content: "\e7c0";
}
.wf-quality-1:before {
  content: "\e7c1";
}
.wf-quality-2:before {
  content: "\e7c2";
}
.wf-script-1:before {
  content: "\e7c3";
}
.wf-script-2:before {
  content: "\e7c4";
}
.wf-script-3:before {
  content: "\e7c5";
}
.wf-script-4:before {
  content: "\e7c6";
}
.wf-scripts-1:before {
  content: "\e7c7";
}
.wf-scripts-2:before {
  content: "\e7c8";
}
.wf-scripts-3:before {
  content: "\e7c9";
}
.wf-scripts-4:before {
  content: "\e7ca";
}
.wf-stopwatch-1:before {
  content: "\e7cb";
}
.wf-traceability-1:before {
  content: "\e7cc";
}
.wf-traceability-2:before {
  content: "\e7cd";
}
/*---- Deprecated font classes ----*/

.wf-city-hall_1:before {
  content: "\e751"; }

.wf-city-hall_2:before {
  content: "\e752"; }

.wf-data-center_1:before {
  content: "\e757"; }

.wf-hospital_1:before {
  content: "\e75f"; }

.wf-hotel_1:before {
  content: "\e761"; }

.wf-map_1:before {
  content: "\e765"; }

.wf-map_2:before {
  content: "\e766"; }

.wf-museum_1:before {
  content: "\e769"; }

.wf-residence_1:before {
  content: "\e76c"; }

.wf-stadium_1:before {
  content: "\e776"; }

.wf-tree-structure_1:before {
  content: "\e779"; }

.wf-tree-structure_2:before {
  content: "\e77a"; }

.wf-tree-structure_3:before {
  content: "\e77b"; }

.wf-tree-structure_4:before {
  content: "\e77c"; }

.wf-tree-structure_5:before {
  content: "\e77d"; }

.wf-warehouse_1:before {
  content: "\e77f"; }

.wf-sportshall:before {
  content: "\e773";
}

.wf-workshop_1:before {
  content: "\e783"; }
/*---- Deprecated font classes ----*/


/* Chevron icons */
.wf-chevron::before {
	border-style: solid;
	border-width: 0.25em 0.25em 0 0;
	content: '';
	display: inline-block;
	height: 0.45em;
	left: 0.15em;
	position: relative;
	top: 0.15em;
	transform: rotate(-45deg);
	vertical-align: top;
	width: 0.45em;
}

.wf-chevron-right:before {
	left: 0;
	transform: rotate(45deg);
}

.wf-chevron-bottom:before {
	top: 0;
	transform: rotate(135deg);
}

.wf-chevron-left:before {
	left: 0.25em;
	transform: rotate(-135deg);
}