﻿<div data-bind="css: symbol, click: openDialog, attr: { 'class': status }, style: { transform: 'rotate(' + winkel + 'deg)' } "></div>
<div data-bind="if: digital">
    <div data-bind="bsAusgabefeld:{signalName: signalname, typ: 'istwert', einheit: unit }, style: { left: anzeigefeldLinks + 'px', top: anzeigefeldOben + 'px', position: 'absolute' }">???</div>
</div>