﻿<!--<div class="wf-user-login relative">-->
    <!--<button type="button" data-bind="css: cssClass, bsPopover: {template: 'wf wf-sun-o-' + ID(), options: { title: connector.translate('I4SCADA_User_login'), placement: 'bottom', singleMode: true, headerCssClass: popoverHeaderCssClass}}">

    </button>-->
  
<!--</div>-->