﻿
/*-----------------------
    Basic Elements 
-----------------------*/

body {
    font-family: 'Segoe UI', Arial, Helvetica;
    font-size: 13px;
}

h1, h2, h3, h4 {
    text-align: left;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
    font-size: 26px;
    display: block;
}

h2 {
    font-size: 20px;
}

h3 {
    margin: 5px 0 0 0;
    font-size: 20px;
}

h4, h5, h6 {
    display: block;
    font-size: 18px;
}

/*-----------------------
    Layout Elements
-----------------------*/

#main-wrapper {
    height: 100%;
}

.page-host {
    position: relative;
    height: 100%;
}

.main {
    padding-bottom: 30px;
}

#footer {
    line-height: 30px;
    min-height: 30px;
    text-align: left;
}

.durandal-wrapper {
    position: relative;
    height: 100%;
    text-align: left;
}
