﻿/*****************************************************************************************************************************************************************************************************************************************************
    Bühler+Scherler
--------------------------------------------------------------------------------------------------------------------------


--------------------------------------------------------------------------------------------------------------------------
ERSTELLT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0		R.Brunnschweiler	BS                  10.07.2017
--------------------------------------------------------------------------------------------------------------------------
GEÄNDERT:
VERSION:	AUTOR:				FIRMA:				DATUM:



*********************************************************************************************************************************************************************************************************************************************************/
/**********************************************************************************************************************************************************************************************************************************************************
    B+S August Manser Style Sheets
/*********************************************************************************************************************************************************************************************************************************************************
/*-----------------------------------------------------------
    B+S Frames Grundrisse
 ------------------------------------------------------------*/
.bs-grundriss-ug {
    background: #fff url('../svg/august_manser/Raumautomation/UG.svg') no-repeat;
    height: 2500px;
    width: 1800px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.bs-grundriss-eg {
    background: #fff url('../svg/august_manser/Raumautomation/EG.svg') no-repeat;
    height: 2700px;
    width: 1800px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.bs-grundriss-1-og {
    background: #fff url('../svg/august_manser/Raumautomation/1_OG.svg') no-repeat;
    height: 2700px;
    width: 1800px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.bs-grundriss-2-og {
    background: #fff url('../svg/august_manser/Raumautomation/2_OG.svg') no-repeat;
    height: 2500px;
    width: 1800px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}
/*-----------------------------------------------------------
    B+S Frames SPS U107_GA01_S001
 ------------------------------------------------------------*/
.bs-u107-ga01-s001-uebersicht {
    border-color: #bebebe;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    width: 19%;
    height: auto;
}

.bs-uebersicht-row-2 {
    margin-top: 4px;
}
/*-----------------------------------------------------------
    B+S Frames SPS U107_GA01_S001
 ------------------------------------------------------------*/
.bs-u107-ga01-s001-s30 {
    background: #fff url('../svg/august_manser/U107_GA01_S001/U107_GA01_S001_S30.svg') no-repeat;
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.bs-u107-ga01-s001-s31 {
    background: #fff url('../svg/august_manser/U107_GA01_S001/U107_GA01_S001_S31.svg') no-repeat;
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.bs-u107-ga01-s001-s32 {
    background: #fff url('../svg/august_manser/U107_GA01_S001/U107_GA01_S001_S32.svg') no-repeat;
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.bs-u107-ga01-s001-s33 {
    background: #fff url('../svg/august_manser/U107_GA01_S001/U107_GA01_S001_S33.svg') no-repeat;
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.bs-u107-ga01-s001-s34 {
    background: #fff url('../svg/august_manser/U107_GA01_S001/U107_GA01_S001_S34.svg') no-repeat;
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.bs-u107-ga01-s001-s35 {
    background: #fff url('../svg/august_manser/U107_GA01_S001/U107_GA01_S001_S35.svg') no-repeat;
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}
/*-----------------------------------------------------------
    B+S Frames SPS U110_GA01_S001
 ------------------------------------------------------------*/
.bs-u110-ga01-s001-s30 {
    background: #fff url('../svg/august_manser/U110_GA01_S001/U110_GA01_S001_S30.svg') no-repeat;
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.bs-u110-ga01-s001-s31 {
    background: #fff url('../svg/august_manser/U110_GA01_S001/U110_GA01_S001_S31.svg') no-repeat;
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.bs-u110-ga01-s001-s32 {
    background: #fff url('../svg/august_manser/U110_GA01_S001/U110_GA01_S001_S32.svg') no-repeat;
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.bs-u110-ga01-s001-s33 {
    background: #fff url('../svg/august_manser/U110_GA01_S001/U110_GA01_S001_S33.svg') no-repeat;
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.bs-u110-ga01-s001-s34 {
    background: #fff url('../svg/august_manser/U110_GA01_S001/U110_GA01_S001_S34.svg') no-repeat;
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.bs-u110-ga01-s001-s35 {
    background: #fff url('../svg/august_manser/U110_GA01_S001/U110_GA01_S001_S35.svg') no-repeat;
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}
/*-----------------------------------------------------------
    B+S Frames SPS U118_GA01_S001
 ------------------------------------------------------------*/
.bs-u118-ga01-s001-s30 {
    background: #fff url('../svg/august_manser/U118_GA01_S001/U118_GA01_S001_S30.svg') no-repeat;
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.bs-u118-ga01-s001-s31 {
    background: #fff url('../svg/august_manser/U118_GA01_S001/U118_GA01_S001_S31.svg') no-repeat;
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}
/*-----------------------------------------------------------
    B+S Frames SPS O127_GA01_S001
 ------------------------------------------------------------*/
.bs-o127-ga01-s001-s30 {
    background: #fff url('../svg/august_manser/O127_GA01_S001/O127_GA01_S001_S30.svg') no-repeat;
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.bs-o127-ga01-s001-s34 {
    background: #fff url('../svg/august_manser/O127_GA01_S001/O127_GA01_S001_S34.svg') no-repeat;
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.bs-o127-ga01-s001-s31 {
    background: #fff url('../svg/august_manser/O127_GA01_S001/O127_GA01_S001_S31.svg') no-repeat;
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.bs-o127-ga01-s001-s32 {
    background: #fff url('../svg/august_manser/O127_GA01_S001/O127_GA01_S001_S32.svg') no-repeat;
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.bs-o127-ga01-s001-s35 {
    background: #fff url('../svg/august_manser/O127_GA01_S001/O127_GA01_S001_S35.svg') no-repeat;
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.bs-o127-ga01-s001-s36 {
    background: #fff url('../svg/august_manser/O127_GA01_S001/O127_GA01_S001_S36.svg') no-repeat;
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}
/*-----------------------------------------------------------
    B+S Frames SPS O128_GA01_S001
 ------------------------------------------------------------*/
.bs-o128-ga01-s001-s30 {
    background: #fff url('../svg/august_manser/O128_GA01_S001/O128_GA01_S001_S30.svg') no-repeat;
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.bs-o128-ga01-s001-s34 {
    background: #fff url('../svg/august_manser/O127_GA01_S001/O127_GA01_S001_S34.svg') no-repeat;
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}
/********* gleich wie bei O127
.bs-o128-ga01-s001-s31 {
    background: #fff url('../svg/august_manser/O128_GA01_S001/O128_GA01_S001_S31.svg') no-repeat;
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.bs-o128-ga01-s001-s32 {
    background: #fff url('../svg/august_manser/O128_GA01_S001/O128_GA01_S001_S32.svg') no-repeat;
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}
*/
.bs-o128-ga01-s001-s35 {
    background: #fff url('../svg/august_manser/O128_GA01_S001/O128_GA01_S001_S35.svg') no-repeat;
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.bs-o128-ga01-s001-s36 {
    background: #fff url('../svg/august_manser/O128_GA01_S001/O128_GA01_S001_S36.svg') no-repeat;
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}
/*-----------------------------------------------------------
    B+S Frames SPS O220_GA01_S001
 ------------------------------------------------------------*/
.bs-o220-ga01-s001-s30 {
    background: #fff url('../svg/august_manser/O220_GA01_S001/O220_GA01_S001_S30.svg') no-repeat;
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.bs-o220-ga01-s001-s31 {
    background: #fff url('../svg/august_manser/O220_GA01_S001/O220_GA01_S001_S31.svg') no-repeat;
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.bs-o220-ga01-s001-s32 {
    background: #fff url('../svg/august_manser/O220_GA01_S001/O220_GA01_S001_S32.svg') no-repeat;
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.bs-o220-ga01-s001-s33 {
    background: #fff url('../svg/august_manser/O220_GA01_S001/O220_GA01_S001_S33.svg') no-repeat;
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}
/*-----------------------------------------------------------
    B+S Frames SPS O226_GA01_S001
 ------------------------------------------------------------*/
.bs-o226-ga01-s001-s30 {
    background: #fff url('../svg/august_manser/O226_GA01_S001/O226_GA01_S001_S30.svg') no-repeat;
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.bs-o226-ga01-s001-s31 {
    background: #fff url('../svg/august_manser/O226_GA01_S001/O226_GA01_S001_S31.svg') no-repeat;
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.bs-o226-ga01-s001-s32 {
    background: #fff url('../svg/august_manser/O226_GA01_S001/O226_GA01_S001_S32.svg') no-repeat;
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.bs-o226-ga01-s001-s33 {
    background: #fff url('../svg/august_manser/O226_GA01_S001/O226_GA01_S001_S33.svg') no-repeat;
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}
/*-----------------------------------------------------------
    B+S Frames Beschattung
 ------------------------------------------------------------*/
.bs-beschattung-nord {
    background: #fff url('../svg/august_manser/Beschattung/Beschattung_Nord.svg') no-repeat;
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.bs-beschattung-sued {
    background: #fff url('../svg/august_manser/Beschattung/Beschattung_Sued.svg') no-repeat;
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.bs-beschattung-ost {
    background: #fff url('../svg/august_manser/Beschattung/Beschattung_West_Ost.svg') no-repeat;
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.bs-beschattung-west {
    background: #fff url('../svg/august_manser/Beschattung/Beschattung_West_Ost.svg') no-repeat;
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.bs-beschattung-innenhof {
    background: #fff url('../svg/august_manser/Beschattung/Beschattung_Innenhof.svg') no-repeat;
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}
/*-----------------------------------------------------------
    B+S Pfeil für Seiten-Verlinkung
 ------------------------------------------------------------*/
.bs-pfeil-verlinkung-aussenluft {
    font-size: 35px;
    color: #0f0;
    scrollbar-track-color: #000000;
    text-decoration-color: #000000;
}

.bs-pfeil-verlinkung-zuluft {
    font-size: 35px;
    color: #ff0000;
    scrollbar-track-color: #000000;
    text-decoration-color: #000000;
}

.bs-pfeil-verlinkung-fortluft {
    font-size: 35px;
    color: #00f;
    scrollbar-track-color: #000000;
    text-decoration-color: #000000;
}

.bs-pfeil-verlinkung-abluft {
    font-size: 35px;
    color: #ff0;
    scrollbar-track-color: #000000;
    text-decoration-color: #000000;
}

.bs-pfeil-verlinkung-kaelte-vorlauf {
    font-size: 35px;
    color: #ff00ff;
    scrollbar-track-color: #000000;
    text-decoration-color: #000000;
}

.bs-pfeil-verlinkung-kaelte-ruecklauf {
    font-size: 35px;
    color: #b400b4;
    scrollbar-track-color: #000000;
    text-decoration-color: #000000;
}

.bs-pfeil-verlinkung-waerme-vorlauf {
    font-size: 35px;
    color: #ff0000;
    scrollbar-track-color: #000000;
    text-decoration-color: #000000;
}

.bs-pfeil-verlinkung-waerme-ruecklauf {
    font-size: 35px;
    color: #00f;
    scrollbar-track-color: #000000;
    text-decoration-color: #000000;
}

.bs-pfeil-verlinkung-kaelte-vorlauf-klein {
    font-size: 30px;
    color: #ff00ff;
    scrollbar-track-color: #000000;
    text-decoration-color: #000000;
}

.bs-pfeil-verlinkung-kaelte-ruecklauf-klein {
    font-size: 30px;
    color: #b400b4;
    scrollbar-track-color: #000000;
    text-decoration-color: #000000;
}

.bs-pfeil-verlinkung-waerme-vorlauf-klein {
    font-size: 30px;
    color: #ff0000;
    scrollbar-track-color: #000000;
    text-decoration-color: #000000;
}

.bs-pfeil-verlinkung-waerme-ruecklauf-klein {
    font-size: 30px;
    color: #00f;
    scrollbar-track-color: #000000;
    text-decoration-color: #000000;
}

.bs-pfeil-verlinkung-verteilung {
    font-size: 22px;
    color: #fff;
    scrollbar-track-color: #000000;
    text-decoration-color: #000000;
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
    border-radius: 4px;
    background-color: #747474;
    margin: auto;
    padding-left: 1px;
    padding-top: 1px;
    text-align: center;
    width: 32px;
}

/*-----------------------------------------------------------
    B+S Beschriftungen
 ------------------------------------------------------------*/
.bs-beschriftung-large {
    font-size: 35px;
    color: #4d4d4d;
    text-align: center;
    font-family: 'Century Gothic', Segoe UI, Arial, Helvetica;
}

.bs-beschriftung-large-rot {
    font-size: 35px;
    color: #ff0000;
    font-weight: bold;
    text-align: center;
    font-family: 'Century Gothic', Segoe UI, Arial, Helvetica;
    ;
}

.bs-beschriftung-medium {
    font-size: 16px;
    font-weight: bold;
    color: #4d4d4d;
    text-align: center;
    font-family: 'Century Gothic', Segoe UI, Arial, Helvetica;
}

.bs-beschriftung-medium-lfc {
    font-size: 16px;
    font-weight: normal;
    color: #4d4d4d;
    text-align: left;
    font-family: 'Century Gothic', Segoe UI, Arial, Helvetica;
}

.bs-beschriftung-medium-bel {
    font-size: 16px;
    font-weight: bold;
    color: #4d4d4d;
    text-align: center;
    font-family: 'Century Gothic', Segoe UI, Arial, Helvetica;
}

.bs-beschriftung-medium-weiss {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    font-family: 'Century Gothic', Segoe UI, Arial, Helvetica;
}

.bs-beschriftung-medium-weiss-14 {
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    font-family: 'Century Gothic', Segoe UI, Arial, Helvetica;
}

.bs-beschriftung-small {
    font-size: 10px;
    color: #4d4d4d;
    text-align: center;
    font-family: 'Century Gothic', Segoe UI, Arial, Helvetica;
}

.bs-beschriftung-small-weiss {
    font-size: 14px;
    color: #fff;
    text-align: center;
    font-family: 'Century Gothic', Segoe UI, Arial, Helvetica;
}

.bs-beschriftung-small-verteilung {
    font-size: 14px;
    color: #4d4d4d;
    text-align: left;
    font-family: 'Century Gothic', Segoe UI, Arial, Helvetica;
}

/*-----------------------------------------------------------
    B+S Systemuebersicht
 ------------------------------------------------------------*/
.bs-systemuebersicht {
    background-color: #747474;
    height: 359px;
    width: 358px;
    border-color: #515151;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    border-width: 2px;
    border-style: solid;
    border-radius: 9px;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.bs-systemuebersicht-tabelle-kopf {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-top: 2px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-family: 'Century Gothic', Segoe UI, Arial, Helvetica;
    background-color: #00a99d;
}

.bs-systemuebersicht-tabelle-kopf-kategorie {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    color: #fff;
    font-family: 'Century Gothic', Segoe UI, Arial, Helvetica;
    font-size: 21px;
    background-color: #02524c;
}

.bs-systemuebersicht-tabelle-kopf-klein {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
    padding-top: 2px;
    text-align: center;
    color: #fff;
    font-family: 'Century Gothic', Segoe UI, Arial, Helvetica;
    font-size: 11px;
    background-color: #00a99d;
    width: 89px;
}

.bs-systemuebersicht-tabelle-inhalt {
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 2px;
    padding-top: 2px;
    text-align: center;
    color: #000;
    font-family: 'Century Gothic', Segoe UI, Arial, Helvetica;
    background: linear-gradient(rgb(255, 255, 255) -35%, rgb(241, 241, 241) 24%, rgb(225, 225, 225) 51%, #cccccc 100%);
    height: 100px;
}

.bs-systemuebersicht-background {
    background: linear-gradient(rgb(125, 126, 125) 0%, rgb(14, 14, 14) 100%);
}
/*-----------------------------------------------------------
    B+S status WF Server 
 ------------------------------------------------------------*/
.bs-SPS-Komm {
    width: 129px;
    height: 42px;
    padding-top: 1px;
    padding-left: 3px;
    border-radius: 5px;
    border-style: solid;
    border-color: darkgray;
    border-width: 1px;
    background: linear-gradient(rgb(255, 255, 255) 0%, rgb(241, 241, 241) 50%, rgb(225, 225, 225) 51%, rgb(246, 246, 246) 100%);
}

.bs-SPS-Komm-xs {
    width: 24px;
    height: 42px;
    padding-top: 1px;
    padding-left: 3px;
    border-radius: 5px;
    /* border-style: solid; */
    border-color: darkgray;
    border-width: 1px;
    /* background: linear-gradient(rgb(255, 255, 255) 0%, rgb(241, 241, 241) 50%, rgb(225, 225, 225) 51%, rgb(246, 246, 246) 100%); */
}

.bs-SPS-Komm-1 {
    padding-top: 1px;
    padding-left: 3px;
}

.bs-SPS-Komm-2 {
    padding-top: 1px;
    padding-left: 3px;
}

.bs-SPS-Komm-3 {
    width: 22px;
    height: 22px;
    padding-top: 0px;
    padding-left: 2px;
    border-radius: 17px;
    border-style: solid;
    border-color: darkgray;
    border-width: 1px;
    background: linear-gradient(rgb(255, 255, 255) 0%, rgb(241, 241, 241) 50%, rgb(225, 225, 225) 51%, rgb(246, 246, 246) 100%);
    position: relative;
    display: inline-block;
}

/*Logo Loading---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.bs-logo {
    background: url("../images/BS/kugel.png") no-repeat center center;
    background-size: contain;
    width: 225px;
    height: 170px;
    margin: 0 auto;
}

.bs-logo-veiso {
    background: url(../images/BS/VEISO_Logo.svg) no-repeat center center;
    background-size: contain;
    margin-top: 16px;
    margin-left: 128px;
    width: 120px;
    height: 55px;
}


/*Beschattungs Widget dynamisch---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.bs-container-beschattung {
    /*width: 158px;
    height: 107px;*/
    background-color: #88eaff;
    /*border-radius: 3px;
    border-color: #b7b7b7;
    border-style: solid;*/
}

/*-----------------------------------------------------------
    Wetterdaten
 ------------------------------------------------------------*/

.bs-logo-wetter {
    font-size: 41px;
    left: 164px;
    top: -3px;
    position: absolute;
}

.wetter-popover-content {
    width: 180px;
}
/*-----------------------------------------------------------
    Beleuchtung Aussenbereich
 ------------------------------------------------------------*/

.bs-light-outside {
    width: 297px;
    height: 100px;
    margin: 5px;
    float: left;
    border: solid;
    border-radius: 5px;
    border-color: gray;
    background-color: #a6a6a6;
}


.bs-beleuchtung {
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

/*-----------------------------------------------------------
    Energiezähler
 ------------------------------------------------------------*/
.bs-energiezaehler {
    width: 131px;
    height: 127px;
    border-radius: 5px;
    border-style: solid;
    border-color: darkgray;
    border-width: 1px;
    background: linear-gradient(rgb(246, 246, 246) 0%, gray 100%);
}

/*-----------------------------------------------------------
    B+S Sollwerte Frame
 ------------------------------------------------------------*/
.bs-sollwerte {
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

/*-----------------------------------------------------------
    B+S Button Kompaktlueftungen
 ------------------------------------------------------------*/

.bs-button-href-luef {
    width: 171px;
    height: 55px;
}

/*-----------------------------------------------------------
    B+S Button Footer
 ------------------------------------------------------------*/

.bs-footer {
    float: left;
}

/*-----------------------------------------------------------
    B+S sollwert Frames
 ------------------------------------------------------------*/

.bs-sollwert-beleuchtung {
    margin-left: 57px;
    margin-right: 57px;
    margin-top: -1px;
}

.bs-sollwert-beleuchtung-1 {
    margin-left: 57px;
    margin-right: 57px;
    margin-top: 26px;
}

.bs-sollwert-3-zeilen {
    margin-left: 57px;
    margin-right: 57px;
    margin-top: -1px;
}

.bs-sollwert-3-zeilen-box {
    border: solid;
    border-radius: 5px;
    border-color: gray;
    border-width: thin;
    background: linear-gradient(rgb(255, 255, 255) -35%, rgb(241, 241, 241) 24%, rgb(225, 225, 225) 51%, #cccccc 100%);
    margin: 5px;
    margin-left: 77px;
    height: 107px;
    padding-left: 0px;
    padding-right: 0px;
}

.bs-sollwert-2-zeilen-box {
    border: solid;
    border-radius: 5px;
    border-color: gray;
    border-width: thin;
    background: linear-gradient(rgb(255, 255, 255) -35%, rgb(241, 241, 241) 24%, rgb(225, 225, 225) 51%, #cccccc 100%);
    margin: 5px;
    margin-left: 77px;
    height: 90px;
    padding-left: 0px;
    padding-right: 0px;
}

.bs-sollwert-1-zeilen-box {
    border: solid;
    border-radius: 5px;
    border-color: gray;
    border-width: thin;
    background: linear-gradient(rgb(255, 255, 255) -35%, rgb(241, 241, 241) 24%, rgb(225, 225, 225) 51%, #cccccc 100%);
    margin: 5px;
    margin-left: 77px;
    height: 73px;
    padding-left: 0px;
    padding-right: 0px;
}

.bs-sollwert-3-zeilen-box-beschattung {
    border: solid;
    border-radius: 5px;
    border-color: gray;
    border-width: thin;
    background: linear-gradient(rgb(255, 255, 255) -35%, rgb(241, 241, 241) 24%, rgb(225, 225, 225) 51%, #cccccc 100%);
    margin: 5px;
    margin-left: 67px;
    height: 108px;
    padding-left: 0px;
    padding-right: 0px;
}

.bs-sollwert-2-zeilen-box-beschattung {
    border: solid;
    border-radius: 5px;
    border-color: gray;
    border-width: thin;
    background: linear-gradient(rgb(255, 255, 255) -35%, rgb(241, 241, 241) 24%, rgb(225, 225, 225) 51%, #cccccc 100%);
    margin: 5px;
    margin-left: 67px;
    height: 90px;
    padding-left: 0px;
    padding-right: 0px;
}

.bs-sollwert-1-zeilen-box-beschattung {
    border: solid;
    border-radius: 5px;
    border-color: gray;
    border-width: thin;
    background: linear-gradient(rgb(255, 255, 255) -35%, rgb(241, 241, 241) 24%, rgb(225, 225, 225) 51%, #cccccc 100%);
    margin: 5px;
    margin-left: 67px;
    height: 73px;
    padding-left: 0px;
    padding-right: 0px;
}

.bs-sollwert-1-zeilen-box-1-beschattung {
    border: solid;
    border-radius: 5px;
    border-color: gray;
    border-width: thin;
    background: linear-gradient(rgb(255, 255, 255) -35%, rgb(241, 241, 241) 24%, rgb(225, 225, 225) 51%, #cccccc 100%);
    margin: 5px;
    margin-left: 67px;
    height: 107px;
    padding-left: 0px;
    padding-right: 0px;
}

.bs-sollwert-besch-reinigung {
    border: solid;
    border-radius: 5px;
    border-color: gray;
    border-width: thin;
    background: linear-gradient(rgb(255, 255, 255) -35%, rgb(241, 241, 241) 24%, rgb(225, 225, 225) 51%, #cccccc 100%);
    margin: 5px;
    padding-left: 0px;
    padding-right: 0px;
    height: 118px;
}

.bs-sollwert-frost {
    margin-left: 29px;
    margin-right: 29px;
    margin-top: -1px;
}

.bs-sollwert-beschattung-button-1 {
    padding-left: 10px;
}

.bs-sollwert-beschattung-button-2 {
    padding-left: 10px;
    padding-top: 10px;
}

.bs-sollwert-beschattung-1 {
    margin-top: 8px;
    left: 212px;
    top: 29px;
    position: absolute;
}

.bs-sollwert-beschattung-2 {
    margin-top: 8px;
    left: 212px;
    top: 74px;
    position: absolute;
}

.bs-button-beschattung {
    width: 152px;
}

.bs-sollwert-waermekaelte {
    border: solid;
    border-radius: 5px;
    border-color: gray;
    border-width: thin;
    background: linear-gradient(rgb(255, 255, 255) -35%, rgb(241, 241, 241) 24%, rgb(225, 225, 225) 51%, #cccccc 100%);
    margin: 5px;
    margin-left: 74px;
    height: 122px;
    padding-left: 1px;
    padding-right: 0px;
}

.bs-sollwert-waermekaelte-1 {
    position: absolute;
    left: 7px;
    top: 32px;
}

.bs-sollwert-waermekaelte-2 {
    position: absolute;
    left: 57px;
    top: 32px;
}

.bs-sollwert-waermekaelte-3 {
    position: absolute;
    left: 107px;
    top: 32px;
}

.bs-sollwert-waermekaelte-4 {
    position: absolute;
    left: 47px;
    top: 93px;
}

.bs-sollwert-waermekaelte-5 {
    position: absolute;
    left: 0px;
    top: 73px;
}

.bs-beschriftung-medium-waerme {
    position: absolute;
    left: 16px;
}

.bs-beschriftung-err {
    font-size: 11px;
    font-weight: normal;
    color: #4d4d4d;
    text-align: center;
    font-family: 'Century Gothic', Segoe UI, Arial, Helvetica;
    margin-top: 0px;
}

.bs-err-feld-background {
    border: solid;
    border-radius: 5px;
    border-color: #fff;
    border-width: thin;
    background-color: aqua;
    height: 165px;
    width: 155px;
}

.bs-err-feld {
    border: solid;
    border-radius: 5px;
    border-color: #fff;
    border-width: thin;
    background: linear-gradient(rgb(255, 255, 255) -35%, rgb(241, 241, 241) 24%, rgb(225, 225, 225) 51%, #cccccc 100%);
    margin: 5px;
    height: 155px;
    width: 140px;
}

.bs-err-feld-1 {
    position: absolute;
    left: 39px;
    top: 21px;
}

.bs-err-feld-2 {
    position: absolute;
    left: 4.1px;
    top: 37px;
}

.bs-err-feld-3 {
    position: absolute;
    left: 39px;
    top: 43px;
}

.bs-err-feld-4 {
    position: absolute;
    left: 103px;
    top: 37px;
}

.bs-err-feld-5 {
    position: absolute;
    left: 39px;
    top: 65px;
}

.bs-err-ventil {
    width: 130px;
    height: 59px;
    border: solid;
    border-radius: 5px;
    border-color: gray;
    border-width: thin;
    background: linear-gradient(rgb(150, 150, 150) -35%, rgb(241, 241, 241) 24%, rgb(225, 225, 225) 51%, #a4a4a4 100%);
}

.bs-beschriftung-medium-sollwerte {
    font-size: 12px;
    color: #4d4d4d;
    text-align: center;
    font-family: 'Century Gothic', Segoe UI, Arial, Helvetica;
}

.bs-tuerkontakt {
    padding-bottom: 40px;
}

.bs-vav-ausgabefeld {
    border: 1px solid var(--border);
    background-color: var(--invers);
    color: var(--normal);
    border-radius: 4px;
    text-align: center;
    width: 68px;
    height: 20px;
    padding-bottom: 2px;
}

.bs-date {
    font-size: 15px;
    font-family: 'Century Gothic', Segoe UI, Arial, Helvetica;
    font-weight: normal;
    text-align: center;
    margin-top: 2px;
}

.bs-time {
    font-size: 27px;
    font-family: 'Century Gothic', Segoe UI, Arial, Helvetica;
    font-weight: 500;
    text-align: center;
    margin-top: 0px;
}

.bs-datetime {
    border: 1px solid #aaa;
    border-style: solid;
    border-radius: 9px;
    padding: 6px 13px;
    background-color: #eee;
    width: 103px;
    height: 73px;
    text-align: center;
    float: left;
    background: linear-gradient(rgb(255, 255, 255) -35%, rgb(241, 241, 241) 24%, rgb(225, 225, 225) 51%, #cccccc 100%);
    margin-left: 0px;
    margin-top: 8px;
}
