﻿/*****************************************************************************************************************************************************************************************************************************************************
    Bühler+Scherler
--------------------------------------------------------------------------------------------------------------------------


--------------------------------------------------------------------------------------------------------------------------
ERSTELLT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0		R.Brunnschweiler	BS                  31.01.2018
--------------------------------------------------------------------------------------------------------------------------
GEÄNDERT:
VERSION:	AUTOR:				FIRMA:				DATUM:



*********************************************************************************************************************************************************************************************************************************************************/
/**********************************************************************************************************************************************************************************************************************************************************
    B+S LFC Style Sheets
/*********************************************************************************************************************************************************************************************************************************************************

/*-----------------------------------------------------------
    B+S Frames Grundrisse
 ------------------------------------------------------------*/

.bs-business-heizung-H01WaermeerzeugungBASH01 {
    background: #fff url('../svg/lfc/business/heizung/1Business_2Heizung_3Erzeugung_4H01WaermeerzeugungBA_SH01.svg') no-repeat;
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.bs-business-heizung-H020304HeizverteilerBusiness {
    background: #fff url('../svg/lfc/business/heizung/1Business_2Heizung_3Heizverteiler_4H020304HeizverteilerBusiness.svg') no-repeat;
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.bs-business-heizung-H0506BWWFBHWohnungen {
    background: #fff url('../svg/lfc/business/heizung/1Business_2Heizung_3Wohnungen67OG_4H0506BWWFBHWohnungen.svg') no-repeat;
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.bs-hotel-heizung-H0708HeizverteilerHotelHA_SK01 {
    background: #fff url('../svg/lfc/hotel/heizung/1Hotel_2Heizung_3Heizverteiler_4H0708HeizverteilerHotelHA_SK01.svg') no-repeat;
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.bs-hotel-heizung-WarmwasserbereitungHotelHA_SK01 {
    background: #fff url('../svg/lfc/hotel/heizung/1Hotel_2Heizung_3BWWLadung_4WarmwasserbereitungHotelHA_SK01.svg') no-repeat;
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.bs-business-kaelteklima-K10K01K02KaelteverteilungBusinessBA_SH02_HotelHA_SK01 {
    background: #fff url('../svg/lfc/business/kaelteklima/1Business_2KaelteKlima_3Zentrale_4K10K01K02KaelteverteilungBusinessBA_SH02_HotelHA_SK01.svg') no-repeat;
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.bs-business-kaelteklima-K14KaelteverteilerBusiness {
    background: #fff url('../svg/lfc/business/kaelteklima/1Business_2KaelteKlima_3Kaelteverteilung_4K14KaelteverteilerBusiness.svg') no-repeat;
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.bs-hotel-kaelteklima-KlimadeckenKonferenzHA_SK01 {
    background: #fff url('../svg/lfc/hotel/kaelteklima/1Hotel_2KaelteKlima_3Klimadecken_4KlimadeckenKonferenzHA_SK01.svg') no-repeat;
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.bs-hotel-kaelteklima-K04K16K17ULKBackofficeEDVEGEDV1OG {
    background: #fff url('../svg/lfc/hotel/kaelteklima/1Hotel_2KaelteKlima_3ULKEG1OG_4K04K16K17ULKBackofficeEDVEGEDV1OG.svg') no-repeat;
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}


.bs-business-lueftungen-L02LueftungZentraleLaedenEGBA_SL01 {
    background: #fff url('../svg/lfc/business/lueftungen/1Business_2Lueftungen_3L02LaedenEG_L02Zentrale_4L02LueftungZentraleLaedenEGBA_SL01.svg') no-repeat;
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.bs-business-lueftungen-L02LueftungVerteilungLaedenEGBA_SL01 {
    background: #fff url('../svg/lfc/business/lueftungen/1Business_2Lueftungen_3L02LaedenEG_L02Verteilung_4L02LueftungVerteilungLaedenEGBA_SL01.svg') no-repeat;
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.bs-business-lueftungen-L03LueftungZentraleBueroSchuleBA_SL01 {
    background: #fff url('../svg/lfc/business/lueftungen/1Business_2Lueftungen_3L03BueroSchule_L03Zentrale_4L03LueftungZentraleBueroSchuleBA_SL01.svg') no-repeat;
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.bs-business-lueftungen-L03LueftungVerteilung1BueroSchuleBA_SL01 {
    background: #fff url('../svg/lfc/business/lueftungen/1Business_2Lueftungen_3L03BueroSchule_L03Verteilung1_4L03LueftungVerteilung1BueroSchuleBA_SL01.svg') no-repeat;
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.bs-business-lueftungen-L03LueftungVerteilung2BueroSchuleBA_SL01 {
    background: #fff url('../svg/lfc/business/lueftungen/1Business_2Lueftungen_3L03BueroSchule_L03Verteilung2_4L03LueftungVerteilung2BueroSchuleBA_SL01.svg') no-repeat;
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.bs-business-lueftungen-L03LueftungVerteilung3BueroSchuleBA_SL01 {
    background: #fff url('../svg/lfc/business/lueftungen/1Business_2Lueftungen_3L03BueroSchule_L03Verteilung3_4L03LueftungVerteilung3BueroSchuleBA_SL01.svg') no-repeat;
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.bs-business-lueftungen-L05LueftungenKellerAllgemeinA2BA_SL01 {
    background: #fff url('../svg/lfc/business/lueftungen/1Business_2Lueftungen_3L05KellerAllgemein_L05ZentraleA2_4L05LueftungenKellerAllgemeinA2BA_SL01.svg') no-repeat;
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.bs-business-lueftungen-L05LueftungenKellerAllgemeinA3BA_SL01 {
    background: #fff url('../svg/lfc/business/lueftungen/1Business_2Lueftungen_3L05KellerAllgemein_L05ZentraleA3_4L05LueftungenKellerAllgemeinA3BA_SL01.svg') no-repeat;
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.bs-business-lueftungen-L06LueftungHeizraumBA_SL01 {
    background: #fff url('../svg/lfc/business/lueftungen/1Business_2Lueftungen_3L06Heizraum_4L06LueftungHeizraumBA_SL01.svg') no-repeat;
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.bs-business-lueftungen-L07LueftungZentraleParkingBA_SL01 {
    background: #fff url('../svg/lfc/business/lueftungen/1Business_2Lueftungen_3L0708Parking_L07Parking_4L07LueftungZentraleParkingBA_SL01.svg') no-repeat;
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.bs-business-lueftungen-L08EntrauchungParkingBA_SL01 {
    background: #fff url('../svg/lfc/business/lueftungen/1Business_2Lueftungen_3L0708Parking_L08Entrauchung_4L08EntrauchungParkingBA_SL01.svg') no-repeat;
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.bs-business-lueftungen-L10LueftungKellerWohnungenBA_SL01 {
    background: #fff url('../svg/lfc/business/lueftungen/1Business_2Lueftungen_3L10KellerWohnungen_4L10LueftungKellerWohnungenBA_SL01.svg') no-repeat;
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.bs-hotel-lueftungen-L11LueftungZentraleHotellobbyHA_SL01 {
    background: #fff url('../svg/lfc/hotel/lueftungen/1Hotel_2Lueftungen_3L11HotellobbyBar_L11Zentrale_4L11LueftungZentraleHotellobbyHA_SL01.svg') no-repeat;
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.bs-hotel-lueftungen-L11LueftungHotellobbyBarHA_SL01 {
    background: #fff url('../svg/lfc/hotel/lueftungen/1Hotel_2Lueftungen_3L11HotellobbyBar_L11Verteilung_4L11LueftungHotellobbyBarHA_SL01.svg') no-repeat;
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}


.bs-hotel-lueftungen-L12LueftungZentraleRestaurantHA_SL01 {
    background: #fff url('../svg/lfc/hotel/lueftungen/1Hotel_2Lueftungen_3L12Restaurant_L12Zentrale_4L12LueftungZentraleRestaurantHA_SL01.svg') no-repeat;
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.bs-hotel-lueftungen-L12LueftungVerteilungRestaurantHA_SL01 {
    background: #fff url('../svg/lfc/hotel/lueftungen/1Hotel_2Lueftungen_3L12Restaurant_L12Verteilung_4L12LueftungVerteilungRestaurantHA_SL01.svg') no-repeat;
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.bs-hotel-lueftungen-L13LueftungZentraleKuecheHA_SL03 {
    background: #fff url('../svg/lfc/hotel/lueftungen/1Hotel_2Lueftungen_3L13Kueche_L13Zentrale_4L13LueftungZentraleKuecheHA_SL03.svg') no-repeat;
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.bs-hotel-lueftungen-L13LueftungVerteilungKuecheHA_SL03 {
    background: #fff url('../svg/lfc/hotel/lueftungen/1Hotel_2Lueftungen_3L13Kueche_L13Verteilung_4L13LueftungVerteilungKuecheHA_SL03.svg') no-repeat;
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.bs-hotel-lueftungen-L14LueftungZentraleKonferenzHA_SL01 {
    background: #fff url('../svg/lfc/hotel/lueftungen/1Hotel_2Lueftungen_3L14Konferenz1OG_L14Zentrale_4L14LueftungZentraleKonferenzHA_SL01.svg') no-repeat;
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.bs-hotel-lueftungen-L14LueftungVerteilung1KonferenzHA_SL01 {
    background: #fff url('../svg/lfc/hotel/lueftungen/1Hotel_2Lueftungen_3L14Konferenz1OG_L14Verteilung1_4L14LueftungVerteilung1KonferenzHA_SL01.svg') no-repeat;
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.bs-hotel-lueftungen-L14LueftungVerteilung2KonferenzHA_SL01 {
    background: #fff url('../svg/lfc/hotel/lueftungen/1Hotel_2Lueftungen_3L14Konferenz1OG_L14Verteilung2_4L14LueftungVerteilung2KonferenzHA_SL01.svg') no-repeat;
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.bs-hotel-lueftungen-L14LueftungVerteilung3KonferenzHA_SL01 {
    background: #fff url('../svg/lfc/hotel/lueftungen/1Hotel_2Lueftungen_3L14Konferenz1OG_L14Verteilung3_4L14LueftungVerteilung3KonferenzHA_SL01.svg') no-repeat;
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.bs-hotel-lueftungen-L15LueftungZentraleVerwaltungHA_SL01 {
    background: #fff url('../svg/lfc/hotel/lueftungen/1Hotel_2Lueftungen_3L15Verwaltung_L15Zentrale_4L15LueftungZentraleVerwaltungHA_SL01.svg') no-repeat;
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.bs-hotel-lueftungen-L15LueftungVerteilungVerwaltungHA_SL01 {
    background: #fff url('../svg/lfc/hotel/lueftungen/1Hotel_2Lueftungen_3L15Verwaltung_L15Verteilung1_4L15LueftungVerteilungVerwaltungHA_SL01.svg') no-repeat;
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.bs-hotel-lueftungen-L16LueftungZentraleHotelzimmerHA_SL01 {
    background: #fff url('../svg/lfc/hotel/lueftungen/1Hotel_2Lueftungen_3L16Hotelzimmer_L16Zentrale_4L16LueftungZentraleHotelzimmerHA_SL01.svg') no-repeat;
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.bs-hotel-lueftungen-L16LueftungVerteilung01HotelzimmerHA_SL01 {
    background: #fff url('../svg/lfc/hotel/lueftungen/1Hotel_2Lueftungen_3L16Hotelzimmer_L16Verteilung1_4L16LueftungVerteilung01HotelzimmerHA_SL01.svg') no-repeat;
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.bs-hotel-lueftungen-L16LueftungVerteilung02HotelzimmerHA_SL01 {
    background: #fff url('../svg/lfc/hotel/lueftungen/1Hotel_2Lueftungen_3L16Hotelzimmer_L16Verteilung2_4L16LueftungVerteilung02HotelzimmerHA_SL01.svg') no-repeat;
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.bs-hotel-lueftungen-L16LueftungVerteilung03HotelzimmerHA_SL01 {
    background: #fff url('../svg/lfc/hotel/lueftungen/1Hotel_2Lueftungen_3L16Hotelzimmer_L16Verteilung3_4L16LueftungVerteilung03HotelzimmerHA_SL01.svg') no-repeat;
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.bs-hotel-lueftungen-L16LueftungVerteilung04HotelzimmerHA_SL01 {
    background: #fff url('../svg/lfc/hotel/lueftungen/1Hotel_2Lueftungen_3L16Hotelzimmer_L16Verteilung4_4L16LueftungVerteilung04HotelzimmerHA_SL01.svg') no-repeat;
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.bs-hotel-lueftungen-L16LueftungVerteilung05HotelzimmerHA_SL01 {
    background: #fff url('../svg/lfc/hotel/lueftungen/1Hotel_2Lueftungen_3L16Hotelzimmer_L16Verteilung5_4L16LueftungVerteilung05HotelzimmerHA_SL01.svg') no-repeat;
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.bs-hotel-lueftungen-L17LueftungZentraleWCGarderobeHA_SL01 {
    background: #fff url('../svg/lfc/hotel/lueftungen/1Hotel_2Lueftungen_3L17WCGarderobe_L17Zentrale_4L17LueftungZentraleWCGarderobeHA_SL01.svg') no-repeat;
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.bs-hotel-lueftungen-L17LueftungVerteilungWCGarderobeHA_SL01 {
    background: #fff url('../svg/lfc/hotel/lueftungen/1Hotel_2Lueftungen_3L17WCGarderobe_L17Verteilung_4L17LueftungVerteilungWCGarderobeHA_SL01.svg') no-repeat;
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.bs-hotel-lueftungen-L18LueftungZentraleKellerHotelHA_SL01 {
    background: #fff url('../svg/lfc/hotel/lueftungen/1Hotel_2Lueftungen_3L1819KellerHotel_L18Keller_4L18LueftungZentraleKellerHotelHA_SL01.svg') no-repeat;
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.bs-hotel-lueftungen-L19LueftungZentraleEDVRaumHA_SL01 {
    background: #fff url('../svg/lfc/hotel/lueftungen/1Hotel_2Lueftungen_3L1819KellerHotel_L19EDVRaum_4L19LueftungZentraleEDVRaumHA_SL01.svg') no-repeat;
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.bs-hotel-lueftungen-L20LueftungZentraleUSVHA_SL01 {
    background: #fff url('../svg/lfc/hotel/lueftungen/1Hotel_2Lueftungen_3L20USVRaum_L20Zentrale_4L20LueftungZentraleUSVHA_SL01.svg') no-repeat;
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.bs-hotel-lueftungen-L21LueftungZentraleSturmlueftungHA_SL01 {
    background: #fff url('../svg/lfc/hotel/lueftungen/1Hotel_2Lueftungen_3L21Sturmlueftung_L21Zentrale_4L21LueftungZentraleSturmlueftungHA_SL01.svg') no-repeat;
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.bs-hotel-lueftungen-L23LueftungVerteilungFitnessH5_SL04 {
    background: #fff url('../svg/lfc/hotel/lueftungen/1Hotel_2Lueftungen_3L23Fitness_L23Fitness_4L23LueftungVerteilungFitnessH5_SL04.svg') no-repeat;
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.bs-hotel-lueftungen-L23LueftungVerteilungFitnessruheraumH5_SL04 {
    background: #fff url('../svg/lfc/hotel/lueftungen/1Hotel_2Lueftungen_3L23Fitness_L23Ruheraum_4L23LueftungVerteilungFitnessH5_SL04.svg') no-repeat;
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.bs-hotel-lueftungen-L24LueftungZentraleWaeschereiHASL05 {
    background: #fff url('../svg/lfc/hotel/lueftungen/1Hotel_2Lueftungen_3L24Waescherei_L24Zentrale_4L24LueftungZentraleWaeschereiHASL05.svg') no-repeat;
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.bs-hotel-lueftungen-L25LueftungVerteilungBankettH1_SL06 {
    background: #fff url('../svg/lfc/hotel/lueftungen/1Hotel_2Lueftungen_3L25Bankett_L25Verteilung_4L25LueftungVerteilungBankettH1_SL06.svg') no-repeat;
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.bs-hotel-lueftungen-L25LueftungZentraleBankettH1_SL06 {
    background: #fff url('../svg/lfc/hotel/lueftungen/1Hotel_2Lueftungen_3L25Bankett_L25Zentrale_4L25LueftungZentraleBankettH1_SL06.svg') no-repeat;
    height: 710px;
    width: 1850px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.bs-startseite {
    background: #fff url('../images/BS/Startbild1024x679.png') no-repeat;
    height: 670px;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}


/*-----------------------------------------------------------
    Raumautomation
 ------------------------------------------------------------*/

.bs-room-1 {
    padding-bottom: 20px;
}

.bs-room-2 {
    text-align: left;
}


.bs-room-widget-postion {
    position: absolute;
    left: 72px;
    top: -5px;
}

.bs-widget-room-row {
    padding-top: 3px;
    padding-bottom: 3px;
    border-bottom-style: solid;
    border-width: 1px;
}

.bs-widget-room-lock {
    font-size: 13px;
}

.bs-widget-room-button {
    width: 61px;
}

.bs-widget-room-sollwert {
    padding-left: 22px;
}

.bs-widget-room-status {
    padding-left: 21px;
}

.bs-modal-body {
    position: relative;
    padding-top: 0px;
    padding-left: 15px;
    padding-right: 15px;
}

.bs-anlagenschalter-lfc {
    width: 80px;
}

.bs-test-css {
    width: 500px;
    left: 300px;
    background-color: black;
}

.bs-room-table {
    padding-left: 5px;
}

.bs-fussbodenheizung {
    background: linear-gradient(rgb(255, 255, 255) -35%, rgb(241, 241, 241) 24%, rgb(225, 225, 225) 51%, #cccccc 100%);
    border: solid;
    border-radius: 5px;
    border-color: gray;
    border-width: thin;
    padding: 0px;
    margin: 10px 0px 10PX 0px;
}

.bs-fussbodenheizung-1 {
    display: grid;
    align-content: center;
    justify-content: center;
    padding-top: 5px;
}

.bs-fussbodenheizung-2 {
    display: grid;
    align-content: center;
    justify-content: center;
    padding-top: 5px;
}

.bs-fussbodenheizung-3 {
    display: grid;
    align-content: center;
    justify-content: center;
    padding-top: 5px;
}

.bs-fussbodenheizung-4 {
    display: grid;
    align-content: center;
    justify-content: center;
    padding-top: 5px;
}

.bs-fussbodenheizung-5 {
    display: grid;
    align-content: center;
    justify-content: center;
    padding-bottom: 0px;
    padding-top: 6px;
}

.bs-fussbodenheizung-9 {
    display: grid;
    align-content: center;
    justify-content: center;
    padding-bottom: 5px;
    padding-top: 5px;
}

.bs-fussbodenheizung-7 {
    background: linear-gradient(rgb(255, 255, 255) -35%, rgb(241, 241, 241) 24%, rgb(225, 225, 225) 51%, #cccccc 100%);
    border: solid;
    border-radius: 5px;
    border-color: gray;
    border-width: thin;
    padding: 0px;
    margin: 5px 5px 5PX 5px;
    align-content: flex-end;
    justify-content: flex-end;
}

.bs-fussbodenheizung-11 {
    background: linear-gradient(rgb(255, 255, 255) -35%, rgb(241, 241, 241) 24%, rgb(225, 225, 225) 51%, #cccccc 100%);
    border: solid;
    border-radius: 5px;
    border-color: gray;
    border-width: thin;
    padding-bottom: 5px;
    margin: 5px 5px 5PX 5px;
    align-content: flex-end;
    justify-content: flex-end;
}

.bs-fussbodenheizung-8 {
    background: linear-gradient(rgb(255, 255, 255) -35%, rgb(241, 241, 241) 24%, rgb(225, 225, 225) 51%, #cccccc 100%);
    border: solid;
    border-radius: 5px;
    border-color: gray;
    border-width: thin;
    margin: 5px 5px 5PX 5px;
}

.bs-fussbodenheizung-6 {
    display: grid;
    align-content: flex-start;
    justify-content: flex-start;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
}

.bs-fussbodenheizung-10 {
    display: grid;
    align-content: center;
    justify-content: center;
    padding-bottom: 5px;
}

.bs-fussbodenheizung-6 {
    display: grid;
    align-content: flex-start;
    justify-content: flex-start;
    width: 100%;
}


.bs-button-fb {
    width: 105px;
}

.bs-button-al {
    width: 80px;
}

.bs-meldungen1, .bs-meldungen2 {
    box-sizing: border-box;
}

.bs-meldungen1 {
    width: 7%;
    float: left;
}

.bs-meldungen2 {
    width: 87%;
    float: right;
}

.bs-beschr-neu {
    font-size: 16px;
    font-weight: bold;
    color: #4d4d4d;
    text-align: left;
    font-family: 'Century Gothic', Segoe UI, Arial, Helvetica;
}

.bs-zimmer-1 {
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    align-content: center;
    justify-content: center;
}

.bs-zimmer-5 {
    padding-top: 0px;
    padding-left: 5px;
    padding-right: 5px;
    align-content: center;
    justify-content: center;
}

.bs-zimmer-4 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bs-zimmer-2 {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    align-content: center;
    justify-content: center;
}

.bs-button-master {
    height:100px;
}

.bs-zimmer-button {
    width: 100%;
}

.bs-widget-zimmer {
    position: absolute;
    left: 70px;
    top: 120px;
}

.bs-widget-zimmer-1 {
    position: absolute;
    left: 215px;
    top: 120px;
}

#tooltip
{
    text-align: center;
    color: #fff;
    background: #111;
    position: absolute;
    z-index: 100;
    padding: 15px;
}
 
    #tooltip:after /* triangle decoration */
    {
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #111;
        content: '';
        position: absolute;
        left: 50%;
        bottom: -10px;
        margin-left: -10px;
    }
 
        #tooltip.top:after
        {
            border-top-color: transparent;
            border-bottom: 10px solid #111;
            top: -20px;
            bottom: auto;
        }
 
        #tooltip.left:after
        {
            left: 10px;
            margin: 0;
        }
 
        #tooltip.right:after
        {
            right: 10px;
            left: auto;
            margin: 0;
        }