﻿.m113 {
    position: absolute;
    left: 1221px;
    top: 442px;
}

.m114 {
    position: absolute;
    left: 1248px;
    top: 521px;
}

.m100 {
    position: absolute;
    left: 1474px;
    top: 365px;
}

.m101 {
    position: absolute;
    left: 390px;
    top: 365px;
}

.istwert {
}

.istwert-ohne {
}

.b830 {
    position: absolute;
    left: 895px;
    top: 225px;
}

.b835 {
    position: absolute;
    left: 222px;
    top: 335px;
}

.b833 {
    position: absolute;
    left: 810px;
    top: 88px;
}

.y720 {
    position: absolute;
    left: 1016px;
    top: 213px;
}

.y721 {
    position: absolute;
    left: 1575px;
    top: 365px;
}

.ausgabe {
    position: absolute;
    left: 870px;
    top: 235px;
}

.bswausgabe {
    position: absolute;
    left: 870px;
    top: 210px;
}

.eingabe {
    position: absolute;
    left: 870px;
    top: 260px;
}

.auf {
    position: absolute;
    left: 120px;
    top: 100px;
}

.ab {
    position: absolute;
    left: 120px;
    top: 130px;
}

.bs-schaltuhr {
    position: absolute;
    left: 1700px;
    top: 650px;
}

.bs-sollwertfenster {
    position: absolute;
    left: 1650px;
    top: 650px;
}

.bs-anlageschalter {
    position: absolute;
    left: 1600px;
    top: 650px;
}

.bs-schiebung {
    position: absolute;
    left: 1550px;
    top: 650px;
}

.bs-bedarf {
    position: absolute;
    left: 1500px;
    top: 650px;
}

.bs-header-mittig {
    text-align: center;
}

.zul_nav_pfeil {
    background: url('../svg/pfeil_rot.svg') no-repeat;
    position: absolute;
    left: 1659px;
    top: 373px;
    height: 24px;
    width: 24px;
}

.abl_nav_pfeil {
    background: url('../svg/pfeil_gelb.svg') no-repeat;
    position: absolute;
    left: 1659px;
    top: 73px;
    height: 24px;
    width: 24px;
}

.fol_nav_pfeil {
    background: url('../svg/pfeil_blau.svg') no-repeat;
    position: absolute;
    left: 117px;
    top: 373px;
    height: 24px;
    width: 24px;
}

.aul_nav_pfeil {
    background: url('../svg/pfeil_gruen.svg') no-repeat;
    position: absolute;
    left: 117px;
    top: 73px;
    height: 24px;
    width: 24px;
}

.bs-testsite {
    background: #fff url('../svg/lueftung.svg') no-repeat;
    height: 710px;
    width: 1850px;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

    .bs-testsite > div > * {
        position: absolute;
    }

.bs-schema {
    background: #fff;
    height: 710px;
    width: 1850px;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

    .bs-schema > div > * {
        position: absolute;
    }

.le-ventil {
    position: absolute;
    left: 1216px;
    top: 488px;
}

.filter305b1 {
    position: absolute;
    left: 1484px;
    top: 311px;
}

.filter315b1 {
    position: absolute;
    left: 400px;
    top: 311px;
}

.frostschutz {
    position: absolute;
    left: 1350px;
    top: 335px;
}

.vav {
    position: absolute;
    left: 1450px;
    top: 65px;
}

.bedarf {
    position: absolute;
    left: 5px;
    top: 265px;
}

.filter:after {
    color: lawngreen;
}
