﻿/*------------------------------------------------------------------------
                  Betrifft die Bühler Scherler Widgets
------------------------------------------------------------------------*/
:root {
    --hellgrau: #ccc;
    --handfarbe: #ff8555;
    --initialisieren: #ff8500;
    --fehler: #ff0000;
    --ein: #0f0;
    --einBeleuchtung: #ffff00;
    --aus: #d6d6d6;
    --service: #0000ff;
    --notbetrieb: #ffff00;
    --fahrend: #ccffcc;
    --akzent: #bebebe;
    --normal: #000;
    --invers: #fff;
    --sollwert: #337ab7;
    --berechnter-sollwert: #ffff00;
    --border: #333;
    --schaltuhr-aktiv: #0044ff;
    --schaltuhr-zeit-ein: #78cd9b;
    --schaltuhr-zeit-aus: #cf9393;
    --nav-highlite: #b4d0d7;
    --hover-notbetrieb: #ffe200;
}


.color-hellgrau {
    color: #ccc;
}

.color-handfarbe {
    color: #ff8555;
}

.color-initialisieren {
    color: #ff8500;
}

.color-fehler {
    color: #ff0000;
}

.color-ein {
    color: #00ff00;
}

.color-state {
    color: #3db3d6;
}

.color-state-1 {
    color: #51aa51;
}

.color-aus {
    color: #6e6e6e;
}

.color-service {
    color: #0000ff;
}

.color-notbetrieb {
    color: #ffff00;
}

.color-fahrend {
    color: #fdfdfd;
}

.color-akzent {
    color: #bebebe;
}

.color-normal {
    color: #000;
}

.color-invers {
    color: #fff;
}

.color-sollwert {
    color: #337ab7;
}

.color-berechnter-sollwert {
    color: #ffff00;
}

.color-border {
    color: #333;
}

.color-schaltuhr-aktiv {
    color: #0044ff;
}

.color-schaltuhr-zeit-ein {
    color: #aef1ae;
}

.color-schaltuhr-zeit-aus {
    color: #ffe7e7;
}

.color-nav-highlite {
    color: #b4d0d7;
}

.color-hover-notbetrieb {
    color: #ffe200;
}



.background-color-hellgrau {
    background-color: #ccc;
}

.background-color-handfarbe {
    background-color: #ff8555;
}

.background-color-initialisieren {
    background-color: #ff8500;
}

.background-color-fehler {
    background-color: #ff0000;
}

.background-color-ein {
    background-color: #00ff00;
}

.background-color-aus {
    background-color: #6e6e6e;
}

.background-color-service {
    background-color: #0000ff;
}

.background-color-notbetrieb {
    background-color: #ffff00;
}

.background-color-fahrend {
    background-color: #fdfdfd;
}

.background-color-akzent {
    background-color: #bebebe;
}

.background-color-normal {
    background-color: #000;
}

.background-color-invers {
    background-color: #fff;
}

.background-color-sollwert {
    background-color: #337ab7;
}

.background-color-berechnter-sollwert {
    background-color: #ffff99;
}

.background-color-border {
    background-color: #333;
}

.background-color-schaltuhr-aktiv {
    background-color: #0044ff;
}

.background-color-schaltuhr-zeit-ein {
    background-color: #aef1ae;
}

.background-color-schaltuhr-zeit-aus {
    background-color: #ffe7e7;
}

.background-color-nav-highlite {
    background-color: #b4d0d7;
}

.background-color-hover-notbetrieb {
    background-color: #ffe200;
}

hr {
    border: none;
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-right: 0;
    border-top-style: solid;
    border-top-width: 1px;
    color: var(--sollwert);
}

.bs-widget-container {
    position: relative;
}

.table-header {
    background-color: var(--hellgrau);
}

.bs-dialogsize-system {
    width: 286px;
}

.bs-menu-entry {
    padding-left: 8px;
}

.bs-verticaldivider {
    border-right: 1px solid var(--akzent);
}

.bs-horizontaldivider {
    border-bottom: 1px solid var(--akzent);
}

.bs-nav-symbol {
    padding: 0px 8px 0px 8px;
}

.bs-nav-highlite:hover {
    background-color: var(--nav-highlite);
}

.bs-footer_background {
    background: linear-gradient(rgb(255, 255, 255) -35%, rgb(241, 241, 241) 24%, rgb(225, 225, 225) 51%, #cccccc 100%); /*var(--akzent) !important;*/
}

.bs_handfarbe {
    color: var(--handfarbe);
    z-index: 99;
}

.bs_zustand_init {
    color: var(--normal);
    background-color: var(--initialisieren);
}

.bs_initialisieren:after {
    color: var(--initialisieren);
}

.bs_zustand_fehler {
    color: var(--invers);
    background-color: var(--fehler);
}

.bs_fehler:after {
    color: var(--fehler) !important;
}

.bs_passiv {
    opacity: 0.3;
}

    .bs_passiv:after {
        color: #aaa;
    }

.bs_zustand_ein {
    color: var(--normal);
    background-color: var(--ein);
}

.bs_ein:after {
    color: var(--ein) !important;
}

.bs_storen_ab:before {
    color: var(--ein) !important;
}

.bs_storen_auf:before {
    color: var(--aus) !important;
}

.bs_beleuchtung_ein:before {
    color: var(--einBeleuchtung) !important;
}

.bs_beleuchtung_aus:before {
    color: var(--aus) !important;
}

.bs_zustand_aus {
    color: var(--normal);
    background-color: var(--aus);
}

.bs_aus:after {
    color: var(--aus);
}

.bs_zustand_service {
    color: var(--invers);
    background-color: var(--service);
}

.bs_service:after {
    color: var(--service);
}

.bs_zustand_notbetrieb {
    color: var(--normal);
    background-color: var(--notbetrieb);
}

.bs_notbetrieb:after {
    color: var(--notbetrieb);
}

.bs_zustand_fahrend {
    color: var(--normal);
    background-color: var(--fahrend);
}

.bs_fahrend:after {
    color: var(--fahrend);
}

.bs_zustand_default {
    color: var(--normal);
    background-color: var(--berechnter-sollwert);
}

.bs_row {
    margin-top: 16px;
}

.bs_Stufe {
    font-weight: 700;
    font-family: 'Century Gothic', Segoe UI, Arial, Helvetica;
    font-size: 1.2em;
    position: absolute;
    left: 24px;
    top: -16px;
}

.bs_fu {
    width: 75px;
}

.bs_fu_aktuellerwert {
    border: 1px solid var(--border);
    border-radius: 4px;
    font-size: 1em;
    text-align: center;
    margin: 2px;
    color: var(--normal);
    background-color: var(--invers);
}

.bs_fu_typ {
    border: 1px solid var(--border);
    border-radius: 4px;
    font-size: 1em;
    font-weight: 700;
    text-align: center;
    margin: 2px;
}

.bs_content_container {
    width: 100%;
    margin-top: 55px;
    margin-bottom: 70px;
}

.bs_alarmliste {
    list-style-type: none;
    list-style-position: inside;
}

.bs_alarmunterdrueckung {
    margin-left: 20px !important;
}

.bs_widget_beschriftungen {
    font-weight: 600;
}

.bs_betr_std {
    border: 1px solid var(--border);
    background-color: var(--berechnter-istwert);
    border-radius: 4px;
    text-align: center !important;
    height: 20px;
    padding-left: 4px !important;
    padding-right: 4px !important;
    padding-bottom: 4px !important;
}

.bs-aktuellerwert {
    border: 1px solid var(--border);
    background-color: var(--invers);
    color: var(--normal);
    border-radius: 4px;
    text-align: center;
    width: 61px;
    height: 20px;
    padding-bottom: 2px;
}


.bs-sollwert {
    border: 1px solid var(--border);
    background-color: var(--sollwert);
    color: var(--invers);
    border-radius: 4px;
    text-align: center;
    width: 61px;
    height: 20px;
    padding-bottom: 2px;
}

.bs-bsw {
    border: 1px solid var(--border);
    background-color: var(--berechnter-sollwert);
    color: var(--normal);
    border-radius: 4px;
    text-align: center;
    width: 61px;
    height: 20px;
    padding-bottom: 2px;
}

.bs_select_betrwahl {
    border-radius: 4px;
    width: 110px;
}

.btn_close {
    margin: 4px 0px 4px 0px;
}

.bs-dialog-title {
    font-weight: 600;
    font-size: 1.5em;
}

.login_head {
    padding-top: 17px;
    padding-right: 11px;
}

/*------------------------------------------------*/
/*                    Buttons
/*------------------------------------------------*/
.bs-btn {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.2+100 */
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#33000000',GradientType=0 ); /* IE6-9 */
}

.bs-button-notbetrieb {
    color: var(--normal);
    background-color: var(--notbetrieb);
    border-color: #333;
}

    .bs-button-notbetrieb:hover {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffff00+0,ffff00+29,bcbf00+100 */
        background: #ffff00; /* Old browsers */
        background: -moz-linear-gradient(top, #ffff00 0%, #ffff00 29%, #bcbf00 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #ffff00 0%,#ffff00 29%,#bcbf00 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #ffff00 0%,#ffff00 29%,#bcbf00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff00', endColorstr='#bcbf00',GradientType=0 ); /* IE6-9 */
    }

    .bs-button-notbetrieb:active {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d7db00+0,ffff00+100 */
        background: #d7db00; /* Old browsers */
        background: -moz-linear-gradient(top, #d7db00 0%, #ffff00 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #d7db00 0%,#ffff00 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #d7db00 0%,#ffff00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d7db00', endColorstr='#ffff00',GradientType=0 ); /* IE6-9 */
    }

.bs-button-initialisieren {
    color: var(--invers);
    background-color: var(--initialisieren);
    border-color: #333;
}

    .bs-button-initialisieren:hover {
        color: var(--invers);
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff8500+27,b53f00+100 */
        background: #ff8500; /* Old browsers */
        background: -moz-linear-gradient(top, #ff8500 27%, #b53f00 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #ff8500 27%,#b53f00 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #ff8500 27%,#b53f00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8500', endColorstr='#b53f00',GradientType=0 ); /* IE6-9 */
    }

    .bs-button-initialisieren:active {
        color: var(--invers);
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b53f00+0,ff8500+100 */
        background: #b53f00; /* Old browsers */
        background: -moz-linear-gradient(top, #b53f00 0%, #ff8500 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #b53f00 0%,#ff8500 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #b53f00 0%,#ff8500 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b53f00', endColorstr='#ff8500',GradientType=0 ); /* IE6-9 */
    }

.bs-button-error {
    color: var(--invers);
    background-color: var(--fehler);
    border-color: #333;
}

    .bs-button-error:hover {
        color: var(--invers);
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff8500+27,b53f00+100 */
        background: #ff0000; /* Old browsers */
        background: -moz-linear-gradient(top, #ff0000 27%, #c10000 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #ff0000 27%,#c10000 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #ff0000 27%,#c10000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#c10000',GradientType=0 ); /* IE6-9 */
    }

    .bs-button-error:active {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c10000+0,ff0000+100 */
        background: #c10000; /* Old browsers */
        background: -moz-linear-gradient(top, #c10000 0%, #ff0000 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #c10000 0%,#ff0000 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #c10000 0%,#ff0000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c10000', endColorstr='#ff0000',GradientType=0 ); /* IE6-9 */
    }

.bs-button-aus {
    color: var(--invers);
    background-color: var(--aus);
    /*border-color: #333;*/
}

    .bs-button-aus:hover {
        color: var(--invers);
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff8500+27,b53f00+100 */
        background: #6e6e6e; /* Old browsers */
        background: -moz-linear-gradient(top, #6e6e6e 27%, #494949 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #6e6e6e 27%,#494949 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #6e6e6e 27%,#494949 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6e6e6e', endColorstr='#494949',GradientType=0 ); /* IE6-9 */
    }

    .bs-button-aus:active {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#494949+0,6e6e6e+100 */
        background: #494949; /* Old browsers */
        background: -moz-linear-gradient(top, #494949 0%, #6e6e6e 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #494949 0%,#6e6e6e 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #494949 0%,#6e6e6e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#494949', endColorstr='#6e6e6e',GradientType=0 ); /* IE6-9 */
    }

.bs-button-ein {
    color: var(--normal);
    background-color: var(--ein);
    /*border-color: #333;*/
}

    .bs-button-ein:hover {
        color: var(--normal);
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00a010+0,00ff00+100 */
        background: #00ff00; /* Old browsers */
        background: -moz-linear-gradient(top, #00ff00 0%, rgba(0,160,16,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #00ff00 0%,rgba(0,160,16,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #00ff00 0%,rgba(0,160,16,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ff00', endColorstr='#00a010',GradientType=0 ); /* IE6-9 */
    }

    .bs-button-ein:active {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00a010+0,00ff00+100 */
        background: rgb(0,160,16); /* Old browsers */
        background: -moz-linear-gradient(top, rgba(0,160,16,1) 0%, rgba(0,255,0,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, rgba(0,160,16,1) 0%,rgba(0,255,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, rgba(0,160,16,1) 0%,rgba(0,255,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a010', endColorstr='#00ff00',GradientType=0 ); /* IE6-9 */
    }

.bs-button-passiv {
    opacity: 0.3;
    color: var(--normal);
    background-color: var(--aus);
    border-color: #333;
}

    .bs-button-passiv:active {
        outline: 0;
        background-image: none;
        -moz-box-shadow: inset 0 0 10px rgba(0,0,0, 0.5);
        -webkit-box-shadow: inset 0 0 10px rgba(0,0,0, 0.5);
        box-shadow: inset 0 0 10px rgba(0,0,0, 0.5);
    }
/*------------------------------------------------*/
/*                    /Buttons
/*------------------------------------------------*/
/*------------------------------------------------*/
/*                 Schiebung                      */
/*------------------------------------------------*/

.bs-schiebungDiagramm {
    background: #fff url('../svg/Diagramm.svg') no-repeat;
    height: 300px;
    width: 500px;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}
/*------------------------------------------------*/
/*                 /Schiebung                     */
/*------------------------------------------------*/
/*------------------------------------------------*/
/*                  Anforderung                   */
/*------------------------------------------------*/
.bs-anforderung {
    display: inline-block;
    border: 1px solid var(--normal);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    width: 20px;
    height: 20px;
}

.bs-anforderung-text {
    position: absolute;
    margin: 0px 0px 4px 4px;
    padding-bottom: 8px;
    width: 400px;
}
/*------------------------------------------------*/
/*              Temperatursensor / Wächter        */
/*------------------------------------------------*/
.bs-sensor-container {
    position: relative;
}

.bs-sensor {
    position: relative;
    display: inline-block;
}

.bs-sensor-kopf {
    position: relative;
    border: 1px solid var(--normal);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    text-align: center;
    z-index: 2;
}

.bs-sensor-stiel {
    border-left: 1px solid var(--normal);
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.bs-sensor-wrapper {
    width: 1px;
    height: 0;
    overflow: visible;
    left: 50%;
    top: 50%;
    margin-left: -1px;
    z-index: 1;
    position: absolute;
}

.bs-waechter-kopf {
    position: relative;
    border: 1px solid var(--normal);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 20px;
    height: 20px;
    text-align: center;
    z-index: 2;
}

.bs-waechter-kopfUebersicht {
    position: relative;
    width: 16px;
    height: 16px;
    border: 1px solid;
    text-align: center;
    border-radius: 11px;
    border-color: darkgray;
}

.bs-waechter-kopfUebersichtBackground {
    width: 22px;
    height: 22px;
    padding-top: 2px;
    padding-left: 2px;
    border-radius: 17px;
    border-style: solid;
    border-color: darkgray;
    border-width: 1px;
    background: linear-gradient(rgb(255, 255, 255) 0%, rgb(241, 241, 241) 50%, rgb(225, 225, 225) 51%, rgb(246, 246, 246) 100%);
    position: relative;
    display: inline-block;
}

/*------------------------------------------------*/
/* Wochenschaltuhr */
/*------------------------------------------------*/

.bs-widget-wochenschaltuhr {
}

    .bs-widget-wochenschaltuhr > button {
    }

        .bs-widget-wochenschaltuhr > button span {
            font-size: 20px;
        }

/* widget dialog */
.bs-wide {
    width: 800px;
}

.bs-widget-wochenschaltuhr .modal-content tbody {
    background-color: var(--akzent);
}

    .bs-widget-wochenschaltuhr .modal-content tbody td {
    }

        .bs-widget-wochenschaltuhr .modal-content tbody td input {
            border: 0;
            height: auto;
            padding-right: 0;
            padding-left: 0;
            line-height: normal;
            -webkit-box-shadow: none;
            box-shadow: none;
        }

        .bs-widget-wochenschaltuhr .modal-content tbody td.switchtimeOn,
        .bs-widget-wochenschaltuhr .modal-content tbody td.switchtimeOff {
            padding: 0;
        }

            .bs-widget-wochenschaltuhr .modal-content tbody td.switchtimeOn,
            .bs-widget-wochenschaltuhr .modal-content tbody td.switchtimeOn input {
                background-color: var(--schaltuhr-zeit-ein);
            }

        .bs-widget-wochenschaltuhr .modal-content tbody td:nth-child(odd):not(:first-child),
        .bs-widget-wochenschaltuhr .modal-content tbody td:nth-child(odd):not(:first-child) input {
            background-color: var(--schaltuhr-zeit-aus);
        }

    .bs-widget-wochenschaltuhr .modal-content tbody .form-group {
        margin: 0;
        padding: 0;
    }

.bs-widget-wochenschaltuhr .modal-content table tr:last-child td {
    border-bottom: 1px solid var(--akzent);
}

.bs-plczeit {
    margin-left: 8px;
}

.bs-schaltung-aktiv, .bs-schaltung-aktiv tbody td input,
.bs-schaltung-aktiv input {
    color: var(--invers) !important;
    background-color: var(--schaltuhr-aktiv) !important;
}
/*-----------------------------------------------------------
                Patch für Bootstrap Menu 
 ------------------------------------------------------------*/
.dropdown-submenu {
    position: relative;
}

    .dropdown-submenu > .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -6px;
        margin-left: -1px;
        -webkit-border-radius: 0 6px 6px 6px;
        -moz-border-radius: 0 6px 6px 6px;
        border-radius: 0 6px 6px 6px;
    }

    .dropdown-submenu:hover > .dropdown-menu {
        display: block;
    }

    .dropdown-submenu > a:after {
        display: block;
        content: " ";
        float: right;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        border-width: 5px 0 5px 5px;
        border-left-color: var(--hellgrau);
        margin-top: 5px;
        margin-right: -10px;
    }

    .dropdown-submenu:hover > a:after {
        border-left-color: var(--invers);
    }

    .dropdown-submenu.pull-left {
        float: none;
    }

        .dropdown-submenu.pull-left > .dropdown-menu {
            left: -100%;
            margin-left: 10px;
            -webkit-border-radius: 6px 0 6px 6px;
            -moz-border-radius: 6px 0 6px 6px;
            border-radius: 6px 0 6px 6px;
        }

/*-----------------------------------------------------------
                Responsive Design 
 ------------------------------------------------------------*/
@media only screen and (min-width: 725px) {
    .bs-responsive {
        -moz-transform: scale(0.37);
        -ms-transform: scale(0.37);
        -o-transform: scale(0.37);
        -webkit-transform: scale(0.37);
        transform: scale(0.37);
    }
}

@media only screen and (min-width: 810px) {
    .bs-responsive {
        -moz-transform: scale(0.42);
        -ms-transform: scale(0.42);
        -o-transform: scale(0.42);
        -webkit-transform: scale(0.42);
        transform: scale(0.42);
    }
}

@media only screen and (min-width: 895px) {
    .bs-responsive {
        -moz-transform: scale(0.45);
        -ms-transform: scale(0.45);
        -o-transform: scale(0.45);
        -webkit-transform: scale(0.45);
        transform: scale(0.45);
    }
}

@media only screen and (min-width: 980px) {
    .bs-responsive {
        -moz-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -o-transform: scale(0.5);
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
}

@media only screen and (min-width: 1065px) {
    .bs-responsive {
        -moz-transform: scale(0.55);
        -ms-transform: scale(0.55);
        -o-transform: scale(0.55);
        -webkit-transform: scale(0.55);
        transform: scale(0.55);
    }
}

@media only screen and (min-width: 1150px) {
    .bs-responsive {
        -moz-transform: scale(0.6);
        -ms-transform: scale(0.6);
        -o-transform: scale(0.6);
        -webkit-transform: scale(0.6);
        transform: scale(0.6);
    }
}

@media only screen and (min-width: 1235px) {
    .bs-responsive {
        -moz-transform: scale(0.65);
        -ms-transform: scale(0.65);
        -o-transform: scale(0.65);
        -webkit-transform: scale(0.65);
        transform: scale(0.65);
    }
}

@media only screen and (min-width: 1320px) {
    .bs-responsive {
        -moz-transform: scale(0.7);
        -ms-transform: scale(0.7);
        -o-transform: scale(0.7);
        -webkit-transform: scale(0.7);
        transform: scale(0.7);
    }
}

@media only screen and (min-width: 1405px) {
    .bs-responsive {
        -moz-transform: scale(0.75);
        -ms-transform: scale(0.75);
        -o-transform: scale(0.75);
        -webkit-transform: scale(0.75);
        transform: scale(0.75);
    }
}

@media only screen and (min-width: 1490px) {
    .bs-responsive {
        -moz-transform: scale(0.8);
        -ms-transform: scale(0.8);
        -o-transform: scale(0.8);
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
}

@media only screen and (min-width: 1585px) {
    .bs-responsive {
        -moz-transform: scale(0.85);
        -ms-transform: scale(0.85);
        -o-transform: scale(0.85);
        -webkit-transform: scale(0.85);
        transform: scale(0.85);
    }
}

@media only screen and (min-width: 1670px) {
    .bs-responsive {
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -o-transform: scale(0.9);
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}

@media only screen and (min-width: 1765px) {
    .bs-responsive {
        -moz-transform: scale(0.95);
        -ms-transform: scale(0.95);
        -o-transform: scale(0.95);
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
    }
}

@media only screen and (min-width: 1850px) {
    .bs-responsive {
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

/*-----------------------------------------------------------
    B+S Zoomfaktoren in % als Ergänzung zu den Bootstrap
    Zoomfaktoren: fa-1x, fa-2x, fa-3x usw.
 ------------------------------------------------------------*/
.bs-50x {
    font-size: 0.5em;
}

.bs-90x {
    font-size: 0.8em;
}

.bs-150x {
    font-size: 1.5em;
}

.bs-250x {
    font-size: 2.5em;
}

.bs-350x {
    font-size: 2.2em;
    padding-left: 13px;
    padding-top: 3px;
}


/*-----------------------------------------------------------
    Status Widgets
 ------------------------------------------------------------*/
/*------------------------------------------------*/
/* Allgemein */
/*------------------------------------------------*/

.bs-widget-container-1 {
    position: relative;
}

    .bs-widget-container-1 i.handIcon {
        font-size: 22px;
        line-height: 1;
        text-shadow: none;
        color: orange;
    }

    .bs-widget-container-1 i.elementIcon {
        font-size: 36px;
        /*line-height: 1;*/
        /*border: 1px solid #666;*/
        padding: 2px;
        text-shadow: none;
    }

        .bs-widget-container-1 i.elementIcon::after {
            top: 2px;
            left: 2px;
        }


/*------------------------------------------------*/
/* Anzeige Digital */
/*------------------------------------------------*/
.bs-widget-anzeigeDigital-blinker {
}

    .bs-widget-anzeigeDigital-blinker .state {
        float: left;
        width: 16px;
        height: 16px;
        margin-top: 2px;
        border-radius: 12px;
        border-color: #7d7d7d;
        border-width: 1px;
        border-style: solid;
    }

    .bs-widget-anzeigeDigital-blinker .bsLabel {
        float: left;
        margin-left: 4px;
        font-size: 14px;
        top: -19px;
        position: relative;
    }

/*------------------------------------------------*/
/* Anzeigefeld Status */
/*------------------------------------------------*/

.bs-widget-anzeigeStatus {
    font-size: 11px;
    border: 1px solid #aaa;
    border-style: solid;
    border-radius: 3px;
    padding: 2px 6px;
    background-color: #eee;
    color: #000;
    width: 80px;
    height: 23px;
    text-align: center;
    background: linear-gradient(rgb(255, 255, 255) 0%, rgb(241, 241, 241) 50%, rgb(225, 225, 225) 51%, rgb(246, 246, 246) 100%);
}

    .bs-widget-anzeigeStatus.off {
        background: linear-gradient(rgb(255, 255, 255) 0%, rgb(241, 241, 241) 50%, rgb(225, 225, 225) 51%, rgb(246, 246, 246) 100%);
    }

    .bs-widget-anzeigeStatus.auto {
        background: linear-gradient(rgb(157, 213, 58) 0%, rgb(161, 213, 79) 50%, rgb(128, 194, 23) 51%, rgb(124, 188, 10) 100%);
    }

    .bs-widget-anzeigeStatus.on {
        background: linear-gradient(rgb(157, 213, 58) 0%, rgb(161, 213, 79) 50%, rgb(128, 194, 23) 51%, rgb(124, 188, 10) 100%);
    }

.bs-widget-anzeigeStatusServer {
    font-size: 11px;
    border: 1px solid #aaa;
    border-style: solid;
    border-radius: 2px;
    padding: 8px 13px;
    background-color: #eee;
    color: #000;
    width: 103px;
    height: 34px;
    text-align: center;
    background: linear-gradient(rgb(255, 255, 255) 0%, rgb(241, 241, 241) 50%, rgb(225, 225, 225) 51%, rgb(246, 246, 246) 100%);
}

    .bs-widget-anzeigeStatusServer.beendet {
        background: linear-gradient(rgb(255, 255, 255) 0%, rgb(241, 241, 241) 50%, rgb(225, 225, 225) 51%, rgb(246, 246, 246) 100%);
    }

    .bs-widget-anzeigeStatusServer.gestartet {
        background: linear-gradient(rgb(109, 179, 242) 0%, rgb(84, 163, 238) 50%, rgb(54, 144, 240) 51%, rgb(30, 105, 222) 100%);
    }

    .bs-widget-anzeigeStatusServer.laeuft {
        background: linear-gradient(rgb(157, 213, 58) 0%, rgb(161, 213, 79) 50%, rgb(128, 194, 23) 51%, rgb(124, 188, 10) 100%);
    }

.bs-widget-anzeigeStatusOhne {
    font-size: 11px;
    padding: 2px 6px;
    color: #808080;
    text-align: left;
}

.bs-widget-anzeigeTime {
    font-size: 11px;
    border: 1px solid #aaa;
    border-style: solid;
    border-radius: 3px;
    padding: 2px 6px;
    background-color: #eee;
    color: #000;
    width: 80px;
    height: 23px;
    text-align: center;
}

.bs-widget-wertanzeigeOhne {
}

    .bs-widget-wertanzeigeOhne .istwert, .bs-widget-wertanzeigeOhne .sollwert {
        /* border: 1px solid #aaa;*/
        /*border-style: solid;*/
        font-size: 14px;
        border-radius: 3px;
        padding: 2px 6px;
        white-space: nowrap;
        font-family: 'Century Gothic', Segoe UI, Arial, Helvetica;
        /*box-shadow: 1px 0px 4px rgba(0,0,0,.4);*/
    }

    .bs-widget-wertanzeigeOhne .istwert {
        /*background: linear-gradient(rgb(255, 255, 255) 0%, rgb(231, 233, 233) 100%);*/
        color: #fff;
    }

    .bs-widget-wertanzeigeOhne .sollwert {
        /**background-color: #ffff99;*/
        /*background: linear-gradient(rgb(255, 255, 255) 0%, #ffff99 100%);*/
        color: #fff;
        margin-bottom: 3px;
    }

.bs-widget-wertanzeigeOhne-schwarz {
}

    .bs-widget-wertanzeigeOhne-schwarz .istwert, .bs-widget-wertanzeigeOhne .sollwert {
        /* border: 1px solid #aaa;*/
        /*border-style: solid;*/
        font-size: 14px;
        border-radius: 3px;
        padding: 2px 6px;
        white-space: nowrap;
        font-family: 'Century Gothic', Segoe UI, Arial, Helvetica;
        /*box-shadow: 1px 0px 4px rgba(0,0,0,.4);*/
    }

    .bs-widget-wertanzeigeOhne-schwarz .istwert {
        /*background: linear-gradient(rgb(255, 255, 255) 0%, rgb(231, 233, 233) 100%);*/
        color: #000;
    }

    .bs-widget-wertanzeigeOhne-schwarz .sollwert {
        /**background-color: #ffff99;*/
        /*background: linear-gradient(rgb(255, 255, 255) 0%, #ffff99 100%);*/
        color: #000;
        margin-bottom: 3px;
    }

.bs-widget-wertanzeigeOhne-Uhrzeit {
}

    .bs-widget-wertanzeigeOhne-Uhrzeit .istwert, .bs-widget-wertanzeigeOhne .sollwert {
        /* border: 1px solid #aaa;*/
        /*border-style: solid;*/
        font-size: 30px;
        border-radius: 3px;
        padding: 2px 6px;
        white-space: nowrap;
        font-family: 'Century Gothic', Segoe UI, Arial, Helvetica;
        /*box-shadow: 1px 0px 4px rgba(0,0,0,.4);*/
    }

    .bs-widget-wertanzeigeOhne-Uhrzeit .istwert {
        /*background: linear-gradient(rgb(255, 255, 255) 0%, rgb(231, 233, 233) 100%);*/
        color: #000;
    }

    .bs-widget-wertanzeigeOhne-Uhrzeit .sollwert {
        /**background-color: #ffff99;*/
        /*background: linear-gradient(rgb(255, 255, 255) 0%, #ffff99 100%);*/
        color: #000;
        margin-bottom: 3px;
    }
/*------------------------------------------------*/
/*                 4-Punktekurve                  */
/*------------------------------------------------*/

.bs-4PunkteKurve {
    background: #fff url('../svg/4-punktekurve.svg') no-repeat;
    height: 227px;
    width: 500px;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}
/*------------------------------------------------*/
/*                /4-Punktekurve                  */
/*------------------------------------------------*/


/*------------------------------------------------*/
/* Anzeigefeld Beschattung */
/*------------------------------------------------*/

.bs-widget-beschattung-icon {
    font-size: 58px;
}

.bs-widget-beschattung-button {
    width: 268px;
    height: 115px;
    margin: 3px;
}

.bs-widget-beschattung-lock {
    font-size: 58px;
    margin-left: 272px;
}

/*-----------------------------------------------------------
  Zustandstanzeige Widget
------------------------------------------------------------*/
.bs-zustandsanzeige-label {
    font-size: 1.2em;
    border: solid black 1px;
    color: black;
}

.bs-zustandsanzeige-1 {
    font-size: 13px;
    white-space: nowrap;
    color: black;
}

.bs-zustandsanzeige-2 {
    font-size: 14px;
    white-space: nowrap;
    color: black;
}



.bs-zustandsanzeige-hintergrund {
    background-color: #ccc;
}

/*-----------------------------------------------------------
   Heizkurve Widget
  ------------------------------------------------------------*/

.bs-heizkurveDiagramm {
    background: #fff url('../svg/heizkurve.svg') no-repeat;
    height: 255px;
    width: 550px;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}
