﻿

/* Avoid conflicts with Bootstrap button styles */
/*.normal:not(btn) {
    color: #ffffff !important;
}

.btn-default.normal {
    color: initial !important;
}*/


/*------------------------------------*/
/* Additional background-color styles */
/*------------------------------------*/

.bg-normal
{
    background-color: #eee;
}


/*------------------------------*/
/* Basic layout elements styles */
/*------------------------------*/

h1,
h2,
h3
{
    color: #555;
}

h2
{
    color: #111;
}

h2.subheader
{
    color: #555;
}

h3
{
    color: #555;
}


#footer a
{
    color: #ccc;
}


#footer
{
    background-color: #282828;
}

.version-label
{
    color: #aaa;
}

/*--------------------------------------------------------------
    Marker Elements Colors
--------------------------------------------------------------*/

.marker-primary,
.marker-blue
{
    background: rgba(17, 96, 184, .9);
}

.marker-danger,
.marker-red
{
    background: rgba(218, 26, 26, .9);
}

.marker-success,
.marker-green
{
    background: rgba(12, 153, 0, .9);
}


.marker-warning,
.marker-orange
{
    background: rgba(224, 143, 0, .9);
}

.marker-info,
.marker-lightblue
{
    background: rgba(91, 192, 222, .9);
}


.pulse-primary,
.pulse-blue
{
    position: absolute;

    display: block;

    -webkit-animation-name: pulse;
       -moz-animation-name: pulse;
         -o-animation-name: pulse;
            animation-name: pulse;
    -webkit-animation-duration: 1s;
       -moz-animation-duration: 1s;
         -o-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-timing-function: ease-out;
       -moz-animation-timing-function: ease-out;
         -o-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-animation-iteration-count: infinite;
       -moz-animation-iteration-count: infinite;
         -o-animation-iteration-count: infinite;
            animation-iteration-count: infinite;

    border: 2px solid #1160b8;
    border-radius: 50px;
    box-shadow: 0 0 5px #1160b8;
}

.pulse-success,
.pulse-green
{
    position: absolute;

    display: block;

    -webkit-animation-name: pulse;
       -moz-animation-name: pulse;
         -o-animation-name: pulse;
            animation-name: pulse;
    -webkit-animation-duration: 1s;
       -moz-animation-duration: 1s;
         -o-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-timing-function: ease-out;
       -moz-animation-timing-function: ease-out;
         -o-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-animation-iteration-count: infinite;
       -moz-animation-iteration-count: infinite;
         -o-animation-iteration-count: infinite;
            animation-iteration-count: infinite;

    border: 2px solid #468847;
    border-radius: 50px;
    box-shadow: 0 0 5px #0c9900;
}

.pulse-danger,
.pulse-red
{
    position: absolute;

    display: block;

    -webkit-animation-name: pulse;
       -moz-animation-name: pulse;
         -o-animation-name: pulse;
            animation-name: pulse;
    -webkit-animation-duration: 1s;
       -moz-animation-duration: 1s;
         -o-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-timing-function: ease-out;
       -moz-animation-timing-function: ease-out;
         -o-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-animation-iteration-count: infinite;
       -moz-animation-iteration-count: infinite;
         -o-animation-iteration-count: infinite;
            animation-iteration-count: infinite;

    border: 2px solid #990100;
    border-radius: 50px;
    box-shadow: 0 0 5px #a80000;
}

.pulse-warning,
.pulse-orange
{
    position: absolute;

    display: block;

    -webkit-animation-name: pulse;
       -moz-animation-name: pulse;
         -o-animation-name: pulse;
            animation-name: pulse;
    -webkit-animation-duration: 1s;
       -moz-animation-duration: 1s;
         -o-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-timing-function: ease-out;
       -moz-animation-timing-function: ease-out;
         -o-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-animation-iteration-count: infinite;
       -moz-animation-iteration-count: infinite;
         -o-animation-iteration-count: infinite;
            animation-iteration-count: infinite;

    border: 2px solid #ed9c28;
    border-radius: 50px;
}

.pulse-info,
.pulse-lightblue
{
    position: absolute;

    display: block;

    -webkit-animation-name: pulse;
       -moz-animation-name: pulse;
         -o-animation-name: pulse;
            animation-name: pulse;
    -webkit-animation-duration: 1s;
       -moz-animation-duration: 1s;
         -o-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-timing-function: ease-out;
       -moz-animation-timing-function: ease-out;
         -o-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    -webkit-animation-iteration-count: infinite;
       -moz-animation-iteration-count: infinite;
         -o-animation-iteration-count: infinite;
            animation-iteration-count: infinite;

    border: 2px solid #eee;
    border-radius: 50px;
    box-shadow: 0 0 5px #337f95;
}


/* Toasts messages overwrites */
.toast-info
{
    background-color: #333;
}


