﻿
/*------------------------------*/
/* Modifiers styles */
/*------------------------------*/

.hidden {
    visibility: hidden !important;
}

.visible {
    visibility: visible !important;
}

.draggable {
    cursor: default;
    display: inherit;
}


.text-bold {
    font-weight: bold;
}

.text-bolder {
    font-weight: bolder;
}

.line-heigh-1 {
    line-height: 1;
}

/*----------------------------------*/
/* Positioning and alignment styles */
/*----------------------------------*/

.relative {
    position: relative !important;
}

.absolute {
    position: absolute !important;
}

.block {
    display: block !important;
}

.fluid {
    width: 100% !important;
}

.inline {
    display: inline !important;
}

.inline-block {
    display: inline-block !important;
}


.center-horizontal {
    margin: 0 auto;
}

.center-vertical,
.vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
}


.v-orientation > *{
    display: block;
}

.h-orientation > *{
    display: inline-block;
}

/*------------------------------*/
/* Borders styles                */
/*------------------------------*/

.b-a {
    border: 1px solid #ccc;
}

.b-b {
    border-bottom: 1px solid #ccc;
}

.b-t {
    border-top: 1px solid #ccc;
}

.b-l {
    border-left: 1px solid #ccc;
}

.b-r {
    border-left: 1px solid #ccc;
}

.b-a-0 {
    border: none !important;
    box-shadow: none !important;
}

.stretched,
.wf-embed-stretch {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
}


.overflow-visible {
    overflow: visible !important;
}

.overflow-hidden {
    overflow: hidden !important;
}

.overflow-scroll {
    overflow: scroll !important;
}

.overflow-x-scroll {
    overflow-x: scroll !important;
}

.overflow-y-scroll {
    overflow-y: auto !important;
}

.has-shadow {
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
}

.clickable {
    cursor: pointer;
}

/* Flexbox modifiers */
/* Great flexbox explanations: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */

.flexbox {
    display: flex !important;
}

.flexbox-row {
    flex-direction: row;
}

.flexbox-row {
    flex-direction: row-reverse;
}

.flexbox-row {
    flex-direction: column;
}

.flexbox-row {
    flex-direction: column-reverse;
}

.flexbox-wrap {
    flex-wrap: wrap;
}


.flexbox-h-start {
    justify-content: flex-start;
}

.flexbox-h-end {
    justify-content: flex-end;
}

.flexbox-h-center {
    justify-content: center;
}

.flexbox-h-justified {
    justify-content: space-between;
}

.flexbox-v-start {
    align-items: flex-start;
}

.flexbox-v-end {
    align-items: flex-end;
}

.flexbox-v-center {
    align-items: center;
}

.flexbox-v-stretched {
    align-items: stretch;
}


/* To be used for orientation related symbols like arrows */

.invert-x {
    -moz-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}


.invert-y {
    -moz-transform: scaleY(-1);
    -ms-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}



/* Small sized paddings */
.p-a-sm {
    padding: 5px !important;
}

.p-t-sm {
    padding-top: 5px !important;
}

.p-r-sm {
    padding-right: 5px !important;
}

.p-b-sm {
    padding-bottom: 5px !important;
}

.p-l-sm {
    padding-left: 5px !important;
}

.p-x-sm {
    padding-right: 5px !important;
    padding-left: 5px !important;
}

.p-y-sm {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

/* Default sized paddings */
.p-a {
    padding: 10px !important;
}

.p-t {
    padding-top: 10px !important;
}

.p-r {
    padding-right: 10px !important;
}

.p-b {
    padding-bottom: 10px !important;
}

.p-l {
    padding-left: 10px !important;
}

.p-x {
    padding-right: 10px !important;
    padding-left: 10px !important;
}

.p-y {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

/* Medium sized paddings */
.p-a-md {
    padding: 15px !important;
}

.p-t-md {
    padding-top: 15px !important;
}

.p-r-md {
    padding-right: 15px !important;
}

.p-b-md {
    padding-bottom: 15px !important;
}

.p-l-md {
    padding-left: 15px !important;
}

.p-x-md {
    padding-right: 15px !important;
    padding-left: 15px !important;
}

.p-y-md {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

/* Spacing modifiers - Padding */
.p-a-0 {
    padding: 0 !important;
}

.p-t-0 {
    padding-top: 0 !important;
}

.p-r-0 {
    padding-right: 0 !important;
}

.p-b-0 {
    padding-bottom: 0 !important;
}

.p-l-0 {
    padding-left: 0 !important;
}

.p-x-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.p-y-0 {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}


/* Small sized Margins */
.m-a-sm {
    margin: 5px !important;
}

.m-t-sm {
    margin-top: 5px !important;
}

.m-r-sm {
    margin-right: 5px !important;
}

.m-b-sm {
    margin-bottom: 5px !important;
}

.m-l-sm {
    margin-left: 5px !important;
}

.m-x-sm {
    margin-right: 5px !important;
    margin-left: 5px !important;
}

.m-y-sm {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

/* Default sized Margins */
.m-a {
    margin: 10px !important;
}

.m-t {
    margin-top: 10px !important;
}

.m-r {
    margin-right: 10px !important;
}

.m-b {
    margin-bottom: 10px !important;
}

.m-l {
    margin-left: 10px !important;
}

.m-x {
    margin-right: 10px !important;
    margin-left: 10px !important;
}

.m-y {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

/* Medium sized Margins */
.m-a-md {
    margin: 15px !important;
}

.m-t-md {
    margin-top: 15px !important;
}

.m-r-md {
    margin-right: 15px !important;
}

.m-b-md {
    margin-bottom: 15px !important;
}

.m-l-md {
    margin-left: 15px !important;
}

.m-x-md {
    margin-right: 15px !important;
    margin-left: 15px !important;
}

.m-y-md {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}

/* Spacing modifiers - Margins */
.m-a-0 {
    margin: 0 !important;
}

.m-t-0 {
    margin-top: 0 !important;
}

.m-r-0 {
    margin-right: 0 !important;
}

.m-b-0 {
    margin-bottom: 0 !important;
}

.m-l-0 {
    margin-left: 0 !important;
}

.m-x-0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.m-y-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}



/*---------------------------------------------------------------------- 
    Direction related classes - primary for fix sizing symbols and icons 
----------------------------------------------------------------------*/

.wf-n {
    display: inline-block;
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.wf-s {
    display: inline-block;
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.wf-w {
    display: inline-block;
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}

.wf-ne {
    display: inline-block;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.wf-se {
    display: inline-block;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.wf-nw {
    display: inline-block;
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.wf-sw {
    display: inline-block;
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

/*---------------------------------------------------------------------- 
    Size related classes - primary for fix sizing symbols and icons 
----------------------------------------------------------------------*/

.wf-1x {
    font-size: 14px;
    width: 14px;
    height: 14px;
    line-height: 14px;
}

.wf-2x {
    font-size: 28px;
    width: 28px;
    height: 28px;
    line-height: 28px;
}

.wf-3x {
    font-size: 42px;
    width: 42px;
    height: 42px;
    line-height: 42px;
}

.wf-4x {
    font-size: 56px;
    width: 56px;
    height: 56px;
    line-height: 56px;
}

.wf-5x {
    font-size: 70px;
    width: 70px;
    height: 70px;
    line-height: 70px;
}

.wf-6x {
    font-size: 84px;
    width: 84px;
    height: 84px;
    line-height: 84px;
}
/*------
    Custom for BHKW icons
*/
.wf-2x-bhkw {
    font-size: 23px;
    width: 28px;
    height: 16px;
    line-height: 29px;
}

/* [DEPRECATED CLASS] 
   Use stretched instead
*/
.stretch {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}

/* [DEPRECATED CLASS] 
   Use m-... class set instead
*/
.margin-right {
    margin-right: 20px !important;
}

.margin-left {
    margin-left: 20px !important;
}

.margin-top {
    margin-top: 20px !important;
}

.margin-bottom {
    margin-bottom: 20px !important;
}

.v-margin {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.h-margin {
    margin-left: 20px !important;
    margin-right: 20px !important;
}

/* [DEPRECATED CLASS] 
   Use b-... class set instead
*/

.borderless {
    border: none !important;
    box-shadow: none !important;
}
