﻿
/*-----------------------
    Navbar styles  
-----------------------*/

.navbar {
    top: 0px;
    margin-bottom: 0;
}

.navbar-fixed-top + .page-host {
    top: 60px;
}

.navbar-nav
{
    float: left;
}

.navbar-default {
    background-image: none;
    background: linear-gradient(rgb(255, 255, 255) -35%, rgb(241, 241, 241) 24%, rgb(225, 225, 225) 51%, #cccccc 100%);
    border-radius: 0;
    border: 0px solid;
}


.navbar-nav-main {
    padding-right: 50px;
}


.navbar-left .navbar-nav-main {
    padding-right: 0px;
}

.navbar-brand {
    display: block;
    width: 200px;
    height: 60px;
    margin: 3px;
    padding: 0;
    background: transparent url('../images/BueSche_DE_RGB.png') no-repeat scroll center center;
    background-size: 90%;
}


.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
    margin: 0;
}


.navbar .navbar-toggle {
    margin-top: 13px;
}

    .navbar .navbar-toggle:focus {
        background-color: #fff;
    }

    .navbar .navbar-toggle.active .icon-bar {
        background-color: #00A5AA;
        -moz-transition: all 1s;
        -o-transition: all 1s;
        -webkit-transition: all 1s;
        transition: all 1s;
    }

.navbar-collapse {
    margin-right: 15px;
}


/*-----------------------
    Navbar Linkicon Elements 
-----------------------*/

.navbar-nav-linkicon {
    margin-right: 22px;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    -webkit-transform: none;
    transform: none;
    color: #fff;
}

    .navbar-nav-linkicon:before {
        font-size: 20px;
        line-height: 60px;
        position: absolute;
        top: 0;
    }

.navbar .navbar-nav-main > li > a > .navbar-nav-linkicon:before {
}

.navbar .navbar-nav-main > li.active > a > .navbar-nav-linkicon:before {
    color: #00A5AA;
}


.navbar-nav.navbar-nav-main > li > a {
    line-height: 60px;
    padding-top: 0;
    padding-bottom: 0;
    color: #9b9a99;
}



.navbar .navbar-nav-main > li.active > a,
.navbar .navbar-nav-main > li.active > a:focus {
    background-image: none;
    background-color: #fff;
    color: #c1c1c1;
}

    .navbar .navbar-nav-main > li > a:hover,
    .navbar .navbar-nav-main > li.active > a:hover {
        color: #eeeeee;
        background-image: none;
        background-color: #00a99d;
        -moz-animation: fadeIn 400ms;
        -o-animation: fadeIn 400ms;
        -webkit-animation: fadeIn 400ms;
        animation: fadeIn 400ms;
    }

        .navbar .navbar-nav-main > li.active > a:hover .navbar-nav-linkicon:before {
            color: #ffffff;
        }

.navbar .navbar-nav > li > a:hover:after,
.navbar .navbar-nav > li.active > a:hover:after {
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -6px;
    content: '';
    border-right: 6px solid transparent;
    border-bottom: 7px solid #fff;
    border-left: 6px solid transparent;
}


/*-----------------------
    Navigation Sidebar  
-----------------------*/

.navbar-left + .page-host {
    margin-left: 225px;
    padding-left: 15px;
}

.navbar-left {
    position: fixed;
    z-index: 1050;
    left: 225px;
    overflow-y: auto;
    width: 225px;
    height: 100%;
    margin-left: -225px;
    border-radius: 0;
}

    .navbar-left .navbar-header {
        float: none;
        width: 100%;
        margin: 0;
    }

    .navbar-left > .container .navbar-brand,
    .navbar-left > .container-fluid .navbar-brand {
        float: none;
        width: 100%;
    }

    .navbar .navbar-collapse,
    .navbar-left .navbar-collapse {
        margin: 0 -15px;
        padding: 0;
    }

    .navbar-left .navbar-nav {
        float: none;
    }

    .navbar-left li {
        line-height: 40px;
        width: 100%;
    }

        .navbar-left li a {
            display: block;
            text-decoration: none;
        }

.navbar.navbar-left .navbar-nav-main > li > a:hover:after,
.navbar.navbar-left .navbar-nav-main > li.active > a:after {
    position: absolute;
    top: 50%;
    right: 0;
    bottom: auto;
    left: auto;
    margin-top: -6px;
    margin-left: -6px;
    content: '';
    border-top: 6px solid transparent;
    border-right: 7px solid #fff;
    border-bottom: 6px solid transparent;
    border-left: 6px solid transparent;
}