﻿
/*--------------------------------------------------------------
    Application settings bar 
--------------------------------------------------------------*/

.wf-app-settings-bar {
    border-left: 1px solid #666;
    border-right: 1px solid #666;
    bottom: 0;
    color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    left: 50%;
    line-height: 30px;
    margin-left: -30px;
    position: fixed;
    text-align: center;
    width: 81px;
    height: 30px;
    z-index: 1050;
    overflow: visible;
    z-index: 1030;
}

    .wf-app-settings-bar .btn:hover,
    .wf-app-settings-bar .btn:focus {
        background-color: #555;
        color: #fff;
    }

    .wf-app-settings-bar .btn {
        background-image: none;
        background-color: transparent;
        border: 0px solid transparent;
        border-radius: 0;
        font-size: 14px;
        font-weight: normal;
        line-height: 30px;
        height: 30px;
        padding: 0;
        width: 40px;
    }

        .wf-app-settings-bar .btn[aria-expanded="true"] {
            background-color: #fff;
            color: #da1a1a;
        }

.wf-app-settings-wrapper {
    text-align: center;
    position: fixed;
    bottom: 30px;
    width: 100%;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
    background: rgba(0, 0, 0, .7);
    color: #fff;
    z-index: 1030;
}

.wf-app-settings .wf-collapse-content {
    padding: 20px;
    margin: 0 auto;
}


.wf-app-settings .btn > svg {
    margin-top: 5px;
    height: 12px;
    width: 14px;
}

.wf-app-settings .btn:hover > svg path {
    fill: #da1a1a;
}

.wf-app-settings .btn.btn-primary > svg path,
.wf-app-settings .btn.btn-primary:hover > svg path {
    fill: #ffffff;
}
