﻿

/*--------------------------------------------------*/
/* Status colors definitions for symbols and icons  */
/*--------------------------------------------------*/

.blue:before {
    color: blue !important;
}

.blue:after {
    color: #000000 !important;
}

.brown:before {
    color: brown !important;
}

.brown:after {
    color: #eeeeee !important;
}

.green:before {
    color: green !important;
}

.green:after {
    color: #eeeeee !important;
}

.orange:before {
    color: orange !important;
}

.orange:after {
    color: #000000 !important;
}

.red:before {
    color: red !important;
}

.red:after {
    color: #eeeeee !important;
}

.yellow:before {
    color: yellow !important;
}

.yellow:after {
    color: #000000 !important;
}

.normal:before {
    color: #eeeeee !important;
}

/*.normal,*/
.normal:after {
    color: #555555 !important;
}

.warning,
.warning:before {
    color: #e08f00 !important;
}

    .warning:after {
        color: #222222 !important;
    }

.error,
.error:before {
    color: #da1a1a !important;
}

    .error:after {
        color: #eeeeee !important;
    }

.critical,
.critical:before {
    -webkit-animation: flash 1s infinite;
    -moz-animation: flash 1s infinite;
    -o-animation: flash 1s infinite;
    animation: flash 1s infinite;
    color: #da1a1a !important;
}

    .critical:after {
        color: #eeeeee !important;
    }

.running,
.running:before {
    color: #5ed300 !important;
}

    .running:after {
        color: #000000 !important;
    }

.running-foreground:after {
    color: #5ed300 !important;
}

.maintenance,
.hand,
.maintenance:before,
.hand:before {
    color: #1160b8 !important;
}

    .maintenance:after,
    .hand:after {
        color: #cfcfcf !important;
    }



/*----------------------------------*/
/* SVG elements status colors       */
/*----------------------------------*/

.critical .wf-svg-path {
    -webkit-animation: flash 1s infinite;
    -moz-animation: flash 1s infinite;
    -o-animation: flash 1s infinite;
    animation: flash 1s infinite;
    fill: #da1a1a !important;
}

.error .wf-svg-path {
    fill: #da1a1a !important;
}

.warning .wf-svg-path {
    fill: #e08f00 !important;
}

.running .wf-svg-path {
    fill: #5ed300 !important;
}

.maintenance .wf-svg-path,
.hand .wf-svg-path {
    fill: #1160b8 !important;
}

.green .wf-svg-path {
    fill: #5ed300;
}

.red .wf-svg-path {
    fill: #da1a1a;
}

.blue .wf-svg-path {
    fill: #1160b8;
}

.orange .wf-svg-path {
    fill: #e08f00;
}

.brown .wf-svg-path {
    fill: #b5651d;
}


.yellow .wf-svg-path {
    color: #edd200;
}




/*---------------------------*/
/* Shape status colors       */
/*---------------------------*/

.wf-shape .critical {
    -webkit-animation: flash 1s infinite;
    -moz-animation: flash 1s infinite;
    -o-animation: flash 1s infinite;
    animation: flash 1s infinite;
    background-color: #da1a1a !important;
}

.wf-shape .error {
    background-color: #da1a1a !important;
}

.wf-shape .warning {
    background-color: #e08f00 !important;
}

.wf-shape .running {
    background-color: #5ed300 !important;
}

.wf-shape .maintenance,
.wf-shape .hand {
    background-color: #1160b8 !important;
}


.wf-shape.wf-triangle .critical {
    -moz-animation: flash 1s infinite;
    -o-animation: flash 1s infinite;
    -webkit-animation: flash 1s infinite;
    animation: flash 1s infinite;
    background: linear-gradient(to right bottom, #da1a1a 50%, transparent 50%) !important;
}

.wf-shape.wf-triangle .error {
    background: linear-gradient(to right bottom, #da1a1a 50%, transparent 50%) !important;
}

.wf-shape.wf-triangle .warning {
    background: linear-gradient(to right bottom, #e08f00 50%, transparent 50%) !important;
}

.wf-shape.wf-triangle .running {
    background: linear-gradient(to right bottom, #5ed300 50%, transparent 50%) !important;
}

.wf-shape.wf-triangle .maintenance,
.wf-shape.wf-triangle .hand {
    background: linear-gradient(to right bottom, #1160b8 50%, transparent 50%) !important;
}


/* ---------------------------*/
/* Generall color definitions */
/* ---------------------------*/

.green {
    color: #5ed300;
}

.red {
    color: #da1a1a;
}

.blue {
    color: #1160b8;
}

.orange {
    color: #e08f00;
}

.brown {
    color: #b5651d;
}


.yellow {
    color: #edd200;
}

/*----------------------------------*/
/* Sensor elements status colors       */
/*----------------------------------*/

.critical .wf-sensor-label {
    background-color: #da1a1a !important;
}

.error .wf-sensor-label {
    background-color: #da1a1a !important;
}

.warning .wf-sensor-label {
    background-color: #e08f00 !important;
}

.running .wf-sensor-label {
    background-color: #5ed300 !important;
}

.maintenance .wf-sensor-label,
.hand .wf-sensor-label {
    background-color: #1160b8 !important;
}

.green .wf-sensor-label {
    background-color: #5ed300;
}

.red .wf-sensor-label {
    background-color: #da1a1a;
}

.blue .wf-sensor-label {
    background-color: #1160b8;
}

.orange .wf-sensor-label {
    background-color: #e08f00;
}

.brown .wf-sensor-label {
    background-color: #b5651d;
}


.yellow .wf-sensor-label {
    color: #edd200;
}
