﻿<!-- Heizbetrieb // -> Sommerbetrieb: wf-lg wf-sun-o  // -> Winterbetrieb: wf-lg wf-snow-flake -->
<div>
    <div class="wf-lg btn bs-btn" data-bind="click: openDialog, css: getObjectZustandBtnColor(), attr: { 'class': status }"></div>
    <div id="handanzeige" class="wf wf-hand bs_handfarbe fa-2x" data-bind="style: { left: links, top: oben, position: 'absolute', visibility: handbetrieb }"></div>
</div>