﻿<div class="col-lg-12 col-md12 col-sm-12 col-xs-12">
    <div class="bs-fussbodenheizung">
        <button class="btn-default btn-lg bs-zimmer-button bs-button-master" data-bind="click: openDialog, text:dialogTitle" style="width: 100%"></button>
    </div>
</div>