﻿<div class="relative" data-bind="if:hasAuthorization">
    <div class="form-group input-group fluid">
        <!-- ko if: label || signalNameLabel -->
        <span class="input-group-addon wf-label-addon">
            <span class="">
                <!-- ko if: label -->
                <span>{{connector.translate(label)()}}</span>
                <!-- /ko -->
                <!-- ko if: signalNameLabel -->
                <span data-bind="text: signalName, visible: signalNameLabel"></span>
                <!-- /ko -->
            </span>
        </span>
        <!-- /ko -->

        <!--<input type="time" class="form-control wf-input-box" data-bind="value: signalValueInputField" />-->
        <input type="number" min="0" max="59" step="0.01" class="form-control wf-input-box" data-bind="value: signalValueInputField" />
    </div>
</div>
