﻿<!-- ko if:hasAuthorization-->
    <span class="user-information" data-bind="text: output, attr : {title: tooltipText}"></span>
    <!--/ko-->

    <!--<pre data-bind="text: ko.toJSON(userDetails(), null, 2)"></pre>-->
