﻿<!-- ko if:hasAuthorization-->
<div class="wf-alarm-viewer" data-bind="style: { height: height() ? height() + 'px' : 'auto' }">
    <div class="wf-panel" data-bind="css: panelBarCssClass">
        <!-- ko if: headerVisibility -->
        <div class="panel-heading">
            <div class="pull-right wf-panel-toolbar">
                <!-- ko if: ackButtonVisibility -->
                <button type="button" data-bind="css: buttonBarCssClass, click: acknowledgeAll" title="{{connector.translate('I4SCADA_Acknowledge_All_Visible_Alarms')()}}">
                    <!-- ko if: isAcknowledgeAll-->
                    <div class="spinner m-a-0" style="width:20px;height:20px;" />
                    <!-- /ko -->
                    <!-- ko ifnot: isAcknowledgeAll-->
                    <span class="wf wf-check"></span>
                    <!-- /ko -->
                </button>
                <!-- /ko -->
                <!-- ko if: configurationButtonVisibility -->
                <wf-configuration params="controlType: controlType,
                                  getConfiguration: function(){ return getConfig(); },
                                  loadConfiguration: function(content){ loadConfig(content); },
                                  namespace : configurationNamespace,
                                  buttonBarCssClass: buttonBarCssClass,
                                  buttonBarIconClass: configurationButtonIconClass,
                                  isModalDialogsDraggable: isModalDialogsDraggable" />
                <!-- /ko-->
                <!--<div class="btn-group">-->
                <!-- ko ifnot: onlineAlarmsMode -->
                <button type="button" data-bind="css: buttonBarCssClass, click: applyFilterSettings" title="{{connector.translate('I4SCADA_Refresh')()}}">
                    <i class="wf wf-arrow-refresh-right"></i>
                </button>
                <!-- /ko-->
                <!-- ko if: settingsButtonVisibility() -->
                <button type="button" class="btn btn-default" data-bind="css: settingsButtonBarCssClass, click: showSettings" title="{{connector.translate('I4SCADA_Settings')()}}">
                    <span class="wf wf-filter"></span>
                </button>
                <!-- /ko -->
                <!--</div>-->
                <!-- ko if: templateSwitchVisibility -->
                <button class="btn btn-default inline" type="button" data-bind="css: buttonBarCssClass, checkbox: tableView" title="{{connector.translate('I4SCADA_Switch_View_Between_Tiles_And_Table')()}}">
                    <i class="wf" data-bind="css: { 'wf-menu': tableView, 'wf-thumbs': !tableView() }"></i>
                </button>
                <!-- /ko -->
            </div>

            <h3 class="panel-title" data-part="panelHeader" data-bind="css: {'pull-left':  newChunkOfflineAlarmsLoading}">
                <span data-bind="text: titleText"></span>
                &nbsp;
                <span class="label label-black">
                    <span data-bind="text: onlineAlarms().length"></span>
                </span>
                &nbsp;
                <span class="label label-info" data-bind="visible: showFilterActivLabel">
                    <i class="wf wf-filter-o"></i>
                    Filter
                </span>
                <!-- ko ifnot: onlineAlarmsMode -->
                &nbsp;
                <span class="label label-info">
                    <i class="wf wf-database"></i>
                    Offline
                </span>
                <!-- /ko -->
            </h3>
            <!-- ko if: newChunkOfflineAlarmsLoading-->
            <div class="spinner m-a-0" style="width:20px;height:20px;" />
            <!-- /ko -->
        </div>
        <!-- /ko -->
        <!-- ko ifnot: busyContext.active -->
        <div class="spinner">{{connector.translate('I4SCADA_Loading...')()}}</div>
        <!-- /ko -->
        <!-- ko if: busyContext.active -->
        <div class="relative">
            <div class="panel-body p-a-0">
                <div class="overflow-y-scroll p-a-md" data-bind="style: {height: panelBodyHeight() ? panelBodyHeight() + 'px' : 'auto' },
                     infiniteScroll: { endScrollCallback: function() { getNewChunkAlarms(); }, selectorOfInnerWithoutScrollObject: panelBodyHeight() ? (tableView() ? 'table' : '.wf-alarm-viewer-cards') : '' },
                     attr: {id: 'wrap_' + id() }">
                    <!-- ko ifnot: tableView -->
                    <div class="row wf-alarm-viewer-cards" data-bind="foreach: {data: onlineAlarms, as: 'alarm'}">
                        <div class="col-lg-4 col-md-6">
                            <div class="panel" data-bind="css: { 'panel-danger active': DateOn, 'panel-success gone': DateOff, 'panel-warning acknowledged': DateAck }, click: $parent.selectAlarm">
                                <div class="panel-heading" data-bind="style: { color: foreground, background-color: background }">
                                    <h3 class="panel-title">
                                        <!-- ko if: $parent.isShowPriority -->
                                        <span class="label label-default pull-right wf-alarm-priority" data-bind="text: Priority" title="{{$parent.connector.translate('I4SCADA_Alarm_priority')()}}"></span>
                                        <!-- /ko -->
                                        <!-- ko if: $parent.isShowAlarmTypeSymbolicTextTranslation -->
                                        <span data-bind="text: AlarmTypeSymbolicTextTranslation, style: { color: foreground }"></span>
                                        <!-- /ko -->
                                    </h3>
                                </div>
                                <div class="panel-body">
                                    <div class="panel-body-inner">
                                        <div class="wf-panel-state-element"></div>
                                        <div class="panel-content">
                                            <div class="panel-content-inner" data-part="columns">

                                                <!-- ko foreach: $parent.fields.data -->
                                                <!-- ko if: $data === 'AlarmSymbolicTextTranslation' -->
                                                <h3 class="wf-panel-content-title" data-bind="text: alarm[$data]"></h3>
                                                <!-- /ko -->
                                                <!-- ko ifnot: $data === 'AlarmSymbolicTextTranslation' || $data === 'Priority' || $data === 'AlarmTypeSymbolicTextTranslation'-->
                                                <div class="row timestamp-box">
                                                    <!-- ko if: alarm[$data] -->
                                                    <div class="col-sm-3">
                                                        <span class="label-timestamp">
                                                            <!-- ko if: $data === 'DateOn'-->
                                                            <i class="wf wf-megaphone"></i>
                                                            <!-- /ko -->
                                                            <!-- ko if: $data === 'DateOff'-->
                                                            <i class="wf wf-service"></i>
                                                            <!-- /ko -->
                                                            <!-- ko if: $data === 'DateAck'-->
                                                            <i class="wf wf-eye"></i>
                                                            <!-- /ko -->
                                                            {{$parentContext.$parent.connector.translate($parentContext.$parent.fields.headers()[$index()])()}}
                                                        </span>
                                                    </div>
                                                    <div class="col-sm-9">
                                                        <!-- ko if: $data === 'AcknowledgedWithComment' -->
                                                        <span class="wf wf wf-check" data-bind="attr: { title: alarm['AckText'] }, visible: alarm[$data]"></span>
                                                        <!-- /ko -->
                                                        <!-- ko if: $parents[1].isDateField($data) -->
                                                        <span class="timestamp" data-bind="formattedDate: { value: alarm[$data] }"></span>
                                                        <!-- /ko -->
                                                        <!-- ko ifnot: $parents[1].isDateField($data) ||  $data === 'AcknowledgedWithComment'-->
                                                        <span data-bind="text: alarm[$data]"></span>
                                                        <!-- /ko -->
                                                    </div>
                                                    <!-- /ko -->
                                                </div>
                                                <!-- /ko -->
                                                <!-- /ko -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /ko -->
                    <!-- ko if: tableView -->
                    <div class="row">
                        <table class="table table-striped table-hover wf-table-alarms" data-bind="fixTableHeader:{ wrapperId: 'wrap_' + id()}, sortTable: {sortFunction: function(index, asc) { sortingData({ index: index-1, asc: asc }); }, iconCssClass: 'm-l-sm', excludeColumnIndexs: [0]}">
                            <thead data-part="header">
                                <!-- ko if: columnsHeaderVisibility-->
                                <tr>
                                    <!-- ko if: rowNumberVisibility-->
                                    <th>#</th>
                                    <!-- /ko -->
                                    <!-- ko foreach: columns.headers -->
                                    <th>
                                        <wf-symbolictext params="symbolicText: $data"></wf-symbolictext>
                                    </th>
                                    <!-- /ko -->
                                </tr>
                                <!-- /ko -->
                            </thead>
                            <tbody data-part="rows" data-bind="foreach: {data: onlineAlarms, as: 'alarm'}">
                                <tr data-bind="css: { 'on': DateOn, 'gone': DateOff, 'acknowledged': DateAck }, style: { color: background }">
                                    <!-- ko if: $parent.rowNumberVisibility-->
                                    <td data-bind="text: $index() + 1, click: function(data, event) { $parents[1].selectAlarm($parent, event) }" class="index" />
                                    <!-- /ko -->
                                    <!-- ko foreach: $parent.columns.data -->
                                        <!-- ko if: $data === 'AcknowledgedWithComment' -->
                                        <td><span class="wf wf wf-check" data-bind="attr: { title: alarm['AckText'] }, visible: alarm[$data], click: function(data, event) { $parents[1].selectAlarm($parent, event) }"></span></td>
                                        <!-- /ko -->
                                        <!-- ko if: $data === 'AlarmLinkURL' -->
                                        <td data-bind="click: alarm[$data] ? null : function(data, event) { $parents[1].selectAlarm($parent, event) }" >
                                            <a data-bind="attr: { title: alarm['AlarmLinkURL'], href:  alarm[$data]}, visible: alarm[$data]" target ="_blank">
                                                <i class="wf wf wf-link"></i>
                                            </a>
                                        </td>
                                        <!-- /ko -->
                                        <!-- ko if: $parents[1].isDateField($data) -->
                                        <td data-bind="formattedDate: { value: alarm[$data] }, click: function(data, event) { $parents[1].selectAlarm($parent, event) }" />
                                        <!-- /ko -->
                                        <!-- ko ifnot: $parents[1].isDateField($data) ||  $data === 'AcknowledgedWithComment' ||  $data === 'AlarmLinkURL'-->
                                        <td data-bind="text: alarm[$data], click: function(data, event) { $parents[1].selectAlarm($parent, event) }" />
                                        <!-- /ko -->
                                    <!-- /ko -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /ko -->
                </div>
            </div>
        </div>
        <!-- /ko -->
    </div>

    <div data-bind="attr: { id: 'modal-alarm-back-container-' + id() }">
        <div class="modal fade" tabindex="-1" role="dialog" data-bind="modalDialog: {show: showDialog, draggable: isModalDialogsDraggable}, attr: { id: 'modal-alarm-' + id() }" style="display: none;">
            <div class="modal-dialog modal-top">
                <div class="modal-content">

                    <div class="modal-header" data-bind="css: { 'modal-danger active': selectedAlarm().DateOn, 'modal-success gone': selectedAlarm().DateOff, 'modal-warning acknowledged': selectedAlarm().DateAck }, style: { color: selectedAlarm().foreground, background-color: selectedAlarm().background }">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-bind="click: close">&times;</button>
                        <div class="modal-title" data-bind="text: selectedAlarm().AlarmTypeSymbolicTextTranslation, style: { color: selectedAlarm().foreground }"></div>
                    </div>
                    <div class="modal-body">
                        <div class="modal-content-title block h3">
                            <span data-bind="text: selectedAlarm().AlarmSymbolicTextTranslation, visible: selectedAlarm().AlarmSymbolicTextTranslation"></span>
                        </div>
                        <label>
                            {{connector.translate('I4SCADA_Alarm_priority')()}}:
                            <span data-bind="text: selectedAlarm().Priority"></span>
                        </label>

                        <div class="well" data-bind="text: selectedAlarm().AlarmComment, visible: selectedAlarm().AlarmComment"></div>

                        <div class="row">
                            <div class="col-xs-6 timestamp-box" data-bind="visible: selectedAlarm().DateOn">
                                <span class="label-timestamp">
                                    <i class="wf wf-megaphone"></i>
                                    {{connector.translate('I4SCADA_Occurred')()}}
                                </span>
                                <span class="timestamp inline" data-bind="formattedDate: { value: selectedAlarm().DateOn }"></span>
                            </div>
                            <div class="col-xs-6 timestamp-box" data-bind="visible: selectedAlarm().DateAck">
                                <span class="label-timestamp">
                                    <i class="wf wf-eye"></i>
                                    {{connector.translate('I4SCADA_Confirmed')()}}
                                </span>
                                <span class="timestamp inline" data-bind="formattedDate: { value: selectedAlarm().DateAck }"></span>
                            </div>
                            <div class="col-xs-6 timestamp-box" data-bind="visible: selectedAlarm().DateOff">
                                <span class="label-timestamp">
                                    <i class="wf wf-service"></i>
                                    {{connector.translate('I4SCADA_Gone')()}}
                                </span>
                                <span class="timestamp inline" data-bind="formattedDate: { value: selectedAlarm().DateOff }"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-6" data-bind="visible: selectedAlarm().AlarmGroupSymbolicTextTranslation">
                                <span class="label-title">
                                    <i class="wf wf-folder"></i>
                                    {{connector.translate('I4SCADA_Group')()}}
                                </span>
                                <span data-bind="text: selectedAlarm().AlarmGroupSymbolicTextTranslation"></span>
                            </div>
                            <div class="col-xs-6" data-bind="visible: selectedAlarm().AlarmTypeSymbolicTextTranslation">
                                <span class="label-title" data-bind="visible: selectedAlarm().AlarmTypeSymbolicTextTranslation">
                                    <i class="wf wf-label"></i>
                                    {{connector.translate('I4SCADA_Alarm_typ')()}}
                                </span>
                                <span data-bind="text: selectedAlarm().AlarmTypeSymbolicTextTranslation"></span>
                            </div>
                        </div>

                        <div class="wf-callout-box wf-callout-box-info" data-bind="visible: selectedAlarm().HelpCause">
                            <h4 class="wf-callout-box-title">
                                {{connector.translate('I4SCADA_Reason')()}}
                            </h4>
                            <p data-bind="text: selectedAlarm().HelpCause, visible: selectedAlarm().HelpCause"></p>
                        </div>

                        <div class="wf-callout-box wf-callout-box-warning" data-bind="visible: selectedAlarm().HelpEffect">
                            <h4 class="wf-callout-box-title">
                                {{connector.translate('I4SCADA_Impact')()}}
                            </h4>
                            <p data-bind="text: selectedAlarm().HelpEffect, visible: selectedAlarm().HelpEffect"></p>
                        </div>

                        <div class="wf-callout-box wf-callout-box-success" data-bind="visible: selectedAlarm().HelpRepair">
                            <h4 class="wf-callout-box-title">
                                {{connector.translate('I4SCADA_Rectification')()}}
                            </h4>
                            <p data-bind="text: selectedAlarm().HelpRepair, visible: selectedAlarm().HelpRepair"></p>
                        </div>

                        <!-- ko if: selectedAlarm().AckText || showAckButton()-->
                        <div class="row m-t-md">
                            <div class="col-xs-12">
                                <span class="label-title">
                                    {{connector.translate('I4SCADA_Acknowledge_Comment')()}}
                                </span>
                                <!-- ko if: selectedAlarm().AckText -->
                                <div class="wf-callout-box wf-callout-box-default">
                                    <i class="wf-callout-box-icon wf-lg wf-callout text-info"></i>
                                    <h4 class="wf-callout-box-title">
                                        <span data-bind="text: selectedAlarm().AckText"></span>
                                    </h4>
                                </div>
                                <!--<div class="well" data-bind="text: selectedAlarm().AckText"></div>-->
                                <!-- /ko -->
                                <!-- ko if: showAckButton() -->
                                <input data-bind="textInput: commentAckAlarm" class="form-control" />
                                <!-- /ko -->
                            </div>
                        </div>
                        <!-- /ko -->
                    </div>

                    <div class="modal-footer">
                        <span data-bind="visible: showAckButton(), component: {name: 'wf-alarm-ack-button', params: { alarmId: selectedAlarmId() , ackComment: commentAckAlarm, callback: function() { closeModal();} } }"></span>
                        <button type="button" class="btn btn-default" data-bind="click: closeModal">{{connector.translate('I4SCADA_Close')()}}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div data-bind="attr: { id: 'modal-settings-back-container-' + id() }">
        <div class="modal fade wf-panel-settings" tabindex="-1" role="dialog" data-bind="modalDialog: {show: showSettingsDialog, draggable: isModalDialogsDraggable}, attr: { id: 'modal-settings-' + id() }" style="display: none;">
            <div class="modal-dialog modal-top">
                <div class="modal-content">
                    <div class="modal-header  modal-primary">
                        <button style="color: rgb(255,255,255)" type="button" class="close" data-dismiss="modal" aria-hidden="true" data-bind="click: closeSettings">&times;</button>
                        <div class="modal-title">
                            <span>{{connector.translate('I4SCADA_Settings')()}}</span>
                        </div>
                    </div>

                    <div class="modal-body wf-panel-settings">
                        <div class="row">
                            <div class="col-sm-6">
                                <label>{{ connector.translate('I4SCADA_Mode')()}}</label>
                            </div>
                        </div>
                        <div class="row m-b-sm">
                            <div class="col-sm-6">
                                <div class="btn-group btn-group-justified">
                                    <div class="btn-group">
                                        <button type="button" class="btn" data-bind="css: {'btn-primary': isOnlineMode(), 'btn-default': !isOnlineMode()}, click: function() { isOnlineMode(true); } ">
                                            <i class="wf wf-warning-reload"></i>
                                            <span>Online</span>
                                        </button>
                                    </div>
                                    <div class="btn-group">
                                        <button type="button" class="btn" data-bind="css: {'btn-primary': !isOnlineMode(), 'btn-default': isOnlineMode()}, click: function() { isOnlineMode(false); } ">
                                            <i class="wf wf-database"></i>
                                            <span>Offline</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row p-t">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <!--<h5>Time rage start</h5>-->
                                    <label>{{connector.translate('I4SCADA_From')()}}</label>
                                    <div class='input-group date' id="fromDate" data-bind="datepicker: filter.startDate, datepickerOptions: { locale: 'de', maxDate: filter.endDate }">
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="wf wf-clock"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <!-- ko if: !onlineAlarmsMode() -->
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>{{connector.translate('I4SCADA_To')()}}</label>
                                    <div class='input-group date' id="toDate" data-bind="datepicker: filter.endDate, datepickerOptions: { locale: 'de', minDate: filter.startDate }">
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="wf wf-clock"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <!-- /ko -->

                            <div class="col-sm-6">
                                <label>{{connector.translate('I4SCADA_Maximum_number_of_records')()}}</label>
                                <input class="form-control" type="number" data-bind="value: filter.maxRowCount, valueUpdate: 'afterkeydown', event:{ change: filtersChanged}" />
                            </div>
                        </div>

                        <div class="row p-b">
                            <!-- ko if: groupFilterVisibility -->
                            <div class="col-sm-6 form-group">
                                <label>{{connector.translate('I4SCADA_Alarm_groups')()}}</label>

                                <div class="dropdown">
                                    <button class="btn btn-default form-control" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        <span data-bind="wfSymbolicText: { symbolicText: 'I4SCADA_Alarm_groups' }"></span>
                                            <span class="caret"></span>
                                        </button>
                                    <ul class="dropdown-menu" data-bind="foreach: alarmGroups">
                                        <li>
                                            <a class="small"><input type="checkbox" data-bind="checked: $parent.selectedAlarmGroups, checkedValue: SymbolicTextName, event:{ change: $parent.filtersChanged }" />{{SymbolicTextTranslation}}</a>
                                        </li>
                                    </ul>
                                </div>      
                            </div>
                            <!-- /ko -->
                            <!-- ko if: stateFilterVisibility -->
                            <div class="col-sm-6 form-group">
                                <label>{{connector.translate('I4SCADA_Alarm_status')()}}</label>
                                <select class="form-control" data-bind="options: availableAlarmStates, selectedOptions: filter.alarmStatusFilter, optionsText: 'Description', optionsValue: 'Number', value: filter.alarmStatusFilter, event:{ change: filtersChanged}"></select>
                            </div>
                            <!-- /ko -->
                            <!-- ko if: typeFilterVisibility -->
                            <div class="col-sm-6 form-group">
                                <label>{{connector.translate('I4SCADA_Alarm_typ')()}}</label>
                                                    
                                <div class="dropdown">
                                    <button type="button" class="btn btn-default form-control" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        <span data-bind="wfSymbolicText: { symbolicText: 'I4SCADA_Alarm_typ' }"></span>
                                            <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu" data-bind="foreach: alarmTypes">
                                        <li>
                                            <a class="small"><input type="checkbox" data-bind="checked: $parent.selectedAlarmTypes, checkedValue: SymbolicTextName, event:{ change: $parent.filtersChanged }"/>{{SymbolicTextTranslation}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- /ko -->
                            <!-- ko if: priorityFilterVisibility-->
                            <div class="col-sm-6 form-group">
                                <label>{{connector.translate('I4SCADA_Alarm_priority')()}}</label>
                                <select class="form-control" data-bind="options: alarmPrioritys, optionsCaption: '*', optionsValue: $data, value: tempSelectedAlarm, event:{ change: filtersChanged}"></select>
                            </div>
                            <!-- /ko -->
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="btn-group">
                            <button class="btn btn-success" data-bind="click: handleApplyFilterSettings, enable: filtersChanged">
                                <i class="wf-lg wf-check"></i>
                                {{connector.translate('I4SCADA_Apply')()}}
                            </button>
                            <button class="btn btn-default" data-bind="click: closeSettings">
                                <i class="wf wf-close-round-o"></i>
                                {{connector.translate('I4SCADA_Close')()}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--/ko-->