﻿<!-- ko if:hasAuthorization-->
<div class="wf-logtag-analytics-container" data-bind="attr: { id: 'wf-logtag-analytics-' + id() }">
    <div class="wf-logtag-analytics-panel" data-bind="css: showMainPanel? mainPanelCssClass : ''">

        <!-- ko if:headerVisibility-->
        <div class="wf-logtag-analytics-panel-heading panel-heading clearfix">

            <div class="pull-right">
                <!-- ko if: configurationButtonVisibility-->
                <wf-configuration params="controlType: controlType,
                                  getConfiguration: function(){ return getConfig(); },
                                  loadConfiguration: function(content){ loadConfig(content);},
                                  selectedRowCssClass:'danger',
                                  namespace : namespace,
                                  buttonBarCssClass: buttonBarCssClass,
                                  buttonBarIconClass: configurationButtonIconClass,
                                  isModalDialogsDraggable: isModalDialogsDraggable " />
                <!-- /ko -->
                <div class="btn-group">
                    <button type="button" data-bind="css: buttonBarCssClass, click: getData " title="{{connector.translate('I4SCADA_Refresh')()}}">
                        <i class="wf wf-arrow-refresh-right"></i>
                    </button>
                    <!-- ko if: settingsButtonVisibility -->
                    <button type="button" data-bind="css: buttonBarCssClass, click: handleShowSettings " title="{{connector.translate('I4SCADA_Settings')()}}">
                        <!-- ko if: isSignalLoading-->
                        <div class="spinner m-a-0" style="width:20px;height:20px;" />
                        <!-- /ko -->
                        <!-- ko ifnot: isSignalLoading-->
                        <span class="wf wf-sine-wave"></span>
                        <!-- /ko -->
                    </button>
                    <!-- /ko -->
                </div>
            </div>

            <h3 class="panel-title">
                <span data-bind="text: titleText"></span>
            </h3>
        </div>
        <!-- /ko -->

        <div class="wf-logtag-analytics-panel-body" data-bind="css: {'panel-body' : headerVisibility}">
            <!-- ko ifnot: hasData-->
            <!-- ko ifnot: isLoading-->
            <div class="wf-logtag-analytics-panel-items-not-available alert alert-info text-center animated fadeIn m-a-md">
                {{ connector.translate('I4SCADA_No_data_available')}}
            </div>
            <!-- /ko -->
            <!-- /ko -->
            <!-- ko foreach: viewModel() -->
            <div data-bind="css: $parent.showDatasetInPanels? $parent.datasetPanelCssClass : ''">
                <!-- ko if: $parent.showHeaderForDataset-->
                <div class="panel-heading" data-bind="text: caption"></div>
                <!-- /ko -->
                <div data-bind="css: {'panel-body' : $parent.showDatasetInPanels}">
                    <div class="maxPanel" data-bind="visible: maxPanelIsVisible">
                        <strong data-bind="visible: showMaxLabel, text: maxLabel"></strong>
                        <span data-bind="visible: showMaxValue, text: maxValue"></span>
                        <span data-bind="visible: showMaxDate, text: maxDate"></span>
                    </div>
                    <div class="minPanel" data-bind="visible: minPanelIsVisible">
                        <strong data-bind="visible: showMinLabel, text: minLabel"></strong>
                        <span data-bind="visible: showMinValue,text: minValue"></span>
                        <span data-bind="visible: showMinDate, text: minDate"></span>
                    </div>
                    <div class="avgPanel" data-bind="visible: avgPanelIsVisible">
                        <strong data-bind="visible: showAvgLabel, text: avgLabel"></strong>
                        <span data-bind="text: avgValue"></span>
                    </div>
                </div>
            </div>
            <!-- /ko -->
            <!-- ko if: isLoading-->
            <div class="spinner"></div>
            <!-- /ko -->
        </div>
    </div>

    <div data-bind="attr: { id: 'modal-signal-settings-back-container-' + id() }">
        <div class="modal fade wf-panel-signal-settings" tabindex="-1" role="dialog" data-bind="modalDialog: {show: showDialog, draggable: isModalDialogsDraggable}, attr: { id: 'modal-signal-settings-' + id() }" style="display: none;">
            <div class="modal-dialog modal-top">
                <div class="modal-content">
                    <div class="modal-header modal-primary">
                        <button style="color: rgb(255,255,255)" type="button" class="close" data-dismiss="modal" aria-hidden="true" data-bind="click: closeSettings">&times;</button>
                        <div class="modal-title"><strong>{{connector.translate('I4SCADA_Settings')()}}</strong></div>
                    </div>

                    <div class="modal-body wf-panel-settings">
                        <div class="row m-l-sm m-r-sm">
                            <wf-signal-browser params="items: selectedLogTags,
                                       showColor: false, showAxis: false,
                                       beginLoadSignalsFunc : function(){ isSignalLoading(true); },
                                       endLoadSignalsFunc : function(){ isSignalLoading(false); }" />
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <label>Von:</label>
                                <div class='input-group date m-b-sm' data-bind="datepicker: fromDateInput, datepickerOptions: { locale: 'de' }">
                                    <input type='text' class="form-control" required />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-time"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label>Bis:</label>
                                <div class='input-group date m-b-sm' data-bind="datepicker: toDateInput, datepickerOptions: { locale: 'de' }">
                                    <input type='text' class="form-control" required />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-time"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-primary" data-bind="click: applySettings">
                            <i class="wf-lg wf-check"></i>
                            {{connector.translate('I4SCADA_Apply')()}}
                        </button>
                        <button class="btn btn-default" data-bind="click: closeSettings">
                            <i class="wf wf-close-round-o"></i>
                            {{connector.translate('I4SCADA_Close')()}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 <!-- /ko -->