﻿<!-- ko if:isVisible-->
<div class="wf-signal-list">
    <div class="wf-control-bar">
        
        <h4 class="wf-title">
            <button class="pull-right" type="button" data-bind="click: showSettings, css: settingsButtonBarCssClass">
                <i class="wf wf-add"></i>
                <span>{{connector.translate('I4SCADA_Add_Signal')()}}</span>
            </button>
            <!-- ko if: configurationButtonVisibility -->
            <wf-configuration class="m-r-sm pull-right" params="controlType: controlType,
                                  getConfiguration: function(){ return getConfig(); },
                                  loadConfiguration: function(content){ loadConfig(content); },
                                  namespace : configurationNamespace,
                                  buttonBarIconClass: configurationButtonIconClass,
                                  isModalDialogsDraggable: isModalDialogsDraggable" />
            <!-- /ko-->
            <span data-bind="html: title + '&nbsp;'"></span>
        </h4>
    </div>
    <!-- ko ifnot: hasData -->
    <div class="wf-callout-box wf-callout-box-info animated fadeIn m-t-md">
        {{ connector.translate('I4SCADA_No_signals_selected')() }}
    </div>
    <!-- /ko -->
    <!-- ko if: hasData -->
    <!-- ko if: listTemplate === "wf-value-display" -->
    <ul class="list-unstyled p-t-md" data-bind="foreach: signals, attr : {title: tooltipText}">
        <li>
            <wf-value-display class="block" params="signalName: $data.signalName,  unitLabel: true, format: $parent.format, signalNameLabel: $data.signalLabel ? false : true, displayClass: $parent.valueDisplayClass, label: $data.signalLabel, staticUnitText: $data.staticUnitText, isAlphanumeric: $data.isAlphanumeric "></wf-value-display>
        </li>
    </ul>
    <!-- /ko -->
    <!-- ko if: listTemplate === "wf-value" -->
    <ul class="list-group p-t-md" data-bind="foreach: signals, attr : {title: tooltipText}">
        <li class="list-group-item">
            <span data-bind="text: $data.signalLabel? $data.signalLabel : $data.signalName"></span>
            <span class="badge">
                <wf-value class="inline-block" params="signalName: $data.signalName,  unitLabel: true, format: $parent.format, staticUnitText: $data.staticUnitText, isAlphanumeric: $data.isAlphanumeric"></wf-value>
            </span>
        </li>
    </ul>
    <!-- /ko -->
    <!-- /ko -->
</div>

<div data-bind="attr: { id: 'modal-settings-back-container-' + id() }">
<div class="wf-signal-list modal fade panel-settings" tabindex="-1" role="dialog" data-bind="modalDialog: {show: showDialog, draggable: isModalDialogsDraggable}, attr: { id: 'modal-settings-' + id() }" style="display: none;">
    <div class="modal-lg modal-dialog modal-top">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-bind="click: closeSettings">&times;</button>
                <div class="modal-title"><strong>{{connector.translate('I4SCADA_Settings')()}}</strong></div>
            </div>
            <div class="modal-body wf-panel-settings">
                <div class="row p-b-md">
                    <div class="col-xs-5 p-r-sm">
                        <label>{{connector.translate('I4SCADA_Group')()}}</label>
                        <select class="form-control" data-bind="selectpicker: {
                                            options: allGroups,
                                            optionsTitle: 'Nothing selected',
                                            size: 20,
                                            selectedOptions: selectedGroup,
                                            liveSearch: true }"></select>
                    </div>
                    <div class="p-l-sm col-xs-7">
                        <label>{{connector.translate('I4SCADA_Signal')()}}</label>
                        <div class="flexbox">
                            <select class="form-control" data-bind="selectpicker: {
                                            options: allSignals,
                                            optionsTitle: 'Nothing selected',
                                            size: 20,
                                            selectedOptions: selectedSignal,
                                            liveSearch: true }"></select>
                            <div class="checkbox p-l-sm">
                                <label><input type="checkbox" data-bind="checked: isAlphanumeric" >Alphanumeric</label>
                            </div>
                            <button type="button" class="m-l-md btn btn-success" data-bind="click: addItem, disable: isDisabledAddItemButton">
                                <i class="wf wf-add-round"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="m-t-md" data-bind="foreach: items">
                    <button type="button" class="btn m-b m-r-sm" data-bind="click: $parent.removeItem, css: $data.signalName === $parent.selectedSignal() ? $parent.listValidationCssClass : $parent.listButtonCssClass">
                        <span data-bind="text:$data.signalName"></span>
                        <i class="wf wf-close-round"></i>
                    </button>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-primary" data-bind="click: applyFilterSettings">
                    <i class="wf-lg wf-check"></i>
                    {{connector.translate('I4SCADA_Apply')()}}
                </button>
                <button class="btn btn-default" data-bind="click: closeSettings">
                    <i class="wf wf-close-round-o"></i>
                    {{connector.translate('I4SCADA_Close')()}}
                </button>
            </div>
        </div>
    </div>
</div>
</div>
<!--/ko-->