﻿<div class="wf-signal-logtag-browser col-sm-12">
    <!-- ko ifnot: hasItems-->
    <div class="alert alert-info text-center animated fadeIn m-a-md">
        <i class="wf wf-alert-o"></i>
        {{ connector.translate('I4SCADA_No_log_tags_selected')() }}
    </div>
    <!-- /ko -->
    <!-- ko if: hasItems-->
    <div class="row hidden-xs">
        <div data-bind="css: signalSelectorCssClass">
            <label data-bind="css: labelCssClass">{{$parent.connector.translate('I4SCADA_Signal')()}}:</label>
        </div>
        <div class="p-l-0" data-bind="css: logtagSelectorCssClass">
            <label data-bind="css: labelCssClass">{{$parent.connector.translate('I4SCADA_LogTag')()}}:</label>
        </div>
        <!-- ko if: showColor-->
        <div class="col-sm-2">
            <label data-bind="css: labelCssClass">{{$parent.connector.translate('I4SCADA_Color')()}}:</label>
        </div>
        <!-- /ko -->
        <!-- ko if: showAxis-->
        <div class="col-sm-1">
            <label data-bind="css: labelCssClass">{{$parent.connector.translate('I4SCADA_Y_Axis')()}}:</label>
        </div>
        <!-- /ko -->
        <!-- ko if: showType-->
        <div class="col-sm-2">
            <label data-bind="css: labelCssClass">{{$parent.connector.translate('I4SCADA_Type')()}}:</label>
        </div>
        <!-- /ko -->
    </div>
    <!-- /ko -->
    <!-- ko foreach: settings.items-->
    <div class="row">
        <div data-bind="css: $parent.columnCssClass, css: $parent.signalSelectorCssClass ">
            <select class="m-b-sm" data-bind="selectpicker: {
                                        options: $parent.signals,
                                        optionsTitle: 'Nothing selected',
                                        size: 20,
                                        selectedOptions: signalName,
                                        liveSearch: true },
                                        optionsText:'text',
                                        optionsValue:'value',
                                        "></select>
        </div>
        <div class="p-l-0" data-bind="css: $parent.columnCssClass, css: $parent.logtagSelectorCssClass" class="flexbox">
            <select data-bind="selectpicker: {
                                options: $parent.getLogTags(ko.unwrap(signalName)),
                                optionsTitle: 'Nothing selected',
                                size: 20,
                                selectedOptions: logTagName,
                                liveSearch: true }"></select>
        </div>
        <!-- ko if: $parent.showColor-->
        <div class="flexbox col-sm-2 p-l-0">
            <div class="input-group colorpicker-component" data-bind="colorpicker: {selectedColor: color}">
                <input type="text" class="form-control" />
                <span class="input-group-addon"><i></i></span>
            </div>
        </div>
        <!-- /ko -->
        <!-- ko if: $parent.showAxis-->
        <div class="flexbox col-sm-1 p-a-0">
            <select data-bind="selectpicker: {
                                        options: $parent.availableAxis,
                                        selectedOptions: axis }"></select>
        </div>
        <!-- /ko -->
        <!-- ko if: $parent.showType-->
        <div class="col-sm-2 flexbox" data-bind="css: $parent.columnCssClass">
     
                <select data-bind="selectpicker: {
                                        options: $parent.availableTypes,
                                        selectedOptions: type }"></select>
    
        </div>
        <!-- /ko -->
        <!-- ko if: $parent.isMultipleMode-->
        <div class="col-sm-1 p-l-0">
            <button class="btn btn-danger pull-right" data-bind="click: $parent.removeItem">
                <i class="wf wf-close-round"></i>
            </button>
        </div>
        <!-- /ko -->
    </div>
    <!-- /ko -->

    <div class="row">
        <div class="pull-right m-r-md m-t-md">
            <button class="btn btn-success" type="button" data-bind="click: addItem, disable: !settings.items">
                <i class="wf wf-small-add-round-o" />
                <span>{{connector.translate('I4SCADA_Add_Log_Tag')()}}</span>
            </button>
        </div>
    </div>
</div>