﻿<div data-bind="if: hasAuthorization() && isVisible()">
    <div class="btn-group btn-dropdown-wf">
        <button type="button" class="dropdown-toggle btn" data-bind="disable: isDisabled, css: displayClassNames, attr : {title: tooltipText}" data-toggle="dropdown">
            <div data-part="statusContainer">
                <div class="inline-block" data-bind="wfStateCssClass: stateIconProperties, attr: {style: iconStyle}"></div>&nbsp;
                <span data-bind="wfStateText: stateProperties, attr: {style: textStyle}"></span>
                <span class="caret"></span>
            </div>
        </button>
        <ul class="dropdown-menu" role="menu" data-bind="foreach: signalWriteItems, css: 'dropdown-menu-' + dropdownAlignment">
            <li>
                <a role="menuitem" tabindex="-1" href="#" data-bind="click: $parent.updateStatus">
                    <i data-bind="css: icon, attr: {style: $parent.iconStyle}"></i>
                    <span data-bind="attr: {style: $parent.textStyle}">{{$parent.connector.translate(symbolicText)()}}</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- ko if: writeSecure -->
    <wf-write-secure-signal params="show: showWriteSecure,
                               signalName: writeSecureSignalName,
                               signalValue: writeSecureValue,
                               draggable: isModalDialogsDraggable"></wf-write-secure-signal>
    <!-- /ko -->
</div>