﻿<!--****************************************************************************************************************************************************************************************************************************************************
    Bühler+Scherler
--------------------------------------------------------------------------------------------------------------------------


--------------------------------------------------------------------------------------------------------------------------
ERSTELLT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0		R.Brunnschweiler	BS                  10.07.2017
--------------------------------------------------------------------------------------------------------------------------
GEÄNDERT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0       F.Sabljo            BS                  15.02.2018


********************************************************************************************************************************************************************************************************************************************************-->
<div class="container bs_content_container">
    <header>
        <h1 class="page-header bs-header-mittig">K10 Kälteverteilung Business BA.SH02 | K01/02 Kälteverteilung Hotel HA.SK01</h1>
        <!--BUILDING CONTROL-->
    </header>
    <div class="col-lg-12">
        <div class="bs-responsive bs-business-kaelteklima-K10K01K02KaelteverteilungBusinessBA_SH02_HotelHA_SK01 hidden-xs">
            <!--Seiten-Verlinkungen (Pfeile auf der Seite)-->
            <!-- Widgets -->
            <!-- Sollwert -->
            <div style="position:absolute; left: 140.5px; top: 457px;" id="S1" title="Sollwert Stellgrösse Kälteverbraucher" data-bind="bsAusgabefeld: {
              signalName:'Station_37.Register.kaelteverbraucher',
              typ: 'berechnetersollwert',
              einheit: '%'
            }">
            </div>

            <div style="position:absolute; left: 1447.5px; top: 457px;" id="S2" title="Sollwert Stellgrösse Kälteverbraucher" data-bind="bsAusgabefeld: {
              signalName:'Station_39.Register.stellgroesse_kv_hotel',
              typ: 'berechnetersollwert',
              einheit: '%'
            }">
            </div>

            <div style="position:absolute; left: 246px; top: 148px;" id="S3" title="Sollwert Differenzdruck 427B1" data-bind="bsAusgabefeld: {
              signalName:'Station_37.Register.sw_diffdruck_427b1',
              typ: 'berechnetersollwert',
              einheit: 'kPa'
            }">
            </div>

            <div style="position:absolute; left: 1424px; top: 148px;" id="S4" title="Sollwert Differenzdruck 727B1" data-bind="bsAusgabefeld: {
              signalName:'Station_39.Register.sw_diffdruck_727b1',
              typ: 'berechnetersollwert',
              einheit: 'kPa'
            }">
            </div>

            <div style="position:absolute; left: 517px; top: 57px;" id="S5" title="Sollwert 411B1" data-bind="bsAusgabefeld: {
              signalName:'Station_37.Register.sw_411b1',
              typ: 'berechnetersollwert',
              einheit: '°C'
            }">
            </div>

            <div style="position:absolute; left: 981px; top: 57px;" id="S6" title="Sollwert Temperaturfühler 711B1" data-bind="bsAusgabefeld: {
              signalName:'Station_37.Register.sw_711b1',
              typ: 'berechnetersollwert',
              einheit: '°C'
            }">
            </div>

            <div style="position:absolute; left: 1211px; top: 57px;" id="S7" title="Sollwert 721B1" data-bind="bsAusgabefeld: {
              signalName:'Station_39.Register.sw_721b1',
              typ: 'berechnetersollwert',
              einheit: '°C'
            }">
            </div>

            <div style="position:absolute; left: 521px; top: 286px;" id="S8" title="Sollwert Drehzahl FU 423A0" data-bind="bsAusgabefeld: {
              signalName:'Station_37.Register.AO147_423a0_stellsig',
              typ: 'berechnetersollwert',
              einheit: '%'
            }">
            </div>
            
            <div style="position:absolute; left: 1206px; top: 286px;" id="S9" title="Sollwert Drehzahl FU 723A1" data-bind="bsAusgabefeld: {
              signalName:'Station_39.Register.AO274_723a1',
              typ: 'berechnetersollwert',
              einheit: '%'
            }">
            </div>

            <!--Anlagenschalter, Sollwertfenster, Zeitschaltuhren, etc...-->
            <div style="position:absolute; left:1110px; top:635px" id="KLI02" title="Kälteverteilung Hotel" data-bind="bsAnlageschalter_lfc: {
	dialogTitle: 'Kälteverteilung Hotel ',
	signalName: 'Station_39',
    stromPfad: 'kaelte_hotel'
	}">
            </div>

            <div style="position:absolute; left:1775px; top:635px" id="KLI02_I110sollwertfenster" title="Sollwerte Kältezentrale Hotel" data-bind="bsSollwertFenster: {
	dialogTitle: 'Sollwerte Kältezentrale Hotel',
	authorisierung: 'Administration',
	signals: [
		{ label: 'Druckdiff. VL-RL Kaelte Hotel [kPa]', signalname: 'Station_39.Register.sw_diffdruck_727b1', untergrenze: '', obergrenze: '' },
		{ label: 'max. Kühlventilst. verbr. [%]', signalname: 'Station_37.Register.max_kuehlventilstellung', untergrenze: '', obergrenze: '' },
		{ label: 'min. VL-Temp. K10 [°C]', signalname: 'Station_37.Register.min_vl_temp_k10', untergrenze: '', obergrenze: '' },
		{ label: 'min. VL-Temp. Fernleitung [°C]', signalname: 'Station_37.Register.min_vl_temp_fernleitung', untergrenze: '', obergrenze: '' },
		{ label: 'Druckdiff. VL-RL Kaelte Business [kPa]', signalname: 'Station_37.Register.sw_diffdruck_427b1', untergrenze: '', obergrenze: '' },
        { label: 'max. VL-Temp. K10 [°C]', signalname: 'Station_37.Register.max_vl_temp_k10', untergrenze: '', obergrenze: '' }
		]}">
            </div>

            <div style="position:absolute; left:639px; top:635px" id="KLI02" title="Kälteverteilung Business" data-bind="bsAnlageschalter_lfc: {
	dialogTitle: 'Kälteverteilung Business ',
	signalName: 'Station_37',
    stromPfad: 'kaelte_K10'
	}">
            </div>
            
            <!--LE-->
            <div style="position:absolute; left: 412px; top: 281px;" id="V1" title="423M4" data-bind="bsMotorStufen_lfc: {
    dialogTitle: 'Pumpe 423M4',
    signalName: 'Station_37',
    stromPfad: '423m4',
	motorAusrichtung: 'oben',
	motortyp: 'pumpe',
	handLinks: '20',
	handOben: '10',
	stufe: '0',
	}">
            </div>

            <div style="position:absolute; left: 486px; top: 281px;" id="V2" title="423M6" data-bind="bsMotorStufen_lfc: {
    dialogTitle: 'Pumpe 423M6',
    signalName: 'Station_37',
    stromPfad: '423m6',
	motorAusrichtung: 'oben',
	motortyp: 'pumpe',
	handLinks: '20',
	handOben: '10',
	stufe: '0',
	}">
            </div>

            <div style="position:absolute; left: 1272px; top: 281px;" id="V3" title="723M4" data-bind="bsMotor2Stufen_fu_lfc: {
    dialogTitle: 'Pumpe 723M4',
    signalName: 'Station_39',
    stromPfad: '723m4',
	motorAusrichtung: 'oben',
	motortyp: 'pumpe',
	handLinks: '20',
	handOben: '10',
	stufe: '2',
	}">
            </div>

            <div style="position:absolute; left: 1345px; top: 281px;" id="V4" title="723M6" data-bind="bsMotor2Stufen_fu_lfc: {
    dialogTitle: 'Pumpe 723M6',
    signalName: 'Station_39',
    stromPfad: '723m6',
	motorAusrichtung: 'oben',
	motortyp: 'pumpe',
	handLinks: '20',
	handOben: '10',
	stufe: '2',
	}">
            </div>

            <!--Ventil-->
            <div style="position:absolute; left: 746.5px; top: 594px;" id="VT1" title="426Y1" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-10',
	anzeigefeldOben: '40',
	winkel: '270',
	signalName: 'Station_37.Register.AO160_426y1_stellsig'}">
            </div>

            <div style="position:absolute; left: 1006.5px; top: 594px;" id="VT2" title="726Y1" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-10',
	anzeigefeldOben: '40',
	winkel: '270',
	signalName: 'Station_39.Register.AO226_726y1'}">
            </div>

            <!--TPHSensor-->
            <div style="position:absolute; left: 493px; top: 79px;" id="TP1" title="411B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '90',
	sensortyp: 'T',
	signalName: 'Station_37.Register.AI131_temp_411b1',
	handLinks: '12',
	handOben: '2',
   	einheit: '°C',
	anzeigefeldLinks: '24',
	anzeigefeldOben: '0',
	}">
            </div>

            <div style="position:absolute; left: 957px; top: 79px;" id="TP2" title="711B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '90',
	sensortyp: 'T',
	signalName: 'Station_39.Register.AI098_temp_711b1',
	handLinks: '12',
	handOben: '2',
   	einheit: '°C',
	anzeigefeldLinks: '24',
	anzeigefeldOben: '0',
	}">
            </div>

            <div style="position:absolute; left: 1276px; top: 79px;" id="TP3" title="721B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '270',
	sensortyp: 'T',
	signalName: 'Station_39.Register.AI099_temp_721b1',
	handLinks: '12',
	handOben: '2',
   	einheit: '°C',
	anzeigefeldLinks: '-65',
	anzeigefeldOben: '0',
	}">
            </div>

            <div style="position:absolute; left: 222px; top: 170px;" id="TP4" title="427B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '85',
	winkel: '90',
	sensortyp: 'dP',
	signalName: 'Station_37.Register.AI132_diffdruck_427b1',
	handLinks: '12',
	handOben: '2',
   	einheit: 'kPa',
	anzeigefeldLinks: '24',
	anzeigefeldOben: '0',
	}">
            </div>
             
            <div style="position:absolute; left: 1400px; top: 170px;" id="TP5" title="727B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '85',
	winkel: '90',
	sensortyp: 'dP',
	signalName: 'Station_39.Register.AI112_diffdruck_727b1',
	handLinks: '12',
	handOben: '2',
   	einheit: 'kPa',
	anzeigefeldLinks: '24',
	anzeigefeldOben: '0',
	}">
            </div>

            <!-- Text -->
            <p style="position: absolute; left: 141px; top: 430px;" class="bs-beschriftung-small-verteilung">Stellgrösse KV Business</p>
            <p style="position: absolute; left: 1448px; top: 430px;" class="bs-beschriftung-small-verteilung">Stellgrösse KV Hotel</p>
            <p style="position: absolute; left: 631px; top: 525px;" class="bs-beschriftung-small-verteilung">Business</p>
            <p style="position: absolute; left: 1111px; top: 525px;" class="bs-beschriftung-small-verteilung">Hotel</p>




            <!--  -->
           
            <!-- Workaround um den Bug in der Benutzeranmeldung zu korrigieren -->
            <wf-button style="visibility: hidden;" params="signalName: 'Setpoint 1', writeValue: 1, buttonText: 'Write Value :1', cssClass: 'btn-success', projectAuthorization: 'irgendeinWert'"></wf-button>
        </div>
    </div>
</div>
