﻿<!--****************************************************************************************************************************************************************************************************************************************************
    Bühler+Scherler
--------------------------------------------------------------------------------------------------------------------------


--------------------------------------------------------------------------------------------------------------------------
ERSTELLT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0		R.Brunnschweiler	BS                  10.07.2017
--------------------------------------------------------------------------------------------------------------------------
GEÄNDERT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0       F.Sabljo            BS                  15.02.2018


********************************************************************************************************************************************************************************************************************************************************-->
<div class="container bs_content_container">
    <header>
        <h1 class="page-header bs-header-mittig">K14 Kälteverteiler Business</h1>
        <!--BUILDING CONTROL-->
    </header>
    <div class="col-lg-12">
        <div class="bs-responsive bs-business-kaelteklima-K14KaelteverteilerBusiness hidden-xs">
            <!--Seiten-Verlinkungen (Pfeile auf der Seite)-->
            <!-- Widgets -->
            <!-- Sollwert -->
            <div style="position:absolute; left: 995.5px; top: 121px;" id="S1" title="Sollwert Temperaturfühler 811B1" data-bind="bsAusgabefeld: {
              signalName:'Station_37.Register.sw_temp_811b1',
              typ: 'berechnetersollwert',
              einheit: '°C'
            }">
            </div>

            <div style="position:absolute; left:1775px; top:635px" id="KLI02_I110sollwertfenster" title="Sollwerte Kaelteverteiler" data-bind="bsSollwertFenster: {
	dialogTitle: 'Sollwerte Kaelteverteiler',
	authorisierung: 'Administration',
	signals: [
		{ label: 'Sommerbetrieb ø12h [°C]', signalname: 'Station_37.Register.sw_sommer', untergrenze: '', obergrenze: '' },
		{ label: 'Vorlauftemperatur 811B1 [°C]', signalname: 'Station_37.Register.sw_temp_811b1', untergrenze: '', obergrenze: '' }
		]}">
            </div>

            <!--LE-->
            <div style="position:absolute; left: 912px; top: 265px;" id="V1" title="813M1" data-bind="bsMotorStufen_lfc: {
    dialogTitle: 'Pumpe 813M1',
    signalName: 'Station_37',
    stromPfad: '813m1',
	motorAusrichtung: 'oben',
	motortyp: 'pumpe',
	handLinks: '20',
	handOben: '10',
	stufe: '0',
	}">
            </div>

            <!--Ventil-->
            <div style="position:absolute; left: 838.5px; top: 414px;" id="VT1" title="816Y1" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-75',
	anzeigefeldOben: '10',
	winkel: '0',
	signalName: 'Station_37.Register.AO161_816y1_stellsig'}">
            </div>

            <!--TPHSensor-->
            <div style="position:absolute; left: 956px; top: 145px;" id="TP1" title="811B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '90',
	sensortyp: 'T',
	signalName: 'Station_37.Register.AI133_temp_811b1',
	handLinks: '12',
	handOben: '2',
   	einheit: '°C',
	anzeigefeldLinks: '40',
	anzeigefeldOben: '0',
	}">
            </div>

            <!-- Text -->
            <p style="position: absolute; left: 835px; top: 21px;" class="bs-beschriftung-small-verteilung">K14 Klimadecken<br>Gruppe Schule/Büro</p>

            <!--  -->
           
            <!-- Workaround um den Bug in der Benutzeranmeldung zu korrigieren -->
            <wf-button style="visibility: hidden;" params="signalName: 'Setpoint 1', writeValue: 1, buttonText: 'Write Value :1', cssClass: 'btn-success', projectAuthorization: 'irgendeinWert'"></wf-button>
        </div>
    </div>
</div>
