<!-- ZustandsanzeigeDigital -->
<div>
    <span class="label bs-zustandsanzeige-label" data-bind="css: hintergrundfarbe"><i class="fa fa-circle" data-bind="css: zustandsfarbe"></i> <span class="bs-zustandsanzeige-text" data-bind="text: zustandstext"></span></span>
</div>
