﻿<div class="modal" style="width: 100%">
    <div class="modal-dialog modal-top">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" data-bind="click: close">&times;</button>
                <h4 class="modal-title">
                    <span data-bind="text: param2"></span>
                    Ventilator
                    <span data-bind="text: param1"></span>
                </h4>
            </div>
            <div class="modal-body">
                <h3 class="modal-content-title">
                    Statusinformationen
                </h3>

                <br />

                <div class="row">

                    <div class="col-xs-12">
                        <div class="text-center" data-bind="wfStateDisplay: {
                                            symbolicTextNormalState: 'Standby',
                                            stateSignalName1: statusSignal, maskSignal1: 0, symbolicTextState1: 'Automatik',
                                            stateSignalName2: statusSignal, maskSignal2: 3, symbolicTextState2: 'Störung',
                                            stateSignalName3: statusSignal, maskSignal3: 2, symbolicTextState3: 'Wartung',
                                            stateSignalName4: statusSignal, maskSignal4: 1, symbolicTextState4: 'Handbetrieb'
                                        }">
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6">
                        <h3 class="text-center margin-bottom">Elektrische Leistung</h3>
                        <div data-bind="wfValueGauge: { signalName: 'Temperature ' + param1, iconClass: 'fa fa-bolt fa-2x', iconBackgroundColor: '#428BCA' }"></div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <h3 class="text-center margin-bottom">Geschwindigkeit</h3>
                        <div data-bind="wfValueGauge: { signalName: 'Servo ' + param1, iconClass: 'wf wf-speed-gauge fa-2x', iconBackgroundColor: '#428BCA' }"></div>
                    </div>


                    <div class="col-xs-12">
                        <div data-bind="wfValueBarGraph: { signalName: 'Local Hour', unitLabel: true, titleText: 'Temperatur', minRange: 0, maxRange: 30, iconClass: 'wf wf-thermometer', progressBarSize: 'progress-sm', showTickLabels: true, cssClass: 'progress-bar-danger' }"></div>
                    </div>

                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true" data-bind="click: close">Schlie&szlig;en</button>
            </div>
        </div>
    </div>
</div>