﻿  <div class="bs-widget-container-bs bs-widget-wertanzeigeOhne-Uhrzeit" 
    data-bind="if: hasAuthorization">

    <!-- ko if: signalNameSW -->
    <div class="sollwert">
        <span data-bind="text: signalValueSW"></span>

        <!-- ko if: unitLabel -->
            <!-- ko if: staticUnitText -->
            <span class="unit-label" data-bind="text: staticUnitText"></span>
            <!-- /ko -->
            <!-- ko ifnot: staticUnitText -->
            <span class="unit-label" data-bind="wfSignalInformation: { signalName: signalNameSW, propertyName: 'Unit' }"></span>
            <!-- /ko -->
        <!-- /ko -->
    </div>
    <!-- /ko -->

    <!-- ko if: signalNameIW -->
    <div class="istwert">
        <span data-bind="text: signalValueIW"></span>

        <!-- ko if: unitLabel -->
            <!-- ko if: staticUnitText -->
            <span class="unit-label" data-bind="text: staticUnitText"></span>
            <!-- /ko -->
            <!-- ko ifnot: staticUnitText -->
            <span class="unit-label" data-bind="wfSignalInformation: { signalName: signalNameIW, propertyName: 'Unit' }"></span>
            <!-- /ko -->
        <!-- /ko -->
    </div>
    <!-- /ko -->

</div>