<div class="container-fluid">
    <h1 class="page-header">Version</h1>
    <!-- ko with: version -->
    <div>
        Assembly: {{Assembly.Major}}.{{Assembly.Minor}}.{{Assembly.Build}}.{{Assembly.Revision}}
    </div>
    <div>
        File: {{File.Major}}.{{File.Minor}}.{{File.Build}}.{{File.Revision}}
    </div>
    <!-- /ko -->
</div>