﻿<div class="container">
    <header>
        <h1 class="page-header">WEBfactory i4SCADA Workshop - Dynamic Navigation Routes</h1>
    </header>
</div>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2>Dynamic Navigation Routes</h2>
        </div>
        <div class="col-sm-3">
            <a class="btn  btn-default block" href="#details/1">
                <strong>AREA 1</strong>
                <div class="machine_indicator block" data-bind="wfStateIndicator: { stateSignalName1: 'Setpoint 1', maskSignal1: 1, stateSignalName2: 'Setpoint 1', maskSignal2: 0 }"></div>
            </a>
            <br />
        </div>

        <div class="col-sm-3">
            <a class="btn btn-block btn-default" href="#details/2">
                <strong>AREA 2</strong>
                <div class="machine_indicator block" data-bind="wfStateIndicator: { stateSignalName1: 'Setpoint 2', maskSignal1: 1, stateSignalName2: 'Setpoint 2', maskSignal2: 0 }"></div>
            </a>
            <br />
        </div>

        <div class="col-sm-3">
            <a class="btn btn-block btn-default" href="#details/3">
                <strong>AREA 3</strong>
                <div class="machine_indicator block" data-bind="wfStateIndicator: { stateSignalName1: 'Setpoint 3', maskSignal1: 1, stateSignalName2: 'Setpoint 3', maskSignal2: 0 }"></div>
            </a>
            <br />
        </div>

        <div class="col-sm-3">
            <a class="btn btn-block btn-default" href="#details/4">
                <strong>AREA 4</strong>
                <div class="machine_indicator block" data-bind="wfStateIndicator: { stateSignalName1: 'Setpoint 1', maskSignal1: 1, stateSignalName2: 'Setpoint 1', maskSignal2: 0 }"></div>
            </a>
            <br />
        </div>
    </div>
</div>
