<div class="container">
    <header>
        <h1 class="page-header">WEBfactory HTML/JS Workshop - StatesService</h1>
    </header>

    <div class="row">
        <div class="col-sm-12">
            <div class="wf-indicator" data-bind="css:states.currentState">
                <div class="wf-indicator-background">
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            {{states.currentState}}
        </div>

    </div>
</div>