﻿<div class="container">
    <header>
        <h1 class="page-header">{{connector.translate("I4SCADA_tutorialBufferWrite_Page_Header")()}}</h1>
    </header>

    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-xs-12">
                    <p>{{connector.translate("I4SCADA_tutorialBufferWrite_Buffer_Description")()}}</p>
                    <br />
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">{{connector.translate("I4SCADA_tutorialBufferWrite_Buffer_Panel_Title")()}}</h2>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4">
                            <p><span class="label label-info">Setpoint 1</span> <span class="label label-important">writeToBuffer: true</span></p>
                            <div data-bind="wfInputValue: { signalName: 'Setpoint 1', unitLabel: true, staticUnitText: 'kg', writeSecure: false, label: 'I4SCADA_tutorialBufferWrite_Signal_Label1', writeToBuffer: true}"></div>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <p><span class="label label-info">Setpoint 2</span> <span class="label label-important">writeToBuffer: true</span></p>
                            <div data-bind="wfInputValue: { signalName: 'Setpoint 2', unitLabel: true, staticUnitText: 'kg', writeSecure: false, label: 'I4SCADA_tutorialBufferWrite_Signal_Label2', writeToBuffer: true}"></div>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <p><span class="label label-info">Setpoint 3</span> <span class="label label-important">writeToBuffer: true</span></p>
                            <div data-bind="wfInputValue: { signalName: 'Setpoint 3', unitLabel: true, staticUnitText: 'kg', writeSecure: false, label: 'I4SCADA_tutorialBufferWrite_Signal_Label3', writeToBuffer: true}"></div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="btn-inline" data-bind="wfBufferButton: { buttonText: 'I4SCADA_tutorialBufferWrite_Write_Buffer', iconClass: 'wf wf-check', cssClass: 'btn-success'}"></div>
                    <div class="btn-inline" data-bind="wfBufferButton: { buttonText: 'I4SCADA_tutorialBufferWrite_Reset_Buffer', iconClass: 'wf wf-arrow-undo', cssClass: 'btn-default', clearBuffer: true}"></div>
                </div>
            </div>
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12">
                    <p>{{connector.translate("I4SCADA_tutorialBufferWrite_Write_Description")()}}</p>
                    <br />
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">{{connector.translate("I4SCADA_tutorialBufferWrite_Written_Panel_Title")()}}</h2>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4">
                            <p><span class="label label-info">Setpoint 1</span></p>
                            <div data-bind="wfValueDisplay: { signalName: 'Setpoint 1', label: 'I4SCADA_tutorialBufferWrite_Signal_Label1', unitLabel: true, staticUnitText: 'kg', signalChangedClass: 'label-warning', changedCssDuration: 600 }"></div>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <p><span class="label label-info">Setpoint 2</span></p>
                            <div data-bind="wfValueDisplay: { signalName: 'Setpoint 2', label: 'I4SCADA_tutorialBufferWrite_Signal_Label2', unitLabel: true, staticUnitText: 'kg', signalChangedClass: 'label-warning', changedCssDuration: 600  }"></div>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <p><span class="label label-info">Setpoint 3</span></p>
                            <div data-bind="wfValueDisplay: { signalName: 'Setpoint 3', label: 'I4SCADA_tutorialBufferWrite_Signal_Label3', unitLabel: true, staticUnitText: 'kg', signalChangedClass: 'label-warning', changedCssDuration: 600  }"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
