﻿<!--
* Motor mehrstufig
-->
<div>
    <svg version="1.1"
         id="motor"
         viewBox="0 0 30 30"
         height="30"
         width="30"
         data-bind="css: ausrichtung, click: openDialog"
         style="cursor: pointer">
        <g data-bind="style: { opacity: aktiv }">
            <g id="layer1"
               transform="translate(0,-1022.3622)">
                <ellipse data-bind="style: { fill: zustand }"
                         style="opacity:1;fill:none;fill-opacity:1;fill-rule:nonzero;stroke:#000000;stroke-width:1;stroke-opacity:1;stroke-miterlimit:4;stroke-dasharray:none"
                         id="path4136"
                         cx="14.999999"
                         cy="1037.3622"
                         rx="14.498406"
                         ry="14.498407" />
                <path data-bind="style: {visibility: ventilator}"
                      style="fill:none;fill-rule:evenodd;stroke:#000000;stroke-width:0.94905996px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                      d="m 8.4745299,1049.5267 20.5794941,-12.274 -20.5794941,-12.098 0,24.372 z"
                      id="ventilator" />
                <path data-bind="style: {visibility: pumpe}"
                      style="fill:#000000;fill-rule:evenodd;stroke:#000000;stroke-width:0.96857017px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1;fill-opacity:1"
                      d="m 14.966601,1023.5123 0,27.6759 14.303547,-13.838 z"
                      id="pumpe" />
            </g>
        </g>
    </svg>
    <div id="handanzeige" class="wf wf-hand bs_handfarbe fa-2x" data-bind="style: { left: links + 'px', top: oben + 'px', position: 'absolute', visibility: motorHand }"></div>
    <div id="stufenanzeige" class="bs_Stufe" data-bind="style: { visibility: stufen }, text: betriebsstufe">?</div>
</div>
