﻿<!-- ko if:hasAuthorization-->
    <button class="btn" data-bind="css: cssClass, click: acknowledgeAlarm">
        <span data-bind="css: iconClass"></span>
        <span>{{connector.translate(buttonText)()}}</span>
    </button>
    <!--/ko-->
