﻿<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
    <div class="bs-fussbodenheizung">
        <div class="bs-zimmer-1">
            <button class="btn-default btn-lg bs-zimmer-button bs-button-master" data-bind="click: openDialog, text:dialogTitle" style="width: 100%"></button>
        </div>
        <div class="bs-zimmer-1">
            <wf-button style="width: 100%" params="signalName: roomvorwahlbereit, writeValue: 1, buttonText: 'Bereit', cssClass: 'btn-default btn-md btn-info bs-zimmer-button', isTipModeEnabled: false"></wf-button>
        </div>
        <div class="bs-zimmer-1">
            <wf-button params="signalName: roomvorwahlbereit, writeValue: 0, buttonText: 'Eco', cssClass: 'btn-default btn-md btn-success bs-zimmer-button', isTipModeEnabled: false"></wf-button>
        </div>
        <div class="bs-fussbodenheizung-7">
            <div class="bs-fussbodenheizung-9">
                <div class="" data-bind="bsZustandsanzeige_1: { modulName: roomstate, hintergrundTransparent: 'true',
                         zustaende: [
                         { vergleichswert: '0', farbe: 'color-state-1',  text: 'ECO'},
                         { vergleichswert: '1', farbe: 'color-state',  text: 'Bereit'}]}"></div>
            </div>
        </div>
        <div class="bs-fussbodenheizung-8">
            <div class="bs-fussbodenheizung-5">
                <wf-gauge-1 params="signalName: roomtemp, width: 112, innerRadius: 0.6, iconClass: 'wf-lg wf-temperature wf-1x', maxRange: 40, showValueLabel: false, lowRangeStart: 18, lowRangeEnd: 25, highRangeStart: 25, backgroundFillColor: '#269abc', tooltipText: 'Raumtemperatur' "></wf-gauge-1>
            </div>
            <div class="bs-fussbodenheizung-10" data-bind="bsAusgabefeld: { signalName: roomtemp, typ: 'istwert', einheit: einheit }">???</div>
        </div>
    </div>
</div>