﻿ <div class="bs-widget-container" data-bind="if: hasAuthorization">
    <input class="bs-sollwert" type="text" data-bind="value: signalValueInputField" />
</div> 

<!--<div class="bs-widget-container bs-sollwert-container" data-bind="if: hasAuthorization">
    <input type="text" class="form-control input-sm bs-sollwert-input" type="text" data-bind="value: signalValueInputField" />
    <span class="form-control-feedback bs-sollwert-span" data-bind="text: einheit"></span>
</div>-->
