<!-- Anforderung -->
<div>
    <div class="wf-lg wf-list btn bs-btn" data-bind="click: openDialog, css: btnColor"></div>
    <!-- <div id="handanzeige" class="wf wf-hand bs_handfarbe fa-2x" data-bind="style: { left: links, top: oben, position: 'absolute', visibility: handbetrieb }"></div> -->
</div>
