﻿<!--****************************************************************************************************************************************************************************************************************************************************
    Bühler+Scherler
--------------------------------------------------------------------------------------------------------------------------


--------------------------------------------------------------------------------------------------------------------------
ERSTELLT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0		R.Brunnschweiler	BS                  10.07.2017
GEÄNDERT:
VERSION:	AUTOR:				FIRMA:				DATUM:



********************************************************************************************************************************************************************************************************************************************************-->
<div class="container bs_content_container">
    <header>
        <h1 class="page-header bs-header-mittig">Systemübersicht</h1>
        <!--BUILDING CONTROL-->
    </header>
    <div class="">
        <div class="">
            <table border="1" cellspacing="5">
                <!--**********************     Raumautomation: Beschattung     ***********************************************************************************************************************************************************************************************************************-->
                <thead>

                    <tr>
                        <th colspan="17" class="bs-systemuebersicht-tabelle-kopf-kategorie">Lakefrontcenter:</th>
                    </tr>
                    <tr>
                        <th class="bs-systemuebersicht-tabelle-kopf-klein">Anlage:</th>
                        <th class="bs-systemuebersicht-tabelle-kopf-klein">SGK:</th>
                        <th class="bs-systemuebersicht-tabelle-kopf-klein">SPS:</th>
                        <th class="bs-systemuebersicht-tabelle-kopf-klein">Projekt Name:</th>
                        <th class="bs-systemuebersicht-tabelle-kopf-klein">S-Bus Station:</th>
                        <th class="bs-systemuebersicht-tabelle-kopf-klein">IP:</th>
                        <th class="bs-systemuebersicht-tabelle-kopf-klein">Datum/Zeit:</th>
                        <!--<th class="bs-systemuebersicht-tabelle-kopf">Bemerkungen:</th>-->
                        <th class="bs-systemuebersicht-tabelle-kopf-klein">Kommunikation:</th>
                        <th class="bs-systemuebersicht-tabelle-kopf-klein">Sicherungs-
                            <br />überwachung:</th>
                        <th class="bs-systemuebersicht-tabelle-kopf-klein">Sicherungs-
                            <br />überwachung 24VDC:</th>
                        <th class="bs-systemuebersicht-tabelle-kopf-klein">Überspann-
                            <br />ungsschutz:</th>
                        <th class="bs-systemuebersicht-tabelle-kopf-klein">Elektroschema</th>
                        <!--<th class="bs-systemuebersicht-tabelle-kopf-klein">Störung-<br />Notlichtanlage:</th>-->
                        <th class="bs-systemuebersicht-tabelle-kopf-klein">Funktionskontrolle freigeben:</th>
                        <th class="bs-systemuebersicht-tabelle-kopf-klein">Alarmunterdrückung</th>
                        <th class="bs-systemuebersicht-tabelle-kopf-klein">Brand Quittierung:</th>
                        <th class="bs-systemuebersicht-tabelle-kopf-klein">Quittierung:</th>
                    </tr>
                </thead>

                <tbody>
                    <!--Station 35-->
                    <tr>
                        <!--Anlage-->
                        <td title="Anlage" class="bs-systemuebersicht-tabelle-inhalt">Elektro Allgemein</td>
                        <!--SGK-->
                        <td title="SGK" class="bs-systemuebersicht-tabelle-inhalt">BA.SE01</td>
                        <!--SPS-->
                        <td title="SPS Typ" class="bs-systemuebersicht-tabelle-inhalt">PCD3.M3330</td>
                        <!--Projekt Name-->
                        <td title="SPS Programm" class="bs-systemuebersicht-tabelle-inhalt">BASE01_1_Elektro_Allgemein</td>
                        <!--S-Bus-->
                        <td title="SPS Station" class="bs-systemuebersicht-tabelle-inhalt">35</td>
                        <!--IP-->
                        <td title="IP Adresse" class="bs-systemuebersicht-tabelle-inhalt">192.168.130.235</td>
                        <!--Datum-->
                        <td title="SPS Time" class="bs-systemuebersicht-tabelle-inhalt">
                            <div data-bind="bsWertanzeigeOhneSchwarz: {
                                        signalNameIW: 'Station_35.Special.Clock',
                                        isDateTime: true}" title="SPS Time">
                            </div>
                        </td>
                        <!--Bemerkungen-->
                        <!--<td class="bs-systemuebersicht-tabelle-inhalt">-</td>-->
                        <!--Kommunikation-->
                        <td title="SPS Kommunikation" class="bs-systemuebersicht-tabelle-inhalt">
                            <div data-bind="bsAnzeigeDigitalSPSKomm_lfc: {
                             signalName: 'vcceck35' }" title="SPS Kommunikation" class="bs-SPS-Komm-3">
                            </div>
                        </td>
                        <!--Sicherungsüberwachung-->
                        <td title="Sicherungsüberwachung" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Sicherungsüberwachung 24VDC-->
                        <td title="Sicherungsüberwachung 24VDC" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Überspannungsschutz-->
                        <td title="Überspannungsschutz" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Elektroschema-->
                        <td title="Elektroschema" class="bs-systemuebersicht-tabelle-inhalt">
                            <a class="btn btn-default" href="\lakefrontcenter\Content\pdf\elektroschemata\RA\BA_SE01_Elektro_Allgemein.pdf" role="button">Elektroschema</a>
                        </td>
                        <!--Notlichtanlage-->
                        <!--<td title="Notlichtanlage" class="bs-systemuebersicht-tabelle-inhalt">-</td>-->
                        <!--Funktionskontrolle freigeben-->
                        <td title="Funktionskontrolle freigeben" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Alarmunterdrückung-->
                        <td title="Alarmunterdrückung" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Brandquittierung-->
                        <td title="Brandquittierung" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Quittierung-->
                        <td title="Quittierung" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                    </tr>
                    <!--Station 36-->
                    <tr>
                        <!--Anlage-->
                        <td title="Anlage" class="bs-systemuebersicht-tabelle-inhalt">Lüftung Allgemein</td>
                        <!--SGK-->
                        <td title="SGK" class="bs-systemuebersicht-tabelle-inhalt">BA.SL01</td>
                        <!--SPS-->
                        <td title="SPS Typ" class="bs-systemuebersicht-tabelle-inhalt">PCD3.M3330</td>
                        <!--Projekt Name-->
                        <td title="SPS Programm" class="bs-systemuebersicht-tabelle-inhalt">BASL01_L01_bis_L10_Lueftung_Allgemein</td>
                        <!--S-Bus-->
                        <td title="SPS Station" class="bs-systemuebersicht-tabelle-inhalt">36</td>
                        <!--IP-->
                        <td title="IP Adresse" class="bs-systemuebersicht-tabelle-inhalt">192.168.130.236</td>
                        <!--Datum-->
                        <td title="SPS Time" class="bs-systemuebersicht-tabelle-inhalt">
                            <div data-bind="bsWertanzeigeOhneSchwarz: {
                                        signalNameIW: 'Station_36.Special.Clock',
                                        isDateTime: true}" title="SPS Time">
                            </div>
                        </td>
                        <!--Bemerkungen-->
                        <!--<td class="bs-systemuebersicht-tabelle-inhalt">-</td>-->
                        <!--Kommunikation-->
                        <td title="SPS Kommunikation" class="bs-systemuebersicht-tabelle-inhalt">
                            <div data-bind="bsAnzeigeDigitalSPSKomm_lfc: {
                             signalName: 'vcceck36' }" title="SPS Kommunikation" class="bs-SPS-Komm-3">
                            </div>
                        </td>
                        <!--Sicherungsüberwachung-->
                        <td title="Sicherungsüberwachung" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Sicherungsüberwachung 24VDC-->
                        <td title="Sicherungsüberwachung 24VDC" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Überspannungsschutz-->
                        <td title="Überspannungsschutz" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Elektroschema-->
                        <td title="Elektroschema" class="bs-systemuebersicht-tabelle-inhalt">
                            <a class="btn btn-default" href="\lakefrontcenter\Content\pdf\elektroschemata\RA\BASL01.pdf" role="button">Elektroschema</a>
                        </td>
                        <!--Notlichtanlage-->
                        <!--<td title="Notlichtanlage" class="bs-systemuebersicht-tabelle-inhalt">-</td>-->
                        <!--Funktionskontrolle freigeben-->
                        <td title="Funktionskontrolle freigeben" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Alarmunterdrückung-->
                        <td title="Alarmunterdrückung" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Brandquittierung-->
                        <td title="Brandquittierung" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Quittierung-->
                        <td title="Quittierung" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                    </tr>
                    <!--Station 37-->
                    <tr>
                        <!--Anlage-->
                        <td title="Anlage" class="bs-systemuebersicht-tabelle-inhalt">Heizung Kälte Allgemein</td>
                        <!--SGK-->
                        <td title="SGK" class="bs-systemuebersicht-tabelle-inhalt">BA.SH02</td>
                        <!--SPS-->
                        <td title="SPS Typ" class="bs-systemuebersicht-tabelle-inhalt">PCD3.M3330</td>
                        <!--Projekt Name-->
                        <td title="SPS Programm" class="bs-systemuebersicht-tabelle-inhalt">BASH02_Heizung_Kaelte_Allgemein</td>
                        <!--S-Bus-->
                        <td title="SPS Station" class="bs-systemuebersicht-tabelle-inhalt">37</td>
                        <!--IP-->
                        <td title="IP Adresse" class="bs-systemuebersicht-tabelle-inhalt">192.168.130.237</td>
                        <!--Datum-->
                        <td title="SPS Time" class="bs-systemuebersicht-tabelle-inhalt">
                            <div data-bind="bsWertanzeigeOhneSchwarz: {
                                            signalNameIW: 'Station_37.Special.Clock',
                                            isDateTime: true}" title="SPS Time">
                            </div>
                        </td>
                        <!--Bemerkungen-->
                        <!--<td class="bs-systemuebersicht-tabelle-inhalt">-</td>-->
                        <!--Kommunikation-->
                        <td title="SPS Kommunikation" class="bs-systemuebersicht-tabelle-inhalt">
                            <div data-bind="bsAnzeigeDigitalSPSKomm_lfc: {
                                 signalName: 'vcceck37' }" title="SPS Kommunikation" class="bs-SPS-Komm-3">
                            </div>
                        </td>
                        <!--Sicherungsüberwachung-->
                        <td title="Sicherungsüberwachung" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Sicherungsüberwachung 24VDC-->
                        <td title="Sicherungsüberwachung 24VDC" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Überspannungsschutz-->
                        <td title="Überspannungsschutz" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Elektroschema-->
                        <td title="Elektroschema" class="bs-systemuebersicht-tabelle-inhalt">
                            <a class="btn btn-default" href="\lakefrontcenter\Content\pdf\elektroschemata\RA\899466A69_BASH02_Rev04_081121.pdf" role="button">Elektroschema</a>
                        </td>
                        <!--Notlichtanlage-->
                        <!--<td title="Notlichtanlage" class="bs-systemuebersicht-tabelle-inhalt">-</td>-->
                        <!--Funktionskontrolle freigeben-->
                        <td title="Funktionskontrolle freigeben" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Alarmunterdrückung-->
                        <td title="Alarmunterdrückung" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Brandquittierung-->
                        <td title="Brandquittierung" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Quittierung-->
                        <td title="Quittierung" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                    </tr>
                    <!--Station 38-->
                    <tr>
                        <!--Anlage-->
                        <td title="Anlage" class="bs-systemuebersicht-tabelle-inhalt">Wärmeerzeugung</td>
                        <!--SGK-->
                        <td title="SGK" class="bs-systemuebersicht-tabelle-inhalt">BA.SH01</td>
                        <!--SPS-->
                        <td title="SPS Typ" class="bs-systemuebersicht-tabelle-inhalt">PCD3.M3330</td>
                        <!--Projekt Name-->
                        <td title="SPS Programm" class="bs-systemuebersicht-tabelle-inhalt">BASH01_Waermeerzeugung</td>
                        <!--S-Bus-->
                        <td title="SPS Station" class="bs-systemuebersicht-tabelle-inhalt">38</td>
                        <!--IP-->
                        <td title="IP Adresse" class="bs-systemuebersicht-tabelle-inhalt">192.168.130.238</td>
                        <!--Datum-->
                        <td title="SPS Time" class="bs-systemuebersicht-tabelle-inhalt">
                            <div data-bind="bsWertanzeigeOhneSchwarz: {
                                                signalNameIW: 'Station_38.Special.Clock',
                                                isDateTime: true}" title="SPS Time">
                            </div>
                        </td>
                        <!--Bemerkungen-->
                        <!--<td class="bs-systemuebersicht-tabelle-inhalt">-</td>-->
                        <!--Kommunikation-->
                        <td title="SPS Kommunikation" class="bs-systemuebersicht-tabelle-inhalt">
                            <div data-bind="bsAnzeigeDigitalSPSKomm_lfc: {
                                     signalName: 'vcceck38' }" title="SPS Kommunikation" class="bs-SPS-Komm-3">
                            </div>
                        </td>
                        <!--Sicherungsüberwachung-->
                        <td title="Sicherungsüberwachung" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Sicherungsüberwachung 24VDC-->
                        <td title="Sicherungsüberwachung 24VDC" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Überspannungsschutz-->
                        <td title="Überspannungsschutz" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Elektroschema-->
                        <td title="Elektroschema" class="bs-systemuebersicht-tabelle-inhalt">
                            <a class="btn btn-default" href="\lakefrontcenter\Content\pdf\elektroschemata\RA\BASH01_Rev05_20101116.pdf" role="button">Elektroschema</a>
                        </td>
                        <!--Notlichtanlage-->
                        <!--<td title="Notlichtanlage" class="bs-systemuebersicht-tabelle-inhalt">-</td>-->
                        <!--Funktionskontrolle freigeben-->
                        <td title="Funktionskontrolle freigeben" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Alarmunterdrückung-->
                        <td title="Alarmunterdrückung" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Brandquittierung-->
                        <td title="Brandquittierung" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Quittierung-->
                        <td title="Quittierung" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                    </tr>
                    <!--Station 39-->
                    <tr>
                        <!--Anlage-->
                        <td title="Anlage" class="bs-systemuebersicht-tabelle-inhalt">Heizung Kälte Sanitär Hotel</td>
                        <!--SGK-->
                        <td title="SGK" class="bs-systemuebersicht-tabelle-inhalt">HA.SK01</td>
                        <!--SPS-->
                        <td title="SPS Typ" class="bs-systemuebersicht-tabelle-inhalt">PCD3.M3330</td>
                        <!--Projekt Name-->
                        <td title="SPS Programm" class="bs-systemuebersicht-tabelle-inhalt">HASK01_Heizung_Kaelte_Hotel</td>
                        <!--S-Bus-->
                        <td title="SPS Station" class="bs-systemuebersicht-tabelle-inhalt">39</td>
                        <!--IP-->
                        <td title="IP Adresse" class="bs-systemuebersicht-tabelle-inhalt">192.168.130.239</td>
                        <!--Datum-->
                        <td title="SPS Time" class="bs-systemuebersicht-tabelle-inhalt">
                            <div data-bind="bsWertanzeigeOhneSchwarz: {
                                                signalNameIW: 'Station_39.Special.Clock',
                                                isDateTime: true}" title="SPS Time">
                            </div>
                        </td>
                        <!--Bemerkungen-->
                        <!--<td class="bs-systemuebersicht-tabelle-inhalt">-</td>-->
                        <!--Kommunikation-->
                        <td title="SPS Kommunikation" class="bs-systemuebersicht-tabelle-inhalt">
                            <div data-bind="bsAnzeigeDigitalSPSKomm_lfc: {
                                     signalName: 'vcceck39' }" title="SPS Kommunikation" class="bs-SPS-Komm-3">
                            </div>
                        </td>
                        <!--Sicherungsüberwachung-->
                        <td title="Sicherungsüberwachung" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Sicherungsüberwachung 24VDC-->
                        <td title="Sicherungsüberwachung 24VDC" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Überspannungsschutz-->
                        <td title="Überspannungsschutz" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Elektroschema-->
                        <td title="Elektroschema" class="bs-systemuebersicht-tabelle-inhalt">
                            <a class="btn btn-default" href="\lakefrontcenter\Content\pdf\elektroschemata\RA\HA_SK01_Heizung_Sanitär_Hotel.pdf" role="button">Elektroschema</a>
                        </td>
                        <!--Notlichtanlage-->
                        <!--<td title="Notlichtanlage" class="bs-systemuebersicht-tabelle-inhalt">-</td>-->
                        <!--Funktionskontrolle freigeben-->
                        <td title="Funktionskontrolle freigeben" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Alarmunterdrückung-->
                        <td title="Alarmunterdrückung" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Brandquittierung-->
                        <td title="Brandquittierung" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Quittierung-->
                        <td title="Quittierung" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                    </tr>
                    <!--Station 40-->
                    <tr>
                        <!--Anlage-->
                        <td title="Anlage" class="bs-systemuebersicht-tabelle-inhalt">Lüftung Küche</td>
                        <!--SGK-->
                        <td title="SGK" class="bs-systemuebersicht-tabelle-inhalt">HA.SL03</td>
                        <!--SPS-->
                        <td title="SPS Typ" class="bs-systemuebersicht-tabelle-inhalt">PCD3.M3330</td>
                        <!--Projekt Name-->
                        <td title="SPS Programm" class="bs-systemuebersicht-tabelle-inhalt">HASL03_Lueftung_Kueche</td>
                        <!--S-Bus-->
                        <td title="SPS Station" class="bs-systemuebersicht-tabelle-inhalt">40</td>
                        <!--IP-->
                        <td title="IP Adresse" class="bs-systemuebersicht-tabelle-inhalt">192.168.130.240</td>
                        <!--Datum-->
                        <td title="SPS Time" class="bs-systemuebersicht-tabelle-inhalt">
                            <div data-bind="bsWertanzeigeOhneSchwarz: {
                                                    signalNameIW: 'Station_40.Special.Clock',
                                                    isDateTime: true}" title="SPS Time">
                            </div>
                        </td>
                        <!--Bemerkungen-->
                        <!--<td class="bs-systemuebersicht-tabelle-inhalt">-</td>-->
                        <!--Kommunikation-->
                        <td title="SPS Kommunikation" class="bs-systemuebersicht-tabelle-inhalt">
                            <div data-bind="bsAnzeigeDigitalSPSKomm_lfc: {
                                         signalName: 'vcceck40' }" title="SPS Kommunikation" class="bs-SPS-Komm-3">
                            </div>
                        </td>
                        <!--Sicherungsüberwachung-->
                        <td title="Sicherungsüberwachung" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Sicherungsüberwachung 24VDC-->
                        <td title="Sicherungsüberwachung 24VDC" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Überspannungsschutz-->
                        <td title="Überspannungsschutz" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Elektroschema-->
                        <td title="Elektroschema" class="bs-systemuebersicht-tabelle-inhalt">
                            <a class="btn btn-default" href="\lakefrontcenter\Content\pdf\elektroschemata\RA\HASL03.pdf" role="button">Elektroschema</a>
                        </td>
                        <!--Notlichtanlage-->
                        <!--<td title="Notlichtanlage" class="bs-systemuebersicht-tabelle-inhalt">-</td>-->
                        <!--Funktionskontrolle freigeben-->
                        <td title="Funktionskontrolle freigeben" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Alarmunterdrückung-->
                        <td title="Alarmunterdrückung" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Brandquittierung-->
                        <td title="Brandquittierung" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Quittierung-->
                        <td title="Quittierung" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                    </tr>
                    <!--Station 41-->
                    <tr>
                        <!--Anlage-->
                        <td title="Anlage" class="bs-systemuebersicht-tabelle-inhalt">Lüftung Hotel</td>
                        <!--SGK-->
                        <td title="SGK" class="bs-systemuebersicht-tabelle-inhalt">HA.SL01</td>
                        <!--SPS-->
                        <td title="SPS Typ" class="bs-systemuebersicht-tabelle-inhalt">PCD3.A465</td>
                        <!--Projekt Name-->
                        <td title="SPS Programm" class="bs-systemuebersicht-tabelle-inhalt">HASL01_L11_L12_L17_SPS68A2</td>
                        <!--S-Bus-->
                        <td title="SPS Station" class="bs-systemuebersicht-tabelle-inhalt">41</td>
                        <!--IP-->
                        <td title="IP Adresse" class="bs-systemuebersicht-tabelle-inhalt">192.168.130.241</td>
                        <!--Datum-->
                        <td title="SPS Time" class="bs-systemuebersicht-tabelle-inhalt">
                            <div data-bind="bsWertanzeigeOhneSchwarz: {
                                                        signalNameIW: 'Station_41.Special.Clock',
                                                        isDateTime: true}" title="SPS Time">
                            </div>
                        </td>
                        <!--Bemerkungen-->
                        <!--<td class="bs-systemuebersicht-tabelle-inhalt">-</td>-->
                        <!--Kommunikation-->
                        <td title="SPS Kommunikation" class="bs-systemuebersicht-tabelle-inhalt">
                            <div data-bind="bsAnzeigeDigitalSPSKomm_lfc: {
                                             signalName: 'vcceck41' }" title="SPS Kommunikation" class="bs-SPS-Komm-3">
                            </div>
                        </td>
                        <!--Sicherungsüberwachung-->
                        <td title="Sicherungsüberwachung" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Sicherungsüberwachung 24VDC-->
                        <td title="Sicherungsüberwachung 24VDC" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Überspannungsschutz-->
                        <td title="Überspannungsschutz" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Elektroschema-->
                        <td title="Elektroschema" class="bs-systemuebersicht-tabelle-inhalt">
                            <a class="btn btn-default" href="\lakefrontcenter\Content\pdf\elektroschemata\RA\89 9466 A26-S-2   Rev.06.pdf" role="button">Elektroschema</a>
                        </td>
                        <!--Notlichtanlage-->
                        <!--<td title="Notlichtanlage" class="bs-systemuebersicht-tabelle-inhalt">-</td>-->
                        <!--Funktionskontrolle freigeben-->
                        <td title="Funktionskontrolle freigeben" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Alarmunterdrückung-->
                        <td title="Alarmunterdrückung" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Brandquittierung-->
                        <td title="Brandquittierung" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Quittierung-->
                        <td title="Quittierung" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                    </tr>
                    <!--Station 42-->
                    <tr>
                        <!--Anlage-->
                        <td title="Anlage" class="bs-systemuebersicht-tabelle-inhalt">Lüftung Hotel</td>
                        <!--SGK-->
                        <td title="SGK" class="bs-systemuebersicht-tabelle-inhalt">HA.SL01</td>
                        <!--SPS-->
                        <td title="SPS Typ" class="bs-systemuebersicht-tabelle-inhalt">PCD3.A465</td>
                        <!--Projekt Name-->
                        <td title="SPS Programm" class="bs-systemuebersicht-tabelle-inhalt">HASL01_L14_L18_L19_L20_L21_SPS76A2</td>
                        <!--S-Bus-->
                        <td title="SPS Station" class="bs-systemuebersicht-tabelle-inhalt">42</td>
                        <!--IP-->
                        <td title="IP Adresse" class="bs-systemuebersicht-tabelle-inhalt">192.168.130.242</td>
                        <!--Datum-->
                        <td title="SPS Time" class="bs-systemuebersicht-tabelle-inhalt">
                            <div data-bind="bsWertanzeigeOhneSchwarz: {
                                                        signalNameIW: 'Station_42.Special.Clock',
                                                        isDateTime: true}" title="SPS Time">
                            </div>
                        </td>
                        <!--Bemerkungen-->
                        <!--<td class="bs-systemuebersicht-tabelle-inhalt">-</td>-->
                        <!--Kommunikation-->
                        <td title="SPS Kommunikation" class="bs-systemuebersicht-tabelle-inhalt">
                            <div data-bind="bsAnzeigeDigitalSPSKomm_lfc: {
                                             signalName: 'vcceck42' }" title="SPS Kommunikation" class="bs-SPS-Komm-3">
                            </div>
                        </td>
                        <!--Sicherungsüberwachung-->
                        <td title="Sicherungsüberwachung" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Sicherungsüberwachung 24VDC-->
                        <td title="Sicherungsüberwachung 24VDC" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Überspannungsschutz-->
                        <td title="Überspannungsschutz" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Elektroschema-->
                        <td title="Elektroschema" class="bs-systemuebersicht-tabelle-inhalt">
                            <a class="btn btn-default" href="\lakefrontcenter\Content\pdf\elektroschemata\RA\89 9466 A26-S-2   Rev.06.pdf" role="button">Elektroschema</a>
                        </td>
                        <!--Notlichtanlage-->
                        <!--<td title="Notlichtanlage" class="bs-systemuebersicht-tabelle-inhalt">-</td>-->
                        <!--Funktionskontrolle freigeben-->
                        <td title="Funktionskontrolle freigeben" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Alarmunterdrückung-->
                        <td title="Alarmunterdrückung" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Brandquittierung-->
                        <td title="Brandquittierung" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Quittierung-->
                        <td title="Quittierung" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                    </tr>
                    <!--Station 43-->
                    <tr>
                        <!--Anlage-->
                        <td title="Anlage" class="bs-systemuebersicht-tabelle-inhalt">Lüftung Hotel</td>
                        <!--SGK-->
                        <td title="SGK" class="bs-systemuebersicht-tabelle-inhalt">HA.SL01</td>
                        <!--SPS-->
                        <td title="SPS Typ" class="bs-systemuebersicht-tabelle-inhalt">PCD3.A465</td>
                        <!--Projekt Name-->
                        <td title="SPS Programm" class="bs-systemuebersicht-tabelle-inhalt">HASL01_L15_L16_SPS87A2</td>
                        <!--S-Bus-->
                        <td title="SPS Station" class="bs-systemuebersicht-tabelle-inhalt">43</td>
                        <!--IP-->
                        <td title="IP Adresse" class="bs-systemuebersicht-tabelle-inhalt">192.168.130.243</td>
                        <!--Datum-->
                        <td title="SPS Time" class="bs-systemuebersicht-tabelle-inhalt">
                            <div data-bind="bsWertanzeigeOhneSchwarz: {
                                                            signalNameIW: 'Station_43.Special.Clock',
                                                            isDateTime: true}" title="SPS Time">
                            </div>
                        </td>
                        <!--Bemerkungen-->
                        <!--<td class="bs-systemuebersicht-tabelle-inhalt">-</td>-->
                        <!--Kommunikation-->
                        <td title="SPS Kommunikation" class="bs-systemuebersicht-tabelle-inhalt">
                            <div data-bind="bsAnzeigeDigitalSPSKomm_lfc: {
                                                 signalName: 'vcceck43' }" title="SPS Kommunikation" class="bs-SPS-Komm-3">
                            </div>
                        </td>
                        <!--Sicherungsüberwachung-->
                        <td title="Sicherungsüberwachung" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Sicherungsüberwachung 24VDC-->
                        <td title="Sicherungsüberwachung 24VDC" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Überspannungsschutz-->
                        <td title="Überspannungsschutz" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Elektroschema-->
                        <td title="Elektroschema" class="bs-systemuebersicht-tabelle-inhalt">
                            <a class="btn btn-default" href="\lakefrontcenter\Content\pdf\elektroschemata\RA\89 9466 A26-S-2   Rev.06.pdf" role="button">Elektroschema</a>
                        </td>
                        <!--Notlichtanlage-->
                        <!--<td title="Notlichtanlage" class="bs-systemuebersicht-tabelle-inhalt">-</td>-->
                        <!--Funktionskontrolle freigeben-->
                        <td title="Funktionskontrolle freigeben" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Alarmunterdrückung-->
                        <td title="Alarmunterdrückung" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Brandquittierung-->
                        <td title="Brandquittierung" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Quittierung-->
                        <td title="Quittierung" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                    </tr>
                    <!--Station 44-->
                    <tr>
                        <!--Anlage-->
                        <td title="Anlage" class="bs-systemuebersicht-tabelle-inhalt">Elektro Hotel</td>
                        <!--SGK-->
                        <td title="SGK" class="bs-systemuebersicht-tabelle-inhalt">HA.SE01</td>
                        <!--SPS-->
                        <td title="SPS Typ" class="bs-systemuebersicht-tabelle-inhalt">PCD3.M3330</td>
                        <!--Projekt Name-->
                        <td title="SPS Programm" class="bs-systemuebersicht-tabelle-inhalt">HASE01_1_Elektro_Hotel</td>
                        <!--S-Bus-->
                        <td title="SPS Station" class="bs-systemuebersicht-tabelle-inhalt">44</td>
                        <!--IP-->
                        <td title="IP Adresse" class="bs-systemuebersicht-tabelle-inhalt">192.168.130.244</td>
                        <!--Datum-->
                        <td title="SPS Time" class="bs-systemuebersicht-tabelle-inhalt">
                            <div data-bind="bsWertanzeigeOhneSchwarz: {
                                                            signalNameIW: 'Station_44.Special.Clock',
                                                            isDateTime: true}" title="SPS Time">
                            </div>
                        </td>
                        <!--Bemerkungen-->
                        <!--<td class="bs-systemuebersicht-tabelle-inhalt">-</td>-->
                        <!--Kommunikation-->
                        <td title="SPS Kommunikation" class="bs-systemuebersicht-tabelle-inhalt">
                            <div data-bind="bsAnzeigeDigitalSPSKomm_lfc: {
                                                 signalName: 'vcceck44' }" title="SPS Kommunikation" class="bs-SPS-Komm-3">
                            </div>
                        </td>
                        <!--Sicherungsüberwachung-->
                        <td title="Sicherungsüberwachung" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Sicherungsüberwachung 24VDC-->
                        <td title="Sicherungsüberwachung 24VDC" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Überspannungsschutz-->
                        <td title="Überspannungsschutz" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Elektroschema-->
                        <td title="Elektroschema" class="bs-systemuebersicht-tabelle-inhalt">
                            <a class="btn btn-default" href="\lakefrontcenter\Content\pdf\elektroschemata\RA\899466A69_HASE01_Rev02_081121.pdf" role="button">Elektroschema</a>
                        </td>
                        <!--Notlichtanlage-->
                        <!--<td title="Notlichtanlage" class="bs-systemuebersicht-tabelle-inhalt">-</td>-->
                        <!--Funktionskontrolle freigeben-->
                        <td title="Funktionskontrolle freigeben" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Alarmunterdrückung-->
                        <td title="Alarmunterdrückung" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Brandquittierung-->
                        <td title="Brandquittierung" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Quittierung-->
                        <td title="Quittierung" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                    </tr>
                    <!--Station 45-->
                    <tr>
                        <!--Anlage-->
                        <td title="Anlage" class="bs-systemuebersicht-tabelle-inhalt">Elektro Hotel</td>
                        <!--SGK-->
                        <td title="SGK" class="bs-systemuebersicht-tabelle-inhalt">HA.SE01</td>
                        <!--SPS-->
                        <td title="SPS Typ" class="bs-systemuebersicht-tabelle-inhalt">PCD3.M3330</td>
                        <!--Projekt Name-->
                        <td title="SPS Programm" class="bs-systemuebersicht-tabelle-inhalt">HASE01_2_Hotel_ERR_Linie1 (Zimmer 201-241 | 301-343)</td>
                        <!--S-Bus-->
                        <td title="SPS Station" class="bs-systemuebersicht-tabelle-inhalt">45</td>
                        <!--IP-->
                        <td title="IP Adresse" class="bs-systemuebersicht-tabelle-inhalt">192.168.130.245</td>
                        <!--Datum-->
                        <td title="SPS Time" class="bs-systemuebersicht-tabelle-inhalt">
                            <div data-bind="bsWertanzeigeOhneSchwarz: {
                                                                signalNameIW: 'Station_45.Special.Clock',
                                                                isDateTime: true}" title="SPS Time">
                            </div>
                        </td>
                        <!--Bemerkungen-->
                        <!--<td class="bs-systemuebersicht-tabelle-inhalt">-</td>-->
                        <!--Kommunikation-->
                        <td title="SPS Kommunikation" class="bs-systemuebersicht-tabelle-inhalt">
                            <div data-bind="bsAnzeigeDigitalSPSKomm_lfc: {
                                                     signalName: 'vcceck45' }" title="SPS Kommunikation" class="bs-SPS-Komm-3">
                            </div>
                        </td>
                        <!--Sicherungsüberwachung-->
                        <td title="Sicherungsüberwachung" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Sicherungsüberwachung 24VDC-->
                        <td title="Sicherungsüberwachung 24VDC" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Überspannungsschutz-->
                        <td title="Überspannungsschutz" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Elektroschema-->
                        <td title="Elektroschema" class="bs-systemuebersicht-tabelle-inhalt">
                            <a class="btn btn-default" href="\lakefrontcenter\Content\pdf\elektroschemata\RA\899466A69_HASE01_Rev02_081121.pdf" role="button">Elektroschema</a>
                        </td>
                        <!--Notlichtanlage-->
                        <!--<td title="Notlichtanlage" class="bs-systemuebersicht-tabelle-inhalt">-</td>-->
                        <!--Funktionskontrolle freigeben-->
                        <td title="Funktionskontrolle freigeben" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Alarmunterdrückung-->
                        <td title="Alarmunterdrückung" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Brandquittierung-->
                        <td title="Brandquittierung" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Quittierung-->
                        <td title="Quittierung" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                    </tr>
                    <!--Station 46-->
                    <tr>
                        <!--Anlage-->
                        <td title="Anlage" class="bs-systemuebersicht-tabelle-inhalt">Elektro Hotel</td>
                        <!--SGK-->
                        <td title="SGK" class="bs-systemuebersicht-tabelle-inhalt">HA.SE01</td>
                        <!--SPS-->
                        <td title="SPS Typ" class="bs-systemuebersicht-tabelle-inhalt">PCD3.M3330</td>
                        <!--Projekt Name-->
                        <td title="SPS Programm" class="bs-systemuebersicht-tabelle-inhalt">HASE01_2_Hotel_ERR_Linie2 (Zimmer 401-443 | 501-338)</td>
                        <!--S-Bus-->
                        <td title="SPS Station" class="bs-systemuebersicht-tabelle-inhalt">46</td>
                        <!--IP-->
                        <td title="IP Adresse" class="bs-systemuebersicht-tabelle-inhalt">192.168.130.246</td>
                        <!--Datum-->
                        <td title="SPS Time" class="bs-systemuebersicht-tabelle-inhalt">
                            <div data-bind="bsWertanzeigeOhneSchwarz: {
                                                                    signalNameIW: 'Station_46.Special.Clock',
                                                                    isDateTime: true}" title="SPS Time">
                            </div>
                        </td>
                        <!--Bemerkungen-->
                        <!--<td class="bs-systemuebersicht-tabelle-inhalt">-</td>-->
                        <!--Kommunikation-->
                        <td title="SPS Kommunikation" class="bs-systemuebersicht-tabelle-inhalt">
                            <div data-bind="bsAnzeigeDigitalSPSKomm_lfc: {
                                                         signalName: 'vcceck46' }" title="SPS Kommunikation" class="bs-SPS-Komm-3">
                            </div>
                        </td>
                        <!--Sicherungsüberwachung-->
                        <td title="Sicherungsüberwachung" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Sicherungsüberwachung 24VDC-->
                        <td title="Sicherungsüberwachung 24VDC" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Überspannungsschutz-->
                        <td title="Überspannungsschutz" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Elektroschema-->
                        <td title="Elektroschema" class="bs-systemuebersicht-tabelle-inhalt">
                            <a class="btn btn-default" href="\lakefrontcenter\Content\pdf\elektroschemata\RA\899466A69_HASE01_Rev02_081121.pdf" role="button">Elektroschema</a>
                        </td>
                        <!--Notlichtanlage-->
                        <!--<td title="Notlichtanlage" class="bs-systemuebersicht-tabelle-inhalt">-</td>-->
                        <!--Funktionskontrolle freigeben-->
                        <td title="Funktionskontrolle freigeben" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Alarmunterdrückung-->
                        <td title="Alarmunterdrückung" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Brandquittierung-->
                        <td title="Brandquittierung" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Quittierung-->
                        <td title="Quittierung" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                    </tr>
                    <!--Station 47-->
                    <tr>
                        <!--Anlage-->
                        <td title="Anlage" class="bs-systemuebersicht-tabelle-inhalt">Heizung Sanitär Wohnung</td>
                        <!--SGK-->
                        <td title="SGK" class="bs-systemuebersicht-tabelle-inhalt">B6.SH03</td>
                        <!--SPS-->
                        <td title="SPS Typ" class="bs-systemuebersicht-tabelle-inhalt">PCD3.M3330</td>
                        <!--Projekt Name-->
                        <td title="SPS Programm" class="bs-systemuebersicht-tabelle-inhalt">B6SH03_Wohnungen</td>
                        <!--S-Bus-->
                        <td title="SPS Station" class="bs-systemuebersicht-tabelle-inhalt">47</td>
                        <!--IP-->
                        <td title="IP Adresse" class="bs-systemuebersicht-tabelle-inhalt">192.168.130.247</td>
                        <!--Datum-->
                        <td title="SPS Time" class="bs-systemuebersicht-tabelle-inhalt">
                            <div data-bind="bsWertanzeigeOhneSchwarz: {
                                                                            signalNameIW: 'Station_47.Special.Clock',
                                                                            isDateTime: true}" title="SPS Time">
                            </div>
                        </td>
                        <!--Bemerkungen-->
                        <!--<td class="bs-systemuebersicht-tabelle-inhalt">-</td>-->
                        <!--Kommunikation-->
                        <td title="SPS Kommunikation" class="bs-systemuebersicht-tabelle-inhalt">
                            <div data-bind="bsAnzeigeDigitalSPSKomm_lfc: {
                                                                 signalName: 'vcceck47' }" title="SPS Kommunikation" class="bs-SPS-Komm-3">
                            </div>
                        </td>
                        <!--Sicherungsüberwachung-->
                        <td title="Sicherungsüberwachung" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Sicherungsüberwachung 24VDC-->
                        <td title="Sicherungsüberwachung 24VDC" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Überspannungsschutz-->
                        <td title="Überspannungsschutz" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Elektroschema-->
                        <td title="Elektroschema" class="bs-systemuebersicht-tabelle-inhalt">
                            <a class="btn btn-default" href="\lakefrontcenter\Content\pdf\elektroschemata\RA\B6_SH03_Heizung_Sanitär_Wohnung.pdf" role="button">Elektroschema</a>
                        </td>
                        <!--Notlichtanlage-->
                        <!--<td title="Notlichtanlage" class="bs-systemuebersicht-tabelle-inhalt">-</td>-->
                        <!--Funktionskontrolle freigeben-->
                        <td title="Funktionskontrolle freigeben" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Alarmunterdrückung-->
                        <td title="Alarmunterdrückung" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Brandquittierung-->
                        <td title="Brandquittierung" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Quittierung-->
                        <td title="Quittierung" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                    </tr>
                    <!--Station 48-->
                    <tr>
                        <!--Anlage-->
                        <td title="Anlage" class="bs-systemuebersicht-tabelle-inhalt">Lüftung Sauna/Fitness</td>
                        <!--SGK-->
                        <td title="SGK" class="bs-systemuebersicht-tabelle-inhalt">H5.SL04</td>
                        <!--SPS-->
                        <td title="SPS Typ" class="bs-systemuebersicht-tabelle-inhalt">PCD3.M3330</td>
                        <!--Projekt Name-->
                        <td title="SPS Programm" class="bs-systemuebersicht-tabelle-inhalt">H5SL04_Fitness_Sauna</td>
                        <!--S-Bus-->
                        <td title="SPS Station" class="bs-systemuebersicht-tabelle-inhalt">48</td>
                        <!--IP-->
                        <td title="IP Adresse" class="bs-systemuebersicht-tabelle-inhalt">192.168.130.248</td>
                        <!--Datum-->
                        <td title="SPS Time" class="bs-systemuebersicht-tabelle-inhalt">
                            <div data-bind="bsWertanzeigeOhneSchwarz: {
                                                                            signalNameIW: 'Station_48.Special.Clock',
                                                                            isDateTime: true}" title="SPS Time">
                            </div>
                        </td>
                        <!--Bemerkungen-->
                        <!--<td class="bs-systemuebersicht-tabelle-inhalt">-</td>-->
                        <!--Kommunikation-->
                        <td title="SPS Kommunikation" class="bs-systemuebersicht-tabelle-inhalt">
                            <div data-bind="bsAnzeigeDigitalSPSKomm_lfc: {
                                                                 signalName: 'vcceck48' }" title="SPS Kommunikation" class="bs-SPS-Komm-3">
                            </div>
                        </td>
                        <!--Sicherungsüberwachung-->
                        <td title="Sicherungsüberwachung" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Sicherungsüberwachung 24VDC-->
                        <td title="Sicherungsüberwachung 24VDC" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Überspannungsschutz-->
                        <td title="Überspannungsschutz" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Elektroschema-->
                        <td title="Elektroschema" class="bs-systemuebersicht-tabelle-inhalt">
                            <a class="btn btn-default" href="\lakefrontcenter\Content\pdf\elektroschemata\RA\89 9466 A26-S-H5.SL04   Rev.1.1.pdf" role="button">Elektroschema</a>
                        </td>
                        <!--Notlichtanlage-->
                        <!--<td title="Notlichtanlage" class="bs-systemuebersicht-tabelle-inhalt">-</td>-->
                        <!--Funktionskontrolle freigeben-->
                        <td title="Funktionskontrolle freigeben" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Alarmunterdrückung-->
                        <td title="Alarmunterdrückung" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Brandquittierung-->
                        <td title="Brandquittierung" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Quittierung-->
                        <td title="Quittierung" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                    </tr>
                    <!--Station 49-->
                    <tr>
                        <!--Anlage-->
                        <td title="Anlage" class="bs-systemuebersicht-tabelle-inhalt">Lüftung Waschküche</td>
                        <!--SGK-->
                        <td title="SGK" class="bs-systemuebersicht-tabelle-inhalt">H5.SL05</td>
                        <!--SPS-->
                        <td title="SPS Typ" class="bs-systemuebersicht-tabelle-inhalt">PCD3.M3330</td>
                        <!--Projekt Name-->
                        <td title="SPS Programm" class="bs-systemuebersicht-tabelle-inhalt">HASL05_Waescherei</td>
                        <!--S-Bus-->
                        <td title="SPS Station" class="bs-systemuebersicht-tabelle-inhalt">49</td>
                        <!--IP-->
                        <td title="IP Adresse" class="bs-systemuebersicht-tabelle-inhalt">192.168.130.249</td>
                        <!--Datum-->
                        <td title="SPS Time" class="bs-systemuebersicht-tabelle-inhalt">
                            <div data-bind="bsWertanzeigeOhneSchwarz: {
                                                                                signalNameIW: 'Station_49.Special.Clock',
                                                                                isDateTime: true}" title="SPS Time">
                            </div>
                        </td>
                        <!--Bemerkungen-->
                        <!--<td class="bs-systemuebersicht-tabelle-inhalt">-</td>-->
                        <!--Kommunikation-->
                        <td title="SPS Kommunikation" class="bs-systemuebersicht-tabelle-inhalt">
                            <div data-bind="bsAnzeigeDigitalSPSKomm_lfc: {
                                                                     signalName: 'vcceck49' }" title="SPS Kommunikation"
                                class="bs-SPS-Komm-3">
                            </div>
                        </td>
                        <!--Sicherungsüberwachung-->
                        <td title="Sicherungsüberwachung" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Sicherungsüberwachung 24VDC-->
                        <td title="Sicherungsüberwachung 24VDC" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Überspannungsschutz-->
                        <td title="Überspannungsschutz" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Elektroschema-->
                        <td title="Elektroschema" class="bs-systemuebersicht-tabelle-inhalt">
                            <a class="btn btn-default" href="\lakefrontcenter\Content\pdf\elektroschemata\RA\HA_SL05_Lüftung_Wäscherei_UG.pdf" role="button">Elektroschema</a>
                        </td>
                        <!--Notlichtanlage-->
                        <!--<td title="Notlichtanlage" class="bs-systemuebersicht-tabelle-inhalt">-</td>-->
                        <!--Funktionskontrolle freigeben-->
                        <td title="Funktionskontrolle freigeben" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Alarmunterdrückung-->
                        <td title="Alarmunterdrückung" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Brandquittierung-->
                        <td title="Brandquittierung" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Quittierung-->
                        <td title="Quittierung" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                    </tr>
                    <!--Station 50-->
                    <tr>
                        <!--Anlage-->
                        <td title="Anlage" class="bs-systemuebersicht-tabelle-inhalt">Lüftung Bankett Office 1.OG</td>
                        <!--SGK-->
                        <td title="SGK" class="bs-systemuebersicht-tabelle-inhalt">H1.SL06</td>
                        <!--SPS-->
                        <td title="SPS Typ" class="bs-systemuebersicht-tabelle-inhalt">PCD3.M3330</td>
                        <!--Projekt Name-->
                        <td title="SPS Programm" class="bs-systemuebersicht-tabelle-inhalt">H1SL06_Bankett_Office</td>
                        <!--S-Bus-->
                        <td title="SPS Station" class="bs-systemuebersicht-tabelle-inhalt">50</td>
                        <!--IP-->
                        <td title="IP Adresse" class="bs-systemuebersicht-tabelle-inhalt">192.168.130.250</td>
                        <!--Datum-->
                        <td title="SPS Time" class="bs-systemuebersicht-tabelle-inhalt">
                            <div data-bind="bsWertanzeigeOhneSchwarz: {
                                                                                    signalNameIW: 'Station_50.Special.Clock',
                                                                                    isDateTime: true}" title="SPS Time">
                            </div>
                        </td>
                        <!--Bemerkungen-->
                        <!--<td class="bs-systemuebersicht-tabelle-inhalt">-</td>-->
                        <!--Kommunikation-->
                        <td title="SPS Kommunikation" class="bs-systemuebersicht-tabelle-inhalt">
                            <div data-bind="bsAnzeigeDigitalSPSKomm_lfc: {
                                                                         signalName: 'vcceck50' }" title="SPS Kommunikation"
                                class="bs-SPS-Komm-3">
                            </div>
                        </td>
                        <!--Sicherungsüberwachung-->
                        <td title="Sicherungsüberwachung" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Sicherungsüberwachung 24VDC-->
                        <td title="Sicherungsüberwachung 24VDC" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Überspannungsschutz-->
                        <td title="Überspannungsschutz" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Elektroschema-->
                        <td title="Elektroschema" class="bs-systemuebersicht-tabelle-inhalt">
                            <a class="btn btn-default" href="\lakefrontcenter\Content\pdf\elektroschemata\RA\899466A69_H1SL06_Rev02_080623.pdf" role="button">Elektroschema</a>
                        </td>
                        <!--Notlichtanlage-->
                        <!--<td title="Notlichtanlage" class="bs-systemuebersicht-tabelle-inhalt">-</td>-->
                        <!--Funktionskontrolle freigeben-->
                        <td title="Funktionskontrolle freigeben" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Alarmunterdrückung-->
                        <td title="Alarmunterdrückung" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Brandquittierung-->
                        <td title="Brandquittierung" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Quittierung-->
                        <td title="Quittierung" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                    </tr>
                    <!--Station 51-->
                    <tr>
                        <!--Anlage-->
                        <td title="Anlage" class="bs-systemuebersicht-tabelle-inhalt">Elektro Allgemein</td>
                        <!--SGK-->
                        <td title="SGK" class="bs-systemuebersicht-tabelle-inhalt">BA.SE01</td>
                        <!--SPS-->
                        <td title="SPS Typ" class="bs-systemuebersicht-tabelle-inhalt">PCD3.M3330</td>
                        <!--Projekt Name-->
                        <td title="SPS Programm" class="bs-systemuebersicht-tabelle-inhalt">BASE01_2_ERR_Business</td>
                        <!--S-Bus-->
                        <td title="SPS Station" class="bs-systemuebersicht-tabelle-inhalt">51</td>
                        <!--IP-->
                        <td title="IP Adresse" class="bs-systemuebersicht-tabelle-inhalt">192.168.130.251</td>
                        <!--Datum-->
                        <td title="SPS Time" class="bs-systemuebersicht-tabelle-inhalt">
                            <div data-bind="bsWertanzeigeOhneSchwarz: {
                                                                                        signalNameIW: 'Station_51.Special.Clock',
                                                                                        isDateTime: true}" title="SPS Time">
                            </div>
                        </td>
                        <!--Bemerkungen-->
                        <!--<td class="bs-systemuebersicht-tabelle-inhalt">-</td>-->
                        <!--Kommunikation-->
                        <td title="SPS Kommunikation" class="bs-systemuebersicht-tabelle-inhalt">
                            <div data-bind="bsAnzeigeDigitalSPSKomm_lfc: {
                                                                             signalName: 'vcceck51' }" title="SPS Kommunikation"
                                class="bs-SPS-Komm-3">
                            </div>
                        </td>
                        <!--Sicherungsüberwachung-->
                        <td title="Sicherungsüberwachung" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Sicherungsüberwachung 24VDC-->
                        <td title="Sicherungsüberwachung 24VDC" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Überspannungsschutz-->
                        <td title="Überspannungsschutz" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Elektroschema-->
                        <td title="Elektroschema" class="bs-systemuebersicht-tabelle-inhalt">
                            <a class="btn btn-default" href="\lakefrontcenter\Content\pdf\elektroschemata\RA\BA_SE01_Elektro_Allgemein.pdf" role="button">Elektroschema</a>
                        </td>
                        <!--Notlichtanlage-->
                        <!--<td title="Notlichtanlage" class="bs-systemuebersicht-tabelle-inhalt">-</td>-->
                        <!--Funktionskontrolle freigeben-->
                        <td title="Funktionskontrolle freigeben" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Alarmunterdrückung-->
                        <td title="Alarmunterdrückung" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Brandquittierung-->
                        <td title="Brandquittierung" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Quittierung-->
                        <td title="Quittierung" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                    </tr>
                    <!--Station 52-->
                    <tr>
                        <!--Anlage-->
                        <td title="Anlage" class="bs-systemuebersicht-tabelle-inhalt">Lüftung Bankett Office 1.OG</td>
                        <!--SGK-->
                        <td title="SGK" class="bs-systemuebersicht-tabelle-inhalt">H1.SL06</td>
                        <!--SPS-->
                        <td title="SPS Typ" class="bs-systemuebersicht-tabelle-inhalt">PCD3.M3330</td>
                        <!--Projekt Name-->
                        <td title="SPS Programm" class="bs-systemuebersicht-tabelle-inhalt">H1SL06_2_Hotel_ERR_2_5OG (Zimmer 242-256 | 539-547)</td>
                        <!--S-Bus-->
                        <td title="SPS Station" class="bs-systemuebersicht-tabelle-inhalt">52</td>
                        <!--IP-->
                        <td title="IP Adresse" class="bs-systemuebersicht-tabelle-inhalt">192.168.130.252</td>
                        <!--Datum-->
                        <td title="SPS Time" class="bs-systemuebersicht-tabelle-inhalt">
                            <div data-bind="bsWertanzeigeOhneSchwarz: {
                                                                                            signalNameIW: 'Station_52.Special.Clock',
                                                                                            isDateTime: true}" title="SPS Time">
                            </div>
                        </td>
                        <!--Bemerkungen-->
                        <!--<td class="bs-systemuebersicht-tabelle-inhalt">-</td>-->
                        <!--Kommunikation-->
                        <td title="SPS Kommunikation" class="bs-systemuebersicht-tabelle-inhalt">
                            <div data-bind="bsAnzeigeDigitalSPSKomm_lfc: {
                                                                                 signalName: 'vcceck52' }" title="SPS Kommunikation"
                                class="bs-SPS-Komm-3">
                            </div>
                        </td>
                        <!--Sicherungsüberwachung-->
                        <td title="Sicherungsüberwachung" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Sicherungsüberwachung 24VDC-->
                        <td title="Sicherungsüberwachung 24VDC" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Überspannungsschutz-->
                        <td title="Überspannungsschutz" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Elektroschema-->
                        <td title="Elektroschema" class="bs-systemuebersicht-tabelle-inhalt">
                            <a class="btn btn-default" href="\lakefrontcenter\Content\pdf\elektroschemata\RA\899466A69_H1SL06_Rev02_080623.pdf" role="button">Elektroschema</a>
                        </td>
                        <!--Notlichtanlage-->
                        <!--<td title="Notlichtanlage" class="bs-systemuebersicht-tabelle-inhalt">-</td>-->
                        <!--Funktionskontrolle freigeben-->
                        <td title="Funktionskontrolle freigeben" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Alarmunterdrückung-->
                        <td title="Alarmunterdrückung" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Brandquittierung-->
                        <td title="Brandquittierung" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                        <!--Quittierung-->
                        <td title="Quittierung" class="bs-systemuebersicht-tabelle-inhalt">-</td>
                    </tr>

                </tbody>







                <tfoot>
                </tfoot>
            </table>
            <!-- Workaround um den Bug in der Benutzeranmeldung zu korrigieren -->
            <wf-button style="visibility: hidden;" params="signalName: 'Setpoint 1', writeValue: 1, buttonText: 'Write Value :1', cssClass: 'btn-success', projectAuthorization: 'irgendeinWert'"></wf-button>
        </div>
    </div>
</div>