﻿<!-- ko if: hasAuthorization-->
<div>
    <style type="text/css" data-bind="text: yAxisStyles"></style>
    <div class="wf-chart wf-panel panel" data-bind="css: panelBarCssClass, attr: { 'id': 'wf-chart-' + id() }">
        <!-- ko if: headerVisibility -->
        <div class="panel-heading" data-part="panelHeader">
            <div class="pull-right wf-panel-toolbar">
                
                <!-- ko if: exportButtonVisibility && hasExportAuthorization -->
                <button type="button" data-bind="css: buttonBarCssClass, click: handleExport" title="{{connector.translate('I4SCADA_Export')()}}">
                    <span class="wf wf-download"></span>
                </button>
                <!-- /ko -->
                <!-- ko if: showHistoryManage-->
                <div class="btn-group">
                    <button type="button" data-bind="css: buttonBarCssClass, click: moveTimeRangeBack" title="{{connector.translate('I4SCADA_Next_Timespan')()}}">
                        <i class="wf wf-chevron-left"></i>
                    </button>
                    <button type="button" data-bind="css: buttonBarCssClass, click: moveTimeRangeVorward" title="{{connector.translate('I4SCADA_Next_Timespan')()}}">
                        <i class="wf wf-chevron-right"></i>
                    </button>
                </div>
                <!-- /ko-->
                <!-- ko if: autoUpdate -->
                <button type="button" data-bind="css: buttonBarCssClass, click: toggleIsAutoUpdating, attr : { title: isAutoUpdating() ? connector.translate('I4SCADA_Cyclic_Update')() : connector.translate('I4SCADA_Pause')() } ">
                    <i class="wf" data-bind="css: {'wf-play-round':isAutoUpdating, 'wf-pause-round':!isAutoUpdating()}"></i>
                </button>
                <!-- /ko-->
                <!-- ko ifnot: autoUpdate -->
                <button type="button" data-bind="css: buttonBarCssClass, click: triggerRefreshChartData" title="{{connector.translate('I4SCADA_Refresh')()}}">
                    <i class="wf wf-arrow-refresh-right"></i>
                </button>
                <!-- /ko-->
                <!-- ko if: configurationButtonVisibility && hasConfigurationAuthorization -->
                <wf-configuration params="controlType: controlType,
                                  getConfiguration: function(){ return getConfig(); },
                                  loadConfiguration: function(content){ loadConfig(content); },
                                  namespace : configurationNamespace,
                                  buttonBarCssClass: buttonBarCssClass,
                                  buttonBarIconClass: configurationButtonIconClass,
                                  isModalDialogsDraggable: isModalDialogsDraggable,
                                  showOnlyOwnConfigurations: showOnlyOwnConfigurations" />
                <!-- /ko-->
                <!-- ko if: signalsButtonVisibility && hasSignalSelectionAuthorization -->
                <button type="button" data-bind="css: buttonBarCssClass, click: showSignalsSettings, disable: isSignalLoading" title="{{connector.translate('I4SCADA_Log_Tag_Settings')()}}">
                    <!-- ko if: isSignalLoading-->
                    <div class="spinner m-a-0" style="width:20px;height:20px;"></div>
                    <!-- /ko -->
                    <!-- ko ifnot: isSignalLoading-->
                    <span class="wf wf-sine-wave"></span>
                    <!-- /ko -->
                </button>
                <!-- /ko -->
                <!-- ko if: settingsButtonVisibility -->
                <button type="button" data-bind="css: buttonBarCssClass, click: showSettings" title="{{connector.translate('I4SCADA_Settings')()}}">
                    <span class="wf wf-clock"></span>
                </button>
                <!-- /ko -->

            </div>
            <h3 class="panel-title overflow-x-ellipsis p-r-md">
                <span class="logtable-title">{{connector.translate(title())()}}</span>
                <span class="badge label-default">
                    <span data-bind="formattedDate: { value: firstDisplayedDate, format: 'DD.MM.YYYY HH:mm:ss' }"></span>
                    -
                    <span data-bind="formattedDate: { value: lastDisplayedDate, format: 'DD.MM.YYYY HH:mm:ss' }"></span>
                </span>
            </h3>
        </div>
    <!-- /ko -->
        
        <!-- ko ifnot: hasData -->
            <!-- ko if: isLoading -->
            <div class="spinner">{{connector.translate('I4SCADA_Loading...')()}}</div>
            <!-- /ko -->

            <!-- ko ifnot: isLoading -->
                <!-- ko if: lines().length === 0 -->
                <div class="alert alert-info text-center animated fadeIn m-a-md">
                    <i class="wf wf-alert-o"></i>
                    {{ connector.translate('I4SCADA_No_log_tags_selected')() }}
                </div>
                <!-- /ko -->

                <!-- ko if: lines().length > 0 -->
                <div class="alert alert-info animated fadeIn text-center m-a-md">
                    {{ connector.translate('I4SCADA_No_data_available') }}
                </div>
                <!-- /ko -->
            <!-- /ko -->
        <!-- /ko -->


        <!-- ko if: hasData -->
            <div class="panel-body" data-part="trendBody">

                <div class="wf-chart-wrapper" data-bind="c3chart: c3Chart,
                        line: {
                                connectNull: true
                            },
                        size: sizeConfig(),
                        padding: chartPadding(),
                        axis: axisConfig(),
                        timeAxisFormat: timeAxisFormat,
                        toolipDateFormat: timeAxisFormat,
                        subchart: subChartConfig(),
                        legend: legendConfig(),
                        point: pointsConfig(),
                        transition: {
                            duration: transitionDuration()
                        },
                        bar: {
                            width: {
                                ratio: 0.2
                            }
                        },
                        grid: gridConfig(),
                        tooltip: tooltip(),
                        zoom: zoomConfig()">
                </div>
            
                <!-- ko if: statisticsVisibility -->
                <div class="row m-t-md b-t">
                    <div class="table-responsive">
                        <table class="table table-condensed table-hover table-striped m-b-0">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th>
                                        <span class="label label-warning m-r-sm">
                                            <i class="wf wf-min"></i>
                                        </span>

                                        {{connector.translate('I4SCADA_Minimum')()}}
                                    </th>
                                    <th>
                                        <span class="label label-danger m-r-sm">
                                            <i class="wf wf-max"></i>
                                        </span>
                                        {{connector.translate('I4SCADA_Maximum')()}}
                                    </th>
                                    <th>
                                        <span class="label label-info m-r-sm">
                                            <i class="wf wf-average"></i>
                                        </span>
                                        {{connector.translate('I4SCADA_Average')()}}
                                    </th>
                                    <th>
                                        <span class="label label-success m-r-sm">
                                            <i class="wf wf-analysis"></i>
                                        </span>
                                        {{connector.translate('I4SCADA_Last_Value')()}}
                                    </th>
                                </tr>
                            </thead>

                            <tbody data-bind="foreach: lines">
                                <tr>
                                    <td>
                                        <span class="inline-block p-a-xs" data-bind="style: {'background-color' : color}"> </span>
                                    </td>
                                    <td class="text-bolder">

                                        <span data-bind="text: signalName"></span>
                                    </td>
                                    <td class="text-bolder text-muted">
                                        <div data-bind="text: logTagName"></div>
                                    </td>
                                    <td>
                                        <div class="">
                                            <i class="wf wf-sine-wave text-muted"></i>
                                            <span data-bind="numeraltext: minimum()"></span>
                                            <span data-bind="text: unit()"></span>
                                        </div>
                                        <i class="wf wf-clock text-muted"></i>
                                        <span data-bind="formattedDate: { value: minimumTimestamp() }"></span>


                                    </td>
                                    <td>
                                        <div class="">
                                            <i class="wf wf-sine-wave text-muted"></i>
                                            <span data-bind="numeraltext:  maximum()"></span>
                                            <span data-bind="text: unit()"></span>
                                        </div>
                                        <i class="wf wf-clock text-muted"></i>
                                        <span data-bind="formattedDate: { value: maximumTimestamp() }"></span>


                                    </td>
                                    <td>
                                        <div class="">
                                            <i class="wf wf-sine-wave text-muted"></i>
                                            <span data-bind="numeraltext: average()"></span>
                                            <span data-bind="text: unit()"></span>
                                        </div>

                                    </td>
                                    <td>
                                        <div class="">
                                            <i class="wf wf-sine-wave text-muted"></i>
                                            <span data-bind="numeraltext: lastValue()"></span>
                                            <span data-bind="text: unit()"></span>
                                        </div>
                                        <i class="wf wf-clock text-muted"></i>
                                        <span data-bind="formattedDate: { value: lastValueTimestamp() }"></span>


                                    </td>
                                </tr>
                            </tbody>


                        </table>
                    </div>
                </div>
                <!-- /ko -->
            </div>
        <!-- /ko -->

        <!-- ko if: footerVisibility -->
        <div class="panel-footer text-right" data-part="panelFooter">
            <!--<div class="label label-default " data-bind="text: values().length - 1 + ' ' + connector.translate('I4SCADA_Logs')()"></div>-->
        </div>
        <!-- /ko -->

    </div>

    <div data-bind="attr: { id: 'modal-settings-back-container-' + id() }">
        <div class="modal fade wf-panel-settings wf-component-configuration-dialog" tabindex="-1" role="dialog" data-bind="modalDialog: {show: showDialog, draggable: isModalDialogsDraggable} , attr: { id: 'modal-settings-' + id() }" style="display: none;">
            <div class="modal-dialog modal-top">
                <div class="modal-content">
                    <div class="modal-header modal-primary">
                        <button style="color: rgb(255,255,255)" type="button" class="close" data-dismiss="modal" aria-hidden="true" data-bind="click: closeSettings">&times;</button>
                        <div class="modal-title"><strong>{{connector.translate('I4SCADA_Settings')()}}</strong></div>
                    </div>

                    <div class="modal-body wf-panel-settings">
                        <div class="row m-b-md">
                            <div class="col-sm-12">
                                <wf-time-range class="block" params="hideTimeRangeSelector: isRealTimeUpdating, 
                                           startDateInput: startDateInput, 
                                           endDateInput: endDateInput, 
                                           timeRangeDateInput: timeRangeDateInput,
                                           selectedRangeInput: selectedRangeInput,
                                           startOffset: startOffset,
                                           startOffsetIntervall: startOffsetIntervall,
                                           endOffset: endOffset,
                                           endOffsetIntervall: endOffsetIntervall"></wf-time-range>
                            </div>
                        </div>

                        <div class="row m-b-md">
                            <div class="col-sm-4">
                                <label>{{connector.translate('I4SCADA_X_Axis_Lable')()}}</label>
                                <input class="form-control" type="text" data-bind="value: x1AxisLabelInput"/>
                            </div>
                            <div class="col-sm-4">
                                <label>{{connector.translate('I4SCADA_Y1_Axis_Lable')()}}</label>
                                <input class="form-control" type="text" data-bind="value: y1AxisLabelInput"/>
                            </div>
                            <div class="col-sm-4">
                                <label>{{connector.translate('I4SCADA_Y2_Axis_Lable')()}}</label>
                                <input class="form-control" type="text" data-bind="value: y2AxisLabelInput"/>
                            </div>
                        </div>
                        <div class="row m-y">
                            <div class="col-sm-12">
                                <label>{{connector.translate('I4SCADA_Maximum_number_of_records')()}}</label>
                                <input class="form-control" type="number" data-bind="value: maxResultsInput" max="500000"/>
                                <!-- ko if: hasMorePoints-->
                                <span class="text-info block m-y">
                                    <i class="wf wf-alert-o"></i>
                                    <!--<span>More data for selected period is available</span>-->
                                    <span>{{connector.translate('I4SCADA_More_data_for_selected_period_is_available')()}}</span>
                                </span>
                                <!-- /ko -->
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-primary" data-bind="click: applyFilterSettings">
                            <i class="wf-lg wf-check"></i>
                            {{connector.translate('I4SCADA_Apply')()}}
                        </button>
                        <button class="btn btn-default" data-bind="click: closeSettings">
                            <i class="wf wf-close-round-o"></i>
                            {{connector.translate('I4SCADA_Close')()}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div data-bind="attr: { id: 'modal-signal-settings-back-container-' + id() }">
        <div class="modal fade wf-panel-signal-settings wf-component-configuration-dialog" tabindex="-1" role="dialog" data-bind="modalDialog: {show: showSignalsDialog, draggable: isModalDialogsDraggable} , attr: { id: 'modal-signal-settings-' + id() }" style="display: none;">
            <div class="modal-dialog modal-lg modal-top">
                <div class="modal-content">
                    <div class="modal-header modal-primary">
                        <button style="color: rgb(255,255,255)" type="button" class="close" data-dismiss="modal" aria-hidden="true" data-bind="click: closeSignalSettings">&times;</button>
                        <div class="modal-title"><strong>{{connector.translate('I4SCADA_Settings')()}}</strong></div>
                    </div>

                    <div class="modal-body wf-panel-settings row">
                        <wf-signal-browser params="items: selectedLines, showColor: true, showAxis: true, showType: true,
                                                   beginLoadSignalsFunc : function(){ isSignalLoading(true); },
                                                   endLoadSignalsFunc : function(){ isSignalLoading(false); },
                                                   signalText: signalFilterText" />
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-primary" data-bind="click: applySignalsSettings">
                            <i class="wf-lg wf-check"></i>
                            {{connector.translate('I4SCADA_Apply')()}}
                        </button>
                        <button class="btn btn-default" data-bind="click: closeSignalSettings">
                            <i class="wf wf-close-round-o"></i>
                            {{connector.translate('I4SCADA_Close')()}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!--/ko-->