﻿<style>
    .skills {
        text-align: right;
        padding-right: 20px;
        line-height: 40px;
        color: white;
        /*border-radius: 3px;*/
    }

    .bar {
        height: 50%;
        background-color: #373737;
    }
</style>

<div data-bind="click: openDialog, style: { height: hoehe + 'px', width: breite + 'px'} " class="bs-container-beschattung" style="cursor: pointer;">
    <div class="skills" data-bind="style: { height: storenpos, background-color: '#373737'}"></div>
</div>

<div id="handanzeige" class="wf wf-hand bs_handfarbe fa-2x" data-bind="style: { left: handLinks + 'px', top: handOben + 'px', position: 'absolute', visibility: hand }"></div>

