﻿<!--****************************************************************************************************************************************************************************************************************************************************
    Bühler+Scherler
--------------------------------------------------------------------------------------------------------------------------


--------------------------------------------------------------------------------------------------------------------------
ERSTELLT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0		R.Brunnschweiler	BS                  10.07.2017
--------------------------------------------------------------------------------------------------------------------------
GEÄNDERT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0       F.Sabljo            BS                  12.02.2018



********************************************************************************************************************************************************************************************************************************************************-->
<div class="container bs_content_container">
    <header>
        <h1 class="page-header bs-header-mittig">L05 Lüftung Keller Allgemein A2 BA.SL01</h1>
        <!--BUILDING CONTROL-->
    </header>
    <div class="col-lg-12">
        <div class="bs-responsive bs-business-lueftungen-L05LueftungenKellerAllgemeinA2BA_SL01 hidden-xs">
            <!--Seiten-Verlinkungen (Pfeile auf der Seite)-->
            <a style="position: absolute; left: 0px; top: 460px; text-decoration: none;" title="Abluft" class="bs-pfeil-verlinkung-abluft wf wf-arrow wf-w"></a>
            <a style="position: absolute; left: 1816px; top: 460px; text-decoration: none;" title="Abluft" class="bs-pfeil-verlinkung-abluft wf wf-arrow wf-w"></a>
            <a style="position: absolute; left: 0px; top: 251px; text-decoration: none;" title="Aussenluft" class="bs-pfeil-verlinkung-aussenluft wf wf-arrow wf-w"></a>
            <a style="position: absolute; left: 1816px; top: 251px; text-decoration: none;" title="Aussenluft" class="bs-pfeil-verlinkung-aussenluft wf wf-arrow wf-w"></a>
                        
            <!-- Widgets -->
            <!--Anlagenschalter, Sollwertfenster, Zeitschaltuhren, etc...-->
            <div style="position:absolute; left:1730px; top:635px" id="KLI02" title="L05 Lüft. Keller Allgemein A2/A3" data-bind="bsAnlageschalter_lfc: {
	dialogTitle: 'L05 Lüft. Keller Allgemein A2/A3 ',
	signalName: 'Station_36',
    stromPfad: 'L05'
	}">
            </div>

            <div style="position:absolute; left:1775px; top:635px" id="KLI02_I201schaltuhr" title="Schaltuhr L05 Keller Allgemein A2 / A3" data-bind="bsSchaltuhr_lfc: {
	signalName: 'Station_36',
    uhr: 'su_L05',
	dialogTitle: 'Schaltuhr L05 Keller Allgemein A2 / A3' }">
            </div>

            <!--LE-->
            <div style="position:absolute; left: 611px; top: 471px;" id="V1" title="645M1" data-bind="bsMotorStufen_lfc: {
    dialogTitle: '645M1',
    signalName: 'Station_36',
    stromPfad: '645m1',
	motorAusrichtung: 'links',
	motortyp: 'ventilator',
	handLinks: '20',
	handOben: '10',
	}">
            </div>

            <div style="position:absolute; left: 1239px; top: 263px;" id="V2" title="615M1" data-bind="bsMotorStufen_lfc: {
    dialogTitle: '615M1',
    signalName: 'Station_36',
    stromPfad: '615m1',
	motorAusrichtung: 'links',
	motortyp: 'ventilator',
	handLinks: '20',
	handOben: '10',
	}">
            </div>

            <!--Klappen-->
            <div style="position:absolute; left: 433px; top: 469px;" id="K1" title="662Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_36.Register.status_662y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1044px; top: 260px;" id="K2" title="661Y3" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_36.Register.status_661y3',
    position: 'Buffer 3'
}"></div>

            <!--Wächter-->
            <div style="position:absolute; left: 619px; top: 415px;" id="W1" title="647B1" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Station_36.Flag.al_647b1',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left: 1246px; top: 207px;" id="W2" title="617B1" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Station_36.Flag.al_617b1',
     einheit: 'ohne',
     }">
            </div>

            <!--  -->
           
            <!-- Workaround um den Bug in der Benutzeranmeldung zu korrigieren -->
            <wf-button style="visibility: hidden;" params="signalName: 'Setpoint 1', writeValue: 1, buttonText: 'Write Value :1', cssClass: 'btn-success', projectAuthorization: 'irgendeinWert'"></wf-button>
        </div>
    </div>
</div>
