﻿<!--****************************************************************************************************************************************************************************************************************************************************
    Bühler+Scherler
--------------------------------------------------------------------------------------------------------------------------


--------------------------------------------------------------------------------------------------------------------------
ERSTELLT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0		R.Brunnschweiler	BS                  10.07.2017
--------------------------------------------------------------------------------------------------------------------------
GEÄNDERT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0       F.Sabljo            BS                  12.02.2018


********************************************************************************************************************************************************************************************************************************************************-->
<div class="container bs_content_container">
    <header>
        <h1 class="page-header bs-header-mittig">L02 Lüftung Zentrale Läden EG BA.SL01</h1>
        <!--BUILDING CONTROL-->
    </header>
    <div class="col-lg-12">
        <div class="bs-responsive bs-business-lueftungen-L02LueftungZentraleLaedenEGBA_SL01 bs-neu-neu bs-neu-neu-test hidden-xs">
            <!--Seiten-Verlinkungen (Pfeile auf der Seite)-->
            <a style="position: absolute; left: 0px; top: 237px; text-decoration: none;" title="Aussenluft" class="bs-pfeil-verlinkung-aussenluft wf wf-arrow"></a>
            <a style="position: absolute; left: 0px; top: 423px; text-decoration: none;" title="Fortluft" class="bs-pfeil-verlinkung-fortluft wf wf-arrow wf-w"></a>
            <a style="position: absolute; left: 1816px; top: 425px; text-decoration: none;" title="Zuluft" class="bs-pfeil-verlinkung-zuluft wf wf-arrow"></a>
            <a style="position: absolute; left: 1816px; top: 236px; text-decoration: none;" title="Abluft" class="bs-pfeil-verlinkung-abluft wf wf-arrow wf-w"></a>
            <!-- Widget -->

            <!-- Sollwert -->
            <div style="position:absolute; left: 1727.5px; top: 162px;" id="sw_diffdruck_abl_249b1" title="Sollwert 249B1" data-bind="bsAusgabefeld: {
              signalName:'Station_36.Register.sw_diffdruck_abl_L02',
              typ: 'berechnetersollwert',
              einheit: 'Pa'
            }">
            </div>

            <div style="position:absolute; left: 1727.5px; top: 351px;" id="sw_diffdruck_zul_219b1" title="Sollwert 219B1" data-bind="bsAusgabefeld: {
              signalName:'Station_36.Register.sw_diffdruck_zul_L02',
              typ: 'berechnetersollwert',
              einheit: 'Pa'
            }">
            </div>

            <div style="position:absolute; left: 1637.5px; top: 351px;" id="sw_temp_218b1" title="Sollwert 218B1" data-bind="bsAusgabefeld: {
              signalName:'Station_36.Register.sww_218b1',
              typ: 'berechnetersollwert',
              einheit: '°C'
            }">
            </div>

            <div style="position:absolute; left: 1027.51px; top: 325.229px;" id="klappe_252y1" title="Sollwert 252Y1" data-bind="bsAusgabefeld: {
              signalName:'Station_36.Register.AO048_sw_252y1',
              typ: 'berechnetersollwert',
              einheit: '%'
            }">
            </div>

            <div style="position:absolute; left: 684px; top: 470px;" id="sw_245u1" title="Sollwert 245U1" data-bind="bsAusgabefeld: {
              signalName:'Station_36.Register.AO035_sw_245u1',
              typ: 'berechnetersollwert',
              einheit: '%'
            }">
            </div>

            <div style="position:absolute; left: 1328px; top: 470px;" id="sw_215u1" title="Sollwert 215U1" data-bind="bsAusgabefeld: {
              signalName:'Station_36.Register.AO034_sw_215u1',
              typ: 'berechnetersollwert',
              einheit: '%'
            }">
            </div>

            <!--Anlagenschalter, Sollwertfenster, Zeitschaltuhren, etc...-->
            <div style="position:absolute; left:1685px; top:635px" id="L02 Lüftungsanlage Läden EG" title="L02 Lüftungsanlage Läden EG" data-bind="bsAnlageschalter_lfc: {
	dialogTitle: 'Betriebswahlschalter ',
	signalName: 'Station_36',
    stromPfad: 'L02'
	}">
            </div>

            <div style="position:absolute; left:1730px; top:635px" id="Sollwerte L02 Lüftung Läden EG" title="Sollwerte L02 Lüftung Läden EG" data-bind="bsSollwertFenster: {
	dialogTitle: 'Sollwerte',
	authorisierung: 'Administration',
	signals: [
		{ label: 'Zulufttemperatur Winter [ºC]', signalname: 'Station_36.Register.sw_basis_raumtemp_L02', untergrenze: '', obergrenze: '' },
		{ label: 'Differenzdruck ZUL [Pa]', signalname: 'Station_36.Register.sw_diffdruck_zul_L02', untergrenze: '', obergrenze: '' },
		{ label: 'Differenzdruck ABL [Pa]', signalname: 'Station_36.Register.sw_diffdruck_abl_L02', untergrenze: '', obergrenze: '' },
		]}">
            </div>

            <div style="position:absolute; left:1775px; top:635px" id="KLI02_I201schaltuhr" title="Schaltuhr Lüftungsanlage L02 Läden EG" data-bind="bsSchaltuhr_lfc: {
	signalName: 'Station_36',
    uhr: 'su_L02',
	dialogTitle: 'Schaltuhr Lüftungsanlage L02 Läden EG' }">
            </div>

            <!--LE-->
            <div style="position:absolute; left: 700px; top: 433px;" id="V1" title="245M1" data-bind="bsMotorStufen_lfc: {
    dialogTitle: '245M1',
    signalName: 'Station_36',
    stromPfad: '245m1',
	motorAusrichtung: 'links',
	motortyp: 'ventilator',
	handLinks: '20',
	handOben: '10',
	}">
            </div>

            <div style="position:absolute; left: 1343.5px; top: 433px;" id="V2" title="215M1" data-bind="bsMotorStufen_lfc: {
    dialogTitle: '215M1',
    signalName: 'Station_36',
    stromPfad: '215m1',
	motorAusrichtung: 'rechts',
	motortyp: 'ventilator',
	handLinks: '20',
	handOben: '10',
	}">
            </div>

            <div style="position:absolute; left: 1094px; top: 499.5px;" id="PU1" title="225M1" data-bind="bsMotorStufen_lfc: {
    dialogTitle: '225M1',
    signalName: 'Station_36',
    stromPfad: '225m1',
	motorAusrichtung: 'oben',
	motortyp: 'pumpe',
	handLinks: '20',
	handOben: '10',
	}">
            </div>

            <!--Ventil-->
            <div style="position:absolute; left: 1091.5px; top: 544px" id="ventil_226y1" title="226Y1" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '42',
	anzeigefeldOben: '10',
	winkel: '180',
	signalName: 'Station_36.Register.AO032_sw_226y1'}">
            </div>

            <div style="position:absolute; left: 1254px; top: 544px" id="ventil_236y1" title="236Y1" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '42',
	anzeigefeldOben: '10',
	winkel: '180',
	signalName: 'Station_36.Register.AO033_sw_236y1'}">
            </div>

            <!--Klappen-->
            <div style="position:absolute; left: 414px; top: 242px;" id="klappe_212y1" title="212Y1" data-bind="bsKlappe_lfc: {
    symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
	signalName: 'Station_36.Register.status_212y1',
    position: 'Buffer 3'
  }">
            </div>

            <div style="position:absolute; left: 414px; top: 430px;" id="klappe_212y3" title="212Y3" data-bind="bsKlappe_lfc: {
    symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
	signalName: 'Station_36.Register.status_212y1',
    position: 'Buffer 3'
  }">
            </div>

            <div style="position:absolute; left: 969px; top: 313px;" id="klappe_252y1" title="252Y1" data-bind="bsKlappe_lfc_without_state: {
    symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '315',
    signalName: 'Station_36.Register.AO048_sw_252y1',
    position: 'Buffer 3'
}">
            </div>

            <div style="position:absolute; left: 927px; top: 272.5px;" id="klappe_252y1" title="252Y1" data-bind="bsKlappe_lfc_without_state: {
    symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '315',
    signalName: 'Station_36.Register.AO048_sw_252y1',
    position: 'Buffer 3'
}">
            </div>

            <!--TPHSensor-->
            <div style="position:absolute; left: 180px; top: 212px;" id="temp_211b1" title="211B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '0',
	sensortyp: 'T',
	signalName: 'Station_36.Register.AI704_temp_211b1',
	handLinks: '12',
	handOben: '2',
	}">
            </div>

            <div style="position:absolute; left: 180px; top: 401px;" id="temp_248b1" title="248B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '0',
	sensortyp: 'T',
	signalName: 'Station_36.Register.AI709_temp_248b1',
	handLinks: '12',
	handOben: '2',
	}">
            </div>

            <div style="position:absolute; left: 1660px; top: 212px;" id="temp_241b1" title="241B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '0',
	sensortyp: 'T',
	signalName: 'Station_36.Register.AI708_temp_241b1',
	handLinks: '12',
	handOben: '2',
	}">
            </div>

            <div style="position:absolute; left: 1660px; top: 401px;" id="temp_218b1" title="218B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '0',
	sensortyp: 'T',
	signalName: 'Station_36.Register.AI705_temp_218b1',
	handLinks: '12',
	handOben: '2',
	}">
            </div>

            <div style="position:absolute; left: 1750px; top: 212px;" id="pd_219b1" title="249B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '0',
	sensortyp: 'P',
    einheit: 'Pa',
    signalName: 'Station_36.Register.AI710_pd_249b1',
	handLinks: '12',
	handOben: '2',
	}">
            </div>

            <div style="position:absolute; left: 1750px; top: 401px;" id="pd_219b1" title="219B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '0',
	sensortyp: 'P',
    einheit: 'Pa',
    signalName: 'Station_36.Register.AI706_pd_219b1',
	handLinks: '12',
	handOben: '2',
	}">
            </div>

            <div style="position:absolute; left: 1300px; top: 599px;" id="temp_235b1" title="235B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '90',
	sensortyp: 'T',
    signalName: 'Station_36.Register.AI707_temp_235b1',
	handLinks: '12',
	handOben: '2',
   	anzeigefeldLinks: '26',
	anzeigefeldOben: '0',
	}">
            </div>

            <!--Wächter-->
            <div style="position:absolute; left: 704px; top: 189px" id="diffdruck_213b1" title="213B1" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Station_36.Flag.al_213b1_filter',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left: 704px; top: 377px" id="diffdruck_247b1" title="247B1" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Station_36.Flag.al_247b1',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left: 1346px; top: 189px" id="diffdruck_243b1" title="243B1" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Station_36.Flag.al_243b1_filter',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left: 1346px; top: 377px" id="diffdruck_217b1" title="217B1" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Buffer 3',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left: 1161.5px; top: 401px" id="frost_214b1" title="214B1" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '35',
     winkel: '0',
     sensortyp: 'F',
     signalName: 'Station_36.Flag.al_214b1_frost',
     einheit: 'ohne',
     }">
            </div>
            
            <!-- Text -->
            <p style="position: absolute; left: 871px; top: 341px;" class="bs-beschriftung-medium">WRG</p>
            <p style="position: absolute; left: 1094px; top: 325px;" class="bs-beschriftung-small-verteilung">Bypass</p>
           
            <!-- Workaround um den Bug in der Benutzeranmeldung zu korrigieren -->
            <wf-button style="visibility: hidden;" params="signalName: 'Setpoint 1', writeValue: 1, buttonText: 'Write Value :1', cssClass: 'btn-success', projectAuthorization: 'irgendeinWert'"></wf-button>
        </div>
    </div>
</div>
