﻿<!--****************************************************************************************************************************************************************************************************************************************************
    Bühler+Scherler
--------------------------------------------------------------------------------------------------------------------------


--------------------------------------------------------------------------------------------------------------------------
ERSTELLT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0		R.Brunnschweiler	BS                  10.07.2017
--------------------------------------------------------------------------------------------------------------------------
GEÄNDERT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0       F.Sabljo            BS                  12.02.2018



********************************************************************************************************************************************************************************************************************************************************-->
<div class="container bs_content_container">
    <header>
        <h1 class="page-header bs-header-mittig">L03 Lüftung Verteilung 2 Büro/Schule BA.SL01</h1>
        <!--BUILDING CONTROL-->
    </header>
    <div class="col-lg-12">
        <div class="bs-responsive bs-business-lueftungen-L03LueftungVerteilung2BueroSchuleBA_SL01 hidden-xs">


            <!--Seiten-Verlinkungen (Pfeile auf der Seite)-->
            <a style="position: absolute; left: 0px; top: 635px; text-decoration: none;" title="Zuluft" class="bs-pfeil-verlinkung-zuluft wf wf-arrow"></a>
            <a style="position: absolute; left: 0px; top: 599px; text-decoration: none;" title="Abluft" class="bs-pfeil-verlinkung-abluft wf wf-arrow wf-w"></a>
            <a style="position: absolute; left: 1815px; top: 635px; text-decoration: none;" title="Zuluft" class="bs-pfeil-verlinkung-zuluft wf wf-arrow"></a>
            <a style="position: absolute; left: 1815px; top: 599px; text-decoration: none;" title="Abluft" class="bs-pfeil-verlinkung-abluft wf wf-arrow wf-w"></a>
            <a style="position: absolute; left: 1815px; top: 508px; text-decoration: none;" title="Zuluft" class="bs-pfeil-verlinkung-zuluft wf wf-arrow"></a>
            <a style="position: absolute; left: 1815px; top: 556px; text-decoration: none;" title="Abluft" class="bs-pfeil-verlinkung-abluft wf wf-arrow wf-w"></a>
            <a style="position: absolute; left: 1815px; top: 409px; text-decoration: none;" title="Zuluft" class="bs-pfeil-verlinkung-zuluft wf wf-arrow"></a>
            <a style="position: absolute; left: 1815px; top: 458px; text-decoration: none;" title="Abluft" class="bs-pfeil-verlinkung-abluft wf wf-arrow wf-w"></a>
            <a style="position: absolute; left: 1815px; top: 310px; text-decoration: none;" title="Zuluft" class="bs-pfeil-verlinkung-zuluft wf wf-arrow"></a>
            <a style="position: absolute; left: 1815px; top: 358px; text-decoration: none;" title="Abluft" class="bs-pfeil-verlinkung-abluft wf wf-arrow wf-w"></a>
            <a style="position: absolute; left: 1815px; top: 211px; text-decoration: none;" title="Zuluft" class="bs-pfeil-verlinkung-zuluft wf wf-arrow"></a>
            <a style="position: absolute; left: 1815px; top: 259px; text-decoration: none;" title="Abluft" class="bs-pfeil-verlinkung-abluft wf wf-arrow wf-w"></a>
            <a style="position: absolute; left: 1815px; top: 112px; text-decoration: none;" title="Zuluft" class="bs-pfeil-verlinkung-zuluft wf wf-arrow"></a>
            <a style="position: absolute; left: 1815px; top: 160px; text-decoration: none;" title="Abluft" class="bs-pfeil-verlinkung-abluft wf wf-arrow wf-w"></a>


            <!-- Widgets -->
            <!--Anlagenschalter, Sollwertfenster, Zeitschaltuhren, etc...-->
            <!--<div style="position:absolute; left:1721px; top:680px;" id="KLI02_I110sollwertfenster" title="Sollwertschiebung VAV 531Y1/4 Sitzungszimmer Hotel 5.OG" data-bind="bsSollwertFenster: {
	dialogTitle: 'Sollwertschiebung VAV 531Y1/4 Sitzungszimmer Hotel 5.OG',
	authorisierung: 'Administration',
	signals: [
		{ label: 'VAV Sollwert1 (minimum) [%]', signalname: 'Station_36.Register.w_vav_531y1_01', untergrenze: '', obergrenze: '' },
		{ label: 'VAV Bedarf 1 nach Lq [%]', signalname: 'Station_36.Register.w_vav_531y1_02', untergrenze: '', obergrenze: '' },
		{ label: 'VAV Sollwert 2 [%]', signalname: 'Station_36.Register.w_vav_531y1_03', untergrenze: '', obergrenze: '' },
		{ label: 'VAV Bedarf 2 nach Lq [%]', signalname: 'Station_36.Register.w_vav_531y1_04', untergrenze: '', obergrenze: '' },
		{ label: 'Maximaler Sollwert [%]', signalname: 'Station_36.Register.w_vav_531y1_05', untergrenze: '', obergrenze: '' },
        { label: 'Tot-Zone für / [%]', signalname: 'Station_36.Register.w_vav_531y1_06', untergrenze: '', obergrenze: '' }

		]}">
            </div>-->

            <!-- Sollwert -->
            <div style="position:absolute; left: 507px; top: 141px;" id="S1" title="Sollwert Basis Raumtemperatur L03" data-bind="bsAusgabefeld: {
              signalName:'Station_36.Register.sw_basis_raumtemp_L03',
              typ: 'berechnetersollwert',
              einheit: '°C'
            }">
            </div>

            <!--Klappen-->
            <div style="position:absolute; left: 503px; top: 464px;" id="klappe_477y3" title="477Y3" data-bind="bsKlappe_lfc: {
    symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_36.Register.status_477y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 503px; top: 514px;" id="klappe_478y3" title="478Y3" data-bind="bsKlappe_lfc: {
    symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_36.Register.status_478y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1490px; top: 563px;" id="klappe_486y3" title="486Y3" data-bind="bsKlappe_lfc: {
    symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_36.Register.status_486y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1490px; top: 514px;" id="klappe_485y3" title="485Y3" data-bind="bsKlappe_lfc: {
    symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_36.Register.status_485y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1490px; top: 465px;" id="klappe_489y3" title="489Y3" data-bind="bsKlappe_lfc: {
    symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_36.Register.status_489y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1490px; top: 416px;" id="klappe_488y3" title="488Y3" data-bind="bsKlappe_lfc: {
    symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_36.Register.status_488y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1490px; top: 366px;" id="klappe_492y3" title="492Y3" data-bind="bsKlappe_lfc: {
    symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_36.Register.status_492y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1490px; top: 316px;" id="klappe_491y3" title="491Y3" data-bind="bsKlappe_lfc: {
    symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_36.Register.status_491y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1490px; top: 266px;" id="klappe_480y3" title="480Y3" data-bind="bsKlappe_lfc: {
    symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_36.Register.status_480y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1490px; top: 216px;" id="K10" title="479Y3" data-bind="bsKlappe_lfc: {
    symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_36.Register.status_479y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1490px; top: 167px;" id="K11" title="483Y3" data-bind="bsKlappe_lfc: {
    symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_36.Register.status_483y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1490px; top: 116px;" id="K12" title="482Y3" data-bind="bsKlappe_lfc: {
    symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_36.Register.status_482y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1676px; top: 563px;" id="K13" title="522Y3" data-bind="bsKlappe_lfc: {
    symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_36.Register.status_522y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1676px; top: 514px;" id="K14" title="521Y3" data-bind="bsKlappe_lfc: {
    symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_36.Register.status_521y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1676px; top: 116px;" id="K15" title="484Y3" data-bind="bsKlappe_lfc: {
    symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_36.Register.status_484y3',
    position: 'Buffer 3'
}"></div>

            <!-- Text -->
            <p style="position: absolute; left: 380px; top: 133px;" class="bs-beschriftung-small-verteilung">Basis-Sollwert<br>Raumtemperatur</p>
            <p style="position: absolute; left: 1528px; top: 551px;" class="bs-beschriftung-small-verteilung">Hotelzimmer 2.48-2.53</p>
            <p style="position: absolute; left: 1269px; top: 106px;" class="bs-beschriftung-small-verteilung">Steigzone 19/I-L</p>
            <p style="position: absolute; left: 1269px; top: 305px;" class="bs-beschriftung-small-verteilung">Steigzone 19/L</p>
            <p style="position: absolute; left: 584px; top: 500px;" class="bs-beschriftung-small-verteilung">UG</p>
            <p style="position: absolute; left:1779px; top: 551px;" class="bs-beschriftung-small-verteilung">2.OG</p>
            <p style="position: absolute; left:1779px; top: 452px;" class="bs-beschriftung-small-verteilung">3.OG</p>
            <p style="position: absolute; left:1779px; top: 353px;" class="bs-beschriftung-small-verteilung">4.OG</p>
            <p style="position: absolute; left:1779px; top: 254px;" class="bs-beschriftung-small-verteilung">5.OG</p>
            <p style="position: absolute; left:1779px; top: 155px;" class="bs-beschriftung-small-verteilung">6.OG</p>
            <p style="position: absolute; left:120px; top: 482px;" class="bs-beschriftung-large">A</p>
            <p style="position: absolute; left:840px; top: 296px;" class="bs-beschriftung-large">B</p>

            <!--  -->
           
            <!-- Workaround um den Bug in der Benutzeranmeldung zu korrigieren -->
            <wf-button style="visibility: hidden;" params="signalName: 'Setpoint 1', writeValue: 1, buttonText: 'Write Value :1', cssClass: 'btn-success', projectAuthorization: 'irgendeinWert'"></wf-button>
        </div>
    </div>
</div>
