﻿<!--****************************************************************************************************************************************************************************************************************************************************
    Bühler+Scherler
--------------------------------------------------------------------------------------------------------------------------


--------------------------------------------------------------------------------------------------------------------------
ERSTELLT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0		R.Brunnschweiler	BS                  10.07.2017
--------------------------------------------------------------------------------------------------------------------------
GEÄNDERT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0       F.Sabljo            BS                  12.02.2018



********************************************************************************************************************************************************************************************************************************************************-->
<div class="container bs_content_container">
    <header>
        <h1 class="page-header bs-header-mittig">L03 Lüftung Verteilung 3 Büro/Schule BA.SL01</h1>
        <!--BUILDING CONTROL-->
    </header>
    <div class="col-lg-12">
        <div class="bs-responsive bs-business-lueftungen-L03LueftungVerteilung3BueroSchuleBA_SL01 hidden-xs">
            <!--Seiten-Verlinkungen (Pfeile auf der Seite)-->
            
            <a style="position: absolute; left: 0px; top: 635px; text-decoration: none;" title="Zuluft" class="bs-pfeil-verlinkung-zuluft wf wf-arrow"></a>
            <a style="position: absolute; left: 0px; top: 599px; text-decoration: none;" title="Abluft" class="bs-pfeil-verlinkung-abluft wf wf-arrow wf-w"></a>
            <a style="position: absolute; left: 1815px; top: 635px; text-decoration: none;" title="Zuluft" class="bs-pfeil-verlinkung-zuluft wf wf-arrow"></a>
            <a style="position: absolute; left: 1815px; top: 599px; text-decoration: none;" title="Abluft" class="bs-pfeil-verlinkung-abluft wf wf-arrow wf-w"></a>
            <a style="position: absolute; left: 1815px; top: 508px; text-decoration: none;" title="Zuluft" class="bs-pfeil-verlinkung-zuluft wf wf-arrow"></a>
            <a style="position: absolute; left: 1815px; top: 556px; text-decoration: none;" title="Abluft" class="bs-pfeil-verlinkung-abluft wf wf-arrow wf-w"></a>
            <a style="position: absolute; left: 1815px; top: 409px; text-decoration: none;" title="Zuluft" class="bs-pfeil-verlinkung-zuluft wf wf-arrow"></a>
            <a style="position: absolute; left: 1815px; top: 458px; text-decoration: none;" title="Abluft" class="bs-pfeil-verlinkung-abluft wf wf-arrow wf-w"></a>
            <a style="position: absolute; left: 1815px; top: 310px; text-decoration: none;" title="Zuluft" class="bs-pfeil-verlinkung-zuluft wf wf-arrow"></a>
            <a style="position: absolute; left: 1815px; top: 358px; text-decoration: none;" title="Abluft" class="bs-pfeil-verlinkung-abluft wf wf-arrow wf-w"></a>
            <a style="position: absolute; left: 1567px; top: 162px; text-decoration: none;" title="Zuluft" class="bs-pfeil-verlinkung-zuluft wf wf-arrow"></a>
            <a style="position: absolute; left: 1815px; top: 259px; text-decoration: none;" title="Abluft" class="bs-pfeil-verlinkung-abluft wf wf-arrow wf-w"></a>
            <a style="position: absolute; left: 1815px; top: 112px; text-decoration: none;" title="Zuluft" class="bs-pfeil-verlinkung-zuluft wf wf-arrow"></a>
            <a style="position: absolute; left: 1567px; top: 211px; text-decoration: none;" title="Abluft" class="bs-pfeil-verlinkung-abluft wf wf-arrow wf-w"></a>
            <a style="position: absolute; left: 1815px; top: 13px; text-decoration: none;" title="Zuluft" class="bs-pfeil-verlinkung-zuluft wf wf-arrow"></a>
            <a style="position: absolute; left: 1815px; top: 61px; text-decoration: none;" title="Abluft" class="bs-pfeil-verlinkung-abluft wf wf-arrow wf-w"></a>
            <a style="position: absolute; left: 0px; top: 61px; text-decoration: none;" title="Abluft" class="bs-pfeil-verlinkung-abluft wf wf-arrow"></a>

            <!-- Widgets -->
            <!--Anlagenschalter, Sollwertfenster, Zeitschaltuhren, etc...-->
            <div style="position:absolute; left: 1378px; top: 194px;" title="Sollwertschiebung VAV 531Y1/4 Sitzungszimmer Hotel 5.OG" data-bind="bsSollwertFenster: {
	dialogTitle: 'Sollwertschiebung VAV 531Y1/4 Sitzungszimmer Hotel 5.OG',
	authorisierung: 'Administration',
	signals: [
		{ label: 'VAV Sollwert1 (minimum) [%]', signalname: 'Station_36.Register.w_vav_531y1_01', untergrenze: '', obergrenze: '' },
		{ label: 'VAV Bedarf 1 nach Lq [%]', signalname: 'Station_36.Register.w_vav_531y1_02', untergrenze: '', obergrenze: '' },
		{ label: 'VAV Sollwert 2 [%]', signalname: 'Station_36.Register.w_vav_531y1_03', untergrenze: '', obergrenze: '' },
		{ label: 'VAV Bedarf 2 nach Lq [%]', signalname: 'Station_36.Register.w_vav_531y1_04', untergrenze: '', obergrenze: '' },
		{ label: 'Maximaler Sollwert [%]', signalname: 'Station_36.Register.w_vav_531y1_05', untergrenze: '', obergrenze: '' },
        { label: 'Tot-Zone für / [%]', signalname: 'Station_36.Register.w_vav_531y1_06', untergrenze: '', obergrenze: '' }

		]}">
            </div>


            <!-- Sollwert -->
            <div style="position:absolute; left: 507px; top: 141px;" id="S1" title="Sollwert Basis Raumtemperatur L03" data-bind="bsAusgabefeld: {
              signalName:'Station_36.Register.sw_basis_raumtemp_L03',
              typ: 'berechnetersollwert',
              einheit: '°C'
            }">
            </div>

            <div style="position:absolute; left: 1602px; top: 98px;" id="S2" title="VAV 531Y1" data-bind="bsAusgabefeld: {
              signalName:'Station_36.Register.AO290_sw_531y1',
              typ: 'berechnetersollwert',
              einheit: '%'
            }">
            </div>

            <div style="position:absolute; left: 1602px; top: 303px;" id="S2" title="VAV 531Y4" data-bind="bsAusgabefeld: {
              signalName:'Station_36.Register.AO290_sw_531y1',
              typ: 'berechnetersollwert',
              einheit: '%'
            }">
            </div>

            <!--Klappen-->
            <div style="position:absolute; left: 503px; top: 465px;" id="K1" title="494Y3" data-bind="bsKlappe_lfc: {
    symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_36.Register.status_494y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 503px; top: 518px;" id="K2" title="495Y3" data-bind="bsKlappe_lfc: {
    symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_36.Register.status_495y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1490px; top: 565px;" id="K3" title="503Y3" data-bind="bsKlappe_lfc: {
    symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_36.Register.status_503y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1490px; top: 514px;" id="K4" title="502Y3" data-bind="bsKlappe_lfc: {
    symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_36.Register.status_502y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1490px; top: 467px;" id="K5" title="506Y3" data-bind="bsKlappe_lfc: {
    symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_36.Register.status_506y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1490px; top: 416px;" id="K6" title="505Y3" data-bind="bsKlappe_lfc: {
    symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_36.Register.status_505y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1490px; top: 367px;" id="K7" title="509Y3" data-bind="bsKlappe_lfc: {
    symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_36.Register.status_509y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1490px; top: 316px;" id="K8" title="508Y3" data-bind="bsKlappe_lfc: {
    symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_36.Register.status_508y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1050px; top: 216px;" id="K9" title="497Y3" data-bind="bsKlappe_lfc: {
    symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_36.Register.status_497y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1490px; top: 216px;" id="K10" title="524Y3" data-bind="bsKlappe_lfc: {
    symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_36.Register.status_524y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1490px; top: 167px;" id="K11" title="523Y3" data-bind="bsKlappe_lfc: {
    symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_36.Register.status_523y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1050px; top: 167px;" id="K12" title="496Y3" data-bind="bsKlappe_lfc: {
    symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_36.Register.status_496y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1490px; top: 67px;" id="K13" title="500Y3" data-bind="bsKlappe_lfc: {
    symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_36.Register.status_500y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1490px; top: 16px;" id="K14" title="499Y3" data-bind="bsKlappe_lfc: {
    symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_36.Register.status_499y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1676px; top: 565px;" id="K15" title="524Y3" data-bind="bsKlappe_lfc: {
    symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_36.Register.status_524y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 503px; top: 328px;" id="K16" title="512Y3" data-bind="bsKlappe_lfc: {
    symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_36.Register.status_512y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 503px; top: 276px;" id="K17" title="511Y3" data-bind="bsKlappe_lfc: {
    symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_36.Register.status_511y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 503px; top: 67px;" id="K17" title="483Y3" data-bind="bsKlappe_lfc: {
    symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_36.Register.status_483y3',
    position: 'Buffer 3'
}"></div>

            <!--TPHSensor-->
            <div style="position:absolute; left: 1734px; top: 237px;" id="TP1" title="541B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '0',
	sensortyp: 'rF',
    einheit: 'ppm',
	signalName: 'Station_36.Register.AI726_lq_541b1_co2',
	handLinks: '12',
	handOben: '2',
	}">
            </div>

            <!--Wächter-->
            <!--<div style="position:absolute; left: 1685px; top: 127px" id="W1" title="KLI02_F951 (O127_GA01_S001:160F2)" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Buffer 3',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left: 1685px; top: 276px" id="W2" title="KLI02_F951 (O127_GA01_S001:160F2)" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Buffer 3',
     einheit: 'ohne',
     }">
            </div>-->

            <!-- Text -->
            <p style="position: absolute; left: 380px; top: 133px;" class="bs-beschriftung-small-verteilung">Basis-Sollwert<br>Raumtemperatur</p>
            <p style="position: absolute; left: 812px; top: 303px;" class="bs-beschriftung-small-verteilung">Steigzone 12/L</p>
            <p style="position: absolute; left: 1113px; top: 303px;" class="bs-beschriftung-small-verteilung">Steigzone 11/L</p>
            <p style="position: absolute; left: 584px; top: 500px;" class="bs-beschriftung-small-verteilung">UG</p>
            <p style="position: absolute; left: 584px; top: 313px;" class="bs-beschriftung-small-verteilung">1.OG</p>
            <p style="position: absolute; left:1731px; top: 539px;" class="bs-beschriftung-small-verteilung">Hotelzimmer<br>2.43-2.47</p>
            <p style="position: absolute; left:1779px; top: 452px;" class="bs-beschriftung-small-verteilung">3.OG</p>
            <p style="position: absolute; left:1779px; top: 353px;" class="bs-beschriftung-small-verteilung">4.OG</p>
            <p style="position: absolute; left:1610px; top: 191px;" class="bs-beschriftung-small-verteilung">Sitzungszimmer<br>Hotel 5.OG</p>
            <p style="position: absolute; left:1779px; top: 56px;" class="bs-beschriftung-small-verteilung">6.OG</p>
            <p style="position: absolute; left:120px; top: 482px;" class="bs-beschriftung-large">B</p>


            <!--  -->
           
            <!-- Workaround um den Bug in der Benutzeranmeldung zu korrigieren -->
            <wf-button style="visibility: hidden;" params="signalName: 'Setpoint 1', writeValue: 1, buttonText: 'Write Value :1', cssClass: 'btn-success', projectAuthorization: 'irgendeinWert'"></wf-button>
        </div>
    </div>
</div>
