﻿<!--****************************************************************************************************************************************************************************************************************************************************
    Bühler+Scherler
--------------------------------------------------------------------------------------------------------------------------


--------------------------------------------------------------------------------------------------------------------------
ERSTELLT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0		R.Brunnschweiler	BS                  10.07.2017
--------------------------------------------------------------------------------------------------------------------------
GEÄNDERT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0       F.Sabljo            BS                  12.02.2018



********************************************************************************************************************************************************************************************************************************************************-->
<div class="container bs_content_container">
    <header>
        <h1 class="page-header bs-header-mittig">L06 Lüftung Heizraum BA.SL01</h1>
        <!--BUILDING CONTROL-->
    </header>
    <div class="col-lg-12">
        <div class="bs-responsive bs-business-lueftungen-L06LueftungHeizraumBA_SL01 hidden-xs">
            <!--Seiten-Verlinkungen (Pfeile auf der Seite)-->
            <a style="position: absolute; left: 0px; top: 460px; text-decoration: none;" title="Abluft" class="bs-pfeil-verlinkung-abluft wf wf-arrow wf-w"></a>
            <a style="position: absolute; left: 1816px; top: 460px; text-decoration: none;" title="Abluft" class="bs-pfeil-verlinkung-abluft wf wf-arrow wf-w"></a>
            <a style="position: absolute; left: 0px; top: 251px; text-decoration: none;" title="Aussenluft" class="bs-pfeil-verlinkung-aussenluft wf wf-arrow wf-w"></a>
            <a style="position: absolute; left: 1816px; top: 251px; text-decoration: none;" title="Aussenluft" class="bs-pfeil-verlinkung-aussenluft wf wf-arrow wf-w"></a>

            <!-- Widgets -->
            <!--Anlagenschalter, Sollwertfenster, Zeitschaltuhren, etc...-->
            <div style="position:absolute; left:1730px; top:635px" id="KLI02" title="L06 Lüftung Heizraum" data-bind="bsAnlageschalter_2Stufen_lfc: {
	dialogTitle: 'L06 Lüftung Heizraum ',
	signalName: 'Station_36',
    stromPfad: 'L06'
	}">
            </div>

            <div style="position:absolute; left:1775px; top:635px" id="KLI02_I201schaltuhr" title="Schaltuhr L06 Lüftung Heizraum" data-bind="bsSchaltuhr_lfc: {
	signalName: 'Station_36',
    uhr: 'su_L06',
	dialogTitle: 'Schaltuhr L06 Lüftung Heizraum'}">
            </div>

            <!--LE-->
            <div style="position:absolute; left: 611px; top: 471px;" id="V1" title="845M1" data-bind="bsMotor2Stufen_lfc: {
    dialogTitle: '845M1',
    signalName: 'Station_36',
    stromPfad: '845m1',
	motorAusrichtung: 'links',
	motortyp: 'ventilator',
	handLinks: '20',
	handOben: '10',
	stufe: '2',
	}">
            </div>

            <div style="position:absolute; left: 1239px; top: 263px;" id="V2" title="815M1" data-bind="bsMotor2Stufen_lfc: {
    dialogTitle: '815M1',
    signalName: 'Station_36',
    stromPfad: '815m1',
	motorAusrichtung: 'links',
	motortyp: 'ventilator',
	handLinks: '20',
	handOben: '10',
	stufe: '2',
	}">
            </div>

            <!--Wächter-->
            <div style="position:absolute; left: 619px; top: 415px;" id="W1" title="847B1" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Station_36.Flag.al_847b1',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left: 1246px; top: 207px;" id="W2" title="817B1" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Station_36.Flag.al_817b1',
     einheit: 'ohne',
     }">
            </div>

            <!--  -->
           
            <!-- Workaround um den Bug in der Benutzeranmeldung zu korrigieren -->
            <wf-button style="visibility: hidden;" params="signalName: 'Setpoint 1', writeValue: 1, buttonText: 'Write Value :1', cssClass: 'btn-success', projectAuthorization: 'irgendeinWert'"></wf-button>
        </div>
    </div>
</div>
