﻿<!--****************************************************************************************************************************************************************************************************************************************************
    Bühler+Scherler
--------------------------------------------------------------------------------------------------------------------------


--------------------------------------------------------------------------------------------------------------------------
ERSTELLT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0		R.Brunnschweiler	BS                  10.07.2017
--------------------------------------------------------------------------------------------------------------------------
GEÄNDERT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0       F.Sabljo            BS                  12.02.2018


********************************************************************************************************************************************************************************************************************************************************-->
<div class="container bs_content_container">
    <header>
        <h1 class="page-header bs-header-mittig">L02 Lüftung Verteilung Läden EG BA.SL01</h1>
        <!--BUILDING CONTROL-->
    </header>
    <div class="col-lg-12">
        <div class="bs-responsive bs-business-lueftungen-L02LueftungVerteilungLaedenEGBA_SL01 hidden-xs">
            <!--Seiten-Verlinkungen (Pfeile auf der Seite)-->

            <a style="position: absolute; left: 0px; top: 610px; text-decoration: none;" title="Zuluft" class="bs-pfeil-verlinkung-zuluft wf wf-arrow"></a>
            <a style="position: absolute; left: 0px; top: 562px; text-decoration: none;" title="Abluft" class="bs-pfeil-verlinkung-abluft wf wf-arrow wf-w"></a>

            <!-- Widgets -->

            <!-- Sollwert -->
            <div style="position:absolute; left:1676px; top:635px;" id="sw_basis_raumtemp_L02" title="Sollwert Raumtemperatur L02" data-bind="bsAusgabefeld: {
              signalName:'Station_36.Register.sw_basis_raumtemp_L02',
              typ: 'berechnetersollwert',
              einheit: '°C'
            }">
            </div>

            <!--Klappen-->
            <div style="position:absolute; left: 333px; top: 569px;" id="klappe_262y3" title="262Y3" data-bind="bsKlappe_lfc: {
    symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_36.Register.status_262y3',
    position: 'Buffer 3'
}">
            </div>

            <div style="position:absolute; left: 333px; top: 616px;" id="klappe_261y3" title="261Y3" data-bind="bsKlappe_lfc: {
    symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_36.Register.status_261y3',
    position: 'Buffer 3'
}">
            </div>

            <div style="position:absolute; left: 725px; top: 406px;" id="klappe_263y3" title="263Y3" data-bind="bsKlappe_lfc: {
    symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '90',
    signalName: 'Station_36.Register.status_263y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 656px; top: 406px;" id="klappe_264y3" title="264Y3" data-bind="bsKlappe_lfc: {
    symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '90',
    signalName: 'Station_36.Register.status_264y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1325px; top: 406px;" id="klappe_266y3" title="266Y3" data-bind="bsKlappe_lfc: {
    symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '90',
    signalName: 'Station_36.Register.status_266y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1391px; top: 406px;" id="klappe_265y3" title="265Y3" data-bind="bsKlappe_lfc: {
    symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '90',
    signalName: 'Station_36.Register.status_265y3',
    position: 'Buffer 3'
}"></div>

            <!-- Text -->
            <p style="position: absolute; left: 1550px; top: 628px;" class="bs-beschriftung-small-verteilung">Basis-Sollwert<br>Raumtemperatur</p>
            <p style="position: absolute; left: 529px; top: 32px;" class="bs-beschriftung-small-verteilung">Steigzone 13/C</p>
            <p style="position: absolute; left: 1200px; top: 32px;" class="bs-beschriftung-small-verteilung">Steigzone 18A/C</p>     

            <!--  -->
           
            <!-- Workaround um den Bug in der Benutzeranmeldung zu korrigieren -->
            <wf-button style="visibility: hidden;" params="signalName: 'Setpoint 1', writeValue: 1, buttonText: 'Write Value :1', cssClass: 'btn-success', projectAuthorization: 'irgendeinWert'"></wf-button>
        </div>
    </div>
</div>
