﻿<!--****************************************************************************************************************************************************************************************************************************************************
    Bühler+Scherler
--------------------------------------------------------------------------------------------------------------------------


--------------------------------------------------------------------------------------------------------------------------
ERSTELLT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0		R.Brunnschweiler	BS                  10.07.2017
--------------------------------------------------------------------------------------------------------------------------
GEÄNDERT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0       F.Sabljo            BS                  12.02.2018



********************************************************************************************************************************************************************************************************************************************************-->
<div class="container bs_content_container">
    <header>
        <h1 class="page-header bs-header-mittig">L07 Lüftung Zentrale Parking BA.SL01</h1>
        <!--BUILDING CONTROL-->
    </header>
    <div class="col-lg-12">
        <div class="bs-responsive bs-business-lueftungen-L07LueftungZentraleParkingBA_SL01 hidden-xs">
            <!--Seiten-Verlinkungen (Pfeile auf der Seite)-->
            <a style="position: absolute; left: 0px; top: 253px; text-decoration: none;" title="Abluft" class="bs-pfeil-verlinkung-abluft wf wf-arrow"></a>
            <a style="position: absolute; left: 1816px; top: 253px; text-decoration: none;" title="Abluft" class="bs-pfeil-verlinkung-abluft wf wf-arrow wf-w"></a>
            <a style="position: absolute; left: 0px; top: 462px; text-decoration: none;" title="Aussenluft" class="bs-pfeil-verlinkung-aussenluft wf wf-arrow"></a>
            <a style="position: absolute; left: 1816px; top: 462px; text-decoration: none;" title="Aussenluft" class="bs-pfeil-verlinkung-aussenluft wf wf-arrow wf-w"></a>
            <a style="position: absolute; left: 729px; top: -35px; text-decoration: none;" title="Fortluft" class="bs-pfeil-verlinkung-fortluft wf wf-arrow wf-n"></a>
            <a style="position: absolute; left: 1116px; top: -35px; text-decoration: none;" title="Fortluft" class="bs-pfeil-verlinkung-fortluft wf wf-arrow wf-n"></a>

            <!-- Widgets -->
            <!--Anlagenschalter, Sollwertfenster, Zeitschaltuhren, etc...-->
            <div style="position:absolute; left:1775px; top:635px" id="KLI02" title="L07 Lüftung Parking" data-bind="bsAnlageschalter_2Stufen_lfc: {
	dialogTitle: 'L07 Lüftung Parking ',
	signalName: 'Station_36',
    stromPfad: 'L07'
	}">
            </div>

            <!--LE-->
            <div style="position:absolute; left: 633px; top: 471px;" id="V1" title="915M1" data-bind="bsMotor2Stufen_lfc: {
    dialogTitle: '915M1',
    signalName: 'Station_36',
    stromPfad: '915m1',
  	motorAusrichtung: 'rechts',
   	motortyp: 'ventilator',
	handLinks: '20',
	handOben: '10',
	stufe: '2',
	}">
            </div>

            <div style="position:absolute; left: 1221px; top: 263px;" id="V2" title="1045M1" data-bind="bsMotor2Stufen_lfc: {
    dialogTitle: '1045M1',
    signalName: 'Station_36',
    stromPfad: '1045m1',
	motorAusrichtung: 'links',
	motortyp: 'ventilator',
	handLinks: '20',
	handOben: '10',
	stufe: '2',
	}">
            </div>

            <div style="position:absolute; left: 1221px; top: 471px;" id="V3" title="1015M1" data-bind="bsMotor2Stufen_lfc: {
    dialogTitle: '1015M1',
    signalName: 'Station_36',
    stromPfad: '1015m1',
	motorAusrichtung: 'links',
	motortyp: 'ventilator',
	handLinks: '20',
	handOben: '10',
	stufe: '2',
	}">
            </div>

            <div style="position:absolute; left: 633px; top: 263px;" id="V2" title="945M1" data-bind="bsMotor2Stufen_lfc: {
    dialogTitle: '945M1',
    signalName: 'Station_36',
    stromPfad: '945m1',
	motorAusrichtung: 'rechts',
	motortyp: 'ventilator',
	handLinks: '20',
	handOben: '10',
	stufe: '2',
	}">
            </div>

            <!--Klappen-->
            <div style="position:absolute; left: 414px; top: 262px;" id="K1" title="912Y3" data-bind="bsKlappe_lfc: {
    symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_36.Register.status_912y1',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 414px; top: 469px;" id="K2" title="912Y1" data-bind="bsKlappe_lfc: {
    symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_36.Register.status_912y1',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1440px; top: 262px;" id="K3" title="1012Y3" data-bind="bsKlappe_lfc: {
    symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_36.Register.status_1012y1',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1440px; top: 469px;" id="K4" title="1012Y1" data-bind="bsKlappe_lfc: {
    symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_36.Register.status_1012y1',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1635px; top: 469px;" id="K4" title="1061Y3" data-bind="bsKlappe_lfc: {
    symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_36.Register.status_1061y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 219px; top: 469px;" id="K2" title="961Y3" data-bind="bsKlappe_lfc: {
    symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_36.Register.status_961y3',
    position: 'Buffer 3'
}"></div>
            
            <!--Wächter-->
            <div style="position:absolute; left: 639px; top: 415px;" id="W1" title="917B1" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Station_36.Flag.al_917b1',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left: 1225px; top: 207px;" id="W2" title="1047B1" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Station_36.Flag.al_1047b1',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left: 1225px; top: 415px;" id="W1" title="1017B1" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Station_36.Flag.al_1017b1',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left: 639px; top: 207px;" id="W2" title="947B1" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Station_36.Flag.al_947b1',
     einheit: 'ohne',
     }">
            </div>

            <!-- Text -->
            <p style="position: absolute; left: 683px; top: 355px;" class="bs-beschriftung-small-verteilung">Allgemein</p>
            <p style="position: absolute; left: 1128px; top: 355px;" class="bs-beschriftung-small-verteilung">Hotel</p>
            <p style="position: absolute; left: 185px; top: 525px;" class="bs-beschriftung-small-verteilung">Keller - Parking</p>
            <p style="position: absolute; left: 1602px; top: 525px;" class="bs-beschriftung-small-verteilung">Keller - Parking</p>

            <!--  -->
           
            <!-- Workaround um den Bug in der Benutzeranmeldung zu korrigieren -->
            <wf-button style="visibility: hidden;" params="signalName: 'Setpoint 1', writeValue: 1, buttonText: 'Write Value :1', cssClass: 'btn-success', projectAuthorization: 'irgendeinWert'"></wf-button>
        </div>
    </div>
</div>
