﻿<!--****************************************************************************************************************************************************************************************************************************************************
    Bühler+Scherler
--------------------------------------------------------------------------------------------------------------------------


--------------------------------------------------------------------------------------------------------------------------
ERSTELLT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0		R.Brunnschweiler	BS                  10.07.2017
--------------------------------------------------------------------------------------------------------------------------
GEÄNDERT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0       F.Sabljo            BS                  12.02.2018



********************************************************************************************************************************************************************************************************************************************************-->
<div class="container bs_content_container">
    <header>
        <h1 class="page-header bs-header-mittig">L08 Entrauchung Parking BA.SL01</h1>
        <!--BUILDING CONTROL-->
    </header>
    <div class="col-lg-12">
        <div class="bs-responsive bs-business-lueftungen-L08EntrauchungParkingBA_SL01 hidden-xs">
            <!--Seiten-Verlinkungen (Pfeile auf der Seite)-->
            <a style="position: absolute; left: 413px; top: -35px; text-decoration: none;" title="Fortluft" class="bs-pfeil-verlinkung-fortluft wf wf-arrow wf-n"></a>
            <a style="position: absolute; left: 480px; top: -35px; text-decoration: none;" title="Fortluft" class="bs-pfeil-verlinkung-fortluft wf wf-arrow wf-n"></a>
            <a style="position: absolute; left: 1816px; top: 184px; text-decoration: none;" title="Fortluft" class="bs-pfeil-verlinkung-fortluft wf wf-arrow wf-w"></a>
            <a style="position: absolute; left: 1816px; top: 251px; text-decoration: none;" title="Fortluft" class="bs-pfeil-verlinkung-fortluft wf wf-arrow wf-w"></a>
            <a style="position: absolute; left: 1816px; top: 394px; text-decoration: none;" title="Aussenluft" class="bs-pfeil-verlinkung-aussenluft wf wf-arrow wf-w"></a>
            <a style="position: absolute; left: 1816px; top: 460px; text-decoration: none;" title="Aussenluft" class="bs-pfeil-verlinkung-aussenluft wf wf-arrow wf-w"></a>
            <a style="position: absolute; left: 0px; top: 394px; text-decoration: none;" title="Aussenluft" class="bs-pfeil-verlinkung-aussenluft wf wf-arrow wf-w"></a>
            <a style="position: absolute; left: 0px; top: 460px; text-decoration: none;" title="Aussenluft" class="bs-pfeil-verlinkung-aussenluft wf wf-arrow wf-w"></a>

            <!-- Widgets -->
            <!--LE-->
            <div style="position:absolute; left: 1063px; top: 262px;" id="V1" title="1147M1" data-bind="bsMotorStufen_lfc: {
    dialogTitle: '1147M1',
    signalName: 'Station_36',
    stromPfad: '1147m1',
	motorAusrichtung: 'links',
	motortyp: 'ventilator',
	handLinks: '20',
	handOben: '10',
	stufe: '0',
	}">
            </div>

            <div style="position:absolute; left: 1063px; top: 194px;" id="V2" title="1145M1" data-bind="bsMotorStufen_lfc: {
    dialogTitle: '1145M1',
    signalName: 'Station_36',
    stromPfad: '1145m1',
	motorAusrichtung: 'links',
	motortyp: 'ventilator',
	handLinks: '20',
	handOben: '10',
	stufe: '0',
	}">
            </div>

            <div style="position:absolute; left: 1063px; top: 471px;" id="V3" title="1117M1" data-bind="bsMotorStufen_lfc: {
    dialogTitle: '1117M1',
    signalName: 'Station_36',
    stromPfad: '1117m1',
	motorAusrichtung: 'links',
	motortyp: 'ventilator',
	handLinks: '20',
	handOben: '10',
	stufe: '0',
	}">
            </div>

            <div style="position:absolute; left: 1063px; top: 403px;" id="V4" title="1115M1" data-bind="bsMotorStufen_lfc: {
    dialogTitle: '1115M1',
    signalName: 'Station_36',
    stromPfad: '1115m1',
	motorAusrichtung: 'links',
	motortyp: 'ventilator',
	handLinks: '20',
	handOben: '10',
	stufe: '0',
	}">
            </div>

            <!--Klappen-->
            <div style="position:absolute; left: 564px; top: 402px;" id="K1" title="1161Y1" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_36.Register.status_1161y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 565px; top: 467px;" id="K2" title="1162Y1" data-bind="bsKlappe_lfc: {
	symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_36.Register.status_1162y3',
    position: 'Buffer 3'
}"></div>

            <!--  -->
           
            <!-- Workaround um den Bug in der Benutzeranmeldung zu korrigieren -->
            <wf-button style="visibility: hidden;" params="signalName: 'Setpoint 1', writeValue: 1, buttonText: 'Write Value :1', cssClass: 'btn-success', projectAuthorization: 'irgendeinWert'"></wf-button>
        </div>
    </div>
</div>
