﻿<!--****************************************************************************************************************************************************************************************************************************************************
    Bühler+Scherler
--------------------------------------------------------------------------------------------------------------------------


--------------------------------------------------------------------------------------------------------------------------
ERSTELLT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0		R.Brunnschweiler	BS                  10.07.2017
--------------------------------------------------------------------------------------------------------------------------
GEÄNDERT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0       F.Sabljo            BS                  12.02.2018



********************************************************************************************************************************************************************************************************************************************************-->
<div class="container bs_content_container">
    <header>
        <h1 class="page-header bs-header-mittig">L03 Lüftung Zentrale Büro/Schule BA.SL01</h1>
        <!--BUILDING CONTROL-->
    </header>
    <div class="col-lg-12">
        <div class="bs-responsive bs-business-lueftungen-L03LueftungZentraleBueroSchuleBA_SL01 hidden-xs">
            <!--Seiten-Verlinkungen (Pfeile auf der Seite)-->
            <a style="position: absolute; left: 0px; top: 238px; text-decoration: none;" title="Aussenluft" class="bs-pfeil-verlinkung-aussenluft wf wf-arrow"></a>
            <a style="position: absolute; left: 0px; top: 423px; text-decoration: none;" title="Fortluft" class="bs-pfeil-verlinkung-fortluft wf wf-arrow wf-w"></a>
            <a style="position: absolute; left: 1816px; top: 425px; text-decoration: none;" title="Zuluft" class="bs-pfeil-verlinkung-zuluft wf wf-arrow"></a>
            <a style="position: absolute; left: 1816px; top: 236px; text-decoration: none;" title="Abluft" class="bs-pfeil-verlinkung-abluft wf wf-arrow wf-w"></a>

            <!-- Widget -->
            <!-- Sollwert -->
            <div style="position:absolute; left: 1727.5px; top: 162px;" id="sw_diffdruck_abl_449b1" title="Sollwert Differenzdruck 449B1" data-bind="bsAusgabefeld: {
              signalName:'Station_36.Register.sw_diffdruck_abl_L03',
              typ: 'berechnetersollwert',
              einheit: 'Pa'
            }">
            </div>

            <div style="position:absolute; left: 1727.5px; top: 351px;" id="sw_diffdruck_zul_419b1" title="Sollwert Differenzdruck 419B1" data-bind="bsAusgabefeld: {
              signalName:'Station_36.Register.sw_diffdruck_zul_L03',
              typ: 'berechnetersollwert',
              einheit: 'Pa'
            }">
            </div>

            <div style="position:absolute; left: 1637.5px; top: 351px;" id="sw_temp_418b1" title="Sollwert Temperaturfühler 418B1" data-bind="bsAusgabefeld: {
              signalName:'Station_36.Register.sww_418b1',
              typ: 'berechnetersollwert',
              einheit: '°C'
            }">
            </div>

            <div style="position:absolute; left: 1027.51px; top: 325.229px;" id="klappe_452y1" title="WRG-Klappe 452Y1" data-bind="bsAusgabefeld: {
              signalName:'Station_36.Register.AO289_sw_452y1',
              typ: 'berechnetersollwert',
              einheit: '%'
            }">
            </div>

            <div style="position:absolute; left: 684px; top: 470px;" id="sw_445u1" title="Sollwert Frequenzumrichter 445U1" data-bind="bsAusgabefeld: {
              signalName:'Station_36.Register.AO051_sw_445u1',
              typ: 'berechnetersollwert',
              einheit: '%'
            }">
            </div>

            <div style="position:absolute; left: 1328px; top: 470px;" id="sw_415u1" title="Sollwert Frequenzumrichter 415U1" data-bind="bsAusgabefeld: {
              signalName:'Station_36.Register.AO050_sw_415u1',
              typ: 'berechnetersollwert',
              einheit: '%'
            }">
            </div>

            <!--Anlagenschalter, Sollwertfenster, Zeitschaltuhren, etc...-->
            <div style="position:absolute; left:1685px; top:635px" id="L03 Lüftung Büro / Schule" title="L03 Lüftung Büro / Schule" data-bind="bsAnlageschalter_lfc: {
	dialogTitle: 'Betriebswahlschalter L03 Lüftung Büro / Schule',
	signalName: 'Station_36',
    stromPfad: 'L03'
	}">
            </div>

            <div style="position:absolute; left:1730px; top:635px" id="KLI02_I110sollwertfenster" title="Sollwerte L03 Lüftung Büro / Schule" data-bind="bsSollwertFenster: {
	dialogTitle: 'Sollwerte L03 Lüftung Büro / Schule',
	authorisierung: 'Administration',
	signals: [
		{ label: 'Zulufttemperatur Winter [°C]', signalname: 'Station_36.Register.sw_basis_raumtemp_L03', untergrenze: '', obergrenze: '' },
		{ label: 'Differenzdruck ZUL [Pa]', signalname: 'Station_36.Register.sw_diffdruck_zul_L03', untergrenze: '', obergrenze: '' },
		{ label: 'Differenzdruck ABL [Pa]', signalname: 'Station_36.Register.sw_diffdruck_abl_L03', untergrenze: '', obergrenze: '' }
		]}">
            </div>

            <div style="position:absolute; left:1775px; top:635px" id="KLI02_I201schaltuhr" title="Schaltuhr Lüftungsanlage L03 Büro / Schule" data-bind="bsSchaltuhr_lfc: {
	signalName: 'Station_36',
    uhr: 'su_L03',
	dialogTitle: 'Schaltuhr Lüftungsanlage L03 Büro / Schule'}">
            </div>

            <div style="position:absolute; left:1595px; top:635px" id="L03 Lüftung Hotelzimmer" title="L03 Lüftung Hotelzimmer" data-bind="bsAnlageschalter_lfc: {
	dialogTitle: 'Betriebswahlschalter L03 Lüftung Hotelzimmer',
	signalName: 'Station_36',
    stromPfad: 'L03_Hotel'
	}">
            </div>


            <div style="position:absolute; left:1640px; top:635px" id="KLI02_I201schaltuhr" title="Schaltuhr Lüftungsanlage L03 Hotelzimmer Business" data-bind="bsSchaltuhr_lfc: {
	signalName: 'Station_36',
    uhr: 'su_L03_Hotel',
	dialogTitle: 'Schaltuhr Lüftungsanlage L03 Hotelzimmer Business'}">
            </div>

            <!--LE-->
            <div style="position:absolute; left: 700px; top: 433px;" id="Venti_445m1" title="445M1" data-bind="bsMotorStufen_lfc: {
    dialogTitle: '445M1',
    signalName: 'Station_36',
    stromPfad: '445m1',
	motorAusrichtung: 'links',
	motortyp: 'ventilator',
	handLinks: '20',
	handOben: '10',
	}">
            </div>

            <div style="position:absolute; left: 1343.5px; top: 433px;" id="Venti_415m1" title="415M1" data-bind="bsMotorStufen_lfc: {
    dialogTitle: '415M1',
    signalName: 'Station_36',
    stromPfad: '415m1',
	motorAusrichtung: 'rechts',
	motortyp: 'ventilator',
	handLinks: '20',
	handOben: '10',
	}">
            </div>

            <div style="position:absolute; left: 1094px; top: 499.5px;" id="Pumpe 425m1" title="425M1" data-bind="bsMotorStufen_lfc: {
    dialogTitle: '425M1',
    signalName: 'Station_36',
    stromPfad: '425m1',
	motorAusrichtung: 'oben',
	motortyp: 'pumpe',
	handLinks: '20',
	handOben: '10',
	}">
            </div>

            <!--Ventil-->
            <div style="position:absolute; left: 1091.5px; top: 544px" id="ventil_426y1" title="426Y1" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '42',
	anzeigefeldOben: '10',
	winkel: '180',
	signalName: 'Station_36.Register.AO049_sw_426y1'}">
            </div>

            <div style="position:absolute; left: 1254px; top: 544px" id="ventil_436y1" title="436Y1" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '42',
	anzeigefeldOben: '10',
	winkel: '180',
	signalName: 'Station_36.Register.AO288_sw_436y1'}">
            </div>

            <!--Klappen-->
            <div style="position:absolute; left: 414px; top: 242px;" id="klappe_412y1" title="412Y1" data-bind="bsKlappe_lfc: {
    symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
	signalName: 'Station_36.Register.status_412y1',
    position: 'Buffer 3'
  }">
            </div>

            <div style="position:absolute; left: 414px; top: 430px;" id="klappe_412y3" title="412Y3" data-bind="bsKlappe_lfc: {
    symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
	signalName: 'Station_36.Register.status_412y1',
    position: 'Buffer 3'
  }">
            </div>

            <div style="position:absolute; left: 969px; top: 313px;" id="klappe_452y1" title="452Y1" data-bind="bsKlappe_lfc_without_state: {
    symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '315',
    signalName: 'Station_36.Register.AO289_sw_452y1',
    position: 'Buffer 3'
}">
            </div>

            <div style="position:absolute; left: 927px; top: 272.5px;" id="klappe_452y1" title="452Y1" data-bind="bsKlappe_lfc_without_state: {
    symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '315',
    signalName: 'Station_36.Register.AO289_sw_452y1',
    position: 'Buffer 3'
}">
            </div>

            <!--TPHSensor-->
            <div style="position:absolute; left: 180px; top: 212px;" id="TP1" title="411B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '0',
	sensortyp: 'T',
	signalName: 'Station_36.Register.AI711_temp_411b1',
	handLinks: '12',
	handOben: '2',
	}">
            </div>

            <div style="position:absolute; left: 180px; top: 401px;" id="temp_448b1" title="448B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '0',
	sensortyp: 'T',
	signalName: 'Station_36.Register.AI724_temp_448b1',
	handLinks: '12',
	handOben: '2',
	}">
            </div>

            <div style="position:absolute; left: 1660px; top: 212px;" id="temp_441b1" title="441B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '0',
	sensortyp: 'T',
	signalName: 'Station_36.Register.AI723_temp_441b1',
	handLinks: '12',
	handOben: '2',
	}">
            </div>

            <div style="position:absolute; left: 1660px; top: 401px;" id="temp_418b1" title="418B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '0',
	sensortyp: 'T',
	signalName: 'Station_36.Register.AI720_temp_418b1',
	handLinks: '12',
	handOben: '2',
	}">
            </div>

            <div style="position:absolute; left: 1750px; top: 212px;" id="pd_449b1" title="449B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '0',
	sensortyp: 'P',
    signalName: 'Station_36.Register.AI725_pd_449b1',
	handLinks: '12',
	handOben: '2',
    einheit: 'Pa'
	}">
            </div>

            <div style="position:absolute; left: 1750px; top: 401px;" id="pd_419b1" title="419B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '0',
	sensortyp: 'P',
    signalName: 'Station_36.Register.AI721_pd_419b1',
	handLinks: '12',
	handOben: '2',
    einheit: 'Pa'
	}">
            </div>

            <div style="position:absolute; left: 1300px; top: 599px;" id="temp_435b1" title="435B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '90',
	sensortyp: 'T',
    signalName: 'Station_36.Register.AI722_temp_435b1',
	handLinks: '12',
	handOben: '2',
   	anzeigefeldLinks: '26',
	anzeigefeldOben: '0',
	}">
            </div>

            <!--Wächter-->
            <div style="position:absolute; left: 704px; top: 189px" id="diffdruck_413b1" title="413B1" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Station_36.Flag.al_413b1_filter',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left: 704px; top: 377px" id="diffdruck_447b1" title="447B1" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Station_36.Flag.al_447b1',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left: 1346px; top: 189px" id="diffdruck_443b1" title="443B1" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Station_36.Flag.al_443b1_filter',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left: 1346px; top: 377px" id="diffdruck_417b1" title="417B1" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Station_36.Flag.al_417b1',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left: 1161.5px; top: 401px" id="frost_414b1" title="414B1" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '35',
     winkel: '0',
     sensortyp: 'F',
     signalName: 'Station_36.Flag.al_414b1_frost',
     einheit: 'ohne',
     }">
            </div>

            <!-- Text -->
            <p style="position: absolute; left: 871px; top: 341px;" class="bs-beschriftung-medium">WRG</p>
            <p style="position: absolute; left: 1094px; top: 325px;" class="bs-beschriftung-small-verteilung">Bypass</p>

            <!--  -->
            <!-- Workaround um den Bug in der Benutzeranmeldung zu korrigieren -->
            <wf-button style="visibility: hidden;" params="signalName: 'Setpoint 1', writeValue: 1, buttonText: 'Write Value :1', cssClass: 'btn-success', projectAuthorization: 'irgendeinWert'"></wf-button>
        </div>
    </div>
</div>
