﻿<!--****************************************************************************************************************************************************************************************************************************************************
    Bühler+Scherler
--------------------------------------------------------------------------------------------------------------------------


--------------------------------------------------------------------------------------------------------------------------
ERSTELLT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0		R.Brunnschweiler	BS                  10.07.2017
--------------------------------------------------------------------------------------------------------------------------
GEÄNDERT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0       F.Sabljo            BS                  12.02.2018



********************************************************************************************************************************************************************************************************************************************************-->
<div class="container bs_content_container">
    <header>
        <h1 class="page-header bs-header-mittig">L05 Lüftung Keller Allgemein A3 BA.SL01</h1>
        <!--BUILDING CONTROL-->
    </header>
    <div class="col-lg-12">
        <div class="bs-responsive bs-business-lueftungen-L05LueftungenKellerAllgemeinA3BA_SL01 hidden-xs">
            <!--Seiten-Verlinkungen (Pfeile auf der Seite)-->
            <a style="position: absolute; left: 0px; top: 460px; text-decoration: none;" title="Abluft" class="bs-pfeil-verlinkung-abluft wf wf-arrow wf-w"></a>
            <a style="position: absolute; left: 1816px; top: 460px; text-decoration: none;" title="Abluft" class="bs-pfeil-verlinkung-abluft wf wf-arrow wf-w"></a>
            <a style="position: absolute; left: 0px; top: 251px; text-decoration: none;" title="Aussenluft" class="bs-pfeil-verlinkung-aussenluft wf wf-arrow wf-w"></a>
            <a style="position: absolute; left: 1816px; top: 251px; text-decoration: none;" title="Aussenluft" class="bs-pfeil-verlinkung-aussenluft wf wf-arrow wf-w"></a>

            <!-- Widgets -->
            <!--Anlagenschalter, Sollwertfenster, Zeitschaltuhren, etc...-->
            <div style="position:absolute; left:1730px; top:635px" id="KLI02" title="Lüftung Keller Allgemein A2/A3" data-bind="bsAnlageschalter_lfc: {
	dialogTitle: 'Lüftung Keller Allgemein A2/A3 ',
	signalName: 'Station_36',
    stromPfad: 'L05'
	}">
            </div>

            <div style="position:absolute; left:1775px; top:635px" id="KLI02_I201schaltuhr" title="Schaltuhr L05 Keller Allgemein A2 / A3" data-bind="bsSchaltuhr: {
	signalName: 'Station_36',
    uhr: 'su_L05',                
	dialogTitle: 'Schaltuhr L05 Keller Allgemein A2 / A3' }">
            </div>
            <div style="position:absolute; left: 611px; top: 471px;" id="V1" title="745M1" data-bind="bsMotorStufen_lfc: {
    dialogTitle: '745M1',
    signalName: 'Station_36',
    stromPfad: '745m1',
	motorAusrichtung: 'links',
	motortyp: 'ventilator',
	handLinks: '20',
	handOben: '10',
	stufe: '0',
	}">
            </div>

            <div style="position:absolute; left: 1239px; top: 263px;" id="V2" title="715M1" data-bind="bsMotorStufen_lfc: {
    dialogTitle: '715M1',
    signalName: 'Station_36',
    stromPfad: '715m1',
	motorAusrichtung: 'links',
	motortyp: 'ventilator',
	handLinks: '20',
	handOben: '10',
	stufe: '0',
	}">
            </div>

            <!--Klappen-->
            <div style="position:absolute; left: 433px; top: 469px;" id="K1" title="766Y3" data-bind="bsKlappe_lfc: {
    symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_36.Register.status_766y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1000px; top: 260px;" id="K2" title="761Y3" data-bind="bsKlappe_lfc: {
    symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_36.Register.status_761y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 789px; top: 469px;" id="K3" title="765Y3" data-bind="bsKlappe_lfc: {
    symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_36.Register.status_765y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 789px; top: 260px;" id="K4" title="762Y3" data-bind="bsKlappe_lfc: {
    symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_36.Register.status_762y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 611px; top: 260px;" id="K5" title="763Y3" data-bind="bsKlappe_lfc: {
    symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_36.Register.status_763y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 433px; top: 260px;" id="K6" title="764Y3" data-bind="bsKlappe_lfc: {
    symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_36.Register.status_764y3',
    position: 'Buffer 3'
}"></div>
            <!--Wächter-->
            <div style="position:absolute; left: 619px; top: 415px;" id="W1" title="747B1" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Station_36.Flag.al_747b1',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left: 1246px; top: 207px;" id="W2" title="717B1" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '0',
     winkel: '0',
     sensortyp: '∆P',
     signalName: 'Station_36.Flag.al_717b1',
     einheit: 'ohne',
     }">
            </div>

            <!--  -->
           
            <!-- Workaround um den Bug in der Benutzeranmeldung zu korrigieren -->
            <wf-button style="visibility: hidden;" params="signalName: 'Setpoint 1', writeValue: 1, buttonText: 'Write Value :1', cssClass: 'btn-success', projectAuthorization: 'irgendeinWert'"></wf-button>
        </div>
    </div>
</div>
