﻿<!--****************************************************************************************************************************************************************************************************************************************************
    Bühler+Scherler
--------------------------------------------------------------------------------------------------------------------------


--------------------------------------------------------------------------------------------------------------------------
ERSTELLT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0		R.Brunnschweiler	BS                  10.07.2017
--------------------------------------------------------------------------------------------------------------------------
GEÄNDERT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0       F.Sabljo            BS                  12.02.2018



********************************************************************************************************************************************************************************************************************************************************-->
<div class="container bs_content_container">
    <header>
        <h1 class="page-header bs-header-mittig">L03 Lüftung Verteilung 1 Büro/Schule BA.SL01</h1>
        <!--BUILDING CONTROL-->
    </header>
    <div class="col-lg-12">
        <div class="bs-responsive bs-business-lueftungen-L03LueftungVerteilung1BueroSchuleBA_SL01 hidden-xs">
            <!--Seiten-Verlinkungen (Pfeile auf der Seite)-->

            <a style="position: absolute; left: 0px; top: 635px; text-decoration: none;" title="Zuluft" class="bs-pfeil-verlinkung-zuluft wf wf-arrow"></a>
            <a style="position: absolute; left: 0px; top: 599px; text-decoration: none;" title="Abluft" class="bs-pfeil-verlinkung-abluft wf wf-arrow wf-w"></a>
            <a style="position: absolute; left: 1815px; top: 636px; text-decoration: none;" title="Zuluft" class="bs-pfeil-verlinkung-zuluft wf wf-arrow"></a>
            <a style="position: absolute; left: 1815px; top: 599px; text-decoration: none;" title="Abluft" class="bs-pfeil-verlinkung-abluft wf wf-arrow wf-w"></a>
            <a style="position: absolute; left: 1815px; top: 508px; text-decoration: none;" title="Zuluft" class="bs-pfeil-verlinkung-zuluft wf wf-arrow"></a>
            <a style="position: absolute; left: 1815px; top: 556px; text-decoration: none;" title="Abluft" class="bs-pfeil-verlinkung-abluft wf wf-arrow wf-w"></a>
            <a style="position: absolute; left: 1815px; top: 409px; text-decoration: none;" title="Zuluft" class="bs-pfeil-verlinkung-zuluft wf wf-arrow"></a>
            <a style="position: absolute; left: 1815px; top: 458px; text-decoration: none;" title="Abluft" class="bs-pfeil-verlinkung-abluft wf wf-arrow wf-w"></a>
            <a style="position: absolute; left: 1815px; top: 310px; text-decoration: none;" title="Zuluft" class="bs-pfeil-verlinkung-zuluft wf wf-arrow"></a>
            <a style="position: absolute; left: 1815px; top: 358px; text-decoration: none;" title="Abluft" class="bs-pfeil-verlinkung-abluft wf wf-arrow wf-w"></a>
            <a style="position: absolute; left: 1815px; top: 211px; text-decoration: none;" title="Zuluft" class="bs-pfeil-verlinkung-zuluft wf wf-arrow"></a>
            <a style="position: absolute; left: 1815px; top: 259px; text-decoration: none;" title="Abluft" class="bs-pfeil-verlinkung-abluft wf wf-arrow wf-w"></a>
            <a style="position: absolute; left: 1815px; top: 112px; text-decoration: none;" title="Zuluft" class="bs-pfeil-verlinkung-zuluft wf wf-arrow"></a>
            <a style="position: absolute; left: 1815px; top: 160px; text-decoration: none;" title="Abluft" class="bs-pfeil-verlinkung-abluft wf wf-arrow wf-w"></a>
            <a style="position: absolute; left: 1815px; top: 13px; text-decoration: none;" title="Zuluft" class="bs-pfeil-verlinkung-zuluft wf wf-arrow"></a>
            <a style="position: absolute; left: 1815px; top: 61px; text-decoration: none;" title="Abluft" class="bs-pfeil-verlinkung-abluft wf wf-arrow wf-w"></a>

            <!-- Widgets -->

            <!-- Sollwert -->
            <div style="position:absolute; left: 507px; top: 141px;" id="sw_basis_raumtemp_L03" title="Sollwert Raumtemperatur L03" data-bind="bsAusgabefeld: {
              signalName:'Station_36.Register.sw_basis_raumtemp_L03',
              typ: 'berechnetersollwert',
              einheit: '°C'
            }">
            </div>

            <!--Klappen-->
            <div style="position:absolute; left: 503px; top: 463px;" id="klappe_461y3" title="461Y3" data-bind="bsKlappe_lfc: {
    symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_36.Register.status_461y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 503px; top: 513px;" id="klappe_462y3" title="462Y3" data-bind="bsKlappe_lfc: {
    symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_36.Register.status_462y3',
    position: 'Buffer 3'
}"></div>

            <!--<div style="position:absolute; left: 1490px; top: 563px;" id="klappe_470y3" title="470Y3" data-bind="bsKlappe_lfc: {
    symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_36.Register.status_470y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1490px; top: 513px;" id="klappe_467y3" title="467Y3" data-bind="bsKlappe_lfc: {
    symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_36.Register.status_467y3',
    position: 'Buffer 3'
}"></div>-->

            <div style="position:absolute; left: 1490px; top: 463px;" id="klappe_464y3" title="464Y3" data-bind="bsKlappe_lfc: {
    symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_36.Register.status_464y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1490px; top: 414px;" id="klappe_463y3" title="463Y3" data-bind="bsKlappe_lfc: {
    symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_36.Register.status_463y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1490px; top: 365px;" id="klappe_466y3" title="466Y3" data-bind="bsKlappe_lfc: {
    symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_36.Register.status_466y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1490px; top: 315px;" id="klappe_465y3" title="465Y3" data-bind="bsKlappe_lfc: {
    symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_36.Register.status_465y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1490px; top: 266px;" id="klappe_469y3" title="469Y3" data-bind="bsKlappe_lfc: {
    symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_36.Register.status_469y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1490px; top: 216px;" id="klappe_468y3" title="468Y3" data-bind="bsKlappe_lfc: {
    symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_36.Register.status_468y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1490px; top: 167px;" id="klappe_472y3" title="472Y3" data-bind="bsKlappe_lfc: {
    symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_36.Register.status_472y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1490px; top: 117px;" id="klappe_471y3" title="471Y3" data-bind="bsKlappe_lfc: {
    symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_36.Register.status_471y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1490px; top: 67px;" id="klappe_475y3" title="475Y3" data-bind="bsKlappe_lfc: {
    symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_36.Register.status_475y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1490px; top: 17px;" id="klappe_474y3" title="474Y3" data-bind="bsKlappe_lfc: {
    symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_36.Register.status_474y3',
    position: 'Buffer 3'
}"></div>

            <div style="position:absolute; left: 1676px; top: 365px;" id="klappe_526y3" title="526Y3" data-bind="bsKlappe_lfc: {
    symbol:'bs bs-klappe-fahrend',
    typ: 'digital',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-62',
	anzeigefeldOben: '10',
	winkel: '0',
    signalName: 'Station_36.Register.status_526y3',
    position: 'Buffer 3'
}"></div>

            <!-- Text -->
            <p style="position: absolute; left: 380px; top: 133px;" class="bs-beschriftung-small-verteilung">Basis-Sollwert<br>Raumtemperatur</p>
            <p style="position: absolute; left: 943px; top: 334px;" class="bs-beschriftung-small-verteilung">Hotelzimmer 2.54-2.56<br>Housekeeping</p>
            <p style="position: absolute; left: 1462px; top: -13px;" class="bs-beschriftung-small-verteilung">Steigzone 21/I-L</p>
            <p style="position: absolute; left: 584px; top: 500px;" class="bs-beschriftung-small-verteilung">UG</p>
            <p style="position: absolute; left:1794px; top: 551px;" class="bs-beschriftung-small-verteilung">EG</p>
            <p style="position: absolute; left:1779px; top: 452px;" class="bs-beschriftung-small-verteilung">1.OG</p>
            <p style="position: absolute; left:1779px; top: 353px;" class="bs-beschriftung-small-verteilung">2.OG</p>
            <p style="position: absolute; left:1779px; top: 254px;" class="bs-beschriftung-small-verteilung">3.OG</p>
            <p style="position: absolute; left:1779px; top: 155px;" class="bs-beschriftung-small-verteilung">4.OG</p>
            <p style="position: absolute; left:1779px; top: 56px;" class="bs-beschriftung-small-verteilung">5.OG</p>
            <p style="position: absolute; left:720px; top: 482px;" class="bs-beschriftung-large">A</p>

            <!--  -->
           
            <!-- Workaround um den Bug in der Benutzeranmeldung zu korrigieren -->
            <wf-button style="visibility: hidden;" params="signalName: 'Setpoint 1', writeValue: 1, buttonText: 'Write Value :1', cssClass: 'btn-success', projectAuthorization: 'irgendeinWert'"></wf-button>
        </div>
    </div>
</div>
