﻿
/* ------------------------------
    Production Demo - SVG parts 
------------------------------ */

/* State 1 */
.state1 .base {
    fill: #0c9900 !important;
}

.state1 .right {
    fill: #0c9900 !important;
}

.state1 .left {
    fill: #0c9900 !important;
}

.state1 .outline {
    fill: none;
    stroke: #eee;
}


/* State 2 */
.state2 .base {
    fill: #df292f !important;
}

.state2 .right {
    fill: #df292f !important;
}

.state2 .left {
    fill: #df292f !important;
}

.state2 .outline {
    fill: none;
    stroke: #eee;
}




.wf-slider-demo-image {
    height: 600px;
}

.wf-demo-image {
    height: 350px;
    width: 100%;
}
#wf-demo-production.wf-demo-image,
#wf-demo-production .wf-slider-demo-image {
    background: transparent url(images/presentation/demo_production_html_1.png) center center no-repeat;
    -ms-background-size: contain;
    background-size: contain;
}

#wf-demo-hvac.wf-demo-image,
#wf-demo-hvac .wf-slider-demo-image {
    background: transparent url(images/presentation/demo_hvac_html_1.png) center center no-repeat;
    -ms-background-size: contain;
    background-size: contain;
}

#wf-demo-smarthome.wf-demo-image,
#wf-demo-smarthome .wf-slider-demo-image {
    background: transparent url(images/presentation/demo_smarthome_html_1.png) center center no-repeat;
    -ms-background-size: contain;
    background-size: contain;
}


#wf-demo-bhkw.wf-demo-image,
#wf-demo-bhkw .wf-slider-demo-image {
    background: transparent url(images/presentation/demo_bhkw_html_1.png) center center no-repeat;
    -ms-background-size: contain;
    background-size: contain;
}



/*-------------------------------------*/
/* Styles for the Building DEMO page  */
/*-------------------------------------*/

.building_floor {
    position: relative;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 470px;
    height: 610px;
    border: 0 solid #eee;
}

.room1 {
    position: absolute;
    top: 26%;
    left: 26%;
}

.room2 {
    position: absolute;
    top: 16%;
    left: 66%;
}

.room3 {
    position: absolute;
    top: 40%;
    left: 80%;
}

.room4 {
    position: absolute;
    top: 66%;
    left: 80%;
}

.room5 {
    position: absolute;
    top: 80%;
    left: 18%;
}

.room6 {
    position: absolute;
    top: 68%;
    left: 56%;
}

.room1_blinds {
    position: absolute;
    top: 18%;
    left: 6%;
}

.room1_temp {
    position: absolute;
    top: 24%;
    left: 48%;
}


.floor-element,
.floor-element .indicator.normal,
.floor-element .indicator.state1,
.floor-element .indicator.state2,
.floor-element .indicator.state3,
.floor-element .indicator.state4 {
    position: absolute;
    background: none;
}

    .floor-element .indicator {
        width: 100%;
        height: 100%;
    }

    .floor-element .indicator-background {
        background: none;
        opacity: 0.3;
    }

#floor-ground {
    position: absolute;
    width: 470px;
    height: 610px;
    background: transparent url(images/rooms/building_floor0.png) center center no-repeat;
    -moz-background-size: contain;
    -o-background-size: contain;
    -webkit-background-size: contain;
    background-size: contain;
}

.blinds-popover-content {
    width: 230px;
    height: 50px;
}

.light-popover-content {
    width: 200px;
    height: 80px;
}

.light-control-popover-content {
    width: 200px;
    height: 215px;
}

.temp-popover-content {
    width: 200px;
}

#room1_1 {
    top: 10px;
    left: 8px;
    width: 240px;
    height: 425px;
}

    #room1_1 .state1 .indicator-background {
        background: transparent url(images/rooms/room1_1.png) no-repeat;
        background-size: cover;
    }

#room1_2 {
    top: 10px;
    left: 250px;
    width: 215px;
    height: 215px;
}

    #room1_2 .state1 .indicator-background {
        background: transparent url(images/rooms/room1_2.png) no-repeat;
        background-size: cover;
    }

#room1_3 {
    top: 190px;
    left: 320px;
    width: 144px;
    height: 120px;
}

    #room1_3 .state1 .indicator-background {
        background: transparent url(images/rooms/room1_3.png) no-repeat;
        background-size: cover;
    }

#room1_4 {
    top: 308px;
    left: 320px;
    width: 144px;
    height: 175px;
}

    #room1_4 .state1 .indicator-background {
        background: transparent url(images/rooms/room1_4.png) no-repeat;
        background-size: cover;
    }

#room1_5 {
    top: 480px;
    left: 247px;
    width: 215px;
    height: 125px;
}

    #room1_5 .state1 .indicator-background {
        background: transparent url(images/rooms/room1_5.png) no-repeat;
        background-size: cover;
    }

#room1_8 {
    top: 435px;
    left: 8px;
    width: 135px;
    height: 169px;
}

    #room1_8 .state1 .indicator-background {
        background: transparent url(images/rooms/room1_8.png) no-repeat;
        background-size: cover;
    }

#room1_9 {
    top: 225px;
    left: 193px;
    width: 125px;
    height: 255px;
}

    #room1_9 .state1 .indicator-background {
        background: transparent url(images/rooms/room1_9.png) no-repeat;
        background-size: cover;
    }

.data-trend-bar.buildingTempTrendBar {
    top: -55px;
}


/*----------------------------------------*/
/* Styles for the Production Floor DEMO   */
/*----------------------------------------*/

.machine-popover-content {
    width: 200px;
    height: 270px;
}

.legend-popover-content {
    font-size: 12px;
    line-height: 20px;
}

/* Dashboard Panels headers*/


.dashboard-machines .panel-default:hover {
    border-color: #aaa;
}

.dashboard-machines .panel-default .panel-heading,
.modal-alarm-details .panel-default {
    background: #ddd;
}

    .dashboard-machines .panel-default .panel-heading .panel-title {
        color: #333;
    }


.dashboard-machines .panel {
    border-color: #ccc;
}


.dashboard-machines .panel-auto:hover {
    border-color: #0c9900;
}

.dashboard-machines .panel-auto .panel-heading {
    background: #0c9900;
}

    .dashboard-machines .panel-auto .panel-heading .panel-title {
        color: #fff;
    }

.dashboard-machines .panel-alarm:hover {
    border-color: #da1a1a;
    cursor: pointer;
    -webkit-transition: all 0.25s ease-in 0;
    -moz-transition: all 0.25s ease-in 0;
    -o-transition: all 0.25s ease-in 0;
    transition: all 0.25s ease-in 0;
}

.dashboard-machines .panel-alarm .panel-heading {
    background: #da1a1a;
}

    .dashboard-machines .panel-alarm .panel-heading .panel-title {
        color: #fff;
    }


.dashboard-machines .panel-warning:hover {
    border-color: #E08F00;
}

.dashboard-machines .panel-warning .panel-heading {
    background: #E08F00;
}

    .dashboard-machines .panel-warning .panel-heading .panel-title {
        color: #fff;
    }


.dashboard-machines .panel-maintenance:hover {
    border-color: #1160B8;
}

.dashboard-machines .panel-maintenance .panel-heading {
    background: #1160B8;
}

    .dashboard-machines .panel-maintenance .panel-heading .panel-title {
        color: #fff;
    }


/* Gauges */

.dashboard-machines .basic-gauge-majortick {
    background: #fff;
}

.dashboard-machines .basic-gauge-minortick {
    background: #fff;
}




/* Production floor canvas */

.production-canvas-wrapper {
    position: relative;
    padding-right: 60px;
}

    .production-canvas-wrapper.production-dashboard-wrapper {
        padding-right: 0;
    }


.production-canvas {
    position: relative;
    border: 1px solid #eee;
}

.production-leftbar {
    max-width: 100px;
}

.wf-panzoom-controlbar {
    position: absolute;
    top: 0;
    right: 15px;
    z-index: 1000;
}


.production-labels-container,
.production-markers-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


.production-label {
    position: absolute;
    min-width: 125px;
    max-width: 150px;
    padding: 2px 2px;
    border: 1px solid #fff;
    border-radius: 2px;
    background: #ffffff;
    background: rgba(255,255,255,0.75);
    text-align: center;
    text-shadow: 0 -1px 0 #ffffff;
    text-shadow: 0 -1px 0 rgba(255,255,255, 0.25);
    font-size: 11px;
    font-weight: bold;
}


/*----------------------
Machine states colors
------------------------*/
.machine-path {
    fill: none;
    stroke: #000000;
    stroke-width: 3;
}

    .machine-path.normal {
        fill: #eeeeee;
        fill: rgba(238, 238, 238, 0.15);
        stroke: #555;
    }

.machine-path.state1 {
    fill: #51ae30;
    fill: rgba(81, 174, 48, 0.4); /* #0c9900 */
        stroke: rgb(85, 85, 85);
}

.machine-path.state2 {
        fill: rgb(223, 41, 47); /* #da1a1a; */
        -moz-animation: flash 1s infinite;
        -o-animation: flash 1s infinite;
        -webkit-animation: flash 1s infinite;
        animation: flash 1s infinite;
        stroke: #555555;
    }

    .machine-path.state3 {
        fill: #e08f00;
        fill: rgba(224, 143, 0, 0.5); /* #e08f00; */
        stroke: rgb(85, 85, 85);
    }

.machine-path.state4 {
    fill: #1160b8;
    fill: rgba(17, 96, 184, 0.4); /* #1160b8; */
        stroke: rgb(85, 85, 85);
}



/* Machine labels positioning */

#production-floor-1 .machine-label-1 {
    left: 100px;
    top: 60px;
}

#production-floor-1 .machine-label-2 {
    left: 410px;
    top: 120px;
}

#production-floor-1 .machine-label-3 {
    left: 100px;
    top: 380px;
}

#production-floor-1 .machine-label-4 {
    left: 410px;
    top: 250px;
}

#production-floor-1 .machine-label-5 {
    left: 390px;
    top: 490px;
}

#production-floor-1 .machine-label-6 {
    left: 130px;
    top: 660px;
}

#production-floor-1 .machine-label-7 {
    left: 770px;
    top: 120px;
}

#production-floor-1 .machine-label-8 {
    left: 770px;
    top: 250px;
}

#production-floor-1 .machine-label-9 {
    left: 770px;
    top: 590px;
}

/* Machine marker / pushpin positioning */

#production-floor-1 .machine-marker {
    position: absolute;
}

#production-floor-1 .machine-marker-1 {
    left: 50px;
    top: 120px;
}

#production-floor-1 .machine-marker-2 {
    left: 550px;
    top: 40px;
}

#production-floor-1 .machine-marker-3 {
    left: 30px;
    top: 330px;
}

#production-floor-1 .machine-marker-4 {
    left: 550px;
    top: 230px;
}

#production-floor-1 .machine-marker-5 {
    left: 525px;
    top: 310px;
}

#production-floor-1 .machine-marker-6 {
    left: 330px;
    top: 610px;
}

#production-floor-1 .machine-marker-7 {
    left: 720px;
    top: 10px;
}

#production-floor-1 .machine-marker-8 {
    left: 720px;
    top: 130px;
}

#production-floor-1 .machine-marker-9 {
    left: 710px;
    top: 380px;
}


@media (max-width: 480px) {

    .dashboard-machines {
        padding-right: 0;
        padding-left: 0;
    }
}



/*-----------------------------------------------------*/
/* Examples for Indicator widget Styles modifications  */
/*-----------------------------------------------------*/

/* Motor Symbol Status Indicator*/
.motor {
    height: 150px;
}

.motor .wf-indicator-wrapper {
    width: 100%;
    height: 100%;
}

    .motor .indicator, .motor .indicator .indicator-background {
        background: transparent url("images/examples/motor.png") center center no-repeat;
        -moz-background-size: contain;
        -o-background-size: contain;
        -webkit-background-size: contain;
        -ms-background-size: contain;
        background-size: contain;
        width: 100%;
        height: 100%;
    }

        .motor .indicator.normal .indicator-background {
            background: transparent url("images/examples/motor.png") center center no-repeat;
            -moz-background-size: contain;
            -o-background-size: contain;
            -webkit-background-size: contain;
            -ms-background-size: contain;
            background-size: contain;
        }

        .motor .indicator.state1 .indicator-background {
            background: transparent url("images/examples/motor_gruen.png") center center no-repeat;
            -moz-background-size: contain;
            -o-background-size: contain;
            -webkit-background-size: contain;
            -ms-background-size: contain;
            background-size: contain;
        }

        .motor .indicator.state2 .indicator-background {
            background: transparent url("images/examples/motor.png") center center no-repeat;
            -moz-background-size: contain;
            -o-background-size: contain;
            -webkit-background-size: contain;
            -ms-background-size: contain;
            background-size: contain;
        }

        .motor .indicator.state2 .indicator-icon {
            -moz-animation: animation-fade 0.75s linear infinite alternate;
            -webkit-animation: animation-fade 0.75s linear infinite alternate;
            -o-animation: animation-fade 0.75s linear infinite alternate;
            animation: animation-fade 0.75s linear infinite alternate;
            width: 100%;
            height: 100%;
            background: transparent url("images/examples/motor_rot.png") center center no-repeat;
            -moz-background-size: contain;
            -o-background-size: contain;
            -webkit-background-size: contain;
            -ms-background-size: contain;
            background-size: contain;
        }

/*---------------------------------*/
/* HVAC DEMO - Air Handling System */
/*---------------------------------*/


.wf-demo-air-handling {
    position: relative;
    height: 700px;
    min-width: 1140px;
    background: #fff url('svg/svg_luftung-1.svg') no-repeat;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.wf-text-label {
    line-height: 18px;
}

.wf-demo-air-handling .wf-valves,
.wf-demo-air-handling .wf-pid,
.wf-demo-air-handling .wf-hvac {
    display: block;
}

.wf-demo-air-handling > div > div {
    position: absolute;
}

.wf-valve1 {
    left: 210px;
    top: 117px;
}

.wf-valve2 {
    left: 210px;
    top: 427px;
}

.wf-valve3 {
    left: 188px;
    top: 296px;
}

.wf-valve4 {
    left: 532px;
    top: 580px;
}

.wf-pump1 {
    left: 660px;
    top: 117px;
}

.wf-pump2 {
    left: 660px;
    top: 427px;
}

.wf-pump3 {
    left: 205px;
    top: 200px;
}

.wf-pump4 {
    left: 550px;
    top: 500px;
}

.wf-filter1 {
    left: 440px;
    top: 427px;
}

.wf-filter2 {
    left: 780px;
    top: 427px;
}

.wf-filter3 {
    left: 775px;
    top: 117px;
}

/* #region flaps */

.wf-flap1 {
    left: 551px;
    top: 427px;
}

.wf-flap2 {
    left: 111px;
    top: 115px;
}

.wf-flap3 {
    left: 353px;
    top: 270px;
}

.wf-flap4 {
    left: 111px;
    top: 424px;
}

/* #endregion */


.wf-sensor1 {
    left: 865px;
    top: 408px;
}

.wf-sensor2 {
    left: 865px;
    top: 100px;
}

.wf-sensor3 {
    left: 605px;
    top: 550px;
}

.wf-sensor4 {
    left: 75px;
    top: 265px;
}

.wf-sensor5 {
    left: 1035px;
    top: 265px;
}

.wf-sensor6 {
    left: 1035px;
    top: 310px;
}


.wf-sensor7 {
    left: 672px;
    top: 65px;
}

.wf-sensor8 {
    left: 790px;
    top: 65px;
}

.wf-sensor9 {
    left: 450px;
    top: 377px;
}

.wf-sensor10 {
    left: 670px;
    top: 377px;
}

.wf-sensor11 {
    left: 790px;
    top: 377px;
}

.wf-sensor12 {
    left: 865px;
    top: 170px;
}

.wf-sensor13 {
    left: 865px;
    top: 478px;
}

.wf-sensor14 {
    left: 1005px;
    top: 310px;
}

.wf-arrow1 {
    left: 35px;
    top: 440px;
}

.wf-arrow2 {
    left: 1000px;
    top: 440px;
}

.wf-arrow3 {
    left: 1000px;
    top: 130px;
}

.wf-arrow4 {
    left: 35px;
    top: 130px;
}


.wf-text-label1 {
    top: 493px;
    left: 625px;
}

.wf-text-label2 {
    top: 185px;
    left: 625px;
}

.wf-text-label3 {
    top: 311px;
    left: 193px;
}

.wf-text-label4 {
    top: 596px;
    left: 537px;
}

.wf-value-display1 {
    top: 305px;
    left: 80px;
    width: 100px;
}

.wf-value-display2 {
    top: 585px;
    left: 425px;
    width: 100px;
}


@media (min-width: 768px) and (max-width: 991px) {

    .wf-demo-air-handling {
        -moz-transform: scale(0.63);
        -ms-transform: scale(0.63);
        -o-transform: scale(0.63);
        -webkit-transform: scale(0.63);
        transform: scale(0.63);
    }
}


@media (min-width: 992px) and (max-width: 1199px) {

    .wf-demo-air-handling {
        -moz-transform: scale(0.82);
        -ms-transform: scale(0.82);
        -o-transform: scale(0.82);
        -webkit-transform: scale(0.82);
        transform: scale(0.82);
    }
}

/*@media (min-width: 1200px) {
}*/



/* Tutorial demos */
/* Machine Status Indicator*/

.machine_indicator {
    height: 130px;
    margin: 10px 0;
}

.machine_indicator .wf-indicator-wrapper {
    height: 130px;
    margin: 10px 0;
}

    .machine_indicator .indicator,
    .machine_indicator .indicator .indicator-background {
        background: transparent url("images/machines/machine_grey.png") center center no-repeat;
        -moz-background-size: contain;
        -o-background-size: contain;
        -webkit-background-size: contain;
        -ms-background-size: contain;
        background-size: contain;
        width: 100%;
        height: 100%;
    }

        .machine_indicator .indicator.normal .indicator-background {
            background: transparent url("images/machines/machine_grey.png") center center no-repeat;
            -moz-background-size: contain;
            -o-background-size: contain;
            -webkit-background-size: contain;
            -ms-background-size: contain;
            background-size: contain;
        }

        .machine_indicator .indicator.state1 .indicator-background {
            background: transparent url("images/machines/machine_green.png") center center no-repeat;
            -moz-background-size: contain;
            -o-background-size: contain;
            -webkit-background-size: contain;
            -ms-background-size: contain;
            background-size: contain;
        }

        .machine_indicator .indicator.state2 .indicator-background {
            background: transparent url("images/machines/machine_grey.png") center center no-repeat;
            -moz-background-size: contain;
            -o-background-size: contain;
            -webkit-background-size: contain;
            -ms-background-size: contain;
            background-size: contain;
        }

        .machine_indicator .indicator.state2 .indicator-icon {
            -moz-animation: animation-fade 0.75s linear infinite alternate;
            -webkit-animation: animation-fade 0.75s linear infinite alternate;
            -o-animation: animation-fade 0.75s linear infinite alternate;
            animation: animation-fade 0.75s linear infinite alternate;
            width: 100%;
            height: 100%;
            background: transparent url("images/machines/machine_red.png") center center no-repeat;
            -moz-background-size: contain;
            -o-background-size: contain;
            -webkit-background-size: contain;
            -ms-background-size: contain;
            background-size: contain;
        }


/*-------------------------------------------*/
/* Misc styles for display widgets overview  */
/*-------------------------------------------*/


.wf-demo-signals {
    text-align: center;
}


    .wf-demo-signals.panel-virtual {
        border-color: #aecfea;
    }

        .wf-demo-signals.panel-virtual .panel-body {
            background-color: #ddebee;
        }


.wf-demo-signals-value,
.wf-demo-signals-unit {
    color: #555;
    font-size: 32px;
    text-align: center;
    text-shadow: 0 1px 0 #ffffff;
}

.wf-demo-signals-unit {
    font-size: 13px;
    color: #bbb;
    font-weight: bold;
}


.wf-demo-signals-valuedisplay {
    display: inline-block;
    margin-right: 12px;
    width: 270px;
}


    .wf-demo-signals-valuedisplay .input-group-addon.wf-label-addon {
        width: 150px;
        text-align: left;
        overflow-x: hidden;
        text-overflow: ellipsis;
    }

    .wf-demo-signals-valuedisplay .display-signal-value {
        min-width: 80px;
    }


/* Example for custom slider handle */
.wf-slider-fan .slider-handle.custom:before {
    font-family: "WFIconFont";
    font-size: 24px;
    content: "\e660";
    text-align: center;
    width: 100%;
    display: block;
    height: 20px;
    color: #337ab7;
}



/* Tutorials - CSS Positioning Workshop*/

.canvas {
    height: 425px;
    background: #f5f5f5;
    border: 1px solid #ddd;
    position: relative;
}

.puzzle {
    background-image: url("svg/jigsaw_icon.svg");
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    top: 0;
    left: 0; 
}

.puzzle-sm {
    width: 100px;
    height: 100px;
}

.puzzle-md {
    width: 200px;
    height: 200px;
}

.puzzle-lg {
    width: 300px;
    height: 300px;
}



/* Responsive Styles */
/* Landscape phones and down */

/* Extra small devices (phones, less than 768px) */
@media (max-width: 768px) {
    .wf-slider-demo-image {
        height: 300px;
    }

    
    .blinds-popover-content {
        width: 230px;
        height: 180px;
    }

    .light-popover-content {
        width: 200px;
    }

    .item-info-col {
        padding: 20px 20px 60px 10px;
    }

        .item-info-col h1, .item-info-col h2 {
            font-size: 18px;
            line-height: 24px;
        }

        .item-info-col p {
            font-size: 16px;
            line-height: 20px;
        }

    .carousel-control {
        bottom: 20px;
    }

    .wf-slider-wrapper {
        margin: 0 -15px 0 -15px;
    }

}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 992px) {

    .wf-slider-demo-image {
        height: 300px;
    }
}

/* Medium devices (desktops, 992px and up to 1200px) */
@media (min-width: 992px) and (max-width: 1200px) {

    .wf-slider-demo-image {
        height: 430px;
    }
}


/* ------------------------------------------------------------------- 
    BHKW System Demo
-------------------------------------------------------------------*/

.wf-demo-bhkw {
    background: url("../ContentDemos/svg/bhkw/svg_wf_bhkw.svg") no-repeat center -25px;
    position: relative;
    height: 700px;
    width: 1166px;
    margin-top: -40px;
    margin-bottom: -40px;
    -moz-transform-origin: 0;
    -ms-transform-origin: 0;
    -o-transform-origin: 0;
    -webkit-transform-origin: 0;
    transform-origin: 0;
}

/* Pointers */

.wf-label-pointer {
    pointer-events: none;
}


    .wf-label-pointer span {
        color: #aaa;
        line-height: 20px;
    }

.wf-pointer-block {
    position: absolute;
    width: 100%;
    height: 100%;
}

.indicator-pointer-line {
    background: url("../ContentDemos/svg/bhkw/svg_pointer1.svg") no-repeat center center;
    width: 100%;
    height: 100%;
    top: 4px;
    left: 9px;
    background-size: 100% 97%;
}

.wf-pointer-icon {
    width: 14px;
    height: 14px;
    background-color: #2F5A79;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 3px solid #F0F0F0;
    text-align: -webkit-center;
    position: relative;
    float: right;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.24);
    margin-top: -7px;
    margin-right: -7px;
}

/* BHKW label pointers */

.wf-bhkw-pointer-1 {
    position: absolute;
    top: 115px;
    left: 400px;
    width: 115px;
    height: 30px;
}

.wf-bhkw-pointer-2 {
    height: 30px;
    left: 14%;
    top: 21%;
    width: 160px;
}

.wf-bhkw-pointer-3 {
    height: 30px;
    left: 15%;
    top: 7%;
    width: 100px;
}

.wf-bhkw-pointer-4 {
    height: 30px;
    left: 958px;
    top: 46px;
}

    .wf-bhkw-pointer-4 span {
        margin-left: 60px;
    }

.wf-bhkw-pointer-5 {
    left: 640px;
    width: 1px;
    height: 280px;
    top: 431px;
}

.wf-bhkw-pointer-6 {
    top: 295px;
    left: 470px;
    width: 55px;
    height: 55px;
}

.wf-bhkw-pointer-7 {
    top: 21%;
    left: 860px;
    width: 100px;
    height: 150px;
}

    .wf-bhkw-pointer-7 span {
        margin-left: 60px;
    }

.wf-bhkw-pointer-8 {
    position: absolute;
    left: 555px;
    width: 1px;
    height: 280px;
    top: 445px;
}

.wf-bhkw-pointer-9 {
    top: 295px;
    left: 55%;
    width: 30px;
    height: 25px;
}

.wf-bhkw-pointer-10 {
    height: 40px;
    left: 32%;
    top: 620px;
    width: 150px;
}

    .wf-bhkw-pointer-10 span {
        position: absolute;
        bottom: 0;
    }

.wf-bhkw-pointer-11 {
    height: 65px;
    left: 570px;
    top: 585px;
    width: 215px;
}

    .wf-bhkw-pointer-11 span {
        position: absolute;
        bottom: 0;
    }

.wf-bhkw-pointer-12 {
    top: 595px;
    left: 926px;
    width: 100px;
    height: 30px;
}

    .wf-bhkw-pointer-12 span {
        margin-left: 30px;
    }

.wf-bhkw-pointer-13 {
    top: 275px;
    left: 950px;
    width: 100px;
    height: 30px;
}


/* icons */

.bh-heating {
    position: absolute;
    top: 361px;
    left: 560px;
    font-size: 54px;
    color: #da1a1a;
}

.bhkw-generator-2 {
    position: absolute;
    top: 370px;
    left: 698px;
    color: #ffa601;
}

.bhkw-generator-1 {
    position: absolute;
    top: 370px;
    left: 427px;
    color: #ffa601;
}

    .bhkw-generator-1:after,
    .bhkw-generator-2:after {
        border: #ffa601 3px solid;
    }

.bhkw-animated-power-1 {
    color: #FFFFFF;
    position: absolute;
    top: 378px;
    left: 643px;
}

.bhkw-animated-power-2 {
    color: #FFFFFF;
    position: absolute;
    top: 373px;
    left: 502px;
}


.wf-bhkw-icon.wf-gas,
.wf-gauge-widget .wf-gas {
    color: #ffa601;
}

.wf-bhkw-icon.wf-heat,
.wf-gauge-widget .wf-heat {
    color: #da1a1a;
}

.wf-bhkw-icon.wf-heating-motor,
.wf-gauge-widget .wf-heating-motor {
    color: #0c9900;
}

.wf-bhkw-icon.wf-power,
.wf-gauge-widget .wf-power {
    color: #edd200;
}


.wf-lines-t-inverted.wf-bhkw-border-1::after {
    background: #da1a1a none repeat scroll 0 0;
}

.wf-lines-t-inverted.wf-bhkw-border-2::after {
    background: #edd200 none repeat scroll 0 0;
}


.wf-bhkw-border-1 {
    color: #da1a1a;
}



/* arrows */

.bhkw-animated-arrow-1 {
    top: 275px;
    left: 575px;
    color: white;
}

.bhkw-animated-arrow-2 {
    top: 465px;
    left: 575px;
    color: white;
}

.bhkw-animated-arrow-3 {
    top: 375px;
    left: 941px;
    color: #108dd2;
}

/*.bhkw-animated-arrow-4 {
    top: 400px;
    left: 944px;
    color: #108dd2;
}*/

.bhkw-animated-arrow-5 {
    top: 375px;
    left: 793px;
    color: #108dd2;
}

.bhkw-animated-arrow-6 {
    top: 632px;
    left: 865px;
    color: #da1a1a;
}

.bhkw-animated-arrow-7 {
    top: 594px;
    left: 690px;
    color: #108dd2;
}

.bhkw-animated-arrow-8 {
    top: 156px;
    left: 700px;
    color: #da1a1a;
}

.bhkw-animated-arrow-9 {
    top: 97px;
    left: 958px;
    color: #aaaaaa;
}

.bhkw-animated-arrow-10 {
    top: 265px;
    left: 978px;
    color: #7BB0CD;
}

.bhkw-animated-arrow-11 {
    top: 97px;
    left: 180px;
    color: #aaaaaa;
}

.bhkw-animated-arrow-12 {
    top: 265px;
    left: 160px;
    color: #7BB0CD;
}

.bhkw-animated-arrow-13 {
    top: 156px;
    left: 450px;
    color: #da1a1a;
}

.bhkw-animated-arrow-14 {
    top: 594px;
    left: 450px;
    color: #108dd2;
}

.bhkw-animated-arrow-15 {
    top: 632px;
    left: 275px;
    color: #da1a1a;
}

.bhkw-animated-arrow-16 {
    position: absolute;
    top: 375px;
    left: 357px;
    color: #108dd2;
}

.bhkw-animated-arrow-17 {
    position: absolute;
    top: 375px;
    left: 210px;
    color: #108dd2;
}



.wf-bhkw-gas-1 {
    left: 10%;
    position: absolute;
    top: 28%;
    width: 150px;
}

.wf-bhkw-gas-2 {
    position: absolute;
    right: 10%;
    top: 28%;
    width: 150px;
}

.wf-bhkw-power-1 {
    left: 36%;
    position: absolute;
    top: 440px;
    width: 120px;
}

.wf-bhkw-power-2 {
    left: 54%;
    position: absolute;
    top: 440px;
    width: 120px;
}

.wf-bhkw-heat-1 {
    left: 36%;
    position: absolute;
    top: 25%;
    width: 120px;
}

.wf-bhkw-heat-2 {
    left: 54%;
    position: absolute;
    top: 25%;
    width: 120px;
}



/* BHKW Process Flow View */


.wf-content-block {
    background-color: #f1f1f1;
    border: 1px solid #aaa;
    border-radius: 3px;
    margin: 0 auto;
    padding: 10px;
}

    .wf-content-block .wf-bhkw-icon {
        margin-top: 16px;
    }

.wf-meter-block,
.wf-bhkw-block {
    background-color: #fafafa;
    border: 1px solid #aaa;
    border-radius: 3px;
    margin: 0 auto;
    max-width: 325px;
    min-height: 80px;
    padding: 10px;
    position: relative;
}

.wf-bhkw-block {
    height: 75px;
}

    .wf-bhkw-block .wf-icon {
        margin: 0 20px 0 10px;
    }

.wf-arrow-small {
    background: rgba(0, 0, 0, 0) url("../ContentDemos/svg/bhkw/svg-arrow-right.svg") no-repeat scroll center center / contain;
    height: 20px;
    transform: rotate(90deg);
    width: 20px;
}

    .wf-arrow-small.wf-bhkw-border-1 {
        background: rgba(0, 0, 0, 0) url("../ContentDemos/svg/bhkw/svg-arrow-right-accent1.svg") no-repeat scroll center center / contain;
    }

    .wf-arrow-small.wf-bhkw-border-2 {
        background: rgba(0, 0, 0, 0) url("../ContentDemos/svg/bhkw/svg-arrow-right-accent2.svg") no-repeat scroll center center / contain;
    }


.wf-lines-t {
    border-left: 2px solid #aaa;
    border-radius: 3px;
    border-right: 2px solid #aaa;
    border-top: 2px solid #aaa;
    height: 25px;
    margin-bottom: 2px;
    margin-top: 15px;
    position: relative;
}

    .wf-lines-t::after {
        background: #aaa none repeat scroll 0 0;
        content: "";
        height: 17px;
        left: 50%;
        position: absolute;
        top: -17px;
        width: 2px;
    }

.wf-lines-t-inverted {
    border-bottom: 2px solid #aaa;
    border-left: 2px solid #aaa;
    border-radius: 0 0 3px 3px;
    border-right: 2px solid #aaa;
    height: 25px;
    margin-bottom: 20px;
    margin-top: 0;
    position: relative;
}

    .wf-lines-t-inverted::after {
        background: #aaa none repeat scroll 0 0;
        bottom: -17px;
        content: "";
        height: 17px;
        left: 50%;
        position: absolute;
        width: 2px;
    }


    .wf-lines-t-inverted .wf-arrow-small {
        bottom: -25px;
        left: 50%;
        margin-left: -9px;
        position: absolute;
    }

.wf-line {
    border-left: 2px solid #aaa;
    height: 25px;
    margin: 0 auto 2px;
    position: relative;
    width: 0;
}

    .wf-line .wf-arrow-small {
        bottom: -6px;
        left: -11px;
        position: absolute;
    }

.wf-arrow-1 {
    bottom: -6px;
    left: -11px;
    position: absolute;
}

.wf-arrow-2 {
    bottom: -6px;
    position: absolute;
    right: -11px;
}

.wf-gauge-widget .basic-gauge-icon-overlay {
    border: 2px solid #fefefe;
    height: 36%;
    left: 50%;
    margin: -18% 0 0 -18%;
    position: absolute;
    top: 50%;
    width: 36%;
}

@media (min-width: 768px) and (max-width: 991px) {

    .wf-demo-bhkw {
        -moz-transform: scale(0.63);
        -ms-transform: scale(0.63);
        -o-transform: scale(0.63);
        -webkit-transform: scale(0.63);
        transform: scale(0.63);
        margin-top: -160px;
        margin-bottom: -160px;
    }
}


@media (min-width: 992px) and (max-width: 1199px) {

    .wf-demo-bhkw {
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -o-transform: scale(0.9);
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
        margin-top: -70px;
        margin-bottom: -70px;
        margin-left: -35px;
        margin-right: -35px;
    }
}

@media (min-width: 992px) and (min-width: 1200px) {

    .wf-demo-bhkw {
    }
}

.ct-fade-translation-v {
    -webkit-animation: translationVerticalAnimation 1s infinite ease;
    -moz-animation: translationVerticalAnimation 1s infinite ease;
    -o-animation: translationVerticalAnimation 1s infinite ease;
    animation: translationVerticalAnimation 1s infinite ease;
}

@-webkit-keyframes translationVerticalAnimation {
    0% {
        -webkit-transform: translateY(-8px);
        -moz-transform: translateY(-8px);
        -ms-transform: translateY(-8px);
        -o-transform: translateY(-8px);
        transform: translateY(-8px);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        -webkit-transform: translateY(8px);
        -moz-transform: translateY(8px);
        -ms-transform: translateY(8px);
        -o-transform: translateY(8px);
        transform: translateY(8px);
        opacity: 0;
    }
}

@-moz-keyframes translationVerticalAnimation {
    0% {
        -webkit-transform: translateY(-8px);
        -moz-transform: translateY(-8px);
        -ms-transform: translateY(-8px);
        -o-transform: translateY(-8px);
        transform: translateY(-8px);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        -webkit-transform: translateY(8px);
        -moz-transform: translateY(8px);
        -ms-transform: translateY(8px);
        -o-transform: translateY(8px);
        transform: translateY(8px);
        opacity: 0;
    }
}

@-o-keyframes translationVerticalAnimation {
    0% {
        -webkit-transform: translateY(-8px);
        -moz-transform: translateY(-8px);
        -ms-transform: translateY(-8px);
        -o-transform: translateY(-8px);
        transform: translateY(-8px);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        -webkit-transform: translateY(8px);
        -moz-transform: translateY(8px);
        -ms-transform: translateY(8px);
        -o-transform: translateY(8px);
        transform: translateY(8px);
        opacity: 0;
    }
}

@keyframes translationVerticalAnimation {
    0% {
        -webkit-transform: translateY(-8px);
        -moz-transform: translateY(-8px);
        -ms-transform: translateY(-8px);
        -o-transform: translateY(-8px);
        transform: translateY(-8px);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        -webkit-transform: translateY(8px);
        -moz-transform: translateY(8px);
        -ms-transform: translateY(8px);
        -o-transform: translateY(8px);
        transform: translateY(8px);
        opacity: 0;
    }
}


.ct-fade-translation-h {
    -webkit-animation: translationHorizontalAnimation 1s infinite ease;
    -moz-animation: translationHorizontalAnimation 1s infinite ease;
    -o-animation: translationHorizontalAnimation 1s infinite ease;
    animation: translationHorizontalAnimation 1s infinite ease;
}

.ct-fade-translation {
    -webkit-animation: translationHorizontalAnimation 1s infinite ease;
    -moz-animation: translationHorizontalAnimation 1s infinite ease;
    -o-animation: translationHorizontalAnimation 1s infinite ease;
    animation: translationHorizontalAnimation 1s infinite ease;
}

.ct-fade-translation-2x {
    -webkit-animation: translationHorizontalAnimation 1s infinite ease;
    -moz-animation: translationHorizontalAnimation 1s infinite ease;
    -o-animation: translationHorizontalAnimation 1s infinite ease;
    animation: translationHorizontalAnimation 1s infinite ease;
}

@-webkit-keyframes translationHorizontalAnimation {
    0% {
        -webkit-transform: translate(-8px);
        -moz-transform: translate(-8px);
        -ms-transform: translate(-8px);
        -o-transform: translate(-8px);
        transform: translate(-8px);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        -webkit-transform: translate(8px);
        -moz-transform: translate(8px);
        -ms-transform: translate(8px);
        -o-transform: translate(8px);
        transform: translate(8px);
        opacity: 0;
    }
}

@-moz-keyframes translationHorizontalAnimation {
    0% {
        -webkit-transform: translate(-8px);
        -moz-transform: translate(-8px);
        -ms-transform: translate(-8px);
        -o-transform: translate(-8px);
        transform: translate(-8px);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        -webkit-transform: translate(8px);
        -moz-transform: translate(8px);
        -ms-transform: translate(8px);
        -o-transform: translate(8px);
        transform: translate(8px);
        opacity: 0;
    }
}

@-o-keyframes translationHorizontalAnimation {
    0% {
        -webkit-transform: translate(-8px);
        -moz-transform: translate(-8px);
        -ms-transform: translate(-8px);
        -o-transform: translate(-8px);
        transform: translate(-8px);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        -webkit-transform: translate(8px);
        -moz-transform: translate(8px);
        -ms-transform: translate(8px);
        -o-transform: translate(8px);
        transform: translate(8px);
        opacity: 0;
    }
}

@keyframes translationHorizontalAnimation {
    0% {
        -webkit-transform: translate(-8px);
        -moz-transform: translate(-8px);
        -ms-transform: translate(-8px);
        -o-transform: translate(-8px);
        transform: translate(-8px);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        -webkit-transform: translate(8px);
        -moz-transform: translate(8px);
        -ms-transform: translate(8px);
        -o-transform: translate(8px);
        transform: translate(8px);
        opacity: 0;
    }
}
