﻿


/*-----------------------
    Widgets and Components Reference Styles  
-----------------------*/

/*-----------------------
    Font Icons overview
-----------------------*/

.wf-icons-list .wf-icon-item {
    min-height: 100px;
    background-color: #F9F9F9;
    border: 1px solid #ddd;
    -ms-border-radius: 3px;
    border-radius: 3px;
    float: left;
    line-height: 1.4;
    padding: 20px 10px 10px 10px;
    text-align: center;
    position: relative;
    margin: 5px;
    display: block;
    width: 100%;
}

.wf-icons-list .wf-icon-css-class {
    background-color: #aaa;
    display: block;
    text-align: center;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    margin-top: 10px;
}

.wf-icon-index {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 0 10px;
    min-width: 20px;
    color: #555;
    position: absolute;
    top: 0;
    left: 0;
}

.btn-inline {
     display: inline-block;
    margin: 5px 5px 5px 0;
}

.wf-icon-item i{
    color: #555;
}

/* Widgets reference */

.wf-widget-categories-list{
    margin: 0 0 30px 0;
    box-shadow: none;
}

.wf-widget-category {
     color: #555;
    display: block;
    width: 84px;
    height: 84px;
     background: rgba(0, 0, 0, 0) url("svg/svg_hex_icon.svg") no-repeat center center;
    background-size: contain; 
    margin: 10px auto;
    transition: all 0.3s ease 0s;
    cursor: pointer; 
}

.wf-widget-category.active,
.wf-widget-category:hover {
    color: #ffffff;
    text-decoration: none;  
         background-image: url("svg/svg_hex_icon_red.svg") ;
         transition: all 0.3s ease 0s;
}


.wf-widget-category-title {
    color: #333;
    font-size: 18px;
    line-height: 24px;

}

.wf-widget-category-icon {
   
    display: block;
    font-size: 32px;
    line-height: 84px;
    opacity: 1;
    text-align: center; 
}

.wf-widget-list{
    box-shadow: none;
    min-width: 200px;
}

.wf-widget-list .wf-widget-list-item{   
  padding: 5px 10px;
    border-radius: 0;
}

    .wf-widget-list .wf-widget-list-item.active {
        background: #e92931;
        text-shadow: 0 -1px 0 #A92520;
        border-color: #e92931;
    }
 
    .wf-widget-list .wf-widget-list-item:focus, 
    .wf-widget-list .wf-widget-list-item:hover {
    
}


          
pre.prettyprint {
    border: 1px solid #ddd;
    padding: 6px;
}

.wf-deprecated{
    color: red;
}