﻿<!--****************************************************************************************************************************************************************************************************************************************************
    Bühler+Scherler
--------------------------------------------------------------------------------------------------------------------------


--------------------------------------------------------------------------------------------------------------------------
ERSTELLT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0		R.Brunnschweiler	BS                  10.07.2017
--------------------------------------------------------------------------------------------------------------------------
GEÄNDERT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0       F.Sabljo            BS                  15.02.2018



********************************************************************************************************************************************************************************************************************************************************-->
<div class="container bs_content_container">
    <header>
        <h1 class="page-header bs-header-mittig">K06/07 H09/10 Klimadecken Konferenz HA.SK01</h1>
        <!--BUILDING CONTROL-->
    </header>
    <div class="col-lg-12">
        <div class="bs-responsive bs-hotel-kaelteklima-KlimadeckenKonferenzHA_SK01 hidden-xs">
            <!--Seiten-Verlinkungen (Pfeile auf der Seite)-->
            <!-- Widgets -->
            <!-- Sollwert -->
            <div style="position:absolute; left: 504.5px; top: 165px;" id="S1" title="Berechneter Sollwert 781B1 nacht Erhöhung durch Taupunkt" data-bind="bsAusgabefeld: {
              signalName:'Station_39.Register.sw_temp_781b1_ber',
              typ: 'berechnetersollwert',
              einheit: '°C'
            }">
            </div>

            <div style="position:absolute; left: 504.5px; top: 139px;" id="S2" title="Sollwerttemperatur 781B1" data-bind="bsAusgabefeld: {
              signalName:'Station_39.Register.sw_temp_781b1',
              typ: 'berechnetersollwert',
              einheit: '°C'
            }">
            </div>

            <div style="position:absolute; left: 651.5px; top: 165px;" id="S3" title="Sollwerttemperatur 151B1" data-bind="bsAusgabefeld: {
              signalName:'Station_39.Register.sw_n_hk_156y1',
              typ: 'berechnetersollwert',
              einheit: '°C'
            }">
            </div>

            <div style="position:absolute; left: 1295.5px; top: 165px;" id="S4" title="Berechneter Sollwert 791B1 nacht Erhöhung durch Taupunkt" data-bind="bsAusgabefeld: {
              signalName:'Station_39.Register.sw_temp_791b1_ber',
              typ: 'berechnetersollwert',
              einheit: '°C'
            }">
            </div>

            <div style="position:absolute; left: 1295.5px; top: 139px;" id="S5" title="Sollwerttemperatur 791B1" data-bind="bsAusgabefeld: {
              signalName:'Station_39.Register.sw_temp_791b1',
              typ: 'berechnetersollwert',
              einheit: '°C'
            }">
            </div>

            <div style="position:absolute; left: 1441.5px; top: 165px;" id="S6" title="Sollwerttemperatur 171B1 " data-bind="bsAusgabefeld: {
              signalName:'Station_39.Register.sw_n_hk_176y1',
              typ: 'berechnetersollwert',
              einheit: '°C'
            }">
            </div>

            <!--Anlagenschalter, Sollwertfenster, Zeitschaltuhren, etc...-->
            <div style="position:absolute; left:1685px; top:635px" id="KLI02_I110sollwertfenster" title="Sollwerte Klimadecke 1" data-bind="bsSollwertFenster: {
	dialogTitle: 'Sollwerte Klimadecke 1',
	authorisierung: 'Administration',
	signals: [
		{ label: 'SW VL-Temp. [°C]', signalname: 'Station_39.Register.sw_temp_781b1', untergrenze: '', obergrenze: '' },
		{ label: 'Schrittgrösse Abweichung [K]', signalname: 'Station_39.Register.kd1_sw_abweichung', untergrenze: '', obergrenze: '' },
		{ label: 'Verzögerung Abweichung [min.]', signalname: 'Station_39.Register.kd1_sw_abweichung_vz', untergrenze: '', obergrenze: '' },
		{ label: 'Max. VL-Temp. [°C]', signalname: 'Station_39.Register.kd1_max_vl_temp', untergrenze: '', obergrenze: '' },
		{ label: 'Abschaltverzögerung [min.]', signalname: 'Station_39.Register.kd1_abschaltvz', untergrenze: '', obergrenze: '' },
		{ label: 'Min. VL-Temp. [°C]', signalname: 'Station_39.Register.kd1_min_vl_temp', untergrenze: '', obergrenze: '' }
		]}">
            </div>

            <div style="position:absolute; left:1730px; top:635px" id="KLI02_I110sollwertfenster" title="Sollwerte Klimadecke 2" data-bind="bsSollwertFenster: {
	dialogTitle: 'Sollwerte Klimadecke 2',
	authorisierung: 'Administration',
	signals: [
		{ label: 'SW VL-Temp. [°C]', signalname: 'Station_39.Register.sw_temp_791b1', untergrenze: '', obergrenze: '' },
		{ label: 'Schrittgrösse Abweichung [K]', signalname: 'Station_39.Register.kd2_sw_abweichung', untergrenze: '', obergrenze: '' },
		{ label: 'Verzögerung Abweichung [min.]', signalname: 'Station_39.Register.kd2_sw_abweichung_vz', untergrenze: '', obergrenze: '' },
		{ label: 'Max. VL-Temp. [°C]', signalname: 'Station_39.Register.kd2_max_vl_temp', untergrenze: '', obergrenze: '' },
		{ label: 'Abschaltverzögerung [min.]', signalname: 'Station_39.Register.kd2_abschaltvz', untergrenze: '', obergrenze: '' },
		{ label: 'Min. VL-Temp. [°C]', signalname: 'Station_39.Register.kd2_min_vl_temp', untergrenze: '', obergrenze: '' }
		]}">
            </div>

            <div style="position:absolute; left:1775px; top:635px" id="KLI02_I110sollwertfenster" title="Sollwerte Klimadecken" data-bind="bsSollwertFenster: {
	dialogTitle: 'Sollwerte Klimadecken',
	authorisierung: 'Administration',
	signals: [
		{ label: 'Konferenz Zone 1 [°C]', signalname: 'Station_39.Register.sw_temp_781b1', untergrenze: '', obergrenze: '' },
		{ label: 'Konferenz Zone 2 [°C]', signalname: 'Station_39.Register.sw_temp_791b1', untergrenze: '', obergrenze: '' }
		]}">
            </div>

            <div style="position:absolute; left:1308px; top:635px" title="Heizkurve 176Y1" data-bind="bsSollwertFenster: {
	dialogTitle: 'Heizkurve 176Y1',
	authorisierung: 'Administration',
	signals: [
		{ label: 'Punkt To 1', signalname: 'Station_39.Register.hk_176y1_02', untergrenze: '', obergrenze: '' },
		{ label: 'Punkt W1 Tag', signalname: 'Station_39.Register.hk_176y1_03', untergrenze: '', obergrenze: '' },
		{ label: 'Punkt W1 Nacht', signalname: 'Station_39.Register.hk_176y1_04', untergrenze: '', obergrenze: '' },
		{ label: 'Punkt To 2', signalname: 'Station_39.Register.hk_176y1_05', untergrenze: '', obergrenze: '' },
        { label: 'Punkt W2 Tag', signalname: 'Station_39.Register.hk_176y1_06', untergrenze: '', obergrenze: '' },
        { label: 'Punkt W2 Nacht', signalname: 'Station_39.Register.hk_176y1_07', untergrenze: '', obergrenze: '' },
        { label: 'Punkt To 3', signalname: 'Station_39.Register.hk_176y1_08', untergrenze: '', obergrenze: '' },
        { label: 'Punkt W3 Tag', signalname: 'Station_39.Register.hk_176y1_09', untergrenze: '', obergrenze: '' },
        { label: 'Punkt W3 Nacht', signalname: 'Station_39.Register.hk_176y1_10', untergrenze: '', obergrenze: '' },
        { label: 'Punkt To 4', signalname: 'Station_39.Register.hk_176y1_11', untergrenze: '', obergrenze: '' },
        { label: 'Punkt W4 Tag', signalname: 'Station_39.Register.hk_176y1_12', untergrenze: '', obergrenze: '' },
        { label: 'Punkt W4 Nacht', signalname: 'Station_39.Register.hk_176y1_13', untergrenze: '', obergrenze: '' },
        { label: 'Minimum W', signalname: 'Station_39.Register.hk_176y1_14', untergrenze: '', obergrenze: '' },
        { label: 'Maximum W', signalname: 'Station_39.Register.hk_176y1_15', untergrenze: '', obergrenze: '' },
		]}">
            </div>

            <div style="position:absolute; left:516px; top:635px" title="Heizkurve 156Y1" data-bind="bsSollwertFenster: {
	dialogTitle: 'Heizkurve 156Y1',
	authorisierung: 'Administration',
	signals: [
		{ label: 'Punkt To 1', signalname: 'Station_39.Register.hk_156y1_02', untergrenze: '', obergrenze: '' },
		{ label: 'Punkt W1 Tag', signalname: 'Station_39.Register.hk_156y1_03', untergrenze: '', obergrenze: '' },
		{ label: 'Punkt W1 Nacht', signalname: 'Station_39.Register.hk_156y1_04', untergrenze: '', obergrenze: '' },
		{ label: 'Punkt To 2', signalname: 'Station_39.Register.hk_156y1_05', untergrenze: '', obergrenze: '' },
        { label: 'Punkt W2 Tag', signalname: 'Station_39.Register.hk_156y1_06', untergrenze: '', obergrenze: '' },
        { label: 'Punkt W2 Nacht', signalname: 'Station_39.Register.hk_156y1_07', untergrenze: '', obergrenze: '' },
        { label: 'Punkt To 3', signalname: 'Station_39.Register.hk_156y1_08', untergrenze: '', obergrenze: '' },
        { label: 'Punkt W3 Tag', signalname: 'Station_39.Register.hk_156y1_09', untergrenze: '', obergrenze: '' },
        { label: 'Punkt W3 Nacht', signalname: 'Station_39.Register.hk_156y1_10', untergrenze: '', obergrenze: '' },
        { label: 'Punkt To 4', signalname: 'Station_39.Register.hk_156y1_11', untergrenze: '', obergrenze: '' },
        { label: 'Punkt W4 Tag', signalname: 'Station_39.Register.hk_156y1_12', untergrenze: '', obergrenze: '' },
        { label: 'Punkt W4 Nacht', signalname: 'Station_39.Register.hk_156y1_13', untergrenze: '', obergrenze: '' },
        { label: 'Minimum W', signalname: 'Station_39.Register.hk_156y1_14', untergrenze: '', obergrenze: '' },
        { label: 'Maximum W', signalname: 'Station_39.Register.hk_156y1_15', untergrenze: '', obergrenze: '' },
		]}">
            </div>

            <!--LE-->
            <div style="position:absolute; left: 481px; top: 276px;" id="V1" title="784M1" data-bind="bsMotorStufen_lfc: {
    dialogTitle: 'Pumpe 784M1',
    signalName: 'Station_39',
    stromPfad: '784m1',
	motorAusrichtung: 'oben',
	motortyp: 'pumpe',
	handLinks: '20',
	handOben: '10',
	stufe: '0',
	}">
            </div>

            <div style="position:absolute; left: 628px; top: 276px;" id="V2" title="154M1" data-bind="bsMotorStufen_lfc: {
    dialogTitle: 'Pumpe 154M1',
    signalName: 'Station_39',
    stromPfad: '154m1',
	motorAusrichtung: 'oben',
	motortyp: 'pumpe',
	handLinks: '20',
	handOben: '10',
	stufe: '0',
	}">
            </div>

            <div style="position:absolute; left: 1273px; top: 276px;" id="V3" title="794M1" data-bind="bsMotorStufen_lfc: {
    dialogTitle: 'Pumpe 794M1',
    signalName: 'Station_39',
    stromPfad: '794m1',
	motorAusrichtung: 'oben',
	motortyp: 'pumpe',
	handLinks: '20',
	handOben: '10',
	stufe: '0',
	}">
            </div>

            <div style="position:absolute; left: 1419px; top: 276px;" id="V4" title="174M1" data-bind="bsMotorStufen_lfc: {
    dialogTitle: 'Pumpe 174M1',
    signalName: 'Station_39',
    stromPfad: '174m1',
	motorAusrichtung: 'oben',
	motortyp: 'pumpe',
	handLinks: '20',
	handOben: '10',
	stufe: '0',
	}">
            </div>

            <!--Ventil-->
            <div style="position:absolute; left: 406.5px; top: 378px;" id="VT1" title="786Y1" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-48',
	anzeigefeldOben: '-25',
	winkel: '0',
	signalName: 'Station_39.Register.AO272_786y1'}">
            </div>

            <div style="position:absolute; left: 552.5px; top: 378px;" id="VT2" title="156Y1" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-48',
	anzeigefeldOben: '-25',
	winkel: '0',
	signalName: 'Station_39.Register.AO146_156y1'}">
            </div>

            <div style="position:absolute; left: 1197.5px; top: 378px;" id="VT3" title="796Y1" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-48',
	anzeigefeldOben: '-25',
	winkel: '0',
	signalName: 'Station_39.Register.AO273_796y1'}">
            </div>

            <div style="position:absolute; left: 1345.5px; top: 378px;" id="VT4" title="176Y1" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-48',
	anzeigefeldOben: '-25',
	winkel: '0',
	signalName: 'Station_39.Register.AO208_176y1'}">
            </div>

            <!--TPHSensor-->
            <div style="position:absolute; left: 525px; top: 215px;" id="TP1" title="781B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '90',
	sensortyp: 'T',
	signalName: 'Station_39.Register.AI101_temp_781b1',
	handLinks: '12',
	handOben: '2',
   	einheit: '°C',
	anzeigefeldLinks: '-20',
	anzeigefeldOben: '-25',
	}">
            </div>

            <div style="position:absolute; left: 672px; top: 215px;" id="TP2" title="151B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '90',
	sensortyp: 'T',
	signalName: 'Station_39.Register.AI066_temp_151b1',
	handLinks: '12',
	handOben: '2',
   	einheit: '°C',
	anzeigefeldLinks: '-20',
	anzeigefeldOben: '-25',
	}">
            </div>

            <div style="position:absolute; left: 1316px; top: 215px;" id="TP3" title="791B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '90',
	sensortyp: 'T',
	signalName: 'Station_39.Register.AI102_temp_791b1',
	handLinks: '12',
	handOben: '2',
   	einheit: '°C',
	anzeigefeldLinks: '-20',
	anzeigefeldOben: '-25',
	}">
            </div>

            <div style="position:absolute; left: 1462px; top: 215px;" id="TP4" title="171B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '90',
	sensortyp: 'T',
	signalName: 'Station_39.Register.AI067_temp_171b1',
	handLinks: '12',
	handOben: '2',
   	einheit: '°C',
	anzeigefeldLinks: '-20',
	anzeigefeldOben: '-25',
	}">
            </div>

            <!-- Text -->
            <p style="position: absolute; left: 450px; top: 550px;" class="bs-beschriftung-small-verteilung">K06</p>
            <p style="position: absolute; left: 599px; top: 550px;" class="bs-beschriftung-small-verteilung">H09</p>
            <p style="position: absolute; left: 1243px; top: 550px;" class="bs-beschriftung-small-verteilung">K07</p>
            <p style="position: absolute; left: 1390px; top: 550px;" class="bs-beschriftung-small-verteilung">H10</p>
            <p style="position: absolute; left: 433px; top: 570px;" class="bs-beschriftung-small-verteilung">Klimadecken Konferenz Zone 1<br>Foyer, Bankett 1 u. 2, Meeting 7</p>
            <p style="position: absolute; left: 1202px; top: 570px;" class="bs-beschriftung-small-verteilung">Klimadecken Konferenz Zone 2<br>Konferenzempfang, Vorplatz Empfang,<br>Konferenz Teil 1 u. 2, Meeting 1 bis 6</p>

            <!--  -->
           
            <!-- Workaround um den Bug in der Benutzeranmeldung zu korrigieren -->
            <wf-button style="visibility: hidden;" params="signalName: 'Setpoint 1', writeValue: 1, buttonText: 'Write Value :1', cssClass: 'btn-success', projectAuthorization: 'irgendeinWert'"></wf-button>
        </div>
    </div>
</div>
