﻿<!--****************************************************************************************************************************************************************************************************************************************************
    Bühler+Scherler
--------------------------------------------------------------------------------------------------------------------------


--------------------------------------------------------------------------------------------------------------------------
ERSTELLT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0		R.Brunnschweiler	BS                  10.07.2017
--------------------------------------------------------------------------------------------------------------------------
GEÄNDERT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0       F.Sabljo            BS                  15.02.2018



********************************************************************************************************************************************************************************************************************************************************-->
<div class="container bs_content_container">
    <header>
        <h1 class="page-header bs-header-mittig">K04/16/17 ULK Backoffice/EDV EG/EDV 1.OG</h1>
        <!--BUILDING CONTROL-->
    </header>
    <div class="col-lg-12">
        <div class="bs-responsive bs-hotel-kaelteklima-K04K16K17ULKBackofficeEDVEGEDV1OG hidden-xs">
            <!--Seiten-Verlinkungen (Pfeile auf der Seite)-->
            <!-- Widgets -->
            <!-- Sollwert -->
            <div style="position:absolute; left: 523.5px; top: 11px;" id="S1" title="Sollwert Temperatur 822B1" data-bind="bsAusgabefeld: {
              signalName:'Station_39.Register.sw_n_w_822b1',
              typ: 'berechnetersollwert',
              einheit: 'Pa'
            }">
            </div>

            <div style="position:absolute; left: 916.5px; top: 11px;" id="S2" title="Sollwert Temperatur 802B1" data-bind="bsAusgabefeld: {
              signalName:'Station_39.Register.sw_n_w_802b1',
              typ: 'berechnetersollwert',
              einheit: 'Pa'
            }">
            </div>

            <div style="position:absolute; left: 1314.5px; top: 11px;" id="S3" title="Sollwert 812B1" data-bind="bsAusgabefeld: {
              signalName:'Station_39.Register.sw_n_w_822b1',
              typ: 'berechnetersollwert',
              einheit: 'Pa'
            }">
            </div>

            <!--Anlagenschalter, Sollwertfenster, Zeitschaltuhren, etc...-->
            <div style="position:absolute; left:1356px; top:635px" id="KLI02_I110sollwertfenster" title="Sollwertschiebung 812B1" data-bind="bsSollwertFenster: {
	dialogTitle: 'Sollwertschiebung 812B1',
	authorisierung: 'Administration',
	signals: [
		{ label: 'Aussentemperatur [ºC]', signalname: 'Station_39.Register.sg_812b1_02', untergrenze: '', obergrenze: '' },
		{ label: 'Aussentemperatur 2 [ºC]', signalname: 'Station_39.Register.sg_812b1_04', untergrenze: '', obergrenze: '' },
    	{ label: 'Sollwert [ºC]', signalname: 'Station_39.Register.sg_812b1_01', untergrenze: '', obergrenze: '' },
		{ label: 'Sollwert 2 [ºC]', signalname: 'Station_39.Register.sg_812b1_03', untergrenze: '', obergrenze: '' },
        { label: 'Maximaler Sollwert [ºC]', signalname: 'Station_39.Register.sg_812b1_05', untergrenze: '', obergrenze: '' },
        { label: 'Tot-Zone für / [K]', signalname: 'Station_39.Register.sg_812b1_06', untergrenze: '', obergrenze: '' }
		]}">
            </div>

            <div style="position:absolute; left:960px; top:635px" id="KLI02_I110sollwertfenster" title="Sollwertschiebung 802B1" data-bind="bsSollwertFenster: {
	dialogTitle: 'Sollwertschiebung 802B1',
	authorisierung: 'Administration',
	signals: [
		{ label: 'Aussentemperatur [ºC]', signalname: 'Station_39.Register.sg_802b1_02', untergrenze: '', obergrenze: '' },
		{ label: 'Aussentemperatur 2 [ºC]', signalname: 'Station_39.Register.sg_802b1_04', untergrenze: '', obergrenze: '' },
    	{ label: 'Sollwert [ºC]', signalname: 'Station_39.Register.sg_802b1_01', untergrenze: '', obergrenze: '' },
		{ label: 'Sollwert 2 [ºC]', signalname: 'Station_39.Register.sg_802b1_03', untergrenze: '', obergrenze: '' },
        { label: 'Maximaler Sollwert [ºC]', signalname: 'Station_39.Register.sg_802b1_05', untergrenze: '', obergrenze: '' },
        { label: 'Tot-Zone für / [K]', signalname: 'Station_39.Register.sg_802b1_06', untergrenze: '', obergrenze: '' }
		]}">
            </div>

            <div style="position:absolute; left:564px; top:635px" id="KLI02_I110sollwertfenster" title="Sollwertschiebung 822B1" data-bind="bsSollwertFenster: {
	dialogTitle: 'Sollwertschiebung 822B1',
	authorisierung: 'Administration',
	signals: [
		{ label: 'Aussentemperatur [ºC]', signalname: 'Station_39.Register.sg_822b1_02', untergrenze: '', obergrenze: '' },
		{ label: 'Aussentemperatur 2 [ºC]', signalname: 'Station_39.Register.sg_822b1_04', untergrenze: '', obergrenze: '' },
    	{ label: 'Sollwert [ºC]', signalname: 'Station_39.Register.sg_822b1_01', untergrenze: '', obergrenze: '' },
		{ label: 'Sollwert 2 [ºC]', signalname: 'Station_39.Register.sg_822b1_03', untergrenze: '', obergrenze: '' },
        { label: 'Maximaler Sollwert [ºC]', signalname: 'Station_39.Register.sg_822b1_05', untergrenze: '', obergrenze: '' },
        { label: 'Tot-Zone für / [K]', signalname: 'Station_39.Register.sg_822b1_06', untergrenze: '', obergrenze: '' }
		]}">
            </div>

            <div style="position:absolute; left:1288px; top:635px" id="KLI02_I201schaltuhr" title="Schaltuhr Pumpe 811M1" data-bind="bsSchaltuhr_lfc: {
	signalName: 'Station_39',
    uhr: 'su_811m1',
	dialogTitle: 'Schaltuhr Pumpe 811M1' }">
            </div>

            <div style="position:absolute; left:892px; top:635px" id="KLI02_I201schaltuhr" title="Schaltuhr Pumpe 801M1" data-bind="bsSchaltuhr_lfc: {
	signalName: 'Station_39',
    uhr: 'su_801m1',
	dialogTitle: 'Schaltuhr Pumpe 801M1' }">
            </div>

            <div style="position:absolute; left:497px; top:635px" id="KLI02_I201schaltuhr" title="Schaltuhr Pumpe 821M1" data-bind="bsSchaltuhr_lfc: {
	signalName: 'Station_39',
    uhr: 'su_821m1',
	dialogTitle: 'Schaltuhr Pumpe 821M1' }">
            </div>

            <!--Ventil-->
            <div style="position:absolute; left: 494.5px; top: 421px;" id="VT1" title="823Y2" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-75',
	anzeigefeldOben: '10',
	winkel: '0',
	signalName: 'Station_39.Register.sw_n_pi_823y2'}">
            </div>

            <div style="position:absolute; left: 890.5px; top: 421px;" id="VT2" title="803Y2" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-75',
	anzeigefeldOben: '10',
	winkel: '0',
	signalName: 'Station_39.Register.sw_n_pi_803y2'}">
            </div>

            <div style="position:absolute; left: 1286.5px; top: 421px;" id="VT3" title="813Y2" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-75',
	anzeigefeldOben: '10',
	winkel: '0',
	signalName: 'Station_39.Register.sw_n_pi_813y2'}">
            </div>

            <!--TPHSensor-->
            <div style="position:absolute; left: 544px; top: 60px;" id="TP1" title="822B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '0',
	sensortyp: 'T',
	signalName: 'Station_39.Register.AI103_temp_822b1',
	handLinks: '12',
	handOben: '2',
   	einheit: '°C',
	anzeigefeldLinks: '-20',
	anzeigefeldOben: '-25',
	}">
            </div>

            <div style="position:absolute; left: 937px; top: 60px;" id="TP2" title="802B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '0',
	sensortyp: 'T',
	signalName: 'Station_39.Register.AI068_temp_802b1',
	handLinks: '12',
	handOben: '2',
   	einheit: '°C',
	anzeigefeldLinks: '-20',
	anzeigefeldOben: '-25',
	}">
            </div>

            <div style="position:absolute; left: 1335px; top: 60px;" id="TP3" title="812B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '0',
	sensortyp: 'T',
	signalName: 'Station_39.Register.AI069_temp_812b1',
	handLinks: '12',
	handOben: '2',
   	einheit: '°C',
	anzeigefeldLinks: '-20',
	anzeigefeldOben: '-25',
	}">
            </div>
            <div style="position:absolute; left: 534.5px; top: 211px;" id="V1" title="821M1" data-bind="bsMotor3Stufen_lfc: {
    dialogTitle: '821M1',
    signalName: 'Station_39',
    stromPfad: '821m1',
	motorAusrichtung: 'rechts',
	motortyp: 'ventilator',
	handLinks: '20',
	handOben: '10',
	stufe: '3',
	}">
            </div>
            <div style="position:absolute; left: 930.5px; top: 211px;" id="V1" title="801M1" data-bind="bsMotor3Stufen_lfc: {
    dialogTitle: '801M1',
    signalName: 'Station_39',
    stromPfad: '801m1',
	motorAusrichtung: 'rechts',
	motortyp: 'ventilator',
	handLinks: '20',
	handOben: '10',
	stufe: '3',
	}">
            </div>
            <div style="position:absolute; left: 1326.5px; top: 211px;" id="V1" title="811M1" data-bind="bsMotor3Stufen_lfc: {
    dialogTitle: '811M1',
    signalName: 'Station_39',
    stromPfad: '811m1',
	motorAusrichtung: 'rechts',
	motortyp: 'ventilator',
	handLinks: '20',
	handOben: '10',
	stufe: '3',
	}">
            </div>
            <!-- Text -->
            <p style="position: absolute; left: 487px; top: 616px;" class="bs-beschriftung-small-verteilung">K04 ULK Backoffice</p>
            <p style="position: absolute; left: 906px; top: 616px;" class="bs-beschriftung-small-verteilung">K16 EDV EG</p>
            <p style="position: absolute; left: 1294px; top: 616px;" class="bs-beschriftung-small-verteilung">K17 EDV 1.OG</p>


            <!--  -->
           
            <!-- Workaround um den Bug in der Benutzeranmeldung zu korrigieren -->
            <wf-button style="visibility: hidden;" params="signalName: 'Setpoint 1', writeValue: 1, buttonText: 'Write Value :1', cssClass: 'btn-success', projectAuthorization: 'irgendeinWert'"></wf-button>
        </div>
    </div>
</div>
