﻿<div data-bind="if: hasAuthorization() && isVisible()">
    <!-- ko foreach: options-->
    <!-- ko if: $parent.showInline -->
    <label class="radio-inline" data-bind="css: {'disabled': $parent.isDisabled}">
        <input type="radio" data-bind="disable: $parent.isDisabled, click: $parent.handleClickRadioButton, value: $data.signalValue, checked: $parent.checkedValue, attr : { 'name' : $parent.groupName}" /> 
        <span data-bind="text: $data.text, css: $parent.isBuffered() && $parent.checkedValue() === $data.signalValue ? $parent.isBufferedClass: $data.textClass"></span>
    </label>
    <!-- /ko -->
    <!-- ko ifnot: $parent.showInline -->
    <div class="radio" data-bind="css: {'disabled': $parent.isDisabled}">
        <label data-bind="css: {'disabled': $parent.isDisabled}">
            <input type="radio" data-bind="disable: $parent.isDisabled, click: $parent.handleClickRadioButton, value: $data.signalValue, checked: $parent.checkedValue, attr : { 'name' : $parent.groupName}" />
            <span data-bind="text: $data.text, css: $parent.isBuffered() && $parent.checkedValue() === $data.signalValue ? $parent.isBufferedClass: $data.textClass"></span>
        </label>
    </div>
    <!-- /ko -->
    <!-- /ko -->
    <!-- ko if: writeSecure -->
    <wf-write-secure-signal params="show: showWriteSecure,
                               signalName: signalName,
                               signalValue: writeSecureValue,
                               cancelCalback: function() { setCurrentSignalValue(); },
                               draggable: isModalDialogsDraggable"></wf-write-secure-signal>
    <!-- /ko -->
</div>