﻿<span data-bind="if:hasAuthorization() && isVisible(), attr : {title: tooltipText}">
    <span data-bind="text: signalValue, css: cssClass"></span>
    <!-- ko if: unitLabel -->
    <!--<span data-bind="wfSignalInformation: { signalName: signalName, propertyName: 'Unit' }"></span>-->
    <!-- /ko -->

    <!-- ko if: unitLabel -->
    <!-- ko if: staticUnitText -->
    <span data-bind="text: staticUnitText"></span>
    <!-- /ko -->
    <!-- ko ifnot: staticUnitText -->
    <span data-bind="wfSignalInformation: { signalName: signalName, propertyName: 'Unit' }"></span>
    <!-- /ko -->
    <!-- /ko -->
</span>
