﻿<div class="container-fluid">
    <header>
        <h1 class="page-header">i4SCADA App - HTML5 Widgets for Alarming</h1>
    </header>
    <div class="row m-b-md">
        <div class="col-xs-12">
            <div data-bind="wfAlarmViewer: {}"></div>
        </div>

        <div class="col-xs-12">
            <div data-bind="wfAlarmViewer: {onlineAlarmsMode: false, height: 250, tableView: true}"></div>
        </div>
    </div>

    <!--<pre data-bind="text: ko.toJSON(filter.alarmStatusFilter(), null, 2)"></pre>-->
</div>