﻿<div class="container-fluid">
    <header>
        <h1 class="page-header">i4SCADA App - Knockout JS Bindinghandlers</h1>
    </header>

    <div class="row">
        <div class="col-sm-12">
            <h3>Bootstrap Popover</h3>
        </div>
        <div class="col-sm-4">
            <div class="btn btn-variant-dark v-margin"
                 data-bind="bsPopover: { template: 'popover-template' , options: { title: 'Popover Title', placement: 'right', titleCssClass: 'popover-danger' }, data: { popoverParameter: 123 }}">
                Popover Binding handler
            </div>


            <script id="popover-template" type="text/html">
                <div class="popover-content">
                    <div class="row">
                        <div class="col-xs-12">
                            <h3>Popover content</h3>
                            <p>
                                <i class="wf wf-label"></i> "popoverParameter": <strong data-bind="text: popoverParameter"></strong>
                            </p>
                        </div>
                    </div>
                </div>
            </script>
        </div>
        <div class="col-sm-8">
            <div class="animated">
                <pre class="prettyprint" style="max-height: 280px;">
&lt;div class=&quot;btn btn-variant-dark&quot; data-bind=&quot;bsPopover: { template: 'popover-template' , options: { title: 'Popover Title', placement: 'right', titleCssClass: 'popover-danger' }, data: { popoverParameter: 123 }}&quot;&gt;
Popover Binding handler
&lt;/div&gt;
&lt;script id=&quot;popover-template&quot; type=&quot;text/html&quot;&gt;
    &lt;div class=&quot;popover-content&quot;&gt;
        &lt;div class=&quot;row&quot;&gt;
            &lt;div class=&quot;col-xs-12&quot;&gt;
                &lt;h3&gt;Popover content&lt;/h3&gt;
                &lt;p&gt; &lt;i class=&quot;wf wf-label&quot;&gt;&lt;/i&gt; &quot;popoverParameter&quot;: &lt;strong data-bind=&quot;text: popoverParameter&quot;&gt;&lt;/strong&gt; &lt;/p&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/script&gt;</pre>
            </div>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-sm-12">
            <h3>Contrast color</h3>
        </div>
        <div class="col-sm-4">
            <div style="background-color: #000000" data-bind="setContrastColor: {}">
                <span>Text with contrast color</span>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="animated">
                <pre class="prettyprint" style="max-height: 280px;">
&lt;div style=&quot;background-color: #000000&quot; data-bind=&quot;setContrastColor: {}&quot;&gt;
    &lt;span&gt;Text with contrast color&lt;/span&gt;
&lt;/div&gt;</pre>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-12">
            <h3>Bootstrap Tooltip</h3>
        </div>
        <div class="col-sm-4">
            <br />
            <i class="wf-2x wf-lg text-info wf-message" data-bind="tooltip: { title: 'Bootstrap Tooltip Title', placement: 'right' }"></i>
        </div>
        <div class="col-sm-8">
            <div class="animated">
                <pre class="prettyprint">
&lt;i class=&quot;wf-2x wf-lg text-info wf-message&quot; data-bind=&quot;tooltip: { title: 'Bootstrap Tooltip Title', placement: 'right' }&quot;&gt;&lt;/i&gt;</pre>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-12">
            <h3>Bootstrap Colorpicker</h3>
        </div>
        <div class="col-sm-4">
            <br />
            <div class="input-group colorpicker-component" data-bind="colorpicker:{}">
                <input type="text" class="form-control" />
                <span class="input-group-addon"><i></i></span>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="animated">
                <pre class="prettyprint">
&lt;div class=&quot;input-group colorpicker-component&quot; data-bind=&quot;colorpicker:{}&quot;&gt;
    &lt;input type=&quot;text&quot; class=&quot;form-control&quot; /&gt;
    &lt;span class=&quot;input-group-addon&quot;&gt;&lt;i&gt;&lt;/i&gt;&lt;/span&gt;
&lt;/div&gt;</pre>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-12">
            <h3>Date Formating</h3>
        </div>
        <div class="col-sm-4">
            <br />
            <p>
                <span data-bind="formattedDate: { value: '2015-09-24T23:12:21.196Z', format: 'DD.MM.YYYY HH:mm' }"></span>
                <i class="wf wf-info" data-bind="tooltip: { title: '2015-09-24T23:12:21.196Z formatiert > DD.MM.YYYY HH:mm', placement: 'right' }"></i>
            </p>
            <p>
                <span data-bind="formattedDate: { value: '2015-09-24T23:12:21.196Z', format: 'LLLL', locale: 'en' }"></span>
                <i class="wf wf-info" data-bind="tooltip: { title: '2015-09-24T23:12:21.196Z formatiert > LLLL (locale: en)', placement: 'right' }"></i>
            </p>
            <br />
        </div>
        <div class="col-sm-8">
            <div class="animated">
                <pre class="prettyprint">
&lt;p&gt;
    &lt;span data-bind=&quot;formattedDate: { value: '2015-09-24T23:12:21.196Z', format: 'DD.MM.YYYY HH:mm' }&quot;&gt;&lt;/span&gt;
    &lt;i class=&quot;wf wf-info&quot; data-bind=&quot;tooltip: { title: '2015-09-24T23:12:21.196Z formatiert &gt; DD.MM.YYYY HH:mm', placement: 'right' }&quot;&gt;&lt;/i&gt;
&lt;/p&gt;
&lt;p&gt;
    &lt;span data-bind=&quot;formattedDate: { value: '2015-09-24T23:12:21.196Z', format: 'LLLL', locale: 'en' }&quot;&gt;&lt;/span&gt;
    &lt;i class=&quot;wf wf-info&quot; data-bind=&quot;tooltip: { title: '2015-09-24T23:12:21.196Z formatiert &gt; LLLL (locale: en)', placement: 'right' }&quot;&gt;&lt;/i&gt;
&lt;/p&gt;</pre>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-12">
            <h3>Toggle Class</h3>
        </div>
        <div class="col-sm-4">
            <br />
            <button class="btn btn-default" data-bind="toggleClass: 'btn-danger'">Toggle Class</button>
        </div>
        <div class="col-sm-8">
            <div class="animated">
                <pre class="prettyprint">
&lt;button class=&quot;btn btn-default&quot; data-bind=&quot;toggleClass: 'btn-danger'&quot;&gt;Toggle Class&lt;/button&gt;</pre>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-12">
            <h3>Formating numerical values</h3>
        </div>
        <div class="col-sm-4">
            <br />
            <h3>12345678.987 | Format: "0,0.0000" | Language: "en"</h3>
            <input class="form-control" type="text" data-bind="numeralvalue: 12345678.987, format: '0,0.0000', language: 'en'" disabled="disabled" />
        </div>
        <div class="col-sm-8">
            <div class="animated">
                <pre class="prettyprint">
&lt;h3&gt;12345678.987 | Format: &quot;0,0.0000&quot; | Language: &quot;en&quot;&lt;/h3&gt;
&lt;input class=&quot;form-control&quot; type=&quot;text&quot; data-bind=&quot;numeralvalue: 12345678.987, format: '0,0.0000', language: 'en'&quot; /&gt;</pre>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-12">
            <h3>Formating numerical strings</h3>
        </div>
        <div class="col-sm-4">
            <br />
            <h3>12345678.987 | Format: "0,0.0000" | Language: "de"</h3>
            <strong data-bind="numeraltext: 12345678.987, format: '0,0.0000', language: 'de'"></strong>
        </div>
        <div class="col-sm-8">
            <div class="animated">
                <pre class="prettyprint">
&lt;h3&gt;12345678.987 | Format: &quot;0,0.0000&quot; | Language: &quot;de&quot;&lt;/h3&gt;
&lt;strong data-bind=&quot;numeraltext: 12345678.987, format: '0,0.0000', language: 'de'&quot;&gt;&lt;/strong&gt;</pre>
            </div>
        </div>
    </div>
    <hr />
    <div class="row v-margin">
        <div class="col-sm-12">
            <h3>Drag with resize behavior</h3>
        </div>
        <div class="col-sm-4">
            <div data-bind="draggable: {isResizable: true, showCssBox: true}" style="height: 135px; box-shadow: 5px 5px 10px #535353;">
                <div style="background: #535353; color: white; padding: 5px;">Header</div>
                <div class="flexbox flexbox-v-center flexbox-h-center">
                    <label>Drag and resize me</label>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="animated">
                <pre class="prettyprint">
&lt;div data-bind=&quot;draggable: {isResizable: true, showCssBox: true}&quot; style=&quot;height: 135px; box-shadow: 5px 5px 10px #535353;&quot;&gt;
    &lt;div style=&quot;background: #535353; color: white; padding: 5px;&quot;&gt;Header&lt;/div&gt;
        &lt;div class=&quot;flexbox flexbox-v-center flexbox-h-center&quot;&gt;
        &lt;label&gt;Drag and resize me&lt;/label&gt;
    &lt;/div&gt;
&lt;/div&gt;</pre>
            </div>
        </div>
    </div>
    <hr />
    <div class="row v-margin">
        <div class="col-sm-12">
            <h3>Resize behavior</h3>
        </div>
        <div class="col-sm-4 m-t-md">
            <div data-bind="resizable: {createDefaultHandle: true}" style="height: 135px; box-shadow: 5px 5px 10px #535353;">
                <div style="background: #535353; color: white; padding: 5px;">Header</div>
                <div class="flexbox flexbox-v-center flexbox-h-center">
                    <label>Resize me</label>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="animated">
                <pre class="prettyprint">
&lt;div data-bind=&quot;resizable: {createDefaultHandle: true}&quot; style=&quot;height: 135px; box-shadow: 5px 5px 10px #535353;&quot;&gt;
    &lt;div style=&quot;background: #535353; color: white; padding: 5px;&quot;&gt;Header&lt;/div&gt;
        &lt;div class=&quot;flexbox flexbox-v-center flexbox-h-center&quot;&gt;
        &lt;label&gt;Resize me&lt;/label&gt;
    &lt;/div&gt;
&lt;/div&gt;</pre>
            </div>
        </div>
    </div>
    <hr />
    <div class="row v-margin">
        <div class="col-sm-12">
            <h3>Open window in fullscreen mode</h3>
        </div>
        <div class="col-sm-4 m-t-md">
            <i class="wf-lg wf-3x wf-full-screen" data-bind="toggleFullScreen: { }"></i>
        </div>
        <div class="col-sm-8">
            <div class="animated">
                <pre class="prettyprint">
&lt;i class=&quot;wf-lg wf-3x wf-full-screen&quot; data-bind=&quot;toggleFullScreen: { }&quot;&gt;&lt;/i&gt;</pre>
            </div>
        </div>
    </div>
    <hr />
    <div class="row v-margin">
        <div class="col-sm-12">
            <h3>Simple inner scrollbar over content</h3>
        </div>
        <div class="col-sm-4">
            <div class="scrollbar-content">
                <p>
                    <input type="text" value="Use TAB to focus next input" style="max-width: 220px; width: 100%;">
                </p>
                <div class="scrollbar-inner" data-bind="scrollbar: {disableBodyScroll: true}">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a,
                        scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus.
                        Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel
                        hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci. Nam congue,
                        pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est. Etiam
                        sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque. Phasellus ornare,
                        ante vitae consectetuer consequat, purus sapien ultricies dolor, et mollis pede metus eget
                        nisi. Praesent sodales velit quis augue. Cras suscipit, urna at aliquam rhoncus, urna quam
                        viverra nisi, in interdum massa nibh nec erat.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a,
                        scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus.
                        Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel
                        hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci. Nam congue,
                        pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est. Etiam
                        sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque. Phasellus ornare,
                        ante vitae consectetuer consequat, purus sapien ultricies dolor, et mollis pede metus eget
                        nisi. Praesent sodales velit quis augue. Cras suscipit, urna at aliquam rhoncus, urna quam
                        viverra nisi, in interdum massa nibh nec erat.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a,
                        scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus.
                        Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel
                        hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci. Nam congue,
                        pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est. Etiam
                        sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque. Phasellus ornare,
                        ante vitae consectetuer consequat, purus sapien ultricies dolor, et mollis pede metus eget
                        nisi. Praesent sodales velit quis augue. Cras suscipit, urna at aliquam rhoncus, urna quam
                        viverra nisi, in interdum massa nibh nec erat.
                    </p>
                    <input type="text"><br>
                    <h3 id="anchor">Anchor</h3>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="animated">
                <pre class="prettyprint" style="max-height: 280px;">
&lt;div class=&quot;scrollbar-content&quot;&gt;
    &lt;p&gt;
        &lt;input type=&quot;text&quot; value=&quot;Use TAB to focus next input&quot; style=&quot;max-width: 220px; width: 100%;&quot;&gt;

    &lt;/p&gt;
        &lt;div class=&quot;scrollbar-inner&quot; data-bind=&quot;scrollbar: {disableBodyScroll: true}&quot;&gt;
        &lt;p&gt;
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a,
            scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus.
            Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel
            hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci. Nam congue,
            pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est. Etiam
            sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque. Phasellus ornare,
            ante vitae consectetuer consequat, purus sapien ultricies dolor, et mollis pede metus eget
            nisi. Praesent sodales velit quis augue. Cras suscipit, urna at aliquam rhoncus, urna quam
            viverra nisi, in interdum massa nibh nec erat.
        &lt;/p&gt;
        &lt;p&gt;
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a,
            scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus.
            Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel
            hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci. Nam congue,
            pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est. Etiam
            sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque. Phasellus ornare,
            ante vitae consectetuer consequat, purus sapien ultricies dolor, et mollis pede metus eget
            nisi. Praesent sodales velit quis augue. Cras suscipit, urna at aliquam rhoncus, urna quam
            viverra nisi, in interdum massa nibh nec erat.
        &lt;/p&gt;
        &lt;p&gt;
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a,
            scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus.
            Phasellus pharetra nulla ac diam. Quisque semper justo at risus. Donec venenatis, turpis vel
            hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci. Nam congue,
            pede vitae dapibus aliquet, elit magna vulputate arcu, vel tempus metus leo non est. Etiam
            sit amet lectus quis est congue mollis. Phasellus congue lacus eget neque. Phasellus ornare,
            ante vitae consectetuer consequat, purus sapien ultricies dolor, et mollis pede metus eget
            nisi. Praesent sodales velit quis augue. Cras suscipit, urna at aliquam rhoncus, urna quam
            viverra nisi, in interdum massa nibh nec erat.
        &lt;/p&gt;
        &lt;input type=&quot;text&quot;&gt;&lt;br&gt;

        &lt;h3 id=&quot;anchor&quot;&gt;Anchor&lt;/h3&gt;
    &lt;/div&gt;
&lt;/div&gt;</pre>
            </div>
        </div>
    </div>
    <hr />
    <div class="row v-margin">
        <div class="col-sm-12">
            <h3>View box</h3>
        </div>
        <div class="col-sm-4">
            <div data-bind="viewBox: { contentId: 'contentID'}">
                <img src="ContentDemos/images/presentation/demo_bhkw_html_1.png" id="contentID" />
            </div>
        </div>
        <div class="col-sm-8">
            <div class="animated">
                <pre class="prettyprint">
&lt;div data-bind=&quot;viewBox: { contentId: 'contentID'}&quot;&gt;
    &lt;img src=&quot;ContentDemos/images/presentation/demo_bhkw_html_1.png&quot; id=&quot;contentID&quot; /&gt;
&lt;/div&gt;</pre>
            </div>
        </div>
    </div>
    <hr />
    <div class="row v-margin">
        <div class="col-sm-12">
            <h3>Zoom</h3>
        </div>
        <div class="col-sm-4">
            <div data-bind="esmartzoom: {panControlBar: true }" style="height: 590px; width: 1000px;">
                <img src="ContentDemos/images/presentation/demo_hvac_html_1.png" width="1000" height="590"/>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="animated">
                <pre class="prettyprint">
&lt;div data-bind=&quot;esmartzoom: {panControlBar: true }&quot; style=&quot;height: 590px; width: 1000px;&quot;&gt;
    &lt;img src=&quot;ContentDemos/images/presentation/demo_hvac_html_1.png&quot; width=&quot;1000&quot; height=&quot;590&quot; /&gt;
&lt;/div&gt;</pre>

            </div>
        </div>
    </div>
    <hr />
</div>
