﻿<div class="container">
    <header>
        <h1 class="page-header">Lüftungsanlage - Klassisches HVAC mal "responsiv"</h1>
        <!--BUILDING CONTROL-->
    </header>
    <div class="row">
        <div class="col-sm-12">

            <div class="visible-xs">
                <h4>Temperaturen</h4>
                <div data-bind="wfValueBarGraph: { signalName: 'Local Hour', precision: 2, unitLabel: true, titleText: 'Innentemperatur', minRange: 0, maxRange: 30, cssClass: 'progress-bar-success', iconClass: 'wf wf-temperature', progressBarSize: 'progress-sm', showTickLabels: true }"></div>
                <div data-bind="wfValueBarGraph: { signalName: 'Local Minute', precision: 2, unitLabel: true, titleText: 'Außentemperatur', minRange: -30, maxRange: 50, cssClass: 'progress-bar-danger', iconClass: 'wf wf-temperature', progressBarSize: 'progress-sm', showTickLabels: true }"></div>


                <h4>LU 5.1 Ventillator 1</h4>
                <div class="text-center" data-bind="wfStateDisplay: {
                     symbolicTextNormalState: 'Standby' ,
                     conditionRule1: '%Local Second% > 10 && %Local Second% < 30' , symbolicTextState1: 'Automatik' ,
                     conditionRule2: '%Local Second% >= 30 && %Local Second% < 40' , symbolicTextState2: 'Störung' ,
                     conditionRule3: '%Local Second% >= 40 && %Local Second% < 45' , symbolicTextState3: 'Wartung' ,
                     conditionRule4: '%Local Second% > 45 && %Local Second% <= 59' , symbolicTextState4: 'Handbetrieb'
                     }">
                </div>
                <div class="col-xs-12 col-sm-6">
                    <h3 class="text-center margin-bottom">Elektrische Leistung Ventillator 1</h3>
                    <div data-bind="wfValueGauge: { signalName: 'Temperature 1', iconClass: 'fa fa-bolt fa-2x', iconBackgroundColor: '#428BCA' }"></div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <h3 class="text-center margin-bottom">Geschwindigkeit Ventillator 1</h3>
                    <div data-bind="wfValueGauge: { signalName: 'Servo 1', iconClass: 'wf wf-speed-gauge fa-2x', iconBackgroundColor: '#428BCA' }"></div>
                </div>


                <h4>LU 5.1 Ventillator 2</h4>
                <div class="text-center" data-bind="wfStateDisplay: {
                     symbolicTextNormalState: 'Standby' ,
                     conditionRule1: '%Local Second% >= 40 && %Local Second% < 59' , symbolicTextState1: 'Automatik' ,
                     conditionRule2: '%Local Second% >= 30 && %Local Second% < 40' , symbolicTextState2: 'Störung' ,
                     conditionRule3: '%Local Second% >= 15 && %Local Second% < 30' , symbolicTextState3: 'Wartung' ,
                     conditionRule4: '%Local Second% > 0 && %Local Second% <= 15' , symbolicTextState4: 'Handbetrieb'
                     }">
                </div>

                <div class="col-xs-12 col-sm-6">
                    <h3 class="text-center margin-bottom">Elektrische Leistung Ventillator 2</h3>
                    <div data-bind="wfValueGauge: { signalName: 'Temperature 2', iconClass: 'fa fa-bolt fa-2x', iconBackgroundColor: '#428BCA' }"></div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <h3 class="text-center margin-bottom">Geschwindigkeit Ventillator 2</h3>
                    <div data-bind="wfValueGauge: { signalName: 'Servo 2', iconClass: 'wf wf-speed-gauge fa-2x', iconBackgroundColor: '#428BCA' }"></div>
                </div>
            </div>

            <div class="wf-demo-air-handling hidden-xs">
                <div class="wf-demo-air-valves stretch">
                    <!-- #region valves -->
                    <div class="wf-valve1 wf-symbol-2x" data-bind="wfStateCssClass: { cssClassNormalState: 'wf-valves wf-valve-4-way', cssClassState1: 'wf-valves wf-valve-4-way running', conditionRule1: '%Local Second% > 10' }"></div>
                    <div class="wf-valve2 wf-symbol-2x" data-bind="wfStateCssClass: { cssClassNormalState: 'wf-valves wf-valve-4-way', cssClassState1: 'wf-valves wf-valve-4-way running', conditionRule1: '%Local Second% > 20' }"></div>
                    <div class="wf-valve3 wf-symbol-2x wf-n" data-bind="wfStateCssClass: { cssClassNormalState: 'wf-pid wf-3-way-valve-c-b', cssClassState1: 'wf-pid wf-3-way-valve-a-b running', conditionRule1: '%Local Second% < 30', cssClassState2: 'wf-pid wf-3-way-valve-c-b running', conditionRule2: '%Local Second% >= 30' }"></div>
                    <div class="wf-valve4 wf-symbol-2x wf-n" data-bind="wfStateCssClass: { cssClassNormalState: 'wf-pid wf-3-way-valve-c-b', cssClassState1: 'wf-pid wf-3-way-valve-a-b running', conditionRule1: '%Local Second% < 30', cssClassState2: 'wf-pid wf-3-way-valve-c-b running', conditionRule2: '%Local Second% >= 30' }"></div>
                    <!-- #endregion -->
                    <!-- #region pumps -->
                    <div class="wf-pump1 wf-symbol-2x wf-circle-decorator wf-n clickable" data-bind="click: function () { openDialog(1); }, wfStateCssClass: { cssClassNormalState: 'wf-hvac wf-fan', cssClassState1: 'wf-hvac wf-fan hand', conditionRule1: '%Local Second% > 10' }">
                        <!--<div class="wf-symbol-overlay stretched wf-s" data-part="content">
                            <span class="wf-symbol-overlay-icon wf wf-small-x-round"></span>
                        </div>-->
                    </div>

                    <div class="wf-pump2 wf-symbol-2x wf-circle-decorator wf-s clickable" data-bind="click: function () { openDialog(2); }, wfStateCssClass: { cssClassNormalState: 'wf-hvac wf-fan', cssClassState1: 'wf-hvac wf-fan critical', conditionRule1: '%Local Second% > 30' }"></div>

                    <div class="wf-pump3 wf-symbol-1x wf-s" data-bind="wfStateCssClass: { cssClassNormalState: 'wf-pid wf-pump', cssClassState1: 'wf-pid wf-pump running', conditionRule1: '%Local Second% > 15' }"></div>
                    <div class="wf-pump4 wf-symbol-1x wf-s" data-bind="wfStateCssClass: { cssClassNormalState: 'wf-pid wf-pump', cssClassState1: 'wf-pid wf-pump running', conditionRule1: '%Local Second% > 15' }"></div>
                    <!-- #endregion -->
                    <!-- #region filters -->
                    <div class="wf-filter1 wf-symbol-2x" data-bind="wfStateCssClass: { cssClassNormalState: 'wf-pid wf-filter-2', cssClassState1: 'wf-pid wf-filter-2 running', conditionRule1: '%Local Second% > 10' }"></div>
                    <div class="wf-filter2 wf-symbol-2x" data-bind="wfStateCssClass: { cssClassNormalState: 'wf-pid wf-filter-2 running', cssClassState1: 'wf-pid wf-filter-2 error', conditionRule1: '%Local Second% > 30' }"></div>
                    <div class="wf-filter3 wf-symbol-2x wf-w" data-bind="wfStateCssClass: { cssClassNormalState: 'wf-pid wf-filter-2', cssClassState1: 'wf-pid wf-filter-2 running', conditionRule1: '%Local Second% > 10' }"></div>
                    <!-- #endregion -->
                    <!-- #region flaps -->
                    <div class="wf-flap1 wf-symbol-2x" data-bind="wfStateCssClass: { cssClassNormalState: 'wf-pid wf-flap-2' }"></div>

                    <div class="wf-flap2 wf-symbol-bordered">
                        <div class="wf-symbol-1x" data-bind="wfStateCssClass: { cssClassNormalState: 'wf-pid wf-flap-4 wf-s', cssClassState1: 'wf-pid wf-flap-4 running-foreground', conditionRule1: '%Local Second% > 20' }"></div>
                        <div class="wf-symbol-1x" data-bind="wfStateCssClass: { cssClassNormalState: 'wf-pid wf-flap-4 wf-s', cssClassState1: 'wf-pid wf-flap-4 running-foreground', conditionRule1: '%Local Second% > 20' }"></div>
                    </div>

                    <div class="wf-flap3 wf-symbol-bordered">
                        <div class="wf-symbol-1x" data-bind="wfStateCssClass: { cssClassNormalState: 'wf-pid wf-flap-4 wf-s', cssClassState1: 'wf-pid wf-flap-4 running-foreground', conditionRule1: '%Local Second% < 30' }"></div>
                        <div class="wf-symbol-1x" data-bind="wfStateCssClass: { cssClassNormalState: 'wf-pid wf-flap-4 wf-s', cssClassState1: 'wf-pid wf-flap-4 running-foreground', conditionRule1: '%Local Second% < 30' }"></div>
                    </div>

                    <div class="wf-flap4 wf-symbol-bordered">
                        <div class="wf-symbol-1x" data-bind="wfStateCssClass: { cssClassNormalState: 'wf-pid wf-flap-4 wf-s', cssClassState1: 'wf-pid wf-flap-4 running-foreground', conditionRule1: '%Local Second% < 30' }"></div>
                        <div class="wf-symbol-1x" data-bind="wfStateCssClass: { cssClassNormalState: 'wf-pid wf-flap-4 wf-s', cssClassState1: 'wf-pid wf-flap-4 running-foreground', conditionRule1: '%Local Second% < 30' }"></div>
                    </div>

                    <!-- #endregion -->
                    <!-- #region sensors -->
                    <div class="wf-sensor1" data-bind="wfSensorValue: { pointerLength: '20', pointerRotation: '0', sensorText: 'T', signalName: 'Local Second', staticUnitText: '°C' }"></div>
                    <div class="wf-sensor2" data-bind="wfSensorValue: { pointerLength: '20', pointerRotation: '0', sensorText: 'T', signalName: 'Local Hour', staticUnitText: '°C' }"></div>
                    <div class="wf-sensor3" data-bind="wfSensorValue: { pointerLength: '30', pointerRotation: '90', sensorText: 'T', signalName: 'Local Hour', staticUnitText: '°C' }"></div>
                    <div class="wf-sensor4" data-bind="wfSensorValue: { pointerLength: '0', sensorText: 'T', signalName: 'Local Hour', staticUnitText: '°C' }"></div>
                    <div class="wf-sensor5" data-bind="wfSensorValue: { pointerLength: '0', sensorText: 'T', signalName: 'Local Hour', staticUnitText: '°C' }"></div>
                    <div class="wf-sensor6" data-bind="wfSensorValue: { pointerLength: '0', sensorText: 'T', signalName: 'Local Second', staticUnitText: '°C' }"></div>

                    <div class="wf-sensor7  wf-sensor-label">ΔP</div>
                    <div class="wf-sensor8  wf-sensor-label">ΔP</div>
                    <div class="wf-sensor9  wf-sensor-label">ΔP</div>
                    <div class="wf-sensor10 wf-sensor-label">ΔP</div>
                    <div class="wf-sensor11 wf-sensor-label">ΔP</div>
                    <div class="wf-sensor12" data-bind="wfSensorValue: { pointerLength: '30', pointerRotation: '180', sensorText: 'V' }"></div>
                    <div class="wf-sensor13" data-bind="wfSensorValue: { pointerLength: '30', pointerRotation: '180', sensorText: 'V' }"></div>
                    <div class="wf-sensor14 wf-sensor-label wf wf-arrow wf-nw"></div>

                    <!-- #endregion -->
                    <!-- #region arrows -->

                    <div class="wf-arrow1 wf-symbol-1x" data-bind="wfStateCssClass: { cssClassNormalState: 'wf-lg wf-arrow fadeInTranslateFadeOut', cssClassState1: 'wf-lg wf-arrow green running fadeInTranslateFadeOut', conditionRule1: '%Local Second% > 5' }"></div>
                    <div class="wf-arrow2 wf-symbol-1x" data-bind="wfStateCssClass: { cssClassNormalState: 'wf-lg wf-arrow fadeInTranslateFadeOut', cssClassState1: 'wf-lg wf-arrow red fadeInTranslateFadeOut', conditionRule1: '%Local Second% > 5' }"></div>
                    <div class="wf-arrow3 wf-symbol-1x invert-x" data-bind="wfStateCssClass: { cssClassNormalState: 'wf-lg wf-arrow fadeInTranslateFadeOut', cssClassState1: 'wf-lg wf-arrow yellow fadeInTranslateFadeOut', conditionRule1: '%Local Second% > 5' }"></div>
                    <div class="wf-arrow4 wf-symbol-1x invert-x" data-bind="wfStateCssClass: { cssClassNormalState: 'wf-lg wf-arrow fadeInTranslateFadeOut', cssClassState1: 'wf-lg wf-arrow brown fadeInTranslateFadeOut', conditionRule1: '%Local Second% > 5' }"></div>


                    <!-- #endregion -->
                    <!-- #region value displays -->

                    <div class="wf-value-display1" data-bind="draggable: {}, wfValueDisplay: { signalName: 'Local Minute', unitLabel: true }"></div>
                    <div class="wf-value-display2" data-bind="draggable: {}, wfValueDisplay: { signalName: 'Local Minute', unitLabel: true }"></div>

                    <!-- #endregion -->
                    <!-- #region arrows -->

                    <div class="wf-text-label1 wf-text-label-bordered">LU 5.1 Ventillator 2</div>
                    <div class="wf-text-label2 wf-text-label-bordered">LU 5.1 Ventillator 1</div>
                    <div class="wf-text-label3 wf-text-label">M</div>
                    <div class="wf-text-label4 wf-text-label">M</div>

                    <!-- #endregion -->

                </div>
            </div>
        </div>
    </div>
</div>