﻿<!--****************************************************************************************************************************************************************************************************************************************************
    Bühler+Scherler
--------------------------------------------------------------------------------------------------------------------------


--------------------------------------------------------------------------------------------------------------------------
ERSTELLT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0		R.Brunnschweiler	BS                  10.07.2017
--------------------------------------------------------------------------------------------------------------------------
GEÄNDERT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0       F.Sabljo            BS                  15.02.2018


********************************************************************************************************************************************************************************************************************************************************-->
<div class="container bs_content_container">
    <header>
        <h1 class="page-header bs-header-mittig">H01 Wärmeerzeugung BA.SH01</h1>
        <!--BUILDING CONTROL-->
    </header>
    <div class="col-lg-12">
        <div class="bs-responsive bs-business-heizung-H01WaermeerzeugungBASH01 hidden-xs">
            <!--Seiten-Verlinkungen (Pfeile auf der Seite)-->
            <!-- Widgets -->
            <div style="position:absolute; left: 516px; top: 532px;" title="Kamienfegerbetrieb" data-bind="bsZustandsanzeige_lfc: {
                 authorisierung: 'Administration' ,
                 modulName: 'Station_38.Flag.en_kaminfeger' ,
                 hintergrundTransparent: 'true' ,
                 zustaende: [
                { vergleichswert: '0', farbe: 'color-aus',  text: 'Kamienfegerbetrieb AUS'},
                { vergleichswert: '1', farbe: 'color-ein',  text: 'Kamienfegerbetrieb EIN'}
                ]
                }">
            </div>
            <!-- Sollwert -->
            <div style="position:absolute; left: 168.5px; top: 650px;" id="S1" title="Leistungsvorgabe Brenner 1" data-bind="bsAusgabefeld: {
              signalName:'Station_38.Register.AI049_temp_111u1_brenner1',
              typ: 'berechnetersollwert',
              einheit: '%'
            }">
            </div>

            <div style="position:absolute; left: 401.5px; top: 650px;" id="S2" title="Sollwert Leistungsvorgabe Brenner 2" data-bind="bsAusgabefeld: {
              signalName:'Station_38.Register.AI050_temp_121u1_brenner2',
              typ: 'berechnetersollwert',
              einheit: '%'
            }">
            </div>

            <div style="position:absolute; left: 1614.5px; top: 112px;" id="S3" title="Sollwert Differenzdruck 197B1" data-bind="bsAusgabefeld: {
              signalName:'Station_38.Register.sw_diffdruck_heizung_hotel',
              typ: 'berechnetersollwert',
              einheit: 'kPa'
            }">
            </div>

            <div style="position:absolute; left: 398.51px; top: -25px;" id="S4" title="Sollwerttemeperatur 141B1" data-bind="bsAusgabefeld: {
              signalName:'Station_38.Register.sw_141b1',
              typ: 'berechnetersollwert',
              einheit: '°C'
            }">
            </div>

            <div style="position:absolute; left: 791.5px; top: 266px;" id="S5" title="Sollwert Pumpe 144M1" data-bind="bsAusgabefeld: {
              signalName:'Station_38.Register.AO114_sw_pumpe_144m1',
              typ: 'berechnetersollwert',
              einheit: '%'
            }">
            </div>

            <div style="position:absolute; left: 958.5px; top: 266px;" id="S6" title="Sollwert Pumpe 145M1" data-bind="bsAusgabefeld: {
              signalName:'Station_38.Register.AO115_sw_pumpe_145m1',
              typ: 'berechnetersollwert',
              einheit: '%'
            }">
            </div>

            <div style="position:absolute; left: 588.5px; top: 555px;" id="S6" title="Gaszähler 131U2" data-bind="bsWertanzeigeOhneSchwarz: {
              signalNameIW:'Station_38.Register.gasmenge_131u1',
              unitLabel: 'true',
              staticUnitText: 'm³'
            }">
            </div>

            <!--Anlagenschalter, Sollwertfenster, Zeitschaltuhren, etc...-->
            <div style="position:absolute; left:1730px; top:635px" id="KLI02" title="H01 Wärmeerzeugung" data-bind="bsAnlageschalter_lfc: {
	dialogTitle: 'H01 Wärmeerzeugung ',
	signalName: 'Station_38',
    stromPfad: 'waermeerzeugung'
	}">
            </div>

            <div style="position:absolute; left:1775px; top:635px" id="KLI02_I110sollwertfenster" title="Sollwerte Wärmeerzeugung" data-bind="bsSollwertFenster: {
	dialogTitle: 'Sollwerte Wärmeerzeugung',
	authorisierung: 'Administration',
	signals: [
		{ label: 'Hauptvorlauf [°C]', signalname: 'Station_38.Register.sw_141b1', untergrenze: '', obergrenze: '' },
		{ label: 'Hauptvorlauf Offset [°C]', signalname: 'Station_38.Register.sw_141b1_offset', untergrenze: '', obergrenze: '' },
		{ label: 'Diffdruck Pumpe 144M1 [kPa]', signalname: 'Station_38.Register.sw_diffdruck_heizung_hotel', untergrenze: '', obergrenze: '' },
		{ label: 'Verzögerung Kesselventil [min]', signalname: 'Station_38.Register.t_off_kesselventil', untergrenze: '', obergrenze: '' },
		{ label: 'Dauer Kaminfegerbetrieb [min]', signalname: 'Station_38.Register.t_kaminfeger', untergrenze: '', obergrenze: '' },
		]}">
            </div>

            <div style="position:absolute; left: 182px; top: 545px;" id="KLI02_I110sollwertfenster" title="H01 Kessel 1" data-bind="bsMotorStufen_lfc: {
    dialogTitle: 'H01 Kessel 1',
    signalName: 'Station_38',
    stromPfad: '111u1',
	motorAusrichtung: 'oben',
	motortyp: 'pumpe',
	handLinks: '20',
	handOben: '10',
	stufe: '0',
	}">
            </div>

            <div style="position:absolute; left: 416px; top: 545px;" id="KLI02_I110sollwertfenster" title="H01 Kessel 2" data-bind="bsMotorStufen_lfc: {
    dialogTitle: 'H01 Kessel 2',
    signalName: 'Station_38',
    stromPfad: '121u1',
	motorAusrichtung: 'oben',
	motortyp: 'pumpe',
	handLinks: '20',
	handOben: '10',
	stufe: '0',
	}">
            </div>

            <!--LE-->
            <div style="position:absolute; left: 857px; top: 261px;" id="V1" title="144M1" data-bind="bsMotorStufen_lfc: {
    dialogTitle: 'Pumpe 144M1',
    signalName: 'Station_38',
    stromPfad: '144m1',
	motorAusrichtung: 'unten',
	motortyp: 'pumpe',
	handLinks: '20',
	handOben: '10',
	stufe: '0',
	}">
            </div>

            <div style="position:absolute; left: 923.5px; top: 261px;" id="V2" title="145M1" data-bind="bsMotorStufen_h01_lfc: {
    dialogTitle: 'Pumpe 145M1',
    signalName: 'Station_38',
    stromPfad: '145m1',
	motorAusrichtung: 'unten',
	motortyp: 'pumpe',
	handLinks: '20',
	handOben: '10',
	stufe: '0',
	}">
            </div>

            <!--Ventil-->
            <div style="position:absolute; left: 141px; top: 187px;" id="VT1" title="118Y1" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-70',
	anzeigefeldOben: '10',
	winkel: '0',
    typ: 'digital',
	signalName: 'Station_38.Flag.DO066_ventil_118y1_auf'}">
            </div>

            <div style="position:absolute; left: 598px; top: 600px;" id="VT2" title="132Y1" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-10',
	anzeigefeldOben: '50',
	winkel: '90',
    typ: 'digital',
	signalName: 'Station_38.Flag.DO097_ventil_132y1'}">
            </div>

            <div style="position:absolute; left: 373.5px; top: 187px;" id="VT3" title="128Y1" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-70',
	anzeigefeldOben: '10',
	winkel: '0',
    typ: 'digital',
	signalName: 'Station_38.Flag.DO082_ventil_128y1_auf'}">
            </div>

            <!--TPHSensor-->
            <div style="position:absolute; left: 419px; top: 21px;" id="TP1" title="141B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '0',
	sensortyp: 'T',
	handLinks: '12',
	handOben: '2',
   	einheit: '°C',
	anzeigefeldLinks: '-20',
	anzeigefeldOben: '-25',
	signalName: 'Station_38.Register.AI048_temp_141b1'}">
	}">
            </div>

            <div style="position:absolute; left: 1635px; top: 87px;" id="TP2" title="197B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '80',
	winkel: '180',
	sensortyp: 'P',
	handLinks: '12',
	handOben: '2',
   	einheit: 'kPa',
	anzeigefeldLinks: '-20',
	anzeigefeldOben: '47',
	signalName: 'Station_38.Register.rcv_diffdruck_heizung_hotel'}">
	}">
            </div>

            <!-- Text -->
            <p style="position: absolute; left: 516px; top: 557px;" class="bs-beschriftung-small-verteilung">Gaszähler</p>

            <!--  -->
           
            <!-- Workaround um den Bug in der Benutzeranmeldung zu korrigieren -->
            <wf-button style="visibility: hidden;" params="signalName: 'Setpoint 1', writeValue: 1, buttonText: 'Write Value :1', cssClass: 'btn-success', projectAuthorization: 'irgendeinWert'"></wf-button>
        </div>
    </div>
</div>
