﻿<!--****************************************************************************************************************************************************************************************************************************************************
    Bühler+Scherler
--------------------------------------------------------------------------------------------------------------------------


--------------------------------------------------------------------------------------------------------------------------
ERSTELLT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0		R.Brunnschweiler	BS                  10.07.2017
--------------------------------------------------------------------------------------------------------------------------
GEÄNDERT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0       F.Sabljo            BS                  15.02.2018



********************************************************************************************************************************************************************************************************************************************************-->
<div class="container bs_content_container">
    <header>
        <h1 class="page-header bs-header-mittig">H05/06 BWW-/FBH-Wohnungen 6./7.OG B6.SH03</h1>
        <!--BUILDING CONTROL-->
    </header>
    <div class="col-lg-12">
        <div class="bs-responsive bs-business-heizung-H0506BWWFBHWohnungen hidden-xs">
            <!--Seiten-Verlinkungen (Pfeile auf der Seite)-->
            <!-- Widgets -->
            <!-- Sollwert -->
            <div style="position:absolute; left: 763.5px; top: 76px;" id="S1" title="Sollwert Temperaturfühler 211B1" data-bind="bsAusgabefeld: {
              signalName:'Station_47.Register.sw_n_hk_216y1',
              typ: 'berechnetersollwert',
              einheit: '°C'
            }">
            </div>

            <div style="position:absolute; left: 883.5px; top: 434px;" id="S2" title="Sollwert Temperaturfühler 311B1" data-bind="bsAusgabefeld: {
              signalName:'Station_47.Register.sw_311b1',
              typ: 'berechnetersollwert',
              einheit: '°C'
            }">
            </div>

            <div style="position:absolute; left: 1295.5px; top: 373px;" id="S3" title="Sollwert Warmwasserspeicher" data-bind="bsAusgabefeld: {
              signalName:'Station_47.Register.sw_311b1',
              typ: 'berechnetersollwert',
              einheit: '°C'
            }">
            </div>

            <div style="position:absolute; left: 234px; top:55px;" id="S3" title="Aussentemperatur 113B1" data-bind="bsAusgabefeld: {
              signalName:'Station_47.Register.AI117_113B1',
              typ: 'istwert',
              einheit: '°C'
            }">
            </div>
            <div style="position:absolute; left: 234px; top: 90px;" id="S3" title="Mittelwert Aussentemperatur" data-bind="bsAusgabefeld: {
              signalName:'Station_47.Register.averh_113b1',
              typ: 'istwert',
              einheit: '°C'
            }">
            </div>
            <!--Anlagenschalter, Sollwertfenster, Zeitschaltuhren, etc...-->
            <div style="position:absolute; left:1685px; top:635px" id="KLI02" title="H06 BWW- Ladung" data-bind="bsAnlageschalter_lfc: {
	dialogTitle: 'H06 BWW- Ladung ',
	signalName: 'Station_47',
    stromPfad: 'bww'
	}">
            </div>

            <div style="position:absolute; left:1730px; top:635px" id="KLI02_I110sollwertfenster" title="Sollwerte BWW / FBH Wohnungen" data-bind="bsSollwertFenster: {
	dialogTitle: 'Sollwerte BWW / FBH Wohnungen',
	authorisierung: 'Administration',
	signals: [
		{ label: 'Einschaltpunkt Ladung [°C]', signalname: 'Station_47.Register.sw_einschalttemp_bww', untergrenze: '', obergrenze: '' },
		{ label: 'Ausschaltpunkt Ladung [°C]', signalname: 'Station_47.Register.sw_ausschalttemp_bww', untergrenze: '', obergrenze: '' },
		{ label: 'BWW Ladetemp [°C]', signalname: 'Station_47.Register.sw_temp_bww', untergrenze: '', obergrenze: '' },
		{ label: 'Legionellen Ladetemp [°C]', signalname: 'Station_47.Register.sw_temp_legionellen', untergrenze: '', obergrenze: '' }
		]}">
            </div>

            <div style="position:absolute; left:1775px; top:635px" id="KLI02_I201schaltuhr" title="Schaltuhr H06 Brauchwarmwasserpumpe Wohnungen" data-bind="bsSchaltuhr_lfc: {
	signalName: 'Station_47',
    uhr: 'su_bww_zirkulation',
	dialogTitle: 'Schaltuhr H06 Brauchwarmwasserpumpe Wohnungen' }">
            </div>

            <div style="position:absolute; left:1306px; top:635px" id="KLI02_I201schaltuhr" title="Schaltuhr H06 Legionellenschaltung" data-bind="bsSchaltuhr_lfc: {
	signalName: 'Station_47',
    uhr: 'su_legionellen',
	dialogTitle: 'Schaltuhr H06 Legionellenschaltung' }">
            </div>

            <div style="position:absolute; left:618px; top:635px" id="KLI02_I201schaltuhr" title="Schaltuhr H05 Fussbodenheizung Wohnungen" data-bind="bsSchaltuhr_lfc: {
	signalName: 'Station_47',
    uhr: 'su_fbh',
	dialogTitle: 'Schaltuhr H05 Fussbodenheizung Wohnungen' }">
            </div>

            <div style="position:absolute; left:664px; top:635px" title="Heizkurve 216Y1" data-bind="bsSollwertFenster: {
	dialogTitle: 'Heizkurve 216Y1',
	authorisierung: 'Administration',
	signals: [
		{ label: 'Punkt To 1', signalname: 'Station_47.Register.hk_216y1_02', untergrenze: '', obergrenze: '' },
		{ label: 'Punkt W1 Tag', signalname: 'Station_47.Register.hk_216y1_03', untergrenze: '', obergrenze: '' },
		{ label: 'Punkt W1 Nacht', signalname: 'Station_47.Register.hk_216y1_04', untergrenze: '', obergrenze: '' },
		{ label: 'Punkt To 2', signalname: 'Station_47.Register.hk_216y1_05', untergrenze: '', obergrenze: '' },
        { label: 'Punkt W2 Tag', signalname: 'Station_47.Register.hk_216y1_06', untergrenze: '', obergrenze: '' },
        { label: 'Punkt W2 Nacht', signalname: 'Station_47.Register.hk_216y1_07', untergrenze: '', obergrenze: '' },
        { label: 'Punkt To 3', signalname: 'Station_47.Register.hk_216y1_08', untergrenze: '', obergrenze: '' },
        { label: 'Punkt W3 Tag', signalname: 'Station_47.Register.hk_216y1_09', untergrenze: '', obergrenze: '' },
        { label: 'Punkt W3 Nacht', signalname: 'Station_47.Register.hk_216y1_10', untergrenze: '', obergrenze: '' },
        { label: 'Punkt To 4', signalname: 'Station_47.Register.hk_216y1_11', untergrenze: '', obergrenze: '' },
        { label: 'Punkt W4 Tag', signalname: 'Station_47.Register.hk_216y1_12', untergrenze: '', obergrenze: '' },
        { label: 'Punkt W4 Nacht', signalname: 'Station_47.Register.hk_216y1_13', untergrenze: '', obergrenze: '' },
        { label: 'Minimum W', signalname: 'Station_47.Register.hk_216y1_14', untergrenze: '', obergrenze: '' },
        { label: 'Maximum W', signalname: 'Station_47.Register.hk_216y1_15', untergrenze: '', obergrenze: '' },
		]}">
            </div>

            <!--LE-->
            <div style="position:absolute; left: 1542px; top: 114px;" id="V1" title="334M1" data-bind="bsMotorStufen_lfc: {
    dialogTitle: 'Pumpe 334M1',
    signalName: 'Station_47',
    stromPfad: '334m1',
	motorAusrichtung: 'oben',
	motortyp: 'pumpe',
	handLinks: '20',
	handOben: '10',
	stufe: '0',
	}">
            </div>

            <div style="position:absolute; left: 898px; top: 563px;" id="V2" title="314M1" data-bind="bsMotorStufen_lfc: {
    dialogTitle: 'Pumpe 314M1',
    signalName: 'Station_47',
    stromPfad: '314m1',
	motorAusrichtung: 'links',
	motortyp: 'pumpe',
	handLinks: '20',
	handOben: '10',
	stufe: '0',
	}">
            </div>

            <div style="position:absolute; left: 680px; top: 231px;" id="V3" title="214M1" data-bind="bsMotorStufen_lfc: {
    dialogTitle: 'Pumpe 214M1',
    signalName: 'Station_47',
    stromPfad: '214m1',
	motorAusrichtung: 'oben',
	motortyp: 'pumpe',
	handLinks: '20',
	handOben: '10',
	stufe: '0',
	}">
            </div>

            <!--Ventil-->
            <div style="position:absolute; left: 961.5px; top: 561px;" id="VT1" title="316Y1" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil3',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-10',
	anzeigefeldOben: '40',
	winkel: '270',
	signalName: 'Station_47.Register.AO097_316y1'}">
            </div>

            <div style="position:absolute; left: 712.5px; top: 561px;" id="VT2" title="306Y1" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-10',
	anzeigefeldOben: '40',
	winkel: '270',
	signalName: 'Station_47.Register.AO098_306y1'}">
            </div>

            <div style="position:absolute; left: 605px; top: 329px;" id="VT3" title="216Y1" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-64',
	anzeigefeldOben: '10',
	winkel: '0',
	signalName: 'Station_47.Register.AO096_216y1'}">
            </div>

            <!--TPHSensor-->
            <div style="position:absolute; left: 724px; top: 100px;" id="TP1" title="211B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '90',
	sensortyp: 'T',
	signalName: 'Station_47.Register.AI112_temp_211b1',
	handLinks: '12',
	handOben: '2',
   	einheit: '°C',
	anzeigefeldLinks: '40',
	anzeigefeldOben: '0',
	}">
            </div>
            
            <div style="position:absolute; left: 724px; top: 135px;" id="TP2" title="213S1" data-bind="bsDigitaleUeberwachung_lfc: {
     stiellaenge: '35',
     winkel: '90',
     sensortyp: 'üT',
     signalName: 'Station_47.Flag.al_213s1',
     einheit: 'ohne',
     }">
            </div>

            <div style="position:absolute; left: 904px; top: 483px;" id="TP3" title="311B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '0',
	sensortyp: 'T',
	signalName: 'Station_47.Register.AI113_temp_311b1',
	handLinks: '12',
	handOben: '2',
   	einheit: '°C',
	anzeigefeldLinks: '-20',
	anzeigefeldOben: '-25',
	}">
            </div>

            <div style="position:absolute; left: 1431px; top: 273px;" id="TP4" title="323B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '90',
	sensortyp: 'T',
	signalName: 'Station_47.Register.AI116_temp_323b1',
	handLinks: '12',
	handOben: '2',
   	einheit: '°C',
	anzeigefeldLinks: '26',
	anzeigefeldOben: '0',
	}">
            </div>

            <div style="position:absolute; left: 1431px; top: 475px;" id="TP5" title="321B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '90',
	sensortyp: 'T',
	signalName: 'Station_47.Register.AI114_temp_321b1',
	handLinks: '12',
	handOben: '2',
   	einheit: '°C',
	anzeigefeldLinks: '26',
	anzeigefeldOben: '0',
	}">
            </div>

            <!-- Text -->
            <p style="position: absolute; left: 606px; top: -9px;" class="bs-beschriftung-small-verteilung">H05<br>FBH Wohnungen</p>
            <p style="position: absolute; left: 1532px; top: -9px;" class="bs-beschriftung-small-verteilung">H06<br>BWW Wohnungen</p>
            <p style="position: absolute; left: 30px; top: 55px;" class="bs-beschriftung-small-verteilung">Aussentemperatur:</p>
            <p style="position: absolute; left: 30px; top: 90px;" class="bs-beschriftung-small-verteilung">Aussentemperatur Mittelwert:</p>
            <!--  -->
           
            <!-- Workaround um den Bug in der Benutzeranmeldung zu korrigieren -->
            <wf-button style="visibility: hidden;" params="signalName: 'Setpoint 1', writeValue: 1, buttonText: 'Write Value :1', cssClass: 'btn-success', projectAuthorization: 'irgendeinWert'"></wf-button>
        </div>
    </div>
</div>
