﻿<!--****************************************************************************************************************************************************************************************************************************************************
    Bühler+Scherler
--------------------------------------------------------------------------------------------------------------------------


--------------------------------------------------------------------------------------------------------------------------
ERSTELLT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0		R.Brunnschweiler	BS                  10.07.2017
--------------------------------------------------------------------------------------------------------------------------
GEÄNDERT:
VERSION:	AUTOR:				FIRMA:				DATUM:
1.0.0       F.Sabljo            BS                  15.02.2018


********************************************************************************************************************************************************************************************************************************************************-->
<div class="container bs_content_container">
    <header>
        <h1 class="page-header bs-header-mittig">H02/03/04 Heizverteiler</h1>
        <!--BUILDING CONTROL-->
    </header>
    <div class="col-lg-12">
        <div class="bs-responsive bs-business-heizung-H020304HeizverteilerBusiness hidden-xs">
            <!--Seiten-Verlinkungen (Pfeile auf der Seite)-->
            <!-- Widgets -->
            <!-- Sollwert -->
            <div style="position:absolute; left: 530.5px; top: 99px;" id="S1" title="Sollwert Temperaturfühler 111B1" data-bind="bsAusgabefeld: {
              signalName:'Station_37.Register.sw_n_hk_116y1',
              typ: 'berechnetersollwert',
              einheit: '°C'
            }">
            </div>

            <div style="position:absolute; left: 761.5px; top: 99px;" id="S2" title="Sollwert Temperaturfühler 211B1" data-bind="bsAusgabefeld: {
              signalName:'Station_37.Register.sw_n_hk_216y1',
              typ: 'berechnetersollwert',
              einheit: '°C'
            }">
            </div>

            <div style="position:absolute; left: 995.5px; top: 99px;" id="S3" title="Sollwert Temperaturfühler 311B1" data-bind="bsAusgabefeld: {
              signalName:'Station_37.Register.sw_n_hk_316y1',
              typ: 'berechnetersollwert',
              einheit: '°C'
            }">
            </div>

            <div style="position:absolute; left: 1691.5px; top: 99px;" id="S4" title="Sollwert Temperaturfühler 331B1" data-bind="bsAusgabefeld: {
              signalName:'Station_37.Register.sw_n_hk_336y1',
              typ: 'berechnetersollwert',
              einheit: '°C'
            }">
            </div>

            <!--Anlagenschalter, Sollwertfenster, Zeitschaltuhren, etc...-->
            <div style="position:absolute; left:1685px; top:635px" id="KLI02" title="Heizgruppen Business" data-bind="bsAnlageschalter_lfc: {
	dialogTitle: 'Heizgruppen Business ',
	signalName: 'Station_37',
    stromPfad: 'hg_business'
	}">
            </div>

            <div style="position:absolute; left:1775px; top:635px" id="KLI02_I110sollwertfenster" title="Sollwerte Heizverteiler" data-bind="bsSollwertFenster: {
	dialogTitle: 'Sollwerte Heizverteiler',
	authorisierung: 'Administration',
	signals: [
		{ label: 'Sommerbetrieb ø12h [°C]', signalname: 'Station_37.Register.sw_sommer', untergrenze: '', obergrenze: '' },
		{ label: 'HG Aussentemp ø12h EIN [°C]', signalname: 'Station_37.Register.sw_aussentemp_hg_buisness_ein', untergrenze: '', obergrenze: '' },
		{ label: 'HG Aussentemp ø12h AUS [°C]', signalname: 'Station_37.Register.sw_aussentemp_hg_buisness_aus', untergrenze: '', obergrenze: '' }
		]}">
            </div>

            <div style="position:absolute; left:1730px; top:635px" id="KLI02_I201schaltuhr" title="Schaltuhr Nachtabsenkung H02/03/04" data-bind="bsSchaltuhr_lfc: {
	signalName: 'Station_37',
    uhr: 'su_nachtabsenkung',
	dialogTitle: 'Schaltuhr Nachtabsenkung H02/03/04' }">
            </div>

            <div style="position:absolute; left:1458px; top:635px" id="KLI02_I110sollwertfenster" title="Heizkurve 336Y1" data-bind="bsSollwertFenster: {
	dialogTitle: 'Heizkurve 336Y1',
	authorisierung: 'Administration',
	signals: [
		{ label: 'Punkt To 1', signalname: 'Station_37.Register.hk_336y1_02', untergrenze: '', obergrenze: '' },
		{ label: 'Punkt W1 Tag', signalname: 'Station_37.Register.hk_336y1_03', untergrenze: '', obergrenze: '' },
		{ label: 'Punkt W1 Nacht', signalname: 'Station_37.Register.hk_336y1_04', untergrenze: '', obergrenze: '' },
		{ label: 'Punkt To 2', signalname: 'Station_37.Register.hk_336y1_05', untergrenze: '', obergrenze: '' },
        { label: 'Punkt W2 Tag', signalname: 'Station_37.Register.hk_336y1_06', untergrenze: '', obergrenze: '' },
        { label: 'Punkt W2 Nacht', signalname: 'Station_37.Register.hk_336y1_07', untergrenze: '', obergrenze: '' },
        { label: 'Punkt To 3', signalname: 'Station_37.Register.hk_336y1_08', untergrenze: '', obergrenze: '' },
        { label: 'Punkt W3 Tag', signalname: 'Station_37.Register.hk_336y1_09', untergrenze: '', obergrenze: '' },
        { label: 'Punkt W3 Nacht', signalname: 'Station_37.Register.hk_336y1_10', untergrenze: '', obergrenze: '' },
        { label: 'Punkt To 4', signalname: 'Station_37.Register.hk_336y1_11', untergrenze: '', obergrenze: '' },
        { label: 'Punkt W4 Tag', signalname: 'Station_37.Register.hk_336y1_12', untergrenze: '', obergrenze: '' },
        { label: 'Punkt W4 Nacht', signalname: 'Station_37.Register.hk_336y1_13', untergrenze: '', obergrenze: '' },
        { label: 'Minimum W', signalname: 'Station_37.Register.hk_336y1_14', untergrenze: '', obergrenze: '' },
        { label: 'Maximum W', signalname: 'Station_37.Register.hk_336y1_15', untergrenze: '', obergrenze: '' },
		]}">
            </div>

            <div style="position:absolute; left:875px; top:635px" id="KLI02_I110sollwertfenster" title="Heizkurve 316Y1" data-bind="bsSollwertFenster: {
	dialogTitle: 'Heizkurve 316Y1',
	authorisierung: 'Administration',
	signals: [
		{ label: 'Punkt To 1', signalname: 'Station_37.Register.hk_316y1_02', untergrenze: '', obergrenze: '' },
		{ label: 'Punkt W1 Tag', signalname: 'Station_37.Register.hk_316y1_03', untergrenze: '', obergrenze: '' },
		{ label: 'Punkt W1 Nacht', signalname: 'Station_37.Register.hk_316y1_04', untergrenze: '', obergrenze: '' },
		{ label: 'Punkt To 2', signalname: 'Station_37.Register.hk_316y1_05', untergrenze: '', obergrenze: '' },
        { label: 'Punkt W2 Tag', signalname: 'Station_37.Register.hk_316y1_06', untergrenze: '', obergrenze: '' },
        { label: 'Punkt W2 Nacht', signalname: 'Station_37.Register.hk_316y1_07', untergrenze: '', obergrenze: '' },
        { label: 'Punkt To 3', signalname: 'Station_37.Register.hk_316y1_08', untergrenze: '', obergrenze: '' },
        { label: 'Punkt W3 Tag', signalname: 'Station_37.Register.hk_316y1_09', untergrenze: '', obergrenze: '' },
        { label: 'Punkt W3 Nacht', signalname: 'Station_37.Register.hk_316y1_10', untergrenze: '', obergrenze: '' },
        { label: 'Punkt To 4', signalname: 'Station_37.Register.hk_316y1_11', untergrenze: '', obergrenze: '' },
        { label: 'Punkt W4 Tag', signalname: 'Station_37.Register.hk_316y1_12', untergrenze: '', obergrenze: '' },
        { label: 'Punkt W4 Nacht', signalname: 'Station_37.Register.hk_316y1_13', untergrenze: '', obergrenze: '' },
        { label: 'Minimum W', signalname: 'Station_37.Register.hk_316y1_14', untergrenze: '', obergrenze: '' },
        { label: 'Maximum W', signalname: 'Station_37.Register.hk_316y1_15', untergrenze: '', obergrenze: '' },
		]}">
            </div>

            <div style="position:absolute; left:642px; top:635px" id="KLI02_I110sollwertfenster" title="Heizkurve 216Y1" data-bind="bsSollwertFenster: {
	dialogTitle: 'Heizkurve 216Y1',
	authorisierung: 'Administration',
	signals: [
		{ label: 'Punkt To 1', signalname: 'Station_37.Register.hk_216y1_02', untergrenze: '', obergrenze: '' },
		{ label: 'Punkt W1 Tag', signalname: 'Station_37.Register.hk_216y1_03', untergrenze: '', obergrenze: '' },
		{ label: 'Punkt W1 Nacht', signalname: 'Station_37.Register.hk_216y1_04', untergrenze: '', obergrenze: '' },
		{ label: 'Punkt To 2', signalname: 'Station_37.Register.hk_216y1_05', untergrenze: '', obergrenze: '' },
        { label: 'Punkt W2 Tag', signalname: 'Station_37.Register.hk_216y1_06', untergrenze: '', obergrenze: '' },
        { label: 'Punkt W2 Nacht', signalname: 'Station_37.Register.hk_216y1_07', untergrenze: '', obergrenze: '' },
        { label: 'Punkt To 3', signalname: 'Station_37.Register.hk_216y1_08', untergrenze: '', obergrenze: '' },
        { label: 'Punkt W3 Tag', signalname: 'Station_37.Register.hk_216y1_09', untergrenze: '', obergrenze: '' },
        { label: 'Punkt W3 Nacht', signalname: 'Station_37.Register.hk_216y1_10', untergrenze: '', obergrenze: '' },
        { label: 'Punkt To 4', signalname: 'Station_37.Register.hk_216y1_11', untergrenze: '', obergrenze: '' },
        { label: 'Punkt W4 Tag', signalname: 'Station_37.Register.hk_216y1_12', untergrenze: '', obergrenze: '' },
        { label: 'Punkt W4 Nacht', signalname: 'Station_37.Register.hk_216y1_13', untergrenze: '', obergrenze: '' },
        { label: 'Minimum W', signalname: 'Station_37.Register.hk_216y1_14', untergrenze: '', obergrenze: '' },
        { label: 'Maximum W', signalname: 'Station_37.Register.hk_216y1_15', untergrenze: '', obergrenze: '' },
		]}">
            </div>

            <div style="position:absolute; left:411px; top:635px" id="KLI02_I110sollwertfenster" title="Heizkurve 116Y1" data-bind="bsSollwertFenster: {
	dialogTitle: 'Heizkurve 116Y1',
	authorisierung: 'Administration',
	signals: [
		{ label: 'Punkt To 1', signalname: 'Station_37.Register.hk_116y1_02', untergrenze: '', obergrenze: '' },
		{ label: 'Punkt W1 Tag', signalname: 'Station_37.Register.hk_116y1_03', untergrenze: '', obergrenze: '' },
		{ label: 'Punkt W1 Nacht', signalname: 'Station_37.Register.hk_116y1_04', untergrenze: '', obergrenze: '' },
		{ label: 'Punkt To 2', signalname: 'Station_37.Register.hk_116y1_05', untergrenze: '', obergrenze: '' },
        { label: 'Punkt W2 Tag', signalname: 'Station_37.Register.hk_116y1_06', untergrenze: '', obergrenze: '' },
        { label: 'Punkt W2 Nacht', signalname: 'Station_37.Register.hk_116y1_07', untergrenze: '', obergrenze: '' },
        { label: 'Punkt To 3', signalname: 'Station_37.Register.hk_116y1_08', untergrenze: '', obergrenze: '' },
        { label: 'Punkt W3 Tag', signalname: 'Station_37.Register.hk_116y1_09', untergrenze: '', obergrenze: '' },
        { label: 'Punkt W3 Nacht', signalname: 'Station_37.Register.hk_116y1_10', untergrenze: '', obergrenze: '' },
        { label: 'Punkt To 4', signalname: 'Station_37.Register.hk_116y1_11', untergrenze: '', obergrenze: '' },
        { label: 'Punkt W4 Tag', signalname: 'Station_37.Register.hk_116y1_12', untergrenze: '', obergrenze: '' },
        { label: 'Punkt W4 Nacht', signalname: 'Station_37.Register.hk_116y1_13', untergrenze: '', obergrenze: '' },
        { label: 'Minimum W', signalname: 'Station_37.Register.hk_116y1_14', untergrenze: '', obergrenze: '' },
        { label: 'Maximum W', signalname: 'Station_37.Register.hk_116y1_15', untergrenze: '', obergrenze: '' },
		]}">
            </div>

            <!--LE-->
            <div style="position:absolute; left: 448px; top: 250px;" id="V1" title="114M1" data-bind="bsMotorStufen_lfc: {
    dialogTitle: 'Pumpe 114M1',
    signalName: 'Station_37',
    stromPfad: '114m1',
	motorAusrichtung: 'oben',
	motortyp: 'pumpe',
	handLinks: '20',
	handOben: '10',
	stufe: '0',
	}">
            </div>

            <div style="position:absolute; left: 679.5px; top: 250px;" id="V2" title="214M1" data-bind="bsMotorStufen_lfc: {
    dialogTitle: 'Pumpe 214M1',
    signalName: 'Station_37',
    stromPfad: '214m1',
	motorAusrichtung: 'oben',
	motortyp: 'pumpe',
	handLinks: '20',
	handOben: '10',
	stufe: '0',
	}">
            </div>

            <div style="position:absolute; left: 911.5px; top: 250px;" id="V3" title="314M1" data-bind="bsMotorStufen_lfc: {
    dialogTitle: 'Pumpe 314M1',
    signalName: 'Station_37',
    stromPfad: '314m1',
	motorAusrichtung: 'oben',
	motortyp: 'pumpe',
	handLinks: '20',
	handOben: '10',
	stufe: '0',
	}">
            </div>

            <div style="position:absolute; left: 1608.5px; top: 250px;" id="V4" title="334M1" data-bind="bsMotorStufen_lfc: {
    dialogTitle: 'Pumpe 334M1',
    signalName: 'Station_37',
    stromPfad: '334m1',
	motorAusrichtung: 'oben',
	motortyp: 'pumpe',
	handLinks: '20',
	handOben: '10',
	stufe: '0',
	}">
            </div>

            <!--Ventil-->
            <div style="position:absolute; left: 373px; top: 355px;" id="VT1" title="116Y1" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-70',
	anzeigefeldOben: '10',
	winkel: '0',
	signalName: 'Station_37.Register.AO144_116y1_stellsig'}">
            </div>

            <div style="position:absolute; left: 606px; top: 355px;" id="VT2" title="216Y1" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	dialogtitle: 'KLI02_Y250 (O127_GA01_S001:143Y2) Ventil LE',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-70',
	anzeigefeldOben: '10',
	winkel: '0',
	signalName: 'Station_37.Register.AO145_216y1_stellsig'}">
            </div>

            <div style="position:absolute; left: 838px; top: 355px;" id="VT3" title="316Y1" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-70',
	anzeigefeldOben: '10',
	winkel: '0',
	signalName: 'Station_37.Register.AO146_316y1_stellsig'}">
            </div>

            <div style="position:absolute; left: 1535px; top: 355px;" id="VT4" title="336Y1" data-bind="bsVentil_lfc:{
	symbol:'bs bs-ventil',
	handLinks: '-10',
	handOben: '10',
	einheit: '%',
	anzeigefeldLinks: '-70',
	anzeigefeldOben: '10',
	winkel: '0',
	signalName: 'Station_37.Register.AO162_336y1_stellsig'}">
            </div>

            <!--TPHSensor-->
            <div style="position:absolute; left: 491px; top: 123px;" id="TP1" title="111B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '90',
	sensortyp: 'T',
	signalName: 'Station_37.Register.AI128_temp_111b1',
	handLinks: '12',
	handOben: '2',
   	einheit: '°C',
	anzeigefeldLinks: '40',
	anzeigefeldOben: '0',
	}">
            </div>

            <div style="position:absolute; left: 722px; top: 123px;" id="TP2" title="211B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '90',
	sensortyp: 'T',
	signalName: 'Station_37.Register.AI129_temp_211b1',
	handLinks: '12',
	handOben: '2',
   	einheit: '°C',
	anzeigefeldLinks: '40',
	anzeigefeldOben: '0',
	}">
            </div>

            <div style="position:absolute; left: 956px; top: 123px;" id="TP3" title="311B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '90',
	sensortyp: 'T',
	signalName: 'Station_37.Register.AI130_temp_311b1',
	handLinks: '12',
	handOben: '2',
   	einheit: '°C',
	anzeigefeldLinks: '40',
	anzeigefeldOben: '0',
	}">
            </div>
            
            <div style="position:absolute; left: 1652px; top: 123px;" id="TP4" title="331B1" data-bind="bsTPHSensor_lfc: {
	stiellaenge: '35',
	winkel: '90',
	sensortyp: 'T',
	signalName: 'Station_37.Register.AI134_temp_331b1',
	handLinks: '12',
	handOben: '2',
   	einheit: '°C',
	anzeigefeldLinks: '40',
	anzeigefeldOben: '0',
	}">
            </div>

            <!-- Text -->
            <p style="position: absolute; left: 382px; top: 580px;" class="bs-beschriftung-small-verteilung">H02<br>Gruppe Läden</p>
            <p style="position: absolute; left: 618px; top: 580px;" class="bs-beschriftung-small-verteilung">H03 Gruppe<br>Schule/Büro</p>
            <p style="position: absolute; left: 849px; top: 580px;" class="bs-beschriftung-small-verteilung">H04 Gruppe<br>Radiatoren Business</p>
            <p style="position: absolute; left: 1402px; top: 580px;" class="bs-beschriftung-small-verteilung">H05 Gruppe<br>Hotelzimmer 2./5. OG</p>

            <!--  -->
           
            <!-- Workaround um den Bug in der Benutzeranmeldung zu korrigieren -->
            <wf-button style="visibility: hidden;" params="signalName: 'Setpoint 1', writeValue: 1, buttonText: 'Write Value :1', cssClass: 'btn-success', projectAuthorization: 'irgendeinWert'"></wf-button>
        </div>
    </div>
</div>
