﻿<div data-bind="if:hasAuthorization">
    <table class="table table-striped">
        <tbody data-bind="foreach: valuesArray">
        <tr>
            <td data-bind="text: $parent.labelTexts()[$index()].label"></td>
            <td data-bind="text: $data" class="text-bold"></td>
            <td data-bind="text: $parent.labelTexts()[$index()].unit"></td>
        </tr>
        </tbody>


    </table>
</div>