<!-- Zustandsanzeige -->
<div>
    <span class="bs_widget_beschriftungen bs-zustandsanzeige-1" data-bind="css: hintergrundfarbe"><i class="fa fa-circle" data-bind="css: zustandsfarbe"></i> <span class="bs-zustandsanzeige-text" data-bind="text: zustandstext"></span></span>
</div>
